{
  "openapi": "3.0.1",
  "info": {
    "title": "HubSpot",
    "description": "CRM objects such as companies, contacts, deals, line items, products, tickets, and quotes are standard objects in HubSpot\u2019s CRM. These core building blocks support custom properties, store critical information, and play a central role in the HubSpot application.\n\n## Supported Object Types\n\nThis API provides access to collections of CRM objects, which return a map of property names to values. Each object type has its own set of default properties, which can be found by exploring the [CRM Object Properties API](https://developers.hubspot.com/docs/methods/crm-properties/crm-properties-overview).\n\n|Object Type |Properties returned by default |\n|--|--|\n| `companies` | `name`, `domain` |\n| `contacts` | `firstname`, `lastname`, `email` |\n| `deals` | `dealname`, `amount`, `closedate`, `pipeline`, `dealstage` |\n| `products` | `name`, `description`, `price` |\n| `tickets` | `content`, `hs_pipeline`, `hs_pipeline_stage`, `hs_ticket_category`, `hs_ticket_priority`, `subject` |\n\nFind a list of all properties for an object type using the [CRM Object Properties](https://developers.hubspot.com/docs/methods/crm-properties/get-properties) API. e.g. `GET https://api.hubapi.com/properties/v2/companies/properties`. Change the properties returned in the response using the `properties` array in the request body.\n\n## Authentication\n\nHubSpot uses private app authentication. Create a private app at https://app.hubspot.com/private-apps, copy the access token (starts with pat-), and export HUBSPOT_TOKEN. All requests send Authorization: Bearer $HUBSPOT_TOKEN.",
    "version": "v3",
    "x-hubspot-product-tier-requirements": {
      "marketing": "FREE",
      "sales": "FREE",
      "service": "FREE",
      "cms": "FREE",
      "commerce": "FREE",
      "crmHub": "FREE",
      "dataHub": "FREE"
    },
    "x-hubspot-api-use-case": "Retrieve a contact by ID to bring that contact data into your external system.",
    "x-hubspot-related-documentation": [
      {
        "name": "Contacts Guide",
        "url": "https://developers.hubspot.com/docs/guides/api/crm/objects/contacts"
      }
    ],
    "x-hubspot-introduction": "Use the contacts API to create and manage contacts.",
    "x-display-name": "HubSpot"
  },
  "servers": [
    {
      "url": "https://api.hubapi.com"
    }
  ],
  "tags": [
    {
      "name": "Advanced"
    },
    {
      "name": "Basic"
    },
    {
      "name": "Batch"
    },
    {
      "name": "Search"
    }
  ],
  "paths": {
    "/crm/v3/objects/contacts": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve contacts",
        "description": "Retrieve all contacts, using query parameters to specify the information that gets returned.",
        "operationId": "get-/crm/v3/objects/contacts_getPage",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": null,
              "default": 10
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Basic"
        ],
        "summary": "Create a contact",
        "description": "Create a single contact. Include a `properties` object to define [property values](https://developers.hubspot.com/docs/guides/api/crm/properties) for the contact, along with an `associations` array to define [associations](https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4) with other CRM records.",
        "operationId": "post-/crm/v3/objects/contacts_create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/batch/archive": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Archive a batch of contacts",
        "description": "Archive a batch of contacts by ID. Archived contacts can be restored within 90 days of deletion. Learn more about the [data impacted by contact deletions](https://knowledge.hubspot.com/privacy-and-consent/understand-restorable-and-permanent-contact-deletions) and how to [restore archived records](https://knowledge.hubspot.com/records/restore-deleted-records).",
        "operationId": "post-/crm/v3/objects/contacts/batch/archive_archive",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/batch/create": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Create a batch of contacts",
        "description": "Create a batch of contacts. The `inputs` array can contain a `properties` object to define property values for each record, along with an `associations` array to define [associations](https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4) with other CRM records.",
        "operationId": "post-/crm/v3/objects/contacts/batch/create_create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputForCreate"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/batch/read": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Retrieve a batch of contacts",
        "description": "Retrieve a batch of contacts by ID (`contactId`) or unique property value (`idProperty`). ",
        "operationId": "post-/crm/v3/objects/contacts/batch/read_read",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/batch/update": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Update a batch of contacts",
        "description": "Update a batch of contacts by ID (`contactId`) or unique property value (`idProperty`). Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
        "operationId": "post-/crm/v3/objects/contacts/batch/update_update",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/batch/upsert": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Create or update a batch of contacts",
        "description": "Upsert a batch of contacts. The `inputs` array can contain a `properties` object to define property values for each record.",
        "operationId": "post-/crm/v3/objects/contacts/batch/upsert_upsert",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/gdpr-delete": {
      "post": {
        "tags": [
          "Advanced"
        ],
        "summary": "Permanently delete a contact (GDPR-compliant)",
        "description": "Permanently delete a contact and all associated content to follow GDPR. Use optional property `idProperty` set to `email` to identify contact by email address. If email address is not found, the email address will be added to a blocklist and prevent it from being used in the future. Learn more about [permanently deleting contacts](https://knowledge.hubspot.com/privacy-and-consent/how-do-i-perform-a-gdpr-delete-in-hubspot).",
        "operationId": "post-/crm/v3/objects/contacts/gdpr-delete_purge",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicGdprDeleteInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/merge": {
      "post": {
        "tags": [
          "Advanced"
        ],
        "summary": "Merge two contacts",
        "description": "Merge two contact records. Learn more about [merging records](https://knowledge.hubspot.com/records/merge-records). ",
        "operationId": "post-/crm/v3/objects/contacts/merge_merge",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicMergeInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v3/objects/contacts/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search for contacts",
        "description": "Search for contacts by filtering on properties, searching through associations, and sorting results. Learn more about [CRM search](https://developers.hubspot.com/docs/guides/api/crm/search#make-a-search-request).",
        "operationId": "post-/crm/v3/objects/contacts/search_doSearch",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicObjectSearchRequest"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v3/objects/contacts/{contactId}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve a contact",
        "description": "Retrieve a contact by its ID (`contactId`) or by a unique property (`idProperty`). You can specify what is returned using the `properties` query parameter.",
        "operationId": "get-/crm/v3/objects/contacts/{contactId}_getById",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "idProperty",
            "in": "query",
            "description": "The name of a property whose values are unique for this object type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Basic"
        ],
        "summary": "Archive a contact",
        "description": "Delete a contact by ID. Deleted contacts can be restored within 90 days of deletion. Learn more about the [data impacted by contact deletions](https://knowledge.hubspot.com/privacy-and-consent/understand-restorable-and-permanent-contact-deletions) and how to [restore archived records](https://knowledge.hubspot.com/records/restore-deleted-records).",
        "operationId": "delete-/crm/v3/objects/contacts/{contactId}_archive",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Basic"
        ],
        "summary": "Update a contact",
        "description": "Update an existing contact, identified by ID or email/unique property value. To identify a contact by ID, include the ID in the request URL path. To identify a contact by their email or other unique property, include the email/property value in the request URL path, and add the `idProperty` query parameter (`/crm/v3/objects/contacts/jon@website.com?idProperty=email`). Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
        "operationId": "patch-/crm/v3/objects/contacts/{contactId}_update",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          },
          {
            "name": "idProperty",
            "in": "query",
            "description": "The name of a property whose values are unique for this object type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePublicObjectInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          }
        ]
      }
    },
    "/crm/v4/associations/usage/high-usage-report/{userId}": {
      "post": {
        "tags": [
          "Report"
        ],
        "summary": "Report high usage",
        "description": "Requests a report of all objects in the portal which have a high usage of associations",
        "operationId": "post-/crm/v4/associations/usage/high-usage-report/{userId}_request",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportCreationResponse"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/archive": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Remove associations",
        "description": "Batch delete associations for objects",
        "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/archive_archive",
        "parameters": [
          {
            "name": "fromObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiArchive"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/associate/default": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Associate records (default)",
        "description": "Create the default (most generic) association type between two object types",
        "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/associate/default_createDefault",
        "parameters": [
          {
            "name": "fromObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputPublicDefaultAssociationMultiPost"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponsePublicDefaultAssociation"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/create": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Associate records (labelled)",
        "description": "Batch create associations for objects",
        "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/create_create",
        "parameters": [
          {
            "name": "fromObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiPost"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseLabelsBetweenObjectPair"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseLabelsBetweenObjectPairWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/labels/archive": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Delete specific labels",
        "description": "Batch delete specific association labels for objects. Deleting an unlabeled association will also delete all labeled associations between those two objects",
        "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/labels/archive_archiveLabels",
        "parameters": [
          {
            "name": "fromObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputPublicAssociationMultiPost"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/read": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Retrieve associations",
        "description": "Batch read associations for objects to specific object type. The 'after' field in a returned paging object  can be added alongside the 'id' to retrieve the next page of associations from that objectId. The 'link' field is deprecated and should be ignored. Note: The 'paging' field will only be present if there are more pages and absent otherwise.",
        "operationId": "post-/crm/v4/associations/{fromObjectType}/{toObjectType}/batch/read_getPage",
        "parameters": [
          {
            "name": "fromObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputPublicFetchAssociationsBatchRequest"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponsePublicAssociationMultiWithLabel"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponsePublicAssociationMultiWithLabelWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v4/objects/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}": {
      "put": {
        "tags": [
          "Basic"
        ],
        "summary": "Associate records (default)",
        "description": "Create the default (most generic) association type between two object types",
        "operationId": "put-/crm/v4/objects/{fromObjectType}/{fromObjectId}/associations/default/{toObjectType}/{toObjectId}_createDefault",
        "parameters": [
          {
            "name": "fromObjectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "fromObjectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponsePublicDefaultAssociation"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve all associations by object type",
        "description": "Retrieve all associations between a specific record and an object type. Limit 500 per call.",
        "operationId": "get-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}_getPage",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": null,
              "default": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseMultiAssociatedObjectWithLabelForwardPaging"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}": {
      "put": {
        "tags": [
          "Basic"
        ],
        "summary": "Associate records (labelled)",
        "description": "Set association labels between two records.",
        "operationId": "put-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_create",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "example": null,
                "items": {
                  "$ref": "#/components/schemas/AssociationSpec"
                }
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LabelsBetweenObjectPair"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Basic"
        ],
        "summary": "Delete associations between two records",
        "description": "deletes all associations between two records.",
        "operationId": "delete-/crm/v4/objects/{objectType}/{objectId}/associations/{toObjectType}/{toObjectId}_archive",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "objectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "toObjectType",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "List",
        "description": "Read a page of calls. Control what is returned via the `properties` query param.",
        "operationId": "get-/crm/v3/objects/calls_getPage",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": null,
              "default": 10
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Basic"
        ],
        "summary": "Create",
        "description": "Create a call with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard calls is provided.",
        "operationId": "post-/crm/v3/objects/calls_create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls/batch/archive": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Archive a batch of calls by ID",
        "description": "Archive a batch of calls by ID. Deleted calls can be restored within 90 days of being deleted, but call recordings recording will be permanently deleted. Learn more about [restoring activity records](https://knowledge.hubspot.com/records/restore-deleted-activity-in-a-record).",
        "operationId": "post-/crm/v3/objects/calls/batch/archive_archive",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls/batch/create": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Create a batch of calls",
        "description": "Create a batch of calls. The `inputs` array can contain a `properties` object to define property values for each record, along with an `associations` array to define [associations](https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4) with other CRM records.",
        "operationId": "post-/crm/v3/objects/calls/batch/create_create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputForCreate"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls/batch/read": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Read a batch of calls by internal ID, or unique property values",
        "description": "Retrieve a batch of calls by ID.",
        "operationId": "post-/crm/v3/objects/calls/batch/read_read",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls/batch/update": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Update a batch of calls by internal ID, or unique property values",
        "description": "Update a batch of calls by ID.",
        "operationId": "post-/crm/v3/objects/calls/batch/update_update",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls/batch/upsert": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Create or update a batch of calls by unique property values",
        "description": "Create or update records identified by a unique property value as specified by the `idProperty` query param. `idProperty` query param refers to a property whose values are unique for the object.",
        "operationId": "post-/crm/v3/objects/calls/batch/upsert_upsert",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/calls/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search for calls",
        "description": "Search for calls by filtering on properties, searching through associations, and sorting results. Learn more about [CRM search](https://developers.hubspot.com/docs/guides/api/crm/search#make-a-search-request).",
        "operationId": "post-/crm/v3/objects/calls/search_doSearch",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicObjectSearchRequest"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v3/objects/calls/{callId}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Read",
        "description": "Read an Object identified by `{callId}`. `{callId}` refers to the internal object ID by default, or optionally any unique property value as specified by the `idProperty` query param.  Control what is returned via the `properties` query param.",
        "operationId": "get-/crm/v3/objects/calls/{callId}_getById",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "idProperty",
            "in": "query",
            "description": "The name of a property whose values are unique for this object type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Basic"
        ],
        "summary": "Archive",
        "description": "Move an Object identified by `{callId}` to the recycling bin.",
        "operationId": "delete-/crm/v3/objects/calls/{callId}_archive",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Basic"
        ],
        "summary": "Update",
        "description": "Perform a partial update of an Object identified by `{callId}`or optionally a unique property value as specified by the `idProperty` query param. `{callId}` refers to the internal object ID by default, and the `idProperty` query param refers to a property whose values are unique for the object. Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
        "operationId": "patch-/crm/v3/objects/calls/{callId}_update",
        "parameters": [
          {
            "name": "callId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          },
          {
            "name": "idProperty",
            "in": "query",
            "description": "The name of a property whose values are unique for this object type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePublicObjectInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve companies",
        "description": "Retrieve all companies, using query parameters to control the information that gets returned.",
        "operationId": "get-/crm/v3/objects/companies_getPage",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": null,
              "default": 10
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Basic"
        ],
        "summary": "Create a company",
        "description": "Create a single company. Include a `properties` object to define [property values](https://developers.hubspot.com/docs/guides/api/crm/properties) for the company, along with an `associations` array to define [associations](https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4) with other CRM records.",
        "operationId": "post-/crm/v3/objects/companies_create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePublicObjectInputForCreate"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/batch/archive": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Archive a batch of companies",
        "description": "Delete a batch of companies by ID. Deleted companies can be restored within 90 days of deletion. Learn more about [restoring records](https://knowledge.hubspot.com/records/restore-deleted-records).",
        "operationId": "post-/crm/v3/objects/companies/batch/archive_archive",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectId"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/batch/create": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Create a batch of companies",
        "description": "Create a batch of companies. The `inputs` array can contain a `properties` object to define property values for each company, along with an `associations` array to define [associations](https://developers.hubspot.com/docs/guides/api/crm/associations/associations-v4) with other CRM records.",
        "operationId": "post-/crm/v3/objects/companies/batch/create_create",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputForCreate"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/batch/read": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Retrieve a batch of companies",
        "description": "Retrieve a batch of companies by ID (`companyId`) or by a unique property (`idProperty`). You can specify what is returned using the `properties` query parameter.",
        "operationId": "post-/crm/v3/objects/companies/batch/read_read",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchReadInputSimplePublicObjectId"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/batch/update": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Update a batch of companies",
        "description": "Update a batch of companies by ID.",
        "operationId": "post-/crm/v3/objects/companies/batch/update_update",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/batch/upsert": {
      "post": {
        "tags": [
          "Batch"
        ],
        "summary": "Create or update a batch of companies by unique property values",
        "description": "Create or update companies identified by a unique property value as specified by the `idProperty` query parameter. `idProperty` query param refers to a property whose values are unique for the object.",
        "operationId": "post-/crm/v3/objects/companies/batch/upsert_upsert",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchInputSimplePublicObjectBatchInputUpsert"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObject"
                },
                "example": null
              }
            }
          },
          "207": {
            "description": "multiple statuses",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponseSimplePublicUpsertObjectWithErrors"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/merge": {
      "post": {
        "tags": [
          "Advanced"
        ],
        "summary": "Merge two companies",
        "description": "Merge two company records. Learn more about [merging records](https://knowledge.hubspot.com/records/merge-records).",
        "operationId": "post-/crm/v3/objects/companies/merge_merge",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicMergeInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/companies/search": {
      "post": {
        "tags": [
          "Search"
        ],
        "summary": "Search for companies",
        "description": "Search for companies by filtering on properties, searching through associations, and sorting results. Learn more about [CRM search](https://developers.hubspot.com/docs/guides/api/crm/search#make-a-search-request).",
        "operationId": "post-/crm/v3/objects/companies/search_doSearch",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PublicObjectSearchRequest"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseWithTotalSimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ],
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v3/objects/companies/{companyId}": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "Retrieve a company",
        "description": "Retrieve a company by its ID (`companyId`) or by a unique property (`idProperty`). You can specify what is returned using the `properties` query parameter.",
        "operationId": "get-/crm/v3/objects/companies/{companyId}_getById",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "idProperty",
            "in": "query",
            "description": "The name of a property whose values are unique for this object type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObjectWithAssociations"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Basic"
        ],
        "summary": "Archive a company",
        "description": "Delete a company by ID. Deleted companies can be restored within 90 days of deletion. Learn more about [restoring records](https://knowledge.hubspot.com/records/restore-deleted-records).",
        "operationId": "delete-/crm/v3/objects/companies/{companyId}_archive",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {}
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Basic"
        ],
        "summary": "Update a company",
        "description": "Update a company by ID (`companyId`) or unique property value (`idProperty`). Provided property values will be overwritten. Read-only and non-existent properties will result in an error. Properties values can be cleared by passing an empty string.",
        "operationId": "patch-/crm/v3/objects/companies/{companyId}_update",
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "schema": {
              "pattern": ".+",
              "type": "string",
              "example": null
            }
          },
          {
            "name": "idProperty",
            "in": "query",
            "description": "The name of a property whose values are unique for this object type",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SimplePublicObjectInput"
              },
              "example": null
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePublicObject"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      }
    },
    "/crm/v3/objects/0-3": {
      "get": {
        "tags": [
          "Basic"
        ],
        "summary": "List",
        "description": "Read a page of deals. Control what is returned via the `properties` query param.",
        "operationId": "get-/crm/v3/objects/0-3_getPage",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": null
            }
          },
          {
            "name": "archived",
            "in": "query",
            "description": "Whether to return only results that have been archived.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": null,
              "default": false
            }
          },
          {
            "name": "associations",
            "in": "query",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to display per page.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": null,
              "default": 10
            }
          },
          {
            "name": "properties",
            "in": "query",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          },
          {
            "name": "propertiesWithHistory",
            "in": "query",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "example": null,
              "items": {
                "type": "string",
                "example": null
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
                },
                "example": null
              }
            }
          },
          "default": {
            "description": "",
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {
            "private_app_bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "Basic"
        ],
        "summary": "Create",
[...]
