openapi: 3.1.0
info:
  title: TwelveLabs Video Understanding API
  description: 'Use the TwelveLabs Video Understanding API to extract information from your videos and make it available to
    your applications. The API is organized around REST and returns responses in the JSON format. It is compatible with most
    programming languages, and you can also use Postman or other REST clients to send requests and view responses.

    '
  contact:
    name: TwelveLabs Support
    email: support@twelvelabs.io
  version: 1.3.0
servers:
- url: https://api.twelvelabs.io/v1.3
security:
- x-api-key: []
tags:
- name: Upload assets
- name: Manage indexes
- name: Manage indexed assets
- name: Manage videos
- name: Manage entity collections
- name: Manage entities
- name: Any-to-video search
- name: Create video embeddings
- name: Analyze videos
- name: Create text, image, and audio embeddings
paths:
  /tasks:
    post:
      summary: Create a video indexing task
      description: 'This method creates a video indexing task that uploads and indexes a video in a single operation.


        <Warning title="Legacy endpoint">

        This endpoint bundles two operations (upload and indexing) together. In the next major API release, this endpoint
        will be removed in favor of a separated workflow:

        1. Upload your video using the [`POST /assets`](/v1.3/api-reference/upload-content/direct-uploads/create) endpoint

        2. Index the uploaded video using the [`POST /indexes/{index-id}/indexed-assets`](/v1.3/api-reference/index-content/create)
        endpoint


        This separation provides better control, reusability of assets, and improved error handling. New implementations should
        use the new workflow.

        </Warning>



        Upload options:

        - **Local file**: Use the `video_file` parameter.

        - **Publicly accessible URL**: Use the `video_url` parameter.


        Your video files must meet requirements based on your workflow:

        - **Search**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements).

        - **Video analysis**: [Pegasus requirements](/v1.3/docs/concepts/models/pegasus#video-file-requirements).

        - If you want to both search and analyze your videos, the most restrictive requirements apply.

        - This method allows you to upload files up to 2 GB in size. To upload larger files, use the [Multipart Upload API](/v1.3/api-reference/upload-content/multipart-uploads)


        <Note title="Note">

        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.

        </Note>

        '
      operationId: create-video-indexing-task
      tags:
      - Manage videos
      requestBody:
        $ref: '#/components/requestBodies/createVideoIndexingTask'
      parameters:
      - $ref: '#/components/parameters/multipart'
      responses:
        '200':
          $ref: '#/components/responses/createVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/insufficientFunds'
    get:
      summary: List video indexing tasks
      description: This method returns a list of the video indexing tasks in your account. The platform returns your video
        indexing tasks sorted by creation date, with the newest at the top of the list.
      operationId: list-video-indexing-tasks
      tags:
      - Manage videos
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/sort_by'
      - $ref: '#/components/parameters/sort_option'
      - $ref: '#/components/parameters/index_id'
      - $ref: '#/components/parameters/task_status'
      - $ref: '#/components/parameters/filename'
      - $ref: '#/components/parameters/duration'
      - $ref: '#/components/parameters/width'
      - $ref: '#/components/parameters/height'
      - $ref: '#/components/parameters/created_at'
      - $ref: '#/components/parameters/updated_at'
      responses:
        '200':
          $ref: '#/components/responses/getVideoIndexingTasksResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /tasks/{task_id}:
    get:
      summary: Retrieve a video indexing task
      description: This method retrieves a video indexing task.
      operationId: retrieve-video-indexing-task
      tags:
      - Manage videos
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: task_id
        in: path
        description: 'The unique identifier of the video indexing task to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '200':
          $ref: '#/components/responses/getVideoIndexingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete a video indexing task
      description: 'This action cannot be undone.

        Note the following about deleting a video indexing task:

        - You can only delete video indexing tasks for which the status is `ready` or `failed`.

        - If the status of your video indexing task is `ready`, you must first delete the video vector associated with your
        video indexing task by calling the [`DELETE`](/v1.3/api-reference/videos/delete) method of the `/indexes/videos` endpoint.

        '
      operationId: delete-video-indexing-task
      tags:
      - Manage videos
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: task_id
        in: path
        description: 'The unique identifier of the video indexing task you want to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes:
    post:
      summary: Create an index
      description: 'This method creates an index.

        '
      operationId: create-index
      tags:
      - Manage indexes
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      requestBody:
        $ref: '#/components/requestBodies/createIndex'
      responses:
        '201':
          $ref: '#/components/responses/createIndexResponse'
        '400':
          $ref: '#/components/responses/genericError'
    get:
      summary: List indexes
      description: 'This method returns a list of the indexes in your account. The platform returns indexes sorted by creation
        date, with the oldest indexes at the top of the list.

        '
      operationId: list-indexes
      tags:
      - Manage indexes
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/sort_by'
      - $ref: '#/components/parameters/sort_option'
      - name: index_name
        in: query
        description: Filter by the name of an index.
        required: false
        schema:
          type: string
        example: myIndex
      - name: model_options
        in: query
        description: 'Filter by the model options. When filtering by multiple model options, the values must be comma-separated.

          '
        required: false
        schema:
          type: string
        example: visual,audio
      - name: model_family
        in: query
        description: 'Filter by the model family. This parameter can take one of the following values: `marengo` or `pegasus`.
          You can specify a single value.

          '
        schema:
          type: string
        required: false
        example: marengo
      - name: created_at
        in: query
        description: 'Filter indexes by the creation date and time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform
          returns the indexes that were created on the specified date at or after the given time.

          '
        schema:
          type: string
        required: false
        example: '2024-08-16T16:53:59Z'
      - name: updated_at
        in: query
        description: 'Filter indexes by the last update date and time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The
          platform returns the indexes that were last updated on the specified date at or after the given time.

          '
        schema:
          type: string
        required: false
        example: '2024-08-16T16:55:59Z'
      responses:
        '200':
          $ref: '#/components/responses/getIndexesResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}:
    get:
      summary: Retrieve an index
      description: 'This method retrieves details about the specified index.

        '
      operationId: retrieve-index
      tags:
      - Manage indexes
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'Unique identifier of the index to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '200':
          $ref: '#/components/responses/getIndexResponse'
        '400':
          $ref: '#/components/responses/genericError'
    put:
      summary: Update an index
      description: 'This method updates the name of the specified index.

        '
      operationId: update-index
      tags:
      - Manage indexes
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'Unique identifier of the index to update.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        $ref: '#/components/requestBodies/updateIndex'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete an index
      description: This method deletes the specified index and all the videos within it. This action cannot be undone.
      operationId: delete-index
      tags:
      - Manage indexes
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'Unique identifier of the index to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}/indexed-assets:
    post:
      summary: Create an indexed asset
      description: 'This method indexes an uploaded asset to make it searchable and analyzable. Indexing processes your content
        and extracts information that enables the platform to search and analyze your videos.


        This operation is asynchronous. The platform returns an indexed asset ID immediately and processes your content in
        the background. Monitor the indexing status to know when your content is ready to use.


        Your asset must meet the requirements based on your workflow:

        - **Search**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements)

        - **Video analysis**: [Pegasus requirements](/v1.3/docs/concepts/models/pegasus#input-requirements).


        If you want to both search and analyze your videos, the most restrictive requirements apply.


        <Note title="Note">

        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.

        </Note>

        '
      operationId: create-indexed-asset
      tags:
      - Manage indexed assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the asset will be indexed.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - asset_id
              properties:
                asset_id:
                  type: string
                  description: 'The unique identifier of the asset to index.

                    '
                  example: 6298d673f1090f1100476d4c
                enable_video_stream:
                  type: boolean
                  description: 'This parameter indicates if the platform stores the video for streaming. When set to `true`,
                    the platform stores the video, and you can retrieve its URL by calling the [`GET`](/v1.3/api-reference/videos/retrieve)
                    method of the `/indexes/{index-id}/indexed-assets/{indexed-asset-id}` endpoint. You can then use this
                    URL to access the stream over the <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank">HLS</a>
                    protocol.

                    '
                  default: false
                  example: true
      responses:
        '202':
          description: 'The indexing request has been accepted and is processing.

            '
          headers:
            Location:
              description: 'The URL of the indexed asset. Format: `/indexes/{index-id}/indexed-assets/{indexed-asset-id}`.

                '
              schema:
                type: string
              example: /indexes/6298d673f1090f1100476d4c/629b643b6f5f3c2cb871fd89
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                    description: 'The unique identifier of the indexed asset. Use it to monitor the indexing progress.

                      '
                    example: 629b643b6f5f3c2cb871fd89
        '400':
          $ref: '#/components/responses/genericError'
        '404':
          $ref: '#/components/responses/notFound'
        '500':
          $ref: '#/components/responses/genericError'
    get:
      summary: List indexed assets
      operationId: list-indexed-assets
      description: 'This method returns a list of the indexed assets in the specified index. By default, the platform returns
        your indexed assets sorted by creation date, with the newest at the top of the list.

        '
      tags:
      - Manage indexed assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/sort_by'
      - $ref: '#/components/parameters/sort_option'
      - name: index-id
        in: path
        description: The unique identifier of the index for which the platform will retrieve the indexed assets.
        schema:
          type: string
        required: true
        example: 6298d673f1090f1100476d4c
      - name: status
        in: query
        description: 'Filter by one or more indexing task statuses. The following options are available:

          - `ready`: The indexed asset has been successfully uploaded and indexed.

          - `pending`: The indexed asset is pending.

          - `queued`: The indexed asset is queued.

          - `indexing`: The indexed asset is being indexed.

          - `failed`: The indexed asset indexing task failed.


          To filter by multiple statuses, specify the `status` parameter for each value:

          ```

          status=ready&status=validating

          ```

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - ready
            - pending
            - queued
            - indexing
            - failed
            example: ready
      - name: filename
        in: query
        description: 'Filter by filename.

          '
        required: false
        schema:
          type: string
        example: 01.mp4
      - name: duration
        in: query
        description: 'Filter by duration. Expressed in seconds.

          '
        schema:
          type: number
        example: 10
      - name: fps
        in: query
        description: 'Filter by frames per second.

          '
        required: false
        schema:
          type: number
        example: 25
      - name: width
        in: query
        description: 'Filter by width.

          '
        required: false
        schema:
          type: number
        example: 1920
      - name: height
        in: query
        description: 'Filter by height.

          '
        required: false
        schema:
          type: integer
        example: 1080
      - name: size
        in: query
        description: 'Filter by size. Expressed in bytes.

          '
        required: false
        schema:
          type: number
        example: 1048576
      - name: created_at
        in: query
        description: 'Filter indexed assets by the creation date and time of their associated indexing tasks, in the RFC 3339
          format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns indexed assets created on or after the specified date and
          time.

          '
        required: false
        schema:
          type: string
        example: '2024-08-16T16:53:59Z'
      - name: updated_at
        in: query
        description: 'This filter applies only to indexed assets updated using the [`PUT`](/v1.3/api-reference/videos/update)
          method of the `/indexes/{index-id}/indexed-assets/{indexed-asset-id}` endpoint. It filters indexed assets by the
          last update date and time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexed assets
          that were last updated on the specified date at or after the given time.

          '
        required: false
        schema:
          type: string
        example: '2024-08-16T16:53:59Z'
      - name: user_metadata
        in: query
        description: 'To enable filtering by custom fields, you must first add user-defined metadata to your video by calling
          the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/:index-id/indexed-assets/:indexed-asset-id`
          endpoint.


          Examples:

          - To filter on a string: `?category=recentlyAdded`

          - To filter on an integer: `?batchNumber=5`

          - To filter on a float: `?rating=9.3`

          - To filter on a boolean: `?needsReview=true`

          '
        schema:
          additionalProperties:
            oneOf:
            - type: string
              example: recentlyAdded
            - type: number
              example: 5
            - type: boolean
              example: true
            example:
              category: recentlyAdded
              batchNumber: 5
              rating: 9.3
              needsReview: true
        style: form
        explode: true
        example: category=recentlyAdded&batchNumber=5&rating=9.3&needsReview=true
      responses:
        '200':
          $ref: '#/components/responses/getIndexedAssetsResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}/indexed-assets/{indexed-asset-id}:
    get:
      summary: Retrieve indexed asset information
      description: "This method retrieves information about an indexed asset, including its status, metadata, and optional\
        \ embeddings or transcription.\n\nUse this method to:\n\n- Monitor the indexing progress:\n    - Call this endpoint\
        \ after creating an indexed asset\n    - Check the `status` field until it shows `ready`\n    - Once ready, your content\
        \ is available for search and analysis\n\n- Retrieve the asset metadata:\n    - Retrieve system metadata (duration,\
        \ resolution, filename)\n    - Access user-defined metadata\n\n- Retrieve the embeddings:\n    - Include the `embeddingOption`\
        \ parameter to retrieve video embeddings\n    - Requires the Marengo video understanding model to be enabled in your\
        \ index\n\n- Retrieve transcriptions:\n  - Set the `transcription` parameter to `true` to retrieve spoken words from\
        \ your video\n"
      operationId: retrieve-indexed-asset-information
      tags:
      - Manage indexed assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/embedding_option_optional'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the indexed asset has been uploaded.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: indexed-asset-id
        in: path
        description: 'The unique identifier of the indexed asset to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: transcription
        in: query
        description: 'Specifies whether to retrieve a transcription of the spoken words.

          '
        required: false
        schema:
          type: boolean
        example: true
      responses:
        '200':
          $ref: '#/components/responses/getIndexedAssetResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '404':
          $ref: '#/components/responses/notFound'
    patch:
      summary: Partial update indexed asset information
      description: This method updates one or more fields of the metadata of an indexed asset. Also, can delete a field by
        setting it to `null`.
      operationId: partial-update-indexed-asset-information
      tags:
      - Manage indexed assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the indexed asset has been uploaded.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: indexed-asset-id
        in: path
        description: 'The unique identifier of the indexed asset to update.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        $ref: '#/components/requestBodies/partial-update-video-vector'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete indexed asset information
      operationId: delete-indexed-asset-information
      tags:
      - Manage indexed assets
      description: 'This method deletes all the information about the specified indexed asset. This action cannot be undone.

        '
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the indexed asset has been uploaded.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: indexed-asset-id
        in: path
        description: 'The unique identifier of the indexed asset to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}/videos:
    get:
      summary: List videos
      operationId: list-videos
      description: '<Info>This method will be deprecated in a future version. New implementations should use the [List indexed
        assets](/v1.3/api-reference/index-content/list) method.</Info>


        This method returns a list of the videos in the specified index. By default, the platform returns your videos sorted
        by creation date, with the newest at the top of the list.

        '
      tags:
      - Manage videos
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - $ref: '#/components/parameters/sort_by'
      - $ref: '#/components/parameters/sort_option'
      - name: index-id
        in: path
        description: The unique identifier of the index for which the platform will retrieve the videos.
        schema:
          type: string
        required: true
        example: 6298d673f1090f1100476d4c
      - name: filename
        in: query
        description: 'Filter by filename.

          '
        required: false
        schema:
          type: string
        example: 01.mp4
      - name: duration
        in: query
        description: 'Filter by duration. Expressed in seconds.

          '
        schema:
          type: number
        example: 10
      - name: fps
        in: query
        description: 'Filter by frames per second.

          '
        required: false
        schema:
          type: number
        example: 25
      - name: width
        in: query
        description: 'Filter by width.

          '
        required: false
        schema:
          type: number
        example: 1920
      - name: height
        in: query
        description: 'Filter by height.

          '
        required: false
        schema:
          type: integer
        example: 1080
      - name: size
        in: query
        description: 'Filter by size. Expressed in bytes.

          '
        required: false
        schema:
          type: number
        example: 1048576
      - name: created_at
        in: query
        description: 'Filter videos by the creation date and time of their associated indexing tasks, in the RFC 3339 format
          ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the videos whose indexing tasks were created on the specified date
          at or after the given time.

          '
        required: false
        schema:
          type: string
        example: '2024-08-16T16:53:59Z'
      - name: updated_at
        in: query
        description: 'This filter applies only to videos updated using the [`PUT`](/v1.3/api-reference/videos/update) method
          of the `/indexes/{index-id}/videos/{video-id}` endpoint. It filters videos by the last update date and time, in
          the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the video indexing tasks that were last updated
          on the specified date at or after the given time.

          '
        required: false
        schema:
          type: string
        example: '2024-08-16T16:53:59Z'
      - name: user_metadata
        in: query
        description: 'To enable filtering by custom fields, you must first add user-defined metadata to your video by calling
          the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/:index-id/videos/:video-id` endpoint.


          Examples:

          - To filter on a string: `?category=recentlyAdded`

          - To filter on an integer: `?batchNumber=5`

          - To filter on a float: `?rating=9.3`

          - To filter on a boolean: `?needsReview=true`

          '
        schema:
          additionalProperties:
            oneOf:
            - type: string
              example: recentlyAdded
            - type: number
              example: 5
            - type: boolean
              example: true
            example:
              category: recentlyAdded
              batchNumber: 5
              rating: 9.3
              needsReview: true
        style: form
        explode: true
        example: category=recentlyAdded&batchNumber=5&rating=9.3&needsReview=true
      responses:
        '200':
          $ref: '#/components/responses/getVideoVectorsResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /indexes/{index-id}/videos/{video-id}:
    get:
      summary: Retrieve video information
      description: '<Info> This method will be deprecated in a future version. New implementations should use the [Retrieve
        an indexed asset](/v1.3/api-reference/index-content/retrieve) method.</Info>


        This method retrieves information about the specified video.

        '
      operationId: retrieve-video-information
      tags:
      - Manage videos
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/embedding_option_optional'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the video has been uploaded.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: video-id
        in: path
        description: 'The unique identifier of the video to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: transcription
        in: query
        description: 'The parameter indicates whether to retrieve a transcription of the spoken words for the indexed video.

          '
        required: false
        schema:
          type: boolean
        example: true
      responses:
        '200':
          $ref: '#/components/responses/getVideoVectorResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '404':
          $ref: '#/components/responses/notFound'
    patch:
      summary: Partial update video information
      description: '<Info>This method will be deprecated in a future version. New implementations should use the [Partial
        update indexed asset](/v1.3/api-reference/index-content/update) method.</Info>


        This method updates one or more fields of the metadata of a video. Also, can delete a field by setting it to `null`.'
      operationId: partial-update-video-information
      tags:
      - Manage videos
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the video has been uploaded.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: video-id
        in: path
        description: 'The unique identifier of the video to update.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        $ref: '#/components/requestBodies/partial-update-video-vector'
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete video information
      operationId: delete-video-information
      tags:
      - Manage videos
      description: '<Info>This method will be deprecated in a future version. New implementations should use the [Delete an
        indexed asset](/v1.3/api-reference/index-content/delete) method.</Info>


        This method deletes all the information about the specified video. This action cannot be undone.

        '
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: index-id
        in: path
        description: 'The unique identifier of the index to which the video has been uploaded.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: video-id
        in: path
        description: 'The unique identifier of the video to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          $ref: '#/components/responses/noContentResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /assets:
    get:
      summary: List assets
      description: 'This method returns a list of assets in your account.


        The platform returns your assets sorted by creation date, with the newest at the top of the list.

        '
      operationId: list-assets
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - name: asset_ids
        in: query
        description: 'Filters the response to include only assets with the specified IDs. Provide one or more asset IDs. When
          you specify multiple IDs, the platform returns all matching assets.

          '
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        example:
        - 6298d673f1090f1100476d4c
        - 6298d673f1090f1100476d4d
      - name: asset_types
        in: query
        description: 'Filters the response to include only assets of the specified types. Provide one or more asset types.
          When you specify multiple types, the platform returns all matching assets.

          '
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - audio
        example:
        - image
        - video
      responses:
        '200':
          description: The assets have been successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: An array containing the assets.
                    items:
                      $ref: '#/components/schemas/Asset'
                  page_info:
                    $ref: '#/components/schemas/page_info'
        '400':
          $ref: '#/components/responses/genericError'
    post:
      summary: Create an asset
      description: 'This method creates an asset by uploading a file to the platform. Assets are media files that you can
        use in downstream workflows, including indexing, analyzing video content, and creating entities.


        **Supported content**: Video, audio, and images.


        **Upload methods**:

        - **Local file**: Set the `method` parameter to `direct` and use the `file` parameter to specify the file.

        - **Publicly accessible URL**: Set the `method` parameter to `url` and use the `url` parameter to specify the URL
        of your file.


        **File size**: 200MB maximum for local file uploads, 4GB maximum for URL uploads.


        **Additional requirements** depend on your workflow:

        - **Search**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements)

        - **Video analysis**: [Pegasus requirements](/v1.3/docs/concepts/models/pegasus#input-requirements)

        - **Entity search**: [Marengo image requirements](/v1.3/docs/concepts/models/marengo#image-file-requirements)

        - **Create embeddings**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#input-requirements)


        <Note title="Note">

        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.

        </Note>

        '
      operationId: create-asset
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/multipart'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - method
              properties:
                method:
                  type: string
                  description: 'Specifies the upload method for the asset. Use `direct` to upload a local file or `url` for
                    a publicly accessible URL.

                    '
                  enum:
                  - direct
                  - url
                  example: direct
                file:
                  type: string
                  format: binary
                  description: 'Specify this parameter to upload a file from your local file system. This parameter is required
                    when `method` is set to `direct`.


                    Direct uploads are limited to 200MB. For files larger than 200MB, use the [Multipart Upload API](/api-reference/upload-content/multipart-uploads).

                    '
                  example: '@/Users/john/Documents/asset.mp4'
                url:
                  type: string
                  description: 'Specify this parameter to upload a file from a publicly accessible URL. This parameter is
                    required when `method` is set to `url`.


                    URL uploads have a maximum limit of 4GB.

                    '
                  example: https://example.com/asset.mp4
                filename:
                  type: string
                  minLength: 1
                  maxLength: 255
                  description: The optional filename of the asset. If not provided, the platform will determine the filename
                    from the file or URL.
                  example: my-video.mp4
      responses:
        '201':
          description: The asset has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/genericError'
  /assets/{asset_id}:
    get:
      summary: Retrieve an asset
      description: This method retrieves details about the specified asset.
      operationId: retrieve-asset
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: asset_id
        in: path
        description: 'The unique identifier of the asset to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '200':
          description: The asset has been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete an asset
      description: This method deletes the specified asset. This action cannot be undone.
      operationId: delete-asset
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: asset_id
        in: path
        description: 'The unique identifier of the asset to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          description: The asset has been successfully deleted.
        '400':
          $ref: '#/components/responses/genericError'
  /assets/multipart-uploads:
    post:
      summary: Create a multipart upload session
      description: 'This method creates a multipart upload session.


        **Supported content**: Video and audio


        **File size**: 4GB maximum.


        **Additional requirements** depend on your workflow:

        - **Search**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements)

        - **Video analysis**: [Pegasus requirements](/v1.3/docs/concepts/models/pegasus#input-requirements)

        - **Create embeddings**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#input-requirements)

        '
      operationId: create-multipart-upload
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetUploadRequest'
      responses:
        '201':
          description: The multipart upload session has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetUploadResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '403':
          $ref: '#/components/responses/genericError'
        '500':
          $ref: '#/components/responses/genericError'
    get:
      summary: List incomplete uploads
      description: This method returns a list of all incomplete multipart upload sessions in your account.
      operationId: list-incomplete-uploads
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      responses:
        '200':
          description: The list of incomplete upload sessions has been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIncompleteUploadsResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '403':
          $ref: '#/components/responses/genericError'
        '500':
          $ref: '#/components/responses/genericError'
  /assets/multipart-uploads/{upload_id}:
    post:
      summary: Report uploaded chunks
      description: 'This method reports successfully uploaded chunks to the platform. The platform finalizes the upload after
        you report all chunks.



        For optimal performance, report chunks in batches and in any order.

        '
      operationId: report-chunk-batch
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: upload_id
        in: path
        description: 'The unique identifier of the upload session.

          '
        required: true
        schema:
          type: string
        example: 507f1f77bcf86cd799439011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportChunkBatchRequest'
      responses:
        '200':
          description: The completion of this batch has been successfully reported.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportChunkBatchResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '403':
          $ref: '#/components/responses/genericError'
        '404':
          description: Upload not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
    get:
      summary: Retrieve the status of an upload session
      description: 'This method provides information about an upload session, including its current status, chunk-level progress,
        and completion state.


        Use this method to:

        - Verify upload completion (`status` = `completed`)

        - Identify any failed chunks that require a retry

        - Monitor the upload progress by comparing `uploaded_size` with `total_size`

        - Determine if the session has expired

        - Retrieve the status information for each chunk


        You must call this method after reporting chunk completion to confirm the upload has transitioned to the `completed`
        status before using the asset.

        '
      operationId: get-upload-status
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: upload_id
        in: path
        description: 'The unique identifier of the upload session.

          '
        required: true
        schema:
          type: string
        example: 507f1f77bcf86cd799439011
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      responses:
        '200':
          description: The status of your upload session has been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUploadStatusResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '403':
          $ref: '#/components/responses/genericError'
        '404':
          description: Upload not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          $ref: '#/components/responses/genericError'
  /assets/multipart-uploads/{upload_id}/presigned-urls:
    post:
      summary: Request presigned URLs for the remaining chunks
      description: 'This method generates new presigned URLs for specific chunks that require uploading. Use this endpoint
        in the following situations:

        - Your initial URLs have expired (URLs expire after one hour).

        - The initial set of presigned URLs does not include URLs for all chunks.

        - You need to retry failed chunk uploads with new URLs.

        To specify which chunks need URLs, use the `start` and `count` parameters. For example, to generate URLs for chunks
        21 to 30, use `start=21` and `count=10`.

        The response will provide new URLs, each with a fresh expiration time of one hour.

        '
      operationId: request-additional-presigned-urls
      tags:
      - Upload assets
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: upload_id
        in: path
        description: 'The unique identifier of the upload session.

          '
        required: true
        schema:
          type: string
        example: 507f1f77bcf86cd799439011
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestAdditionalPresignedURLsRequest'
      responses:
        '200':
          description: Additional presigned URLs have been successfully generated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestAdditionalPresignedURLsResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '403':
          $ref: '#/components/responses/genericError'
        '404':
          description: Upload not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          $ref: '#/components/responses/genericError'
  /entity-collections:
    get:
      summary: List entity collections
      description: 'This method returns a list of the entity collections in your account.

        '
      operationId: list-entity-collections
      tags:
      - Manage entity collections
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - name: name
        in: query
        description: 'Filter entity collections by name.

          '
        required: false
        schema:
          type: string
        example: My entity collection
      - name: sort_by
        in: query
        description: 'The field to sort on. The following options are available:

          - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the entity collection was
          updated.

          - `updated_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the entity collection was
          created.

          - `name`: Sorts by the name.

          '
        required: false
        schema:
          type: string
          enum:
          - created_at
          - updated_at
          - name
          default: created_at
        example: created_at
      - $ref: '#/components/parameters/sort_option'
      responses:
        '200':
          description: The entity collections have been successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: An array containing the entity collections.
                    items:
                      $ref: '#/components/schemas/EntityCollection'
                  page_info:
                    $ref: '#/components/schemas/page_info'
        '400':
          $ref: '#/components/responses/genericError'
    post:
      summary: Create an entity collection
      description: 'This method creates an entity collection.

        '
      operationId: create-entity-collection
      tags:
      - Manage entity collections
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: The name of the entity collection. Make sure you use a succinct and descriptive name.
                  example: My entity collection
                description:
                  type: string
                  description: Optional description of the entity collection.
                  example: This is my first entity collection
      responses:
        '201':
          description: The entity collection has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCollection'
        '400':
          $ref: '#/components/responses/genericError'
  /entity-collections/{entity_collection_id}:
    get:
      summary: Retrieve an entity collection
      description: This method retrieves details about the specified entity collection.
      operationId: retrieve-entity-collection
      tags:
      - Manage entity collections
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '200':
          description: The entity collection has been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCollection'
        '400':
          $ref: '#/components/responses/genericError'
    patch:
      summary: Update an entity collection
      description: This method updates the specified entity collection.
      operationId: update-entity-collection
      tags:
      - Manage entity collections
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection to update.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The updated name of the entity collection.
                  example: My entity collection
                description:
                  type: string
                  description: The updated description of the entity collection.
                  example: My first collection
      responses:
        '200':
          description: The entity collection has been successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityCollection'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete an entity collection
      description: This method deletes the specified entity collection. This action cannot be undone.
      operationId: delete-entity-collection
      tags:
      - Manage entity collections
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          description: The entity collection has been successfully deleted.
        '400':
          $ref: '#/components/responses/genericError'
  /entity-collections/{entity_collection_id}/entities:
    get:
      summary: List entities in an entity collection
      description: 'This method returns a list of the entities in the specified entity collection.

        '
      operationId: list-entities-in-collection
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection for which the platform will retrieve the entities.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      - name: name
        in: query
        description: 'Filter entities by name.

          '
        required: false
        schema:
          type: string
        example: My entity
      - name: status
        in: query
        description: 'Filter entities by status.

          '
        required: false
        schema:
          type: string
          enum:
          - processing
          - ready
        example: ready
      - name: sort_by
        in: query
        description: 'The field to sort on. The following options are available:

          - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the entity was created.

          - `updated_at:` Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the entity collection was
          updated.

          - `name`: Sorts by the name.

          '
        required: false
        schema:
          type: string
          enum:
          - created_at
          - updated_at
          - name
          default: created_at
        example: created_at
      - $ref: '#/components/parameters/sort_option'
      responses:
        '200':
          description: The entities have been successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    description: An array containing the entities.
                    items:
                      $ref: '#/components/schemas/Entity'
                  page_info:
                    $ref: '#/components/schemas/page_info'
        '400':
          $ref: '#/components/responses/genericError'
    post:
      summary: Create an entity
      description: 'This method creates an entity within a specified entity collection. Each entity must be associated with
        at least one asset.

        '
      operationId: create-entity
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection in which to create the entity.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - asset_ids
              properties:
                name:
                  type: string
                  description: The name of the entity. Make sure you use a succinct and descriptive name.
                  example: My entity
                description:
                  type: string
                  description: An optional description of the entity.
                  example: My first entity
                metadata:
                  type: object
                  description: "Optional metadata for the entity, provided as key-value pairs to store additional context\
                    \ or attributes. Use metadata to categorize or describe the entity for easier management and search. Keys\
                    \ must be of type `string`, and values can be of type `string`, `integer`, `float`, or `boolean`.\n\n\
                    **Example**:\n```json\n{\n  \"sport\": \"soccer\",\n  \"teamId\": 42,\n  \"performanceScore\": 8.7,\n\
                    \  \"isActive\": true\n}\n```\n\n<Note title=\"Note\">\n  To store complex data types such as objects\
                    \ or arrays, convert them to string values before including them in the metadata.\n</Note>\n"
                  example:
                    sport: soccer
                    teamId: 42
                    performanceScore: 8.7
                    isActive: true
                asset_ids:
                  type: array
                  description: An array of asset IDs to associate with the entity. You must provide at least one value.
                  items:
                    type: string
                  example:
                  - 6298d673f1090f1100476d4c
                  - 6298d673f1090f1100476d4d
      responses:
        '201':
          description: The entity has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '400':
          $ref: '#/components/responses/genericError'
  /entity-collections/{entity_collection_id}/entities/bulk:
    post:
      summary: Create multiple entities in bulk
      description: 'This method creates multiple entities within a specified entity collection in a single request. Each entity
        must be associated with at least one asset. This endpoint is useful for efficiently adding multiple entities, such
        as a roster of players or a group of characters.

        '
      operationId: create-entities-bulk
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection in which to create the entities.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - entities
              properties:
                entities:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    - asset_ids
                    properties:
                      name:
                        type: string
                        description: The name of the entity.
                        example: My entity
                      description:
                        type: string
                        description: Optional description of the entity.
                        example: My first entity
                      metadata:
                        type: object
                        description: Optional metadata for the entity, provided as key-value pairs.
                        example:
                          sport: soccer
                      asset_ids:
                        type: array
                        description: An array of asset IDs to associate with the entity. At least one asset ID is required.
                        items:
                          type: string
                        example:
                        - 6298d673f1090f1100476d4c
                        - 6298d673f1090f1100476d4d
      responses:
        '201':
          description: The entities have been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCreateEntityResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /entity-collections/{entity_collection_id}/entities/{entity_id}:
    get:
      summary: Retrieve an entity
      description: This method retrieves details about the specified entity.
      operationId: retrieve-entity
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: entity_id
        in: path
        description: 'The unique identifier of the entity to retrieve.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '200':
          description: The entity has been successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '400':
          $ref: '#/components/responses/genericError'
    patch:
      summary: Update an entity
      description: 'This method updates the specified entity within an entity collection. This operation allows modification
        of the entity''s name, description, or metadata. Note that this endpoint does not affect the assets associated with
        the entity.

        '
      operationId: update-entity
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection containing the entity to be updated.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: entity_id
        in: path
        description: 'The unique identifier of the entity to update.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The new name for the entity.
                  example: Updated entity name
                description:
                  type: string
                  description: An updated description for the entity.
                  example: This is an updated description for the entity.
                metadata:
                  type: object
                  description: 'Updated metadata for the entity. If provided, this completely replaces the existing metadata.
                    Use this to store custom key-value pairs related to the entity.

                    '
                  example:
                    sport: basketball
      responses:
        '200':
          description: The entity has been successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Delete an entity
      description: This method deletes a specific entity from an entity collection. It permanently removes the entity and
        its associated data, but does not affect the assets associated with this entity.
      operationId: delete-entity
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection containing the entity to be deleted.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: entity_id
        in: path
        description: 'The unique identifier of the entity to delete.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      responses:
        '204':
          description: The entity has been successfully deleted.
        '400':
          $ref: '#/components/responses/genericError'
  /entity-collections/{entity_collection_id}/entities/{entity_id}/assets:
    post:
      summary: Add assets to an entity
      description: 'This method adds assets to the specified entity within an entity collection. Assets are used to identify
        the entity in media content, and adding multiple assets can improve the accuracy of entity recognition in searches.


        When assets are added, the entity may temporarily enter the "processing" state while the platform updates the necessary
        data. Once processing is complete, the entity status will return to "ready."

        '
      operationId: add-entity-assets
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection that contains the entity to which assets will be added.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: entity_id
        in: path
        description: 'The unique identifier of the entity within the specified entity collection to which the assets will
          be added.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - asset_ids
              properties:
                asset_ids:
                  type: array
                  description: An array of asset IDs to add to the entity.
                  items:
                    type: string
                  example:
                  - 6298d673f1090f1100476d4c
                  - 6298d673f1090f1100476d4d
      responses:
        '200':
          description: The assets have been successfully added to the entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '400':
          $ref: '#/components/responses/genericError'
    delete:
      summary: Remove assets from an entity
      description: "This method removes from the specified entity. Assets are used to identify the entity in media content,\
        \ and removing assets may impact the accuracy of entity recognition in searches if too few assets remain.\n\nWhen\
        \ assets are removed, the entity may temporarily enter a \"processing\" state while the system updates the necessary\
        \ data. Once processing is complete, the entity status will return to \"ready.\"\n\n<Note title=\"Notes\">\n  - This\
        \ operation only removes the association between the entity and the specified assets; it does not delete the assets\
        \ themselves.\n  - An entity must always have at least one asset associated with it. You can't remove the last asset\
        \ from an entity.\n</Note>\n"
      operationId: remove-entity-assets
      tags:
      - Manage entities
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: entity_collection_id
        in: path
        description: 'The unique identifier of the entity collection that contains the entity from which assets will be removed.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      - name: entity_id
        in: path
        description: 'The unique identifier of the entity within the specified entity collection from which the assets will
          be removed.

          '
        required: true
        schema:
          type: string
        example: 6298d673f1090f1100476d4c
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - asset_ids
              properties:
                asset_ids:
                  type: array
                  description: An array of asset IDs to remove from the entity.
                  items:
                    type: string
                  example:
                  - 6298d673f1090f1100476d4e
                  - 6298d673f1090f1100476d4f
      responses:
        '200':
          description: The assets have been successfully removed from the entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
        '400':
          $ref: '#/components/responses/genericError'
  /summarize:
    post:
      deprecated: true
      summary: Summaries, chapters, or highlights
      description: "\n<Note title=\"Deprecation notice\">\n  This endpoint will be sunset and removed. Use the [`POST`](/v1.3/api-reference/analyze-videos/analyze)\
        \ method of the `/analyze` endpoint. Pass the [`response_format`](/v1.3/api-reference/analyze-videos/analyze#request.body.response_format)\
        \ parameter to specify the format of the response as structured JSON. For migration instructions, see the [Release\
        \ notes](/v1.3/docs/get-started/release-notes#predefined-formats-for-video-analysis-will-be-sunset-and-removed) page.\n\
        </Note>\n\nThis endpoint analyzes videos and generates summaries, chapters, or highlights. Optionally, you can provide\
        \ a prompt to customize the output.\n\n<Note title=\"Note\">\nThis endpoint is rate-limited. For details, see the\
        \ [Rate limits](/v1.3/docs/get-started/rate-limits) page.\n</Note>\n"
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      operationId: summarize
      tags:
      - Analyze videos
      requestBody:
        $ref: '#/components/requestBodies/summarizeRequest'
      responses:
        '200':
          $ref: '#/components/responses/summarizeResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: 'If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response.
            The response body is empty.

            '
  /gist:
    post:
      deprecated: true
      summary: Titles, topics, and hashtags
      description: "<Note title=\"Deprecation notice\">\n  This endpoint will be sunset and removed on February 15, 2026.\
        \ Instead, use the [`POST`](/v1.3/api-reference/analyze-videos/analyze) method of the `/analyze` endpoint, passing\
        \ the [`response_format`](/v1.3/api-reference/analyze-videos/analyze#request.body.response_format) parameter to specify\
        \ the format of the response as structured JSON. For migration instructions, see the [Release notes](/v1.3/docs/get-started/release-notes#predefined-formats-for-video-analysis-will-be-sunset-and-removed)\
        \ page.\n</Note>\n\nThis method analyzes videos and generates titles, topics, and hashtags.\n"
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      operationId: gist
      tags:
      - Analyze videos
      requestBody:
        $ref: '#/components/requestBodies/gistRequest'
      responses:
        '200':
          $ref: '#/components/responses/gistResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: 'If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response.
            The response body is empty.

            '
  /analyze:
    post:
      summary: Open-ended analysis
      description: 'This endpoint analyzes your videos and creates fully customizable text based on your prompts, including
        but not limited to tables of content, action items, memos, and detailed analyses.


        <Note title="Notes">

        - This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.

        - This endpoint supports streaming responses. For details on integrating this feature into your application, refer
        to the [Analyze videos](/v1.3/docs/guides/analyze-videos) page.

        </Note>

        '
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      operationId: generate-text-representation
      tags:
      - Analyze videos
      requestBody:
        $ref: '#/components/requestBodies/analyzeRequest'
      responses:
        '200':
          description: "The specified video has successfully been processed.\n<Note title=\"Note\">\n  The maximum length\
            \ of the response is 4,096 tokens.\n</Note>\n"
          headers:
            X-Ratelimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-Ratelimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-Ratelimit-Used:
              $ref: '#/components/headers/X-Ratelimit-Used'
            X-Ratelimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
            Transfer-Encoding:
              schema:
                type: string
                description: The platform returns this header when the `stream` parameter is set to `true` in the request.
                  It indicates that the response body is sent in chunks.
                default: chunked
                example: chunked
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/StreamAnalyzeResponse'
                - $ref: '#/components/schemas/NonStreamAnalyzeResponse'
              examples:
                non-streaming-response:
                  summary: Non-streamed response
                  value:
                    id: 2a22fd17-7bd4-446a-abd6-b9382cb18f90
                    data: 1. Vlog\n2. Minnesota\n3. Mall of America\n4. Shopping haul\n5. Outdoor adventure
                    finish_reason: stop
                stream-start-response:
                  summary: Stream start
                  value:
                    event_type: stream_start
                    metadata:
                      generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                text-generation-resonse:
                  summary: Text generation
                  value:
                    event_type: text_generation
                    text: light-hearted moments of cats
                stream-end-response:
                  summary: Stream end
                  value:
                    event_type: stream_end
                    finish_reason: stop
                    metadata:
                      generation_id: 2f6d0bdd-aed8-47b1-8124-3c9d8006cdc9
                      usage:
                        output_tokens: 100
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: 'If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response.
            The response body is empty.

            '
  /embed:
    post:
      summary: Create embeddings for text, image, and audio
      description: "<Note title=\"Note\">\n  This endpoint will be deprecated in a future version. Migrate to the [Embed API\
        \ v2](/v1.3/api-reference/create-embeddings-v2) for continued support and access to new features.\n</Note>\n\nThis\
        \ method creates embeddings for text, image, and audio content.\n\nEnsure your media files meet the following requirements:\n\
        - [Audio files](/v1.3/docs/concepts/models/marengo#audio-requirements).\n- [Image files](/v1.3/docs/concepts/models/marengo#image-requirements).\n\
        \nParameters for embeddings:\n- **Common parameters**:\n  - `model_name`: The video understanding model you want to\
        \ use. Example: \"marengo3.0\".\n- **Text embeddings**:\n  - `text`: Text for which to create an embedding.\n- **Image\
        \ embeddings**:\n  Provide one of the following:\n  - `image_url`: Publicly accessible URL of your image file.\n \
        \ - `image_file`:  Local image file.\n- **Audio embeddings**:\n  Provide one of the following:\n  - `audio_url`: Publicly\
        \ accessible URL of your audio file.\n  - `audio_file`: Local audio file.\n\n<Note title=\"Notes\">\n- The Marengo\
        \ video understanding model generates embeddings for all modalities in the same latent space. This shared space enables\
        \ any-to-any searches across different types of content.\n- You can create multiple types of embeddings in a single\
        \ API call.\n- Audio embeddings combine generic sound and human speech in a single embedding. For videos with transcriptions,\
        \ you can retrieve transcriptions and then [create text embeddings](/v1.3/api-reference/create-embeddings-v1/text-image-audio-embeddings/create-text-image-audio-embeddings)\
        \ from these \n- This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits)\
        \ page.\n</Note>\n"
      operationId: create-text-image-audio-embedding
      tags:
      - Create text, image, and audio embeddings
      requestBody:
        $ref: '#/components/requestBodies/createSyncEmbeddingRequest'
      parameters:
      - $ref: '#/components/parameters/multipart'
      responses:
        '200':
          $ref: '#/components/responses/createSyncEmbeddingResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /embed/tasks:
    post:
      summary: Create a video embedding task
      description: "\n<Note title=\"Note\">\n  This endpoint will be deprecated in a future version. Migrate to the [Embed\
        \ API v2](/v1.3/api-reference/create-embeddings-v2) for continued support and access to new features.\n</Note>\n\n\
        This method creates a new video embedding task that uploads a video to the platform and creates one or multiple video\
        \ embeddings.\n\n<Note title=\"Note\">\nThis endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits)\
        \ page.\n</Note>\n\nUpload options:\n- **Local file**: Use the `video_file` parameter\n- **Publicly accessible URL**:\
        \ Use the `video_url` parameter.\n\nSpecify at least one option. If both are provided, `video_url` takes precedence.\n\
        \nYour video files must meet the [requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements).\nThis\
        \ endpoint allows you to upload files up to 2 GB in size.  To upload larger files, use the [Multipart Upload API](/v1.3/api-reference/upload-content/multipart-uploads)\n\
        \n<Note title=\"Notes\">\n- The Marengo video understanding model generates embeddings for all modalities in the same\
        \ latent space. This shared space enables any-to-any searches across different types of content.\n- Video embeddings\
        \ are stored for seven days.\n</Note>\n"
      operationId: create-video-embedding-task
      parameters:
      - $ref: '#/components/parameters/multipart'
      tags:
      - Create video embeddings
      requestBody:
        $ref: '#/components/requestBodies/createVideoEmbeddingTaskRequest'
      responses:
        '200':
          $ref: '#/components/responses/createVideoEmbeddingTaskResponse'
        '400':
          $ref: '#/components/responses/genericError'
    get:
      summary: List video embedding tasks
      description: "<Note title=\"Note\">\n  This method will be deprecated in a future version. Migrate to the [Embed API\
        \ v2](/v1.3/api-reference/create-embeddings-v2) for continued support and access to new features.\n</Note>\nThis method\
        \ returns a list of the video embedding tasks in your account. The platform returns your video embedding tasks sorted\
        \ by creation date, with the newest at the top of the list.\n\n<Note title=\"Notes\">\n- Video embeddings are stored\
        \ for seven days\n- When you invoke this method without specifying the `started_at` and `ended_at` parameters, the\
        \ platform returns all the video embedding tasks created within the last seven days.\n</Note>\n"
      operationId: list-video-embedding-tasks
      tags:
      - Create video embeddings
      parameters:
      - $ref: '#/components/parameters/started_at'
      - $ref: '#/components/parameters/ended_at'
      - $ref: '#/components/parameters/embedding_tasks_filter_status'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/page_limit'
      responses:
        '200':
          $ref: '#/components/responses/listAsyncEmbeddingTasksResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /embed/tasks/{task_id}/status:
    get:
      summary: Retrieve the status of a video embedding task
      description: "<Note title=\"Note\">\n  This endpoint will be deprecated in a future version. Migrate to the [Embed API\
        \ v2](/v1.3/api-reference/create-embeddings-v2) for continued support and access to new features.\n</Note>\nThis method\
        \ retrieves the status of a video embedding task. Check the task status of a video embedding task to determine when\
        \ you can retrieve the embedding.\n\nA task can have one of the following statuses:\n- `processing`: The platform\
        \ is creating the embeddings.\n- `ready`:  Processing is complete. Retrieve the embeddings by invoking the [`GET`](/v1.3/api-reference/create-embeddings-v1/video-embeddings/retrieve-video-embeddings)\
        \ method of the `/embed/tasks/{task_id} endpoint`.\n- `failed`: The task could not be completed, and the embeddings\
        \ haven't been created.\n"
      operationId: retrieve-video-embedding-task
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/video-embedding-task-id'
      tags:
      - Create video embeddings
      responses:
        '200':
          $ref: '#/components/responses/retrieveVideoEmbeddingTaskStatusResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /embed/tasks/{task_id}:
    get:
      summary: Retrieve video embeddings
      description: 'This method retrieves embeddings for a specific video embedding task. Ensure the task status is `ready`
        before invoking this method. Refer to the [Retrieve the status of a video embedding tasks](/v1.3/api-reference/create-embeddings-v1/video-embeddings/retrieve-video-embedding-task-status)
        page for instructions on checking the task status.

        '
      operationId: retrieve-video-embedding
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - $ref: '#/components/parameters/video-embedding-task-id'
      - $ref: '#/components/parameters/embedding_option'
      tags:
      - Create video embeddings
      responses:
        '200':
          $ref: '#/components/responses/retrieveVideoEmbeddingResponse'
        '400':
          $ref: '#/components/responses/genericError'
  /search:
    post:
      summary: Make any-to-video search requests
      description: "Use this endpoint to search for relevant matches in an index using text, media, or a combination of both\
        \ as your query.\n\n**Text queries**:\n- Use the `query_text` parameter to specify your query.\n\n**Media queries**:\n\
        - Set the `query_media_type` parameter to the corresponding media type (example: `image`).\n- Specify either one of\
        \ the following parameters:\n  - `query_media_url`: Publicly accessible URL of your media file.\n  - `query_media_file`:\
        \ Local media file.\n  If both `query_media_url` and `query_media_file` are specified in the same request, `query_media_url`\
        \ takes precedence.\n\n**Composed text and media queries** (Marengo 3.0 only):\n- Use the `query_text` parameter for\
        \ your text query.\n- Set `query_media_type` to `image`.\n- Specify the image using either the `query_media_url` or\
        \ the `query_media_file` parameter.\n\n  Example: Provide an image of a car and include  \"red color\"  in your query\
        \ to find red instances of that car model.\n\n**Entity search** (Marengo 3.0 only and in beta):\n\n- To find a specific\
        \ person in your videos, enclose the unique identifier of the entity you want to find in the `query_text` parameter.\n\
        \n<Note title=\"Notes\">\n- When using images in your search queries (either as media queries or in composed searches),\
        \ ensure your image files meet the [requirements](/v1.3/docs/concepts/models/marengo#image-file-requirements).\n-\
        \ This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.\n</Note>\n"
      operationId: any-to-video-search
      parameters:
      - $ref: '#/components/parameters/multipart'
      tags:
      - Any-to-video search
      requestBody:
        $ref: '#/components/requestBodies/any-to-video-search'
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponse'
        '400':
          $ref: '#/components/responses/genericError'
        '429':
          description: 'If the rate limit is reached, the platform returns an `HTTP 429 - Too many requests` error response.
            The response body is empty.

            '
      x-pp-resource: video_search
  /search/{page-token}:
    get:
      summary: Retrieve a specific page of search results
      tags:
      - Any-to-video search
      description: 'Use this endpoint to retrieve a specific page of search results.


        <Note title="Note">

        When you use pagination, you will not be charged for retrieving subsequent pages of results.

        </Note>

        '
      operationId: any-to-video--retrieve-specific-page
      parameters:
      - $ref: '#/components/parameters/Content-Type'
      - name: page-token
        in: path
        required: true
        description: 'A token that identifies the page to retrieve.

          '
        schema:
          type: string
          example: '1234567890'
      - name: include_user_metadata
        in: query
        required: false
        description: 'Specifies whether to include user-defined metadata in the search results.

          '
        schema:
          type: boolean
          example: true
      responses:
        '200':
          $ref: '#/components/responses/searchResultsResponsePageId'
        '400':
          $ref: '#/components/responses/searchResultsError'
      x-pp-resource: video_search
  /embed-v2:
    post:
      tags:
      - Create embeddings
      summary: Create sync embeddings
      description: "This endpoint synchronously creates embeddings for multimodal content and returns the results immediately\
        \ in the response.\n\n<Note title=\"Note\">\n  This method only supports Marengo version 3.0 or newer.\n</Note>\n\n\
        **When to use this endpoint**:\n- Create embeddings for text, images, audio, or video content\n- Get immediate results\
        \ without waiting for background processing\n- Process audio or video content up to 10 minutes in duration\n\n**Do\
        \ not use this endpoint for**:\n- Audio or video content longer than 10 minutes. Use the [`POST`](/v1.3/api-reference/create-embeddings-v2/create-async-embedding-task)\
        \ method of the `/embed-v2/tasks` endpoint instead.\n\n<Accordion title=\"Input requirements\">\n  **Text**:\n  -\
        \ Maximum length: 500 tokens\n\n  **Images**:\n  - Formats: JPEG, PNG\n  - Minimum size: 128x128 pixels\n  - Maximum\
        \ file size: 5 MB\n\n  **Audio and video**:\n  - Maximum duration: 10 minutes\n  - Maximum file size for base64 encoded\
        \ strings: 36 MB\n  - Audio formats: WAV (uncompressed), MP3 (lossy), FLAC (lossless)\n  - Video formats: [FFmpeg\
        \ supported formats](https://ffmpeg.org/ffmpeg-formats.html)\n  - Video resolution: 360x360 to 5184x2160 pixels\n\
        \  - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1\n</Accordion>\n\n<Note title=\"Note\">\nThis endpoint\
        \ is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.\n</Note>\n"
      operationId: create-embeddings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingsRequest'
            examples:
              text:
                summary: Text example
                value:
                  input_type: text
                  model_name: marengo3.0
                  text:
                    input_text: man walking a dog
              image:
                summary: Image via publicly accessible URL
                value:
                  input_type: image
                  model_name: marengo3.0
                  image:
                    media_source:
                      url: https://user-bucket.com/folder/dog.jpg
              text_image:
                summary: Text and image via publicly accessible URL
                value:
                  input_type: text_image
                  model_name: marengo3.0
                  text_image:
                    media_source:
                      url: https://user-bucket.com/folder/dog.jpg
                    input_text: man walking a dog
              image_with_asset_id:
                summary: Image with asset id
                value:
                  input_type: image
                  model_name: marengo3.0
                  image:
                    media_source:
                      asset_id: '1234567890'
              audio:
                summary: Audio with fixed segmentation
                value:
                  input_type: audio
                  model_name: marengo3.0
                  audio:
                    media_source:
                      url: https://user-bucket.com/audio/a.wav
                    start_sec: 0
                    end_sec: 6
                    segmentation:
                      strategy: fixed
                      fixed:
                        duration_sec: 6
                    embedding_option:
                    - audio
                    - transcription
                    embedding_scope:
                    - clip
                    - asset
              video:
                summary: Video with dynamic segmentation
                value:
                  input_type: video
                  model_name: marengo3.0
                  video:
                    media_source:
                      url: https://user-bucket.com/video/clip.mp4
                    start_sec: 0
                    end_sec: 12
                    segmentation:
                      strategy: dynamic
                      dynamic:
                        min_duration_sec: 4
                    embedding_option:
                    - visual
                    - audio
                    - transcription
                    embedding_scope:
                    - clip
                    - asset
              video_minimal:
                summary: Video with minimal configuration
                value:
                  input_type: video
                  model_name: marengo3.0
                  video:
                    media_source:
                      url: https://user-bucket.com/video/simple.mp4
              audio_transcription_only:
                summary: Audio with transcription embeddings only
                value:
                  input_type: audio
                  model_name: marengo3.0
                  audio:
                    media_source:
                      url: https://user-bucket.com/audio/speech.wav
                    embedding_option:
                    - transcription
                    embedding_scope:
                    - asset
      responses:
        '200':
          description: Successful request; normal operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingSuccessResponse'
              examples:
                text_embedding:
                  summary: Text embedding response
                  value:
                    data:
                    - embedding:
                      - 0.111
                      - 0.234
                      - -0.567
                      - 0.89
                      embedding_option: null
                      embedding_scope: null
                      start_sec: null
                      end_sec: null
                video_clip_embedding:
                  summary: Video clip embedding response
                  value:
                    data:
                    - embedding:
                      - 0.123
                      - -0.456
                      - 0.789
                      - 0.012
                      embedding_option: visual
                      embedding_scope: clip
                      start_sec: 0
                      end_sec: 4.2
                    - embedding:
                      - 0.234
                      - 0.567
                      - -0.89
                      - 0.123
                      embedding_option: audio
                      embedding_scope: clip
                      start_sec: 0
                      end_sec: 4.2
                    - embedding:
                      - 0.345
                      - -0.678
                      - 0.901
                      - 0.234
                      embedding_option: transcription
                      embedding_scope: clip
                      start_sec: 0
                      end_sec: 4.2
                audio_asset_embedding:
                  summary: Audio asset embedding response
                  value:
                    data:
                    - embedding:
                      - 0.345
                      - -0.678
                      - 0.901
                      - 0.234
                      embedding_option: audio
                      embedding_scope: asset
                      start_sec: 0
                      end_sec: 6
                    - embedding:
                      - 0.123
                      - -0.456
                      - 0.789
                      - 0.012
                      embedding_option: transcription
                      embedding_scope: asset
                      start_sec: 0
                      end_sec: 6
        '400':
          description: Validation failure or inaccessible artifact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                validation_error:
                  summary: Validation error
                  value:
                    error:
                      code: VALIDATION_ERROR
                      message: 'Invalid input_type. Must be one of: text, image, audio, video'
                      details:
                        field: input_type
                        value: invalid_type
        '429':
          description: Client exceeded rate limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: RATE_LIMIT_EXCEEDED
                  message: Too many requests. Please try again later.
                  details:
                    retryAfter: '60'
                    currentLimit: 100 requests per minute
        '500':
          description: Unhandled edge or corner case
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: INTERNAL_SERVER_ERROR
                  message: An unexpected error occurred while processing your request
                  details:
                    requestId: req_abc123
  /embed-v2/tasks:
    post:
      tags:
      - Create embeddings
      summary: Create an async embedding task
      description: "This endpoint creates embeddings for audio and video content asynchronously.\n\n<Note title=\"Note\">\n\
        \  This method only supports Marengo version 3.0 or newer.\n</Note>\n\n**When to use this endpoint**:\n- Process audio\
        \ or video files longer than 10 minutes\n- Process files up to 4 hours in duration\n\n<Accordion title=\"Input requirements\"\
        >\n  **Video**:\n  - Minimum duration: 4 seconds\n  - Maximum duration: 4 hours\n  - Maximum file size: 4 GB\n  -\
        \ Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)\n  - Resolution: 360x360 to 5184x2160\
        \ pixels\n  - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1\n\n  **Audio**:\n  - Minimum duration:\
        \ 4 seconds\n  - Maximum duration: 4 hours\n  - Maximum file size: 2 GB\n  - Formats: WAV (uncompressed), MP3 (lossy),\
        \ FLAC (lossless)\n</Accordion>\n\n  Creating embeddings asynchronously requires three steps:\n  \n  1. Create a task\
        \ using this endpoint. The platform returns a task ID.\n  2. Poll for the status of the task using the [`GET`](/v1.3/api-reference/create-embeddings-v2/retrieve-embeddings)\
        \ method of the `/embed-v2/tasks/{task_id}` endpoint. Wait until the status is `ready`.\n  3. Retrieve the embeddings\
        \ from the response when the status is `ready` using the [`GET`](/v1.3/api-reference/create-embeddings-v2/retrieve-embeddings)\
        \ method of the `/embed-v2/tasks/{task_id}` endpoint.\n\n  <Note title=\"Note\">\n  This endpoint is rate-limited.\
        \ For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.\n  </Note>\n"
      operationId: create-async-embedding-task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAsyncEmbeddingRequest'
            examples:
              audio:
                summary: Audio with fixed segmentation
                value:
                  input_type: audio
                  model_name: marengo3.0
                  audio:
                    media_source:
                      url: https://user-bucket.com/audio/long-audio.wav
[...]
