openapi: 3.0.0
info:
  contact: {}
  title: ""
  version: ""
servers:
  - url: https://mcp-bff.gojinko.com
    description: Production
  - url: https://mcp-bff.dev.gojinko.com
    description: Development
paths:
  "/api/v1/devplatform/admin/users/{id}/role":
    patch:
      description: Update the role of a devplatform user (admin only)
      parameters:
        - description: User ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateRoleRequest"
        description: New role
        required: true
      responses:
        "200":
          description: id and role
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Update a user's role
      tags:
        - devplatform_admin
  "/api/v1/devplatform/admin/users/{id}/topup":
    post:
      description: Add credits to a user's rate limit balance (admin only)
      parameters:
        - description: User ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TopupRequest"
        description: Top-up amount
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Top up user credits
      tags:
        - devplatform_admin
  /api/v1/devplatform/keys/validate:
    post:
      description: Validate an API key without incrementing rate limit counter
        (public, no auth required)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyKeyRequest"
        description: API key to validate
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyKeyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Validate an API key without consuming quota
      tags:
        - devplatform_keys
  /api/v1/devplatform/keys/verify:
    post:
      description: Verify an API key and increment rate limit counter (public, no auth
        required)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyKeyRequest"
        description: API key to verify
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyKeyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Verify an API key
      tags:
        - devplatform_keys
  /api/v1/devplatform/orgs:
    get:
      description: List all devplatform organizations (admin only)
      responses:
        "200":
          description: orgs array
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: List all organizations
      tags:
        - devplatform_orgs
    post:
      description: Create a new devplatform organization (admin only)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrgRequest"
        description: Organization creation payload
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create an organization
      tags:
        - devplatform_orgs
  "/api/v1/devplatform/orgs/{id}":
    get:
      description: Get organization details by ID (org_admin or admin)
      parameters:
        - description: Organization ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrgResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get an organization
      tags:
        - devplatform_orgs
  "/api/v1/devplatform/orgs/{id}/admins":
    patch:
      description: Assign a user as admin of an organization by WorkOS ID (admin only)
      parameters:
        - description: Organization ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssignOrgAdminRequest"
        description: WorkOS user ID to assign as admin
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Assign an org admin
      tags:
        - devplatform_orgs
  "/api/v1/devplatform/orgs/{id}/partner-keys":
    post:
      description: Create a partner API key that can be used to create shadow users
        (admin only)
      parameters:
        - description: Organization ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePartnerKeyRequest"
        description: Partner key name
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKeyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create a partner API key for an organization
      tags:
        - devplatform_orgs
  "/api/v1/devplatform/orgs/{id}/users":
    get:
      description: List all users belonging to an organization (org_admin or admin)
      parameters:
        - description: Organization ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: users array
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: List users in an organization
      tags:
        - devplatform_orgs
    post:
      description: Create a shadow user that can later be claimed by a real identity
        (partner key or admin auth)
      parameters:
        - description: Organization ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateShadowUserRequest"
        description: Shadow user details
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create a shadow user in an organization
      tags:
        - devplatform_orgs
  "/api/v1/devplatform/orgs/{id}/users/{user_id}/keys/{key_id}":
    delete:
      description: Revoke an API key for a specific user in an organization (org_admin
        or admin)
      parameters:
        - description: Organization ID
          in: path
          name: id
          required: true
          schema:
            type: integer
        - description: User ID
          in: path
          name: user_id
          required: true
          schema:
            type: integer
        - description: API Key ID
          in: path
          name: key_id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: message
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Revoke a user's API key within an organization
      tags:
        - devplatform_orgs
  /api/v1/devplatform/users:
    get:
      description: List all users or filter by status (pending, active, suspended).
        Admin only.
      parameters:
        - description: Filter by status (pending, active, suspended)
          in: query
          name: status
          schema:
            type: string
      responses:
        "200":
          description: users array
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: List devplatform users
      tags:
        - devplatform_users
    post:
      description: Create a new developer platform user (admin only)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserRequest"
        description: User creation payload
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create a new devplatform user
      tags:
        - devplatform_users
  "/api/v1/devplatform/users/{workos_id}/approve":
    patch:
      description: Approve a pending devplatform user by WorkOS ID (admin only)
      parameters:
        - description: WorkOS User ID
          in: path
          name: workos_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Approve a pending user
      tags:
        - devplatform_users
  "/api/v1/devplatform/users/{workos_id}/keys/resolve":
    get:
      description: Resolve the active API key for a user by WorkOS ID (admin only)
      parameters:
        - description: WorkOS User ID
          in: path
          name: workos_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KeyListItem"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Resolve active API key for a user
      tags:
        - devplatform_keys
  /api/v1/devplatform/users/me:
    get:
      description: Get the devplatform user profile for the authenticated JWT user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get current authenticated user
      tags:
        - devplatform_users
  /api/v1/devplatform/users/me/claim:
    post:
      description: Link a real WorkOS identity to an existing shadow user account.
        Email is taken from JWT, not request body.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Claim a shadow user account
      tags:
        - devplatform_users
  /api/v1/devplatform/users/me/keys:
    get:
      description: List all API keys for the authenticated user
      responses:
        "200":
          description: keys array
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: List API keys
      tags:
        - devplatform_keys
    post:
      description: Create a new API key for the authenticated user
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateKeyRequest"
        description: Key creation payload
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateKeyResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create a new API key
      tags:
        - devplatform_keys
  "/api/v1/devplatform/users/me/keys/{id}":
    delete:
      description: Revoke an API key by ID for the authenticated user
      parameters:
        - description: API Key ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: message
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Revoke an API key
      tags:
        - devplatform_keys
  /api/v1/devplatform/users/me/register:
    post:
      description: Self-register a new devplatform account using the authenticated JWT
        identity
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                name:
                  type: string
              type: object
        description: Registration payload (email required)
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Register a new developer account
      tags:
        - devplatform_users
  /api/v1/devplatform/users/me/usage:
    get:
      description: Get API usage and rate limit statistics for the authenticated user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get API usage statistics
      tags:
        - devplatform_users
  /api/v1/devplatform/users/status:
    post:
      description: Check whether a devplatform user exists and their current status
        (public, no auth)
      requestBody:
        content:
          application/json:
            schema:
              properties:
                workos_user_id:
                  type: string
              type: object
        description: WorkOS user ID
        required: true
      responses:
        "200":
          description: id, workos_user_id, status
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Check user status by WorkOS ID
      tags:
        - devplatform_users
  /api/v1/flights/check:
    post:
      description: Check a flight offer from search results to get confirmed
        availability and detailed fare options
      parameters:
        - description: Target a specific provider (sabre, travelfusion). When omitted, all
            enabled providers are called.
          in: query
          name: provider
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlightCheckRequest"
        description: Flight check request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlightCheckResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Check flight availability and get detailed pricing
      tags:
        - flights
  /api/v1/flights/destination-search:
    post:
      description: Search for destination cities with cheapest flight options based on
        filter criteria
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DestinationSearchRequest"
        description: Destination search request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestinationSearchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Search destinations by flight criteria
      tags:
        - flights
  /api/v1/flights/refund-check:
    post:
      description: Check whether a flight booking is eligible for a refund and get the
        refund amount
      parameters:
        - description: Target a specific provider (sabre, travelfusion). When omitted,
            uses request body provider field.
          in: query
          name: provider
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefundCheckRequest"
        description: Refund check request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RefundCheckResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Check flight refund eligibility
      tags:
        - flights
  /api/v1/flights/search:
    post:
      description: Search flights with filter-based criteria
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlightSearchRequest"
        description: Flight search request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlightSearchResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Search flights (synchronous, filter-based)
      tags:
        - flights
  /api/v1/hotels/semantic-search:
    post:
      description: Search hotels with a natural-language query (e.g. "beach
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SemanticSearchRequest"
        description: Semantic search request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SemanticSearchResult"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
      summary: Semantic hotel search
      tags:
        - hotels
  /api/v1/hotels/shop:
    post:
      description: Search hotels by destination and return available rooms with live pricing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShopRequest"
        description: Hotel shop request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HotelShopResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Shop hotel rates
      tags:
        - hotels
  "/api/v1/payment/authorization/{id}":
    get:
      description: Retrieve payment authorization information by ID
      parameters:
        - description: Payment Authorization ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAuthorization"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get payment authorization by ID
      tags:
        - payment
  "/api/v1/payment/authorization/{id}/capture":
    post:
      description: Capture an authorized payment (full or partial amount)
      parameters:
        - description: Payment Authorization ID
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Amount"
        description: Amount to capture (optional, defaults to full amount)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentCapture"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Capture payment
      tags:
        - payment
  "/api/v1/payment/authorization/{id}/status":
    get:
      description: Check the current status of a payment from Stripe and update local record
      parameters:
        - description: Payment Authorization ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAuthorization"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Check payment status
      tags:
        - payment
  /api/v1/payment/authorize:
    post:
      description: Create a payment authorization for a quote using Stripe
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentAuthorizationRequest"
        description: Payment authorization request
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAuthorizationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create payment authorization
      tags:
        - payment
  /api/v1/payment/cart/authorize:
    post:
      description: Create a payment authorization for a shopping cart quote using Stripe
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartPaymentAuthorizationRequest"
        description: Cart payment authorization request
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAuthorizationResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create payment authorization for cart
      tags:
        - payment
  "/api/v1/payment/quote/{quote_id}":
    get:
      description: Retrieve payment authorization information by quote ID
      parameters:
        - description: Quote ID
          in: path
          name: quote_id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentAuthorization"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get payment authorization by quote ID
      tags:
        - payment
  /api/v1/payment/stripe/client-secret:
    post:
      description: Get the Stripe client secret (PaymentIntent flow) or checkout URL
        (Checkout Session flow)
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientSecretRequest"
        description: Client secret request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientSecretResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get client secret or checkout URL
      tags:
        - payment
  "/api/v1/shop/{cart_id}/quoted/{quoted_item_id}/ancillaries":
    put:
      description: Replace all ancillary selections on a quoted cart item
        (full-replace semantics)
      parameters:
        - description: Cart ID
          in: path
          name: cart_id
          required: true
          schema:
            type: integer
        - description: Quoted Cart Item ID
          in: path
          name: quoted_item_id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelectAncillariesRequest"
        description: Ancillary selections
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SelectAncillariesResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Select ancillaries for a quoted item
      tags:
        - shopping_cart_ancillaries
  /api/v1/shop/fulfillment/confirm-payment:
    post:
      description: Verify payment with Stripe API and transition fulfillment from
        awaiting_payment to processing
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmPaymentRequest"
        description: Confirm payment request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmPaymentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Confirm payment and trigger booking
      tags:
        - shopping_cart_fulfillment
  /api/v1/shop/fulfillment/pull:
    post:
      description: Retrieve current fulfillment orchestration status and results
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PullFulfillmentRequest"
        description: Pull fulfillment request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullFulfillmentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Pull fulfillment results
      tags:
        - shopping_cart_fulfillment
  /api/v1/shop/fulfillment/schedule:
    post:
      description: Schedule fulfillment orchestration for all successfully quoted products
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleFulfillmentRequest"
        description: Schedule fulfillment request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleFulfillmentResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Schedule fulfillment orchestration
      tags:
        - shopping_cart_fulfillment
  /api/v1/shop/quote/pull:
    post:
      description: Retrieve current quote orchestration status and results
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PullQuoteRequest"
        description: Pull quote request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullQuoteResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Pull quote results
      tags:
        - shopping_cart_quotes
  /api/v1/shop/quote/schedule:
    post:
      description: Schedule quote orchestration for all products in a cart
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScheduleQuoteRequest"
        description: Schedule quote request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScheduleQuoteResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Schedule quote orchestration
      tags:
        - shopping_cart_quotes
  /api/v1/shopping_cart/shop:
    post:
      description: Create a new shopping cart bound to a session
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartCreateRequest"
        description: Cart create request
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartCreateResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "409":
          description: Cart already exists
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartCreateResponse"
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Create shopping cart
      tags:
        - shopping_cart
  "/api/v1/shopping_cart/shop/{cart_id}":
    get:
      description: Retrieve a shopping cart with its products
      parameters:
        - description: Cart ID
          in: path
          name: cart_id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartGetResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get shopping cart
      tags:
        - shopping_cart
    put:
      description: Add a product to an existing shopping cart
      parameters:
        - description: Cart ID
          in: path
          name: cart_id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddProductRequest"
        description: Add product request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProductResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Add product to cart
      tags:
        - shopping_cart
  "/api/v1/shopping_cart/shop/{cart_id}/{product_id}":
    delete:
      description: Remove a product from the shopping cart (soft delete)
      parameters:
        - description: Cart ID
          in: path
          name: cart_id
          required: true
          schema:
            type: integer
        - description: Product ID
          in: path
          name: product_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartGetResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Remove product from cart
      tags:
        - shopping_cart
    get:
      description: Retrieve a specific product's details from the cart
      parameters:
        - description: Cart ID
          in: path
          name: cart_id
          required: true
          schema:
            type: integer
        - description: Product ID
          in: path
          name: product_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CartProduct"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Get product from cart
      tags:
        - shopping_cart
  "/api/v1/shopping_cart/shop/{cart_id}/travelers":
    put:
      description: Update contact info and/or travelers on a shopping cart
      parameters:
        - description: Cart ID
          in: path
          name: cart_id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartUpdateTravelersRequest"
        description: Update travelers request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
      summary: Update cart travelers
      tags:
        - shopping_cart
  /devplatform/flights/shop:
    post:
      description: Unified flight shop endpoint. When offer_token is present the
        handler re-prices that offer (price-check mode); otherwise it performs a
        live search by route with optional JIN-187 filter fields (cabin_class,
        direct_only, max_price, include_carriers, exclude_carriers).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShopFlightRequest"
        description: Shop flight request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShopFlightResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Shop for flights or re-price an offer
      tags:
        - devplatform-flights
  /shop/sync:
    post:
      description: Unified trip management endpoint. Accepts create / add_product /
        remove_product / set_travelers / remove_travelers actions and returns
        the resulting trip state.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TripRequest"
        description: Trip request
        required: true
      responses:
        "200":
          description: Trip updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripResponse"
        "201":
          description: Trip created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Create or update a trip (cart)
      tags:
        - devplatform-trips
  "/shop/sync/{id}":
    get:
      parameters:
        - description: Trip (cart) ID
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TripResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Retrieve a trip by ID
      tags:
        - devplatform-trips
  /shop/sync/ancillaries:
    post:
      description: Selects or updates ancillaries (seats, bags, meals, assistance) for
        a trip item. The body references a trip_id and trip_item_token and
        provides the desired selection; the handler validates the selection
        against the item's available ancillary inventory.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AncillaryRequest"
        description: Ancillary selection request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AncillaryResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Select ancillaries for a trip item
      tags:
        - devplatform-trips
  /shop/sync/checkout:
    post:
      description: Starts the checkout flow for a trip (cart), creating a Stripe
        Checkout Session or PaymentIntent depending on the configured
        authorisation type.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckoutRequest"
        description: Checkout request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckoutResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Checkout a trip and create a payment authorisation
      tags:
        - devplatform-trips
  /travelers:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelerListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: List traveler profiles for the authenticated user
      tags:
        - travelers
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTravelerRequest"
        description: Create traveler request
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelerResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Create a traveler profile
      tags:
        - travelers
  "/travelers/{id}":
    delete:
      parameters:
        - description: Traveler ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          content:
            "*/*":
              schema:
                additionalProperties:
                  type: string
                type: object
        "401":
          description: Unauthorized
          content:
            "*/*":
              schema:
                additionalProperties:
                  type: string
                type: object
        "403":
          description: Forbidden
          content:
            "*/*":
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            "*/*":
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Delete a traveler profile
      tags:
        - travelers
    get:
      parameters:
        - description: Traveler ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelerResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Retrieve a traveler profile by ID
      tags:
        - travelers
    put:
      parameters:
        - description: Traveler ID
          in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTravelerRequest"
        description: Update traveler request
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TravelerResponse"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
      summary: Update a traveler profile
      tags:
        - travelers
components:
  schemas:
    AddProductRequest:
      properties:
        attributes:
          additionalProperties: true
          type: object
        domain:
          $ref: "#/components/schemas/ProductDomain"
        reference_id:
          type: string
        snapshot:
          additionalProperties: true
          type: object
      required:
        - domain
      type: object
    AddProductResponse:
      properties:
        product_id:
          type: string
        status:
          $ref: "#/components/schemas/ProductStatus"
      type: object
    AdviceQuantiles:
      properties:
        max_fare:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: MaxFare is the highest fare seen for this route (in display currency)
        min_fare:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: MinFare is the lowest fare seen for this route (in display currency)
        percentile_25:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Percentile25 is the 25th percentile fare (in display currency)
        percentile_50:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Percentile50 is the median fare (in display currency)
        percentile_75:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Percentile75 is the 75th percentile fare (in display currency)
      type: object
    Amount:
      properties:
        currency:
          description: Currency code (ISO 4217)
          type: string
        decimal_places:
          description: |-
            Number of decimal places for this currency
            Common values: 2 for USD/EUR/GBP, 0 for JPY/KRW, 3 for BHD/KWD
          maximum: 4
          minimum: 0
          type: integer
        value:
          description: |-
            Value in smallest currency unit (e.g., cents for USD, yen for JPY)
            Example: 120.34 EUR = 12034, 1000 JPY = 1000
          type: integer
      required:
        - currency
      type: object
    AmountInfo:
      properties:
        currency:
          type: string
        decimal_places:
          type: integer
        value:
          type: integer
      type: object
    Ancillary:
      properties:
        applicable_pax_types:
          description: nil = all pax types
          items:
            type: string
          type: array
        assistance_details:
          $ref: "#/components/schemas/AssistanceDetails"
        baggage_details:
          allOf:
            - $ref: "#/components/schemas/BaggageDetails"
          description: Type-specific details (only the relevant one is populated)
        category:
          allOf:
            - $ref: "#/components/schemas/AncillaryCategory"
          description: BAGGAGE, SEAT, MEAL, ...
        description:
          description: optional longer description
          type: string
        journey_ref_id:
          description: '"outward", "return", nil = all'
          type: string
        label:
          description: human-readable, e.g. "1 bag - 23kg"
          type: string
        max_quantity:
          description: Constraints
          type: integer
        meal_details:
          $ref: "#/components/schemas/MealDetails"
        mutually_exclusive:
          description: conflicting offer_ids
          items:
            type: string
          type: array
        offer_id:
          description: Identity
          type: string
        price:
          allOf:
            - $ref: "#/components/schemas/Money"
          description: Pricing
        provider_metadata:
          additionalProperties:
            type: string
          description: Provider-specific opaque data — passed through to booking
          type: object
        scope:
          allOf:
            - $ref: "#/components/schemas/AncillaryScope"
          description: Scope — defines who/what this applies to
        seat_details:
          $ref: "#/components/schemas/SeatDetails"
        segment_ref_ids:
          description: nil = all segments
          items:
            type: string
          type: array
      type: object
    AncillaryCategory:
      enum:
        - BAGGAGE
        - SEAT
        - MEAL
        - CABIN_BAG_UPGRADE
        - SPORTS_EQUIPMENT
        - PRIORITY_BOARDING
        - SPECIAL_ASSISTANCE
        - INSURANCE
        - LOUNGE
        - FREQUENT_FLYER
        - OTHER
      type: string
      x-enum-varnames:
        - AncillaryCategoryBaggage
        - AncillaryCategorySeat
        - AncillaryCategoryMeal
        - AncillaryCategoryCabinBagUpgrade
        - AncillaryCategorySportsEquipment
        - AncillaryCategoryPriorityBoarding
        - AncillaryCategorySpecialAssistance
        - AncillaryCategoryInsurance
        - AncillaryCategoryLounge
        - AncillaryCategoryFrequentFlyer
        - AncillaryCategoryOther
    AncillaryOffer:
      properties:
        description:
          type: string
        label:
          type: string
        max_quantity:
          type: integer
        offer_id:
          type: string
        per_pax:
          type: boolean
        price_per_unit:
          $ref: "#/components/schemas/DevPlatformMoney"
        type:
          description: '"bag" | "seat" | "meal" | "assistance" | ...'
          type: string
      type: object
    AncillaryRequest:
      properties:
        selections:
          items:
            $ref: "#/components/schemas/SelectedAncillary"
          type: array
        trip_id:
          type: string
      required:
        - trip_id
      type: object
    AncillaryResponse:
      properties:
        quoted_item_id:
          type: integer
        selected_ancillaries:
          items:
            $ref: "#/components/schemas/SelectedAncillary"
          type: array
        total_with_ancillaries:
          $ref: "#/components/schemas/Money"
        trip_id:
          type: string
      type: object
    AncillaryScope:
      enum:
        - PER_PAX_PER_SEGMENT
        - PER_PAX_PER_JOURNEY
        - PER_PAX_PER_BOOKING
        - PER_BOOKING
      type: string
      x-enum-varnames:
        - AncillaryScopePerPaxPerSegment
        - AncillaryScopePerPaxPerJourney
        - AncillaryScopePerPaxPerBooking
        - AncillaryScopePerBooking
    AssignOrgAdminRequest:
      properties:
        workos_user_id:
          type: string
      required:
        - workos_user_id
      type: object
    AssistanceDetails:
      properties:
        description:
          description: e.g. "Wheelchair to aircraft cabin seat"
          type: string
        ssr_code:
          description: WCHR, WCHS, WCHC, BLND, DEAF
          type: string
      type: object
    AuditEntry:
      properties:
        action:
          type: string
        actor_id:
          type: string
        details:
          type: string
        timestamp:
          type: string
      type: object
    AuthorizationType:
      enum:
        - payment_intent
        - checkout_session
        - refund
      type: string
      x-enum-varnames:
        - AuthorizationTypePaymentIntent
        - AuthorizationTypeCheckoutSession
        - AuthorizationTypeRefund
    BaggageDetails:
      properties:
        dimensions:
          type: string
        pieces:
          type: integer
        weight_kg:
          type: integer
        weight_lb:
          type: integer
      type: object
    BaggageInfo:
      properties:
        description:
          description: Description for display
          type: string
        id:
          description: Unique identifier (required for purchasable options)
          type: string
        is_included:
          description: Whether baggage is included in fare
          type: boolean
        journey_id:
          description: Journey this applies to (if journey-specific)
          type: string
        pieces:
          description: Number of pieces
          type: integer
        price_per_bag:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Price per bag
        segment_id:
          description: Segment this applies to (if segment-specific)
          type: string
        total_price:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Total price
        weight:
          description: Weight per piece
          type: number
        weight_unit:
          description: Weight unit (KG, LB, or PC)
          type: string
      type: object
    CabinType:
      enum:
        - economy
        - premium_economy
        - business
        - first
      type: string
      x-enum-varnames:
        - CabinTypeEconomy
        - CabinTypePremiumEconomy
        - CabinTypeBusiness
        - CabinTypeFirst
    CancellationDetails:
      properties:
        cancellation_id:
          type: string
        cancelled_at:
          type: string
        initiated_by:
          type: string
        reason:
          type: string
        refund_amount:
          $ref: "#/components/schemas/Money"
      type: object
    CarrierInfo:
      properties:
        code:
          description: Airline code (IATA or ICAO)
          type: string
        is_lcc:
          description: Whether the airline is a low-cost carrier
          type: boolean
        logo:
          description: URL to the airline logo
          type: string
        name:
          description: Airline name
          type: string
      type: object
    CarryOnBaggage:
      properties:
        description:
          description: Description for display
          type: string
        dimensions:
          description: Dimensions of the carry-on bag (e.g., "25 x 33 x 20 cm")
          type: string
        pieces:
          description: Number of carry-on pieces allowed
          type: integer
        weight:
          description: Weight limit per piece
          type: number
        weight_unit:
          description: Weight unit (KG or LB)
          type: string
      type: object
    CartCreateRequest:
      properties:
        metadata:
          additionalProperties: true
          type: object
        payment_type:
          $ref: "#/components/schemas/PaymentType"
        platform:
          $ref: "#/components/schemas/CartPlatform"
        session_id:
          type: string
        source:
          $ref: "#/components/schemas/CartSource"
        tenant:
          type: string
        user_id:
          type: string
      required:
        - platform
        - session_id
        - source
        - tenant
      type: object
    CartCreateResponse:
      properties:
        cart_id:
          type: integer
        status:
          $ref: "#/components/schemas/CartStatus"
      type: object
    CartGetResponse:
      properties:
        cart_id:
          type: integer
        contact_info:
          additionalProperties: true
          type: object
        fulfillment_status:
          type: string
        items:
          items:
            $ref: "#/components/schemas/UnifiedCartItem"
          type: array
        quote_status:
          type: string
        quoted_cart_id:
          description: >-
            QuotedCartID is the ID of the most recent quoted cart for this cart.

            Nil when no quote has been scheduled yet. Required by callers that need

            to invoke /fulfillment/schedule, which expects both cart_id and

            quoted_cart_id in its request body.
          type: integer
        session_id:
          type: string
        tenant:
          type: string
        total_sell_at:
          allOf:
            - $ref: "#/components/schemas/Money"
          description: |-
            TotalSellAt is the ancillary-inclusive sum of all item totals.
            Nil when no items have a quote.
        travelers:
          items:
            additionalProperties: true
            type: object
          type: array
      type: object
    CartPaymentAuthorizationRequest:
      properties:
        amount:
          $ref: "#/components/schemas/Amount"
        quoted_cart_id:
          type: integer
      required:
        - amount
        - quoted_cart_id
      type: object
    CartPlatform:
      enum:
        - ChatGPT
        - Gemini
        - iOS
        - Android
        - Web
        - Other
      type: string
      x-enum-varnames:
        - CartPlatformChatGPT
        - CartPlatformGemini
        - CartPlatformIOS
        - CartPlatformAndroid
        - CartPlatformWeb
        - CartPlatformOther
    CartPriceBreakdown:
      properties:
        base_price:
          $ref: "#/components/schemas/Money"
        fees:
          $ref: "#/components/schemas/Money"
        taxes:
          $ref: "#/components/schemas/Money"
      type: object
    CartProduct:
      properties:
        cart_id:
          type: integer
        child_products:
          description: >-
            ChildProducts holds ancillary service products linked to this
            product as their parent.

            This is a transient field (not persisted) populated only in the GetCart response.

            Populated by CartService.GetCart() when building the response.
          items:
            $ref: "#/components/schemas/CartProduct"
          type: array
        created_at:
          type: string
        deleted_at:
          type: string
        domain:
          $ref: "#/components/schemas/ProductDomain"
        parent_product_id:
          type: string
        pricing:
          $ref: "#/components/schemas/PriceBreakdown"
        product_id:
          type: string
        session_reference:
          type: string
        snapshot:
          additionalProperties: true
          type: object
        status:
          $ref: "#/components/schemas/ProductStatus"
        updated_at:
          type: string
      type: object
    CartSource:
      enum:
        - web
        - llm
        - api
        - app
      type: string
      x-enum-varnames:
        - CartSourceWeb
        - CartSourceLLM
        - CartSourceAPI
        - CartSourceApp
    CartStatus:
      enum:
        - draft
        - quoting
        - quoted
        - fulfillment_prepared
        - fulfilling
        - fulfilled
        - partially_fulfilled
        - failed
        - cancelled
      type: string
      x-enum-varnames:
        - CartStatusDraft
        - CartStatusQuoting
        - CartStatusQuoted
        - CartStatusFulfillmentPrepared
        - CartStatusFulfilling
        - CartStatusFulfilled
        - CartStatusPartiallyFulfilled
        - CartStatusFailed
        - CartStatusCancelled
    CartUpdateTravelersRequest:
      properties:
        contact_info:
          $ref: "#/components/schemas/CustomerContact"
        travelers:
          items: {}
          type: array
      type: object
    CashSettlement:
      properties:
        account_id:
          type: string
        transaction_ref:
          type: string
      type: object
    CheckedBaggage:
      properties:
        description:
          description: Description for display (e.g., "1 bag, 23kg included")
          type: string
        dimensions:
          description: Dimensions of the checked bag (e.g., "UP TO 50 POUNDS/23 KILOGRAMS
            UP TO 62 LINEAR INCHES/158 LINEAR CENTIMETERS")
          type: string
        pieces:
          description: Number of checked bags included
          type: integer
        weight:
          description: Weight per piece
          type: number
        weight_unit:
          description: Weight unit (KG or LB)
          type: string
      type: object
    CheckoutRequest:
      properties:
        trip_id:
          type: string
      required:
        - trip_id
      type: object
    CheckoutResponse:
      properties:
        checkout_url:
          type: string
        expires_at:
          type: string
        items:
          items:
            $ref: "#/components/schemas/TripQuotedItem"
          type: array
        session_id:
          type: string
        status:
          description: '"ready", "pending", "failed"'
          type: string
        total_amount:
          $ref: "#/components/schemas/DevPlatformMoney"
      type: object
    ClaimResponse:
      properties:
        keys:
          items:
            $ref: "#/components/schemas/KeyListItem"
          type: array
        user:
          $ref: "#/components/schemas/UserResponse"
      type: object
    ClientSecretRequest:
      properties:
        payment_intent_id:
          type: string
        quoted_cart_id:
          type: integer
      type: object
    ClientSecretResponse:
      properties:
        checkout_session_id:
          type: string
        checkout_url:
          type: string
        client_secret:
          type: string
      type: object
    ConfirmPaymentRequest:
      properties:
        checkout_session_id:
          description: Checkout Session flow
          type: string
        fulfillment_cart_id:
          type: integer
        payment_intent_id:
          description: PaymentIntent flow
          type: string
      required:
        - fulfillment_cart_id
      type: object
    ConfirmPaymentResponse:
      properties:
        fulfillment_cart_id:
          type: integer
        message:
          type: string
        payment_verified:
          type: boolean
        status:
          $ref: "#/components/schemas/FulfillmentStatus"
      type: object
    CreateKeyRequest:
      properties:
        name:
          maxLength: 128
          minLength: 1
          type: string
      required:
        - name
      type: object
    CreateKeyResponse:
      properties:
        api_key:
          type: string
        key_id:
          type: integer
        name:
          type: string
        prefix:
          type: string
        rate_limit:
          $ref: "#/components/schemas/RateLimitInfo"
      type: object
    CreateOrgRequest:
      properties:
        name:
          type: string
        slug:
          type: string
      required:
        - name
        - slug
      type: object
    CreatePartnerKeyRequest:
      properties:
        name:
          type: string
      required:
        - name
      type: object
    CreateShadowUserRequest:
      properties:
        email:
          type: string
        name:
          type: string
      required:
        - email
      type: object
    CreateTravelerRequest:
      properties:
        address:
          type: string
        channel_user_id:
          type: string
        date_of_birth:
          description: 'ISO 8601 date: "2000-01-15"'
          type: string
        email:
          type: string
        first_name:
          type: string
        gender:
          type: string
        is_primary:
          type: boolean
        last_name:
          type: string
        middle_name:
          type: string
        nationality:
          type: string
        passenger_type:
          type: string
        passport_expiry_date:
          description: ISO 8601 date
          type: string
        passport_issuing_country:
          type: string
        passport_nationality:
          type: string
        passport_number:
          type: string
        phone_number:
          type: string
        title:
          type: string
      type: object
    CreateUserRequest:
      properties:
        email:
          type: string
        name:
          type: string
        partner_origin:
          type: string
        workos_user_id:
          type: string
      required:
        - email
        - workos_user_id
      type: object
    CustomerContact:
      properties:
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        phone_number:
          type: string
      required:
        - email
        - first_name
        - last_name
        - phone_number
      type: object
    DateRange:
      properties:
        end:
          description: YYYY-MM-DD
          type: string
        start:
          description: YYYY-MM-DD
          type: string
      type: object
    DestinationInfo:
      properties:
        city_main_image:
          description: URL to the main image of the destination city
          type: string
        city_name:
          description: Name of the destination city
          type: string
        iata_code:
          description: IATA code of the destination city
          type: string
        location:
          allOf:
            - $ref: "#/components/schemas/Location"
          description: Geographic coordinates of the destination
      type: object
    DestinationSearchRequest:
      properties:
        currency:
          description: Currency code for pricing (e.g., "USD", "EUR", "GBP")
          type: string
        filters:
          allOf:
            - $ref: "#/components/schemas/FlightSearchFilters"
          description: Search filters (required)
        flights_per_destination:
          description: "FlightsPerDestination - number of flights to return per
            destination bucket (default: 1, max: 10)"
          type: integer
        limit:
          description: "Limit - maximum number of destinations to return (default: 20,
            max: 100)"
          type: integer
        locale:
          description: Locale code for results (e.g., "en", "fr", "de", "es", "zh", "ja",
            "ko")
          type: string
        offset:
          description: "Offset - number of destinations to skip for pagination (default: 0)"
          type: integer
        passengers:
          allOf:
            - $ref: "#/components/schemas/FlightPassengers"
          description: Passengers (required for pricing)
        price_constraints:
          allOf:
            - $ref: "#/components/schemas/FlightPriceConstraints"
          description: Price constraints
        sort:
          allOf:
            - $ref: "#/components/schemas/SortBy"
          description: 'Sort criteria: "lowest" (default) or "recommendation"'
      type: object
    DestinationSearchResponse:
      properties:
        destinations:
          items:
            $ref: "#/components/schemas/DestinationSuggestion"
          type: array
        origin:
          allOf:
            - $ref: "#/components/schemas/Origin"
          description: Origin location information
        pagination:
          $ref: "#/components/schemas/Pagination"
        total:
          type: integer
      type: object
    DestinationSuggestion:
      properties:
        city_main_image:
          type: string
        city_name:
          type: string
        flights:
          items:
            $ref: "#/components/schemas/FlightItinerary"
          type: array
        iata_code:
          type: string
        location:
          $ref: "#/components/schemas/Location"
        lowest_fare_flight:
          $ref: "#/components/schemas/FlightItinerary"
      type: object
    DetailedFare:
      properties:
        booking_fees:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: >-
            BookingFees are one-time booking-level fees (e.g. Bank Handling
            Charge, Service Fee).

            When present: TotalPrice includes these fees (TotalPrice = sell price + BookingFees).

            When nil: no booking fees for this carrier (TotalPrice = sell price).
        brand_name:
          description: Fare brand name (e.g., "Basic Economy", "Main Cabin")
          type: string
        cabin_class:
          description: Cabin class (economy, premium_economy, business, first)
          type: string
        cancellation_fee:
          $ref: "#/components/schemas/Amount"
        carry_on_baggage:
          allOf:
            - $ref: "#/components/schemas/CarryOnBaggage"
          description: Baggage information
        change_fee:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Fees
        change_policy:
          type: string
        fare_basis_code:
          description: Fare basis code
          type: string
        fare_brand_code:
          description: Fare brand code
          type: string
        fare_descriptions:
          description: >-
            FareDescriptions contains free-text descriptions from the provider
            (e.g., TravelFusion

            SupplierClassDescription). Populated only when the provider returns fare brand descriptions.
          items:
            type: string
          type: array
        fare_rules:
          description: >-
            FareRules contains the full structured fare rules with all time
            windows,

            channels, charge model, and direction details.
          items:
            $ref: "#/components/schemas/FareRuleDetail"
          type: array
        fare_rules_summary:
          description: Summary of fare rules
          items:
            type: string
          type: array
        included_baggage:
          $ref: "#/components/schemas/CheckedBaggage"
        is_changeable:
          type: boolean
        is_name_changeable:
          type: boolean
        is_refundable:
          description: Flexibility rules
          type: boolean
        price_per_passenger:
          description: Price breakdown by passenger type
          items:
            $ref: "#/components/schemas/PassengerPricing"
          type: array
        price_per_person:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Price per person (total price divided by all passengers)
        priority_boarding:
          type: boolean
        provider_metadata:
          description: >-
            ProviderMetadata is base64-encoded metadata from the connector's
            shop response.

            Required for offer-price API calls to reconstruct provider-specific context.
          type: string
        rbd:
          description: Reservation Booking Designator
          type: string
        refund_policy:
          type: string
        seat_selection_included:
          description: Amenities
          type: boolean
        total_price:
          allOf:
            - $ref: "#/components/schemas/Amount"
          description: Total price for all passengers
        trip_item_token:
          description: Unique trip item token for use with add_trip_item booking
          type: string
      type: object
    DevPlatformMoney:
      properties:
        amount:
          type: number
        currency:
          type: string
      type: object
    DocumentLink:
      properties:
        title:
          type: string
        type:
          type: string
        url:
          type: string
      type: object
    Duration:
      enum:
        - -9223372036854776000
        - 9223372036854776000
        - 1
        - 1000
        - 1000000
        - 1000000000
        - 60000000000
        - 3600000000000
      format: int64
      type: integer
      x-enum-varnames:
        - minDuration
        - maxDuration
        - Nanosecond
        - Microsecond
        - Millisecond
        - Second
        - Minute
        - Hour
    EmissionsStats:
      properties:
        avg:
          type: number
        max:
          type: number
        min:
          type: number
      type: object
    ErrorResponse:
      properties:
        details:
          type: string
        error:
          type: string
        message:
          type: string
        type:
          type: string
      type: object
    FareLabel:
      enum:
        - Lowest
        - Low
        - Medium
        - High
      type: string
      x-enum-comments:
        FareLabelHigh: More than 75% quantile
        FareLabelLow: Cheaper than 25% quantile
        FareLabelLowest: The lowest fare seen for origin-destination
        FareLabelMedium: Between 25% and 75% quantile
[...]
