{"swagger":"2.0","info":{"version":"v1","title":"PCGS Public API","description":"This is the documentation for the PCGS public API. For security, it your public api token to authenticate. To test the calls using this page you need to fill the textbox marked 'token' with your token generated <a href=https://www.pcgs.com/publicapi/documentation>here</a>."},"host":"api.pcgs.com","basePath":"/publicapi","schemes":["https"],"paths":{"/banknotedetail/GetBanknoteByCertNo":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get Banknote infos","operationId":"Banknote_GetBanknoteByCertNo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"certNo","in":"query","description":"The PCGS certificate number","required":true,"type":"string"},{"name":"languageCode","in":"query","description":"The PCGS certificate number","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BanknoteModel"}}}}},"/banknotedetail/GetBanknoteByGrade":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get Banknote infos By Grade and SpecNo","operationId":"Banknote_GetBanknoteByGrade","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pcgsNo","in":"query","description":"The PCGS Spec No","required":true,"type":"string"},{"name":"gradeNo","in":"query","description":"The PCGS Grade","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BanknotesModel"}}}}},"/banknotedetail/GetBanknoteImagesByCertNo":{"get":{"tags":["PCGS Public API Methods"],"summary":"","operationId":"Banknote_GetBanknoteImagesByCertNo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"certNo","in":"query","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImageModel"}}}}},"/orderdetail/GetOrdersBySubmissionNo":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get the PCGS orders based off the account used to register for the API","operationId":"Order_GetOrdersBySubmissionNo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"submissionNo","in":"query","description":"The submission number of the order.  It will return a list of orders if the submission number has been submitted multiple times","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderModel"}}}}},"/orderdetail/GetOrdersByDateRange":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get the PCGS orders from a specified date range using the order received date","operationId":"Order_GetOrdersByDateRange","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"startDate","in":"query","description":"The start date in mm-dd-yyyy format","required":true,"type":"string"},{"name":"endDate","in":"query","description":"The end date in mm-dd-yyyy format","required":true,"type":"string"},{"name":"pageNo","in":"query","description":"The page to return","required":false,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"The number of orders returned per page.  Default is 10","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OrderModel"}}}}},"/coindetail/GetCoinFactsByCertNo/{certNo}":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get CoinFacts data for a coin using its cert number","operationId":"CoinDetail_GetCoinFactsByCertNo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"certNo","in":"path","description":"The PCGS cert number","required":true,"type":"string"},{"name":"retrieveAllData","in":"query","description":"Set to true (default) will return all CoinFacts data including Images, APR, Pop, &amp; Prices.  Set to false if you want to exclude getting APR, Pop, Images, &amp; Prices.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CoinFactsModel"}}}}},"/coindetail/GetCoinFactsByBarcode":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get CoinFacts data for a coin using its holder's barcode","operationId":"CoinDetail_GetCoinFactsByBarcode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"barcode","in":"query","description":"The barcode text captured from either a PCGS/NGC holder","required":true,"type":"string"},{"name":"gradingService","in":"query","description":"The grading service. Possible values are PCGS and NGC","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CoinFactsByBarcodeModel"}}}}},"/coindetail/GetCoinFactsByGrade":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get CoinFacts data for a coin using its PCGS number and grade","operationId":"CoinDetail_GetCoinFactsByGrade","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PCGSNo","in":"query","description":"The PCGS number of the coin","required":true,"type":"string"},{"name":"GradeNo","in":"query","description":"The grade number","required":true,"type":"integer","format":"int32"},{"name":"PlusGrade","in":"query","description":"Set to true if it’s a plus grade, false if not","required":true,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CoinFactsByGradeModel"}}}}},"/coindetail/GetAPRByCertNo/{CertNo}":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get Auction Prices Realized data for a coin using its cert number","operationId":"CoinDetail_GetAPRByCertNo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"CertNo","in":"path","description":"The PCGS cert number","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuctionModel"}}}}},"/coindetail/GetAPRByGrade":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get Auction Prices Realized data for a coin using its PCGS number and grade","operationId":"CoinDetail_GetAPRByGrade","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PCGSNo","in":"query","description":"The PCGS number of the coin","required":true,"type":"string"},{"name":"GradeNo","in":"query","description":"The grade number","required":true,"type":"integer","format":"int32"},{"name":"PlusGrade","in":"query","description":"Set to true if it’s a plus grade, false if not","required":true,"type":"boolean"},{"name":"StartDate","in":"query","description":"The starting date of auction items to retrieve in mm-dd-yyyy format","required":false,"type":"string","format":"date-time"},{"name":"EndDate","in":"query","description":"The ending date of auction items to retrieve in mm-dd-yyyy format","required":false,"type":"string","format":"date-time"},{"name":"NumberOfRecords","in":"query","description":"How many auction records to return.  Default is 100","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AuctionListModel"}}}}},"/coindetail/GetAPRByBarcode":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get Auction Prices Realized data for a coin using its holder's barcode","operationId":"CoinDetail_GetAPRByBarcode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"barcode","in":"query","description":"The barcode text captured from either a PCGS/NGC holder","required":true,"type":"string"},{"name":"gradingService","in":"query","description":"The grading service. Possible values are PCGS and NGC","required":true,"type":"string"},{"name":"StartDate","in":"query","description":"The starting date of auction items to retrieve in mm-dd-yyyy format","required":false,"type":"string","format":"date-time"},{"name":"EndDate","in":"query","description":"The ending date of auction items to retrieve in mm-dd-yyyy format","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CoinFactsModel"}}}}},"/coindetail/GetImagesByCertNo":{"get":{"tags":["PCGS Public API Methods"],"summary":"Get All PCGS Images available for the certification number","operationId":"CoinDetail_GetImagesByCertNo","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"certNo","in":"query","description":"The PCGS certificate number","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImageModel"}}}}}},"definitions":{"BanknoteModel":{"description":"","type":"object","properties":{"Banknote":{"$ref":"#/definitions/Banknote","description":""},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"Banknote":{"description":"","type":"object","properties":{"PCGSNo":{"description":"","type":"string"},"CertNo":{"description":"","type":"string"},"Year":{"description":"","type":"string"},"Denomination":{"description":"","type":"string"},"Region":{"description":"","type":"string"},"Grade":{"description":"","type":"string"},"Details":{"description":"","type":"string"},"Population":{"format":"int32","description":"","type":"integer"},"PopHigher":{"format":"int32","description":"","type":"integer"},"SerialNo":{"description":"","type":"string"},"Height":{"description":"","type":"string"},"Width":{"description":"","type":"string"},"Images":{"description":"","type":"array","items":{"$ref":"#/definitions/CertImage"}},"CatalogNo1":{"description":"","type":"string"},"CatalogNo2":{"description":"","type":"string"},"Catalog1LongDesc":{"description":"","type":"string"},"Catalog2LongDesc":{"description":"","type":"string"},"Catalog1ShortDesc":{"description":"","type":"string"},"Catalog2ShortDesc":{"description":"","type":"string"},"Signers":{"description":"","type":"string"},"Qualifiers":{"description":"","type":"string"},"PlateNo":{"description":"","type":"string"},"ValueViewLink":{"description":"","type":"string"},"HasObverseImage":{"description":"","type":"boolean"},"HasReverseImage":{"description":"","type":"boolean"},"ImageReady":{"description":"","type":"boolean"}}},"CertImage":{"description":"","type":"object","properties":{"Label":{"description":"","type":"string"},"ThumbnailUrl":{"description":"","type":"string"},"PopupUrl":{"description":"","type":"string"},"Width":{"format":"int32","description":"","type":"integer"},"Height":{"format":"int32","description":"","type":"integer"},"ImageDescription":{"description":"","type":"string"}}},"BanknotesModel":{"description":"","type":"object","properties":{"Banknotes":{"description":"","type":"array","items":{"$ref":"#/definitions/Banknote"}},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"ImageModel":{"type":"object","properties":{"CertNo":{"type":"string"},"Images":{"type":"array","items":{"$ref":"#/definitions/ImageDetail"}},"HasObverseImage":{"description":"","type":"boolean"},"HasReverseImage":{"description":"","type":"boolean"},"HasTrueViewImage":{"description":"","type":"boolean"},"ImageReady":{"description":"","type":"boolean"},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"ImageDetail":{"type":"object","properties":{"Url":{"type":"string"},"Resolution":{"type":"string"},"Description":{"type":"string"}}},"OrderModel":{"description":"","type":"object","properties":{"Orders":{"description":"","type":"array","items":{"$ref":"#/definitions/OrderDetailModel"}},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"OrderDetailModel":{"description":"","type":"object","properties":{"SubmissionNo":{"description":"","type":"string"},"OrderNo":{"description":"","type":"string"},"CustomerNo":{"description":"","type":"string"},"ItemCount":{"format":"int32","description":"","type":"integer"},"Service":{"description":"","type":"string"},"OrderStatus":{"description":"","type":"string"},"DateReceived":{"description":"","type":"string"},"DateShipped":{"description":"","type":"string"},"Courier":{"description":"","type":"string"},"TrackingNo":{"description":"","type":"string"},"TrackingUrl":{"description":"","type":"string"},"IsCancelled":{"description":"","type":"boolean"},"ImageInProcess":{"description":"","type":"boolean"},"ImageReady":{"description":"","type":"boolean"},"GradeReady":{"description":"","type":"boolean"},"OrderLines":{"description":"","type":"array","items":{"$ref":"#/definitions/GradingOrderLineSummary"}}}},"GradingOrderLineSummary":{"description":"","type":"object","properties":{"LineNo":{"format":"int32","description":"","type":"integer"},"ItemNo":{"format":"int32","description":"","type":"integer"},"CertNo":{"description":"","type":"string"},"PCGSNo":{"description":"","type":"string"},"Description":{"description":"","type":"string"},"DisplayGrade":{"description":"","type":"string"},"Country":{"description":"","type":"string"},"Images":{"description":"","type":"array","items":{"type":"string"}}}},"CoinFactsModel":{"description":"","type":"object","properties":{"PCGSNo":{"description":"","type":"string"},"CertNo":{"description":"","type":"string"},"Name":{"description":"","type":"string"},"Year":{"format":"int32","description":"","type":"integer"},"Denomination":{"description":"","type":"string"},"Mintage":{"description":"","type":"string"},"MintMark":{"description":"","type":"string"},"MintLocation":{"description":"","type":"string"},"MetalContent":{"description":"","type":"string"},"Diameter":{"format":"double","description":"","type":"number"},"Edge":{"description":"","type":"string"},"Weight":{"format":"double","description":"","type":"number"},"Country":{"description":"","type":"string"},"Grade":{"description":"","type":"string"},"Designation":{"description":"","type":"string"},"PriceGuideValue":{"format":"double","description":"","type":"number"},"Population":{"format":"int32","description":"","type":"integer"},"PopHigher":{"format":"int32","description":"","type":"integer"},"CoinFactsLink":{"description":"","type":"string"},"Designer":{"description":"","type":"string"},"Images":{"description":"","type":"array","items":{"$ref":"#/definitions/CoinFactsImage"}},"CoinFactsNotes":{"description":"","type":"string"},"MajorVariety":{"description":"","type":"string"},"MinorVariety":{"description":"","type":"string"},"DieVariety":{"description":"","type":"string"},"AuctionList":{"description":"","type":"array","items":{"$ref":"#/definitions/AuctionItem"}},"SeriesName":{"description":"","type":"string"},"Category":{"description":"","type":"string"},"HasTrueViewImage":{"description":"","type":"boolean"},"ImageReady":{"description":"","type":"boolean"},"IsNFCSecure":{"description":"","type":"boolean"},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"CoinFactsImage":{"description":"","type":"object","properties":{"Thumbnail":{"description":"","type":"string"},"Fullsize":{"description":"","type":"string"}}},"AuctionItem":{"type":"object","properties":{"Service":{"type":"string"},"Date":{"type":"string"},"Auctioneer":{"type":"string"},"LotNo":{"format":"int32","type":"integer"},"LotNumV2":{"type":"string"},"SaleName":{"type":"string"},"CertNo":{"type":"string"},"Price":{"format":"double","type":"number"},"IsCAC":{"type":"boolean"},"AuctionLotUrl":{"type":"string"}}},"CoinFactsByBarcodeModel":{"description":"","type":"object","properties":{"PCGSNo":{"description":"","type":"string"},"CertNo":{"description":"","type":"string"},"Name":{"description":"","type":"string"},"Year":{"format":"int32","description":"","type":"integer"},"Denomination":{"description":"","type":"string"},"Mintage":{"description":"","type":"string"},"MintMark":{"description":"","type":"string"},"MintLocation":{"description":"","type":"string"},"MetalContent":{"description":"","type":"string"},"Diameter":{"format":"double","description":"","type":"number"},"Edge":{"description":"","type":"string"},"Weight":{"format":"double","description":"","type":"number"},"Country":{"description":"","type":"string"},"Grade":{"description":"","type":"string"},"Designation":{"description":"","type":"string"},"PriceGuideValue":{"format":"double","description":"","type":"number"},"Population":{"format":"int32","description":"","type":"integer"},"PopHigher":{"format":"int32","description":"","type":"integer"},"CoinFactsLink":{"description":"","type":"string"},"Designer":{"description":"","type":"string"},"Images":{"description":"","type":"array","items":{"$ref":"#/definitions/CoinFactsImage"}},"CoinFactsNotes":{"description":"","type":"string"},"MajorVariety":{"description":"","type":"string"},"MinorVariety":{"description":"","type":"string"},"DieVariety":{"description":"","type":"string"},"AuctionList":{"description":"","type":"array","items":{"$ref":"#/definitions/AuctionItem"}},"SeriesName":{"description":"","type":"string"},"Category":{"description":"","type":"string"},"HasTrueViewImage":{"description":"","type":"boolean"},"HasObverseImage":{"description":"","type":"boolean"},"HasReverseImage":{"description":"","type":"boolean"},"ImageReady":{"description":"","type":"boolean"},"IsNFCSecure":{"description":"","type":"boolean"},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"CoinFactsByGradeModel":{"description":"","type":"object","properties":{"PCGSNo":{"description":"","type":"string"},"CertNo":{"description":"","type":"string"},"Name":{"description":"","type":"string"},"Year":{"format":"int32","description":"","type":"integer"},"Denomination":{"description":"","type":"string"},"Mintage":{"description":"","type":"string"},"MintMark":{"description":"","type":"string"},"MintLocation":{"description":"","type":"string"},"MetalContent":{"description":"","type":"string"},"Diameter":{"format":"double","description":"","type":"number"},"Edge":{"description":"","type":"string"},"Weight":{"format":"double","description":"","type":"number"},"Country":{"description":"","type":"string"},"Grade":{"description":"","type":"string"},"Designation":{"description":"","type":"string"},"PriceGuideValue":{"format":"double","description":"","type":"number"},"Population":{"format":"int32","description":"","type":"integer"},"PopHigher":{"format":"int32","description":"","type":"integer"},"CoinFactsLink":{"description":"","type":"string"},"Designer":{"description":"","type":"string"},"Images":{"description":"","type":"array","items":{"$ref":"#/definitions/CoinFactsImage"}},"CoinFactsNotes":{"description":"","type":"string"},"MajorVariety":{"description":"","type":"string"},"MinorVariety":{"description":"","type":"string"},"DieVariety":{"description":"","type":"string"},"AuctionList":{"description":"","type":"array","items":{"$ref":"#/definitions/AuctionItem"}},"SeriesName":{"description":"","type":"string"},"Category":{"description":"","type":"string"},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"AuctionModel":{"type":"object","properties":{"PCGSNo":{"type":"string"},"CertNo":{"type":"string"},"Name":{"type":"string"},"Grade":{"type":"string"},"Year":{"type":"string"},"Denomination":{"type":"string"},"Auctions":{"type":"array","items":{"$ref":"#/definitions/AuctionItem"}},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}},"AuctionListModel":{"type":"object","properties":{"PCGSNo":{"type":"string"},"Name":{"type":"string"},"Year":{"type":"string"},"Denomination":{"type":"string"},"Auctions":{"type":"array","items":{"$ref":"#/definitions/AuctionItem"}},"IsValidRequest":{"description":"","type":"boolean"},"ServerMessage":{"description":"","type":"string"}}}}}