{
  "openapi": "3.0.3",
  "info": {
    "title": "Microsoft Advertising REST API (Bing Ads) - Phase 0 subset",
    "version": "13.0.0",
    "description": "Reconstructed from the official BingAds-Python-SDK openapi_client (openapi-generator output) -- Microsoft does not publish a raw spec file. Scope: PENG-5308 Phase 0 go/no-go slice (accounts + campaign performance reporting) only, not the full ~287-operation surface."
  },
  "servers": [
    {
      "url": "https://campaign.api.bingads.microsoft.com"
    },
    {
      "url": "https://reporting.api.bingads.microsoft.com"
    }
  ],
  "components": {
    "schemas": {
      "ApplyRecommendationsRequest": {
        "type": "object",
        "properties": {
          "Entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApplyRecommendationEntity"
            }
          }
        }
      },
      "ApplyRecommendationEntity": {
        "type": "object",
        "properties": {
          "RecommendationId": {
            "type": "string"
          },
          "RecommendationType": {
            "type": "string"
          }
        }
      },
      "ApplyRecommendationsResponse": {
        "type": "object",
        "properties": {
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          }
        }
      },
      "BatchError": {
        "type": "object",
        "properties": {}
      },
      "ApplicationFault": {
        "type": "object",
        "properties": {}
      },
      "DismissRecommendationsRequest": {
        "type": "object",
        "properties": {
          "Entities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DismissRecommendationEntity"
            }
          }
        }
      },
      "DismissRecommendationEntity": {
        "type": "object",
        "properties": {
          "RecommendationId": {
            "type": "string"
          },
          "RecommendationType": {
            "type": "string"
          }
        }
      },
      "DismissRecommendationsResponse": {
        "type": "object",
        "properties": {
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          }
        }
      },
      "GetAuctionInsightDataRequest": {
        "type": "object",
        "properties": {
          "EntityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "EntityIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "SearchParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchParameter"
            }
          },
          "ReturnAdditionalFields": {
            "$ref": "#/components/schemas/AuctionInsightKpiAdditionalField"
          }
        }
      },
      "EntityType": {
        "type": "string",
        "enum": [
          "Account",
          "Campaign",
          "AdGroup",
          "Keyword"
        ]
      },
      "SearchParameter": {
        "type": "object",
        "properties": {}
      },
      "AuctionInsightKpiAdditionalField": {
        "type": "object",
        "properties": {}
      },
      "GetAuctionInsightDataResponse": {
        "type": "object",
        "properties": {
          "Result": {
            "$ref": "#/components/schemas/AuctionInsightResult"
          }
        }
      },
      "AuctionInsightResult": {
        "type": "object",
        "properties": {
          "Segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuctionSegment"
            }
          },
          "Entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuctionInsightEntry"
            }
          },
          "UsedImpressions": {
            "type": "number"
          },
          "UsedKeywords": {
            "type": "number"
          }
        }
      },
      "AuctionSegment": {
        "type": "string",
        "enum": [
          "Day",
          "Week",
          "Month",
          "Quarter",
          "DayOfWeek",
          "Device"
        ]
      },
      "AuctionInsightEntry": {
        "type": "object",
        "properties": {
          "DisplayDomain": {
            "type": "string"
          },
          "AggregatedKpi": {
            "$ref": "#/components/schemas/AuctionInsightKpi"
          },
          "SegmentedKpis": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AuctionInsightKpi"
            }
          }
        }
      },
      "AuctionInsightKpi": {
        "type": "object",
        "properties": {
          "Segments": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ImpressionShare": {
            "type": "number"
          },
          "OverlapRate": {
            "type": "number"
          },
          "AveragePosition": {
            "type": "number"
          },
          "AboveRate": {
            "type": "number"
          },
          "TopOfPageRate": {
            "type": "number"
          },
          "OutrankingShare": {
            "type": "number"
          },
          "AbsoluteTopOfPageRate": {
            "type": "number"
          }
        }
      },
      "GetAudienceBreakdownRequest": {
        "type": "object",
        "properties": {
          "Age": {
            "$ref": "#/components/schemas/SelectionOfAgeEnum"
          },
          "Gender": {
            "$ref": "#/components/schemas/SelectionOfGenderEnum"
          },
          "Audience": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Company": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Industry": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "JobFunction": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Location": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Placement": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Device": {
            "$ref": "#/components/schemas/SelectionOfDeviceEnum"
          },
          "Topic": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "RadiusTargets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RadiusTarget"
            }
          },
          "CampaignBiddingStrategy": {
            "type": "integer"
          },
          "CampaignSubType": {
            "type": "integer"
          },
          "Feed": {
            "$ref": "#/components/schemas/Feed"
          },
          "Lcid": {
            "type": "integer"
          },
          "BreakdownReturnCategory": {
            "$ref": "#/components/schemas/BreakdownCategory"
          },
          "MultiAdTypes": {
            "type": "integer"
          }
        }
      },
      "SelectionOfAgeEnum": {
        "type": "object",
        "properties": {
          "Includes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgeEnum"
            }
          },
          "Excludes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgeEnum"
            }
          }
        }
      },
      "AgeEnum": {
        "type": "string",
        "enum": [
          "Unknown",
          "ZeroToTwelve",
          "ThirteenToSevenTeen",
          "EighteenToTwentyFour",
          "TwentyFiveToThirtyFour",
          "ThirtyFiveToFourtyNine",
          "FiftyToSixtyFour",
          "SixtyFiveAndAbove"
        ]
      },
      "SelectionOfGenderEnum": {
        "type": "object",
        "properties": {
          "Includes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenderEnum"
            }
          },
          "Excludes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GenderEnum"
            }
          }
        }
      },
      "GenderEnum": {
        "type": "string",
        "enum": [
          "Unknown",
          "Male",
          "Female"
        ]
      },
      "SelectionOflong": {
        "type": "object",
        "properties": {
          "Includes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Excludes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SelectionOfDeviceEnum": {
        "type": "object",
        "properties": {
          "Includes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeviceEnum"
            }
          },
          "Excludes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeviceEnum"
            }
          }
        }
      },
      "DeviceEnum": {
        "type": "string",
        "enum": [
          "Desktop",
          "Smartphone",
          "Tablet"
        ]
      },
      "RadiusTarget": {
        "type": "object",
        "properties": {
          "Radius": {
            "type": "integer"
          },
          "RadiusUnit": {
            "$ref": "#/components/schemas/RadiusUnit"
          },
          "CenterLatitude": {
            "type": "number"
          },
          "CenterLongitude": {
            "type": "number"
          }
        }
      },
      "RadiusUnit": {
        "type": "string",
        "enum": [
          "Miles",
          "Kilometers"
        ]
      },
      "Feed": {
        "type": "object",
        "properties": {
          "StoreId": {
            "type": "string"
          },
          "FeedId": {
            "type": "string"
          },
          "FeedType": {
            "type": "string"
          }
        }
      },
      "BreakdownCategory": {
        "type": "string",
        "enum": [
          "All",
          "Demographics",
          "Location",
          "Interest",
          "Device"
        ]
      },
      "GetAudienceBreakdownResponse": {
        "type": "object",
        "properties": {
          "EstAudienceSize": {
            "$ref": "#/components/schemas/DecimalRoundedResult"
          },
          "EstImpression": {
            "$ref": "#/components/schemas/DecimalRoundedResult"
          },
          "IsImpressionTooSpecific": {
            "type": "boolean"
          },
          "IsPrivacyCheckPassed": {
            "type": "boolean"
          },
          "SuggestedBid": {
            "type": "number"
          },
          "Currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "Breakdowns": {
            "$ref": "#/components/schemas/Breakdowns"
          }
        }
      },
      "DecimalRoundedResult": {
        "type": "object",
        "properties": {
          "Value": {
            "type": "number"
          },
          "Unit": {
            "$ref": "#/components/schemas/ScaleUnit"
          }
        }
      },
      "ScaleUnit": {
        "type": "string",
        "enum": [
          "Billion",
          "Million",
          "Thousand",
          "None"
        ]
      },
      "Currency": {
        "type": "string",
        "enum": [
          "UnSpecify",
          "AustralianDollar",
          "BrazilianReal",
          "CanadianDollar",
          "SwissFranc",
          "DanishKrone",
          "EURO",
          "UKPound",
          "JapaneseYen",
          "NorwegianKrone",
          "NewZealandDollar",
          "SwedishKrona",
          "USDollar",
          "SouthAfricanRand",
          "ArgentinePeso",
          "ChileanPeso",
          "YuanRenminbi",
          "ColombianPeso",
          "CzechKoruna",
          "UAEDirham",
          "AlgerianDinar",
          "EgyptianPound",
          "HongKongDollar",
          "Forint",
          "Rupiah",
          "IsraeliSheqel",
          "IndianRupee",
          "Won",
          "LebanesePound",
          "MoroccanDirham",
          "MexicanPeso",
          "MalaysianRinggit",
          "NuevoSol",
          "PhilippinePeso",
          "PolishZloty",
          "QatariRial",
          "SaudiRiyal",
          "SingaporeDollar",
          "Baht",
          "NewTaiwanDollar",
          "Bolivar",
          "Dong",
          "TurkishLira",
          "NigerianNaira"
        ]
      },
      "Breakdowns": {
        "type": "object",
        "properties": {
          "Age": {
            "$ref": "#/components/schemas/Breakdown"
          },
          "Device": {
            "$ref": "#/components/schemas/Breakdown"
          },
          "Gender": {
            "$ref": "#/components/schemas/Breakdown"
          },
          "InMarket": {
            "$ref": "#/components/schemas/Breakdown"
          },
          "Industry": {
            "$ref": "#/components/schemas/Breakdown"
          },
          "JobFunction": {
            "$ref": "#/components/schemas/Breakdown"
          },
          "LocationCountry": {
            "$ref": "#/components/schemas/LocationBreakdown"
          },
          "Location": {
            "$ref": "#/components/schemas/LocationBreakdown"
          },
          "LocationSubGeography": {
            "$ref": "#/components/schemas/LocationBreakdown"
          },
          "LocationMetroArea": {
            "$ref": "#/components/schemas/LocationBreakdown"
          },
          "LocationCity": {
            "$ref": "#/components/schemas/LocationBreakdown"
          },
          "LocationPostalCode": {
            "$ref": "#/components/schemas/LocationBreakdown"
          },
          "LocationCounty": {
            "$ref": "#/components/schemas/LocationBreakdown"
          }
        }
      },
      "Breakdown": {
        "type": "object",
        "properties": {
          "Keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Values": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "GlobalValues": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "LocationBreakdown": {
        "type": "object",
        "properties": {
          "Info": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocationInfo"
            }
          },
          "Keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Values": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "GlobalValues": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "LocationInfo": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          }
        }
      },
      "GetAudienceFullEstimationRequest": {
        "type": "object",
        "properties": {
          "Age": {
            "$ref": "#/components/schemas/SelectionOfAgeEnum"
          },
          "Gender": {
            "$ref": "#/components/schemas/SelectionOfGenderEnum"
          },
          "Audience": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Company": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Industry": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "JobFunction": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Location": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Placement": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "Device": {
            "$ref": "#/components/schemas/SelectionOfDeviceEnum"
          },
          "Topic": {
            "$ref": "#/components/schemas/SelectionOflong"
          },
          "RadiusTargets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RadiusTarget"
            }
          },
          "CampaignBiddingStrategy": {
            "type": "integer"
          },
          "CampaignSubType": {
            "type": "integer"
          },
          "Feed": {
            "$ref": "#/components/schemas/Feed"
          },
          "DailyBudget": {
            "type": "number"
          },
          "Bid": {
            "type": "number"
          },
          "Currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "MultiAdTypes": {
            "type": "integer"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          },
          "TotalBudget": {
            "type": "number"
          },
          "IncludeImpressionsBreakdown": {
            "type": "boolean"
          },
          "AutoTargeting": {
            "type": "boolean"
          }
        }
      },
      "GetAudienceFullEstimationResponse": {
        "type": "object",
        "properties": {
          "EstImpression": {
            "$ref": "#/components/schemas/RangeResultOfDecimalRoundedResult"
          },
          "EstAudienceSize": {
            "$ref": "#/components/schemas/RangeResultOfDecimalRoundedResult"
          },
          "EstClick": {
            "$ref": "#/components/schemas/RangeResultOfDecimalRoundedResult"
          },
          "EstSpend": {
            "$ref": "#/components/schemas/RangeResultOfDecimalRoundedResult"
          },
          "EstCostPerEvent": {
            "$ref": "#/components/schemas/RangeResultOfDecimalRoundedResult"
          },
          "EstCPC": {
            "$ref": "#/components/schemas/RangeResultOfDecimalRoundedResult"
          },
          "EstCTR": {
            "$ref": "#/components/schemas/RangeResultOfdouble"
          },
          "SuggestedBid": {
            "type": "number"
          },
          "SuggestedBudget": {
            "type": "number"
          },
          "EventsLostToBid": {
            "type": "integer"
          },
          "EventsLostToBudget": {
            "type": "integer"
          },
          "EstReachAudienceSize": {
            "$ref": "#/components/schemas/DecimalRoundedResult"
          },
          "EstReachImpression": {
            "$ref": "#/components/schemas/DecimalRoundedResult"
          },
          "Currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "EstImpressionByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstClickByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstSpendByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstCostPerEventByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstCPCByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstViewByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstCTRByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "EstReachImpressionByType": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RangeResultOfDecimalRoundedResult": {
        "type": "object",
        "properties": {
          "High": {
            "$ref": "#/components/schemas/DecimalRoundedResult"
          },
          "Low": {
            "$ref": "#/components/schemas/DecimalRoundedResult"
          }
        }
      },
      "RangeResultOfdouble": {
        "type": "object",
        "properties": {
          "High": {
            "type": "number"
          },
          "Low": {
            "type": "number"
          }
        }
      },
      "GetAutoApplyOptInStatusRequest": {
        "type": "object",
        "properties": {
          "RecommendationTypesInputs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetAutoApplyOptInStatusResponse": {
        "type": "object",
        "properties": {
          "AutoApplyRecommendationsStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AutoApplyRecommendationsInfo"
            }
          }
        }
      },
      "AutoApplyRecommendationsInfo": {
        "type": "object",
        "properties": {
          "RecommendationType": {
            "type": "string"
          },
          "AAROptInStatus": {
            "type": "boolean"
          }
        }
      },
      "GetBidLandscapeByAdGroupIdsRequest": {
        "type": "object",
        "properties": {
          "AdGroupBidLandscapeInputs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdGroupBidLandscapeInput"
            }
          }
        }
      },
      "AdGroupBidLandscapeInput": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "AdGroupBidLandscapeType": {
            "$ref": "#/components/schemas/AdGroupBidLandscapeType"
          }
        }
      },
      "AdGroupBidLandscapeType": {
        "type": "string",
        "enum": [
          "Uniform",
          "DefaultBidOnly"
        ]
      },
      "GetBidLandscapeByAdGroupIdsResponse": {
        "type": "object",
        "properties": {
          "BidLandscape": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdGroupBidLandscape"
            }
          }
        }
      },
      "AdGroupBidLandscape": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "AdGroupBidLandscapeType": {
            "$ref": "#/components/schemas/AdGroupBidLandscapeType"
          },
          "StartDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "EndDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "BidLandscapePoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidLandscapePoint"
            }
          }
        }
      },
      "DayMonthAndYear": {
        "type": "object",
        "properties": {
          "Day": {
            "type": "integer"
          },
          "Month": {
            "type": "integer"
          },
          "Year": {
            "type": "integer"
          }
        }
      },
      "BidLandscapePoint": {
        "type": "object",
        "properties": {
          "Bid": {
            "type": "number"
          },
          "Clicks": {
            "type": "number"
          },
          "Impressions": {
            "type": "string"
          },
          "TopImpressions": {
            "type": "string"
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "Cost": {
            "type": "number"
          },
          "MarginalCPC": {
            "type": "number"
          }
        }
      },
      "CurrencyCode": {
        "type": "string",
        "enum": [
          "AED",
          "ALL",
          "AMD",
          "ARS",
          "AUD",
          "AZM",
          "BGL",
          "BHD",
          "BND",
          "BOB",
          "BRL",
          "BYB",
          "BZD",
          "CAD",
          "CHF",
          "CLP",
          "CNY",
          "COP",
          "CRC",
          "CZK",
          "DOP",
          "DKK",
          "DZD",
          "EEK",
          "EGP",
          "EUR",
          "GBP",
          "GEL",
          "GTQ",
          "HKD",
          "HNL",
          "HRK",
          "HUF",
          "IDR",
          "ILS",
          "INR",
          "IQD",
          "IRR",
          "ISK",
          "JMD",
          "JOD",
          "JPY",
          "KES",
          "KGS",
          "KRW",
          "KWD",
          "KZT",
          "LBP",
          "LTL",
          "LVL",
          "LYD",
          "MAD",
          "MKD",
          "MOP",
          "MNT",
          "MVR",
          "MXN",
          "MYR",
          "NIO",
          "NOK",
          "NZD",
          "OMR",
          "PAB",
          "PEN",
          "PHP",
          "PKR",
          "PLN",
          "PYG",
          "QAR",
          "ROL",
          "RUR",
          "SAR",
          "SEK",
          "SGD",
          "SIT",
          "SKK",
          "SYP",
          "THB",
          "TND",
          "TRY",
          "TTD",
          "TWD",
          "UAH",
          "USD",
          "UYU",
          "UZS",
          "VEF",
          "YER",
          "VND",
          "YUN",
          "ZAR",
          "ZWD",
          "UNSPECIFY"
        ]
      },
      "GetBidLandscapeByCampaignIdsRequest": {
        "type": "object",
        "properties": {
          "CampaignIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetBidLandscapeByCampaignIdsResponse": {
        "type": "object",
        "properties": {
          "BidLandscape": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignBidLandscape"
            }
          }
        }
      },
      "CampaignBidLandscape": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "CampaignBidLandscapeType": {
            "$ref": "#/components/schemas/CampaignBidLandscapeType"
          },
          "StartDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "EndDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "CampaignBidLandscapePoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignBidLandscapePoint"
            }
          }
        }
      },
      "CampaignBidLandscapeType": {
        "type": "string",
        "enum": [
          "Ecpc_CampaignWideBid",
          "Ecpc_BidScaling",
          "TargetCpa",
          "TargetRoas"
        ]
      },
      "CampaignBidLandscapePoint": {
        "type": "object",
        "properties": {
          "Bid": {
            "type": "number"
          },
          "TargetCpa": {
            "type": "number"
          },
          "TargetRoas": {
            "type": "number"
          },
          "Clicks": {
            "type": "number"
          },
          "Impressions": {
            "type": "string"
          },
          "TopImpressions": {
            "type": "string"
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "Cost": {
            "type": "number"
          },
          "Conversions": {
            "type": "number"
          },
          "ConversionValues": {
            "type": "number"
          },
          "MarginalCPC": {
            "type": "number"
          }
        }
      },
      "GetBidLandscapeByKeywordIdsRequest": {
        "type": "object",
        "properties": {
          "KeywordIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "IncludeCurrentBid": {
            "type": "boolean"
          }
        }
      },
      "GetBidLandscapeByKeywordIdsResponse": {
        "type": "object",
        "properties": {
          "BidLandscape": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordBidLandscape"
            }
          }
        }
      },
      "KeywordBidLandscape": {
        "type": "object",
        "properties": {
          "KeywordId": {
            "type": "string"
          },
          "StartDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "EndDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "BidLandscapePoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidLandscapePoint"
            }
          }
        }
      },
      "GetBidOpportunitiesRequest": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string"
          },
          "OpportunityType": {
            "$ref": "#/components/schemas/BidOpportunityType"
          }
        }
      },
      "BidOpportunityType": {
        "type": "object",
        "properties": {}
      },
      "GetBidOpportunitiesResponse": {
        "type": "object",
        "properties": {
          "Opportunities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BidOpportunity"
            }
          }
        }
      },
      "BidOpportunity": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AdGroupId": {
            "type": "string"
          },
          "KeywordId": {
            "type": "string"
          },
          "CurrentBid": {
            "type": "number"
          },
          "MatchType": {
            "type": "string"
          },
          "SuggestedBid": {
            "type": "number"
          },
          "EstimatedIncreaseInImpressions": {
            "type": "string"
          },
          "EstimatedIncreaseInClicks": {
            "type": "number"
          },
          "EstimatedIncreaseInCost": {
            "type": "number"
          },
          "OpportunityKey": {
            "type": "string"
          }
        }
      },
      "GetBudgetOpportunitiesRequest": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          }
        }
      },
      "GetBudgetOpportunitiesResponse": {
        "type": "object",
        "properties": {
          "Opportunities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetOpportunity"
            }
          }
        }
      },
      "BudgetOpportunity": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "CurrentBudget": {
            "type": "number"
          },
          "RecommendedBudget": {
            "type": "number"
          },
          "BudgetType": {
            "$ref": "#/components/schemas/BudgetLimitType"
          },
          "IncreaseInImpressions": {
            "type": "string"
          },
          "PercentageIncreaseInImpressions": {
            "type": "integer"
          },
          "IncreaseInClicks": {
            "type": "number"
          },
          "PercentageIncreaseInClicks": {
            "type": "integer"
          },
          "BudgetPoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BudgetPoint"
            }
          },
          "OpportunityKey": {
            "type": "string"
          }
        }
      },
      "BudgetLimitType": {
        "type": "string",
        "enum": [
          "DailyBudgetStandard",
          "DailyBudgetAccelerated"
        ]
      },
      "BudgetPoint": {
        "type": "object",
        "properties": {
          "BudgetAmount": {
            "type": "number"
          },
          "BudgetPointType": {
            "$ref": "#/components/schemas/BudgetPointType"
          },
          "EstimatedWeeklyClicks": {
            "type": "number"
          },
          "EstimatedWeeklyCost": {
            "type": "number"
          },
          "EstimatedWeeklyImpressions": {
            "type": "number"
          }
        }
      },
      "BudgetPointType": {
        "type": "string",
        "enum": [
          "Current",
          "Suggested",
          "Maximum",
          "Other"
        ]
      },
      "GetDomainCategoriesRequest": {
        "type": "object",
        "properties": {
          "DomainName": {
            "type": "string"
          },
          "Language": {
            "type": "string"
          },
          "CategoryName": {
            "type": "string"
          }
        }
      },
      "GetDomainCategoriesResponse": {
        "type": "object",
        "properties": {
          "Categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainCategory"
            }
          }
        }
      },
      "DomainCategory": {
        "type": "object",
        "properties": {
          "CategoryName": {
            "type": "string"
          },
          "Coverage": {
            "type": "number"
          },
          "Bid": {
            "type": "number"
          }
        }
      },
      "GetEstimatedBidByKeywordIdsRequest": {
        "type": "object",
        "properties": {
          "KeywordIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "TargetPositionForAds": {
            "$ref": "#/components/schemas/TargetAdPosition"
          }
        }
      },
      "TargetAdPosition": {
        "type": "string",
        "enum": [
          "MainLine1",
          "MainLine",
          "FirstPage"
        ]
      },
      "GetEstimatedBidByKeywordIdsResponse": {
        "type": "object",
        "properties": {
          "KeywordEstimatedBids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordIdEstimatedBid"
            }
          }
        }
      },
      "KeywordIdEstimatedBid": {
        "type": "object",
        "properties": {
          "KeywordId": {
            "type": "string"
          },
          "KeywordEstimatedBid": {
            "$ref": "#/components/schemas/KeywordEstimatedBid"
          }
        }
      },
      "KeywordEstimatedBid": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "EstimatedBids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimatedBidAndTraffic"
            }
          }
        }
      },
      "EstimatedBidAndTraffic": {
        "type": "object",
        "properties": {
          "MinClicksPerWeek": {
            "type": "number"
          },
          "MaxClicksPerWeek": {
            "type": "number"
          },
          "AverageCPC": {
            "type": "number"
          },
          "MinImpressionsPerWeek": {
            "type": "string"
          },
          "MaxImpressionsPerWeek": {
            "type": "string"
          },
          "CTR": {
            "type": "number"
          },
          "MinTotalCostPerWeek": {
            "type": "number"
          },
          "MaxTotalCostPerWeek": {
            "type": "number"
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "MatchType": {
            "$ref": "#/components/schemas/MatchType"
          },
          "EstimatedMinBid": {
            "type": "number"
          }
        }
      },
      "MatchType": {
        "type": "string",
        "enum": [
          "Exact",
          "Phrase",
          "Broad",
          "Aggregate"
        ]
      },
      "GetEstimatedBidByKeywordsRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordAndMatchType"
            }
          },
          "TargetPositionForAds": {
            "$ref": "#/components/schemas/TargetAdPosition"
          },
          "Language": {
            "type": "string"
          },
          "LocationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "CampaignId": {
            "type": "string"
          },
          "AdGroupId": {
            "type": "string"
          },
          "EntityLevelBid": {
            "type": "string"
          }
        }
      },
      "KeywordAndMatchType": {
        "type": "object",
        "properties": {
          "KeywordText": {
            "type": "string"
          },
          "MatchTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchType"
            }
          }
        }
      },
      "GetEstimatedBidByKeywordsResponse": {
        "type": "object",
        "properties": {
          "KeywordEstimatedBids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordEstimatedBid"
            }
          },
          "AdGroupEstimatedBid": {
            "$ref": "#/components/schemas/EstimatedBidAndTraffic"
          }
        }
      },
      "GetEstimatedPositionByKeywordIdsRequest": {
        "type": "object",
        "properties": {
          "KeywordIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "MaxBid": {
            "type": "number"
          }
        }
      },
      "GetEstimatedPositionByKeywordIdsResponse": {
        "type": "object",
        "properties": {
          "KeywordEstimatedPositions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordIdEstimatedPosition"
            }
          }
        }
      },
      "KeywordIdEstimatedPosition": {
        "type": "object",
        "properties": {
          "KeywordId": {
            "type": "string"
          },
          "KeywordEstimatedPosition": {
            "$ref": "#/components/schemas/KeywordEstimatedPosition"
          }
        }
      },
      "KeywordEstimatedPosition": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "EstimatedPositions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EstimatedPositionAndTraffic"
            }
          }
        }
      },
      "EstimatedPositionAndTraffic": {
        "type": "object",
        "properties": {
          "MatchType": {
            "$ref": "#/components/schemas/MatchType"
          },
          "MinClicksPerWeek": {
            "type": "number"
          },
          "MaxClicksPerWeek": {
            "type": "number"
          },
          "AverageCPC": {
            "type": "number"
          },
          "MinImpressionsPerWeek": {
            "type": "string"
          },
          "MaxImpressionsPerWeek": {
            "type": "string"
          },
          "CTR": {
            "type": "number"
          },
          "MinTotalCostPerWeek": {
            "type": "number"
          },
          "MaxTotalCostPerWeek": {
            "type": "number"
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "EstimatedAdPosition": {
            "type": "number"
          }
        }
      },
      "GetEstimatedPositionByKeywordsRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "MaxBid": {
            "type": "number"
          },
          "Language": {
            "type": "string"
          },
          "LocationIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "CurrencyCode": {
            "$ref": "#/components/schemas/CurrencyCode"
          },
          "MatchTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchType"
            }
          },
          "CampaignId": {
            "type": "string"
          },
          "AdGroupId": {
            "type": "string"
          }
        }
      },
      "GetEstimatedPositionByKeywordsResponse": {
        "type": "object",
        "properties": {
          "KeywordEstimatedPositions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordEstimatedPosition"
            }
          }
        }
      },
      "GetHistoricalKeywordPerformanceRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "TimeInterval": {
            "$ref": "#/components/schemas/TimeInterval"
          },
          "TargetAdPosition": {
            "$ref": "#/components/schemas/AdPosition"
          },
          "MatchTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MatchType"
            }
          },
          "Language": {
            "type": "string"
          },
          "PublisherCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Devices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "TimeInterval": {
        "type": "string",
        "enum": [
          "LastMonth",
          "LastWeek",
          "LastDay"
        ]
      },
      "AdPosition": {
        "type": "string",
        "enum": [
          "All",
          "MainLine1",
          "MainLine2",
          "MainLine3",
          "MainLine4",
          "FirstPage1",
          "FirstPage2",
          "FirstPage3",
          "FirstPage4",
          "FirstPage5",
          "FirstPage6",
          "FirstPage7",
          "FirstPage8",
          "FirstPage9",
          "FirstPage10",
          "Aggregate"
        ]
      },
      "GetHistoricalKeywordPerformanceResponse": {
        "type": "object",
        "properties": {
          "KeywordHistoricalPerformances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordHistoricalPerformance"
            }
          }
        }
      },
      "KeywordHistoricalPerformance": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "KeywordKPIs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordKPI"
            }
          }
        }
      },
      "KeywordKPI": {
        "type": "object",
        "properties": {
          "Device": {
            "type": "string"
          },
          "MatchType": {
            "$ref": "#/components/schemas/MatchType"
          },
          "AdPosition": {
            "$ref": "#/components/schemas/AdPosition"
          },
          "Clicks": {
            "type": "integer"
          },
          "Impressions": {
            "type": "string"
          },
          "AverageCPC": {
            "type": "number"
          },
          "CTR": {
            "type": "number"
          },
          "TotalCost": {
            "type": "number"
          },
          "AverageBid": {
            "type": "number"
          }
        }
      },
      "GetHistoricalSearchCountRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Language": {
            "type": "string"
          },
          "PublisherCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "StartDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "EndDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "TimePeriodRollup": {
            "type": "string"
          },
          "Devices": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetHistoricalSearchCountResponse": {
        "type": "object",
        "properties": {
          "KeywordSearchCounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordSearchCount"
            }
          }
        }
      },
      "KeywordSearchCount": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "SearchCountsByAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchCountsByAttributes"
            }
          }
        }
      },
      "SearchCountsByAttributes": {
        "type": "object",
        "properties": {
          "Device": {
            "type": "string"
          },
          "HistoricalSearchCounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HistoricalSearchCountPeriodic"
            }
          }
        }
      },
      "HistoricalSearchCountPeriodic": {
        "type": "object",
        "properties": {
          "SearchCount": {
            "type": "string"
          },
          "DayMonthAndYear": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          }
        }
      },
      "GetKeywordCategoriesRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Language": {
            "type": "string"
          },
          "PublisherCountry": {
            "type": "string"
          },
          "MaxCategories": {
            "type": "integer"
          }
        }
      },
      "GetKeywordCategoriesResponse": {
        "type": "object",
        "properties": {
          "Result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordCategoryResult"
            }
          }
        }
      },
      "KeywordCategoryResult": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "KeywordCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordCategory"
            }
          }
        }
      },
      "KeywordCategory": {
        "type": "object",
        "properties": {
          "Category": {
            "type": "string"
          },
          "ConfidenceScore": {
            "type": "number"
          }
        }
      },
      "GetKeywordDemographicsRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Language": {
            "type": "string"
          },
          "PublisherCountry": {
            "type": "string"
          },
          "Device": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetKeywordDemographicsResponse": {
        "type": "object",
        "properties": {
          "KeywordDemographicResult": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordDemographicResult"
            }
          }
        }
      },
      "KeywordDemographicResult": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "KeywordDemographics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordDemographic"
            }
          }
        }
      },
      "KeywordDemographic": {
        "type": "object",
        "properties": {
          "Device": {
            "type": "string"
          },
          "EighteenToTwentyFour": {
            "type": "number"
          },
          "TwentyFiveToThirtyFour": {
            "type": "number"
          },
          "ThirtyFiveToFourtyNine": {
            "type": "number"
          },
          "FiftyToSixtyFour": {
            "type": "number"
          },
          "SixtyFiveAndAbove": {
            "type": "number"
          },
          "AgeUnknown": {
            "type": "number"
          },
          "Female": {
            "type": "number"
          },
          "Male": {
            "type": "number"
          },
          "GenderUnknown": {
            "type": "number"
          }
        }
      },
      "Dict": {
        "type": "object",
        "description": "unresolved reference: Dict"
      },
      "GetKeywordIdeaCategoriesResponse": {
        "type": "object",
        "properties": {
          "KeywordIdeaCategories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordIdeaCategory"
            }
          }
        }
      },
      "KeywordIdeaCategory": {
        "type": "object",
        "properties": {
          "CategoryId": {
            "type": "string"
          },
          "CategoryName": {
            "type": "string"
          }
        }
      },
      "GetKeywordIdeasRequest": {
        "type": "object",
        "properties": {
          "ExpandIdeas": {
            "type": "boolean"
          },
          "IdeaAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordIdeaAttribute"
            }
          },
          "SearchParameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchParameter"
            }
          }
        }
      },
      "KeywordIdeaAttribute": {
        "type": "string",
        "enum": [
          "AdGroupId",
          "AdGroupName",
          "Keyword",
          "Source",
          "MonthlySearchCounts",
          "SuggestedBid",
          "Competition",
          "Relevance",
          "AdImpressionShare"
        ]
      },
      "GetKeywordIdeasResponse": {
        "type": "object",
        "properties": {
          "KeywordIdeas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordIdea"
            }
          }
        }
      },
      "KeywordIdea": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "AdGroupId": {
            "type": "string"
          },
          "AdGroupName": {
            "type": "string"
          },
          "Source": {
            "$ref": "#/components/schemas/SourceType"
          },
          "MonthlySearchCounts": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "SuggestedBid": {
            "type": "number"
          },
          "Competition": {
            "$ref": "#/components/schemas/CompetitionLevel"
          },
          "Relevance": {
            "type": "number"
          },
          "AdImpressionShare": {
            "type": "number"
          }
        }
      },
      "SourceType": {
        "type": "string",
        "enum": [
          "Unknown",
          "Seed",
          "SuggestionFromKeyword",
          "SuggestionFromUrl",
          "SuggestionFromCategory"
        ]
      },
      "CompetitionLevel": {
        "type": "string",
        "enum": [
          "Low",
          "Medium",
          "High"
        ]
      },
      "GetKeywordLocationsRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Language": {
            "type": "string"
          },
          "PublisherCountry": {
            "type": "string"
          },
          "Device": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Level": {
            "type": "integer"
          },
          "ParentCountry": {
            "type": "string"
          },
          "MaxLocations": {
            "type": "integer"
          }
        }
      },
      "GetKeywordLocationsResponse": {
        "type": "object",
        "properties": {
          "KeywordLocationResult": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordLocationResult"
            }
          }
        }
      },
      "KeywordLocationResult": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "KeywordLocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordLocation"
            }
          }
        }
      },
      "KeywordLocation": {
        "type": "object",
        "properties": {
          "Device": {
            "type": "string"
          },
          "Location": {
            "type": "string"
          },
          "Percentage": {
            "type": "number"
          }
        }
      },
      "GetKeywordOpportunitiesRequest": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string"
          },
          "OpportunityType": {
            "$ref": "#/components/schemas/KeywordOpportunityType"
          }
        }
      },
      "KeywordOpportunityType": {
        "type": "object",
        "properties": {}
      },
      "GetKeywordOpportunitiesResponse": {
        "type": "object",
        "properties": {
          "Opportunities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordOpportunity"
            }
          }
        }
      },
      "KeywordOpportunity": {
        "type": "object",
        "properties": {}
      },
      "GetKeywordTrafficEstimatesRequest": {
        "type": "object",
        "properties": {
          "CampaignEstimators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignEstimator"
            }
          }
        }
      },
      "CampaignEstimator": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "DailyBudget": {
            "type": "number"
          },
          "Criteria": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Criterion"
            }
          },
          "AdGroupEstimators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdGroupEstimator"
            }
          },
          "NegativeKeywords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NegativeKeyword"
            }
          }
        }
      },
      "Criterion": {
        "type": "object",
        "properties": {}
      },
      "AdGroupEstimator": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "MaxCpc": {
            "type": "number"
          },
          "KeywordEstimators": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordEstimator"
            }
          }
        }
      },
      "KeywordEstimator": {
        "type": "object",
        "properties": {
          "Keyword": {
            "$ref": "#/components/schemas/Keyword"
          },
          "MaxCpc": {
            "type": "number"
          }
        }
      },
      "Keyword": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Text": {
            "type": "string"
          },
          "MatchType": {
            "$ref": "#/components/schemas/MatchType"
          }
        }
      },
      "NegativeKeyword": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Text": {
            "type": "string"
          },
          "MatchType": {
            "$ref": "#/components/schemas/MatchType"
          }
        }
      },
      "GetKeywordTrafficEstimatesResponse": {
        "type": "object",
        "properties": {
          "CampaignEstimates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignEstimate"
            }
          }
        }
      },
      "CampaignEstimate": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AdGroupEstimates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdGroupEstimate"
            }
          }
        }
      },
      "AdGroupEstimate": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "KeywordEstimates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordEstimate"
            }
          }
        }
      },
      "KeywordEstimate": {
        "type": "object",
        "properties": {
          "Keyword": {
            "$ref": "#/components/schemas/Keyword"
          },
          "Minimum": {
            "$ref": "#/components/schemas/TrafficEstimate"
          },
          "Maximum": {
            "$ref": "#/components/schemas/TrafficEstimate"
          }
        }
      },
      "TrafficEstimate": {
        "type": "object",
        "properties": {
          "Impressions": {
            "type": "number"
          },
          "Clicks": {
            "type": "number"
          },
          "TotalCost": {
            "type": "number"
          },
          "Ctr": {
            "type": "number"
          },
          "AverageCpc": {
            "type": "number"
          },
          "AveragePosition": {
            "type": "number"
          }
        }
      },
      "GetPerformanceInsightsDetailDataByAccountIdRequest": {
        "type": "object",
        "properties": {
          "EntityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "StartDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "EndDate": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          }
        }
      },
      "GetPerformanceInsightsDetailDataByAccountIdResponse": {
        "type": "object",
        "properties": {
          "Result": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerformanceInsightsDetail"
            }
          }
        }
      },
      "PerformanceInsightsDetail": {
        "type": "object",
        "properties": {
          "EntityId": {
            "type": "string"
          },
          "EntityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "KPIType": {
            "$ref": "#/components/schemas/KPIType"
          },
          "Date": {
            "$ref": "#/components/schemas/DayMonthAndYear"
          },
          "Description": {
            "$ref": "#/components/schemas/PerformanceInsightsMessage"
          },
          "RootCauses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerformanceInsightsMessage"
            }
          },
          "Actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerformanceInsightsMessage"
            }
          }
        }
      },
      "KPIType": {
        "type": "string",
        "enum": [
          "Impression",
          "Click",
          "Spend",
          "Conversion"
        ]
      },
      "PerformanceInsightsMessage": {
        "type": "object",
        "properties": {
          "TemplateId": {
            "$ref": "#/components/schemas/PerformanceInsightsMessageTemplateId"
          },
          "Parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PerformanceInsightsMessageParameter"
            }
          },
          "IndentationLevel": {
            "type": "integer"
          }
        }
      },
      "PerformanceInsightsMessageTemplateId": {
        "type": "string",
        "enum": [
          "FluxImprIncreaseAcct",
          "FluxImprDecreaseAcct",
          "FluxImprIncreaseInfinityAcct",
          "FluxImprIncreaseAcctPrevDay",
          "FluxImprDecreaseAcctPrevDay",
          "FluxImprIncreaseInfinityAcctPrevDay",
          "FluxClickIncreaseAcct",
          "FluxClickDecreaseAcct",
          "FluxClickIncreaseInfinityAcct",
          "FluxClickIncreaseAcctPrevDay",
          "FluxClickDecreaseAcctPrevDay",
          "FluxClickIncreaseInfinityAcctPrevDay",
          "FluxCostIncreaseAcct",
          "FluxCostDecreaseAcct",
          "FluxCostIncreaseInfinityAcct",
          "FluxCostIncreaseAcctPrevDay",
          "FluxCostDecreaseAcctPrevDay",
          "FluxCostIncreaseInfinityAcctPrevDay",
          "FluxImprIncreaseCampaign",
          "FluxImprDecreaseCampaign",
          "FluxImprIncreaseInfinityCampaign",
          "FluxImprIncreaseCampaignPrevDay",
          "FluxImprDecreaseCampaignPrevDay",
          "FluxImprIncreaseInfinityCampaignPrevDay",
          "FluxClickIncreaseCampaign",
          "FluxClickDecreaseCampaign",
          "FluxClickIncreaseInfinityCampaign",
          "FluxClickIncreaseCampaignPrevDay",
          "FluxClickDecreaseCampaignPrevDay",
          "FluxClickIncreaseInfinityCampaignPrevDay",
          "FluxCostIncreaseCampaign",
          "FluxCostDecreaseCampaign",
          "FluxCostIncreaseInfinityCampaign",
          "FluxCostIncreaseCampaignPrevDay",
          "FluxCostDecreaseCampaignPrevDay",
          "FluxCostIncreaseInfinityCampaignPrevDay",
          "FluxConversionDecreaseAcct",
          "FluxConversionZeroAcct",
          "RCAudienceIncrease",
          "RCAudienceDecrease",
          "RCBidIncrease",
          "RCBidDecrease",
          "RCBudgetIncrease",
          "RCBudgetDecrease",
          "RCClickIncrease",
          "RCClickDecrease",
          "RCConversionGoalIssue",
          "RCDeviceTargetingBidChange",
          "RCEditorialApproval",
          "RCEditorialDisapproval",
          "RCEntityAdditionWithCount",
          "RCEntityDeletionWithCount",
          "RCEntityPauseWithCount",
          "RCEntityUnpauseWithCount",
          "RCMoreCompetitive",
          "RCNetworkLessRestrict",
          "RCNetworkMoreRestrict",
          "RCPaymentIssueInvoiceAccountPaused",
          "RCPaymentIssueInvoiceAccountOnHold",
          "RCPaymentIssuePrepayAccountPaused",
          "RCPaymentIssueThresholdAccountOnHold",
          "RCPaymentIssueYesterday",
          "RCSearchTermIncrease",
          "RCSearchTermIncreaseClick",
          "RCSearchTermDecrease",
          "RCSearchTermDecreaseClick",
          "RCSearchTermCompetitionIncrease",
          "RCSearchTermCompetitionIncreaseClick",
          "RCSearchTermCompetitionDecrease",
          "RCSearchTermCompetitionDecreaseClick",
          "RCSingleCampaignAddition",
          "RCSingleCampaignPause",
          "RCSingleCampaignUnpause",
          "RCSingleCampaignBudgetIncrease",
          "RCSingleCampaignBudgetDecrease",
          "RCSingleCampaignDeviceTargetingBidChange",
          "RCStrongerCompetitorAdQuality",
          "RCStrongerCompetitorBid",
          "RCSyndTrafficIncrease",
          "RCSyndTrafficDecrease",
          "ActAdsOppr",
          "ActAllAvailableOppr",
          "ActBMAdoptionOppr",
          "ActBMMKeywordOppr",
          "ActCampaignContextKeywordOppr",
          "ActCheckPublisherWebsite",
          "ActCompetitionAuctionInsight",
          "ActCompetitiveBudgetOppr",
          "ActCompetitiveKeywordOppr",
          "ActCompetitiveLocationTargetOppr",
          "ActCTRQualityBundle",
          "ActEditorialReviewProcess",
          "ActFixConversionGoalSettingOppr",
          "ActFixConversionTrackingOppr",
          "ActGeneralBudgetOppr",
          "ActNewConversionGoalOppr",
          "ActInvoiceAccountPaused",
          "ActInvoiceAccountOnHold",
          "ActPrepayAccountPaused",
          "ActReallocateBudgetOppr",
          "ActRepairKeywordsOppr",
          "ActRSAOppr",
          "ActSearchTerm",
          "ActSetupConversionTrackingOppr",
          "ActSiteLinkOppr",
          "ActThresholdAccountOnHold",
          "ActWebsiteExclusion"
        ]
      },
      "PerformanceInsightsMessageParameter": {
        "type": "object",
        "properties": {}
      },
      "GetRecommendationsRequest": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AdGroupId": {
            "type": "string"
          },
          "RecommendationType": {
            "type": "string"
          }
        }
      },
      "GetRecommendationsResponse": {
        "type": "object",
        "properties": {
          "Recommendations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Recommendation"
            }
          }
        }
      },
      "Recommendation": {
        "type": "object",
        "properties": {}
      },
      "GetTextAssetSuggestionsByFinalUrlsRequest": {
        "type": "object",
        "properties": {
          "FinalUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GetTextAssetSuggestionsByFinalUrlsResponse": {
        "type": "object",
        "properties": {
          "TextAssetSuggestions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TextAssetSuggestions"
            }
          },
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          }
        }
      },
      "TextAssetSuggestions": {
        "type": "object",
        "properties": {
          "FinalUrl": {
            "type": "string"
          },
          "TextAssets": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RetrieveRecommendationsRequest": {
        "type": "object",
        "properties": {
          "MaxCount": {
            "type": "integer"
          },
          "RecommendationTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "RetrieveRecommendationsResponse": {
        "type": "object",
        "properties": {
          "Recommendations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecommendationBase"
            }
          }
        }
      },
      "RecommendationBase": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string"
          },
          "AdGroupId": {
            "type": "string"
          },
          "RecommendationType": {
            "type": "string"
          },
          "RecommendationId": {
            "type": "string"
          },
          "RecommendationHash": {
            "type": "string"
          },
          "CurrentClicks": {
            "type": "string"
          },
          "EstimatedIncreaseInClicks": {
            "type": "string"
          },
          "CurrentCost": {
            "type": "number"
          },
          "EstimatedIncreaseInCost": {
            "type": "number"
          },
          "CurrentImpressions": {
            "type": "string"
          },
          "EstimatedIncreaseInImpressions": {
            "type": "string"
          },
          "CurrentConversions": {
            "type": "string"
          },
          "EstimatedIncreaseInConversions": {
            "type": "string"
          },
          "Type": {
            "type": "string"
          }
        }
      },
      "SetAutoApplyOptInStatusRequest": {
        "type": "object",
        "properties": {
          "AutoApplyOptInStatusInputs": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SetAutoApplyOptInStatusResponse": {
        "type": "object",
        "properties": {
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          }
        }
      },
      "SuggestKeywordsForUrlRequest": {
        "type": "object",
        "properties": {
          "Url": {
            "type": "string"
          },
          "Language": {
            "type": "string"
          },
          "MaxKeywords": {
            "type": "integer"
          },
          "MinConfidenceScore": {
            "type": "number"
          },
          "ExcludeBrand": {
            "type": "boolean"
          }
        }
      },
      "SuggestKeywordsForUrlResponse": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordAndConfidence"
            }
          }
        }
      },
      "KeywordAndConfidence": {
        "type": "object",
        "properties": {
          "SuggestedKeyword": {
            "type": "string"
          },
          "ConfidenceScore": {
            "type": "number"
          }
        }
      },
      "SuggestKeywordsFromExistingKeywordsRequest": {
        "type": "object",
        "properties": {
          "Keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Language": {
            "type": "string"
          },
          "PublisherCountries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "MaxSuggestionsPerKeyword": {
            "type": "integer"
          },
          "SuggestionType": {
            "type": "integer"
          },
          "RemoveDuplicates": {
            "type": "boolean"
          },
          "ExcludeBrand": {
            "type": "boolean"
          },
          "AdGroupId": {
            "type": "string"
          },
          "CampaignId": {
            "type": "string"
          }
        }
      },
      "SuggestKeywordsFromExistingKeywordsResponse": {
        "type": "object",
        "properties": {
          "KeywordSuggestions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordSuggestion"
            }
          }
        }
      },
      "KeywordSuggestion": {
        "type": "object",
        "properties": {
          "Keyword": {
            "type": "string"
          },
          "SuggestionsAndConfidence": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeywordAndConfidence"
            }
          }
        }
      },
      "TagRecommendationsRequest": {
        "type": "object",
        "properties": {
          "RecommendationType": {
            "type": "string"
          },
          "RecommendationsInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecommendationInfo"
            }
          },
          "Lable": {
            "type": "string"
          }
        }
      },
      "RecommendationInfo": {
        "type": "object",
        "properties": {}
      },
      "TagRecommendationsResponse": {
        "type": "object",
        "properties": {
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          }
        }
      },
      "DownloadCampaignsByAccountIdsRequest": {
        "type": "object",
        "properties": {
          "AccountIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "LastSyncTimeInUTC": {
            "type": "string",
            "format": "date-time"
          },
          "DownloadEntities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DownloadEntity"
            }
          },
          "DataScope": {
            "$ref": "#/components/schemas/DataScope"
          },
          "DownloadFileType": {
            "$ref": "#/components/schemas/DownloadFileType"
          },
          "FormatVersion": {
            "type": "string"
          },
          "CompressionType": {
            "$ref": "#/components/schemas/CompressionType"
          }
        }
      },
      "DownloadEntity": {
        "type": "string",
        "enum": [
          "None",
          "Campaigns",
          "AdGroups",
          "Ads",
          "Keywords",
          "CampaignNegativeKeywords",
          "AdGroupNegativeKeywords",
          "CampaignTargetCriterions",
          "AdGroupTargetCriterions",
          "CampaignNegativeSites",
          "AdGroupNegativeSites",
          "CampaignLocationAdExtensions",
          "CampaignCallAdExtensions",
          "LocationAdExtensions",
          "CallAdExtensions",
          "NegativeKeywordLists",
          "SharedNegativeKeywords",
          "CampaignNegativeKeywordListAssociations",
          "ImageAdExtensions",
          "CampaignImageAdExtensions",
          "AdGroupImageAdExtensions",
          "AppAdExtensions",
          "AdGroupAppAdExtensions",
          "CampaignAppAdExtensions",
          "PriceAdExtensions",
          "ReviewAdExtensions",
          "CampaignNegativeDynamicSearchAdTargets",
          "AdGroupProductPartitions",
          "CampaignProductScopes",
          "CampaignReviewAdExtensions",
          "AdGroupReviewAdExtensions",
          "CalloutAdExtensions",
          "CampaignCalloutAdExtensions",
          "AdGroupCalloutAdExtensions",
          "SitelinkAdExtensions",
          "CampaignSitelinkAdExtensions",
          "AdGroupSitelinkAdExtensions",
          "StructuredSnippetAdExtensions",
          "CampaignStructuredSnippetAdExtensions",
          "AdGroupStructuredSnippetAdExtensions",
          "RemarketingLists",
          "AdGroupRemarketingListAssociations",
          "Budgets",
          "TextAds",
          "ProductAds",
          "AppInstallAds",
          "ExpandedTextAds",
          "DynamicSearchAds",
          "AdGroupDynamicSearchAdTargets",
          "AdGroupNegativeDynamicSearchAdTargets",
          "CampaignPriceAdExtensions",
          "AdGroupPriceAdExtensions",
          "Labels",
          "CampaignLabels",
          "AdGroupLabels",
          "TextAdLabels",
          "KeywordLabels",
          "AdGroupNegativeRemarketingListAssociations",
          "CustomAudiences",
          "AdGroupCustomAudienceAssociations",
          "AdGroupNegativeCustomAudienceAssociations",
          "InMarketAudiences",
          "AdGroupInMarketAudienceAssociations",
          "AdGroupNegativeInMarketAudienceAssociations",
          "Audiences",
          "AdGroupAudienceAssociations",
          "AdGroupNegativeAudienceAssociations",
          "ProductAdLabels",
          "AppInstallAdLabels",
          "ExpandedTextAdLabels",
          "DynamicSearchAdLabels",
          "AccountLocationAdExtensions",
          "AccountImageAdExtensions",
          "AccountAppAdExtensions",
          "AccountPriceAdExtensions",
          "AccountReviewAdExtensions",
          "AccountCalloutAdExtensions",
          "AccountSitelinkAdExtensions",
          "AccountStructuredSnippetAdExtensions",
          "ResponsiveAds",
          "ResponsiveAdLabels",
          "ProductAudiences",
          "AdGroupProductAudienceAssociations",
          "AdGroupNegativeProductAudienceAssociations",
          "SimilarRemarketingLists",
          "AdGroupSimilarRemarketingListAssociations",
          "AdGroupNegativeSimilarRemarketingListAssociations",
          "Experiments",
          "ActionAdExtensions",
          "CampaignActionAdExtensions",
          "AdGroupActionAdExtensions",
          "AccountActionAdExtensions",
          "ResponsiveSearchAds",
          "ResponsiveSearchAdLabels",
          "CampaignAudienceAssociations",
          "CampaignNegativeAudienceAssociations",
          "CampaignCustomAudienceAssociations",
          "CampaignNegativeCustomAudienceAssociations",
          "CampaignInMarketAudienceAssociations",
          "CampaignNegativeInMarketAudienceAssociations",
          "CampaignProductAudienceAssociations",
          "CampaignNegativeProductAudienceAssociations",
          "CampaignRemarketingListAssociations",
          "CampaignNegativeRemarketingListAssociations",
          "CampaignSimilarRemarketingListAssociations",
          "CampaignNegativeSimilarRemarketingListAssociations",
          "Feeds",
          "FeedItems",
          "CampaignNegativeStoreCriterions",
          "PromotionAdExtensions",
          "AccountPromotionAdExtensions",
          "CampaignPromotionAdExtensions",
          "AdGroupPromotionAdExtensions",
          "CombinedLists",
          "AdGroupCombinedListAssociations",
          "AdGroupNegativeCombinedListAssociations",
          "CampaignCombinedListAssociations",
          "CampaignNegativeCombinedListAssociations",
          "Images",
          "CustomerLists",
          "AdGroupCustomerListAssociations",
          "AdGroupNegativeCustomerListAssociations",
          "CampaignCustomerListAssociations",
          "CampaignNegativeCustomerListAssociations",
          "FilterLinkAdExtensions",
          "AccountFilterLinkAdExtensions",
          "CampaignFilterLinkAdExtensions",
          "AdGroupFilterLinkAdExtensions",
          "FlyerAdExtensions",
          "AccountFlyerAdExtensions",
          "CampaignFlyerAdExtensions",
          "AdGroupFlyerAdExtensions",
          "BidStrategies",
          "VideoAdExtensions",
          "AccountVideoAdExtensions",
          "CampaignVideoAdExtensions",
          "AdGroupVideoAdExtensions",
          "Videos",
          "DisclaimerAdExtensions",
          "CampaignDisclaimerAdExtensions",
          "AdcustomizerAttribute",
          "CampaignAdcustomizerAttribute",
          "AdGroupAdcustomizerAttribute",
          "KeywordAdcustomizerAttribute",
          "CampaignConversionGoal",
          "AdGroupHotelListingGroups",
          "AssetGroups",
          "AudienceGroups",
          "CampaignNegativeWebpages",
          "AudienceGroupAssetGroupAssociations",
          "AssetGroupListingGroups",
          "LogoAdExtensions",
          "AccountLogoAdExtensions",
          "CampaignLogoAdExtensions",
          "AdGroupLogoAdExtensions",
          "LeadFormAdExtensions",
          "AccountLeadFormAdExtensions",
          "CampaignLeadFormAdExtensions",
          "AccountNegativeKeywordList",
          "AccountNegativeKeywordListAssociation",
          "AccountNegativeKeyword",
          "ConversionGoal",
          "EventGoal",
          "AppInstallGoal",
          "MultiStageGoal",
          "DurationGoal",
          "OfflineConversionGoal",
          "UrlGoal",
          "InStoreTransactionGoal",
          "PagesViewedPerVisitGoal",
          "SmartGoal",
          "InStoreVisitGoal",
          "ProductGoal",
          "SeasonalityAdjustments",
          "DataExclusions",
          "BrandList",
          "BrandItem",
          "CampaignBrandListAssociation",
          "AssetGroupSearchThemes",
          "ImpressionBasedRemarketingList",
          "AdGroupImpressionBasedRemarketingListAssociations",
          "AdGroupNegativeImpressionBasedRemarketingListAssociations",
          "CampaignImpressionBasedRemarketingListAssociations",
          "CampaignNegativeImpressionBasedRemarketingListAssociations",
          "AssetGroupUrlTargets",
          "NewCustomerAcquisitionGoal",
          "ConversionValueRule",
          "AccountPlacementExclusionList",
          "AccountPlacementExclusionListItem",
          "CampaignAccountPlacementExclusionListAssociation",
          "AccountPlacementInclusionList",
          "AccountPlacementInclusionListItem",
          "CampaignAccountPlacementInclusionListAssociation",
          "Topic",
          "ContentPlacement",
          "BrandKit",
          "CustomSegment",
          "AdGroupCustomSegmentAssociations",
          "AccountContentNegativeKeywordList",
          "AccountContentNegativeKeywordListAssociation",
          "AccountContentNegativeKeyword",
          "AssetGroupNegativeKeywords"
        ]
      },
      "DataScope": {
        "type": "object",
        "properties": {}
      },
      "DownloadFileType": {
        "type": "string",
        "enum": [
          "Csv",
          "Tsv"
        ]
      },
      "CompressionType": {
        "type": "string",
        "enum": [
          "Zip",
          "GZip"
        ]
      },
      "DownloadCampaignsByAccountIdsResponse": {
        "type": "object",
        "properties": {
          "DownloadRequestId": {
            "type": "string"
          }
        }
      },
      "DownloadCampaignsByCampaignIdsRequest": {
        "type": "object",
        "properties": {
          "Campaigns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignScope"
            }
          },
          "LastSyncTimeInUTC": {
            "type": "string",
            "format": "date-time"
          },
          "DownloadEntities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DownloadEntity"
            }
          },
          "DataScope": {
            "$ref": "#/components/schemas/DataScope"
          },
          "DownloadFileType": {
            "$ref": "#/components/schemas/DownloadFileType"
          },
          "FormatVersion": {
            "type": "string"
          },
          "CompressionType": {
            "$ref": "#/components/schemas/CompressionType"
          }
        }
      },
      "CampaignScope": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "ParentAccountId": {
            "type": "string"
          }
        }
      },
      "DownloadCampaignsByCampaignIdsResponse": {
        "type": "object",
        "properties": {
          "DownloadRequestId": {
            "type": "string"
          }
        }
      },
      "GetBulkDownloadStatusRequest": {
        "type": "object",
        "properties": {
          "RequestId": {
            "type": "string"
          }
        }
      },
      "GetBulkDownloadStatusResponse": {
        "type": "object",
        "properties": {
          "RequestStatus": {
            "type": "string"
          },
          "ResultFileUrl": {
            "type": "string"
          },
          "PercentComplete": {
            "type": "integer"
          },
          "ForwardCompatibilityMap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValuePairOfstringAndstring"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationError"
            }
          }
        }
      },
      "KeyValuePairOfstringAndstring": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        }
      },
      "OperationError": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "integer"
          },
          "ErrorCode": {
            "type": "string"
          },
          "Details": {
            "type": "string"
          },
          "Message": {
            "type": "string"
          }
        }
      },
      "GetBulkUploadStatusRequest": {
        "type": "object",
        "properties": {
          "RequestId": {
            "type": "string"
          }
        }
      },
      "GetBulkUploadStatusResponse": {
        "type": "object",
        "properties": {
          "RequestStatus": {
            "type": "string"
          },
          "ResultFileUrl": {
            "type": "string"
          },
          "PercentComplete": {
            "type": "integer"
          },
          "ForwardCompatibilityMap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValuePairOfstringAndstring"
            }
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationError"
            }
          }
        }
      },
      "GetBulkUploadUrlRequest": {
        "type": "object",
        "properties": {
          "ResponseMode": {
            "$ref": "#/components/schemas/ResponseMode"
          },
          "AccountId": {
            "type": "string"
          }
        }
      },
      "ResponseMode": {
        "type": "string",
        "enum": [
          "ErrorsOnly",
          "ErrorsAndResults"
        ]
      },
      "GetBulkUploadUrlResponse": {
        "type": "object",
        "properties": {
          "UploadUrl": {
            "type": "string"
          },
          "RequestId": {
            "type": "string"
          }
        }
      },
      "UploadEntityRecordsRequest": {
        "type": "object",
        "properties": {
          "ResponseMode": {
            "$ref": "#/components/schemas/ResponseMode"
          },
          "EntityRecords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "AccountId": {
            "type": "string"
          }
        }
      },
      "UploadEntityRecordsResponse": {
        "type": "object",
        "properties": {
          "EntityRecords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "RequestId": {
            "type": "string"
          },
          "RequestStatus": {
            "type": "string"
          },
          "Errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OperationError"
            }
          }
        }
      },
      "AddAdExtensionsRequest": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string"
          },
          "AdExtensions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdExtension"
            }
          }
        }
      },
      "AdExtension": {
        "type": "object",
        "properties": {}
      },
      "AddAdExtensionsResponse": {
        "type": "object",
        "properties": {
          "AdExtensionIdentities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdExtensionIdentity"
            }
          },
          "NestedPartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchErrorCollection"
            }
          }
        }
      },
      "AdExtensionIdentity": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Version": {
            "type": "integer"
          }
        }
      },
      "BatchErrorCollection": {
        "type": "object",
        "properties": {}
      },
      "AddAdGroupCriterionsRequest": {
        "type": "object",
        "properties": {
          "CriterionType": {
            "$ref": "#/components/schemas/AdGroupCriterionType"
          },
          "AdGroupCriterions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdGroupCriterion"
            }
          }
        }
      },
      "AdGroupCriterionType": {
        "type": "object",
        "properties": {}
      },
      "AdGroupCriterion": {
        "type": "object",
        "properties": {}
      },
      "AddAdGroupCriterionsResponse": {
        "type": "object",
        "properties": {
          "AdGroupCriterionIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "NestedPartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchErrorCollection"
            }
          }
        }
      },
      "AddAdGroupsRequest": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AdGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AdGroup"
            }
          },
          "ReturnInheritedBidStrategyTypes": {
            "type": "boolean"
          }
        }
      },
      "AdGroup": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "StartDate": {
            "$ref": "#/components/schemas/Date"
          },
          "EndDate": {
            "$ref": "#/components/schemas/Date"
          },
          "Language": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/AdGroupStatus"
          },
          "PrivacyStatus": {
            "$ref": "#/components/schemas/AdGroupPrivacyStatus"
          },
          "CpcBid": {
            "$ref": "#/components/schemas/Bid"
          },
          "Network": {
            "$ref": "#/components/schemas/Network"
          },
          "AdRotation": {
            "$ref": "#/components/schemas/AdRotation"
          },
          "AudienceAdsBidAdjustment": {
            "type": "integer"
          },
          "TrackingUrlTemplate": {
            "type": "string"
          },
          "FinalUrlSuffix": {
            "type": "string"
          },
          "UrlCustomParameters": {
            "$ref": "#/components/schemas/CustomParameters"
          },
          "BiddingScheme": {
            "$ref": "#/components/schemas/BiddingScheme"
          },
          "Settings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Setting"
            }
          },
          "AdScheduleUseSearcherTimeZone": {
            "type": "boolean"
          },
          "AdGroupType": {
            "type": "string"
          },
          "CpvBid": {
            "$ref": "#/components/schemas/Bid"
          },
          "CpmBid": {
            "$ref": "#/components/schemas/Bid"
          },
          "McpaBid": {
            "$ref": "#/components/schemas/Bid"
          },
          "MultimediaAdsBidAdjustment": {
            "type": "integer"
          },
          "CommissionRate": {
            "$ref": "#/components/schemas/RateBid"
          },
          "PercentCpcBid": {
            "$ref": "#/components/schemas/RateBid"
          },
          "UseOptimizedTargeting": {
            "type": "boolean"
          },
          "UsePredictiveTargeting": {
            "type": "boolean"
          },
          "FrequencyCapSettings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FrequencyCapSettings"
            }
          },
          "ForwardCompatibilityMap": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KeyValuePairOfstringAndstring"
            }
          }
        }
      },
      "Date": {
        "type": "object",
        "properties": {
          "Year": {
            "type": "integer"
          },
          "Month": {
            "type": "integer"
          },
          "Day": {
            "type": "integer"
          }
        }
      },
      "AdGroupStatus": {
        "type": "string",
        "enum": [
          "Active",
          "Paused",
          "Expired",
          "Deleted"
        ]
      },
      "AdGroupPrivacyStatus": {
        "type": "string",
        "enum": [
          "Unknown",
          "Active",
          "TargetingTooNarrow",
          "Pending"
        ]
      },
      "Bid": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "number"
          }
        }
      },
      "Network": {
        "type": "string",
        "enum": [
          "OwnedAndOperatedAndSyndicatedSearch",
          "OwnedAndOperatedOnly",
          "SyndicatedSearchOnly",
          "InHousePromotion"
        ]
      },
      "AdRotation": {
        "type": "object",
        "properties": {
          "Type": {
            "$ref": "#/components/schemas/AdRotationType"
          },
          "StartDate": {
            "type": "string",
            "format": "date-time"
          },
          "EndDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AdRotationType": {
        "type": "string",
        "enum": [
          "OptimizeForClicks",
          "RotateAdsEvenly"
        ]
      },
      "CustomParameters": {
        "type": "object",
        "properties": {
          "Parameters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomParameter"
            }
          }
        }
      },
      "CustomParameter": {
        "type": "object",
        "properties": {
          "Key": {
            "type": "string"
          },
          "Value": {
            "type": "string"
          }
        }
      },
      "BiddingScheme": {
        "type": "object",
        "properties": {}
      },
      "Setting": {
        "type": "object",
        "properties": {}
      },
      "RateBid": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string"
          },
          "RateAmount": {
            "$ref": "#/components/schemas/RateAmount"
          }
        }
      },
      "RateAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "number"
          }
        }
      },
      "CriterionBid": {
        "type": "object",
        "properties": {}
      },
      "FrequencyCapSettings": {
        "type": "object",
        "properties": {
          "TimeGranularity": {
            "$ref": "#/components/schemas/FrequencyCapTimeGranularity"
          },
          "CapValue": {
            "type": "integer"
          }
        }
      },
      "FrequencyCapTimeGranularity": {
        "type": "string",
        "enum": [
          "HOUR",
          "DAY",
          "WEEK"
        ]
      },
      "AddAdGroupsResponse": {
        "type": "object",
        "properties": {
          "AdGroupIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          },
          "InheritedBidStrategyTypes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AddAdsRequest": {
        "type": "object",
        "properties": {
          "AdGroupId": {
            "type": "string"
          },
          "Ads": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Ad"
            }
          }
        }
      },
      "Ad": {
        "type": "object",
        "properties": {}
      },
      "AddAdsResponse": {
        "type": "object",
        "properties": {
          "AdIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "PartialErrors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchError"
            }
          }
        }
      },
      "AddAssetGroupsRequest": {
        "type": "object",
        "properties": {
          "CampaignId": {
            "type": "string"
          },
          "AssetGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetGroup"
            }
          }
        }
      },
      "AssetGroup": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Status": {
            "$ref": "#/components/schemas/AssetGroupStatus"
          },
          "StartDate": {
            "$ref": "#/components/schemas/Date"
          },
          "EndDate": {
            "$ref": "#/components/schemas/Date"
          },
          "Path1": {
            "type": "string"
          },
          "Path2": {
            "type": "string"
          },
          "BusinessName": {
            "type": "string"
          },
          "Headlines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetLink"
            }
          },
          "LongHeadlines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetLink"
            }
          },
          "Descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetLink"
            }
          },
          "Images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetLink"
            }
          },
          "Videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetLink"
            }
          },
          "CallToAction": {
            "$ref": "#/components/schemas/CallToAction"
          },
          "FinalUrls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
[...]
