openapi: 3.0.2
x-mcp:
  transport: [stdio, http]
  orchestration: code
  endpoint_tools: hidden
info:
  title: Lunch Money API - v2
  description: |-
    Welcome to the documentation for the "next version" of the Lunch Money v2 API.This documentation includes proposed updates to the API design that have not yet been released.<p>
    This documentation is for the **v2.11.0** release of the API.<p>
    
    See the [version history](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/version-history) for what is new in this release.
    New functionality may only be available in the Mock Service until the release is finalized. <br><br>

    The latest complete implementation of the spec is for the **v2.8.5** release and can be found [here](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/). <br><br>
    Feedback on any of the API design is welcome, but we are particularly interested in getting feedback on most recent changes in the [version history](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/version-history).

    ------------------------------------------------------------------------------------------------
    Welcome to the Lunch Money v2 API.

    A working version of this API is now available through these docs, or directly at:

    `https://api.lunchmoney.dev/v2`

    <span class="red-text"><strong>This is in alpha launch of a major API update. It is still subject to change during this alpha review 
    period and bugs may still exist. We strongly encourage users to use the mock service or create a test budget with sample data as the first step to interacting with the v2 API.</strong></span>
    See the [Getting Started Guide](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/getting-started) for more information on using a test budget.<p>

    If you are new to the v2 API, you may wish to review the [v2 API Overview of Changes](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/changelog).

    ### Static Mock Server

    You may also use these docs to explore the API using a static mock server endpoint.<p> 
    This will allow you to become familiar with the API without having to create an access token, and eliminates the possibility of changing real data. <p>
    To access this endpoint, select the second endpoint in the "Server" dropdown to the right. When selected, you should see "Static Mock v2 Lunch Money API Server".<br>
    When using this server, set your Bearer token to any string with 11 or more characters.

    ### Migrating from V1

    The v2 API is NOT backwards compatible with the v1 API. We encourage developers to review the [Migration Guide](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/migration-guide) to understand the changes and plan their migration.

    ### Acknowledgments

    If you have provided feedback on the API during our ongoing design process, **THANK YOU**. We are thrilled that you can finally interact with the working API we built based on your feedback.
    
    ### Useful links:
    - [Getting Started](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/getting-started)
    - [v2 API Changelog](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/changelog)
    - [Migration Guide](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/migration-guide)
    - [Rate Limits](https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/rate-limits)
    - [Current v1 Lunch Money API Documentation](https://lunchmoney.dev)
    - [Awesome Lunch Money Projects](https://github.com/lunch-money/awesome-lunchmoney?tab=readme-ov-file)
  termsOfService: https://lunchmoney.dev/#current-status
  contact:
    email: devsupport@lunchmoney.app
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 2.11.0

servers:
  - url: https://api.lunchmoney.dev/v2
    description: v2 Lunch Money API Server - changes will affect real data!
#  - url: https://mock.lunchmoney.dev/v2
  - url: https://lm-v2-api-next-a7fabcab8e9a.herokuapp.com/v2/
    description: Static mock version of the v2 Lunch Money API Server

tags:
  - name: me
    description: View details and settings for the current user and account
  - name: categories
    description: Work with categories
    externalDocs:
      description: Learn more about categories
      url: https://support.lunchmoney.app/setup/categories
  - name: manual_accounts
    description: Work with manually managed accounts (formerly called assets)
    externalDocs:
      description: Learn more about manual accounts
      url: https://support.lunchmoney.app/setup/linked-accounts#how-are-manually-managed-account-balances-updated
  - name: plaid_accounts
    description: Work with accounts synced through Plaid
    externalDocs:
      description: Learn more about synced accounts
      url: https://support.lunchmoney.app/setup/linked-accounts#how-often-should-i-expect-new-transactions-to-get-imported
  - name: crypto-manual
    description: Work with manually managed crypto assets
    externalDocs:
      description: Learn more about crypto assets
      url: https://support.lunchmoney.app/setup/crypto
  - name: crypto-synced
    description: Read and refresh synced crypto assets and balances. Creating and managing connections with synced crypto providers is done exclusively in the Lunch Money web app.
    externalDocs:
      description: Learn more about crypto assets
      url: https://support.lunchmoney.app/setup/crypto
  - name: balance_history
    description: View and update historical account balances. Balance history is what drives the [Net Worth](https://my.lunchmoney.app/net-worth) views in the Lunch Money app. Balance history is generated for each account's balance on the first day of each month and can be edited in the Lunch Money app or via the API.
  - name: recurring_items
    description: Work with recurring items
    externalDocs:
      url: https://support.lunchmoney.app/finances/recurring-items
  - name: tags
    description: Work with tags
    externalDocs:
      description: Learn more about tags
      url: https://support.lunchmoney.app/setup/tags
  - name: transactions
    description: Work with transactions
    externalDocs:
      description: Learn more about transactions
      url: https://support.lunchmoney.app/finances/transactions
  - name: transactions (bulk)
    description: Perform bulk actions on transactions
    externalDocs:
      description: Learn more about transactions
      url: https://support.lunchmoney.app/finances/transactions
  - name: transactions (group)
    description: Group or ungroup transactions
    externalDocs:
      description: Learn more about transactions
      url: https://support.lunchmoney.app/finances/transactions
  - name: transactions (split)
    description: Split or unsplit transactions
    externalDocs:
      description: Learn more about transactions
      url: https://support.lunchmoney.app/finances/transactions
  - name: transactions (files)
    description: Manage files attached to transactions
    externalDocs:
      description: Learn more about transactions
      url: https://support.lunchmoney.app/finances/transactions
  - name: budgets
    description: View settings and modify budget amounts.<p> Use the
      [/summary](#tag/summary) endpoint to view the budget details performance.
    externalDocs:
      description: Learn more about budgets
      url: https://support.lunchmoney.app/finances/budgets
  - name: summary
    description: View a summary of the user's budget

components:
  schemas:

    userObject:
      type: object
      title: user object (returned by /me)
      additionalProperties: false
      properties: 
        name:
          type: string
          description: The user's name
        email:
          type: string
          description: The user's email
        id:
          type: integer
          format: int32
          description: Unique ID for the user
        account_id:
          type: integer
          format: int64
          description: Unique ID for the linked budgeting account
        budget_name:
          type: string
          description: Name of the linked budgeting account
        primary_currency:
          description: Primary currency set in the user's settings
          allOf:
            - $ref: "#/components/schemas/currencyEnum"
        api_key_label:
          type: string
          nullable: true
          description: Label assigned by the user to the API key being used.
            Returns null if no label is set
      required:
        - name
        - email
        - id
        - account_id
        - budget_name
        - primary_currency
        - api_key_label

    categoryObject:
          type: object
          title: category object
          additionalProperties: false
          properties:
            id:
              type: integer
              format: int32
              nullable: false
              description: System defined unique ID for the category
            name:
              type: string
              nullable: false
              description: Name of the category
              minLength: 1
              maxLength: 100
            description:
              type: string
              nullable: true
              description: Category description, or `null` if none is set
              maxLength: 200
            is_income:
              type: boolean
              nullable: false
              description: 'If `true`, transactions in this category are treated
                as income. (See [Category
                Properties](https://support.lunchmoney.app/setup/categories/category-properties)
                for details)'
            exclude_from_budget:
              type: boolean
              nullable: false
              description: 'If `true`, transactions in this category are
                excluded from the budget. (See [Category
                Properties](https://support.lunchmoney.app/setup/categories/category-properties)
                for details)'
            exclude_from_totals:
              type: boolean
              nullable: false
              description: 'If `true`, transactions in this category are
                excluded from totals. (See [Category
                Properties](https://support.lunchmoney.app/setup/categories/category-properties)
                for details)'
            updated_at:
              type: string
              format: date-time
              nullable: false
              description: Date and time the category was last updated (in the
                ISO 8601 extended format).
            created_at:
              type: string
              format: date-time
              nullable: false
              description: Date and time of when the category was created (ISO
                8601 extended format).
            group_id:
              type: integer
              format: int64
              nullable: true
              description: ID of the category group this category belongs to, or
                `null` if it does not belong to a group, or is itself a group.
            is_group:
              type: boolean
              description: If `true`, this category is created as a category
                group
            children:
              type: array
              items:
                $ref: "#/components/schemas/childCategoryObject"
              description: For category groups, contains details about the
                categories in the group. These objects are similar to Category
                Objects but the `is_group` property will always be `false`, and
                there will be no `children` attribute.
            archived:
              type: boolean
              description: If true, the category is archived and hidden in
                relevant areas of the Lunch Money app.
            archived_at:
              type: string
              format: date-time
              nullable: true
              description: Date and time the category was last archived ( ISO
                8601 extended format).
            order:
              type: integer
              nullable: true
              default: null
              description: "Position of the category on the categories page in
                the Lunch Money app. For grouped categories, the order is
                relative to others in the same group.<br>
                Categories with `order: null` are shown alphabetically before ordered categories"
            collapsed:
              type: boolean
              nullable: false
              default: false
              description: If `true`, the category appears collapsed in the
                Lunch Money app
          required:
            - id
            - name
            - description
            - is_income
            - exclude_from_budget
            - exclude_from_totals
            - updated_at
            - created_at
            - group_id
            - is_group
            - archived
            - archived_at
            - order
            - collapsed

    # The childCategoryObject is a categoryObject without a 
    # `children` attribute. This ensures that only non-group categories
    # are added to a category group
    childCategoryObject:
      type: object
      x-internal: true # Don't display in schemas section of docs
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          nullable: false
          description: System defined unique ID for the category
        name:
          type: string
          nullable: false
          description: The name of the category
          minLength: 1
          maxLength: 100
        description:
          type: string
          nullable: true
          description: Category description, or `null` if none is set
          maxLength: 200
        is_income:
          type: boolean
          nullable: false
          description: If true, transactions in this category are treated as
            income. (Inherited from the Category Group).
        exclude_from_budget:
          type: boolean
          nullable: false
          description: If true, transactions in this category are excluded from
            the budget. (Inherited from Category Group).
        exclude_from_totals:
          type: boolean
          nullable: false
          description: If true, transactions in this category are excluded from
            totals. (Inherited from Category Group).
        updated_at:
          type: string
          format: date-time
          nullable: false
          description: Date and time the category was last updated (ISO 8601
            extended format).
        created_at:
          type: string
          format: date-time
          nullable: false
          description: Date and time the category was created (ISO 8601 extended
            format).
        group_id:
          type: integer
          format: int64
          nullable: true
          description: ID of the category group this category belongs to, or
            `null` if it does not belong to a group, or is itself a group.
        is_group:
          type: boolean
          enum:
            - false
          description: Always false for categories that belong to a category
            group
        archived:
          type: boolean
          description: If true, the category is archived and hidden in relevant
            areas of the Lunch Money app.
        archived_at:
          type: string
          format: date-time
          nullable: true
          description: Date and time the category was last archived ( ISO 8601
            extended format).
        order:
          type: integer
          nullable: true
          description: Position of the category on the categories page in the
            Lunch Money app. For grouped categories, the order is relative to
            the others in the same group.
        collapsed:
          type: boolean
          nullable: false
          description: Always `false` for a child category. Child categories
            cannot be collapsed.
      required:
        - id
        - name
        - description
        - is_income
        - exclude_from_budget
        - exclude_from_totals
        - updated_at
        - created_at
        - group_id
        - is_group
        - archived
        - archived_at
        - order
        - collapsed

     # The request object for POST /categories
    # Prevent user from submitting any system created fields in a POST request
    createCategoryRequestObject:
      type: object
      additionalProperties: false
      x-internal: true
      properties:
        name:
          type: string
          nullable: false
          description: >-
            Name of the new category. Must be between 1 and 100 characters.

            The name must not match the name of any existing categories or category
            groups.
          minLength: 1
          maxLength: 100
        description:
          type: string
          nullable: true
          default: null
          description: Description of the category. Maximum length is 200
            characters.
          minLength: 0 # Allow empty strings
          maxLength: 200
        is_income:
          type: boolean
          nullable: false
          default: false
          description: If `true`, transactions in this category are treated as
            income. (See [Category
            Properties](https://support.lunchmoney.app/setup/categories/category-properties)
            for details)
        exclude_from_budget:
          type: boolean
          nullable: false
          default: false
          description: If `true`, transactions in this category are excluded
            from the budget. (See [Category
            Properties](https://support.lunchmoney.app/setup/categories/category-properties)
            for details)
        exclude_from_totals:
          type: boolean
          nullable: false
          default: false
          description: If `true`, transactions in this category are excluded
            from totals. (See [Category
            Properties](https://support.lunchmoney.app/setup/categories/category-properties)
            for details)
        is_group:
          type: boolean
          nullable: false
          default: false
          description: If `true`, this category will be created as a category
            group.
        group_id:
          type: integer
          format: int64
          nullable: true
          default: null
          description: If set to the ID of an existing category group, the new
            category will be added to that group. Cannot be used if `is_group`
            is true.
        archived:
          type: boolean
          default: false
          description: If `true`, the category is archived and in relevant areas
            of the Lunch Money app.
        children:
          type: array
          nullable: false
          description: List of categories to include in the new category group.
            This field should only be set if `is_group` is also set to true.<br>
            You may provide existing category objects, existing category IDs, or
            names for new categories to add to the group. Categories or IDs must
            already exist and cannot be category groups. Categories that already
            belong to another group will be moved. If strings are provided, they
            will be used as names for new categories added to the group. The
            request will fail if any provided name already exists.<br> You may
            mix category objects, IDs, and new category names in the same
            request.
          items:
            oneOf:
              - type: integer
                description: "ID of an existing category."
              - type: string
                description: "Name of a new child category to be created."
                maxLength: 100
              - $ref: "#/components/schemas/categoryObject"
        order:
          type: integer
          nullable: true
          description: Position of the category on the categories page in the
            Lunch Money app. For grouped categories, the order is relative to
            other categories in the same group.<br>While this property can be
            set via the API, it is usually managed by the user in the Lunch
            Money app.
        collapsed:
          type: boolean
          nullable: true
          description: If `true`, the category group appears collapsed in the
            Lunch Money app. Can only be set to `true` for category
            groups.<br>While this property can be set via the API, it is usually
            managed by the user in the Lunch Money app.
      required:
        - name


    # Request object for a PUT /categories/:id request
    # Tolerates a request object that includes system created fields from a
    # previous GET request, but these are essentially ignored
    updateCategoryRequestObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        name:
          type: string
          nullable: false
          description: If set, updates the category name. Must be between 1 and
            100 characters.
          minLength: 1
          maxLength: 100
          x-updatable: true
        description:
          type: string
          nullable: true
          description: If set, updates the category description. Must not exceed
            200 characters.
          minLength: 0 # Allow empty strings
          maxLength: 200
          x-updatable: true
        is_income:
          type: boolean
          nullable: false
          description: If set, determines whether transactions in this category
            are treated as income. (See [Category
            Properties](https://support.lunchmoney.app/setup/categories/category-properties)
            for details)
          x-updatable: true
        exclude_from_budget:
          type: boolean
          nullable: false
          description: If set, determines whether transactions in this category
            are excluded from budgets. (See [Category
            Properties](https://support.lunchmoney.app/setup/categories/category-properties)
            for details)
          x-updatable: true
        exclude_from_totals:
          type: boolean
          nullable: false
          description: If set, determines whether transactions in this category
            are excluded from totals. (See [Category
            Properties](https://support.lunchmoney.app/setup/categories/category-properties)
            for details)
          x-updatable: true
        archived:
          type: boolean
          description: If set, determines whether this category is archived.
          x-updatable: true
        group_id:
          type: integer
          format: int64
          nullable: true
          description: If set to the ID of an existing category group, and this
            category is not itself a category group, this category will be
            assigned to that group.
          x-updatable: true
        is_group:
          type: boolean
          nullable: true
          default: false
          description: This property is tolerated but cannot be changed. This
            API cannot be used to convert a category into a category group or
            vice versa.
        children:
          type: array
          nullable: false
          description: List of existing category objects, existing category IDs,
            or names of new categories to add to the category group. This
            attribute should only be set when modifying an existing category
            group.<br> Categories or IDs must already exist and must not already
            belong to a category group. Categories that already belong to
            another category group will be moved. If strings are specified, they
            will be used as names for new categories added to the group. The
            request will fail if any provided name matches an existing category
            name.<br> You may mix full category objects, IDs, and new category
            names in the same request.
          x-updatable: true
          items:
            oneOf:
              - type: integer
                description: "ID of an existing category."
              - type: string
                description: "Name of a new child category to be created."
                maxLength: 100
              - $ref: "#/components/schemas/categoryObject"
        order:
          type: integer
          nullable: true
          description: Position of the category on the categories page in the
            Lunch Money app. For categories within a category group, the order
            is relative to the other categories in the group.<br>While this
            property can be set via the API, it is generally managed by the user
            in the Lunch Money app.
          x-updatable: true
        collapsed:
          type: boolean
          nullable: true
          description: If `true`, the category is collapsed in the Lunch Money
            app.<br>While this property can be set via the API it is generally
            set by the user in the Lunch Money app.
          x-updatable: true
        id:
          type: integer
          format: int64
          description: System defined unique identifier for the category.
            Ignored if set.
          x-updatable: false
        archived_at:
          type: string
          format: date-time
          nullable: true
          description: System set date and time of when the category was last
            archived (in the ISO 8601 extended format). Provide an ISO 8601
            extended datetime or `null` to clear it.
          x-updatable: true
        updated_at:
          type: string
          format: date-time
          nullable: false
          description: System set date and time of when the category was last
            updated (in the ISO 8601 extended format). Ignored if set.
          x-updatable: false
        created_at:
          type: string
          format: date-time
          nullable: false
          description: System set date and time of when the category was created
            (in the ISO 8601 extended format). Ignored if set.
          x-updatable: false

    # The response object for a DELETE /category request with dependencies
    deleteCategoryResponseWithDependencies:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        category_name:
          type: string
          description: The name of the category
        dependents:
          type: object
          properties:
            budget:
              type: integer
              description: The number of budgets depending on the category
            category_rules:
              type: integer
              description: The number of category rules depending on the
                category
            transactions:
              type: integer
              description: The number of transactions depending on the category
            children:
              type: integer
              description: The number of child categories in the category group
            recurring:
              type: integer
              description: The number of recurring transactions depending on the
                category
            plaid_cats:
              type: integer
              description: The number of auto created categories based on Plaid
                categories
          required:
            - budget
            - category_rules
            - transactions
            - children
            - recurring
            - plaid_cats
      required:
        - category_name
        - dependents

    # Manual crypto balance object
    cryptoManualObject:
      type: object
      title: manual crypto object
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: System defined unique ID for the manual crypto balance
        name:
          type: string
          minLength: 1
          maxLength: 45
          description: User-defined name for the crypto asset
        display_name:
          type: string
          nullable: true
          description: Optional display name for the crypto asset. If `null`,
            clients may derive a display name from `institution_name` + `name`.
        institution_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 50
          description: Institution or wallet provider display name
        balance:
          type: string
          pattern: ^-?\d+(\.\d{1,18})?$
          description: Current balance in numeric format to 18 decimal places
        symbol:
          type: string
          minLength: 1
          maxLength: 25
          description: Cryptocurrency symbol
        coingecko_id:
          type: string
          nullable: true
          minLength: 1
          maxLength: 100
          description: CoinGecko identifier associated with this balance
        to_base:
          type: number
          description: Balance converted to the user's primary currency
        balance_as_of:
          type: string
          format: date-time
          nullable: true
          description: Date/time the balance was last updated in ISO 8601
            extended format
        created_by_name:
          type: string
          nullable: true
          description: Name of the user who created the crypto asset
        created_at:
          type: string
          format: date-time
          description: Date/time the crypto asset was created in ISO 8601
            extended format
        updated_at:
          type: string
          format: date-time
          description: Date/time the crypto asset was last updated in ISO 8601
            extended format
      required:
        - id
        - name
        - display_name
        - institution_name
        - balance
        - symbol
        - coingecko_id
        - to_base
        - balance_as_of
        - created_by_name
        - created_at
        - updated_at

    # Synced per-symbol balance nested under a synced crypto account
    cryptoSyncedBalance:
      type: object
      title: synced crypto balance object
      x-internal: true
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 45
          description: The name of the crypto asset
        balance:
          type: string
          pattern: ^-?\d+(\.\d{1,18})?$
          description: Current balance in numeric format to 18 decimal places
        symbol:
          type: string
          minLength: 1
          maxLength: 25
          description: Symbol of the currency held in the synced account
        coingecko_id:
          type: string
          nullable: true
          minLength: 1
          maxLength: 100
          description: CoinGecko identifier associated with this balance
        to_base:
          type: number
          description: Balance converted to the user's primary currency
        balance_as_of:
          type: string
          format: date-time
          nullable: true
          description: Date/time the balance was last updated in ISO 8601
            extended format
        updated_at:
          type: string
          format: date-time
          description: Date/time the crypto asset was last updated in ISO 8601
            extended format
      required:
        - name
        - balance
        - symbol
        - coingecko_id
        - to_base
        - balance_as_of
        - updated_at

    syncedCryptoAccount:
      type: object
      title: synced crypto account
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: System defined unique ID for the synced crypto connection
        provider:
          type: string
          description: Provider used for the synced crypto connection
          enum:
            - kraken
            - coinbase
            - ethereum
        status:
          type: string
          description: Status of the synced crypto account. If not `active`,
            see the [Knowledge
            Base](https://support.lunchmoney.app/setup/crypto#why-is-my-synced-crypto-account-showing-not-supported)
            for details.
          enum:
            - active
            - unsupported
            - relink
            - initializing
        created_by_name:
          type: string
          nullable: true
          description: Name of the user who created the crypto connection
        created_at:
          type: string
          format: date-time
          description: Date/time the synced crypto connection was created in ISO
            8601 extended format
        updated_at:
          type: string
          format: date-time
          description: Date/time the synced crypto connection was last updated
            in ISO 8601 extended format
        last_import:
          type: string
          format: date-time
          nullable: true
          description: System defined timestamp in ISO 8601 extended format of
            the last successful import.
        display_name:
          type: string
          nullable: true
          description: Optional display name for the synced crypto connection
        balances:
          type: array
          items:
            $ref: "#/components/schemas/cryptoSyncedBalance"
          description: Balances currently held in the synced crypto connection
      required:
        - id
        - provider
        - status
        - created_by_name
        - created_at
        - updated_at
        - display_name
        - balances

    # Response object returned by GET /crypto/manual
    cryptoManualListResponseObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        crypto_manual:
          type: array
          items:
            $ref: "#/components/schemas/cryptoManualObject"
      required:
        - crypto_manual

    # Response object returned by GET /crypto/synced
    cryptoSyncedListResponseObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        crypto_synced:
          type: array
          items:
            $ref: "#/components/schemas/syncedCryptoAccount"
      required:
        - crypto_synced

    cryptoCurrencyObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: System-defined unique identifier for this
            cryptocurrency in Lunch Money.
        coingecko_id:
          type: string
          minLength: 1
          maxLength: 100
          description: System-defined CoinGecko identifier used to fetch
            the USD-based prices for this cryptocurrency.
        symbol:
          type: string
          minLength: 1
          maxLength: 25
          description: Lowercase currency symbol that must be used as
            `symbol` when creating a manual crypto balance.
        full_name:
          type: string
          minLength: 1
          maxLength: 200
          description: Human-readable name of the cryptocurrency.
      required:
        - id
        - coingecko_id
        - symbol
        - full_name

    # Response object returned by GET /cryptocurrencies
    cryptoCurrencyResponseObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        cryptocurrencies:
          type: array
          description: List of cryptocurrencies currently supported for manual
            tracking.
          items:
            $ref: "#/components/schemas/cryptoCurrencyObject"
      required:
        - cryptocurrencies

    createCryptocurrencyRequestObject:
      type: object
      additionalProperties: false
      x-internal: true
      properties:
        coingecko_url:
          type: string
          minLength: 1
          maxLength: 200
          description: CoinGecko coin-page URL in the form
            `https://www.coingecko.com/{locale}/coins/{id}`
          example: https://www.coingecko.com/en/coins/cardano
      required:
        - coingecko_url

    # The object that may be submitted to POST /crypto/manual
    createCryptoManualRequestObject:
      type: object
      additionalProperties: false
      x-internal: true
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 45
          description: User-defined name for the manual crypto asset
          example: Cold Wallet BTC
        display_name:
          type: string
          minLength: 1
          maxLength: 45
          description: Optional display name for the manual crypto asset. If
            omitted, clients may derive one from `institution_name` + `name`.
          example: Cold Storage
        institution_name:
          type: string
          minLength: 1
          maxLength: 50
          description: Optional institution or wallet provider display name
          example: Ledger
        balance:
          oneOf:
            - type: number
              format: double
            - type: string
              pattern: ^-?\d+(\.\d{1,18})?$
          description: Numeric value of the balance, up to 18 decimal places
          example: "0.523400000000000000"
        symbol:
          type: string
          minLength: 1
          maxLength: 25
          description: Cryptocurrency symbol to track. Must match the `symbol`
            of one of the supported cryptocurrencies returned by `GET
            /cryptocurrencies`.
          example: btc
      required:
        - name
        - balance
        - symbol

    # The object that may be submitted to PUT /crypto/manual/{id}
    updateCryptoManualRequestObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: System defined unique ID for the manual crypto asset.
            Ignored if set
          x-updatable: false
        name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 45
          description: If set, the new name of the manual crypto asset
          x-updatable: true
        display_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 45
          description: If set, the new display name for the manual crypto asset
          x-updatable: true
        institution_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 50
          description: If set, the new institution or wallet provider display
            name
          x-updatable: true
        balance:
          oneOf:
            - type: number
              format: double
            - type: string
              pattern: ^-?\d+(\.\d{1,18})?$
          description: If set, the new balance value up to 18 decimal places
          example: "1.050000000000000000"
          x-updatable: true
        symbol:
          type: string
          minLength: 1
          maxLength: 25
          description: Existing cryptocurrency symbol. Ignored if set.
          x-updatable: false
        coingecko_id:
          type: string
          nullable: true
          minLength: 1
          maxLength: 100
          description: System-defined CoinGecko identifier for this symbol.
            Ignored if set.
          x-updatable: false
        to_base:
          type: number
          description: System defined balance converted to the user's primary
            currency. Ignored if set
          x-updatable: false
        balance_as_of:
          type: string
          format: date-time
          nullable: true
          description: System defined date/time the balance was last updated in
            ISO 8601 extended format. Ignored if set
          x-updatable: false
        created_by_name:
          type: string
          nullable: true
          description: System defined name of the user who created the crypto
            asset. Ignored if set
          x-updatable: false
        created_at:
          type: string
          format: date-time
          description: System defined date/time the crypto asset was created in
            ISO 8601 extended format. Ignored if set
          x-updatable: false
        updated_at:
          type: string
          format: date-time
          description: System defined date/time the crypto asset was last
            updated in ISO 8601 extended format. Ignored if set
          x-updatable: false
      description: Update a manual crypto balance. System-defined properties are
        accepted when resubmitting a `GET /crypto/manual/{id}` response body.


    # The object containing information about a manual account
    manualAccountObject:
      type: object
      title: manual account object
      additionalProperties: false
      description: An object containing information about a manual account
      properties:
        id:
          type: integer
          format: int32
          description: The unique identifier of this account
        name:
          type: string
          description: Name of the account
          minLength: 1
          maxLength: 45
        institution_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 50
          description: Name of institution holding the account
        display_name:
          type: string
          nullable: true
          description: Optional display name for the account as set by the user
            or derived from the `institution_name` and `name` if not explicitly
            set.
        type:
          description: Primary type of the account
          allOf:
            - $ref: "#/components/schemas/accountTypeEnum"
        subtype:
          type: string
          nullable: true
          description: Optional account subtype. Examples include<br> -
            retirement - checking - savings - prepaid credit card
          minLength: 1
          maxLength: 100
        balance:
          type: string
          pattern: ^-?\d+(\.\d{1,4})?$
          description: Current balance of the account in numeric format to 4
            decimal places
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: Three-letter lowercase currency code of the account
            balance
        to_base:
          type: number
          description: The balance converted to the user's primary currency
        balance_as_of:
          type: string
          format: date-time
          description: Date balance was last updated in ISO 8601 extended
            format, can be in date or date-time format
        status:
          type: string
          description: The status of the account
          enum:
            - active
            - closed
        closed_on:
          type: string
          format: date
          nullable: true
          description: The date this account was closed in YYYY-MM-DD format.
            Will be null if the account has not been marked as closed.
        external_id:
          type: string
          nullable: true
          minLength: 0
          maxLength: 75
          description: An optional external_id that may be set or updated via
            the API
        custom_metadata:
          type: object
          nullable: true
          description: User defined JSON data that can be set or cleared via the
            API
          additionalProperties: true
        exclude_from_transactions:
          type: boolean
          default: false
          description: If true, this account will not show up as an option for
            assignment when creating transactions manually
        created_by_name:
          type: string
          description: The name of the user who created the account
        created_at:
          type: string
          format: date-time
          description: Date/time the account was created in ISO 8601 extended
            format
        updated_at:
          type: string
          format: date-time
          description: Date/time the account was last updated in ISO 8601
            extended format
      required:
        - id
        - name
        - type
        - subtype
        - display_name
        - balance
        - currency
        - to_base
        - balance_as_of
        - closed_on
        - institution_name
        - external_id
        - exclude_from_transactions
        - created_by_name
        - created_at
        - updated_at
        - status

    # The object that may be submitted to POST /manual_accounts
    createManualAccountRequestObject:
      type: object
      additionalProperties: false
      x-internal: true
      properties:
        name:
          type: string
          description: Name of the manual account
          minLength: 1
          maxLength: 45
          example: My Savings Account
        institution_name:
          type: string
          example: Bank of the West
          description: Name of institution holding the manual account
          minLength: 1
          maxLength: 50
        display_name:
          type: string
          description: Display name of the manual account as set by user or
            derived from the `institution_name` and `name` if not explicitly
            set.<br> This must be unique for the budgeting account.
          example: Savings
        type:
          description: The type of manual account
          allOf:
            - $ref: "#/components/schemas/accountTypeEnum"
        subtype:
          type: string
          description: An optional manual account subtype. Examples include<br>
            - retirement - checking - savings - prepaid credit card
          minLength: 1
          maxLength: 100
          example: prepaid credit card
        balance:
          oneOf:
            - type: number
              format: double
            - type: string
              pattern: ^-?\d+(\.\d{1,4})?$
          example: "195.50"
          description: Numeric value of the current balance, up to four decimal
            places, of the account as a number or string. Do not include any
            special characters aside from a decimal point.
        balance_as_of:
          type: string
          oneOf:
            - format: date-time
            - format: date
          example: "2024-09-15"
          description: Date/time the balance of the manual account was last
            updated in ISO 8601 extended format
        currency:
          description: Three-letter lowercase currency code of the transaction
            in ISO 4217 format
          allOf:
            - $ref: "#/components/schemas/currencyEnum"
        status: 
          type: string
          description: The status of the account
          enum:
            - active
            - closed
          default: active
        closed_on:
          oneOf:
            - type: string
              format: date
            - type: string
              format: date-time
          nullable: true
          example: "2024-10-01"
          description: The date this manual account was closed in YYYY-MM-DD
            format. If set, `status` must also be set to `closed`.
        external_id:
          type: string
          nullable: true
          minLength: 0
          maxLength: 75
          description: An optional user-defined ID for the manual account
        custom_metadata:
          type: object
          nullable: true
          description: An optional JSON object that includes additional data
            related to this account. This must be a valid JSON object and, when
            stringified, must not exceed 4096 characters.
          additionalProperties: true
        exclude_from_transactions:
          type: boolean
          description: If `true`, transactions may not be assigned to this
            manual account
          default: false
      required:
        - name
        - type
        - balance

    # The object that may be submitted to PUT /manual_accounts/:id
    updateManualAccountRequestObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: System defined unique identifier of this account. Ignored
            if set
          x-updatable: false
        name:
          type: string
          description: If set, the new name of the manual account
          minLength: 1
          maxLength: 45
          x-updatable: true
        institution_name:
          type: string
          nullable: true
          description: If set, the name of the institution holding the account
          minLength: 1
          maxLength: 50
          x-updatable: true
        display_name:
          type: string
          nullable: true
          description: If set, the new display name for the manual account.<br>
            This must be unique for the user.
          x-updatable: true
        type:
          description: If set, the new type of the manual account
          x-updatable: true
          allOf:
            - $ref: "#/components/schemas/accountTypeEnum"
        subtype:
          type: string
          description: If set, an optional account subtype. Examples include<br>
            - retirement - checking - savings - prepaid credit card
          minLength: 1
          maxLength: 100
          x-updatable: true
        balance:
          oneOf:
            - type: number
              format: double
            - type: string
              pattern: ^-?\d+(\.\d{1,4})?$
          example: "195.50"
          description: Numeric value of the current balance, up to four decimal
            places, of the manual account as a number or string. Do not include
            any special characters aside from a decimal point.
          x-updatable: true
        currency:
          description: If set, the new three-letter lowercase currency code of
            the manual account balance.
          x-updatable: true
          allOf:
            - $ref: "#/components/schemas/currencyEnum"
        balance_as_of:
          type: string
          oneOf:
            - format: date-time
            - format: date
          description: "If set, updates the `balance_as_of` value. May be
            provided as a date in YYYY-MM-DD format or as a date-time string in
            ISO 8601 extended format. This property is ignored unless `balance`
            is also set. If `balance` is set and this property is not set, the
            current time is used."
          x-updatable: true
        status:
          type: string
          description: If set, updates the status of the manual account. If set
            to `closed`, `closed_on` will be set to the current date unless it
            is also set.
          enum:
            - active
            - closed
          x-updatable: true
        closed_on:
          nullable: true
          oneOf:
            - type: string
              format: date
            - type: string
              format: date-time
          description: If set, the date this manual account was closed in
            YYYY-MM-DD format. If updating an account that is not already
            closed, `status` must also be set to `closed`.
          x-updatable: true
        external_id:
          type: string
          nullable: true
          minLength: 0
          maxLength: 75
          description: An optional user-defined ID for the manual account
          x-updatable: true
        custom_metadata:
          type: object
          nullable: true
          description: An optional JSON object that includes additional data
            related to this account. This must be a valid JSON object and, when
            stringified, must not exceed 4096 characters.
          additionalProperties: true
          x-updatable: true
        exclude_from_transactions:
          type: boolean
          description: If set, transactions may not be assigned to this manual
            account
          x-updatable: true
        to_base:
          type: number
          description: System defined balance converted to the user's primary
            currency. Ignored if set. Use `balance` to update the balance in the
            account
          x-updatable: false
        created_at:
          type: string
          format: date-time
          description: System defined date/time the account was created in ISO
            8601 extended format. Ignored if set.
          x-updatable: false
        updated_at:
          type: string
          format: date-time
          description: System defined date/time the account was last updated in
            ISO 8601 extended format. Ignored if set.
          x-updatable: false
        created_by_name:
          type: string
          description: System defined name of the user who created the account.
            Ignored if set
          x-updatable: false

    # The object containing information about a Plaid account
    plaidAccountObject:
      type: object
      title: plaid account object
      additionalProperties: false
      description: An object containing information about an account synced via
        Plaid
      properties:
        id:
          type: integer
          format: int32
          description: The unique identifier of this account
        plaid_item_id:
          type: string
          nullable: true
          minLength: 0
          maxLength: 255
          description: The unique identifier of the Plaid connection that this
            account belongs to. Accounts with the same plaid_item_id usually
            belong to the same institution.
        date_linked:
          type: string
          format: date
          description: Date account was first linked in ISO 8601 format
        linked_by_name:
          type: string
          nullable: false
          description: The name of the user who linked the account
        name:
          type: string
          description: Name of the account. This field is set by Plaid and
            cannot be altered.
        display_name:
          type: string
          nullable: true
          description: Optional display name for the account set by the user. If
            not set, it will return a concatenated string of institution and
            account name.
        type:
          type: string
          description: Primary type of the account, such as `credit`,
            `depository`, etc. This field is set by Plaid and cannot be altered.
        subtype:
          type: string
          description: Optional account subtype. This field is set by Plaid and
            cannot be altered.
        mask:
          type: string
          description: Mask (last 3 to 4 digits of account) of account. This
            field is set by Plaid and cannot be altered.
        institution_name:
          type: string
          description: Name of institution holding the account. This field is
            set by Plaid and cannot be altered.
        status:
          type: string
          description: "Denotes the current status of the account within Lunch
            Money. Must be one of<br>
            - active: Account is actively syncing transactions and/or balance<br>
            - inactive: Account marked inactive from user. Transaction imports and balance updates will not occur for this account.<br>
            - closed: Account is marked as closed<br>
            - deactivated: Account is marked deactivated during setup. The user must click `Add/Remove Accounts From This Bank` and manually re-select this account to activate it.'<br>
            - not found: Account was once linked but can no longer be found with Plaid.<br>
            - not supported: Account is not supported by Plaid.<br>
            - relink: Account (and others with the same connection) need to be relinked with Plaid.<br>
            - syncing: Account is awaiting the first import of transactions.<br>
            - revoked: Account connection has been revoked by Plaid and syncing is no longer possible. A new connection needs to be set up again.<br>
            - error: Account (and others with the same connection) is in error with Plaid and requires intervention to re-activate it.<br>"
          enum:
            - active
            - inactive
            - closed
            - deactivated
            - not found
            - not supported
            - relink
            - syncing
            - revoked
            - error
        allow_transaction_modifications:
          type: boolean
          description: If `false`, transactions imported for this synced account
            can have their properties (such as amount and account) be modified
            by the user. This option is managed in the Lunch Money app.
        limit:
          type: number
          nullable: true
          description: Optional credit limit of the account. This field is set
            by Plaid and cannot be altered
        balance:
          type: string
          description: Current balance of the account in numeric format to 4
            decimal places. This field is set by Plaid and cannot be altered.
        currency:
          type: string
          minLength: 3
          maxLength: 3
          description: Three-letter lowercase currency code of the account
            balance
        to_base:
          type: number
          description: The account balance converted to the user's primary
            currency
        balance_last_update:
          type: string
          format: date-time
          nullable: true
          description: Date balance was last updated in ISO 8601 extended
            format. This field is set by Plaid and cannot be altered.
        import_start_date:
          type: string
          format: date
          nullable: true
          description: Date of earliest date allowed for importing transactions.
            Transactions earlier than this date are not imported.
        last_import:
          type: string
          format: date-time
          nullable: true
          description: Timestamp in ISO 8601 extended format of the last time
            Lunch Money imported new data from Plaid for this account.
        last_fetch:
          type: string
          format: date-time
          nullable: true
          description: Timestamp in ISO 8601 extended format of the last
            successful request from Lunch Money for updated data or timestamps
            from Plaid in ISO 8601 extended format (not necessarily date of last
            successful import)
        plaid_last_successful_update:
          type: string
          format: date-time
          nullable: true
          description: Timestamp in ISO 8601 extended format of the last time
            Plaid successfully connected with institution for new transaction
            updates, regardless of whether any new data was available in the
            update.
      required:
        - id
        - plaid_item_id
        - date_linked
        - linked_by_name
        - name
        - display_name
        - type
        - subtype
        - mask
        - institution_name
        - status
        - allow_transaction_modifications
        - limit
        - balance
        - currency
        - to_base
        - balance_last_update
        - import_start_date
        - last_import
        - last_fetch
        - plaid_last_successful_update

    balanceHistorySourceManual:
      type: object
      description: Source information for a manual account balance history entry.
      additionalProperties: false
      properties:
        type:
          type: string
          enum: [manual]
          description: Identifies this entry as belonging to a manually-managed account.
        manual_account_id:
          type: integer
          format: int32
          description: ID of the manual account associated with this entry.
      required:
        - type
        - manual_account_id

    balanceHistorySourcePlaid:
      type: object
      description: Source information for a Plaid-synced account balance history entry.
      additionalProperties: false
      properties:
        type:
          type: string
          enum: [plaid]
          description: Identifies this entry as belonging to a Plaid-synced account.
        plaid_account_id:
          type: integer
          format: int32
          description: ID of the Plaid account associated with this entry.
      required:
        - type
        - plaid_account_id

    balanceHistorySourceCryptoManual:
      type: object
      description: Source information for a manually-tracked cryptocurrency balance history entry.
      additionalProperties: false
      properties:
        type:
          type: string
          enum: [crypto_manual]
          description: Identifies this entry as belonging to a manually-tracked crypto account.
        crypto_manual_id:
          type: integer
          format: int32
          description: ID of the manual crypto account associated with this entry.
        symbol:
          type: string
          nullable: true
          minLength: 1
          maxLength: 25
          description: Crypto symbol associated with the manual crypto account, when available.
      required:
        - type
        - crypto_manual_id

    balanceHistorySourceCryptoSynced:
      type: object
      x-internal: true
      description: Source information for a synced cryptocurrency balance history entry.
      additionalProperties: false
      properties:
        type:
          type: string
          enum: [crypto_synced]
          description: Identifies this entry as belonging to a synced crypto connection.
        crypto_synced_id:
          type: integer
          format: int32
          description: ID of the synced crypto connection associated with this entry.
        symbol:
          type: string
          minLength: 1
          maxLength: 25
          description: Crypto symbol (e.g. `eth`, `btc`) identifying the specific currency within the synced account.
      required:
        - type
        - crypto_synced_id
        - symbol

    balanceHistorySourceDeleted:
      type: object
      x-internal: true
      description: >
        Source information for a balance history entry whose account has since been deleted.
        Historical balances are preserved when a user chooses to keep history on account deletion.
        This object contains details that can be used to display the deleted account in the UI.
        The `deleted_account_id` can be passed to `PUT /v2/balance_history/deleted/{account_id}/details`
        to update the archived source metadata.
      additionalProperties: false
      properties:
        type:
          type: string
          enum: [deleted]
          description: Identifies this entry as belonging to an account that has since been deleted.
        deleted_account_id:
          type: integer
          format: int32
          description: Identifier for the deleted account history source
        name:
          type: string
          nullable: true
          description: Archived account `name` for the deleted account source
        institution_name:
          type: string
          nullable: true
          description: Archived `institution_name` for the deleted account source
        display_name:
          type: string
          nullable: true
          description: Archived `display_name` of the deleted account
        account_type:
          type: string
          nullable: true
          description: Archived `type` of the deleted account source
        subtype:
          type: string
          nullable: true
          description: Archived `subtype`` of the deleted account source
        mask:
          type: string
          nullable: true
          description: Archived account `mask` for a deleted plaid account source
        symbol:
          type: string
          nullable: true
          minLength: 1
          maxLength: 25
          description: Archived `symbol` for a deleted crypto account source
      required:
        - type
        - deleted_account_id
        - name
        - institution_name
        - display_name
        - account_type
        - subtype
        - mask
        - symbol
    balanceHistoryAccountObject:
      type: object
      title: balance history account object
      additionalProperties: false
      description: Historical balance entries grouped under a single account source.
      properties:
        source:
          description: >
            Identifies the account this balance entry belongs to. The shape varies by
            `source.type`. Use `source.type` to determine which account id field is present.
          oneOf:
            - $ref: "#/components/schemas/balanceHistorySourceManual"
            - $ref: "#/components/schemas/balanceHistorySourcePlaid"
            - $ref: "#/components/schemas/balanceHistorySourceCryptoManual"
            - $ref: "#/components/schemas/balanceHistorySourceCryptoSynced"
            - $ref: "#/components/schemas/balanceHistorySourceDeleted"
          discriminator:
            propertyName: type
            mapping:
              manual: "#/components/schemas/balanceHistorySourceManual"
              plaid: "#/components/schemas/balanceHistorySourcePlaid"
              crypto_manual: "#/components/schemas/balanceHistorySourceCryptoManual"
              crypto_synced: "#/components/schemas/balanceHistorySourceCryptoSynced"
              deleted: "#/components/schemas/balanceHistorySourceDeleted"
        balances:
          type: array
          description: One or more monthly balance history entries for the source account.
          items:
            $ref: "#/components/schemas/balanceHistoryObject"
      required:
        - source
        - balances

    balanceHistoryObject:
      type: object
      title: balance history entry object
      additionalProperties: false
      description: A historical balance entry for a single account on a single date.
      properties:
        id:
          type: integer
          format: int32
          description: Unique identifier of this historical balance entry.
        date:
          type: string
          format: date
          description: Date of this historical balance entry in YYYY-MM-DD format. This is always the first day of a month.
        balance:
          type: string
          pattern: ^-?\d+(\.\d{1,4})?$
          description: Historical balance stored for this entry. For manual and Plaid accounts this is in the account currency. For crypto accounts this is in the user's primary currency.
        currency:
          allOf:
            - $ref: "#/components/schemas/currencyEnum"
          description: Currency of the stored `balance`. For crypto entries this is the user's primary currency.
        to_base:
          type: number
          format: double
          description: Historical balance converted to the user's primary currency. When the entry currency is the user's primary currency, this is the numeric value of `balance`.
        crypto_balance:
          type: string
          nullable: true
          pattern: ^-?\d+(\.\d{1,18})?$
          description: Crypto quantity stored for this balance entry, when available. This may be present for crypto or deleted-account entries and is `null` otherwise.
      required:
        - id
        - date
        - balance
        - currency
        - to_base
        - crypto_balance

    balanceHistoryListResponseObject:
      type: object
      additionalProperties: false
      x-internal: true
      properties:
        balance_history:
          type: array
          items:
            $ref: "#/components/schemas/balanceHistoryAccountObject"
      required:
        - balance_history

    balanceHistoryUpdateItemObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: System-defined balance history entry id. Ignored if set.
          x-updatable: false
        date:
          type: string
          format: date
          description: Month to update, in YYYY-MM-DD format. This must be the first day of a month and must not be in the future.
        balance:
          oneOf:
            - type: number
              format: double
            - type: string
              pattern: ^-?\d+(\.\d{1,4})?$
          description: Numeric value of the historical balance, up to four decimal places, as a number or string. For manual and Plaid accounts this is typically in the account currency. For crypto and deleted accounts this is typically in the user's primary currency. Do not include any special characters aside from a decimal point.
        symbol:
          type: string
          nullable: true
          minLength: 1
          maxLength: 25
          description: Optional for crypto balances, but if set it must match the account's symbol.
            Tolerated for deleted-account balances. Do not provide this for manual or Plaid balances.
            If provided when using the synced crypto path-based endpoint, this must match the symbol in the path.
          x-updatable: true
        crypto_balance:
          type: string
          nullable: true
          pattern: ^-?\d+(\.\d{1,18})?$
          description: Optional crypto quantity for crypto_manual, crypto_synced, and deleted balances. Do not provide this for manual or Plaid balances.
          x-updatable: true
        currency:
          allOf:
            - $ref: "#/components/schemas/currencyEnum"
          description: Optional currency for this balance entry. If omitted, it defaults to the account currency for manual/Plaid accounts, or the user's primary currency for crypto/deleted accounts.
          x-updatable: true
        to_base:
          type: number
          format: double
          description: System-defined historical balance converted to the user's primary currency. Ignored if set. Use `balance` to update the stored historical balance.
          x-updatable: false
      required:
        - date
        - balance

    upsertBalanceHistoryRequestObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        balances:
          type: array
          minItems: 1
          description: One or more monthly balance history entries to upsert
          items:
            $ref: "#/components/schemas/balanceHistoryUpdateItemObject"
      required:
        - balances

    balanceHistoryUpdateErrorObject:
      type: object
      x-internal: true
      additionalProperties: true
      properties:
        request_balances_index:
          type: integer
          format: int32
          description: Zero-based index into the `balances` request array
        message:
          type: string
          description: Error message describing why the row could not be updated
      required:
        - request_balances_index
        - message

    upsertBalanceHistoryResponseObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        updated_balance_history:
          $ref: "#/components/schemas/balanceHistoryAccountObject"
        errors:
          type: array
          items:
            $ref: "#/components/schemas/balanceHistoryUpdateErrorObject"
      required:
        - updated_balance_history
        - errors

    updateBalanceHistoryDetailsRequestObject:
      type: object
      x-internal: true
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
          nullable: true
          description: New archived account name for the deleted account source.
        institution_name:
          type: string
          nullable: true
          description: New archived institution name for the deleted account source.
        display_name:
          type: string
          nullable: true
          description: New display name for the deleted account source.
        account_type:
          type: string
          nullable: true
          description: New archived account type for the deleted account source.
        subtype:
          type: string
          nullable: true
          description: New archived subtype for the deleted account source.
        mask:
          type: string
          nullable: true
          description: New archived account mask for the deleted account source.

    updateBalanceHistoryDetailsResponseObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        name:
          type: string
          nullable: true
        institution_name:
          type: string
          nullable: true
        display_name:
          type: string
          nullable: true
        account_type:
          type: string
          nullable: true
        subtype:
          type: string
          nullable: true
        mask:
          type: string
          nullable: true
      required:
        - name
        - institution_name
        - display_name
        - account_type
        - subtype
        - mask

    # The object containing information about a recurring item
    recurringObject:
      type: object
      title: recurring item object
      properties:
        id:
          type: integer
          format: int32
          description: The unique identifier of this recurring item
        description:
          type: string
          nullable: true
          description: An optional description of this recurring item.
        status:
          type: string
          description: The status of this recurring item. `suggested` recurring
            items are generated by Lunch Money, but only `reviewed` recurring
            items will be applied to matching transactions.
          enum:
            - suggested
            - reviewed
        transaction_criteria:
          type: object
          description: The set of properties used to identify matching
            transactions.
          properties:
            start_date:
              type: string
              format: date
              nullable: true
              description: The beginning of the date range for matching
                transactions. If `null`, any transactions before end_date may be
                considered.
            end_date:
              type: string
              format: date
              nullable: true
              description: The end of the date range for matching transactions.
                If `null`, any transactions after start_date may be considered.
            granularity:
              type: string
              description: The unit of time used to define the cadence of the
                recurring item.
              enum:
                - day
                - week
                - month
                - year
            quantity:
              type: integer
              description: The number of granularity units between each
                recurrence.
            anchor_date:
              type: string
              format: date
              nullable: false
              description: The date used in conjunction with the `quantity` and
                `granularity` properties to calculate expected occurrences of
                recurring transactions.
            payee:
              type: string
              nullable: true
              description: If set, specifies the original transaction payee name
                that triggered this recurring item's creation.
            amount:
              type: string
              pattern: ^-?\d+(\.\d{1,4})?$
              description: The expected amount for a transaction that will match
                this recurring item. For recurring items that have a flexible
                amount this is the average of the specified min and max amounts.
            to_base:
              type: number
              description: The amount converted to the user's primary currency
            currency:
              type: string
              nullable: false
              description: Three-letter lowercase currency code of the recurring
                item.
            plaid_account_id:
              type: integer
              format: int64
              nullable: true
              description: The Plaid account ID associated with the recurring
                item, if any.
            manual_account_id:
              type: integer
              format: int64
              nullable: true
              description: The manual account ID associated with the recurring
                item, if any.
          required:
            - start_date
            - end_date
            - granularity
            - quantity
            - anchor_date
            - payee
            - amount
            - to_base
            - currency
            - plaid_account_id
            - manual_account_id
        overrides:
          type: object
          description: The values that will be applied to matching transactions.
          properties:
            payee:
              type: string
              nullable: false
              description: If present, the payee name that will be displayed for
                any matching transactions.
            notes:
              type: string
              nullable: false
              description: If present, the notes that will be displayed for any
                matching transactions.
            category_id:
              type: integer
              nullable: false
              description: If present, the ID of the category that matching
                transactions will be assigned to.
        matches:
          type: object
          nullable: true
          description: Details on expected, found and missing transactions for
            the specified range. This will be `null` for recurring items with a
            `status` of `suggested`.
          properties:
            request_start_date:
              type: string
              format: date
              description: The beginning of the date range that this request
                used to find matching transactions.
            request_end_date:
              type: string
              format: date
              description: The beginning of the date range that this request
                used to find matching transactions.
            expected_occurrence_dates:
              type: array
              items:
                type: string
                format: date
              description: A list of dates within the specified range where a
                recurring transactions is expected.
            found_transactions:
              type: array
              description: A list with the dates and IDs of matching
                transactions.
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                    description: The date for a matching transaction within the
                      specified range.
                  transaction_id:
                    type: integer
                    description: The ID of a matching transaction within the
                      specified range.
            missing_transaction_dates:
              type: array
              items:
                type: string
                format: date
              description: A list of dates within the range of where a recurring
                transaction was expected but none was found.
        created_by:
          type: integer
          nullable: false
          description: The ID of the user who created the recurring item.
        created_at:
          type: string
          format: date-time
          nullable: false
          description: Date/time the recurring item was created in ISO 8601
            extended format.
        updated_at:
          type: string
          format: date-time
          nullable: false
          description: Date/time the recurring item was updated in ISO 8601
            extended format.
        source:
          type: string
          description: >
            This can be one of four values:

            - `manual`: User created this recurring item manually from the
            Recurring Items page

            - `transaction`: User created this by converting a transaction from
            the Transactions page

            - `system`: Recurring item was created by the system on transaction
            import

            - `null`: Some older recurring items may not have a source.
          enum:
            - manual
            - transaction
            - system
      required:
        - id
        - description
        - status
        - transaction_criteria
        - overrides
        - matches
        - created_by
        - created_at
        - updated_at
        - source

    # The object containing information about a tag
    tagObject:
      type: object
      title: tag object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          description: Unique identifier for the tag.
        name:
          type: string
          description: Name of the tag.
        description:
          type: string
          nullable: true
          description: Description of the tag.
        text_color:
          type: string
          nullable: true
          description: The text color of the tag.
        background_color:
          type: string
          nullable: true
          description: The background color of the tag.
        updated_at:
          type: string
          format: date-time
          nullable: false
          description: The date and time of when the tag was last updated (in
            the ISO 8601 extended format).
        created_at:
          type: string
          format: date-time
          nullable: false
          description: The date and time of when the tag was created (in the ISO
            8601 extended format).
        archived:
          type: boolean
          description: If `true`, the tag will not show up when creating or
            updating transactions in the Lunch Money app.
        archived_at:
          type: string
          format: date-time
          nullable: true
          description: The date and time of when the tag was last archived or
            `null` if not archived
      required:
        - id
        - name
        - description
        - text_color
        - background_color
        - created_at
        - updated_at
        - archived
        - archived_at

    # The object that may be submitted to POST /tags
    createTagRequestObject:
      type: object
      additionalProperties: false
      x-internal: true
      properties:
        name:
          type: string
          nullable: false
          description: |-
            The name of the new tag. Must be between 1 and 100 characters.
            Must not match the name of any existing tags.
          minLength: 1
          maxLength: 100
        description:
          type: string
          nullable: true
          default: null
          description: The description of the tag. Must not exceed 200
            characters.
          maxLength: 200
        text_color:
          type: string
          nullable: true
          description: The text color of the tag.
        background_color:
          type: string
          nullable: true
          description: The background color of the tag.
        archived:
          type: boolean
          default: false
          description: If `true`, the tag is archived and not displayed in
            relevant areas of the Lunch Money app.
      required:
        - name

    # The object that may be submitted to PUT /tags/:id
    updateTagRequestObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        name:
          type: string
          nullable: false
          description: If set, the new name of the tag. Must be between 1 and
            100. characters.
          minLength: 1
          maxLength: 100
          x-updatable: true
        description:
          type: string
          nullable: true
          description: If set, the new description of the tag. Must not exceed
            200. characters.
          maxLength: 200
          x-updatable: true
        text_color:
          type: string
          nullable: true
          description: The text color of the tag.
          x-updatable: true
        background_color:
          type: string
          nullable: true
          description: The background color of the tag.
          x-updatable: true
        archived:
          type: boolean
          description: If set, determines whether this tag is archived.
          x-updatable: true
        id:
          type: integer
          format: int32
          description: System-defined unique identifier for the tag. Ignored if
            set.
          x-updatable: false
        updated_at:
          type: string
          format: date-time
          nullable: false
          description: System-set time the tag was last updated. Ignored if set
          x-updatable: false
        created_at:
          type: string
          format: date-time
          nullable: false
          description: System-set time the tag was created. Ignored if set.
          x-updatable: false
        archived_at:
          type: string
          format: date-time
          nullable: true
          description: If set, updates the archived timestamp for the tag.
            Provide an ISO 8601 extended datetime or `null` to clear it.
          x-updatable: true

    # The object returned when a DELETE /tag/:id request 
    # has an id for a tag that has dependencies  
    deleteTagResponseWithDependencies:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        tag_name:
          type: string
          description: The name of the tag
        dependents:
          type: object
          properties:
            rules:
              type: integer
              description: The number of rules depending on the tag
            transactions:
              type: integer
              description: The number of transactions with the tag
          required:
            - rules
            - transactions
      required:
        - tag_name
        - dependents

    # The primary object that represents a transaction
    transactionObject:
      type: object
      title: transaction object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          description: System-created unique identifier for the transaction
        date:
          type: string
          format: date
          description: Transaction date in ISO 8601 format
        amount:
          type: string
          description: Amount of the transaction in numeric format to 4 decimal
            places. Positive values indicate a debit transaction, negative
            values indicate a credit transaction.
        currency:
          description: Three-letter lowercase currency code of the transaction
            in ISO 4217 format.
          allOf:
            - $ref: "#/components/schemas/currencyEnum"
        to_base:
          type: number
          format: double
          description: The amount converted to the user's primary currency. If
            the multi-currency feature is not being used, to_base and amount
            will be the same. Positive values indicate a debit transaction,
            negative values indicate a credit transaction.
        recurring_id:
          type: integer
          format: int32
          nullable: true
          description: The unique identifier of the associated recurring item
            that this transaction matched.
        payee:
          type: string
          description: |
            Name of payee set by the user, the financial institution, or by 
            a matched recurring item. This will match the value 
            displayed in payee field on the transactions page in the Lunch Money app.
        original_name:
          type: string
          nullable: true
          description: Original payee name from the source (financial
            institution, CSV, etc.). For Plaid transactions, this is the raw
            name before normalization. For manual/API transactions, this
            typically matches `payee`. May be null for older transactions.
        category_id:
          type: integer
          format: int32
          nullable: true
          description: Unique identifier of associated category set by the user
            or by a matched recurring_item.<br> Category details can be obtained
            by passing the value of this property to the [Get A Single
            Category](../operations/getCategoryById) API
        plaid_account_id:
          type: integer
          format: int32
          nullable: true
          description: The unique identifier of the plaid account associated
            with this transaction. This will always be null if this transaction
            is associated with a manual account or if this transaction has no
            associated account and appears as a "Cash Transaction" in the Lunch
            Money app.
        manual_account_id:
          type: integer
          format: int32
          nullable: true
          description: The unique identifier of the manual account associated
            with this transaction. This will always be null if this transaction
            is associated with a synced account or if this transaction has no
            associated account and appears as a "Cash Transaction" in the Lunch
            Money app.
        external_id:
          type: string
          nullable: true
          description: A user-defined external ID for any transaction that was
            added via csv import, `POST /transactions` API call, or manually
            added via the Lunch Money app. No external ID exists for
            transactions associated with synced accounts, and they cannot be
            added. For transactions associated with manual accounts, the
            external ID must be unique as attempts to add a subsequent
            transaction with the same external_id and manual_account_id will be
            flagged as duplicates and fail.
          minLength: 0
          maxLength: 75
        tag_ids:
          type: array
          nullable: false
          description: A list of tag_ids for the tags associated with this
            transaction. If the transaction has no tags this will be an empty
            list.<br> Tag details can be obtained by passing the value of this
            attribute as the `ids` query parameter to the [List
            Tags](../operations/getTags) API
          items:
            type: integer
            format: int32
        notes:
          type: string
          nullable: true
          description: |
            Any transaction notes set by the user or by 
            a matched recurring item. This will match the value 
            displayed in notes field on the transactions page in the Lunch Money app.
          minLength: 0
          maxLength: 350
        status:
          type: string
          # description: >
          #   Status of the transaction.  Will be one of the following values:
          # x-enumDescriptions:
          #   reviewed: User has reviewed the transaction, or it was automatically marked as reviewed due to reviewed recurring_item logic
          #   unreviewed: User has not reviewed the transaction and it does not match any reviewed recurring_items.
          #   delete_pending: The synced account deleted this transaction after it was updated by the user. Requires manual intervention.
          description: >
            Status of the transaction:

            - `reviewed`: User has reviewed the transaction, or it was
            automatically marked as reviewed due to reviewed recurring_item
            logic

            - `unreviewed`: User has not reviewed the transaction and it does
            not match any reviewed recurring_items. Note that any transactions 
            where `is_pending` is true will be returned with a status of unreviewed.

            - `delete_pending`: The synced account deleted this transaction
            after it was updated by the user. Requires manual intervention.

          enum:
            - reviewed
            - unreviewed
            - delete_pending
        is_pending:
          type: boolean
          description: Denotes if the transaction is pending (not posted).
            Applies only to transactions in synced accounts and will always be
            false for transactions associated with manual accounts.
        created_at:
          type: string
          format: date-time
          description: The date and time of when the transaction was created (in
            the ISO 8601 extended format).
        updated_at:
          type: string
          format: date-time
          description: The date and time of when the transaction was last
            updated (in the ISO 8601 extended format).
        is_split_parent:
          type: boolean
          description: If `true`, this transaction has been split into two or
            more other transactions. By default, parent transactions are not
            returned in call to `GET /transactions` but they can be queried
            directly by their ID.
        split_parent_id:
          type: integer
          format: int64
          nullable: true
          description: A transaction ID if this is a split transaction. Denotes
            the transaction ID of the original, or parent, transaction. Is null
            if this is not a split transaction
        is_group_parent:
          type: boolean
          description: "`true` if this transaction represents a group of
            transactions. If so, amount and currency represent the totalled
            amount of transactions bearing this transaction's id as their
            group_parent_id. Amount is calculated based on the user's primary
            currency."
        group_parent_id:
          type: integer
          format: int64
          nullable: true
          description: If set, this transaction is part of a group. Denotes the
            ID of the grouped transaction that it is included in. By default,
            the transactions that were grouped are not returned in a call to
            `GET /transactions` but they can be queried directly by calling the
            `GET /transactions/group/{id}`, where the id passed is associated
            with a transaction where the `is_group_parent` attribute is true.
        children:
          type: array
          nullable: false
          items:
            $ref: "#/components/schemas/childTransactionObject"
          description: Exists only for transactions which are the parent of a
            split transaction or for transaction groups. It will not exist in
            the response unless the `include_children` query parameter is set to
            `true`.<br> For parents of split transactions, it contains a list of
            the associated transactions that it was split into. For transaction
            groups, it contains the transactions that were grouped together.
            Examine the `is_split_parent` and `is_group_parent` properties to
            determine which of these it is.
        plaid_metadata:
          type: object
          nullable: true
          description: If requested, the transaction's plaid_metadata that came
            when this transaction was obtained. This will be a JSON object, but
            the schema is variable. This is only present when the
            `include_metadata` query parameter is set to true.
        custom_metadata:
          type: object
          nullable: true
          description: If requested, the transaction's custom_metadata that was
            included when the transaction was inserted via the API. This will be
            a JSON object, but the schema is variable. This is only present when
            the `include_metadata` query parameter is set to true.
        files:
          type: array
          nullable: false
          description: A list of objects that describe any attachments to the
            transaction. This is only present when the `include_files` query
            parameter is set to true.
          items:
            $ref: "#/components/schemas/transactionAttachmentObject"
        source:
          type: string
          nullable: true
          description: >
            Source of the transaction:

            - `api`: Transaction was added by a call to the [POST
            /transactions](../operations/createTransaction) API

            - `csv`: Transaction was added via a CSV Import

            - `manual`: Transaction was created via the "Add to Cash" button on
            the Transactions page

            - `merge`: Transactions were originally in an account that was
            merged into another account

            - `plaid`: Transaction came from a Financial Institution synced via
            Plaid

            - `recurring`: Transaction was created from the Recurring page 

            - `rule`: Transaction was created by a rule to split a transaction

            - `split`: Transaction was created by splitting another
            transaction

            - `user`: This is a legacy value and is replaced by either csv or
            manual
          enum:
            - api
            - csv
            - manual
            - merge
            - plaid
            - recurring
            - rule
            - split
            - user
      required:
        - id
        - date
        - amount
        - currency
        - to_base
        - recurring_id
        - payee
        - category_id
        - notes
        - status
        - is_pending
        - created_at
        - updated_at
        - split_parent_id
        - is_group_parent
        - group_parent_id
        - manual_account_id
        - plaid_account_id
        - tag_ids
        - source
        - external_id

    # The childTransactionObject is basically a transactionObject that has no
    # `children` attribute which should not be present on grouped or split 
    # transactions.
    childTransactionObject:
      type: object
      x-internal: true
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
          description: System-created unique identifier for the transaction
        date:
          type: string
          format: date
          description: Transaction date in ISO 8601 format
        amount:
          type: string
          description: Amount of the transaction in numeric format to 4 decimal
            places. Positive values indicate a debit transaction, negative
            values indicate a credit transaction.
        currency:
          description: Three-letter lowercase currency code of the transaction
            in ISO 4217 format
[...]
