{"openapi":"3.0.3","info":{"title":"MultiMail API","version":"2.0.0","description":"Email-as-a-Service for AI agents. Inbound email converted to markdown, outbound markdown converted to HTML. Built on Cloudflare Workers."},"servers":[{"url":"https://api.multimail.dev"}],"paths":{"/v1/slug-check/{slug}":{"get":{"summary":"Check slug availability","description":"Check if a slug is available for registration. Returns suggestions if taken or reserved. No auth required.","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Slug is available or unavailable with suggestions","content":{"application/json":{"schema":{"type":"object","properties":{"available":{"type":"boolean"},"slug":{"type":"string"},"reason":{"type":"string"},"suggestions":{"type":"array","items":{"type":"string"}},"address_preview":{"type":"string"}}}}}}}}},"/v1/account/challenge":{"post":{"summary":"Request proof-of-work challenge for signup","description":"Returns an ALTCHA challenge. Solve it and include the solution as pow_solution in POST /v1/account. Challenge expires in 5 minutes.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"oversight_email":{"type":"string","format":"email","description":"Optional. Calibrates difficulty based on email domain."}}}}}},"responses":{"200":{"description":"Challenge issued","content":{"application/json":{"schema":{"type":"object","properties":{"algorithm":{"type":"string","example":"SHA-256"},"challenge":{"type":"string"},"maxnumber":{"type":"integer"},"salt":{"type":"string"},"signature":{"type":"string"}}}}}}}}},"/v1/account":{"post":{"summary":"Create a new account (deferred provisioning)","description":"Requires a solved proof-of-work challenge. Creates a pending signup and sends a confirmation email. Response is always identical for privacy (anti-enumeration). Honors an optional Idempotency-Key request header (UUID) to safely retry without creating duplicate pending_signups rows.","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","maxLength":200},"description":"Client-generated UUID. Replays return the cached response (1hr TTL). In-flight retries return 409."}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}}},"responses":{"200":{"description":"Confirmation sent (privacy-preserving — does not confirm account creation)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupResponse"}}}},"409":{"description":"Concurrent request with same Idempotency-Key in flight."}}},"get":{"summary":"Get current tenant info and usage","description":"Requires read scope.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Tenant info","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountInfo"}}}}}},"patch":{"summary":"Update tenant settings","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","maxLength":200},"oversight_email":{"type":"string","format":"email","maxLength":320},"physical_address":{"type":"string","maxLength":2000},"approval_code":{"type":"string","maxLength":16}}}}}},"responses":{"200":{"description":"Settings updated"}}},"delete":{"summary":"Permanently delete tenant account","description":"Hard-deletes all tenant data (mailboxes, emails, API keys, usage, audit log). Frees the slug for re-registration. Requires admin scope.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"approval_code":{"type":"string","maxLength":16}}}}}},"responses":{"200":{"description":"Account deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"deleted"}}}}}},"401":{"description":"Missing or invalid API key"},"403":{"description":"Requires admin scope"}}}},"/v1/operator/start-session":{"post":{"summary":"Start an operator dashboard session","description":"Requires admin scope. Sends a one-time code to the oversight email and begins the operator-session OTP flow.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"202":{"description":"Code sent","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","maxLength":32},"masked_email":{"type":"string","maxLength":320}}}}}},"429":{"description":"Rate limited"}}}},"/v1/operator/verify-session":{"post":{"summary":"Verify an operator dashboard session","description":"Requires admin scope. Exchanges a one-time code for a short-lived HttpOnly operator-session cookie.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","maxLength":16}}}}}},"responses":{"200":{"description":"Session active","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","maxLength":32},"expires_at":{"type":"integer"}}}}}},"403":{"description":"Invalid code"},"404":{"description":"No pending code"}}}},"/v1/operator/end-session":{"post":{"summary":"End an operator dashboard session","description":"Requires admin scope. Clears the operator-session cookie.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{}}}}},"responses":{"200":{"description":"Session cleared"}}}},"/v1/operator/session":{"get":{"summary":"Get operator-session status","description":"Requires admin scope. Reports whether the current browser has an active operator-session cookie.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Operator session status","content":{"application/json":{"schema":{"type":"object","properties":{"active":{"type":"boolean"},"expires_at":{"type":"integer","nullable":true},"max_tier":{"type":"string","enum":["medium"],"nullable":true}}}}}},"401":{"description":"Missing or invalid API key"},"403":{"description":"Requires admin scope"}}}},"/v1/support":{"post":{"summary":"Send a support message","description":"Public endpoint. Requires a solved ALTCHA proof-of-work payload. Sends a message to support@multimail.dev.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","email","subject","message","pow_solution"],"properties":{"name":{"type":"string","maxLength":200},"email":{"type":"string","format":"email","maxLength":320},"subject":{"type":"string","maxLength":200},"message":{"type":"string","maxLength":16384},"pow_solution":{"type":"object","required":["algorithm","challenge","number","salt","signature"],"properties":{"algorithm":{"type":"string","maxLength":32},"challenge":{"type":"string","maxLength":512},"number":{"type":"integer"},"salt":{"type":"string","maxLength":512},"signature":{"type":"string","maxLength":512}}}}}}}},"responses":{"200":{"description":"Support message sent","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","maxLength":32}}}}}},"400":{"description":"Invalid proof-of-work or request body"},"413":{"description":"Body too large"},"429":{"description":"Rate limited"}}}},"/v1/account/resend-confirmation":{"post":{"summary":"Resend operator confirmation email","description":"Public endpoint (no auth required). Resends the activation email with a new code for unconfirmed accounts. Rate limited to 1 request per 10 minutes.","responses":{"200":{"description":"Confirmation resent","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"confirmation_resent"},"message":{"type":"string"}}}}}},"400":{"description":"Account already confirmed"},"429":{"description":"Rate limited — wait 5 minutes"}}}},"/v1/mailboxes":{"post":{"summary":"Create a new mailbox","description":"Requires admin scope. Address can be a local part (appended to tenant subdomain) or full address on a verified custom domain.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMailboxRequest"}}}},"responses":{"201":{"description":"Mailbox created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"address":{"type":"string"}}}}}},"400":{"description":"Invalid address format"},"403":{"description":"Plan mailbox limit reached or wrong scope"},"409":{"description":"Address already in use"}}},"get":{"summary":"List all mailboxes","description":"Requires read scope.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Mailbox list","content":{"application/json":{"schema":{"type":"object","properties":{"mailboxes":{"type":"array","items":{"$ref":"#/components/schemas/Mailbox"}}}}}}}}}},"/v1/mailboxes/{mailboxId}":{"patch":{"summary":"Update mailbox settings","description":"Requires admin scope. Oversight mode can only be downgraded here; upgrades require the upgrade flow.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMailboxRequest"}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"updated"}}}}}},"400":{"description":"Invalid field value"},"404":{"description":"Mailbox not found"}}},"delete":{"summary":"Soft-delete a mailbox","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"deleted"}}}}}},"404":{"description":"Mailbox not found"}}}},"/v1/mailboxes/{mailboxId}/emails":{"get":{"summary":"List emails in a mailbox","description":"Requires read scope. Returns paginated email summaries (no body content).","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"status","in":"query","schema":{"type":"string","enum":["unread","read","archived","deleted","pending_send_approval","pending_inbound_approval","rejected","cancelled","send_failed","scheduled","spam_flagged","spam_quarantined"]}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pagination cursor (received_at epoch from previous page)"},{"name":"sender","in":"query","schema":{"type":"string"},"description":"Filter by sender address"},{"name":"subject_contains","in":"query","schema":{"type":"string"},"description":"Substring search on subject"},{"name":"date_after","in":"query","schema":{"type":"string"},"description":"Filter emails after this date"},{"name":"date_before","in":"query","schema":{"type":"string"},"description":"Filter emails before this date"},{"name":"direction","in":"query","schema":{"type":"string","enum":["inbound","outbound"]}},{"name":"has_attachments","in":"query","schema":{"type":"string","enum":["true","false"]}},{"name":"since_id","in":"query","schema":{"type":"string"},"description":"Return emails newer than this ID"}],"responses":{"200":{"description":"Email list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailListResponse"}}}}}}},"/v1/emails":{"get":{"summary":"List spam emails across tenant","description":"Requires read scope. Without a status filter, returns spam_flagged and spam_quarantined emails across all tenant mailboxes.","security":[{"bearerAuth":[]}],"parameters":[{"name":"status","in":"query","schema":{"type":"string","enum":["spam_flagged","spam_quarantined"]}},{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":20}},{"name":"cursor","in":"query","schema":{"type":"string"},"description":"Pagination cursor (received_at epoch from previous page)"}],"responses":{"200":{"description":"Spam email list","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailListResponse"}}}}}}},"/v1/emails/{id}/report-spam":{"post":{"summary":"Report an email as spam","description":"Requires send scope. Moves the email to spam_quarantined and records a user spam label.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Email marked as spam"},"404":{"description":"Email not found"}}}},"/v1/emails/{id}/not-spam":{"post":{"summary":"Mark an email as not spam","description":"Requires send scope. Restores the email to unread and records a user not_spam label.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Email restored to unread"},"404":{"description":"Email not found"}}}},"/v1/mailboxes/{mailboxId}/emails/{emailId}":{"get":{"summary":"Get full email with markdown body and attachment metadata","description":"Requires read scope. Automatically marks unread emails as read.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Full email","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmailResponse"}}}},"404":{"description":"Email not found"}}}},"/v1/mailboxes/{mailboxId}/emails/{emailId}/attachments/{filename}":{"get":{"summary":"Download individual attachment","description":"Requires read scope. Returns base64 inline for small files (<50KB) or a presigned URL for larger files.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}},{"name":"filename","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/mailboxes/{mailboxId}/emails/{emailId}/cancel":{"post":{"summary":"Cancel a pending email","description":"Cancels an email in pending_send_approval or pending_inbound_approval status. Idempotent if already cancelled. Requires send scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Email cancelled","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"cancelled"}}}}}},"404":{"description":"Email not found"},"409":{"description":"Email not in a cancellable state"}}}},"/v1/mailboxes/{mailboxId}/emails/{emailId}/tags":{"put":{"summary":"Set tags on an email","description":"Replaces all tags with the provided key-value pairs. Requires send scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["tags"],"properties":{"tags":{"type":"object","additionalProperties":{"type":"string"}}}}}}},"responses":{"200":{"description":"Tags after write","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"get":{"summary":"Get tags on an email","description":"Requires read scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag map","content":{"application/json":{"schema":{"type":"object","properties":{"tags":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}}},"/v1/mailboxes/{mailboxId}/emails/{emailId}/tags/{key}":{"delete":{"summary":"Delete a single tag","description":"Requires send scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}},{"name":"key","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Tag deleted","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}}}}},"/v1/mailboxes/{mailboxId}/threads/{threadId}":{"get":{"summary":"Get thread with all messages","description":"Returns thread metadata and all emails in the thread (without body content). Requires read scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"threadId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Thread detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ThreadResponse"}}}},"404":{"description":"Thread not found or no emails"}}}},"/v1/mailboxes/{mailboxId}/send":{"post":{"summary":"Send email (provide markdown, we convert to HTML)","description":"Requires send scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailRequest"}}}},"responses":{"200":{"description":"Idempotent duplicate","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"already_sent"},"idempotent":{"type":"boolean"}}}}}},"202":{"description":"Email queued for scanning and delivery","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"pending_scan"},"thread_id":{"type":"string"},"message":{"type":"string"}}}}}},"400":{"description":"Validation error or content filtered"},"403":{"description":"Mailbox is in read_only mode"},"429":{"description":"Quota exceeded or rate limited"}}}},"/v1/mailboxes/{mailboxId}/reply/{emailId}":{"post":{"summary":"Reply to an email in thread","description":"Requires send scope. Supports attachments and idempotency keys.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}},{"name":"emailId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReplyRequest"}}}},"responses":{"200":{"description":"Idempotent duplicate","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"already_sent"},"idempotent":{"type":"boolean"}}}}}},"202":{"description":"Reply queued","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","example":"pending_scan"},"thread_id":{"type":"string"}}}}}},"403":{"description":"Mailbox is in read_only mode"},"409":{"description":"Duplicate reply detected (same content within 60s)"}}}},"/v1/contacts":{"post":{"summary":"Create a contact","description":"Add a contact to the address book. Requires send scope.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name","email"],"properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"},"tags":{"type":"array","items":{"type":"string"}}}}}}},"responses":{"201":{"description":"Contact created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Contact"}}}},"400":{"description":"Name and email required"}}},"get":{"summary":"Search contacts","description":"Search address book by name or email. Omit query to list all. Requires read scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"q","in":"query","schema":{"type":"string"},"description":"Search by name or email (partial match)"}],"responses":{"200":{"description":"Contact list","content":{"application/json":{"schema":{"type":"object","properties":{"contacts":{"type":"array","items":{"$ref":"#/components/schemas/Contact"}}}}}}}}}},"/v1/contacts/{contactId}":{"delete":{"summary":"Delete a contact","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"deleted":{"type":"boolean"}}}}}},"404":{"description":"Contact not found"}}}},"/v1/oversight/pending":{"get":{"summary":"List emails pending oversight approval","description":"Requires oversight scope.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Pending emails","content":{"application/json":{"schema":{"type":"object","properties":{"emails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"mailbox_id":{"type":"string"},"direction":{"type":"string","enum":["inbound","outbound"]},"from":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"body_markdown":{"type":"string"},"status":{"type":"string"},"received_at":{"type":"string","format":"date-time"}}}}}}}}}}}},"/v1/oversight/decide":{"post":{"summary":"Approve or reject a pending email","description":"Requires oversight scope. Approved outbound emails are sent immediately.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email_id","action"],"properties":{"email_id":{"type":"string"},"action":{"type":"string","enum":["approve","reject"]}}}}}},"responses":{"200":{"description":"Decision applied","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","enum":["approved","approved_and_sent","rejected"]},"postmark_message_id":{"type":"string"}}}}}},"404":{"description":"Email not found"}}}},"/v1/webhooks":{"post":{"summary":"Create a webhook subscription","description":"Subscribe to email events. Returns the signing secret (shown only on creation). Requires admin scope.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["url","events"],"properties":{"url":{"type":"string","format":"uri","description":"HTTPS URL to receive events"},"events":{"type":"array","items":{"type":"string"},"description":"Event types to subscribe to"},"mailbox_id":{"type":"string","description":"Optional: scope to a specific mailbox"}}}}}},"responses":{"201":{"description":"Subscription created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookSubscription"}}}},"400":{"description":"Invalid URL or events"}}},"get":{"summary":"List webhook subscriptions","description":"Requires admin scope. Signing secrets are not included in the list.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Subscriptions","content":{"application/json":{"schema":{"type":"object","properties":{"subscriptions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"mailbox_id":{"type":"string","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}}}}}}}},"/v1/webhooks/{id}":{"get":{"summary":"Get webhook subscription detail","description":"Includes signing secret. Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Subscription detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WebhookSubscription"}}}},"404":{"description":"Subscription not found"}}},"delete":{"summary":"Delete a webhook subscription","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"deleted"}}}}}},"404":{"description":"Subscription not found"}}}},"/v1/webhooks/postmark-inbound":{"post":{"summary":"Postmark inbound email webhook","description":"Receives inbound emails from Postmark. Authenticated via HTTP Basic Auth with the Postmark webhook secret. Not a consumer API endpoint.","responses":{"200":{"description":"Processed","content":{"application/json":{"schema":{"type":"object","properties":{"received":{"type":"boolean"},"processed":{"type":"integer"}}}}}},"401":{"description":"Invalid credentials"}}}},"/v1/mailboxes/{mailboxId}/request-upgrade":{"post":{"summary":"Request an oversight mode upgrade","description":"Requires send scope. Emails a one-time upgrade code to the operator. Rate-limited to 3 requests per hour per mailbox.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["target_mode"],"properties":{"target_mode":{"type":"string","enum":["read_only","gated_all","gated_send","monitored","autonomous"]}}}}}},"responses":{"200":{"description":"Upgrade code sent to operator"},"400":{"description":"Invalid target_mode or already in that mode"},"429":{"description":"Too many upgrade requests"}}}},"/v1/mailboxes/{mailboxId}/upgrade":{"post":{"summary":"Redeem an upgrade code to change oversight mode","description":"Requires send scope. Codes are single-use and expire after 24 hours.","security":[{"bearerAuth":[]}],"parameters":[{"name":"mailboxId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["code"],"properties":{"code":{"type":"string","description":"Upgrade code from operator (e.g. A7X-29K)"}}}}}},"responses":{"200":{"description":"Mailbox oversight mode upgraded"},"403":{"description":"Invalid upgrade code"},"404":{"description":"No pending upgrade request"}}}},"/v1/api-keys":{"get":{"summary":"List API keys (never shows full key)","description":"Requires admin scope. Returns key prefix, scopes, and metadata.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"API key list","content":{"application/json":{"schema":{"type":"object","properties":{"api_keys":{"type":"array","items":{"$ref":"#/components/schemas/ApiKeyInfo"}}}}}}}}},"post":{"summary":"Create a new API key","description":"Requires admin scope. The raw key is returned only once in the response.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string","enum":["read","send","admin","oversight"]},"default":["read"]}}}}}},"responses":{"201":{"description":"Key created","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"api_key":{"type":"string","description":"Raw key (shown once)"},"prefix":{"type":"string"},"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string"}}}}}}}}}},"/v1/api-keys/{keyId}":{"patch":{"summary":"Update API key name or scopes","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"scopes":{"type":"array","items":{"type":"string","enum":["read","send","admin","oversight"]}}}}}}},"responses":{"200":{"description":"Updated","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"updated"}}}}}},"404":{"description":"Key not found"}}},"delete":{"summary":"Revoke an API key","description":"Requires admin scope. Returns 202 with pending_approval on first call; resend with approval_code to complete.","security":[{"bearerAuth":[]}],"parameters":[{"name":"keyId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"approval_code":{"type":"string","description":"Operator approval code (from email). Omit on first call to request approval."}}}}}},"responses":{"200":{"description":"Revoked","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"revoked"}}}}}},"202":{"description":"Approval requested — check oversight email for code"},"403":{"description":"Invalid approval code"},"404":{"description":"Key not found or no pending approval"}}}},"/v1/billing/checkout":{"post":{"summary":"Create a Stripe checkout session for plan upgrade","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["plan"],"properties":{"plan":{"type":"string","enum":["builder","pro","scale"]},"interval":{"type":"string","enum":["monthly","annual"],"default":"monthly"},"success_url":{"type":"string","format":"uri"},"cancel_url":{"type":"string","format":"uri"}}}}}},"responses":{"200":{"description":"Checkout session","content":{"application/json":{"schema":{"type":"object","properties":{"checkout_url":{"type":"string"},"session_id":{"type":"string"}}}}}}}}},"/v1/billing/crypto-checkout":{"post":{"summary":"Create a Coinbase Commerce checkout (crypto payment)","description":"Requires admin scope. One-time charge.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["plan"],"properties":{"plan":{"type":"string","enum":["builder","pro","scale"]}}}}}},"responses":{"200":{"description":"Checkout created","content":{"application/json":{"schema":{"type":"object","properties":{"checkout_url":{"type":"string"},"charge_id":{"type":"string"}}}}}}}}},"/v1/billing/stripe-webhook":{"post":{"summary":"Stripe webhook handler (public, signature-verified)"}},"/v1/billing/pricing-checkout":{"post":{"summary":"Create account + Stripe checkout in one step (public, no auth)","description":"Creates an inactive tenant, provisions a default mailbox, and returns a Stripe checkout URL. After payment, call GET /v1/billing/session-key to retrieve the API key. Honors an optional Idempotency-Key request header (UUID); the same key is forwarded to Stripe so duplicate Sessions are not created on retry.","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string","maxLength":200},"description":"Client-generated UUID. Cached for 1hr in our KV; also forwarded to Stripe (24hr server-side dedupe window)."}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["operator_name","oversight_email","plan","accepted_tos","accepted_operator_agreement","accepted_anti_spam_policy"],"properties":{"operator_name":{"type":"string"},"oversight_email":{"type":"string","format":"email"},"plan":{"type":"string","enum":["builder","pro","scale"]},"interval":{"type":"string","enum":["monthly","annual"],"default":"monthly"},"accepted_tos":{"type":"boolean"},"accepted_operator_agreement":{"type":"boolean"},"accepted_anti_spam_policy":{"type":"boolean"},"turnstile_token":{"type":"string","maxLength":4096,"deprecated":true},"use_case":{"type":"string"},"oversight_mode":{"type":"string","enum":["gated_all","gated_send","monitored"]},"attribution":{"$ref":"#/components/schemas/AttributionPayload"}}}}}},"responses":{"200":{"description":"Checkout session","content":{"application/json":{"schema":{"type":"object","properties":{"checkout_url":{"type":"string","format":"uri"}}}}}},"400":{"description":"Validation error"},"409":{"description":"Operator name taken or concurrent Idempotency-Key in flight"}}}},"/v1/billing/session-key":{"get":{"summary":"Retrieve one-time API key after pricing-page checkout","description":"Public endpoint. Returns the API key stored during pricing-checkout, then deletes it. Key expires after 1 hour if not retrieved.","parameters":[{"name":"session_id","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"API key + onboarding data","content":{"application/json":{"schema":{"type":"object","properties":{"api_key":{"type":"string"},"mailbox_id":{"type":"string","nullable":true},"mailbox_address":{"type":"string","nullable":true},"oversight_mode":{"type":"string"},"org_name":{"type":"string","nullable":true},"oversight_email":{"type":"string","nullable":true}}}}}},"404":{"description":"Session not found or expired"}}}},"/v1/billing/coinbase-webhook":{"post":{"summary":"Coinbase Commerce webhook handler (public, signature-verified)"}},"/v1/funnel/event":{"post":{"summary":"Funnel event beacon (public, no auth)","description":"Pricing page beacon hit via navigator.sendBeacon to track open/submit/error events on the signup modal. Fire-and-forget; counters are best-effort (KV is non-atomic). IP-rate-limited to 30 req/min.","requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["event"],"properties":{"event":{"type":"string","enum":["pricing_modal_open_starter","pricing_modal_open_paid","pricing_modal_submit_starter_success","pricing_modal_submit_starter_error","pricing_modal_submit_paid_success","pricing_modal_submit_paid_error"]}}}}}},"responses":{"200":{"description":"Event recorded","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true}}}}}},"400":{"description":"Unknown event or invalid JSON"},"429":{"description":"Rate limited (>30 req/min/IP)"}}}},"/v1/billing/cancel":{"post":{"summary":"Cancel subscription at end of billing period","description":"Requires admin scope. Sets cancel_at_period_end on the Stripe subscription so the tenant retains access until the current billing period ends.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Cancellation scheduled","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"cancelling"},"cancel_at_period_end":{"type":"boolean"},"access_until":{"type":"string","format":"date-time"}}}}}},"400":{"description":"No active subscription"}}}},"/v1/billing/portal":{"post":{"summary":"Create a Stripe customer portal session","description":"Requires admin scope. Returns a URL to the Stripe-hosted billing portal for self-service invoice, payment method, and plan management.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"return_url":{"type":"string","format":"uri"}}}}}},"responses":{"200":{"description":"Portal session","content":{"application/json":{"schema":{"type":"object","properties":{"portal_url":{"type":"string","format":"uri"}}}}}},"400":{"description":"No Stripe customer on file"}}}},"/v1/webhooks/postmark":{"post":{"summary":"Postmark bounce/complaint/delivery webhook handler"}},"/v1/confirm":{"get":{"summary":"Redirect to frontend confirmation page at multimail.dev/confirm"},"post":{"summary":"Activate account with confirmation code","description":"JSON response includes: status, name, oversight_mode, api_key, mailbox_id, mailbox_address, oversight_email, use_case. Browser form submissions redirect to /welcome."}},"/v1/confirm/{code}":{"get":{"summary":"Redirect to frontend confirmation page with code prefilled","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/domains":{"post":{"summary":"Add a custom domain (Pro/Scale only)","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["domain"],"properties":{"domain":{"type":"string"}}}}}},"responses":{"201":{"description":"Domain created with DNS records to configure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}},"403":{"description":"Plan restriction"}}},"get":{"summary":"List custom domains","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"List of custom domains","content":{"application/json":{"schema":{"type":"object","properties":{"domains":{"type":"array","items":{"$ref":"#/components/schemas/Domain"}}}}}}}}}},"/v1/domains/{id}":{"get":{"summary":"Get custom domain detail","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain detail","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Domain"}}}}}},"delete":{"summary":"Delete a custom domain","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Domain deleted","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"deleted"}}}}}}}}},"/v1/domains/{id}/verify":{"post":{"summary":"Trigger DNS verification for a custom domain","description":"Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Verification result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomainVerifyResult"}}}}}}},"/v1/audit-log":{"get":{"summary":"List audit log entries","description":"Returns audit log entries with cursor pagination. Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Audit log entries","content":{"application/json":{"schema":{"type":"object","properties":{"entries":{"type":"array","items":{"$ref":"#/components/schemas/AuditEntry"}},"cursor":{"type":"string","nullable":true}}}}}}}}},"/v1/suppression":{"get":{"summary":"List suppressed email addresses","description":"Returns addresses suppressed due to bounces, spam complaints, or manual unsubscribes. Requires admin scope.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Suppression list","content":{"application/json":{"schema":{"type":"object","properties":{"suppressions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"email_address":{"type":"string"},"reason":{"type":"string"},"mailbox_id":{"type":"string","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"403":{"description":"Requires admin scope"}}}},"/v1/suppression/{address}":{"delete":{"summary":"Remove an address from the suppression list","description":"Allows future emails to be sent to this address again. Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"address","in":"path","required":true,"schema":{"type":"string","format":"email"}}],"responses":{"200":{"description":"Address removed from suppression list"},"404":{"description":"Address not found in suppression list"}}}},"/v1/webhook-deliveries":{"get":{"summary":"List webhook delivery history","description":"Returns recent webhook delivery attempts. Requires admin scope.","security":[{"bearerAuth":[]}],"parameters":[{"name":"limit","in":"query","schema":{"type":"integer","minimum":1,"maximum":100,"default":50}},{"name":"cursor","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook delivery history","content":{"application/json":{"schema":{"type":"object","properties":{"deliveries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"event_type":{"type":"string"},"url":{"type":"string"},"status":{"type":"string","enum":["pending","delivered","failed"]},"attempts":{"type":"integer"},"response_status":{"type":"integer","nullable":true},"created_at":{"type":"string","format":"date-time"},"last_attempt_at":{"type":"string","format":"date-time","nullable":true}}}},"cursor":{"type":"string","nullable":true}}}}}},"403":{"description":"Requires admin scope"}}}},"/v1/usage":{"get":{"summary":"Get usage statistics","description":"Requires read scope. Returns usage counts for the current billing period.","security":[{"bearerAuth":[]}],"parameters":[{"name":"from","in":"query","schema":{"type":"integer"},"description":"Start time (epoch ms)"},{"name":"to","in":"query","schema":{"type":"integer"},"description":"End time (epoch ms)"},{"name":"breakdown","in":"query","schema":{"type":"string","enum":["daily"]}}],"responses":{"200":{"description":"Usage statistics","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UsageSummary"},{"$ref":"#/components/schemas/UsageDaily"}]}}}}}}},"/.well-known/multimail-signing-key":{"get":{"summary":"Public signing key for identity verification","description":"Returns the ECDSA P-256 public key used to sign X-MultiMail-Identity headers.","responses":{"200":{"description":"Public key document"}}}},"/.well-known/reputation/{hash}":{"get":{"summary":"Look up agent mailbox reputation by hash","description":"Rate-limited to 10 lookups per IP per hour.","parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-f0-9]{64}$"}}],"responses":{"200":{"description":"Reputation data"},"404":{"description":"No reputation data found"},"429":{"description":"Rate limit exceeded"}}}},"/v1/export":{"get":{"summary":"Bulk export all account data","description":"Requires admin scope. Rate limited to 1 request per hour.","security":[{"bearerAuth":[]}],"responses":{"200":{"description":"Full account data export"},"403":{"description":"Requires admin scope"},"429":{"description":"Export rate limited (1 per hour)"}}}},"/v1/unsubscribe/{token}":{"get":{"summary":"Render unsubscribe page (CAN-SPAM)","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"summary":"Process unsubscribe request","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/approve/{token}":{"get":{"summary":"Render hosted approval page for oversight decisions","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}]},"post":{"summary":"Process approval/rejection from hosted page","parameters":[{"name":"token","in":"path","required":true,"schema":{"type":"string"}}]}},"/v1/admin/recover-key":{"post":{"summary":"Generate a new API key for a tenant (admin key recovery)","description":"Admin-only. Creates a new API key and emails it to the tenant's oversight email. Used when welcome email failed or KV expired before key retrieval.","security":[{"bearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["tenant_id","reason"],"properties":{"tenant_id":{"type":"string"},"reason":{"type":"string"}}}}}},"responses":{"200":{"description":"Key generated and emailed","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"key_id":{"type":"string"},"key_prefix":{"type":"string"},"api_key":{"type":"string"},"email_sent":{"type":"boolean"},"tenant_id":{"type":"string"}}}}}},"401":{"description":"Unauthorized"},"404":{"description":"Tenant not found"}}}},"/health":{"get":{"summary":"Readiness health check","description":"Verifies D1 and R2 connectivity. No auth required.","responses":{"200":{"description":"All systems operational","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"ok","enum":["ok","degraded"]}}}}}},"503":{"description":"One or more checks failed"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API key (mm_live_...). Keys have scopes: read (list/read emails, mailboxes, contacts), send (send/reply/cancel emails), admin (manage mailboxes, API keys, billing, account), oversight (approve/reject pending emails)."}},"schemas":{"SignupRequest":{"type":"object","required":["operator_name","accepted_tos","accepted_operator_agreement","accepted_anti_spam_policy","oversight_email","pow_solution"],"properties":{"operator_name":{"type":"string","description":"Company or individual name. Included in identity headers and signature block."},"payment_method":{"type":"string","enum":["stripe","crypto"],"description":"Signup intent source. Pricing page starter flow sends stripe."},"accepted_tos":{"type":"boolean","description":"Must be true."},"accepted_operator_agreement":{"type":"boolean","description":"Must be true."},"accepted_anti_spam_policy":{"type":"boolean","description":"Must be true."},"email_use_type":{"type":"string","enum":["transactional","marketing"],"description":"Only transactional is accepted today."},"oversight_email":{"type":"string","format":"email"},"slug":{"type":"string","description":"URL-safe slug. Auto-generated from operator_name if omitted."},"physical_address":{"type":"string"},"use_case":{"type":"string"},"oversight_mode":{"type":"string","enum":["gated_all","gated_send","monitored"],"description":"Optional initial mailbox oversight mode. Unsafe modes are rejected."},"cf_challenge_response":{"type":"string","maxLength":4096,"description":"Preferred browser Turnstile token field. Mirrors the hidden cf-turnstile-response input value. maxLength keeps API Shield's auto-learned body-size cap above the ~1.6KB Turnstile token (see lesson #18)."},"turnstile_token":{"type":"string","maxLength":4096,"deprecated":true,"description":"Legacy Turnstile token field. Accepted for backward compatibility. maxLength matches cf_challenge_response — see lesson #18."},"fingerprint":{"type":"string","maxLength":256,"description":"Optional browser fingerprint used for signup throttling."},"form_open_at":{"type":"integer","format":"int64","description":"Epoch milliseconds when the signup modal opened."},"pow_solution":{"type":"object","required":["algorithm","challenge","number","salt","signature"],"description":"Solved ALTCHA proof-of-work challenge from POST /v1/account/challenge.","properties":{"algorithm":{"type":"string","example":"SHA-256"},"challenge":{"type":"string","description":"Challenge hash from the challenge endpoint"},"number":{"type":"integer","description":"Solved number N where SHA-256(salt + N) matches challenge"},"salt":{"type":"string","description":"Salt from the challenge (echo back unchanged)"},"signature":{"type":"string","description":"Signature from the challenge (echo back unchanged)"}}},"attribution":{"$ref":"#/components/schemas/AttributionPayload"}}},"AttributionPayload":{"type":"object","description":"Optional client-captured conversion attribution (Phase 2 of plan 2026-04-27-003). The browser persists this in localStorage.mm_attribution_v1 and forwards it on signup. Server-side validator at src/lib/attribution.ts is the source of truth — bad shapes are silently dropped, NEVER reject the signup. additionalProperties:false on this object AND its sub-objects keeps the API Shield body-size cap honest even if the per-operation mitigation pin in scripts/sync-api-shield.sh is ever undone: an attacker cannot pad the body with arbitrary unknown keys to bypass the per-field maxLengths (adversary review iter1 finding ATTR-1).","additionalProperties":false,"properties":{"first":{"$ref":"#/components/schemas/AttributionVisit"},"last":{"$ref":"#/components/schemas/AttributionVisit"},"visits":{"type":"integer","format":"int32","minimum":1,"maximum":1000000,"description":"Visit counter, incremented client-side. Server validator coerces missing/zero/negative values to 1."},"version":{"type":"integer","format":"int32","enum":[1],"description":"Schema version. Only 1 is currently accepted; future bumps will rotate the localStorage key client-side and add new branches server-side."}}},"AttributionVisit":{"type":"object","description":"A single landing event — first or last touch.","additionalProperties":false,"properties":{"ts":{"type":"integer","format":"int64","description":"Epoch milliseconds at landing."},"landing_path":{"type":"string","maxLength":256,"description":"Pathname of the landing page (no host)."},"params":{"type":"object","description":"Tracked URL params present on the landing page. All keys optional; unknown keys are dropped server-side. additionalProperties:false enforces the allowlist at the schema layer too (adversary review iter1 ATTR-1).","additionalProperties":false,"properties":{"utm_source":{"type":"string","maxLength":256},"utm_medium":{"type":"string","maxLength":256},"utm_campaign":{"type":"string","maxLength":256},"utm_content":{"type":"string","maxLength":256},"utm_term":{"type":"string","maxLength":256},"gclid":{"type":"string","maxLength":256},"fbclid":{"type":"string","maxLength":256},"msclkid":{"type":"string","maxLength":256}}}}},"SignupResponse":{"type":"object","description":"Always returns the same response for privacy (anti-enumeration). Does not confirm whether the account was actually created.","properties":{"status":{"type":"string","example":"confirmation_sent"},"message":{"type":"string","example":"Check your email for the activation code."}}},"CreateMailboxRequest":{"type":"object","required":["address_local"],"properties":{"address_local":{"type":"string","description":"Local part (e.g. 'inbox') or full address on custom domain (e.g. 'inbox@custom.com')"},"display_name":{"type":"string"},"oversight_mode":{"type":"string","description":"Ignored — new mailboxes always start at gated_send. Use the upgrade flow to change.","default":"gated_send"},"webhook_url":{"type":"string","format":"uri"}}},"UpdateMailboxRequest":{"type":"object","properties":{"display_name":{"type":"string"},"oversight_mode":{"type":"string","enum":["read_only","gated_all","gated_send","monitored","autonomous"],"description":"Downgrade only. To upgrade, use POST /v1/mailboxes/{id}/request-upgrade."},"auto_cc":{"type":"string","format":"email","nullable":true},"auto_bcc":{"type":"string","format":"email","nullable":true},"forward_inbound":{"type":"boolean"},"webhook_url":{"type":"string","format":"uri","nullable":true},"oversight_webhook_url":{"type":"string","format":"uri","nullable":true},"signature_block":{"type":"string","maxLength":200,"nullable":true}}},"Mailbox":{"type":"object","properties":{"id":{"type":"string"},"tenant_id":{"type":"string"},"address":{"type":"string"},"display_name":{"type":"string","nullable":true},"oversight_mode":{"type":"string"},"auto_cc":{"type":"string","nullable":true},"auto_bcc":{"type":"string","nullable":true},"forward_inbound":{"type":"integer"},"webhook_url":{"type":"string","nullable":true},"oversight_webhook_url":{"type":"string","nullable":true},"signature_block":{"type":"string","nullable":true},"created_at":{"type":"integer","description":"Epoch ms"},"is_active":{"type":"integer"}}},"SendEmailRequest":{"type":"object","required":["to","subject","markdown"],"properties":{"to":{"type":"array","items":{"type":"string","format":"email"},"maxItems":50},"cc":{"type":"array","items":{"type":"string","format":"email"}},"bcc":{"type":"array","items":{"type":"string","format":"email"}},"subject":{"type":"string","maxLength":998},"markdown":{"type":"string","maxLength":262144,"description":"Email body in markdown. Converted to HTML."},"attachments":{"type":"array","items":{"type":"object","required":["name","content_base64","content_type"],"properties":{"name":{"type":"string"},"content_base64":{"type":"string"},"content_type":{"type":"string"}}}},"idempotency_key":{"type":"string","description":"Dedup key (24h TTL). If resent within TTL, returns the original email ID."},"send_at":{"type":"string","description":"Schedule delivery for a future time. ISO 8601 UTC (must end with Z). Example: 2026-03-15T14:00:00Z"},"gate_timing":{"type":"string","enum":["gate_first","schedule_first"],"description":"Override mailbox default: gate_first approves before scheduling, schedule_first schedules then approves on delivery"}}},"ReplyRequest":{"type":"object","required":["markdown"],"properties":{"markdown":{"type":"string","maxLength":262144},"cc":{"type":"array","items":{"type":"string","format":"email"}},"bcc":{"type":"array","items":{"type":"string","format":"email"}},"attachments":{"type":"array","items":{"type":"object","required":["name","content_base64","content_type"],"properties":{"name":{"type":"string"},"content_base64":{"type":"string"},"content_type":{"type":"string"}}}},"idempotency_key":{"type":"string","description":"Dedup key (24h TTL)"}}},"EmailListResponse":{"type":"object","properties":{"emails":{"type":"array","items":{"$ref":"#/components/schemas/EmailSummary"}},"cursor":{"type":"string","nullable":true}}},"EmailSummary":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"direction":{"type":"string","enum":["inbound","outbound"]},"status":{"type":"string","enum":["unread","read","archived","deleted","pending_send_approval","pending_inbound_approval","rejected","cancelled","send_failed","scheduled","spam_flagged","spam_quarantined"]},"spam_score":{"type":"integer","nullable":true},"spam_verdict":{"type":"string","enum":["clean","flagged","quarantined"],"nullable":true},"received_at":{"type":"string","format":"date-time"},"thread_id":{"type":"string","nullable":true},"has_attachments":{"type":"boolean"},"delivered_at":{"type":"string","format":"date-time","nullable":true},"bounced_at":{"type":"string","format":"date-time","nullable":true},"bounce_type":{"type":"string","nullable":true}}},"EmailResponse":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"cc":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"received_at":{"type":"string","format":"date-time"},"thread_id":{"type":"string","nullable":true},"markdown":{"type":"string"},"status":{"type":"string","enum":["unread","read","archived","deleted","pending_send_approval","pending_inbound_approval","rejected","cancelled","send_failed","scheduled","spam_flagged","spam_quarantined"]},"has_attachments":{"type":"boolean"},"attachments":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"size":{"type":"integer"},"content_type":{"type":"string"}}}},"delivered_at":{"type":"string","format":"date-time","nullable":true},"bounced_at":{"type":"string","format":"date-time","nullable":true},"bounce_type":{"type":"string","nullable":true},"approved_at":{"type":"string","format":"date-time","nullable":true},"approved_by":{"type":"string","nullable":true},"spam_score":{"type":"integer","nullable":true},"spam_verdict":{"type":"string","enum":["clean","flagged","quarantined"],"nullable":true},"tags":{"type":"object","additionalProperties":{"type":"string"}}}},"ThreadResponse":{"type":"object","properties":{"thread_id":{"type":"string"},"message_count":{"type":"integer"},"participants":{"type":"array","items":{"type":"string"}},"last_activity":{"type":"string","format":"date-time"},"has_unanswered_inbound":{"type":"boolean"},"emails":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"from":{"type":"string"},"to":{"type":"array","items":{"type":"string"}},"subject":{"type":"string"},"direction":{"type":"string","enum":["inbound","outbound"]},"status":{"type":"string"},"received_at":{"type":"string","format":"date-time"},"has_attachments":{"type":"boolean"},"delivered_at":{"type":"string","format":"date-time","nullable":true},"bounced_at":{"type":"string","format":"date-time","nullable":true}}}}}},"Contact":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"tags":{"type":"array","items":{"type":"string"}},"created_at":{"type":"integer","description":"Epoch ms"}}},"WebhookSubscription":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"events":{"type":"array","items":{"type":"string"}},"mailbox_id":{"type":"string","nullable":true},"signing_secret":{"type":"string","description":"HMAC signing secret (whsec_...)"},"created_at":{"type":"string","format":"date-time"}}},"ApiKeyInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"prefix":{"type":"string","description":"Key prefix (e.g. mm_live_abc...)"},"scopes":{"type":"array","items":{"type":"string","enum":["read","send","admin","oversight"]}},"created_at":{"type":"string","format":"date-time"},"last_used_at":{"type":"string","format":"date-time","nullable":true},"is_active":{"type":"boolean"}}},"AccountInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"plan":{"type":"string","enum":["starter","builder","pro","scale"]},"oversight_email":{"type":"string","format":"email"},"physical_address":{"type":"string","nullable":true},"monthly_email_quota":{"type":"integer"},"emails_sent_this_month":{"type":"integer"},"max_mailboxes":{"type":"integer"},"storage_used_bytes":{"type":"integer"},"max_storage_bytes":{"type":"integer"},"is_active":{"type":"boolean"},"sending_disabled":{"type":"boolean"},"sending_disabled_reason":{"type":"string","nullable":true}}},"UsageSummary":{"type":"object","properties":{"from":{"type":"integer","description":"Start time (epoch ms)"},"to":{"type":"integer","description":"End time (epoch ms)"},"emails_sent":{"type":"integer"},"emails_received":{"type":"integer"},"api_calls":{"type":"integer"},"oversight_actions":{"type":"integer"}}},"UsageDaily":{"type":"object","properties":{"from":{"type":"integer"},"to":{"type":"integer"},"breakdown":{"type":"string","enum":["daily"]},"data":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"event_type":{"type":"string"},"count":{"type":"integer"}}}}}},"Domain":{"type":"object","properties":{"id":{"type":"string"},"domain":{"type":"string"},"status":{"type":"string","enum":["pending","active"]},"dkim_verified":{"type":"boolean"},"spf_verified":{"type":"boolean"},"mx_verified":{"type":"boolean"},"return_path_verified":{"type":"boolean"},"dns_records":{"type":"object","nullable":true},"created_at":{"type":"string","format":"date-time"},"verified_at":{"type":"string","format":"date-time","nullable":true}}},"DomainVerifyResult":{"type":"object","properties":{"id":{"type":"string"},"domain":{"type":"string"},"status":{"type":"string","enum":["pending","active"]},"dkim_verified":{"type":"boolean"},"spf_verified":{"type":"boolean"},"mx_verified":{"type":"boolean"},"return_path_verified":{"type":"boolean"},"verified_at":{"type":"string","format":"date-time","nullable":true}}},"AuditEntry":{"type":"object","properties":{"id":{"type":"string"},"action":{"type":"string"},"resource_type":{"type":"string"},"resource_id":{"type":"string"},"actor_key_id":{"type":"string"},"metadata":{"type":"object","nullable":true},"created_at":{"type":"string","format":"date-time"}}},"Error":{"type":"object","properties":{"error":{"type":"string"}}}}}}