openapi: 3.0.3
info:
  description: Documentation for the Rippling Platform API.
  title: Rippling Platform API
  version: 1.0.0
servers:
- url: https://rest.ripplingapis.com
  description: Production Rippling API endpoint.
- url: https://rest.ripplingpreviewapis.com
  description: Preview Rippling API endpoint.
paths:
  /break-types/:
    get:
      operationId: list-break-types
      tags:
      - Break Types
      summary: List break types
      description: "A list of break types.\n - Requires: `API Tier 2`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - break-types.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BreakType'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: break_types.list
        mcp: true
  /break-types/{id}/:
    get:
      tags:
      - Break Types
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - break-types.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/BreakType'
      operationId: get-break-types
      summary: Retrieve a specific break type
      description: Retrieve a specific break type
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: break_types.retrieve
        mcp: true
  /business-partners/:
    get:
      operationId: list-business-partners
      tags:
      - Business Partners
      summary: List business partners
      description: "A list of business partners.\n - Requires: `API Tier 1`\n - Filterable\
        \ fields: `worker_id`, `business_partner_group_id`\n - Expandable fields:\
        \ `business_partner_group`, `worker`, `client_group`\n - Sortable fields:\
        \ `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - business_partner_group
      - worker
      - client_group
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partners.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessPartner'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-rippling-filterable-fields:
      - worker_id
      - business_partner_group_id
      x-stainless-method:
        path: business_partners.list
        mcp: true
    post:
      tags:
      - Business Partners
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partners.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/BusinessPartner'
      operationId: create-business-partners
      summary: Create a new business partner
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessPartnerRequest'
      description: Create a new business partner
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: business_partners.create
        mcp: false
  /business-partners/{id}/:
    get:
      tags:
      - Business Partners
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partners.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/BusinessPartner'
      operationId: get-business-partners
      summary: Retrieve a specific business partner
      description: Retrieve a specific business partner
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - business_partner_group
      - worker
      - client_group
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: business_partners.retrieve
        mcp: true
    delete:
      tags:
      - Business Partners
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partners.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-business-partners
      summary: Delete a business partner
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: business_partners.delete
        mcp: false
  /business-partner-groups/:
    get:
      operationId: list-business-partner-groups
      tags:
      - Business Partners
      summary: List business partner groups
      description: "A list of business partner groups.\n - Requires: `API Tier 1`\n\
        \ - Expandable fields: `default_business_partner`\n - Sortable fields: `id`,\
        \ `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - default_business_partner
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partner-groups.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/BusinessPartnerGroup'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: business_partner_groups.list
        mcp: true
    post:
      tags:
      - Business Partners
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partner-groups.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/BusinessPartnerGroup'
      operationId: create-business-partner-groups
      summary: Create a new business partner group
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessPartnerGroupRequest'
      description: Create a new business partner group
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: business_partner_groups.create
        mcp: false
  /business-partner-groups/{id}/:
    get:
      tags:
      - Business Partners
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partner-groups.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/BusinessPartnerGroup'
      operationId: get-business-partner-groups
      summary: Retrieve a specific business partner group
      description: Retrieve a specific business partner group
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - default_business_partner
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: business_partner_groups.retrieve
        mcp: true
    delete:
      tags:
      - Business Partners
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - business-partner-groups.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-business-partner-groups
      summary: Delete a business partner group
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: business_partner_groups.delete
        mcp: false
  /candidates/:
    get:
      operationId: list-candidates
      tags:
      - Candidates
      summary: List candidates
      description: "A list of candidates.\n - Requires: `API Tier 2`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - candidates.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candidate'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: candidates.list
        mcp: true
  /candidate-applications/:
    get:
      operationId: list-candidate-applications
      tags:
      - Candidate Applications
      summary: List candidate applications
      description: "A list of candidate applications.\n - Requires: `API Tier 2`\n\
        \ - Expandable fields: `job`\n - Sortable fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - job
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - candidate-applications.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: candidate_applications.list
        mcp: true
  /companies/:
    get:
      operationId: list-companies
      tags:
      - Companies
      summary: List companies
      description: "A list of companies.\n - Requires: `API Tier 1`\n - Expandable\
        \ fields: `parent_legal_entity`, `legal_entities`\n - Sortable fields: `id`,\
        \ `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - parent_legal_entity
      - legal_entities
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - companies.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: companies.list
        mcp: true
  /company-legal-entities/:
    get:
      operationId: list-company-legal-entities
      tags:
      - Legal entities
      summary: List company legal entities
      description: "A list of company legal entities.\n - Requires: `API Tier 2`\n\
        \ - Filterable fields: `country_code`\n - Sortable fields: `id`, `created_at`,\
        \ `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - company-legal-entities.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyLegalEntity'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - country_code
      x-stainless-method:
        path: company_legal_entities.list
        mcp: true
  /company-legal-entities/{id}/:
    get:
      tags:
      - Legal entities
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - company-legal-entities.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/CompanyLegalEntity'
      operationId: get-company-legal-entities
      summary: Retrieve a specific company legal entity
      description: Retrieve a specific company legal entity
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: company_legal_entities.retrieve
        mcp: true
  /company-legal-entity-workers/:
    get:
      operationId: list-company-legal-entity-workers
      tags:
      - Workers
      summary: List company-legal-entity-workers
      description: "A list of company-legal-entity-workers.\n - Requires: `API Tier\
        \ 2`\n - Filterable fields: `status`, `company_entity_id`\n - Sortable fields:\
        \ `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - company-legal-entity-workers.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyLegalEntityWorker'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - status
      - company_entity_id
      x-stainless-method:
        path: company_legal_entity_workers.list
        mcp: true
  /company-legal-entity-workers/{id}/:
    get:
      tags:
      - Workers
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - company-legal-entity-workers.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/CompanyLegalEntityWorker'
      operationId: get-company-legal-entity-workers
      summary: Retrieve a specific company-legal-entity-worker
      description: Retrieve a specific company-legal-entity-worker
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: company_legal_entity_workers.retrieve
        mcp: true
  /compensations/:
    get:
      operationId: list-compensations
      tags:
      - Compensations
      summary: List compensations
      description: "A list of compensations.\n - Requires: `API Tier 2`\n - Expandable\
        \ fields: `worker`\n - Sortable fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - worker
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - compensations.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Compensation'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: compensations.list
        mcp: true
  /compensations/{id}/:
    get:
      tags:
      - Compensations
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - compensations.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/Compensation'
      operationId: get-compensations
      summary: Retrieve a specific compensation
      description: Retrieves the Compensation for the Worker with the ID provided
        in the URL path.
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - worker
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: compensations.retrieve
        mcp: true
  /compensation-bands-details/:
    get:
      operationId: list-compensation-bands-details
      tags:
      - Compensation bands details
      summary: List compensation bands details
      description: "A list of compensation bands details.\n - Requires: `API Tier\
        \ 2`\n - Filterable fields: `created_at`, `updated_at`, `internal_job_code`,\
        \ `worker_id`\n - Expandable fields: `worker`\n - Sortable fields: `id`, `created_at`,\
        \ `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - worker
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - compensation-bands-details.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompensationBandsDetails'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - created_at
      - updated_at
      - internal_job_code
      - worker_id
      x-stainless-method:
        path: compensation_bands_details.list
        mcp: true
  /compensation-bands-details/{id}/:
    get:
      tags:
      - Compensation bands details
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - compensation-bands-details.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/CompensationBandsDetails'
      operationId: get-compensation-bands-details
      summary: Retrieve a specific compensation bands detail
      description: Retrieve a specific compensation bands detail
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - worker
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: compensation_bands_details.retrieve
        mcp: true
  /custom-apps/:
    get:
      operationId: list-custom-apps
      tags:
      - CustomApp
      summary: List CustomApp
      description: "A list of CustomApp.\n - Requires: `Custom Apps Platform API`"
      parameters: []
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields: []
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-apps.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomApp'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_apps.list
        mcp: true
    post:
      tags:
      - CustomApp
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-apps.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomApp'
      operationId: create-custom-apps
      summary: Create a new CustomApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomAppRequest'
      description: Create a new CustomApp
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_apps.create
        mcp: false
  /custom-apps/{id}/:
    get:
      tags:
      - CustomApp
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-apps.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/CustomApp'
      operationId: get-custom-apps
      summary: Retrieve a specific CustomApp
      description: Retrieve a specific CustomApp
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_apps.retrieve
        mcp: true
    patch:
      tags:
      - CustomApp
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-apps.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomApp'
      operationId: update-custom-apps
      summary: Update a CustomApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomAppRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific CustomApp.
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_apps.update
        mcp: false
    delete:
      tags:
      - CustomApp
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-apps.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-custom-apps
      summary: Delete a CustomApp
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_apps.delete
        mcp: false
  /custom-fields/:
    get:
      operationId: list-custom-fields
      tags:
      - Custom Fields
      summary: List custom fields
      description: "A list of custom fields.\n - Requires: `API Tier 1`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-fields.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomField'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: custom_fields.list
        mcp: true
  /custom-objects/:
    get:
      operationId: list-custom-objects
      tags:
      - Custom Objects
      summary: List custom objects
      description: "A list of custom objects.\n - Requires: `API Tier 1`"
      parameters: []
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-objects.read
        - custom-objects.read-write
        - custom-objects.read-write.owner
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomObject'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: custom_objects.list
        mcp: true
    post:
      tags:
      - Custom Objects
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-objects.read-write.owner
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomObject'
      operationId: create-custom-objects
      summary: Create a new custom object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
              - properties:
                  name:
                    type: string
                    description: The name of the custom object.
                  description:
                    type: string
                    description: A description of the custom object.
                  category:
                    type: string
                    description: The category that this custom object belongs to.
      description: Create a new custom object.
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: custom_objects.create
        mcp: false
  /custom-objects/{custom_object_api_name}/:
    get:
      tags:
      - Custom Objects
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-objects.read
        - custom-objects.read-write
        - custom-objects.read-write.owner
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomObject'
      operationId: get-custom-objects
      summary: Retrieve a specific custom object
      description: Retrieve a specific custom object.
      parameters:
      - name: custom_object_api_name
        in: path
        required: true
        description: The API name of the custom object.
        schema:
          type: string
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: custom_objects.retrieve
        mcp: true
    patch:
      tags:
      - Custom Objects
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-objects.read-write
        - custom-objects.read-write.owner
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomObject'
      operationId: update-custom-objects
      summary: Update a custom object
      requestBody:
        content:
          application/json:
            schema:
              type: object
              allOf:
              - properties:
                  name:
                    type: string
                    description: The name of the custom object.
                  description:
                    type: string
                    description: A description of the custom object.
                  category:
                    type: string
                    description: The category that this custom object belongs to.
                  plural_label:
                    type: string
                    description: The plural label for the custom object.
                  owner_role:
                    type: string
                    description: The role that owns this custom object.
      parameters:
      - name: custom_object_api_name
        in: path
        required: true
        description: The API name of the custom object.
        schema:
          type: string
      description: Update a specific custom object.
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: custom_objects.update
        mcp: false
    delete:
      tags:
      - Custom Objects
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-objects.read-write
        - custom-objects.read-write.owner
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-custom-objects
      description: Delete a custom object.
      summary: Delete a custom object
      parameters:
      - name: custom_object_api_name
        in: path
        required: true
        description: The API name of the custom object.
        schema:
          type: string
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: custom_objects.delete
        mcp: false
  /custom-pages/:
    get:
      operationId: list-custom-pages
      tags:
      - CustomPage
      summary: List CustomPage
      description: "A list of CustomPage.\n - Requires: `Custom Apps Platform API`"
      parameters: []
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields: []
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-pages.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomPage'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_pages.list
        mcp: true
    post:
      tags:
      - CustomPage
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-pages.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomPage'
      operationId: create-custom-pages
      summary: Create a new CustomPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPageRequest'
      description: Create a new CustomPage
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_pages.create
        mcp: false
  /custom-pages/{id}/:
    get:
      tags:
      - CustomPage
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-pages.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/CustomPage'
      operationId: get-custom-pages
      summary: Retrieve a specific CustomPage
      description: Retrieve a specific CustomPage
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_pages.retrieve
        mcp: true
    patch:
      tags:
      - CustomPage
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-pages.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CustomPage'
      operationId: update-custom-pages
      summary: Update a CustomPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomPageRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific CustomPage.
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_pages.update
        mcp: false
    delete:
      tags:
      - CustomPage
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-pages.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-custom-pages
      summary: Delete a CustomPage
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - Custom_Apps_Platform_API
      x-deprecated-description:
      - Custom_Apps_Platform_API
      x-stainless-method:
        path: custom_pages.delete
        mcp: false
  /custom-settings/:
    get:
      operationId: list-custom-settings
      tags:
      - Setting
      summary: List Setting
      description: "A list of Setting.\n - Requires: `Functions API`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-settings.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Setting'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - Functions_API
      x-rippling-entitlements:
      - Functions_API
      x-stainless-method:
        path: custom_settings.list
        mcp: true
    post:
      tags:
      - Setting
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-settings.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Setting'
      operationId: create-custom-settings
      summary: Create a new Setting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingRequest'
      description: Create a new Setting
      x-rippling-entitlements:
      - Functions_API
      x-deprecated-description:
      - Functions_API
      x-stainless-method:
        path: custom_settings.create
        mcp: false
  /custom-settings/{id}/:
    get:
      tags:
      - Setting
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-settings.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/Setting'
      operationId: get-custom-settings
      summary: Retrieve a specific Setting
      description: Retrieve a specific Setting
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - Functions_API
      x-deprecated-description:
      - Functions_API
      x-stainless-method:
        path: custom_settings.retrieve
        mcp: true
    patch:
      tags:
      - Setting
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-settings.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Setting'
      operationId: update-custom-settings
      summary: Update a Setting
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SettingRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific Setting.
      x-rippling-entitlements:
      - Functions_API
      x-deprecated-description:
      - Functions_API
      x-stainless-method:
        path: custom_settings.update
        mcp: false
    delete:
      tags:
      - Setting
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - custom-settings.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-custom-settings
      summary: Delete a Setting
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - Functions_API
      x-deprecated-description:
      - Functions_API
      x-stainless-method:
        path: custom_settings.delete
        mcp: false
  /departments/:
    get:
      operationId: list-departments
      tags:
      - Departments
      summary: List departments
      description: "A list of departments.\n - Requires: `API Tier 1`\n - Expandable\
        \ fields: `parent`, `department_hierarchy`\n - Sortable fields: `id`, `created_at`,\
        \ `updated_at`"
      parameters:
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - parent
      - department_hierarchy
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - departments.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: departments.list
        mcp: true
    post:
      tags:
      - Departments
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - departments.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Department'
      operationId: create-departments
      summary: Create a new department
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentRequest'
      description: Create a new department
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: departments.create
        mcp: false
  /departments/{id}/:
    get:
      tags:
      - Departments
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - departments.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/Department'
      operationId: get-departments
      summary: Retrieve a specific department
      description: Retrieve a specific department
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - parent
      - department_hierarchy
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: departments.retrieve
        mcp: true
    patch:
      tags:
      - Departments
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - departments.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Department'
      operationId: update-departments
      summary: Update a department
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific department.
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: departments.update
        mcp: false
  /draft-hires/:
    post:
      tags:
      - Draft Hires
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - draft-hires.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/CreateBulkDraftHireResponse'
      operationId: create-draft-hires
      summary: Create bulk draft hire
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDraftHireRequest'
      description: Create bulk draft hire
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: draft_hires.create
        mcp: false
  /earning-types/:
    get:
      operationId: list-earning-types
      tags:
      - Earning Types
      summary: List earning-types
      description: "A list of earning-types.\n - Requires: `Global Payroll`"
      parameters: []
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields: []
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - earning-types.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EarningType'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - Global_Payroll
      x-rippling-entitlements:
      - Global_Payroll
      x-stainless-method:
        path: earning_types.list
        mcp: true
  /earnings-inputs/:
    get:
      operationId: list-earnings-inputs
      tags:
      - Earnings Inputs
      summary: List earnings-inputs
      description: "A list of earnings-inputs.\n - Requires: `Global Payroll`"
      parameters: []
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields: []
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - earnings-inputs.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EarningsInput'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - Global_Payroll
      x-rippling-entitlements:
      - Global_Payroll
      x-stainless-method:
        path: earnings_inputs.list
        mcp: true
    post:
      tags:
      - Earnings Inputs
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - earnings-inputs.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/EarningsInput'
      operationId: create-earnings-inputs
      summary: Create a new earnings-input
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarningsInputRequest'
      description: Create a new earnings-input
      x-rippling-entitlements:
      - Global_Payroll
      x-deprecated-description:
      - Global_Payroll
      x-stainless-method:
        path: earnings_inputs.create
        mcp: false
  /earnings-inputs/{id}/:
    delete:
      tags:
      - Earnings Inputs
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - earnings-inputs.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-earnings-inputs
      summary: Delete a earnings-input
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - Global_Payroll
      x-deprecated-description:
      - Global_Payroll
      x-stainless-method:
        path: earnings_inputs.delete
        mcp: false
  /employment-types/:
    get:
      operationId: list-employment-types
      tags:
      - Employment Types
      summary: List employment types
      description: "A list of employment types.\n - Requires: `API Tier 1`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - employment-types.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyEmploymentType'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: employment_types.list
        mcp: true
  /employment-types/{id}/:
    get:
      tags:
      - Employment Types
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - employment-types.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/CompanyEmploymentType'
      operationId: get-employment-types
      summary: Retrieve a specific employment type
      description: Retrieve a specific employment type
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: employment_types.retrieve
        mcp: true
  /entitlements/:
    get:
      operationId: list-entitlements
      tags:
      - Entitlements
      summary: List entitlements
      description: "A list of entitlements.\n - Requires: `API Tier 1`"
      parameters: []
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields: []
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - entitlements.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/EntitlementModel'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: entitlements.list
        mcp: true
  /files/{id}/:
    get:
      tags:
      - File Upload
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - files.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/FileDocumentDTO'
      operationId: get-files
      summary: Retrieve a specific file
      description: Retrieve a specific file
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - File_Upload_API
      x-deprecated-description:
      - File_Upload_API
      x-stainless-method:
        path: files.retrieve
        mcp: true
  /files/:
    post:
      tags:
      - File Upload
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - files.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/FileDocumentDTO'
      operationId: create-files
      summary: Create a new file
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileDocumentDTORequest'
      description: Create a new file
      x-rippling-entitlements:
      - File_Upload_API
      x-deprecated-description:
      - File_Upload_API
      x-stainless-method:
        path: files.create
        mcp: false
  /functions/:
    get:
      operationId: list-functions
      tags:
      - Functions
      summary: List functions
      description: "A list of functions.\n - Requires: `API Tier 2`\n - Sortable fields:\
        \ `id`, `created_at`, `updated_at`"
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      parameters:
      - $ref: '#/components/parameters/order_by'
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - functions.read
        - functions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Function'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: functions.list
        mcp: true
    post:
      tags:
      - Functions
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - functions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Function'
      operationId: create-functions
      summary: Create a new function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionRequest'
      description: Create a new function.
      parameters: []
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: functions.create
        mcp: false
  /functions/{function_api_name}/:
    get:
      tags:
      - Functions
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - functions.read
        - functions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Function'
      operationId: get-functions
      summary: Retrieve a specific function
      description: Retrieve a specific function.
      parameters:
      - name: function_api_name
        in: path
        required: true
        description: The API name of the function.
        schema:
          type: string
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: functions.retrieve
        mcp: true
    patch:
      tags:
      - Functions
      security:
      - BearerTokenProduction: []
      - OAuth2Production: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/Function'
      operationId: update-functions
      summary: Update a function
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionUpdateRequest'
      parameters:
      - name: function_api_name
        in: path
        required: true
        description: The API name of the function.
        schema:
          type: string
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: functions.update
        mcp: false
  /functions/{function_api_name}/executions/:
    get:
      operationId: list-functions/(function-api-name)/executions
      tags:
      - Functions
      summary: List function executions
      description: "A list of function executions.\n - Requires: `API Tier 2`\n -\
        \ Sortable fields: `id`, `created_at`, `updated_at`"
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      parameters:
      - name: function_api_name
        in: path
        required: true
        description: The API name of the function.
        schema:
          type: string
      - $ref: '#/components/parameters/order_by'
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - function-executions.read
        - function-executions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/FunctionExecution'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: functions.executions.list
        mcp: true
    post:
      tags:
      - Functions
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - function-executions.read-write
        - function-executions.write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/FunctionExecution'
      operationId: create-functions/(function-api-name)/executions
      summary: Create a new function execution
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionExecutionRequest'
      description: Create a new function execution.
      parameters:
      - name: function_api_name
        in: path
        required: true
        description: The API name of the function.
        schema:
          type: string
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: functions.executions.create
        mcp: false
  /functions/{function_api_name}/executions/{execution_id}/:
    get:
      tags:
      - Functions
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - function-executions.read
        - function-executions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/FunctionExecution'
      operationId: get-functions/(function-api-name)/executions
      summary: Retrieve a specific function execution
      description: Retrieve a specific function execution.
      parameters:
      - name: function_api_name
        in: path
        required: true
        description: The API name of the function.
        schema:
          type: string
      - name: execution_id
        in: path
        required: true
        description: The unique identifier of the execution.
        schema:
          type: string
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: functions.executions.retrieve
        mcp: true
  /headcount-positions/:
    get:
      operationId: list-headcount-positions
      tags:
      - Headcount Position
      summary: List headcount positions
      description: "A list of headcount positions.\n - Requires: `API Tier 2`\n -\
        \ Filterable fields: `created_at`, `position_id`, `position_type`, `position_sub_type`,\
        \ `department_id`, `work_location_id`, `level_id`, `teams_id`, `job_requisition_id`,\
        \ `recruiter_id`, `headcount_owner_id`, `worker_id`, `backfill_for_id`, `employment_type_id`,\
        \ `in_budget`, `target_start_date`, `current_start_date`, `job_function_id`,\
        \ `priority_id`\n - Expandable fields: `department`, `work_location`, `level`,\
        \ `teams`, `job_requisition`, `recruiter`, `headcount_owner`, `worker`, `backfill_for`,\
        \ `employment_type`, `priority`, `job_function`, `location_factor`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`, `position_id`, `position_type`,\
        \ `position_sub_type`, `department_id`, `work_location_id`, `level_id`, `job_requisition_id`,\
        \ `recruiter_id`, `headcount_owner_id`, `worker_id`, `backfill_for_id`, `employment_type_id`,\
        \ `in_budget`, `target_start_date`, `current_start_date`, `priority_id`, `job_function_id`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - department
      - work_location
      - level
      - teams
      - job_requisition
      - recruiter
      - headcount_owner
      - worker
      - backfill_for
      - employment_type
      - priority
      - job_function
      - location_factor
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      - position_id
      - position_type
      - position_sub_type
      - department_id
      - work_location_id
      - level_id
      - job_requisition_id
      - recruiter_id
      - headcount_owner_id
      - worker_id
      - backfill_for_id
      - employment_type_id
      - in_budget
      - target_start_date
      - current_start_date
      - priority_id
      - job_function_id
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - headcount-positions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/HeadcountPosition'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - created_at
      - position_id
      - position_type
      - position_sub_type
      - department_id
      - work_location_id
      - level_id
      - teams_id
      - job_requisition_id
      - recruiter_id
      - headcount_owner_id
      - worker_id
      - backfill_for_id
      - employment_type_id
      - in_budget
      - target_start_date
      - current_start_date
      - job_function_id
      - priority_id
      x-stainless-method:
        path: headcount_positions.list
        mcp: true
  /headcount-positions/{id}/:
    get:
      tags:
      - Headcount Position
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - headcount-positions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/HeadcountPosition'
      operationId: get-headcount-positions
      summary: Retrieve a specific headcount position
      description: Retrieve a specific headcount position
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - department
      - work_location
      - level
      - teams
      - job_requisition
      - recruiter
      - headcount_owner
      - worker
      - backfill_for
      - employment_type
      - priority
      - job_function
      - location_factor
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: headcount_positions.retrieve
        mcp: true
  /headcount-priorities/:
    get:
      operationId: list-headcount-priorities
      tags:
      - Headcount Priority
      summary: List headcount priorities
      description: "A list of headcount priorities.\n - Requires: `API Tier 2`\n -\
        \ Sortable fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - headcount-priorities.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/HeadcountPriority'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: headcount_priorities.list
        mcp: true
  /headcount-priorities/{id}/:
    get:
      tags:
      - Headcount Priority
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - headcount-priorities.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/HeadcountPriority'
      operationId: get-headcount-priorities
      summary: Retrieve a specific headcount priority
      description: Retrieve a specific headcount priority
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: headcount_priorities.retrieve
        mcp: true
  /job-assignments/:
    get:
      operationId: list-job-assignments
      tags:
      - Job
      summary: List job assignments
      description: "A list of job assignments.\n - Requires: `API Tier 2`\n - Filterable\
        \ fields: `worker_id`, `job_code_id`\n - Expandable fields: `worker`, `job_code`,\
        \ `job_pay_rate_exceptions`\n - Sortable fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - worker
      - job_code
      - job_pay_rate_exceptions
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-assignments.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobAssignment'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - worker_id
      - job_code_id
      x-stainless-method:
        path: job_assignments.list
        mcp: true
    post:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-assignments.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobAssignment'
      operationId: create-job-assignments
      summary: Create a new job assignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobAssignmentRequest'
      description: Create a new job assignment
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_assignments.create
        mcp: false
  /job-assignments/{id}/:
    get:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-assignments.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/JobAssignment'
      operationId: get-job-assignments
      summary: Retrieve a specific job assignment
      description: Retrieve a specific job assignment
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - worker
      - job_code
      - job_pay_rate_exceptions
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_assignments.retrieve
        mcp: true
    patch:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-assignments.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobAssignment'
      operationId: update-job-assignments
      summary: Update a job assignment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobAssignmentRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific job assignment.
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_assignments.update
        mcp: false
    delete:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-assignments.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-job-assignments
      summary: Delete a job assignment
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_assignments.delete
        mcp: false
  /job-codes/:
    get:
      operationId: list-job-codes
      tags:
      - Job
      summary: List job codes
      description: "A list of job codes.\n - Requires: `API Tier 2`\n - Filterable\
        \ fields: `job_dimension_id`, `group_id`\n - Expandable fields: `job_dimension`,\
        \ `work_location`, `department`, `pay_rate_exceptions`\n - Sortable fields:\
        \ `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - job_dimension
      - work_location
      - department
      - pay_rate_exceptions
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-codes.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobCode'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - job_dimension_id
      - group_id
      x-stainless-method:
        path: job_codes.list
        mcp: true
    post:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-codes.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobCode'
      operationId: create-job-codes
      summary: Create a new job code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCodeRequest'
      description: Create a new job code
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_codes.create
        mcp: false
  /job-codes/{id}/:
    get:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-codes.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/JobCode'
      operationId: get-job-codes
      summary: Retrieve a specific job code
      description: Retrieve a specific job code
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - job_dimension
      - work_location
      - department
      - pay_rate_exceptions
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_codes.retrieve
        mcp: true
    patch:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-codes.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobCode'
      operationId: update-job-codes
      summary: Update a job code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCodeRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific job code.
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_codes.update
        mcp: false
    delete:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-codes.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-job-codes
      summary: Delete a job code
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_codes.delete
        mcp: false
  /job-dimensions/:
    get:
      operationId: list-job-dimensions
      tags:
      - Job
      summary: List job dimensions
      description: "A list of job dimensions.\n - Requires: `API Tier 2`\n - Filterable\
        \ fields: `name`\n - Sortable fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-dimensions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobDimension'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - name
      x-stainless-method:
        path: job_dimensions.list
        mcp: true
    post:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-dimensions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobDimension'
      operationId: create-job-dimensions
      summary: Create a new job dimension
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDimensionRequest'
      description: Create a new job dimension
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_dimensions.create
        mcp: false
  /job-dimensions/{id}/:
    get:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-dimensions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/JobDimension'
      operationId: get-job-dimensions
      summary: Retrieve a specific job dimension
      description: Retrieve a specific job dimension
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_dimensions.retrieve
        mcp: true
    patch:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-dimensions.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobDimension'
      operationId: update-job-dimensions
      summary: Update a job dimension
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobDimensionRequest'
      parameters:
      - $ref: '#/components/parameters/patch_id'
      description: Update a specific job dimension.
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_dimensions.update
        mcp: false
    delete:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-dimensions.read-write
      responses:
        '204':
          description: The resource was deleted successfully
      operationId: delete-job-dimensions
      summary: Delete a job dimension
      parameters:
      - $ref: '#/components/parameters/delete_id'
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_dimensions.delete
        mcp: false
  /job-functions/:
    get:
      operationId: list-job-functions
      tags:
      - Job Functions
      summary: List job functions
      description: "A list of job functions.\n - Requires: `API Tier 1`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-functions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobFunction'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_1
      x-rippling-entitlements:
      - API_Tier_1
      x-stainless-method:
        path: job_functions.list
        mcp: true
  /job-functions/{id}/:
    get:
      tags:
      - Job Functions
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-functions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/JobFunction'
      operationId: get-job-functions
      summary: Retrieve a specific job function
      description: Retrieve a specific job function
      parameters:
      - $ref: '#/components/parameters/get_id'
      x-rippling-expandable-fields: []
      x-rippling-entitlements:
      - API_Tier_1
      x-deprecated-description:
      - API_Tier_1
      x-stainless-method:
        path: job_functions.retrieve
        mcp: true
  /job-pay-rate-exceptions/:
    get:
      operationId: list-job-pay-rate-exceptions
      tags:
      - Job
      summary: List job pay rate exceptions
      description: "A list of job pay rate exceptions.\n - Requires: `API Tier 2`\n\
        \ - Filterable fields: `job_code_id`\n - Expandable fields: `job_code`\n -\
        \ Sortable fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/expand'
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields:
      - job_code
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-pay-rate-exceptions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobPayRateException'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-rippling-filterable-fields:
      - job_code_id
      x-stainless-method:
        path: job_pay_rate_exceptions.list
        mcp: true
  /job-pay-rate-exceptions/{id}/:
    get:
      tags:
      - Job
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-pay-rate-exceptions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/MetaResponse'
                - $ref: '#/components/schemas/JobPayRateException'
      operationId: get-job-pay-rate-exceptions
      summary: Retrieve a specific job pay rate exception
      description: Retrieve a specific job pay rate exception
      parameters:
      - $ref: '#/components/parameters/get_id'
      - $ref: '#/components/parameters/expand'
      x-rippling-expandable-fields:
      - job_code
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_pay_rate_exceptions.retrieve
        mcp: true
  /job-requisitions/:
    get:
      operationId: list-job-requisitions
      tags:
      - Job Requisitions
      summary: List job requisitions
      description: "A list of job requisitions.\n - Requires: `API Tier 2`\n - Sortable\
        \ fields: `id`, `created_at`, `updated_at`"
      parameters:
      - $ref: '#/components/parameters/order_by'
      - $ref: '#/components/parameters/cursor'
      x-rippling-expandable-fields: []
      x-rippling-sortable-fields:
      - id
      - created_at
      - updated_at
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-requisitions.read
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  __meta:
                    $ref: '#/components/schemas/RedactedFields'
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/JobRequisition'
                  next_link:
                    type: string
                    format: uri
                    description: A link to the next page of responses.
      x-deprecated-description:
      - API_Tier_2
      x-rippling-entitlements:
      - API_Tier_2
      x-stainless-method:
        path: job_requisitions.list
        mcp: true
  /job-requisitions-write/:
    post:
      tags:
      - Job Requisitions
      security:
      - BearerTokenProduction: []
      - OAuth2Production:
        - job-requisitions-write.read-write
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                allOf:
                - $ref: '#/components/schemas/JobRequisitionBaseResourceDTO'
      operationId: create-job-requisitions-write
      summary: Create a new job requisition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobRequisitionBaseResourceDTORequest'
      description: Create a new job requisition
      x-rippling-entitlements:
      - API_Tier_2
      x-deprecated-description:
      - API_Tier_2
      x-stainless-method:
        path: job_requisitions_write.create
        mcp: false
  /kiosk-badges/:
    get:
      operationId: list-kiosk-badges
      tags:
      - Kiosk badge
      summary: List kiosk badges
      description: "A list of kiosk badges.\n - Requires: `API Tier 2`\n - Filterable\
        \ fields: `badge_id`\n - Expandable fields: `worker`\n - Sortable fields:\
        \ `id`, `created_at`, `updated_at`"
      parameters:
[...]
