{
  "swagger": "2.0",
  "info": {
    "description": "The API described in this document is subject to change.\n",
    "version": "1.21.2",
    "title": "WP Engine Hosting Platform API",
    "termsOfService": "https://wpengine.com/legal/terms-of-service/"
  },
  "host": "api.wpengineapi.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/status": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "The status of the WP Engine Hosting Platform API",
        "description": "# Description\nThis endpoint will report the system status and any outages that might be occurring.\n",
        "operationId": "status",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Status of API",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/status",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/swagger": {
      "get": {
        "tags": [
          "Swagger"
        ],
        "summary": "The current swagger specification",
        "description": "# Description\nThis will output the current swagger specification\n",
        "operationId": "swagger",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Current swagger specification"
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/swagger",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "passthroughBehavior": "when_no_match",
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp"
          },
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "List your WP Engine accounts",
        "description": "# Description\nUse this to list your WP Engine accounts.\n",
        "operationId": "listAccounts",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of WP Engine accounts",
            "schema": {
              "type": "object",
              "properties": {
                "previous": {
                  "$ref": "#/definitions/PreviousPage"
                },
                "next": {
                  "$ref": "#/definitions/NextPage"
                },
                "count": {
                  "$ref": "#/definitions/ResultsCount"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Account"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.querystring.offset": "method.request.querystring.offset",
            "integration.request.querystring.limit": "method.request.querystring.limit"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get an account by ID",
        "description": "Returns a single Account",
        "operationId": "getAccount",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Account"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "401": {
              "statusCode": "401"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/limits": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Fetch account usage limits",
        "description": "Fetch account limits such as visitors, storage (GB) and bandwidth (GB) to compare against your current usage.",
        "operationId": "getAccountsLimits",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountLimits"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/limits",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/usage": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get account usage metrics",
        "description": "Get usage metrics for all environments in an account.\nIf the optional `first_date` and `last_date` arguments are omitted, the response will include metrics for the last 30 days.\n",
        "operationId": "getAccountUsageMetrics",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "name": "first_date",
            "in": "query",
            "description": "The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.",
            "required": false,
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          {
            "name": "last_date",
            "in": "query",
            "description": "The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.",
            "required": false,
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of environments to return. A maximum of 1000 environments can be requested per page",
            "required": false,
            "type": "integer",
            "default": 100,
            "maximum": 1000
          },
          {
            "name": "offset",
            "in": "query",
            "description": "String-encoded offset for pagination. The next_page_token from the response can be used to paginate accordingly.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/AccountUsageMetricsResponse"
            }
          },
          "400": {
            "description": "Bad Request. The request was improperly formatted or contained invalid parameters.",
            "schema": {
              "$ref": "#/definitions/UsageErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not Found. The requested account id does not exist.",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/usage",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.querystring.first_date": "method.request.querystring.first_date",
            "integration.request.querystring.last_date": "method.request.querystring.last_date",
            "integration.request.querystring.limit": "method.request.querystring.limit",
            "integration.request.querystring.offset": "method.request.querystring.offset"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/usage/refresh_disk_usage": {
      "post": {
        "summary": "Refresh Disk Usage for all installs associated with account",
        "description": "Triggers an asynchronous job to recalculate the disk usage of installs associated with a specific account.\n\nThis endpoint initiates the refresh process and returns immediately with a success status. **It does not return the updated usage data.**\n\nTo check the status of the job and view the new data once it's available, you must poll the `GET /accounts/{account_id}/usage` endpoint. A successful request will populate the `account_storage_refresh_expected_time` attribute in that endpoint's response, indicating when the data is expected to be fresh.\n\nMultiple requests for the same environment will result in a single recalculation.\n",
        "tags": [
          "Usage"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "The unique identifier (UUID) of the account.",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "$ref": "#/parameters/authorization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The disk usage refresh has been successfully initiated. The response body for this request is always `null`."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not Authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not Found. The account with the specified UUID could not be found.",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          },
          "default": {
            "description": "An unexpected error occurred.",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/usage/refresh_disk_usage",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/account_users": {
      "get": {
        "tags": [
          "Account User"
        ],
        "summary": "List your account users",
        "description": "",
        "operationId": "listAccountUsers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          }
        ],
        "responses": {
          "200": {
            "description": "List of account users",
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/AccountUser"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "Account User"
        ],
        "summary": "Create a new account user",
        "description": "",
        "operationId": "createAccountUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "in": "body",
            "name": "body",
            "description": "##### Properties\n* user - **required** - The user that will be created\n  * account_id - **required** - The ID of the account that the account_user will belong to\n  * first_name - **required** - The first name of the user\n  * last_name - **required** - The last name of the user\n  * email - **required** - The email of the user\n  * roles -- **required** - The roles the user is allowed. The following roles are valid\n    * owner\n    * full\n    * full,billing\n    * partial\n    * partial,billing\n  * install_ids - **optional** - Used with partial role selection. The ids of the installs the user will have access to.\n",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "user"
              ],
              "properties": {
                "user": {
                  "type": "object",
                  "description": "The user that will be created",
                  "required": [
                    "account_id",
                    "first_name",
                    "last_name",
                    "email",
                    "roles"
                  ],
                  "properties": {
                    "account_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9",
                      "description": "The account ID"
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Joe"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Smith"
                    },
                    "email": {
                      "type": "string",
                      "example": "joe@gmail.com"
                    },
                    "roles": {
                      "type": "string",
                      "example": "full,billing",
                      "description": "choose from 'owner', 'full,billing', 'full', 'partial,billing', and 'partial'"
                    },
                    "install_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "ddda3227-9a39-46ae-9e14-20958bb4e6c9",
                        "qada3227-9a39-46ae-9e14-20958bb4e45y"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Your change was successful."
                },
                "account_user": {
                  "$ref": "#/definitions/AccountUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users",
          "responses": {
            "201": {
              "statusCode": "201"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/account_users/{user_id}": {
      "get": {
        "tags": [
          "Account User"
        ],
        "summary": "Get an account user by ID",
        "description": "Returns a single account user",
        "operationId": "getAccountUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "name": "user_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of the user",
            "required": true,
            "type": "string",
            "x-example": "a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountUser"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users/{user_id}",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.path.user_id": "method.request.path.user_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "patch": {
        "tags": [
          "Account User"
        ],
        "summary": "Update an account user",
        "description": "",
        "operationId": "updateAccountUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "name": "user_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of the user",
            "required": true,
            "type": "string",
            "x-example": "a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"
          },
          {
            "in": "body",
            "name": "body",
            "description": "##### Properties\n* roles -- **required** - The roles the user is allowed. The following roles are valid\n  * owner\n  * full\n  * full,billing\n  * partial\n  * partial,billing\n* install_ids - **optional** - Used with partial role selection. The ids of the installs the user will have access to.\n",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "roles"
              ],
              "properties": {
                "roles": {
                  "type": "string",
                  "example": "full,billing",
                  "description": "choose from 'owner', 'full,billing', 'full', 'partial,billing', and 'partial'"
                },
                "install_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "ddda3227-9a39-46ae-9e14-20958bb4e6c9",
                    "qada3227-9a39-46ae-9e14-20958bb4e45y"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Your change was successful."
                },
                "account_user": {
                  "$ref": "#/definitions/AccountUser"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users/{user_id}",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.path.user_id": "method.request.path.user_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PATCH",
          "type": "http"
        }
      },
      "delete": {
        "tags": [
          "Account User"
        ],
        "summary": "Delete an account user",
        "description": "This will remove the association this user has to this account. This delete is permanent and there is no confirmation prompt.",
        "operationId": "deleteAccountUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "name": "user_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of the user",
            "required": true,
            "type": "string",
            "x-example": "a1b2c3d4-e5f6-41b2-b3d4-e5f6a1b2c3d4"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/account_users/{user_id}",
          "responses": {
            "204": {
              "statusCode": "204"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.path.user_id": "method.request.path.user_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "DELETE",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/usage/summary": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get account level usage summary",
        "description": "Get the usage summary over a time period for the specificied account. The default response is a summary of the\nlast 30 days. The optional `first_date` and `last_date` arguments can be specified to retrieve a summary over\na custom date range. Both arguments must be provided and the range cannot exceed 31 days.",
        "operationId": "getAccountUsageSummary",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "name": "first_date",
            "in": "query",
            "description": "The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.",
            "required": false,
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          {
            "name": "last_date",
            "in": "query",
            "description": "The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.",
            "required": false,
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UsageMetricsRollup"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/usage/summary",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.querystring.first_date": "method.request.querystring.first_date",
            "integration.request.querystring.last_date": "method.request.querystring.last_date"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/usage/insights": {
      "get": {
        "tags": [
          "Usage"
        ],
        "summary": "Get account usage insights",
        "description": "Get detailed usage insights for the specified account across different environment types and site types.\nThe default response is a summary of the last 30 days. The optional `first_date` and `last_date` arguments\ncan be specified to retrieve insights over a custom date range. Both arguments must be provided and the\nrange cannot exceed 31 days.",
        "operationId": "getAccountUsageInsights",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "name": "first_date",
            "in": "query",
            "description": "The start date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`. Cannot be older than 13 months.\nIf `first_date` is provided, `last_date` must also be provided.",
            "required": false,
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          },
          {
            "name": "last_date",
            "in": "query",
            "description": "The end date for the requested metrics range (inclusive).\nFormat: `YYYY-mm-dd`.\nIf `last_date` is provided, `first_date` must also be provided.",
            "required": false,
            "type": "string",
            "format": "date",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AccountUsageInsights"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/usage/insights",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.querystring.first_date": "method.request.querystring.first_date",
            "integration.request.querystring.last_date": "method.request.querystring.last_date"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/accounts/{account_id}/site_transfers": {
      "get": {
        "tags": [
          "Site Transfer"
        ],
        "summary": "List site transfers for an account",
        "description": "# Description\nReturns a paginated list of site transfers initiated from the given account.\nRequires Owner or Full with Billing access.\n\n> **Note:** This endpoint represents the state of Sites at time of transfer,\n> not necessarily the current Site name or environments.\n",
        "operationId": "listAccountSiteTransfers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "ID of account",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          }
        ],
        "responses": {
          "200": {
            "description": "List of site transfers for the account",
            "schema": {
              "type": "object",
              "properties": {
                "previous": {
                  "$ref": "#/definitions/PreviousPage"
                },
                "next": {
                  "$ref": "#/definitions/NextPage"
                },
                "count": {
                  "$ref": "#/definitions/ResultsCount"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SiteTransfer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/accounts/{account_id}/site_transfers",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.account_id": "method.request.path.account_id",
            "integration.request.querystring.limit": "method.request.querystring.limit",
            "integration.request.querystring.offset": "method.request.querystring.offset"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/site_reports": {
      "get": {
        "tags": [
          "Site Reports"
        ],
        "summary": "List site reports",
        "description": "Returns a list of generated site reports for a particular site.",
        "operationId": "getSiteReports",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "Filter reports by site ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteReportList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.querystring.site_id": "method.request.querystring.site_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/site_reports/sections": {
      "get": {
        "tags": [
          "Site Reports"
        ],
        "summary": "List report sections",
        "description": "Returns the available sections for a site report",
        "operationId": "getSiteReportsSections",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteReportSection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports/sections",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/site_reports/schedules": {
      "get": {
        "tags": [
          "Site Reports"
        ],
        "summary": "List report schedules",
        "description": "# Description\nReports can be scheduled to run monthly, weekly, or every two weeks. This endpoint returns all active report schedules for a given site, allowing you to manage and monitor when reports are generated automatically.\n\nFor monthly scheduling, set the Unit to MONTHLY and set the Frequency Value to the day of the month (1-31) when you want the report to run. For example, Unit = MONTHLY and Frequency Value = 15 will run the report on the 15th of every month. If you set a report to run on the 29th, 30th, or 31st and that date doesn't exist in a given month, the report will run on the last day of that month. For instance, designating the 31st will result in the report running on February 28th (or 29th in leap years).\n\nFor weekly or bi-weekly scheduling, set the Unit to DAYS and then set the Frequency Value to 7 for weekly reports or 14 for reports to run every two weeks. The day of the week is determined by the next_scheduled_date value. For example, if the next_scheduled_date is a Tuesday and the Frequency Value is 7, then the report will run each week on Tuesday.\n",
        "operationId": "getSiteReportsSchedules",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "site_id",
            "in": "query",
            "description": "Filter schedules by site ID",
            "required": true,
            "type": "string",
            "format": "uuid",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SiteReportScheduleList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports/schedules",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.querystring.site_id": "method.request.querystring.site_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      },
      "post": {
        "tags": [
          "Site Reports"
        ],
        "summary": "Create a report schedule",
        "description": "# Description\nCreates a scheduled report for a site.\n\nReports can be scheduled to run monthly, weekly or every two weeks.\nTo run a report on a monthly basis, set the Unit to MONTHLY and set the Frequency Value to the day of the month you want the report to be run every month.  For example, Unit = MONTHLY and Frequency Value = 15 will run the report on the 15th of every month.  Note:  if you set a report to run on the 29th, 30th or 31st of the month and that date doesn't occur in the given month, the report will run on the last day of the month.  For example, if you designate the 31st of the month, the report will run on the last day of February.\nYou can run reports on a weekly or every two week basis by setting the Unit to DAYS and then setting the Frequency Value to 7 for weekly reports or 14 for reports to run every two weeks.  The day of the week is determined by the next_scheduled_date value.  For example, if the next_scheduled_date value is a Tuesday and the Frequency Value is 7, then the report will run each week on Tuesday.\n",
        "operationId": "createSiteReportSchedule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "site_id",
                "title",
                "recipients"
              ],
              "properties": {
                "site_id": {
                  "type": "string",
                  "format": "uuid",
                  "description": "ID of the site to schedule reports for",
                  "example": "00000000-0000-0000-0000-000000000000"
                },
                "title": {
                  "type": "string",
                  "description": "Title for the scheduled report",
                  "example": "Monthly Site Performance Report"
                },
                "next_scheduled_date": {
                  "type": "string",
                  "description": "ISO 8601 datetime for the first report generation",
                  "example": "2025-02-01T00:00:00.000Z"
                },
                "template_uuid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID of the report template to use",
                  "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "frequency": {
                  "type": "object",
                  "description": "Report generation frequency. For DAYS, set value to 7 (weekly) or 14 (biweekly). For MONTHLY, set value to the day of the month (1-31).\n",
                  "required": [
                    "unit",
                    "value"
                  ],
                  "properties": {
                    "value": {
                      "type": "integer",
                      "description": "Frequency value. For DAYS, value is 7 or 14. For MONTHLY, value is the day of the month (1-31).",
                      "example": 7
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "DAYS",
                        "MONTHLY"
                      ],
                      "description": "Frequency unit. 'DAYS' for weekly or biweekly reports, 'MONTHLY' for monthly reports.",
                      "example": "DAYS"
                    }
                  }
                },
                "recipients": {
                  "type": "array",
                  "description": "List of recipients for the scheduled report",
                  "items": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "John Doe"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "john@example.com"
                      }
                    }
                  }
                },
                "sections": {
                  "type": "array",
                  "description": "Sections to include in the report. Valid section names depend on the template\n(e.g. `cover`, `overview`, `usage`, `themes`). Use `GET /site_reports/templates`\nto discover available sections for a given template.\n",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "cover"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created.\n\nNote: the response contains only a confirmation message. To retrieve the\ncreated schedule and its UUID, use the site reports schedules listing endpoint.\n",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Schedule created successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports/schedules",
          "responses": {
            "201": {
              "statusCode": "201"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "POST",
          "type": "http"
        }
      }
    },
    "/site_reports/templates": {
      "get": {
        "tags": [
          "Site Reports"
        ],
        "summary": "List report templates",
        "description": "# Description\nReturns a list of report templates available for Site Reports.\n\nTemplates define the structure, branding, and sections included in generated reports.\n",
        "operationId": "listSiteReportTemplates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "account_id",
            "in": "query",
            "format": "uuid",
            "description": "Account ID to filter templates. This parameter is required.",
            "required": true,
            "type": "string",
            "x-example": "eeda3227-9a39-46ae-9e14-20958bb4e6c9"
          }
        ],
        "responses": {
          "200": {
            "description": "List of report templates",
            "schema": {
              "type": "object",
              "properties": {
                "templates": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Template"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports/templates",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.querystring.account_id": "method.request.querystring.account_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "GET",
          "type": "http"
        }
      }
    },
    "/site_reports/schedules/{schedule_id}": {
      "delete": {
        "tags": [
          "Site Reports"
        ],
        "summary": "Delete a report schedule",
        "description": "# Description\nDeletes a report schedule by its ID.\n",
        "operationId": "deleteSiteReportSchedule",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "schedule_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of the schedule to delete",
            "required": true,
            "type": "string",
            "x-example": "123e4567-e89b-12d3-a456-426614174000"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports/schedules/{schedule_id}",
          "responses": {
            "204": {
              "statusCode": "204"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.schedule_id": "method.request.path.schedule_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "DELETE",
          "type": "http"
        }
      },
      "patch": {
        "tags": [
          "Site Reports"
        ],
        "summary": "Update a report schedule",
        "description": "# Description\nUpdates an existing report schedule.\n\nReports can be scheduled to run monthly, weekly or every two weeks.\n\nTo run a report on a monthly basis, set the Unit to MONTHLY and set the Frequency Value to the day of the month you want the report to be run every month.  For example, Unit = MONTHLY and Frequency Value = 15 will run the report on the 15th of every month.  Note:  if you set a report to run on the 29th, 30th or 31st of the month and that date doesn't occur in the given month, the report will run on the last day of the month.  For example, if you designate the 31st of the month, the report will run on the last day of February.\n\nYou can run reports on a weekly or every two week basis by setting the Unit to DAYS and then setting the Frequency Value to 7 for weekly reports or 14 for reports to run every two weeks.  The day of the week is determined by the next_scheduled_date value.  For example, if the next_scheduled_date value is a Tuesday and the Frequency Value is 7, then the report will run each week on Tuesday.\n",
        "operationId": "updateSiteReportSchedule",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "name": "schedule_id",
            "in": "path",
            "format": "uuid",
            "description": "ID of the schedule to update",
            "required": true,
            "type": "string",
            "x-example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "Title for the scheduled report",
                  "example": "Monthly Site Performance Report"
                },
                "next_scheduled_date": {
                  "type": "string",
                  "description": "ISO 8601 datetime for the next report generation",
                  "example": "2025-02-01T00:00:00.000Z"
                },
                "template_uuid": {
                  "type": "string",
                  "format": "uuid",
                  "description": "UUID of the report template to use",
                  "example": "123e4567-e89b-12d3-a456-426614174000"
                },
                "frequency": {
                  "type": "object",
                  "description": "Report generation frequency. For DAYS, set value to 7 (weekly) or 14 (biweekly). For MONTHLY, set value to the day of the month (1-31).\n",
                  "required": [
                    "unit",
                    "value"
                  ],
                  "properties": {
                    "value": {
                      "type": "integer",
                      "description": "Frequency value. For DAYS, value is 7 or 14. For MONTHLY, value is the day of the month (1-31).",
                      "example": 7
                    },
                    "unit": {
                      "type": "string",
                      "enum": [
                        "DAYS",
                        "MONTHLY"
                      ],
                      "description": "Frequency unit. 'DAYS' for weekly or biweekly reports, 'MONTHLY' for monthly reports.",
                      "example": "DAYS"
                    }
                  }
                },
                "recipients": {
                  "type": "array",
                  "description": "List of recipients for the report",
                  "items": {
                    "type": "object",
                    "required": [
                      "email"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jane Doe"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "example": "jane@example.com"
                      }
                    }
                  }
                },
                "sections": {
                  "type": "array",
                  "description": "Sections to include in the report. Valid section names depend on the template\n(e.g. `cover`, `overview`, `usage`, `themes`). Use `GET /site_reports/templates`\nto discover available sections for a given template.\n",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "cover"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "example": "Schedule updated successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "403": {
            "description": "Not authorized",
            "schema": {
              "$ref": "#/definitions/ForbiddenErrorResponse"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/NotFoundErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerErrorResponse"
            }
          },
          "502": {
            "description": "BadGateway",
            "schema": {
              "$ref": "#/definitions/BadGatewayOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/site_reports/schedules/{schedule_id}",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "403": {
              "statusCode": "403"
            },
            "404": {
              "statusCode": "404"
            },
            "429": {
              "statusCode": "429"
            },
            "500": {
              "statusCode": "500"
            },
            "502": {
              "statusCode": "502"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.path.schedule_id": "method.request.path.schedule_id"
          },
          "passthroughBehavior": "when_no_match",
          "httpMethod": "PATCH",
          "type": "http"
        }
      }
    },
    "/sites": {
      "get": {
        "tags": [
          "Site"
        ],
        "summary": "List your sites",
        "description": "",
        "operationId": "listSites",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/authorization"
          },
          {
            "$ref": "#/parameters/limitParam"
          },
          {
            "$ref": "#/parameters/offsetParam"
          },
          {
            "$ref": "#/parameters/account_id"
          }
        ],
        "responses": {
          "200": {
            "description": "List of sites",
            "schema": {
              "type": "object",
              "properties": {
                "previous": {
                  "$ref": "#/definitions/PreviousPage"
                },
                "next": {
                  "$ref": "#/definitions/NextPage"
                },
                "count": {
                  "$ref": "#/definitions/ResultsCount"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Site"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/BadRequestErrorResponse"
            }
          },
          "401": {
            "description": "Authentication Error",
            "schema": {
              "$ref": "#/definitions/AuthenticationErrorResponse"
            }
          },
          "429": {
            "description": "TooManyRequests",
            "schema": {
              "$ref": "#/definitions/TooManyRequestsOperation"
            }
          },
          "503": {
            "description": "ServiceUnavailable",
            "schema": {
              "$ref": "#/definitions/ServiceUnavailableOperation"
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "x-amazon-apigateway-integration": {
          "uri": "https://my.wpengine.com/capi/v1/sites",
          "responses": {
            "200": {
              "statusCode": "200"
            },
            "400": {
              "statusCode": "400"
            },
            "401": {
              "statusCode": "401"
            },
            "429": {
              "statusCode": "429"
            },
            "503": {
              "statusCode": "503"
            },
            "default": {
              "statusCode": "500"
            }
          },
          "requestParameters": {
            "integration.request.header.X-Request-ID": "context.requestId",
            "integration.request.header.sourceIp": "context.identity.sourceIp",
            "integration.request.header.authorization": "method.request.header.Authorization",
            "integration.request.querystring.offset": "method.request.querystring.offset",
            "integration.request.querystring.limit": "method.request.querystring.limit",
            "integration.request.querystring.account_id": "method.request.querystring.account_id"
          },
[...]
