{
  "openapi": "3.0.3",
  "info": {
    "title": "Valyu API",
    "version": "2.3.0",
    "description": "The search API built for AI agents. One API that gives your AI unified access to web search, academic papers, financial data, SEC filings, clinical trials, patents, genomics, and 40+ proprietary data sources.\n\n## Products\n\n| Product | Endpoint | Description |\n| --- | --- | --- |\n| **Search** | `POST /v1/search` | Multi-source search across web and proprietary datasets |\n| **Contents** | `POST /v1/contents` | Extract clean, structured content from URLs |\n| **Answer** | `POST /v1/answer` | AI-powered answers with real-time search |\n| **DeepResearch** | `POST /v1/deepresearch/tasks` | Async research agents for comprehensive analysis |\n| **Workflows** (Beta) | `GET /v1/workflows` | Templated, versioned DeepResearch for repeatable knowledge work |\n| **Datasources** | `GET /v1/datasources` | Discover available data sources and their schemas |\n\n## Authentication\n\nAll endpoints require an API key passed via the `X-API-Key` header (the lowercase `x-api-key` form is also accepted). Get your key at [platform.valyu.ai](https://platform.valyu.ai).\n\n```\nX-API-Key: your_api_key_here\n```\n\n## Pricing\n\nValyu uses transparent, pay-per-use pricing. Credits are shared across every API.\n- **Search**: CPM-based (cost per mille tokens retrieved)\n- **Contents**: $0.001 per URL extracted, +$0.001 with AI features\n- **Answer**: $0.10 per request + variable search and AI costs\n- **DeepResearch**: Fixed per-task pricing by mode ($0.10 - $15.00)\n\nAll plans include web search and open academic sources. A subscription unlocks specialised and proprietary sources (SEC filings, patents, drug discovery, genomics, and more) at a lower cost per credit. See [docs.valyu.ai](https://docs.valyu.ai) for full pricing details.\n\n## SDKs\n\n- [Python SDK](https://pypi.org/project/valyu/) - `pip install valyu`\n- [TypeScript SDK](https://www.npmjs.com/package/valyu) - `npm install valyu`\n",
    "contact": {
      "name": "Valyu Support",
      "url": "https://valyu.ai",
      "email": "support@valyu.ai"
    },
    "x-logo": {
      "url": "https://valyu.ai/logo.png",
      "altText": "Valyu"
    }
  },
  "servers": [
    {
      "url": "https://api.valyu.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Search",
      "description": "Search across web, academic, financial, and proprietary data sources. Returns results ready for RAG pipelines, AI agents, and applications.",
      "externalDocs": {
        "description": "Search API Guide",
        "url": "https://docs.valyu.ai/search/quickstart"
      }
    },
    {
      "name": "Contents",
      "description": "Extract clean, structured content from web pages at scale. Supports batch processing, AI-powered summaries, structured extraction via JSON schemas, and async jobs for large URL sets.",
      "externalDocs": {
        "description": "Contents API Guide",
        "url": "https://docs.valyu.ai/guides/content-extraction"
      }
    },
    {
      "name": "Answer",
      "description": "Get AI-powered answers grounded in real-time search results. The Answer API searches across web, academic, and financial sources, then uses AI to generate a readable response via Server-Sent Events streaming.",
      "externalDocs": {
        "description": "Answer API Guide",
        "url": "https://docs.valyu.ai/guides/answer-api"
      }
    },
    {
      "name": "DeepResearch",
      "description": "Async research agents that perform comprehensive, multi-step research. DeepResearch searches multiple sources, analyzes content, and generates detailed reports with citations. Tasks run in the background and can take minutes to complete.",
      "externalDocs": {
        "description": "DeepResearch Guide",
        "url": "https://docs.valyu.ai/guides/deepresearch"
      }
    },
    {
      "name": "Batches",
      "description": "Run multiple DeepResearch tasks in parallel with shared configuration, unified monitoring, and aggregated cost tracking.",
      "externalDocs": {
        "description": "Batch API Guide",
        "url": "https://docs.valyu.ai/guides/deepresearch-batch-quickstart"
      }
    },
    {
      "name": "Workflows",
      "description": "**Beta.** Templated, versioned DeepResearch for repeatable knowledge work - earnings previews, diligence reads, market sizings. A workflow bundles a prompt template with typed variables, a research strategy, report format, deliverables, tools, and a recommended mode. Workflows are immutably versioned; runs can pin a version. Two scopes exist: your organization's private workflows and curated Valyu workflows available to everyone. Run a workflow by passing `workflow_id` + `workflow_params` to `POST /v1/deepresearch/tasks` - same auth, billing, and task lifecycle as freeform DeepResearch.",
      "externalDocs": {
        "description": "Workflows Guide (Beta)",
        "url": "https://docs.valyu.ai/guides/workflows"
      }
    },
    {
      "name": "Datasources",
      "description": "Discover available data sources and their schemas. A tool manifest for AI agents - instead of hardcoding knowledge of available datasets, agents can query this API to discover sources, filter by category, and use `example_queries` for few-shot prompting.",
      "externalDocs": {
        "description": "Datasources Guide",
        "url": "https://docs.valyu.ai/guides/datasources"
      }
    }
  ],
  "paths": {
    "/v1/search": {
      "post": {
        "operationId": "search",
        "summary": "Search across web and proprietary data sources",
        "description": "Search the web, academic journals, financial databases, and 40+ proprietary data sources. Returns ranked results with extracted content, ready for RAG pipelines and AI agents.\n\nResults are ranked by relevance using semantic reranking (unless `fast_mode` is enabled). You only pay for results returned - pricing is CPM-based (cost per mille tokens).\n\n**Integrating search into an agent?** Consider [DeepResearch](https://docs.valyu.ai/guides/deepresearch) - a cost-effective autonomous agent built on top of this search engine, purpose-built for knowledge work.",
        "tags": [
          "Search"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic web search",
                  "value": {
                    "query": "latest developments in quantum computing",
                    "max_num_results": 5
                  }
                },
                "academic": {
                  "summary": "Academic paper search",
                  "value": {
                    "query": "CRISPR gene editing clinical trials 2024",
                    "search_type": "proprietary",
                    "max_num_results": 10,
                    "included_sources": [
                      "medical"
                    ]
                  }
                },
                "filtered": {
                  "summary": "Source-filtered search with date range",
                  "value": {
                    "query": "climate change impact on agriculture",
                    "included_sources": [
                      "valyu/valyu-arxiv",
                      "valyu/valyu-pubmed",
                      "valyu/valyu-biorxiv"
                    ],
                    "start_date": "2024-01-01",
                    "end_date": "2024-12-31",
                    "max_num_results": 10
                  }
                },
                "fast": {
                  "summary": "Low-latency web search",
                  "value": {
                    "query": "Tesla stock price today",
                    "fast_mode": true,
                    "max_num_results": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search completed successfully with results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Successful search with web and proprietary results",
                    "value": {
                      "success": true,
                      "error": null,
                      "tx_id": "tx_a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "query": "latest developments in quantum computing",
                      "results": [
                        {
                          "id": "https://arxiv.org/abs/2024.12345",
                          "title": "Quantum Computing Breakthrough: New Error Correction Method",
                          "url": "https://arxiv.org/abs/2024.12345",
                          "content": "Researchers at MIT have developed a revolutionary quantum error correction method that reduces qubit errors by 99.9%...",
                          "description": "Major breakthrough in quantum error correction methodology",
                          "source": "web",
                          "price": 0.0015,
                          "length": 15420,
                          "image_url": null,
                          "relevance_score": 0.95,
                          "data_type": "unstructured",
                          "source_type": "website",
                          "publication_date": "2024-06-15"
                        },
                        {
                          "id": "valyu/valyu-arxiv/2401.12345",
                          "title": "Advances in Topological Quantum Computing",
                          "url": "https://arxiv.org/abs/2401.12345",
                          "content": "We present a novel approach to topological quantum error correction...",
                          "description": "Topological approaches to fault-tolerant quantum computation",
                          "source": "valyu/valyu-arxiv",
                          "price": 0.0005,
                          "length": 28000,
                          "image_url": null,
                          "relevance_score": 0.89,
                          "data_type": "unstructured",
                          "source_type": "paper",
                          "publication_date": "2024-01-15",
                          "doi": "10.48550/arXiv.2401.12345",
                          "authors": [
                            "J. Smith",
                            "A. Chen",
                            "M. Kumar"
                          ]
                        }
                      ],
                      "results_by_source": {
                        "web": 3,
                        "proprietary": 2
                      },
                      "total_deduction_dollars": 0.0075,
                      "total_characters": 45230
                    }
                  },
                  "fast_mode": {
                    "summary": "Fast mode search (web only, no reranking)",
                    "value": {
                      "success": true,
                      "error": null,
                      "tx_id": "tx_fast12345-6789-abcd-ef01-234567890abc",
                      "query": "Tesla stock price today",
                      "results": [
                        {
                          "id": "https://fred.stlouisfed.org/series/TSLA",
                          "title": "Tesla, Inc. (TSLA) Stock Price, News, Quote & History",
                          "url": "https://fred.stlouisfed.org/series/TSLA",
                          "content": "Tesla Inc (TSLA) stock price...",
                          "source": "web",
                          "price": 0.0015,
                          "length": 5200,
                          "data_type": "unstructured",
                          "source_type": "website"
                        }
                      ],
                      "results_by_source": {
                        "web": 5
                      },
                      "total_deduction_dollars": 0.0075,
                      "total_characters": 26000
                    }
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial success - some sources failed or no results found, but the request was processed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-pp-resource": "semantic_search"
      }
    },
    "/v1/contents": {
      "post": {
        "operationId": "extractContents",
        "summary": "Extract clean, structured content from URLs",
        "description": "Turn any web page into clean, structured data. Extract content from up to 10 URLs per request with optional AI-powered summaries, structured extraction via JSON schemas, and screenshot capture.\n\n- **Synchronous (default)**: Returns extracted content directly\n- **Async**: Set `async: true` to process in the background and poll a `job_id`\n- **Pay-per-success**: Only charged for URLs that are successfully processed ($0.001/URL, +$0.001 with AI features). Failed URLs are free\n- **Partial / total failure**: A `206` is returned when some URLs fail; a `422` is returned when every URL fails",
        "tags": [
          "Contents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentsRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic content extraction",
                  "value": {
                    "urls": [
                      "https://en.wikipedia.org/wiki/Quantum_computing"
                    ]
                  }
                },
                "With Summary": {
                  "summary": "Extraction with AI summary",
                  "value": {
                    "urls": [
                      "https://arxiv.org/abs/2401.00001"
                    ],
                    "summary": "Summarize the key findings and methodology",
                    "response_length": "medium"
                  }
                },
                "structured": {
                  "summary": "Structured data extraction with JSON schema",
                  "value": {
                    "urls": [
                      "https://example.com/product-page"
                    ],
                    "summary": {
                      "type": "object",
                      "properties": {
                        "product_name": {
                          "type": "string"
                        },
                        "price": {
                          "type": "number"
                        },
                        "features": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "Async Batch": {
                  "summary": "Async batch processing with webhook",
                  "value": {
                    "urls": [
                      "https://example.com/page1",
                      "https://example.com/page2"
                    ],
                    "async": true,
                    "webhook_url": "https://your-app.com/webhooks/valyu"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All URLs processed successfully (synchronous).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                },
                "examples": {
                  "basic": {
                    "summary": "Basic extraction",
                    "value": {
                      "success": true,
                      "error": null,
                      "tx_id": "tx_c1d2e3f4-a5b6-7890-cdef-123456789abc",
                      "urls_requested": 2,
                      "urls_processed": 2,
                      "urls_failed": 0,
                      "results": [
                        {
                          "url": "https://en.wikipedia.org/wiki/Quantum_computing",
                          "status": "success",
                          "title": "Quantum computing - Wikipedia",
                          "content": "# Quantum computing\\n\\nQuantum computing is a type of computation that harnesses quantum mechanical phenomena...",
                          "description": "Quantum computing is a type of computation that harnesses quantum mechanical phenomena.",
                          "source": "web",
                          "price": 0.001,
                          "length": 24500,
                          "data_type": "unstructured",
                          "source_type": "website",
                          "image_url": {
                            "0": "https://upload.wikimedia.org/quantum.png"
                          },
                          "screenshot_url": null
                        }
                      ],
                      "total_cost_dollars": 0.002,
                      "total_characters": 49000
                    }
                  },
                  "structured": {
                    "summary": "Structured data extraction",
                    "value": {
                      "success": true,
                      "error": null,
                      "tx_id": "tx_struct-1234-5678-abcd-ef0123456789",
                      "urls_requested": 1,
                      "urls_processed": 1,
                      "urls_failed": 0,
                      "results": [
                        {
                          "url": "https://example.com/product-page",
                          "status": "success",
                          "title": "Product Page",
                          "content": {
                            "product_name": "Widget Pro",
                            "price": 29.99,
                            "features": [
                              "Feature A",
                              "Feature B"
                            ]
                          },
                          "source": "web",
                          "price": 0.002,
                          "length": 150,
                          "data_type": "structured",
                          "summary_success": true
                        }
                      ],
                      "total_cost_dollars": 0.002,
                      "total_characters": 150
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Async job created. Poll the `poll_url` for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsAsyncResponse"
                },
                "examples": {
                  "example": {
                    "summary": "Async job created",
                    "value": {
                      "success": true,
                      "job_id": "cj_a1b2c3d4e5f6g7h8",
                      "status": "pending",
                      "urls_total": 25,
                      "poll_url": "/contents/jobs/cj_a1b2c3d4e5f6g7h8",
                      "tx_id": "tx_async-1234-5678-abcd-ef0123456789",
                      "webhook_secret": "<REDACTED_CREDENTIAL_EXAMPLE>"
                    }
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial success - some URLs failed processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "description": "All URLs failed to process. No charge is applied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/contents/jobs/{job_id}": {
      "get": {
        "operationId": "getContentsJob",
        "summary": "Poll async content extraction job status",
        "description": "Check the status and retrieve results of an async content extraction job.",
        "tags": [
          "Contents"
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The job ID returned by the async contents request.",
            "example": "cj_a1b2c3d4e5f6g7h8"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status and results (when complete).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentsJobResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/answer": {
      "post": {
        "operationId": "answer",
        "summary": "Get AI-powered answers with real-time search",
        "description": "Searches across web, academic, and financial sources, then uses AI to generate a readable, cited response. Returns results as a **Server-Sent Events (SSE)** stream.\n\nThe AI agent performs multi-round search with up to 2 tool call rounds (3 in `fast_mode`), can decompose queries into sub-queries, and synthesizes findings into a coherent answer.\n\n## SSE Event Types\n\nEvents are sent as `data: {json}\\n\\n` with the following types:\n\n| Event | Description |\n| --- | --- |\n| `search_results` | Search sources found (may occur multiple times) |\n| `content` | Partial answer text chunk (OpenAI-compatible delta format) |\n| `metadata` | Final metadata with costs, token usage, and all search results |\n| `[DONE]` | Stream complete |\n\n## Cost Structure\n\nEach request costs a base of ~$0.10 plus variable search and AI token costs. The `cost` object in the metadata event provides a full breakdown.",
        "tags": [
          "Answer"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic question",
                  "value": {
                    "query": "What are the latest FDA-approved treatments for type 2 diabetes?"
                  }
                },
                "structured": {
                  "summary": "Structured output with JSON schema",
                  "value": {
                    "query": "Compare the top 5 electric vehicles by range and price in 2024",
                    "structured_output": {
                      "type": "object",
                      "properties": {
                        "vehicles": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "range_miles": {
                                "type": "number"
                              },
                              "base_price": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "filtered": {
                  "summary": "Source-filtered with custom instructions",
                  "value": {
                    "query": "SEC enforcement actions against crypto exchanges",
                    "search_type": "proprietary",
                    "included_sources": [
                      "finance"
                    ],
                    "system_instructions": "You are a financial regulatory analyst. Focus on enforcement actions and penalties.",
                    "start_date": "2024-01-01"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SSE stream of search results, answer chunks, and metadata.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "Server-Sent Events stream. Each event has format: `data: {json}\\n\\n`\n\n**search_results event:**\n```json\n{\"search_results\": [{\"title\": \"...\", \"url\": \"...\", \"content\": \"...\", ...}]}\n```\n\n**content event (OpenAI-compatible):**\n```json\n{\"choices\": [{\"delta\": {\"role\": \"assistant\", \"content\": \"text chunk\"}, \"index\": 0}]}\n```\n\n**metadata event:**\n```json\n{\"success\": true, \"tx_id\": \"ai_tx_...\", \"data_type\": \"unstructured\", \"search_results\": [...], \"search_metadata\": {\"tx_ids\": [...], \"number_of_results\": 10, \"total_characters\": 50000}, \"ai_usage\": {\"input_tokens\": 15000, \"output_tokens\": 2000}, \"cost\": {\"total_deduction_dollars\": 0.15, \"search_deduction_dollars\": 0.03, \"ai_deduction_dollars\": 0.10, \"contents_deduction_dollars\": 0.02}}\n```\n\n**done signal:**\n```\ndata: [DONE]\n```"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks": {
      "post": {
        "operationId": "createDeepResearch",
        "summary": "Create a DeepResearch task",
        "description": "Start an async research task that performs comprehensive, multi-step research. The research agent searches multiple sources, analyzes content, executes code, and generates a detailed report with citations.\n\nTasks run in the background and typically take 1-10 minutes depending on the `mode`. Poll the status endpoint or use webhooks to get results.",
        "tags": [
          "DeepResearch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepResearchCreateRequest"
              },
              "examples": {
                "basic": {
                  "summary": "Basic research task",
                  "value": {
                    "query": "Comprehensive analysis of CRISPR gene therapy clinical trials in 2024",
                    "mode": "standard"
                  }
                },
                "advanced": {
                  "summary": "Advanced research with PDF output and file attachments",
                  "value": {
                    "query": "Compare efficacy data across Phase 3 CRISPR trials",
                    "mode": "heavy",
                    "strategy": "Focus on safety profiles, patient outcomes, and regulatory pathways",
                    "output_formats": [
                      "markdown",
                      "pdf"
                    ],
                    "search": {
                      "search_type": "proprietary",
                      "included_sources": [
                        "medical"
                      ],
                      "start_date": "2023-01-01"
                    },
                    "urls": [
                      "https://clinicaltrials.gov/study/NCT12345678"
                    ],
                    "webhook_url": "https://your-app.com/webhooks/deepresearch"
                  }
                },
                "structured": {
                  "summary": "Structured JSON output",
                  "value": {
                    "query": "Top 10 AI companies by funding raised in 2024",
                    "mode": "fast",
                    "output_formats": [
                      {
                        "type": "object",
                        "properties": {
                          "companies": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "funding_millions": {
                                  "type": "number"
                                },
                                "focus_area": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Research task created and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepResearchCreateResponse"
                },
                "examples": {
                  "running": {
                    "summary": "Task started immediately",
                    "value": {
                      "deepresearch_id": "f992a8ab-4c91-4322-905f-190107bd5a5b",
                      "status": "running",
                      "mode": "standard",
                      "created_at": "2024-06-15T10:30:00.000Z",
                      "metadata": {
                        "project": "drug-discovery"
                      },
                      "public": false
                    }
                  },
                  "queued": {
                    "summary": "Task queued (capacity limit)",
                    "value": {
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "queued",
                      "mode": "heavy",
                      "created_at": "2024-06-15T10:30:00.000Z",
                      "public": false,
                      "message": "Task queued. Current position: 3",
                      "webhook_secret": "<REDACTED_CREDENTIAL_EXAMPLE>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks/{id}/status": {
      "get": {
        "operationId": "getDeepResearchStatus",
        "summary": "Get DeepResearch task status and results",
        "description": "Retrieve the current status, progress, and results of a DeepResearch task. Poll this endpoint to track research progress and retrieve the final output.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DeepResearch task ID.",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Task status and results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepResearchStatusResponse"
                },
                "examples": {
                  "running": {
                    "summary": "Task in progress",
                    "value": {
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "running",
                      "query": "Comprehensive analysis of CRISPR gene therapy clinical trials",
                      "mode": "standard",
                      "output_formats": [
                        "markdown",
                        "pdf"
                      ],
                      "created_at": "2024-06-15T10:30:00.000Z",
                      "public": false,
                      "progress": {
                        "current_step": 5,
                        "total_steps": 15
                      }
                    }
                  },
                  "completed": {
                    "summary": "Task completed with output",
                    "value": {
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "completed",
                      "query": "Comprehensive analysis of CRISPR gene therapy clinical trials",
                      "mode": "standard",
                      "output_formats": [
                        "markdown",
                        "pdf"
                      ],
                      "created_at": "2024-06-15T10:30:00.000Z",
                      "completed_at": "2024-06-15T10:42:00.000Z",
                      "public": false,
                      "output_type": "markdown",
                      "output": "# CRISPR Gene Therapy Clinical Trials: A Comprehensive Analysis\\n\\n## Executive Summary\\n\\nThis report analyzes...",
                      "sources": [
                        {
                          "title": "CRISPR Gene Therapy: A Comprehensive Review",
                          "url": "https://pubmed.ncbi.nlm.nih.gov/12345678/",
                          "snippet": "CRISPR-based gene therapy has shown remarkable progress...",
                          "source": "pubmed",
                          "doi": "10.1038/s41586-024-07107-7",
                          "word_count": 8500,
                          "fragment": "#:~:text=CRISPR-based%20gene%20therapy%20has%20shown%20remarkable%20progress"
                        },
                        {
                          "title": "Phase 3 Results: Exa-cel for Sickle Cell Disease",
                          "url": "https://clinicaltrials.gov/study/NCT04208529",
                          "snippet": "The pivotal trial demonstrated...",
                          "source": "web",
                          "word_count": 3200
                        }
                      ],
                      "cost": 0.5,
                      "pdf_url": "https://storage.valyu.ai/pdfs/a1b2c3d4.pdf",
                      "images": [
                        {
                          "image_id": "img_chart001",
                          "image_type": "chart",
                          "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                          "title": "CRISPR Trial Phases Distribution",
                          "image_url": "https://storage.valyu.ai/images/img_chart001.png",
                          "chart_type": "bar",
                          "created_at": "2024-06-15T10:38:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/list": {
      "get": {
        "operationId": "listDeepResearchTasks",
        "summary": "List DeepResearch tasks",
        "description": "Retrieve a list of all DeepResearch tasks for the authenticated API key.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of tasks to return."
          }
        ],
        "responses": {
          "200": {
            "description": "List of DeepResearch tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeepResearchListItem"
                  }
                },
                "examples": {
                  "success": {
                    "summary": "List of research tasks",
                    "value": [
                      {
                        "deepresearch_id": "f992a8ab-4c91-4322-905f-190107bd5a5b",
                        "query": "CRISPR gene therapy clinical trials",
                        "status": "completed",
                        "created_at": "2024-06-15T10:30:00.000Z",
                        "public": false
                      },
                      {
                        "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "query": "Quantum computing market analysis",
                        "status": "running",
                        "created_at": "2024-06-15T11:00:00.000Z",
                        "public": false
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks/{id}/update": {
      "post": {
        "operationId": "updateDeepResearch",
        "summary": "Add a follow-up instruction to a running task",
        "description": "Send a follow-up instruction to a running DeepResearch task. The instruction can only be added before the writing phase begins. Use this to steer the research in a specific direction based on intermediate findings.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DeepResearch task ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepResearchUpdateRequest"
              },
              "examples": {
                "Add Instruction": {
                  "summary": "Add follow-up instruction",
                  "value": {
                    "instruction": "Also compare the safety profiles across all trials"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Instruction added successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepResearchUpdateResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Task updated",
                    "value": {
                      "success": true,
                      "message": "Task updated successfully",
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Task is not in a state that accepts updates (writing phase has started or task is not running).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks/{id}/cancel": {
      "post": {
        "operationId": "cancelDeepResearch",
        "summary": "Cancel a running or queued task",
        "description": "Cancel a DeepResearch task that is currently running or queued. Completed, failed, or already cancelled tasks cannot be cancelled.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DeepResearch task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Task cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepResearchCancelResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Task cancelled",
                    "value": {
                      "success": true,
                      "message": "Task cancelled successfully",
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Task cannot be cancelled (not running or queued).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks/{id}/delete": {
      "delete": {
        "operationId": "deleteDeepResearch",
        "summary": "Delete a completed, failed, or cancelled task",
        "description": "Permanently delete a DeepResearch task and its associated data (output, sources, PDF, images). Running or queued tasks must be cancelled first.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DeepResearch task ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Task deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepResearchDeleteResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Task deleted",
                    "value": {
                      "success": true,
                      "message": "Task deleted successfully",
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Task cannot be deleted (still running or queued).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks/{id}/public": {
      "post": {
        "operationId": "toggleDeepResearchPublic",
        "summary": "Toggle public access for a task",
        "description": "Toggle the public visibility of a DeepResearch task. When set to `true`, the task results become accessible via a public share link without authentication. Only the task owner can modify the public flag.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DeepResearch task ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeepResearchTogglePublicRequest"
              },
              "examples": {
                "Make Public": {
                  "summary": "Make task publicly accessible",
                  "value": {
                    "public": true
                  }
                },
                "Make Private": {
                  "summary": "Make task private",
                  "value": {
                    "public": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Public flag updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeepResearchTogglePublicResponse"
                },
                "examples": {
                  "Made Public": {
                    "summary": "Task made public",
                    "value": {
                      "success": true,
                      "message": "Public flag updated",
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "public": true
                    }
                  },
                  "Made Private": {
                    "summary": "Task made private",
                    "value": {
                      "success": true,
                      "message": "Public flag updated",
                      "deepresearch_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "public": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/tasks/{id}/respond": {
      "post": {
        "operationId": "respondToDeepResearch",
        "summary": "Respond to a HITL checkpoint",
        "description": "Respond to a human-in-the-loop checkpoint. The task must be in `awaiting_input` or `paused` status. Pass the `interaction_id` from the task's `interaction` field along with the response data matching the checkpoint type.",
        "tags": [
          "DeepResearch"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "DeepResearch task ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "interaction_id",
                  "response"
                ],
                "properties": {
                  "interaction_id": {
                    "type": "string",
                    "description": "The interaction_id from the task's interaction field."
                  },
                  "response": {
                    "description": "Response data — shape depends on the checkpoint type (`interaction.type`).",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/HitlPlanningQuestionsResponse"
                      },
                      {
                        "$ref": "#/components/schemas/HitlPlanReviewResponse"
                      },
                      {
                        "$ref": "#/components/schemas/HitlSourceReviewResponse"
                      },
                      {
                        "$ref": "#/components/schemas/HitlOutlineReviewResponse"
                      }
                    ]
                  }
                }
              },
              "examples": {
                "Planning Questions": {
                  "summary": "Answer planning questions",
                  "value": {
                    "interaction_id": "int_abc123",
                    "response": {
                      "answers": [
                        {
                          "question": "What geographic regions?",
                          "answer": "North America and EU"
                        },
                        {
                          "question": "Specific competitors?",
                          "answer": "Tesla, BYD, Rivian"
                        }
                      ]
                    }
                  }
                },
                "Plan Review": {
                  "summary": "Approve research plan",
                  "value": {
                    "interaction_id": "int_abc123",
                    "response": {
                      "approved": true
                    }
                  }
                },
                "Source Review": {
                  "summary": "Filter sources by domain",
                  "value": {
                    "interaction_id": "int_abc123",
                    "response": {
                      "included_domains": [
                        "sec.gov",
                        "plos.org"
                      ],
                      "excluded_domains": [
                        "example.com"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response accepted. Task resumes processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "status": {
                      "type": "string",
                      "description": "`running` if container was still alive, `queued` if task was re-enqueued from paused state.",
                      "enum": [
                        "running",
                        "queued"
                      ],
                      "example": "running"
                    },
                    "deepresearch_id": {
                      "type": "string",
                      "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error in response data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "response.answers must be an array"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Task is not in awaiting_input or paused status, or interaction_id mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Cannot respond to task with status: running. Task must be in 'awaiting_input' or 'paused' status."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/batches": {
      "post": {
        "operationId": "createBatch",
        "summary": "Create a new batch",
        "description": "Create a batch for running multiple DeepResearch tasks with shared configuration. After creation, add tasks with the Add Tasks endpoint. The batch transitions from `open` to `processing` when tasks are added.",
        "tags": [
          "Batches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchRequest"
              },
              "examples": {
                "example": {
                  "summary": "Create a batch for earnings analysis",
                  "value": {
                    "name": "Q4 2024 Earnings Analysis",
                    "mode": "standard",
                    "output_formats": [
                      "markdown",
                      "pdf"
                    ],
                    "search": {
                      "search_type": "proprietary",
                      "included_sources": [
                        "finance"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "examples": {
                  "example": {
                    "summary": "Batch created successfully",
                    "value": {
                      "batch_id": "batch_a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "open",
                      "mode": "standard",
                      "name": "Q4 2024 Earnings Analysis",
                      "output_formats": [
                        "markdown",
                        "pdf"
                      ],
                      "search_params": {
                        "search_type": "proprietary",
                        "included_sources": [
                          "finance"
                        ]
                      },
                      "counts": {
                        "total": 0,
                        "queued": 0,
                        "running": 0,
                        "completed": 0,
                        "failed": 0,
                        "cancelled": 0
                      },
                      "cost": 0,
                      "created_at": "2024-06-15T10:30:00.000Z",
                      "webhook_secret": "<REDACTED_CREDENTIAL_EXAMPLE>"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listBatches",
        "summary": "List all batches",
        "description": "Retrieve all batches for the authenticated API key.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Maximum number of batches to return."
          }
        ],
        "responses": {
          "200": {
            "description": "List of batches.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchResponse"
                  }
                },
                "examples": {
                  "success": {
                    "summary": "List of batches",
                    "value": [
                      {
                        "batch_id": "batch_a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                        "status": "completed",
                        "mode": "standard",
                        "created_at": "2024-06-15T10:30:00.000Z",
                        "counts": {
                          "total": 5,
                          "queued": 0,
                          "running": 0,
                          "completed": 5,
                          "failed": 0,
                          "cancelled": 0
                        },
                        "cost": 2.5
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/batches/{id}": {
      "get": {
        "operationId": "getBatchStatus",
        "summary": "Get batch status",
        "description": "Retrieve the current status, task counts, and aggregated cost of a batch.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Batch ID.",
            "example": "batch_a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          }
        ],
        "responses": {
          "200": {
            "description": "Batch status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Batch status with counts",
                    "value": {
                      "batch_id": "batch_a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "processing",
                      "mode": "standard",
                      "created_at": "2024-06-15T10:30:00.000Z",
                      "counts": {
                        "total": 10,
                        "queued": 2,
                        "running": 3,
                        "completed": 4,
                        "failed": 1,
                        "cancelled": 0
                      },
                      "cost": 2
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/batches/{id}/tasks": {
      "post": {
        "operationId": "addBatchTasks",
        "summary": "Add tasks to a batch",
        "description": "Add up to 100 research tasks to an existing batch. The batch must be in `open` or `processing` status.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Batch ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBatchTasksRequest"
              },
              "examples": {
                "example": {
                  "summary": "Add earnings analysis tasks",
                  "value": {
                    "tasks": [
                      {
                        "query": "Analyze Tesla Q4 2024 earnings and forward guidance",
                        "id": "task-tesla"
                      },
                      {
                        "query": "Analyze Apple Q4 2024 earnings and iPhone sales",
                        "id": "task-apple"
                      },
                      {
                        "query": "Analyze Microsoft Q4 2024 earnings and Azure growth",
                        "id": "task-msft"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Tasks added and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddBatchTasksResponse"
                }
              }
            }
          },
          "400": {
            "description": "Batch is not accepting tasks (not open or processing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "get": {
        "operationId": "listBatchTasks",
        "summary": "List tasks in a batch",
        "description": "Retrieve tasks within a batch with optional status filtering and cursor-based pagination. Use `include_output=true` to get full output, sources, images, and cost for each task. When `include_output` is false (default), returns a lightweight listing with status only.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Batch ID."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "running",
                "completed",
                "failed",
                "cancelled"
              ]
            },
            "description": "Filter tasks by status."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Maximum number of tasks to return."
          },
          {
            "name": "last_key",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            },
            "description": "Pagination cursor. Omit on first request. Pass the `last_key` value from a previous response to fetch the next page."
          },
          {
            "name": "include_output",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "example": true,
            "description": "Include full output, sources, images, and cost for each task. When false (default), returns lightweight task listing with status only."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of batch tasks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchTaskListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/deepresearch/batches/{id}/cancel": {
      "post": {
        "operationId": "cancelBatch",
        "summary": "Cancel a batch",
        "description": "Cancel all queued and running tasks in a batch. The batch must be in `open` or `processing` status.",
        "tags": [
          "Batches"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Batch ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Batch cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelBatchResponse"
                },
                "examples": {
                  "success": {
                    "summary": "Batch cancelled",
                    "value": {
                      "batch_id": "batch_a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "status": "cancelled",
                      "cancelled_count": 3
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Batch cannot be cancelled (not open or processing).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/datasources": {
      "get": {
        "operationId": "listDatasources",
        "summary": "List available data sources",
        "description": "Discover all data sources available through Valyu's search API. Each datasource includes metadata, example queries (optimized for few-shot prompting), pricing information, and response schemas.\n\nUse this endpoint to build dynamic tool manifests for AI agents instead of hardcoding knowledge of available datasets.",
        "tags": [
          "Datasources"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter datasources by category. Use the categories endpoint to discover available categories.",
            "example": "research"
          }
        ],
        "responses": {
          "200": {
            "description": "List of available datasources.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasourcesResponse"
                },
                "examples": {
                  "example": {
                    "summary": "All datasources",
                    "value": {
                      "success": true,
                      "datasources": [
                        {
                          "id": "valyu/valyu-arxiv",
                          "name": "arXiv",
                          "description": "Preprints in physics, mathematics, computer science, quantitative biology, and more.",
                          "category": "research",
                          "topics": [
                            "physics",
                            "mathematics",
                            "computer science"
                          ],
                          "modality": "text",
                          "example_queries": [
                            "CRISPR gene editing mechanisms",
                            "quantum error correction methods"
                          ],
                          "pricing": {
                            "cpm": 0.5
                          },
                          "update_frequency": "daily",
                          "size": "2.5M papers"
                        },
                        {
                          "id": "valyu/valyu-pubmed",
                          "name": "PubMed",
                          "description": "Biomedical literature from MEDLINE, life science journals, and online books.",
                          "category": "healthcare",
                          "topics": [
                            "medicine",
                            "biology",
                            "pharmacology"
                          ],
                          "modality": "text",
                          "example_queries": [
                            "GLP-1 receptor agonists for type 2 diabetes",
                            "CAR-T cell therapy advances"
                          ],
                          "pricing": {
                            "cpm": 0.5
                          },
                          "update_frequency": "daily",
                          "size": "36M citations"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/datasources/categories": {
      "get": {
        "operationId": "listDatasourceCategories",
        "summary": "List datasource categories",
        "description": "Retrieve all available datasource categories. Use these to filter the datasources endpoint.\n\nCategories include: `research`, `healthcare`, `markets`, `company`, `economic`, `predictions`, `transportation`, `legal`, `politics`, `patents`.",
        "tags": [
          "Datasources"
        ],
        "responses": {
          "200": {
            "description": "List of datasource categories.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasourceCategoriesResponse"
                },
                "examples": {
                  "example": {
                    "summary": "All categories",
                    "value": {
                      "success": true,
                      "categories": [
                        {
                          "id": "research",
                          "name": "Research",
                          "description": "Academic papers, preprints, and scholarly articles.",
                          "dataset_count": 8
                        },
                        {
                          "id": "healthcare",
                          "name": "Healthcare",
                          "description": "Medical literature, clinical trials, drug data, and health records.",
                          "dataset_count": 6
                        },
                        {
                          "id": "markets",
                          "name": "Markets",
                          "description": "Stock prices, earnings, SEC filings, and financial data.",
                          "dataset_count": 5
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List workflows (Beta)",
        "description": "**Beta.** List workflows visible to your organization. Includes both your org's private workflows and curated Valyu workflows. Run a workflow by passing its `slug` as `workflow_id` to `POST /v1/deepresearch/tasks`.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "vertical",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by vertical (e.g. `finance`, `life-sciences`).",
            "example": "finance"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "valyu",
                "org",
                "all"
              ],
              "default": "all"
            },
            "description": "Which workflows to return: `valyu` (curated only), `org` (your org only), or `all` (both, default)."
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Free-text search across title, subtitle, and description.",
            "example": "diligence"
          },
          {
            "name": "tags",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated tags to filter by.",
            "example": "earnings,equities"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of workflows to return (max 100)."
          },
          {
            "name": "expand",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of fields to expand. Pass `version` to include the full current version row for each workflow.",
            "example": "version"
          }
        ],
        "responses": {
          "200": {
            "description": "List of workflows.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "operationId": "createWorkflow",
        "summary": "Create an organization workflow (Beta)",
        "description": "**Beta.** Create a private workflow owned by your organization. Subject to your org's workflow quota (default 100). Returns `409 workflow_quota_exceeded` when the quota is reached.",
        "tags": [
          "Workflows"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workflow created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WorkflowBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/WorkflowConflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/workflows/{slug}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get a workflow (Beta)",
        "description": "**Beta.** Retrieve a single workflow with its resolved version. By default returns the current version; pass `version` to fetch a specific one.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workflow slug.",
            "example": "ib-company-profile"
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Version to return. Defaults to the current version.",
            "example": 3
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "patch": {
        "operationId": "updateWorkflow",
        "summary": "Edit a workflow / publish a new version (Beta)",
        "description": "**Beta.** Edit an organization workflow, publishing a new immutable version. A `changelog` is required (`changelog_required` otherwise). Valyu-curated workflows are read-only and return `403 cannot_edit_valyu_workflow`.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workflow slug.",
            "example": "ib-company-profile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New version published.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WorkflowBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/WorkflowForbidden"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "operationId": "deleteWorkflow",
        "summary": "Delete a workflow (Beta)",
        "description": "**Beta.** Soft-delete an organization workflow. Valyu-curated workflows cannot be deleted and return `403 cannot_delete_valyu_workflow`.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workflow slug.",
            "example": "ib-company-profile"
          }
        ],
        "responses": {
          "200": {
            "description": "Workflow deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDeleteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/WorkflowForbidden"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/workflows/{slug}/versions": {
      "get": {
        "operationId": "listWorkflowVersions",
        "summary": "List workflow versions (Beta)",
        "description": "**Beta.** List all immutable versions of a workflow, newest first.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workflow slug.",
            "example": "ib-company-profile"
          }
        ],
        "responses": {
          "200": {
            "description": "List of versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersionListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/workflows/{slug}/versions/{n}": {
      "get": {
        "operationId": "getWorkflowVersion",
        "summary": "Get a specific workflow version (Beta)",
        "description": "**Beta.** Retrieve a workflow resolved at a specific immutable version. Returns the same flat workflow object as `GET /v1/workflows/{slug}?version={n}`.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workflow slug.",
            "example": "ib-company-profile"
          },
          {
            "name": "n",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The version number.",
            "example": 2
          }
        ],
        "responses": {
          "200": {
            "description": "The workflow resolved at the requested version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/v1/workflows/{slug}/preview": {
      "post": {
        "operationId": "previewWorkflow",
        "summary": "Preview a resolved workflow (Beta)",
        "description": "**Beta.** Resolve a workflow's prompt template against supplied `workflow_params` without running it. Returns the resolved prompt, research strategy, report format, deliverables, recommended mode, and tools - exactly what a run would use. Useful for validating parameters before incurring a DeepResearch cost.",
        "tags": [
          "Workflows"
        ],
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The workflow slug.",
            "example": "ib-company-profile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved configuration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowPreviewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/WorkflowBadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/WorkflowNotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Complete API Documentation",
    "url": "https://docs.valyu.ai"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authentication. Get yours at [platform.valyu.ai](https://platform.valyu.ai)."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Standard error response.",
        "required": [
          "success",
          "error"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always `false` for error responses.",
            "example": false
          },
          "error": {
            "type": "string",
            "description": "Human-readable error message describing what went wrong.",
            "example": "Invalid request parameters"
          }
        }
      },
      "SearchRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "additionalProperties": false,
        "description": "Search request parameters.",
        "properties": {
          "query": {
            "type": "string",
            "description": "The search query to execute. Supports natural language queries.",
            "example": "latest developments in quantum computing"
          },
          "max_num_results": {
            "type": "integer",
            "description": "Maximum number of results to return. Higher limits (up to 100) available on request.",
            "default": 5,
            "minimum": 1,
            "maximum": 20,
            "example": 10
          },
          "search_type": {
            "type": "string",
            "description": "Controls which data sources are searched.\n\n- `all` - Web and proprietary sources (default). An LLM router selects the best sources for your query.\n- `web` - Web search only. Best for current events and general topics.\n- `proprietary` - Academic, financial, and premium sources only. Best for research and technical analysis.\n- `news` - News articles only. Best for recent news and current events.",
            "enum": [
              "all",
              "web",
              "proprietary",
              "news"
            ],
            "default": "all",
            "example": "all"
          },
          "max_price": {
            "type": "number",
            "description": "Maximum budget in CPM (cost per mille/thousand tokens). When not set, automatically calculated based on `max_num_results` and `search_type`.",
            "minimum": 0,
            "exclusiveMinimum": true,
            "example": 20
          },
          "relevance_threshold": {
            "type": "number",
            "description": "Minimum relevance score (0.0-1.0) for results after reranking. Results below this threshold are filtered out.",
            "default": 0.5,
            "minimum": 0,
            "maximum": 1,
            "example": 0.5
          },
          "included_sources": {
            "type": "array",
            "description": "Sources to include in the search. Accepts:\n- Domain names or URLs for web filtering (e.g. `\"arxiv.org\"`, `\"https://arxiv.org\"`)\n- Dataset identifiers for proprietary sources (e.g. `\"valyu/valyu-arxiv\"`)\n- Preset names that expand to curated source groups: `\"academic\"`, `\"finance\"`, `\"patent\"`, `\"transportation\"`, `\"politics\"`, `\"legal\"`, `\"health\"`, `\"genomics\"`, `\"chemistry\"`, `\"physics\"`\n- `\"web\"` keyword to explicitly include web search alongside proprietary sources\n- `\"collection:NAME\"` to reference an org-scoped saved source collection\n\nNote: most specialised and proprietary sources require a subscription. All plans include web search and open academic sources (arXiv, PubMed).",
            "items": {
              "type": "string"
            },
            "example": [
              "valyu/valyu-arxiv",
              "valyu/valyu-pubmed"
            ]
          },
          "excluded_sources": {
            "type": "array",
            "description": "Sources to exclude from the search. Same format as `included_sources` except presets are not supported.",
            "items": {
              "type": "string"
            },
            "example": [
              "reddit.com"
            ]
          },
          "source_biases": {
            "type": "object",
            "description": "Bias values for specific sources to influence ranking without hard filtering. Keys are domains (e.g., 'nasa.gov') or URL paths (e.g., 'nih.gov/research'). Values are integers from -5 (strong demotion) to +5 (strong boost). Most specific path match wins.",
            "additionalProperties": {
              "type": "integer",
              "minimum": -5,
              "maximum": 5
            },
            "nullable": true,
            "example": {
              "nasa.gov": 5,
              "noaa.gov": 3,
              "nih.gov": 1,
              "example.com": -4
            }
          },
          "instructions": {
            "type": "string",
            "description": "Natural language instructions to help rank results by relevance to user intent. Acts as a system prompt for the search. Max 500 characters. Ignored when fast_mode is true.",
            "maxLength": 500,
            "example": "Focus on oncology clinical trials from 2023 onwards"
          },
          "category": {
            "type": "string",
            "deprecated": true,
            "description": "**Deprecated.** Use `instructions` instead. Falls back to this value if `instructions` is not set.",
            "maxLength": 500
          },
          "is_tool_call": {
            "type": "boolean",
            "description": "Indicates whether this request originates from an AI tool call. Affects query rewriting behavior.",
            "default": true
          },
          "response_length": {
            "description": "Controls the maximum character length of content per result.\n\n- `\"short\"` - 25,000 characters (default)\n- `\"medium\"` - 50,000 characters\n- `\"large\"` - 100,000 characters\n- `\"max\"` - No limit\n- Any positive integer for a custom character limit",
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "short",
                  "medium",
                  "large",
                  "max"
                ]
              },
              {
                "type": "integer",
                "minimum": 1
              }
            ],
            "default": "short",
            "example": "short"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Filter results published on or after this date. Format: `YYYY-MM-DD`. If set without `end_date`, defaults to today.",
            "example": "2024-01-01"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "Filter results published on or before this date. Format: `YYYY-MM-DD`. If set without `start_date`, defaults to `1900-01-01`.",
            "example": "2024-12-31"
          },
          "country_code": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code for geo-targeted web search results.",
            "enum": [
              "ALL",
              "AR",
              "AU",
              "AT",
              "BE",
              "BR",
              "CA",
              "CL",
              "DK",
              "FI",
              "FR",
              "DE",
              "HK",
              "IN",
              "ID",
              "IT",
              "JP",
              "KR",
              "MY",
              "MX",
              "NL",
              "NZ",
              "NO",
              "CN",
              "PL",
              "PT",
              "PH",
              "RU",
              "SA",
              "ZA",
              "ES",
              "SE",
              "CH",
              "TW",
              "TR",
              "GB",
              "US"
            ],
            "example": "US"
[...]
