openapi: 3.0.0
info:
  description: "The Freepik/Magnific API is the AI creative platform: image generation (Mystic, Flux, Seedream, Z-Image, RunWay, Imagen, Gemini, Hyperflux), video generation (Kling, Hailuo, WAN, Veo, Seedance, PixVerse, LTX, RunWay), image editing (creative+precision upscaling, relight, style transfer, background remove, expand, inpaint, change camera), audio (music, SFX, voiceover, isolation, lip-sync), LoRA training, and 250M+ stock content (icons, videos, resources). Authenticated with a single x-freepik-api-key header."
  title: Freepik API
  version: 1.0.0
servers:
- description: B2B API Production V1
  url: https://api.freepik.com
security:
- apiKey: []
x-mcp:
  transport: [stdio, http]
  orchestration: code
  endpoint_tools: hidden
paths:
  /v1/ai/image-style-transfer:
    get:
      description: Get the status of all Style Transfer tasks
      operationId: get_all_style_transfer_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Style Transfer tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Style Transfer - List tasks
      tags:
      - image-style-transfer
    post:
      operationId: apply_style_transfer_to_image
      requestBody:
        content:
          application/json:
            examples:
              required-params:
                $ref: "#/components/examples/request-style-transfer-required-params"
              all-params:
                $ref: "#/components/examples/request-style-transfer-all-params"
            schema:
              $ref: "#/components/schemas/style-transfer-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/apply_style_transfer_to_image_200_response"
          description: OK - The request has succeeded and the Style Transfer process
            has started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Style Transfer - Transform image style
      tags:
      - image-style-transfer
  /v1/ai/image-style-transfer/{task-id}:
    get:
      description: Get the status of the Style Transfer task
      operationId: get_style_transfer_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Style Transfer - Get task status
      tags:
      - image-style-transfer
  /v1/ai/text-to-image:
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_classic
      requestBody:
        content:
          application/json:
            examples:
              all-params:
                $ref: "#/components/examples/request-tti-all-params"
              required-params:
                $ref: "#/components/examples/request-tti-required-params"
              portrait-image-size:
                $ref: "#/components/examples/request-tti-portrait-image-size"
              styling-params:
                $ref: "#/components/examples/request-tti-styling-params"
            schema:
              $ref: "#/components/schemas/request-content"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_classic_200_response"
          description: "OK - The request has succeeded, and the images generated from\
            \ the text are returned."
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Create image from text - Classic fast
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-dev:
    get:
      description: Get the status of the flux-dev task
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all flux-dev tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Dev - List tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_flux
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttifd-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Get the status of the flux-dev task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Dev - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-pro-v1-1:
    get:
      description: Get the status of the flux-pro 1.1 task
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all flux-pro 1.1 tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Pro 1.1 - List tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_flux_pro_v1_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttifpv11-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Get the status of the flux-pro 1.1 task
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Pro 1.1 - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-dev/{task-id}:
    get:
      description: Get the status of the flux-dev task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-flux-dev-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Dev - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-pro-v1-1/{task-id}:
    get:
      description: Get the status of the flux-pro 1.1 task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Pro 1.1 - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-kontext-pro:
    get:
      description: Retrieve the status of all Flux Kontext Pro text-to-image generation
        tasks for the authenticated user.
      operationId: get_all_flux_kontext_pro_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Successfully retrieved all Flux Kontext Pro tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Kontext Pro - List tasks
      tags:
      - text-to-image
    post:
      description: |
        Generate images using FLUX Kontext Pro, an advanced text-to-image model with optional image input support.

        This model excels at understanding context and generating high-quality images from text descriptions.
        Optionally, you can provide an input image to guide the generation process.
      operationId: create_image_from_text_flux_kontext_pro
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttifkp-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Task created successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Kontext Pro - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-kontext-pro/{task-id}:
    get:
      description: Retrieve the status and results of a specific Flux Kontext Pro
        text-to-image generation task.
      operationId: get_flux_kontext_pro_task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux Kontext Pro - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-2-pro:
    get:
      description: Retrieve the status of all Flux 2 Pro text-to-image generation
        tasks for the authenticated user.
      operationId: get_all_flux_2_pro_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Successfully retrieved all Flux 2 Pro tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Pro - List tasks
      tags:
      - text-to-image
    post:
      description: |
        Create professional-grade images using FLUX.2 [pro], the next generation of Black Forest Labs' image models.

        **Key Features:**
        - Professional quality without complex tuning
        - Text-to-image generation
        - Image-to-image editing (up to 4 input images)
        - Customizable dimensions (256-1440px)
        - Optional prompt enhancement
        - Reproducible results with seed

        **Use Cases:**
        - Marketing materials and advertisements
        - Product photography variations
        - Concept art and illustrations
        - Image editing and enhancement
      operationId: create_image_flux_2_pro
      requestBody:
        content:
          application/json:
            examples:
              required-params:
                $ref: "#/components/examples/request-flux-2-pro-required-params"
              all-params:
                $ref: "#/components/examples/request-flux-2-pro-all-params"
            schema:
              $ref: "#/components/schemas/ttif2p-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Task created successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Pro - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-2-pro/{task-id}:
    get:
      description: Retrieve the status and results of a specific Flux 2 Pro generation
        task.
      operationId: get_flux_2_pro_task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - Task status retrieved successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Pro - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-2-turbo:
    get:
      description: Retrieve the status of all Flux 2 Turbo text-to-image generation
        tasks for the authenticated user.
      operationId: get_all_flux_2_turbo_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Successfully retrieved all Flux 2 Turbo tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Turbo - List tasks
      tags:
      - text-to-image
    post:
      description: |
        Create high-quality images quickly using FLUX.2 [turbo], the speed-optimized version of Flux 2.

        **Key Features:**
        - Fast generation (optimized for speed)
        - Lower cost than Pro version
        - Adjustable guidance scale for prompt adherence
        - Custom image dimensions (512-2048px)
        - Safety checker for content filtering
        - Multiple output formats (PNG/JPEG)

        **Use Cases:**
        - Rapid prototyping and iteration
        - Content exploration
        - High-volume generation
        - Testing prompts and concepts
      operationId: create_image_flux_2_turbo
      requestBody:
        content:
          application/json:
            examples:
              required-params:
                $ref: "#/components/examples/request-flux-2-turbo-required-params"
              all-params:
                $ref: "#/components/examples/request-flux-2-turbo-all-params"
            schema:
              $ref: "#/components/schemas/ttif2t-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Task created successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Turbo - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-2-turbo/{task-id}:
    get:
      description: Retrieve the status and results of a specific Flux 2 Turbo generation
        task.
      operationId: get_flux_2_turbo_task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - Task status retrieved successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Turbo - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-2-klein:
    get:
      description: "Retrieve the status of all FLUX.2 [klein] text-to-image generation\
        \ tasks for the authenticated user."
      operationId: get_all_flux_2_klein_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Successfully retrieved all Flux 2 Klein tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Klein - List tasks
      tags:
      - text-to-image
    post:
      description: |
        Generate images with sub-second speed using FLUX.2 [klein], the fastest model in the FLUX.2 family by Black Forest Labs.

        **Key Features:**
        - Sub-second generation time
        - Up to 4 reference images for style/subject transfer
        - 10 preset aspect ratios with 1k or 2k resolution options
        - Adjustable safety tolerance (0-5)
        - Multiple output formats (PNG/JPEG)

        **Use Cases:**
        - Real-time applications requiring fast generation
        - Style transfer with reference images
        - Rapid prototyping and iteration
        - High-volume image generation
      operationId: create_image_flux_2_klein
      requestBody:
        content:
          application/json:
            examples:
              required-params:
                $ref: "#/components/examples/request-flux-2-klein-required-params"
              all-params:
                $ref: "#/components/examples/request-flux-2-klein-all-params"
            schema:
              $ref: "#/components/schemas/ttif2k-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/create_image_from_text_flux_200_response"
          description: OK - Task created successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Klein - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/flux-2-klein/{task-id}:
    get:
      description: "Retrieve the status and results of a specific FLUX.2 [klein] generation\
        \ task."
      operationId: get_flux_2_klein_task
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - Task status retrieved successfully
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Flux 2 Klein - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream:
    get:
      description: Get the status of all Seedream tasks
      operationId: get_all_seedream_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Seedream tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Seedream - List tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_seedream
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttisd-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The request has succeeded and the Seedream process has
            started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Seedream - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream/{task-id}:
    get:
      description: Get the status of the Seedream task
      operationId: get_seedream_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Seedream - Get task status
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream-v4:
    get:
      description: Get the status of all Seedream v4 tasks
      operationId: get_all_seedream_v4_tasks
      responses:
        "200":
          content:
            application/json:
              examples:
                success - return all tasks:
                  $ref: "#/components/examples/200-tasks-list"
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_200_response"
          description: OK - Get the status of all Seedream v4 tasks
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Seedream 4 - List tasks
      tags:
      - text-to-image
    post:
      description: Convert descriptive text input into images using AI. This endpoint
        accepts a variety of parameters to customize the generated images.
      operationId: create_image_from_text_seedream_v4
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ttisd-request-content"
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The request has succeeded and the Seedream v4 process
            has started.
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response_1"
          description: Bad Request - The server could not understand the request due
            to invalid syntax.
        "401":
          content:
            application/json:
              examples:
                invalid_api_key:
                  summary: API key is not valid
                  value:
                    message: Invalid API key
                missing_api_key:
                  summary: API key is not provided
                  value:
                    message: Missing API key
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
          description: Unauthorized - The client must authenticate itself to get the
            requested response.
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_500_response"
          description: Internal Server Error - The server has encountered a situation
            it doesn't know how to handle.
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_503_response"
          description: Service Unavailable
      summary: Seedream 4 - Create image from text
      tags:
      - text-to-image
  /v1/ai/text-to-image/seedream-v4/{task-id}:
    get:
      description: Get the status of the Seedream v4 task
      operationId: get_seedream_v4_task_status
      parameters:
      - description: ID of the task
        in: path
        name: task-id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                success - completed task:
                  $ref: "#/components/examples/200-task-completed"
                success - in progress task:
                  $ref: "#/components/examples/200-task-in-progress"
              schema:
                $ref: "#/components/schemas/get_style_transfer_task_status_200_response"
          description: OK - The task exists and the status is returned
        "400":
          content:
            application/json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Parameter 'page' must be greater than 0
                invalid_query:
                  summary: Parameter 'query' is not valid
                  value:
                    message: Parameter 'query' must not be empty
                invalid_filter:
                  summary: Parameter 'filter' is not valid
                  value:
                    message: Parameter 'filter' is not valid
                generic_bad_request:
                  summary: Bad Request
                  value:
                    message: Parameter ':attribute' is not valid
              schema:
                $ref: "#/components/schemas/get_all_style_transfer_tasks_400_response"
            application/problem+json:
              examples:
                invalid_page:
                  summary: Parameter 'page' is not valid
                  value:
                    message: Your request parameters didn't validate.
                    invalid_params:
                    - name: page
                      reason: Parameter 'page' must be greater than 0
                    - name: per_page
                      reason: Parameter 'per_page' must be greater than 0
              schema:
[...]
