openapi: 3.0.3
info:
  title: Quentli REST API
  version: 1.0.0
  description: 'Quentli REST API: a Stripe-like payments, invoicing, and subscription-billing
    platform for Latin America (cobranza + SAT CFDI tax invoicing). This CLI manages
    customers, catalog payment concepts and discounts, invoices, hosted payment sessions,
    payments, refunds, subscriptions, tax invoices, webhooks, and customer portal/auth
    links.'
servers:
- url: https://api.quentli.com
  description: Production API
- url: https://api.staging.quentli.com
  description: Staging API for production-like validation
- url: https://api.demo.quentli.com
  description: Demo API hostname served by staging
security:
- organizationApiKey: []
tags:
- name: Auth
- name: Billing
- name: Catalog
- name: Customers
- name: Invoices
- name: Payment Methods
- name: Payment Sessions
- name: Payments
- name: Subscriptions
- name: Tax Invoices
- name: Webhooks
components:
  securitySchemes:
    organizationApiKey:
      type: http
      scheme: bearer
      description: 'Organization API key using `Authorization: Bearer sk_...`.'
      x-auth-env-vars:
      - QUENTLI_SECRET_KEY
      bearerFormat: sk_
  schemas:
    GetCustomersResponse:
      type: array
      items:
        $ref: '#/components/schemas/Customer'
      description: List of customers returned by the query.
    Customer:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the customer.
          example: cus_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the customer was created.
          example: 2025-01-10 12:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the customer was last updated.
          example: 2025-01-10 12:00:00+00:00
        name:
          type: string
          description: Name of the customer.
          example: "Juan P\xE9rez"
        username:
          type: string
          description: Username used for customer login and customer identification.
          example: juan_perez_01
        email:
          type: string
          nullable: true
          description: Email address of the customer.
          example: juan@example.com
        phoneNumber:
          type: string
          nullable: true
          description: Primary WhatsApp phone number of the customer, usually in E.164
            format.
          example: '+525512345678'
        organizationId:
          type: string
          description: Identifier of the organization this customer belongs to.
          example: org_1234567890abcdefghij
        secondaryPhoneNumber:
          type: string
          nullable: true
          description: Secondary phone number used for reminders and announcements.
          example: null
        archivedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the customer was archived.
          example: null
        archivedById:
          type: string
          nullable: true
          description: Identifier of the user who archived this customer.
          example: u_1234567890abcdefghij
        acceptedServiceAgreement:
          type: boolean
          description: Whether the customer has accepted the service agreement.
          example: true
        skipTaxInvoice:
          type: boolean
          description: Whether tax invoice generation is skipped for this customer.
          example: false
        emailVerified:
          type: boolean
          description: Whether the customer has verified their email address.
          example: false
        phoneNumberVerified:
          type: boolean
          description: Whether the customer has verified their phone number.
          example: true
        hasChangedPassword:
          type: boolean
          description: Whether the customer has set a non-default password.
          example: true
        signatureAcceptedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when recurring charges terms were accepted via
            signature.
          example: 2025-01-10 12:00:00+00:00
        optedOutWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the customer opted out of WhatsApp reminders.
          example: null
        optedInWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the customer opted in to WhatsApp reminders.
          example: 2025-01-05 10:00:00+00:00
        startedWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when WhatsApp opt-in flow was started for this
            customer.
          example: 2025-01-05 09:55:00+00:00
        replyWithAssistant:
          type: boolean
          nullable: true
          description: Whether to reply to this customer using the assistant.
          example: false
        metadata:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
            required:
            - key
            - value
            additionalProperties: false
          description: Custom metadata entries attached to this customer as key-value
            pairs.
          example: &id001
          - key: studentId
            value: A-1029
        meta:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Flattened metadata map where each key maps to a string value.
          example: &id002
            studentId: A-1029
      required:
      - id
      - createdAt
      - updatedAt
      - name
      - username
      - email
      - phoneNumber
      - organizationId
      - secondaryPhoneNumber
      - archivedAt
      - archivedById
      - acceptedServiceAgreement
      - skipTaxInvoice
      - emailVerified
      - phoneNumberVerified
      - hasChangedPassword
      - signatureAcceptedAt
      - optedOutWhatsappAt
      - optedInWhatsappAt
      - startedWhatsappAt
      - replyWithAssistant
      description: Customer record including identity, contact details, and messaging
        preferences.
    ValidationError:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
            issues:
              type: array
              items:
                type: object
                additionalProperties:
                  nullable: true
          required:
          - message
          - issues
      required:
      - error
      additionalProperties: false
      description: Validation error response with field-level issues.
    UserError:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
          required:
          - message
      required:
      - error
      additionalProperties: false
      description: Standard user-facing error response envelope.
    GetCustomerResponse:
      type: object
      nullable: true
      properties:
        id:
          type: string
          description: Unique identifier of the customer.
          example: cus_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the customer was created.
          example: 2025-01-10 12:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the customer was last updated.
          example: 2025-01-10 12:00:00+00:00
        name:
          type: string
          description: Name of the customer.
          example: "Juan P\xE9rez"
        username:
          type: string
          description: Username used for customer login and customer identification.
          example: juan_perez_01
        email:
          type: string
          nullable: true
          description: Email address of the customer.
          example: juan@example.com
        phoneNumber:
          type: string
          nullable: true
          description: Primary WhatsApp phone number of the customer, usually in E.164
            format.
          example: '+525512345678'
        organizationId:
          type: string
          description: Identifier of the organization this customer belongs to.
          example: org_1234567890abcdefghij
        secondaryPhoneNumber:
          type: string
          nullable: true
          description: Secondary phone number used for reminders and announcements.
          example: null
        archivedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the customer was archived.
          example: null
        archivedById:
          type: string
          nullable: true
          description: Identifier of the user who archived this customer.
          example: u_1234567890abcdefghij
        acceptedServiceAgreement:
          type: boolean
          description: Whether the customer has accepted the service agreement.
          example: true
        skipTaxInvoice:
          type: boolean
          description: Whether tax invoice generation is skipped for this customer.
          example: false
        emailVerified:
          type: boolean
          description: Whether the customer has verified their email address.
          example: false
        phoneNumberVerified:
          type: boolean
          description: Whether the customer has verified their phone number.
          example: true
        hasChangedPassword:
          type: boolean
          description: Whether the customer has set a non-default password.
          example: true
        signatureAcceptedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when recurring charges terms were accepted via
            signature.
          example: 2025-01-10 12:00:00+00:00
        optedOutWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the customer opted out of WhatsApp reminders.
          example: null
        optedInWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the customer opted in to WhatsApp reminders.
          example: 2025-01-05 10:00:00+00:00
        startedWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when WhatsApp opt-in flow was started for this
            customer.
          example: 2025-01-05 09:55:00+00:00
        replyWithAssistant:
          type: boolean
          nullable: true
          description: Whether to reply to this customer using the assistant.
          example: false
        metadata:
          type: array
          nullable: true
          items:
            type: object
            properties:
              key:
                type: string
              value:
                type: string
            required:
            - key
            - value
            additionalProperties: false
          description: Custom metadata entries attached to this customer as key-value
            pairs.
          example: *id001
        meta:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Flattened metadata map where each key maps to a string value.
          example: *id002
      required:
      - id
      - createdAt
      - updatedAt
      - name
      - username
      - email
      - phoneNumber
      - organizationId
      - secondaryPhoneNumber
      - archivedAt
      - archivedById
      - acceptedServiceAgreement
      - skipTaxInvoice
      - emailVerified
      - phoneNumberVerified
      - hasChangedPassword
      - signatureAcceptedAt
      - optedOutWhatsappAt
      - optedInWhatsappAt
      - startedWhatsappAt
      - replyWithAssistant
      description: Customer details response. Returns null if the customer does not
        exist.
    CreateCustomerPayload:
      type: object
      properties:
        customer:
          $ref: '#/components/schemas/Customer'
      required:
      - customer
      description: Successful customer creation response.
    CreateCustomerArgs:
      type: object
      properties:
        input:
          $ref: '#/components/schemas/CreateCustomerInput'
      required:
      - input
      additionalProperties: false
      description: Request body for creating a customer.
    CreateCustomerInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Name of the customer.
          example: Juan Perez
        username:
          type: string
          nullable: true
          minLength: 1
          description: Optional username used for login and identification. If omitted
            and auto-increment usernames are enabled, one is generated.
          example: juan_perez_01
        email:
          type: string
          nullable: true
          format: email
          description: Email address of the customer.
          example: juan@example.com
        phoneNumber:
          type: string
          nullable: true
          description: Primary WhatsApp phone number of the customer, preferably E.164.
          example: '+525512345678'
        secondaryPhoneNumber:
          type: string
          nullable: true
          description: Secondary phone number for reminders and announcements.
          example: '+525598765432'
        acceptedServiceAgreement:
          type: boolean
          description: Whether the customer has accepted the service agreement.
          example: true
        skipTaxInvoice:
          type: boolean
          description: Whether tax invoice generation should be skipped for this customer.
          example: false
        assigneeId:
          type: string
          nullable: true
          description: Member id assigned to manage this customer.
          example: cmab12cd3000x1a2b3c4d5e6f
        optedOutWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the customer opted out of WhatsApp reminders.
          example: 2025-01-15 10:30:00+00:00
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/CreateCustomerMetadataItemInput'
          description: Custom metadata entries attached to the customer.
          example:
          - key: studentId
            value: A-1029
        tags:
          type: array
          items:
            type: string
          description: Tag names to associate with this customer.
          example:
          - VIP
          - Colegiatura
      required:
      - name
      description: Customer creation payload.
    CreateCustomerMetadataItemInput:
      type: object
      properties:
        key:
          type: string
          minLength: 1
          description: Metadata key name.
          example: studentId
        value:
          type: string
          minLength: 1
          description: Metadata value.
          example: A-1029
      required:
      - key
      - value
      description: Custom metadata key-value pair attached to the customer.
    UpdateCustomerPayload:
      type: object
      properties:
        customer:
          $ref: '#/components/schemas/Customer'
      required:
      - customer
      description: Successful customer update response.
    UpdateCustomerArgs:
      type: object
      properties:
        input:
          $ref: '#/components/schemas/UpdateCustomerInput'
      required:
      - input
      description: Request body for updating a customer.
    UpdateCustomerInput:
      type: object
      properties:
        otp:
          type: string
          description: Verification code required for sensitive changes.
          example: '123456'
        data:
          $ref: '#/components/schemas/UpdateCustomerDataInput'
      required:
      - data
      description: Client payload used to update a customer.
    UpdateCustomerDataInput:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Updated customer name.
          example: Juan Perez
        email:
          type: string
          nullable: true
          format: email
          description: Updated email address.
          example: juan@example.com
        phoneNumber:
          type: string
          nullable: true
          description: Updated primary WhatsApp phone number (E.164).
          example: '+525512345678'
        password:
          type: string
          description: New customer password.
          example: S3curePassw0rd!
        username:
          type: string
          minLength: 1
          description: Updated username.
          example: juan_perez_01
        tags:
          type: array
          items:
            type: string
          description: Updated tag list.
          example:
          - VIP
          - Colegiatura
        tosIp:
          type: string
          description: IP captured when terms are accepted.
          example: 189.203.12.45
        secondaryPhoneNumber:
          type: string
          nullable: true
          description: Updated secondary phone number (E.164).
          example: '+525598765432'
        acceptedServiceAgreement:
          type: boolean
          description: Whether service agreement is accepted.
          example: true
        skipTaxInvoice:
          type: boolean
          description: Whether to skip tax invoices.
          example: false
        signature:
          type: string
          nullable: true
          description: Base64 or URL signature payload.
          example: signed-by-customer
        assigneeId:
          type: string
          nullable: true
          description: Member id assigned to this customer.
          example: cmab12cd3000x1a2b3c4d5e6f
        optedOutWhatsappAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when customer opted out from WhatsApp.
          example: 2025-01-15 10:30:00+00:00
        hasChangedPassword:
          type: boolean
          description: Flag indicating password was changed.
          example: true
        phoneNumberVerified:
          type: boolean
          description: Whether phone number is verified.
          example: true
        emailVerified:
          type: boolean
          description: Whether email is verified.
          example: true
        replyWithAssistant:
          type: boolean
          nullable: true
          description: Whether assistant replies are enabled for this customer.
          example: false
        metadata:
          type: array
          items:
            type: object
            properties:
              key:
                type: string
                minLength: 1
                description: Metadata key name.
                example: studentId
              value:
                type: string
                nullable: true
                description: Metadata value.
                example: A-1029
            required:
            - key
          description: Metadata entries to upsert. Null values delete keys.
          example:
          - key: studentId
            value: A-1029
        meta:
          type: object
          additionalProperties:
            type: string
            nullable: true
          description: Flat metadata map. Null/empty values remove keys.
          example:
            grade: 5A
      description: Fields that can be updated on a customer.
    GetCustomerPaymentMethodsResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentMethod'
      description: Confirmed and non-deleted payment methods for the customer.
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
          description: Payment method identifier.
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when payment method was created.
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when payment method was last updated.
        customerId:
          type: string
          description: Identifier of the customer that owns this payment method.
        type:
          type: string
          enum:
          - CARD
          - MEXICAN_BANK_ACCOUNT
          description: Type of payment method (card or Mexican bank account).
        confirmed:
          type: boolean
          description: Whether this payment method can be used to collect payments.
        default:
          type: boolean
          description: Whether this is the default method used for automatic collections.
        deletedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when this payment method was deleted.
          example: null
        bankAccountId:
          type: string
          nullable: true
          description: Related bank account identifier, when applicable.
          example: null
        expired:
          type: boolean
          description: Whether this payment method is no longer valid.
        cardDetail:
          type: object
          nullable: true
          properties:
            id:
              type: string
              description: Card detail identifier.
            createdAt:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              description: Date and time when card details were created.
            updatedAt:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              description: Date and time when card details were last updated.
            expiryMonth:
              type: number
              description: Card expiration month (1-12).
            expiryYear:
              type: number
              description: Card expiration year (YYYY).
            cardholder:
              type: string
              nullable: true
              description: Name printed on the card, if available.
            bin:
              type: string
              description: Bank Identification Number (first 6 digits).
            last4:
              type: string
              description: Last four digits of the card.
            brand:
              type: string
              nullable: true
              description: Card brand (e.g. VISA, MASTERCARD).
            issuer:
              type: string
              nullable: true
              description: Issuing bank or institution.
            isCorporate:
              type: boolean
              nullable: true
              description: Whether the card is a corporate card.
            country:
              type: string
              nullable: true
              description: ISO country code for the card issuer.
            funding:
              type: string
              nullable: true
              description: Funding category (for example, CREDIT or DEBIT).
          required:
          - id
          - createdAt
          - updatedAt
          - expiryMonth
          - expiryYear
          - bin
          - last4
          description: Card details when `type` is `CARD`.
        bankAccount:
          type: object
          nullable: true
          properties:
            id:
              type: string
              description: Bank account identifier.
            createdAt:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              description: Date and time when bank account was created.
            updatedAt:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              description: Date and time when bank account was last updated.
            bankCode:
              type: string
              description: Bank institution code.
            bankName:
              type: string
              description: Bank institution name.
            customerId:
              type: string
              nullable: true
              description: Owner customer identifier.
            deletedAt:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              - nullable: true
              description: Date and time when this bank account was deleted.
            country:
              type: string
              description: ISO country code where the account is registered.
            verified:
              type: boolean
              description: Whether bank account ownership was verified.
            clabeLast:
              type: string
              description: Last visible digits of the CLABE/account number.
            clabeFirst:
              type: string
              description: First visible digits of the CLABE/account number.
          required:
          - id
          - createdAt
          - updatedAt
          - bankCode
          - bankName
          - country
          - verified
          - clabeLast
          - clabeFirst
          description: Bank account details when `type` is `MEXICAN_BANK_ACCOUNT`.
      required:
      - id
      - createdAt
      - updatedAt
      - customerId
      - type
      - confirmed
      - default
      - deletedAt
      - bankAccountId
      - expired
      description: Saved payment method associated with a customer.
    SetCustomerTaxInfoPayload:
      type: object
      properties:
        customerTaxInfo:
          $ref: '#/components/schemas/CustomerTaxInfo'
      required:
      - customerTaxInfo
      description: Created or updated customer tax profile.
    CustomerTaxInfo:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the tax profile.
          example: cti_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the tax profile was created.
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the tax profile was last updated.
        customerId:
          type: string
          description: Customer that owns this tax profile.
          example: cus_1234567890abcdefghij
        legalName:
          type: string
          description: Legal name from the Constancia de Situacion Fiscal.
        default:
          type: boolean
          description: Whether this is the default tax profile.
          example: true
        defaultUsage:
          type: string
          description: Default CFDI usage code.
          example: G03
        taxId:
          type: string
          description: RFC.
          example: XAXX010101000
        taxSystem:
          type: string
          description: SAT tax regime code.
          example: '601'
        zip:
          type: string
          description: Fiscal address ZIP code.
          example: '06100'
        city:
          type: string
          nullable: true
          description: Fiscal address city.
          example: Ciudad de Mexico
        state:
          type: string
          nullable: true
          description: Fiscal address state.
          example: Ciudad de Mexico
        country:
          type: string
          nullable: true
          description: Fiscal address country.
          example: MEX
        neighborhood:
          type: string
          nullable: true
          description: Fiscal address neighborhood.
          example: null
        street:
          type: string
          nullable: true
          description: Fiscal address street.
          example: null
        outerNumber:
          type: string
          nullable: true
          description: Fiscal address exterior number.
          example: null
        innerNumber:
          type: string
          nullable: true
          description: Fiscal address interior number.
          example: null
      required:
      - id
      - createdAt
      - updatedAt
      - customerId
      - legalName
      - default
      - defaultUsage
      - taxId
      - taxSystem
      - zip
      - city
      - state
      - country
      - neighborhood
      - street
      - outerNumber
      - innerNumber
      description: Fiscal profile used to issue tax invoices for a customer.
    CreateCustomerTaxInfoArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            taxInfo:
              type: object
              properties:
                legalName:
                  type: string
                  description: Legal name from the Constancia de Situacion Fiscal.
                taxId:
                  type: string
                  minLength: 1
                  description: RFC.
                  example: XAXX010101000
                taxSystem:
                  type: string
                  minLength: 1
                  description: SAT tax regime code.
                  example: '601'
                zip:
                  type: string
                  minLength: 1
                  maxLength: 5
                  description: Fiscal address ZIP code.
                  example: '06100'
                default:
                  type: boolean
                  description: Whether this should become the default tax profile.
                defaultUsage:
                  type: string
                  minLength: 3
                  maxLength: 4
                  description: Default CFDI usage code.
                  example: G03
                neighborhood:
                  type: string
                  description: Fiscal address neighborhood.
                street:
                  type: string
                  description: Fiscal address street.
                outerNumber:
                  type: string
                  description: Fiscal address exterior number.
                innerNumber:
                  type: string
                  description: Fiscal address interior number.
                city:
                  type: string
                  description: Fiscal address city.
                state:
                  type: string
                  description: Fiscal address state.
              required:
              - legalName
              - taxId
              - taxSystem
              - zip
              - defaultUsage
              additionalProperties: false
          required:
          - taxInfo
          additionalProperties: false
      required:
      - input
      additionalProperties: false
      description: Request body for creating a customer tax profile (customer id is
        provided in the URL path).
    UpdateCustomerTaxInfoArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            data:
              type: object
              properties:
                legalName:
                  type: string
                  description: Legal name from the Constancia de Situacion Fiscal.
                taxId:
                  type: string
                  minLength: 1
                  description: RFC.
                  example: XAXX010101000
                taxSystem:
                  type: string
                  minLength: 1
                  description: SAT tax regime code.
                  example: '601'
                zip:
                  type: string
                  minLength: 1
                  maxLength: 5
                  description: Fiscal address ZIP code.
                  example: '06100'
                default:
                  type: boolean
                  description: Whether this should become the default tax profile.
                defaultUsage:
                  type: string
                  minLength: 3
                  maxLength: 4
                  description: Default CFDI usage code.
                  example: G03
                neighborhood:
                  type: string
                  description: Fiscal address neighborhood.
                street:
                  type: string
                  description: Fiscal address street.
                outerNumber:
                  type: string
                  description: Fiscal address exterior number.
                innerNumber:
                  type: string
                  description: Fiscal address interior number.
                city:
                  type: string
                  description: Fiscal address city.
                state:
                  type: string
                  description: Fiscal address state.
              required:
              - legalName
              - taxId
              - taxSystem
              - zip
              - defaultUsage
              additionalProperties: false
          required:
          - data
          additionalProperties: false
      required:
      - input
      additionalProperties: false
      description: Request body for updating a customer tax profile (ids are provided
        in the URL path).
    DeleteCustomerTaxInfoPayload:
      type: object
      properties:
        customerId:
          type: string
          description: Customer whose tax profile was deleted.
      required:
      - customerId
      description: Response after deleting a customer tax profile.
    GetPaymentConceptsResponse:
      type: array
      items:
        $ref: '#/components/schemas/PaymentConcept'
      description: List of payment concepts returned by the query.
    PaymentConcept:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the payment concept.
          example: pc_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the concept was created.
          example: 2025-01-01 00:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the concept was last updated.
          example: 2025-01-01 00:00:00+00:00
        displayName:
          type: string
          description: Name of the product or service shown to customers.
          example: Colegiatura
        description:
          type: string
          nullable: true
          description: Optional longer description of the product or service.
          example: Colegiatura mensual de preparatoria
        amount:
          type: number
          description: Unit price in minor currency units (e.g. cents).
          example: 150000
        currency:
          type: string
          description: ISO 4217 currency code.
          example: MXN
        organizationId:
          type: string
          description: Identifier of the owning organization.
          example: org_1234567890abcdefghij
        active:
          type: boolean
          description: Whether this concept is currently available for use.
          example: true
        sku:
          type: string
          nullable: true
          description: Optional SKU for internal identification.
          example: COL-PREP-001
        recurrentDetailId:
          type: string
          nullable: true
          description: Identifier of the recurrence configuration, if applicable.
          example: null
        amountEditable:
          type: boolean
          description: Whether customers can customize the price.
          example: false
        quantityEditable:
          type: boolean
          description: Whether customers can customize the quantity.
          example: false
        archivedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the concept was archived, if any.
          example: null
        oneOff:
          type: boolean
          description: Whether this concept is a one-time custom charge.
          example: false
        groupId:
          type: string
          nullable: true
          description: Identifier of the group this concept belongs to, if any.
          example: null
        recurrentDetail:
          type: object
          nullable: true
          properties:
            collectionInterval:
              type: string
              enum:
              - DAY
              - WEEK
              - FORTNIGHT
              - MONTH
              - YEAR
              description: Time interval unit for recurring charges.
              example: MONTH
            chargeEach:
              type: number
              description: Number of intervals between charges.
              example: 1
            toleranceDays:
              type: number
              nullable: true
              description: Grace days after the due date before the invoice expires.
              example: 5
          required:
          - collectionInterval
          - chargeEach
          description: Recurrence configuration when the concept is a recurring charge.
          example: null
      required:
      - id
      - createdAt
      - updatedAt
      - displayName
      - description
      - amount
      - currency
      - organizationId
      - active
      - sku
      - recurrentDetailId
      - amountEditable
      - quantityEditable
      - archivedAt
      - oneOff
      - groupId
      description: A product or service template used to define invoice line items.
    GetPaymentConceptResponse:
      type: object
      nullable: true
      properties:
        id:
          type: string
          description: Unique identifier of the payment concept.
          example: pc_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the concept was created.
          example: 2025-01-01 00:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the concept was last updated.
          example: 2025-01-01 00:00:00+00:00
        displayName:
          type: string
          description: Name of the product or service shown to customers.
          example: Colegiatura
        description:
          type: string
          nullable: true
          description: Optional longer description of the product or service.
          example: Colegiatura mensual de preparatoria
        amount:
          type: number
          description: Unit price in minor currency units (e.g. cents).
          example: 150000
        currency:
          type: string
          description: ISO 4217 currency code.
          example: MXN
        organizationId:
          type: string
          description: Identifier of the owning organization.
          example: org_1234567890abcdefghij
        active:
          type: boolean
          description: Whether this concept is currently available for use.
          example: true
        sku:
          type: string
          nullable: true
          description: Optional SKU for internal identification.
          example: COL-PREP-001
        recurrentDetailId:
          type: string
          nullable: true
          description: Identifier of the recurrence configuration, if applicable.
          example: null
        amountEditable:
          type: boolean
          description: Whether customers can customize the price.
          example: false
        quantityEditable:
          type: boolean
          description: Whether customers can customize the quantity.
          example: false
        archivedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the concept was archived, if any.
          example: null
        oneOff:
          type: boolean
          description: Whether this concept is a one-time custom charge.
          example: false
        groupId:
          type: string
          nullable: true
          description: Identifier of the group this concept belongs to, if any.
          example: null
        recurrentDetail:
          type: object
          nullable: true
          properties:
            collectionInterval:
              type: string
              enum:
              - DAY
              - WEEK
              - FORTNIGHT
              - MONTH
              - YEAR
              description: Time interval unit for recurring charges.
              example: MONTH
            chargeEach:
              type: number
              description: Number of intervals between charges.
              example: 1
            toleranceDays:
              type: number
              nullable: true
              description: Grace days after the due date before the invoice expires.
              example: 5
          required:
          - collectionInterval
          - chargeEach
          description: Recurrence configuration when the concept is a recurring charge.
          example: null
      required:
      - id
      - createdAt
      - updatedAt
      - displayName
      - description
      - amount
      - currency
      - organizationId
      - active
      - sku
      - recurrentDetailId
      - amountEditable
      - quantityEditable
      - archivedAt
      - oneOff
      - groupId
      description: Payment concept details. Returns null if not found.
    CreatePaymentConceptPayload:
      type: object
      properties:
        paymentConcept:
          $ref: '#/components/schemas/PaymentConcept'
      required:
      - paymentConcept
      description: Newly created payment concept.
    CreatePaymentConceptArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            displayName:
              type: string
              minLength: 1
              maxLength: 140
              description: Display name of the concept shown to customers.
              example: Colegiatura
            sku:
              type: string
              nullable: true
              minLength: 1
              description: Optional unique SKU for internal identification.
              example: COL-PREP-001
            description:
              type: string
              nullable: true
              minLength: 1
              description: Optional longer description of the product or service.
              example: Colegiatura mensual de preparatoria
            amount:
              type: number
              minimum: 0
              maximum: 99999999999
              description: Unit price in minor currency units (e.g. cents).
              example: 150000
            amountEditable:
              type: boolean
              description: Whether customers can customize the price.
              example: false
            currency:
              type: string
              nullable: true
              description: ISO 4217 currency code. Defaults to the organization currency.
              example: MXN
            quantityEditable:
              type: boolean
              description: Whether customers can customize the quantity.
              example: false
            oneOff:
              type: boolean
              description: Whether this concept is a one-time custom charge.
              example: false
            active:
              type: boolean
              description: Whether this concept is immediately available for use.
              example: true
            groupId:
              type: string
              nullable: true
              description: Optional identifier of the group to assign this concept
                to.
              example: null
            metadata:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    minLength: 1
                    description: Metadata key name.
                  value:
                    type: string
                    minLength: 1
                    description: Metadata value.
                required:
                - key
                - value
              description: Optional key-value metadata entries to attach to the concept.
              example: []
            collectionInterval:
              type: string
              enum:
              - DAY
              - WEEK
              - FORTNIGHT
              - MONTH
              - YEAR
              nullable: true
              description: 'Time interval unit for recurring charges (deprecated:
                use recurrentDetail instead).'
              example: MONTH
            chargeEach:
              type: number
              nullable: true
              minimum: 0
              description: 'Number of intervals between charges (deprecated: use recurrentDetail
                instead).'
              example: 1
            toleranceDays:
              type: number
              nullable: true
              minimum: 0
              description: 'Grace days after due date (deprecated: use recurrentDetail
                instead).'
              example: null
            recurrentDetail:
              type: object
              properties:
                collectionInterval:
                  type: string
                  enum:
                  - DAY
                  - WEEK
                  - FORTNIGHT
                  - MONTH
                  - YEAR
                  description: Time interval unit for recurring charges.
                  example: MONTH
                chargeEach:
                  type: number
                  minimum: 0
                  description: Number of intervals between charges.
                  example: 1
                toleranceDays:
                  type: number
                  nullable: true
                  minimum: 0
                  description: Grace days after the due date before the invoice expires.
                  example: 5
              required:
              - collectionInterval
              - chargeEach
              additionalProperties: false
              description: Recurrence configuration for a recurring concept.
              example: null
            taxInfo:
              type: object
              properties:
                description:
                  type: string
                  description: Tax description override.
                productKey:
                  type: string
                  description: SAT product key.
                unitKey:
                  type: string
                  description: SAT unit key.
                unitName:
                  type: string
                  description: Unit name override.
                taxRate:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Tax rate as a decimal between 0 and 1.
                taxability:
                  type: string
                  description: SAT taxability code.
              additionalProperties: false
              description: Optional tax configuration for organizations with tax invoice
                generation enabled.
          required:
          - displayName
          - amount
          additionalProperties: false
      required:
      - input
      additionalProperties: false
      description: Request body for creating a payment concept.
    UpdatePaymentConceptPayload:
      type: object
      properties:
        paymentConcept:
          $ref: '#/components/schemas/PaymentConcept'
      required:
      - paymentConcept
      description: Updated payment concept.
    UpdatePaymentConceptArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            data:
              type: object
              properties:
                displayName:
                  type: string
                  minLength: 1
                  description: Updated display name of the concept.
                  example: Colegiatura Preparatoria
                sku:
                  type: string
                  nullable: true
                  minLength: 1
                  description: Updated SKU. Pass null to clear.
                  example: COL-PREP-001
                description:
                  type: string
                  nullable: true
                  description: Updated description. Pass null to clear.
                  example: null
                active:
                  type: boolean
                  description: Whether the concept should be active.
                  example: true
                amount:
                  type: number
                  minimum: 0
                  description: Updated unit price in minor currency units.
                  example: 150000
                amountEditable:
                  type: boolean
                  description: Whether customers can customize the price.
                  example: false
                archivedAt:
                  anyOf:
                  - type: string
                    description: Date string
                  - type: string
                    format: date-time
                    description: Date object
                  - nullable: true
                  description: Set to a date to archive, null to unarchive.
                  example: null
                archivedById:
                  type: string
                  nullable: true
                  description: Identifier of the user archiving the concept.
                  example: null
                currency:
                  type: string
                  nullable: true
                  description: Updated ISO 4217 currency code.
                  example: MXN
                groupId:
                  type: string
                  nullable: true
                  description: Updated group identifier. Pass null to remove from
                    group.
                  example: null
                quantityEditable:
                  type: boolean
                  description: Whether customers can customize the quantity.
                  example: false
                recurrentDetail:
                  type: object
                  properties:
                    collectionInterval:
                      type: string
                      enum:
                      - DAY
                      - WEEK
                      - FORTNIGHT
                      - MONTH
                      - YEAR
                      description: Time interval unit for recurring charges.
                      example: MONTH
                    chargeEach:
                      type: number
                      minimum: 0
                      description: Number of intervals between charges.
                      example: 1
                    toleranceDays:
                      type: number
                      nullable: true
                      minimum: 0
                      description: Grace days after the due date before the invoice
                        expires.
                      example: 5
                  required:
                  - collectionInterval
                  - chargeEach
                  additionalProperties: false
                  description: Updated recurrence configuration.
                  example: null
                chargeEach:
                  type: number
                  nullable: true
                  description: 'Deprecated: use recurrentDetail instead.'
                  example: null
                collectionInterval:
                  type: string
                  enum:
                  - DAY
                  - WEEK
                  - FORTNIGHT
                  - MONTH
                  - YEAR
                  nullable: true
                  description: 'Deprecated: use recurrentDetail instead.'
                  example: null
                toleranceDays:
                  type: number
                  nullable: true
                  description: 'Deprecated: use recurrentDetail instead.'
                  example: null
                taxInfo:
                  type: object
                  properties:
                    description:
                      type: string
                      description: Tax description override.
                    productKey:
                      type: string
                      description: SAT product key.
                    unitKey:
                      type: string
                      description: SAT unit key.
                    unitName:
                      type: string
                      description: Unit name override.
                    taxRate:
                      type: number
                      minimum: 0
                      maximum: 1
                      description: Tax rate as a decimal between 0 and 1.
                    taxability:
                      type: string
                      description: SAT taxability code.
                  description: Optional tax configuration update.
                  example: null
                metadata:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: Metadata key name.
                      value:
                        type: string
                        nullable: true
                        description: Metadata value. Pass null to delete the key.
                    required:
                    - key
                  description: Metadata entries to upsert or delete.
                  example: []
                meta:
                  type: object
                  additionalProperties:
                    type: string
                    nullable: true
                  description: Alternative flat metadata map. Null values delete the
                    key.
                  example: null
          required:
          - data
      required:
      - input
      description: Request body for updating a payment concept (id is provided in
        the URL path).
    GetDiscountsResponse:
      type: array
      items:
        $ref: '#/components/schemas/Discount'
      description: List of discounts returned by the query.
    Discount:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the discount.
          example: disc_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the discount was created.
          example: 2025-01-01 00:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the discount was last updated.
          example: 2025-01-01 00:00:00+00:00
        deletedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: When the discount was deleted, if applicable.
          example: null
        name:
          type: string
          description: Display name of the discount.
          example: Buen Fin 20%
        description:
          type: string
          nullable: true
          description: Optional description of the discount.
          example: null
        organizationId:
          type: string
          description: Identifier of the owning organization.
          example: org_1234567890abcdefghij
        type:
          type: string
          enum:
          - FIXED
          - PERCENTAGE
          description: Whether the discount is a fixed amount (FIXED) or a percentage
            (PERCENTAGE).
          example: PERCENTAGE
        amountOff:
          type: integer
          nullable: true
          description: Fixed discount amount in minor currency units. Only set when
            type is FIXED.
          example: 30000
        percentageOff:
          type: number
          nullable: true
          description: Percentage to discount. Only set when type is PERCENTAGE.
          example: 20
        active:
          type: boolean
          description: Whether the discount is currently available for new applications.
          example: true
        oneOff:
          type: boolean
          description: Whether this discount was created for a single-use custom charge.
          example: false
        expiresAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Optional date after which the discount can no longer be applied.
          example: null
        maxApplications:
          type: integer
          nullable: true
          description: Maximum total number of times this discount can be applied
            across all customers.
          example: 3
      required:
      - id
      - createdAt
      - updatedAt
      - deletedAt
      - name
      - description
      - organizationId
      - type
      - amountOff
      - percentageOff
      - active
      - oneOff
      - expiresAt
      - maxApplications
      description: A reusable discount that can be applied to invoices or subscriptions.
    GetDiscountResponse:
      type: object
      nullable: true
      properties:
        id:
          type: string
          description: Unique identifier of the discount.
          example: disc_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the discount was created.
          example: 2025-01-01 00:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the discount was last updated.
          example: 2025-01-01 00:00:00+00:00
        deletedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: When the discount was deleted, if applicable.
          example: null
        name:
          type: string
          description: Display name of the discount.
          example: Buen Fin 20%
        description:
          type: string
          nullable: true
          description: Optional description of the discount.
          example: null
        organizationId:
          type: string
          description: Identifier of the owning organization.
          example: org_1234567890abcdefghij
        type:
          type: string
          enum:
          - FIXED
          - PERCENTAGE
          description: Whether the discount is a fixed amount (FIXED) or a percentage
            (PERCENTAGE).
          example: PERCENTAGE
        amountOff:
          type: integer
          nullable: true
          description: Fixed discount amount in minor currency units. Only set when
            type is FIXED.
          example: 30000
        percentageOff:
          type: number
          nullable: true
          description: Percentage to discount. Only set when type is PERCENTAGE.
          example: 20
        active:
          type: boolean
          description: Whether the discount is currently available for new applications.
          example: true
        oneOff:
          type: boolean
          description: Whether this discount was created for a single-use custom charge.
          example: false
        expiresAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Optional date after which the discount can no longer be applied.
          example: null
        maxApplications:
          type: integer
          nullable: true
          description: Maximum total number of times this discount can be applied
            across all customers.
          example: 3
      required:
      - id
      - createdAt
      - updatedAt
      - deletedAt
      - name
      - description
      - organizationId
      - type
      - amountOff
      - percentageOff
      - active
      - oneOff
      - expiresAt
      - maxApplications
      description: Discount details. Returns null if not found.
    CreateDiscountPayload:
      type: object
      properties:
        discount:
          $ref: '#/components/schemas/Discount'
      required:
      - discount
      description: Newly created discount.
    CreateDiscountArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            name:
              type: string
              minLength: 1
              maxLength: 140
              description: Display name of the discount.
              example: Buen Fin 20%
            description:
              type: string
              nullable: true
              description: Optional description.
              example: null
            codes:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 140
              description: Redeemable codes that grant this discount. Codes are uppercased
                automatically.
              example:
              - BUEN-FIN-2025
            type:
              type: string
              enum:
              - FIXED
              - PERCENTAGE
              description: Whether the discount is a fixed amount (FIXED) or a percentage
                (PERCENTAGE).
              example: PERCENTAGE
            amountOff:
              type: integer
              nullable: true
              minimum: 0
              maximum: 99999999999
              description: Fixed discount amount in minor currency units. Required
                when type is FIXED.
              example: null
            percentageOff:
              type: number
              nullable: true
              minimum: 0
              maximum: 100
              description: Percentage to discount (0-100). Required when type is PERCENTAGE.
              example: 20
            active:
              type: boolean
              description: Whether the discount is active.
              example: true
            oneOff:
              type: boolean
              description: Whether this discount is single-use.
              example: false
            expiresAt:
              type: string
              nullable: true
              format: date-time
              description: Optional expiration date.
              example: null
            maxApplications:
              type: integer
              nullable: true
              minimum: 1
              description: Maximum number of times this discount can be applied.
              example: null
          required:
          - name
          - type
          additionalProperties: false
      required:
      - input
      additionalProperties: false
      description: Request body for creating a discount.
    UpdateDiscountPayload:
      type: object
      properties:
        discount:
          $ref: '#/components/schemas/Discount'
      required:
      - discount
      description: Updated discount.
    UpdateDiscountArgs:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: Display name of the discount.
          example: Buen Fin 25%
        description:
          type: string
          nullable: true
          description: Optional description.
          example: null
        codes:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 140
          description: Replaces all existing codes with this list. Codes are uppercased
            automatically.
          example:
          - BUEN-FIN-2025
        type:
          type: string
          enum:
          - FIXED
          - PERCENTAGE
          description: Whether the discount is a fixed amount (FIXED) or a percentage
            (PERCENTAGE).
          example: PERCENTAGE
        amountOff:
          type: integer
          nullable: true
          minimum: 0
          maximum: 99999999999
          description: Fixed discount amount in minor currency units. Required when
            type is FIXED.
          example: null
        percentageOff:
          type: number
          nullable: true
          minimum: 0
          maximum: 100
          description: Percentage to discount (0-100). Required when type is PERCENTAGE.
          example: 25
        active:
          type: boolean
          description: Whether the discount is active.
          example: true
        oneOff:
          type: boolean
          description: Whether this discount is single-use.
          example: false
        expiresAt:
          type: string
          nullable: true
          format: date-time
          description: Optional expiration date.
          example: null
        maxApplications:
          type: integer
          nullable: true
          minimum: 1
          description: Maximum number of times this discount can be applied.
          example: null
      additionalProperties: false
      description: Request body for updating a discount. All fields are optional.
    DeleteDiscountPayload:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the discount was successfully deleted.
          example: true
      required:
      - success
      description: Result of the discount deletion.
    GetInvoicesResponse:
      type: array
      items:
        $ref: '#/components/schemas/FullInvoice'
      description: List of invoices returned by the query.
    FullInvoice:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice.
          example: inv_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the invoice was created.
          example: 2025-01-10 12:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the invoice was last updated.
          example: 2025-01-10 12:00:00+00:00
        customerId:
          type: string
          description: Identifier of the customer this invoice belongs to.
          example: cus_1234567890abcdefghij
        subscriptionId:
          type: string
          nullable: true
          description: Identifier of the subscription that generated this invoice,
            if any.
          example: sub_1234567890abcdefghij
        collectionMethod:
          type: string
          enum:
          - AUTOMATIC
          - SEND_REMINDER
          - NONE
          description: 'How payment is collected: AUTOMATIC, SEND_REMINDER, or NONE.'
          example: SEND_REMINDER
        totalAmount:
          type: number
          description: Computed total amount of the invoice in minor units.
          example: 150000
        currency:
          type: string
          description: ISO 4217 currency code for the invoice.
          example: MXN
        dueDate:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when payment is due.
          example: 2025-02-01 06:00:00+00:00
        expireDate:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the invoice expires.
          example: null
        organizationId:
          type: string
          description: Identifier of the organization that owns this invoice.
          example: org_1234567890abcdefghij
        isPaid:
          type: boolean
          description: Whether the invoice has been fully paid.
          example: false
        paidById:
          type: string
          nullable: true
          description: Identifier of the customer who paid the invoice.
          example: null
        amountPaid:
          type: number
          description: Total amount paid so far in minor units.
          example: 0
        beneficiaryId:
          type: string
          nullable: true
          description: Identifier of the beneficiary customer, if any.
          example: null
        allowOfftimePayment:
          type: boolean
          description: Whether payment is accepted outside the due window.
          example: false
        paidWithId:
          type: string
          nullable: true
          description: Identifier of the payment that settled the invoice.
          example: null
        canceledAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the invoice was canceled.
          example: null
        canceledById:
          type: string
          nullable: true
          description: Identifier of the user who canceled the invoice.
          example: null
        items:
          type: array
          items:
            $ref: '#/components/schemas/FullInvoiceItem'
        meta:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Flattened metadata map where each key maps to a string value.
          example: &id003
            Ciclo Escolar: 2025-1
      required:
      - id
      - createdAt
      - updatedAt
      - customerId
      - subscriptionId
      - collectionMethod
      - totalAmount
      - currency
      - dueDate
      - expireDate
      - organizationId
      - isPaid
      - paidById
      - amountPaid
      - beneficiaryId
      - allowOfftimePayment
      - paidWithId
      - canceledAt
      - canceledById
      - items
      description: An invoice with fully expanded line items including concept and
        group details.
    FullInvoiceItem:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice item.
          example: invi_1234567890abcdefghij
        description:
          type: string
          description: Human-readable description of the line item.
          example: Colegiatura Enero 2025
        conceptId:
          type: string
          nullable: true
          description: Identifier of the payment concept for this item.
          example: pc_1234567890abcdefghij
        quantity:
          type: number
          minimum: 1
          description: Quantity of units for this line item.
          example: 1
        concept:
          $ref: '#/components/schemas/InvoiceItemConcept'
      required:
      - id
      - description
      - conceptId
      - quantity
      - concept
      description: An invoice line item including its full concept details.
    InvoiceItemConcept:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the payment concept.
          example: pc_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the concept was created.
          example: 2025-01-01 00:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: When the concept was last updated.
          example: 2025-01-01 00:00:00+00:00
        displayName:
          type: string
          description: Name of the product or service shown to customers.
          example: Colegiatura
        description:
          type: string
          nullable: true
          description: Optional longer description of the product or service.
          example: Colegiatura mensual de preparatoria
        amount:
          type: number
          description: Unit price in minor currency units (e.g. cents).
          example: 150000
        currency:
          type: string
          description: ISO 4217 currency code.
          example: MXN
        organizationId:
          type: string
          description: Identifier of the owning organization.
          example: org_1234567890abcdefghij
        active:
          type: boolean
          description: Whether this concept is currently available for use.
          example: true
        sku:
          type: string
          nullable: true
          description: Optional SKU for internal identification.
          example: COL-PREP-001
        recurrentDetailId:
          type: string
          nullable: true
          description: Identifier of the recurrence configuration, if applicable.
          example: null
        amountEditable:
          type: boolean
          description: Whether customers can customize the price.
          example: false
        quantityEditable:
          type: boolean
          description: Whether customers can customize the quantity.
          example: false
        archivedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the concept was archived, if any.
          example: null
        oneOff:
          type: boolean
          description: Whether this concept is a one-time custom charge.
          example: false
        groupId:
          type: string
          nullable: true
          description: Identifier of the group this concept belongs to, if any.
          example: null
        recurrentDetail:
          type: object
          nullable: true
          properties:
            collectionInterval:
              type: string
              enum:
              - DAY
              - WEEK
              - FORTNIGHT
              - MONTH
              - YEAR
              description: Time interval unit for recurring charges.
              example: MONTH
            chargeEach:
              type: number
              description: Number of intervals between charges.
              example: 1
            toleranceDays:
              type: number
              nullable: true
              description: Grace days after the due date before the invoice expires.
              example: 5
          required:
          - collectionInterval
          - chargeEach
          description: Recurrence configuration when the concept is a recurring charge.
          example: null
        group:
          type: object
          nullable: true
          properties:
            id:
              type: string
              description: Unique identifier of the payment concept group.
              example: pcg_1234567890abcdefghij
            name:
              type: string
              description: Display name of the group.
              example: Colegiaturas
          required:
          - id
          - name
          description: Group this concept belongs to, if any.
      required:
      - id
      - createdAt
      - updatedAt
      - displayName
      - description
      - amount
      - currency
      - organizationId
      - active
      - sku
      - recurrentDetailId
      - amountEditable
      - quantityEditable
      - archivedAt
      - oneOff
      - groupId
      - group
      description: Payment concept associated with the invoice item, including its
        group.
    GetInvoiceResponse:
      type: object
      nullable: true
      properties:
        id:
          type: string
          description: Unique identifier of the invoice.
          example: inv_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the invoice was created.
          example: 2025-01-10 12:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the invoice was last updated.
          example: 2025-01-10 12:00:00+00:00
        customerId:
          type: string
          description: Identifier of the customer this invoice belongs to.
          example: cus_1234567890abcdefghij
        subscriptionId:
          type: string
          nullable: true
          description: Identifier of the subscription that generated this invoice,
            if any.
          example: sub_1234567890abcdefghij
        collectionMethod:
          type: string
          enum:
          - AUTOMATIC
          - SEND_REMINDER
          - NONE
          description: 'How payment is collected: AUTOMATIC, SEND_REMINDER, or NONE.'
          example: SEND_REMINDER
        totalAmount:
          type: number
          description: Computed total amount of the invoice in minor units.
          example: 150000
        currency:
          type: string
          description: ISO 4217 currency code for the invoice.
          example: MXN
        dueDate:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when payment is due.
          example: 2025-02-01 06:00:00+00:00
        expireDate:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the invoice expires.
          example: null
        organizationId:
          type: string
          description: Identifier of the organization that owns this invoice.
          example: org_1234567890abcdefghij
        isPaid:
          type: boolean
          description: Whether the invoice has been fully paid.
          example: false
        paidById:
          type: string
          nullable: true
          description: Identifier of the customer who paid the invoice.
          example: null
        amountPaid:
          type: number
          description: Total amount paid so far in minor units.
          example: 0
        beneficiaryId:
          type: string
          nullable: true
          description: Identifier of the beneficiary customer, if any.
          example: null
        allowOfftimePayment:
          type: boolean
          description: Whether payment is accepted outside the due window.
          example: false
        paidWithId:
          type: string
          nullable: true
          description: Identifier of the payment that settled the invoice.
          example: null
        canceledAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the invoice was canceled.
          example: null
        canceledById:
          type: string
          nullable: true
          description: Identifier of the user who canceled the invoice.
          example: null
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
          description: Line items included in this invoice.
          example: &id004
          - id: invi_1234567890abcdefghij
            description: Colegiatura Enero 2025
            conceptId: pc_1234567890abcdefghij
            concept: null
            quantity: 1
        meta:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Flattened metadata map where each key maps to a string value.
          example: *id003
      required:
      - id
      - createdAt
      - updatedAt
      - customerId
      - subscriptionId
      - collectionMethod
      - totalAmount
      - currency
      - dueDate
      - expireDate
      - organizationId
      - isPaid
      - paidById
      - amountPaid
      - beneficiaryId
      - allowOfftimePayment
      - paidWithId
      - canceledAt
      - canceledById
      - items
      description: Invoice details response. Returns null if the invoice does not
        exist.
    InvoiceItem:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice item.
          example: invi_1234567890abcdefghij
        description:
          type: string
          description: Human-readable description of the line item.
          example: Colegiatura Enero 2025
        conceptId:
          type: string
          nullable: true
          description: Identifier of the payment concept for this item.
          example: pc_1234567890abcdefghij
        quantity:
          type: number
          minimum: 1
          description: Quantity of units for this line item.
          example: 1
      required:
      - id
      - description
      - conceptId
      - quantity
      description: A single line item within an invoice.
    CreateInvoicePayload:
      type: object
      properties:
        invoice:
          $ref: '#/components/schemas/Invoice'
      required:
      - invoice
      description: Successful invoice creation response.
    Invoice:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the invoice.
          example: inv_1234567890abcdefghij
        createdAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the invoice was created.
          example: 2025-01-10 12:00:00+00:00
        updatedAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when the invoice was last updated.
          example: 2025-01-10 12:00:00+00:00
        customerId:
          type: string
          description: Identifier of the customer this invoice belongs to.
          example: cus_1234567890abcdefghij
        subscriptionId:
          type: string
          nullable: true
          description: Identifier of the subscription that generated this invoice,
            if any.
          example: sub_1234567890abcdefghij
        collectionMethod:
          type: string
          enum:
          - AUTOMATIC
          - SEND_REMINDER
          - NONE
          description: 'How payment is collected: AUTOMATIC, SEND_REMINDER, or NONE.'
          example: SEND_REMINDER
        totalAmount:
          type: number
          description: Computed total amount of the invoice in minor units.
          example: 150000
        currency:
          type: string
          description: ISO 4217 currency code for the invoice.
          example: MXN
        dueDate:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          description: Date and time when payment is due.
          example: 2025-02-01 06:00:00+00:00
        expireDate:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the invoice expires.
          example: null
        organizationId:
          type: string
          description: Identifier of the organization that owns this invoice.
          example: org_1234567890abcdefghij
        isPaid:
          type: boolean
          description: Whether the invoice has been fully paid.
          example: false
        paidById:
          type: string
          nullable: true
          description: Identifier of the customer who paid the invoice.
          example: null
        amountPaid:
          type: number
          description: Total amount paid so far in minor units.
          example: 0
        beneficiaryId:
          type: string
          nullable: true
          description: Identifier of the beneficiary customer, if any.
          example: null
        allowOfftimePayment:
          type: boolean
          description: Whether payment is accepted outside the due window.
          example: false
        paidWithId:
          type: string
          nullable: true
          description: Identifier of the payment that settled the invoice.
          example: null
        canceledAt:
          anyOf:
          - type: string
            description: Date string
          - type: string
            format: date-time
            description: Date object
          - nullable: true
          description: Date and time when the invoice was canceled.
          example: null
        canceledById:
          type: string
          nullable: true
          description: Identifier of the user who canceled the invoice.
          example: null
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceItem'
          description: Line items included in this invoice.
          example: *id004
        meta:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Flattened metadata map where each key maps to a string value.
          example: *id003
      required:
      - id
      - createdAt
      - updatedAt
      - customerId
      - subscriptionId
      - collectionMethod
      - totalAmount
      - currency
      - dueDate
      - expireDate
      - organizationId
      - isPaid
      - paidById
      - amountPaid
      - beneficiaryId
      - allowOfftimePayment
      - paidWithId
      - canceledAt
      - canceledById
      - items
      description: Invoice record representing a payment request sent to a customer.
    CreateInvoiceArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            dueDate:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              description: Date when the invoice is due for payment.
              example: 2025-06-01 00:00:00+00:00
            expireDate:
              anyOf:
              - type: string
                description: Date string
              - type: string
                format: date-time
                description: Date object
              - nullable: true
              description: Optional date after which the invoice can no longer be
                paid. Must be after dueDate.
              example: null
            collectionMethod:
              type: string
              enum:
              - AUTOMATIC
              - SEND_REMINDER
              - NONE
              description: 'How payment is collected: SEND_REMINDER sends a notification,
                AUTOMATIC charges a saved payment method, NONE does nothing.'
              example: SEND_REMINDER
            customerId:
              type: string
              description: Identifier of the customer being invoiced.
              example: cus_1234567890abcdefghij
            subscriptionId:
              type: string
              nullable: true
              description: Optional subscription this invoice belongs to.
              example: null
            allowOfftimePayment:
              type: boolean
              nullable: true
              description: Whether the customer can pay before the due date.
              example: null
            beneficiaryId:
              type: string
              nullable: true
              description: Optional identifier of a different customer who is the
                actual beneficiary of the invoice.
              example: null
            modifiers:
              type: array
              items:
                type: object
                properties:
                  modifierId:
                    type: string
                    description: Identifier of the price modifier to attach.
                    example: prm_1234567890abcdefghij
                required:
                - modifierId
                additionalProperties: false
              description: Price modifiers (early payment discounts or late payment
                interest) to apply to this invoice.
            discounts:
              type: array
              items:
                type: object
                properties:
                  discountId:
                    type: string
                    description: Identifier of the discount to apply.
                    example: disc_1234567890abcdefghij
                required:
                - discountId
                additionalProperties: false
              description: Discounts to apply to this invoice.
            metadata:
              type: array
              nullable: true
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: Metadata key.
                    example: student_id
                  value:
                    type: string
                    description: Metadata value.
                    example: ALU-2025-001
                required:
                - key
                - value
                additionalProperties: false
              description: Custom key-value metadata to attach to the invoice.
            items:
              type: array
              items:
                type: object
                properties:
                  conceptId:
                    type: string
                    nullable: true
                    minLength: 1
                    description: Identifier of an existing payment concept. Mutually
                      exclusive with `concept`.
                    example: pc_1234567890abcdefghij
                  concept:
                    type: object
                    nullable: true
                    properties:
                      displayName:
                        type: string
                        description: Display name shown on the invoice line item.
                        example: Colegiatura Marzo
                      amount:
                        type: number
                        minimum: 0
                        maximum: 99999999999
                        description: Unit price in minor currency units (e.g. cents).
                        example: 150000
                      currency:
                        type: string
                        description: ISO 4217 currency code.
                        example: MXN
                    required:
                    - displayName
                    - amount
                    - currency
                    additionalProperties: false
                    description: Inline concept definition. Mutually exclusive with
                      `conceptId`.
                  quantity:
                    type: number
                    nullable: true
                    minimum: 1
                    description: Number of units. Defaults to 1.
                    example: 1
                  amount:
                    type: number
                    nullable: true
                    minimum: 0
                    maximum: 99999999999
                    description: Override unit price in minor currency units. Uses
                      the concept price when omitted.
                    example: null
                  currency:
                    type: string
                    nullable: true
                    description: Override ISO 4217 currency code. Uses the concept
                      currency when omitted.
                    example: null
                  description:
                    type: string
                    nullable: true
                    minLength: 1
                    description: Override line-item description. Uses the concept
                      display name when omitted.
                    example: null
                additionalProperties: false
              minItems: 1
              maxItems: 100
              description: Line items for the invoice. Each must reference an existing
                concept or provide an inline concept.
          required:
          - dueDate
          - collectionMethod
          - customerId
          - items
          additionalProperties: false
      required:
      - input
      additionalProperties: false
      description: Request body for creating an invoice.
    UpdateInvoicePayload:
      type: object
      properties:
        invoice:
          $ref: '#/components/schemas/Invoice'
      required:
      - invoice
      description: Successful invoice update response.
    UpdateInvoiceArgs:
      type: object
      properties:
        input:
          type: object
          properties:
            data:
              type: object
              properties:
                dueDate:
                  anyOf:
                  - type: string
                    description: Date string
                  - type: string
                    format: date-time
                    description: Date object
                expireDate:
                  anyOf:
                  - type: string
                    description: Date string
                  - type: string
                    format: date-time
                    description: Date object
                  - nullable: true
                collectionMethod:
                  type: string
                  enum:
                  - AUTOMATIC
                  - SEND_REMINDER
                  - NONE
                beneficiaryId:
                  type: string
                  nullable: true
[...]
