openapi: 3.0.3
info:
  title: Pinecone API
  version: 2026-04
  description: 'Vector database for AI: index management, vector data plane, and inference
    (embed + rerank). This CLI adds local SQLite cache for index metadata, FTS over
    namespaces, multi-host data-plane access, and cross-index operations on top of
    the official 2026-04 REST API.


    Auth: API key. Set PINECONE_API_KEY.'
x-mcp:
  transport:
  - stdio
  - http
  orchestration: code
  endpoint_tools: hidden
servers:
- url: https://api.pinecone.io
paths:
  /indexes:
    get:
      tags:
      - Manage Indexes
      summary: List indexes
      description: List all indexes in a project.
      operationId: list_indexes
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      responses:
        '200':
          description: This operation returns a list of all the indexes that you have
            previously created, and which are associated with the given project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexList'
              examples:
                multiple-indexes:
                  summary: A list containing one serverless index and one pod-based
                    index.
                  value:
                    indexes:
                    - dimension: 384
                      host: semantic-search-c01b5b5.svc.us-west1-gcp.pinecone.io
                      metric: cosine
                      name: semantic-search
                      spec:
                        pod:
                          environment: us-west1-gcp
                          pod_type: p1.x1
                          pods: 4
                          replicas: 2
                          shards: 2
                      status:
                        ready: true
                        state: Ready
                      vector_type: dense
                    - dimension: 200
                      host: image-search-a31f9c1.svc.us-east1-gcp.pinecone.io
                      metric: dotproduct
                      name: image-search
                      spec:
                        serverless:
                          cloud: aws
                          read_capacity:
                            mode: OnDemand
                            status:
                              state: Ready
                          region: us-east-1
                      status:
                        ready: false
                        state: Initializing
                      vector_type: dense
                    - host: sparse-index-1a2b3c4d.svc.us-east1-gcp.pinecone.io
                      metric: dotproduct
                      name: sparse-index
                      spec:
                        serverless:
                          cloud: aws
                          read_capacity:
                            mode: OnDemand
                            status:
                              state: Ready
                          region: us-east-1
                      status:
                        ready: true
                        state: Ready
                      vector_type: sparse
                one-index:
                  summary: A list containing one serverless index.
                  value:
                    indexes:
                    - dimension: 1536
                      host: movie-embeddings-c01b5b5.svc.us-east1-gcp.pinecone.io
                      metric: cosine
                      name: movie-embeddings
                      spec:
                        serverless:
                          cloud: aws
                          read_capacity:
                            mode: OnDemand
                            status:
                              state: Ready
                          region: us-east-1
                      status:
                        ready: false
                        state: Initializing
                      vector_type: dense
                no-indexes:
                  summary: No indexes created yet.
                  value:
                    indexes: []
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    post:
      tags:
      - Manage Indexes
      summary: Create an index
      description: "Create a Pinecone index. This is where you specify the measure\
        \ of similarity, the dimension of vectors to be stored in the index, which\
        \ cloud provider you would like to deploy with, and more.\n  \nFor guidance\
        \ and examples, see [Create an index](https://docs.pinecone.io/guides/index-data/create-an-index).\n"
      operationId: create_index
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        description: The desired configuration for the index.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIndexRequest'
            examples:
              serverless-index:
                summary: Creating a serverless index
                value:
                  deletion_protection: enabled
                  dimension: 1536
                  metric: cosine
                  name: movie-recommendations
                  spec:
                    serverless:
                      cloud: gcp
                      read_capacity:
                        mode: OnDemand
                      region: us-east1
                      source_collection: movie-embeddings
              serverless-sparse-index:
                summary: Creating a sparse serverless index
                value:
                  deletion_protection: enabled
                  metric: dotproduct
                  name: sparse-index
                  spec:
                    serverless:
                      cloud: gcp
                      read_capacity:
                        mode: OnDemand
                      region: us-east1
                  vector_type: sparse
              serverless-dedicated-index:
                summary: Creating an index with dedicated capacity
                value:
                  deletion_protection: enabled
                  metric: cosine
                  name: dedicated-index
                  spec:
                    serverless:
                      cloud: gcp
                      read_capacity:
                        dedicated:
                          manual:
                            replicas: 3
                            shards: 2
                          node_type: b1
                          scaling: Manual
                        mode: Dedicated
                      region: us-east1
              pod-index:
                summary: Creating a pod-based index
                value:
                  deletion_protection: enabled
                  dimension: 1536
                  metric: cosine
                  name: movie-recommendations
                  spec:
                    pod:
                      environment: us-east-1-aws
                      metadata_config:
                        indexed:
                        - genre
                        - title
                        - imdb_rating
                      pod_type: p1.x1
                      pods: 1
                      replicas: 1
                      shards: 1
                      source_collection: movie-embeddings
        required: true
      responses:
        '201':
          description: The index has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexModel'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-metric-validation-error:
                  summary: Validation error
                  value:
                    error:
                      code: INVALID_ARGUMENT
                      message: Bad request. The request body included invalid request
                        parameters.
                    status: 400
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '402':
          description: Payment required. Organization is on a paid plan and is delinquent
            on payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                payment-required:
                  summary: Payment required
                  value:
                    error:
                      code: PAYMENT_REQUIRED
                      message: Request failed. Pay all past due invoices to lift restrictions
                        on your account.
                    status: 402
        '403':
          description: You've exceed your pod quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Forbidden
                  value:
                    error:
                      code: FORBIDDEN
                      message: Increase your quota or upgrade to create more indexes.
                    status: 403
        '404':
          description: Unknown cloud or region when creating a serverless index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                serverless-spec-cloud-not-found:
                  summary: Cannot create serverless index with invalid spec.
                  value:
                    error:
                      code: NOT_FOUND
                      message: 'Resource cloud: aws region: us-west1 not found.'
                    status: 404
        '422':
          description: Unprocessable entity. The request body could not be deserialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing-field:
                  summary: Unprocessable entity
                  value:
                    error:
                      code: UNPROCESSABLE_ENTITY
                      message: 'Failed to deserialize the JSON body into the target
                        type: missing field `metric` at line 1 column 16'
                    status: 422
        '409':
          description: Index of given name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-name-already-exists:
                  summary: Index name needs to be unique.
                  value:
                    error:
                      code: ALREADY_EXISTS
                      message: Resource already exists.
                    status: 409
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /indexes/{index_name}:
    get:
      tags:
      - Manage Indexes
      summary: Describe an index
      description: Get a description of an index.
      operationId: describe_index
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: index_name
        description: The name of the index to be described.
        required: true
        schema:
          type: string
        example: test-index
        style: simple
      responses:
        '200':
          description: Configuration information and deployment status of the index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexModel'
              examples:
                movie-recommendations-serverless:
                  summary: A serverless index
                  value:
                    dimension: 1536
                    host: movie-recommendations-c01b5b5.svc.us-east1-gcp.pinecone.io
                    metric: cosine
                    name: movie-recommendations
                    spec:
                      serverless:
                        cloud: aws
                        read_capacity:
                          mode: OnDemand
                          status:
                            state: Ready
                        region: us-east-1
                        schema:
                          fields:
                            genre:
                              filterable: true
                            title:
                              filterable: true
                    status:
                      ready: false
                      state: Initializing
                    vector_type: dense
                movie-recommendations-pod:
                  summary: A pod-based index
                  value:
                    dimension: 1536
                    host: movie-recommendations-c01b5b5.svc.us-east1-gcp.pinecone.io
                    metric: cosine
                    name: movie-recommendations
                    spec:
                      pod:
                        environment: us-east-1-aws
                        metadata_config:
                          indexed:
                          - genre
                          - title
                          - imdb_rating
                        pod_type: p1.x1
                        pods: 1
                        replicas: 1
                        shards: 1
                    status:
                      ready: false
                      state: Initializing
                    vector_type: dense
          links:
            UpsertVector:
              operationId: upsert
              server:
                url: $response.body#/host
            UpdateVector:
              operationId: update
              server:
                url: $response.body#/host
            QueryVector:
              operationId: query
              server:
                url: $response.body#/host
            FetchVector:
              operationId: fetch
              server:
                url: $response.body#/host
            DeleteOneVector:
              operationId: delete1
              server:
                url: $response.body#/host
            DeleteVector:
              operationId: delete
              server:
                url: $response.body#/host
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Index not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-not-found:
                  summary: Index not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Index example-index not found.
                    status: 404
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    delete:
      tags:
      - Manage Indexes
      summary: Delete an index
      description: Delete an existing index.
      operationId: delete_index
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: index_name
        description: The name of the index to delete.
        required: true
        schema:
          type: string
        example: test-index
        style: simple
      responses:
        '202':
          description: The request to delete the index has been accepted.
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '403':
          description: Forbidden. Deletion protection enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                deletion-protection:
                  summary: Forbidden
                  value:
                    error:
                      code: FORBIDDEN
                      message: Deletion protection is enabled for this index. Disable
                        deletion protection before retrying.
                    status: 403
        '404':
          description: Index not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-not-found:
                  summary: Index not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Index example-index not found.
                    status: 404
        '412':
          description: There is a pending collection created from this index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                pending-collection:
                  summary: There is a pending collection from this index.
                  value:
                    error:
                      code: FAILED_PRECONDITION
                      message: 'Unable to delete an index. There are pending collections
                        for this index: [''test-collection'']'
                    status: 412
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    patch:
      tags:
      - Manage Indexes
      summary: Configure an index
      description: Configure an existing index. For guidance and examples, see [Manage
        indexes](https://docs.pinecone.io/guides/manage-data/manage-indexes).
      operationId: configure_index
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: index_name
        description: The name of the index to configure.
        required: true
        schema:
          type: string
        example: test-index
        style: simple
      requestBody:
        description: The desired pod size and replica configuration for the index.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigureIndexRequest'
            examples:
              vertical-scaling:
                summary: Vertical scaling with pod size
                value:
                  spec:
                    pod:
                      pod_type: p1.x2
              horizontal-scaling:
                summary: Horizontal scaling with replicas
                value:
                  spec:
                    pod:
                      replicas: 4
              scaling-both:
                summary: Scaling both pod size and number of replicas
                value:
                  spec:
                    pod:
                      pod_type: p1.x2
                      replicas: 4
              disable-deletion-protection:
                summary: Disable deletion protection for the index
                value:
                  delete_protection: disabled
              update-index-tags:
                summary: Update tag0 and delete tag1
                value:
                  tags:
                    tag0: new-val
                    tag1: ''
        required: true
      responses:
        '202':
          description: The request to configure the index has been accepted. Check
            the  index status to see when the change has been applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexModel'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-metric-validation-error:
                  summary: Validation error
                  value:
                    error:
                      code: INVALID_ARGUMENT
                      message: Bad request. The request body included invalid request
                        parameters.
                    status: 400
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '402':
          description: Payment required. Organization is on a paid plan and is delinquent
            on payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                payment-required:
                  summary: Payment required
                  value:
                    error:
                      code: PAYMENT_REQUIRED
                      message: Request failed. Pay all past due invoices to lift restrictions
                        on your account.
                    status: 402
        '403':
          description: You've exceed your pod quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Forbidden
                  value:
                    error:
                      code: FORBIDDEN
                      message: Increase your quota or upgrade to create more indexes.
                    status: 403
        '404':
          description: Index not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-not-found:
                  summary: Index not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Index example-index not found.
                    status: 404
        '422':
          description: Unprocessable entity. The request body could not be deserialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing-field:
                  summary: Unprocessable entity
                  value:
                    error:
                      code: UNPROCESSABLE_ENTITY
                      message: 'Failed to deserialize the JSON body into the target
                        type: missing field `metric` at line 1 column 16'
                    status: 422
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /indexes/{index_name}/backups:
    get:
      tags:
      - Manage Indexes
      summary: List backups for an index
      description: List all backups for an index.
      operationId: list_index_backups
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: index_name
        description: Name of the backed up index
        required: true
        schema:
          type: string
        style: simple
      - in: query
        name: limit
        description: The number of results to return per page.
        schema:
          default: 10
          type: integer
          minimum: 1
          maximum: 100
        style: form
      - in: query
        name: paginationToken
        description: The token to use to retrieve the next page of results.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: This operation returns a list of all the backups that you have
            previously created, and which are associated with the given index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList'
              examples:
                backups:
                  summary: A list containing backups.
                  value:
                    data:
                    - backup_id: bkp_123abc
                      cloud: aws
                      created_at: 2024-03-15 10:30:00+00:00
                      description: Monthly backup of production index
                      dimension: 1536
                      metric: cosine
                      name: backup_2024_03_15
                      namespace_count: 3
                      record_count: 120000
                      region: us-east-1
                      schema:
                        fields:
                          genre:
                            filterable: true
                          title:
                            filterable: true
                      size_bytes: 10000000
                      source_index_id: idx_456
                      source_index_name: my-index
                      status: Ready
                      tags:
                        environment: production
                        type: monthly
                    - backup_id: bkp_789xyz
                      cloud: aws
                      created_at: 2024-03-20 15:45:00+00:00
                      description: Pre-deployment safety backup
                      dimension: 1536
                      metric: cosine
                      name: backup_2024_03_20
                      namespace_count: 4
                      record_count: 125000
                      region: us-east-1
                      schema:
                        fields:
                          genre:
                            filterable: true
                          title:
                            filterable: true
                      size_bytes: 10500000
                      source_index_id: idx_456
                      source_index_name: my-index
                      status: Ready
                      tags:
                        environment: production
                        type: pre-deploy
                    pagination:
                      next: dXNlcl9pZD11c2VyXzE=
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Index not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-not-found:
                  summary: Index not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Index example-index not found.
                    status: 404
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    post:
      tags:
      - Manage Indexes
      summary: Create a backup of an index
      description: 'Create a backup of an index.

        '
      operationId: create_backup
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: index_name
        description: Name of the index to backup
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        description: The desired configuration for the backup.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBackupRequest'
            examples:
              backup-index-no-name:
                summary: Creating a backup of an index with no name
                value: {}
              backup-index-with-name:
                summary: Creating a backup of an index with a name
                value:
                  name: backup-index
              backup-index-with-name-and-description:
                summary: Creating a backup of an index with a name and description
                value:
                  description: Backup of the index
                  name: backup-index
        required: true
      responses:
        '201':
          description: The backup has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupModel'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-metric-validation-error:
                  summary: Validation error
                  value:
                    error:
                      code: INVALID_ARGUMENT
                      message: Bad request. The request body included invalid request
                        parameters.
                    status: 400
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '402':
          description: Payment required. Organization is on a paid plan and is delinquent
            on payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                payment-required:
                  summary: Payment required
                  value:
                    error:
                      code: PAYMENT_REQUIRED
                      message: Request failed. Pay all past due invoices to lift restrictions
                        on your account.
                    status: 402
        '403':
          description: You've exceed your backup quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Forbidden
                  value:
                    error:
                      code: FORBIDDEN
                      message: Increase your quota or upgrade to create more backups.
                    status: 403
        '422':
          description: Unprocessable entity. The request body could not be deserialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing-field:
                  summary: Unprocessable entity
                  value:
                    error:
                      code: UNPROCESSABLE_ENTITY
                      message: 'Failed to deserialize the JSON body into the target
                        type: missing field `metric` at line 1 column 16'
                    status: 422
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /collections:
    get:
      tags:
      - Manage Indexes
      summary: List collections
      description: 'List all collections in a project.

        Serverless indexes do not support collections.

        '
      operationId: list_collections
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      responses:
        '200':
          description: List all the collections in your current project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionList'
              examples:
                multiple-collections:
                  summary: Multiple collections with different states
                  value:
                    collections:
                    - dimension: 3
                      environment: us-east1-gcp
                      name: small-collection
                      size: 3126700
                      status: Ready
                      vector_count: 99
                    - dimension: 3
                      environment: us-east1-gcp
                      name: small-collection-new
                      size: 3126700
                      status: Initializing
                      vector_count: 99
                    - dimension: 1536
                      environment: us-east1-gcp
                      name: big-collection
                      size: 160087040000000
                      status: Ready
                      vector_count: 10000000
                no-collections:
                  summary: No collections created yet
                  value:
                    collections: []
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    post:
      tags:
      - Manage Indexes
      summary: Create a collection
      description: "Create a Pinecone collection.\n  \nServerless indexes do not support\
        \ collections.\n"
      operationId: create_collection
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        description: The desired configuration for the collection.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
            examples:
              creating-collection:
                summary: Creating a collection
                value:
                  name: example-collection
                  source: example-source-index
        required: true
      responses:
        '201':
          description: The collection has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionModel'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-metric-validation-error:
                  summary: Validation error
                  value:
                    error:
                      code: INVALID_ARGUMENT
                      message: Bad request. The request body included invalid request
                        parameters.
                    status: 400
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '402':
          description: Payment required. Organization is on a paid plan and is delinquent
            on payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                payment-required:
                  summary: Payment required
                  value:
                    error:
                      code: PAYMENT_REQUIRED
                      message: Request failed. Pay all past due invoices to lift restrictions
                        on your account.
                    status: 402
        '403':
          description: You've exceed your collections quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Forbidden
                  value:
                    error:
                      code: FORBIDDEN
                      message: Collection exceeds quota. Maximum allowed on your account
                        is 1. Currently have 1.
                    status: 403
        '409':
          description: Collection of given name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                collection-name-already-exists:
                  summary: Collection name needs to be unique.
                  value:
                    error:
                      code: ALREADY_EXISTS
                      message: Resource already exists.
                    status: 409
        '422':
          description: Unprocessable entity. The request body could not be deserialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing-field:
                  summary: Unprocessable entity
                  value:
                    error:
                      code: UNPROCESSABLE_ENTITY
                      message: 'Failed to deserialize the JSON body into the target
                        type: missing field `metric` at line 1 column 16'
                    status: 422
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /indexes/create-for-model:
    post:
      tags:
      - Manage Indexes
      summary: Create an index with integrated embedding
      description: "Create an index with integrated embedding.\nWith this type of\
        \ index, you provide source text, and  Pinecone uses a [hosted embedding model](https://docs.pinecone.io/guides/index-data/create-an-index#embedding-models)\
        \  to convert the text automatically during [upsert](https://docs.pinecone.io/reference/api/2026-04/data-plane/upsert_records)\
        \  and [search](https://docs.pinecone.io/reference/api/2026-04/data-plane/search_records).\
        \  \nFor guidance and examples, see [Create an index](https://docs.pinecone.io/guides/index-data/create-an-index#integrated-embedding)."
      operationId: create_index_for_model
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        description: The desired configuration for the index and associated embedding
          model.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIndexForModelRequest'
            examples:
              index-for-model:
                summary: Creating a serverless index for the specified model
                value:
                  cloud: gcp
                  deletion_protection: enabled
                  embed:
                    field_map:
                      text: your-text-field
                    metric: cosine
                    model: multilingual-e5-large
                  name: multilingual-e5-large-index
                  region: us-east1
        required: true
      responses:
        '201':
          description: The index has successfully been created for the embedding model.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexModel'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-metric-validation-error:
                  summary: Validation error
                  value:
                    error:
                      code: INVALID_ARGUMENT
                      message: Bad request. The request body included invalid request
                        parameters.
                    status: 400
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Unknown cloud or region when creating a serverless index.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                serverless-spec-cloud-not-found:
                  summary: Cannot create serverless index with invalid spec.
                  value:
                    error:
                      code: NOT_FOUND
                      message: 'Resource cloud: aws region: us-west1 not found.'
                    status: 404
        '409':
          description: Index of given name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-name-already-exists:
                  summary: Index name needs to be unique
                  value:
                    error:
                      code: ALREADY_EXISTS
                      message: Resource already exists.
                    status: 409
        '422':
          description: Unprocessable entity. The request body could not be deserialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing-field:
                  summary: Unprocessable entity
                  value:
                    error:
                      code: UNPROCESSABLE_ENTITY
                      message: 'Failed to deserialize the JSON body into the target
                        type: missing field `metric` at line 1 column 16'
                    status: 422
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /backups:
    get:
      tags:
      - Manage Indexes
      summary: List backups for all indexes in a project
      description: List all backups for a project.
      operationId: list_project_backups
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: query
        name: limit
        description: The number of results to return per page.
        schema:
          default: 10
          type: integer
          minimum: 1
          maximum: 100
        style: form
      - in: query
        name: paginationToken
        description: The token to use to retrieve the next page of results.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: This operation returns a list of all the backups for the given
            index that you have previously created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupList'
              examples:
                backups:
                  summary: A list containing backups.
                  value:
                    data:
                    - backup_id: 670e8400-e29b-41d4-a716-446655440000
                      cloud: aws
                      created_at: 2024-03-15 10:30:00+00:00
                      description: Monthly backup of production index
                      dimension: 1536
                      metric: cosine
                      name: backup_2024_03_15
                      namespace_count: 3
                      record_count: 120000
                      region: us-east-1
                      schema:
                        fields:
                          genre:
                            filterable: true
                          title:
                            filterable: true
                      size_bytes: 10000000
                      source_index_id: idx_456
                      source_index_name: my-index
                      status: Ready
                      tags:
                        environment: production
                        type: monthly
                    - backup_id: 670e8400-e29b-41d4-a716-446655440001
                      cloud: aws
                      created_at: 2024-03-20 15:45:00+00:00
                      description: Pre-deployment safety backup
                      dimension: 1536
                      metric: cosine
                      name: backup_2024_03_20
                      namespace_count: 4
                      record_count: 125000
                      region: us-east-1
                      schema:
                        fields:
                          genre:
                            filterable: true
                          title:
                            filterable: true
                      size_bytes: 10500000
                      source_index_id: idx_789
                      source_index_name: my-index-2
                      status: Ready
                      tags:
                        environment: production
                        type: pre-deploy
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /backups/{backup_id}:
    get:
      tags:
      - Manage Indexes
      summary: Describe a backup
      description: Get a description of a backup.
      operationId: describe_backup
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: backup_id
        description: The ID of the backup to describe.
        required: true
        schema:
          type: string
        example: 670e8400-e29b-41d4-a716-446655440000
        style: simple
      responses:
        '200':
          description: Configuration information and deployment status of the backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupModel'
              examples:
                backup:
                  summary: A backup
                  value:
                    backup_id: 670e8400-e29b-41d4-a716-446655440000
                    cloud: aws
                    created_at: 2024-03-15 10:30:00+00:00
                    description: Monthly backup of production index
                    dimension: 1536
                    metric: cosine
                    name: backup_2024_03_15
                    namespace_count: 3
                    record_count: 120000
                    region: us-east-1
                    schema:
                      fields:
                        genre:
                          filterable: true
                        title:
                          filterable: true
                    size_bytes: 10000000
                    source_index_id: 670e8400-e29b-41d4-a716-446655440001
                    source_index_name: my-index
                    status: Ready
                    tags:
                      environment: production
                      type: monthly
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Backup not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                backup-not-found:
                  summary: Backup not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Backup bkp_123abc not found.
                    status: 404
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    delete:
      tags:
      - Manage Indexes
      summary: Delete a backup
      description: Delete a backup.
      operationId: delete_backup
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: backup_id
        description: The ID of the backup to delete.
        required: true
        schema:
          type: string
        example: 670e8400-e29b-41d4-a716-446655440000
        style: simple
      responses:
        '202':
          description: The request to delete the backup has been accepted.
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Backup not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                backup-not-found:
                  summary: Backup not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Backup bkp_123abc not found.
                    status: 404
        '412':
          description: There is a pending restore job created from this backup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                pending-restore:
                  summary: There is a pending restore job from this backup.
                  value:
                    error:
                      code: FAILED_PRECONDITION
                      message: 'Unable to delete backup. There are pending restore
                        jobs for this backup: [''670e8400-e29b-41d4-a716-446655440000'']'
                    status: 412
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /backups/{backup_id}/create-index:
    post:
      tags:
      - Manage Indexes
      summary: Create an index from a backup
      description: Create an index from a backup.
      operationId: create_index_from_backup_operation
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: backup_id
        description: The ID of the backup to create an index from.
        required: true
        schema:
          type: string
        example: 670e8400-e29b-41d4-a716-446655440000
        style: simple
      requestBody:
        description: The desired configuration for the index created from a backup.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIndexFromBackupRequest'
        required: true
      responses:
        '202':
          description: The request to create the index has been accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIndexFromBackupResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                index-metric-validation-error:
                  summary: Validation error
                  value:
                    error:
                      code: INVALID_ARGUMENT
                      message: Bad request. The request body included invalid request
                        parameters.
                    status: 400
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '402':
          description: Payment required. Organization is on a paid plan and is delinquent
            on payment.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                payment-required:
                  summary: Payment required
                  value:
                    error:
                      code: PAYMENT_REQUIRED
                      message: Request failed. Pay all past due invoices to lift restrictions
                        on your account.
                    status: 402
        '403':
          description: You've exceed your pod quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Forbidden
                  value:
                    error:
                      code: FORBIDDEN
                      message: Increase your quota or upgrade to create more indexes.
                    status: 403
        '404':
          description: Backup not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                backup-not-found:
                  summary: Backup not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Backup bkp_123abc not found.
                    status: 404
        '409':
          description: Index of given name already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity. The request body could not be deserialized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                missing-field:
                  summary: Unprocessable entity
                  value:
                    error:
                      code: UNPROCESSABLE_ENTITY
                      message: 'Failed to deserialize the JSON body into the target
                        type: missing field `metric` at line 1 column 16'
                    status: 422
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /restore-jobs:
    get:
      tags:
      - Manage Indexes
      summary: List restore jobs
      description: List all restore jobs for a project.
      operationId: list_restore_jobs
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: query
        name: limit
        description: The number of results to return per page.
        schema:
          default: 10
          type: integer
          minimum: 1
          maximum: 100
        style: form
      - in: query
        name: paginationToken
        description: The token to use to retrieve the next page of results.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: This operation returns a list of all the restore jobs that
            you have previously created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreJobList'
              examples:
                paginated-restore-jobs:
                  summary: A list containing restore jobs.
                  value:
                    data:
                    - backup_id: 670e8400-e29b-41d4-a716-446655440000
                      completed_at: 2024-03-15 10:35:00+00:00
                      created_at: 2024-03-15 10:30:00+00:00
                      percent_complete: 100
                      restore_job_id: 670e8400-e29b-41d4-a716-446655440001
                      status: Completed
                      target_index_id: idx_456
                      target_index_name: my-index
                    pagination:
                      next: dXNlcl9pZD11c2VyXzE=
                non-paginated-restore-jobs:
                  summary: A list containing restore jobs.
                  value:
                    data:
                    - backup_id: 670e8400-e29b-41d4-a716-446655440000
                      completed_at: 2024-03-15 10:35:00+00:00
                      created_at: 2024-03-15 10:30:00+00:00
                      percent_complete: 100
                      restore_job_id: 670e8400-e29b-41d4-a716-446655440001
                      status: Completed
                      target_index_id: idx_456
                      target_index_name: my-index
                    pagination: null
                no-restore-jobs:
                  summary: An empty list.
                  value:
                    data: []
                    pagination: null
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /restore-jobs/{job_id}:
    get:
      tags:
      - Manage Indexes
      summary: Describe a restore job
      description: Get a description of a restore job.
      operationId: describe_restore_job
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: job_id
        description: The ID of the restore job to describe.
        required: true
        schema:
          type: string
        example: 670e8400-e29b-41d4-a716-446655440000
        style: simple
      responses:
        '200':
          description: Configuration information and deployment status of the restore
            job.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestoreJobModel'
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Restore job not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                restore-job-not-found:
                  summary: Restore job not found
                  value:
                    error:
                      code: NOT_FOUND
                      message: Restore job 670e8400-e29b-41d4-a716-446655440002 not
                        found.
                    status: 404
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /collections/{collection_name}:
    get:
      tags:
      - Manage Indexes
      summary: Describe a collection
      description: 'Get a description of a collection.

        Serverless indexes do not support collections.

        '
      operationId: describe_collection
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: collection_name
        description: The name of the collection to be described.
        required: true
        schema:
          type: string
        example: tiny-collection
        style: simple
      responses:
        '200':
          description: Configuration information and status of the collection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionModel'
              examples:
                tiny-collection:
                  summary: A small collection.
                  value:
                    dimension: 3
                    environment: us-east1-gcp
                    name: tiny-collection
                    size: 3126700
                    status: Ready
                    vector_count: 99
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Collection not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                collection-not-found:
                  summary: Collection not found.
                  value:
                    error:
                      code: NOT_FOUND
                      message: Collection example-collection not found.
                    status: 404
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
    delete:
      tags:
      - Manage Indexes
      summary: Delete a collection
      description: 'Delete an existing collection.

        Serverless indexes do not support collections.

        '
      operationId: delete_collection
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: collection_name
        description: The name of the collection.
        required: true
        schema:
          type: string
        example: test-collection
        style: simple
      responses:
        '202':
          description: The collection has been successfully deleted.
        '401':
          description: 'Unauthorized. Possible causes: Invalid API key.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                unauthorized:
                  summary: Unauthorized
                  value:
                    error:
                      code: UNAUTHENTICATED
                      message: Invalid API key.
                    status: 401
        '404':
          description: Collection not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                collection-not-found:
                  summary: Collection not found.
                  value:
                    error:
                      code: NOT_FOUND
                      message: Collection example-collection not found.
                    status: 404
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                internal-server-error:
                  summary: Internal server error
                  value:
                    error:
                      code: UNKNOWN
                      message: Internal server error
                    status: 500
  /bulk/imports:
    get:
      tags:
      - Bulk Operations
      summary: List imports
      description: 'List all recent and ongoing import operations.


        By default, `list_imports` returns up to 100 imports per page. If the `limit`
        parameter is set, `list` returns up to that number of imports instead. Whenever
        there are additional IDs to return, the response also includes a `pagination_token`
        that you can use to get the next batch of imports. When the response does
        not include a `pagination_token`, there are no more imports to return.


        For guidance and examples, see [Import data](https://docs.pinecone.io/guides/index-data/import-data).'
      operationId: listBulkImports
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: query
        name: limit
        description: Max number of operations to return per page.
        schema:
          default: 100
          type: integer
          format: int32
          minimum: 1
          maximum: 100
        example: 10
        style: form
      - in: query
        name: paginationToken
        description: Pagination token to continue a previous listing operation.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A list of import operations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportsResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
    post:
      tags:
      - Bulk Operations
      summary: Start import
      description: 'Start an asynchronous import of vectors from object storage into
        an index.


        For guidance and examples, see [Import data](https://docs.pinecone.io/guides/index-data/import-data).'
      operationId: startBulkImport
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartImportRequest'
        required: true
      responses:
        '200':
          description: Successful import operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartImportResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /bulk/imports/{id}:
    get:
      tags:
      - Bulk Operations
      summary: Describe an import
      description: 'Return details of a specific import operation.


        For guidance and examples, see [Import data](https://docs.pinecone.io/guides/index-data/import-data).'
      operationId: describeBulkImport
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: id
        description: Unique identifier for the import operation.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 1000
        example: '101'
        style: simple
      responses:
        '200':
          description: Details of the import operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportModel'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
    delete:
      tags:
      - Bulk Operations
      summary: Cancel an import
      description: 'Cancel an import operation if it is not yet finished. It has no
        effect if the operation is already finished.


        For guidance and examples, see [Import data](https://docs.pinecone.io/guides/index-data/import-data).'
      operationId: cancelBulkImport
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: path
        name: id
        description: Unique identifier for the import operation.
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 1000
        example: '101'
        style: simple
      responses:
        '200':
          description: Operation cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelImportResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /describe_index_stats:
    post:
      tags:
      - Vector Operations
      summary: Get index stats
      description: 'Return statistics about the contents of an index, including the
        vector count per namespace, the number of dimensions, and the index fullness.


        Serverless indexes scale automatically as needed, so index fullness is relevant
        only for pod-based indexes.'
      operationId: describeIndexStats
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeIndexStatsRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IndexDescription'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /query:
    post:
      tags:
      - Vector Operations
      summary: Search with a vector
      description: 'Search a namespace using a query vector. It retrieves the ids
        of the most similar items in a namespace, along with their similarity scores.


        For guidance, examples, and limits, see [Search](https://docs.pinecone.io/guides/search/search-overview).'
      operationId: queryVectors
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /vectors/delete:
    post:
      tags:
      - Vector Operations
      summary: Delete records
      description: 'Delete records by id or by metadata from a single namespace.


        For guidance and examples, see [Delete data](https://docs.pinecone.io/guides/manage-data/delete-data).'
      operationId: deleteVectors
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /vectors/fetch:
    get:
      tags:
      - Vector Operations
      summary: Fetch records
      description: 'Look up and return records by ID from a single namespace. The
        returned records include the vector data and/or metadata.

        For on-demand indexes, since vector values are retrieved from object storage,
        fetch operations may have increased latency. If you only need metadata or
        IDs, consider using the query operation with `includeValues` set to `false`
        instead.

        For guidance and examples, see [Fetch data](https://docs.pinecone.io/guides/manage-data/fetch-data).'
      operationId: fetchVectors
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: query
        name: ids
        description: The vector IDs to fetch. Does not accept values containing spaces.
        required: true
        schema:
          type: array
          items:
            type: string
        explode: true
        style: form
      - in: query
        name: namespace
        description: The namespace to fetch records from. If not provided, the default
          namespace is used.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /vectors/fetch_by_metadata:
    post:
      tags:
      - Vector Operations
      summary: Fetch records by metadata
      description: 'Look up and return records by metadata from a single namespace.
        The returned records include the vector data and metadata.

        For guidance and examples, see [Fetch data](https://docs.pinecone.io/guides/manage-data/fetch-data).'
      operationId: fetch_vectors_by_metadata
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchByMetadataRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchByMetadataResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /vectors/list:
    get:
      tags:
      - Vector Operations
      summary: List record IDs
      description: 'List the IDs of records in a single namespace of a serverless
        index. An optional prefix can be passed to limit the results to IDs with a
        common prefix.


        Returns up to 100 IDs at a time by default in sorted order (bitwise "C" collation).
        If the `limit` parameter is set, `list` returns up to that number of IDs instead.
        Whenever there are additional IDs to return, the response also includes a
        `pagination_token` that you can use to get the next batch of IDs. When the
        response does not include a `pagination_token`, there are no more IDs to return.


        For guidance and examples, see [List record IDs](https://docs.pinecone.io/guides/manage-data/list-record-ids).


        **Note:** `list` is supported only for serverless indexes.'
      operationId: listVectors
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      - in: query
        name: prefix
        description: The vector IDs to fetch. Does not accept values containing spaces.
        schema:
          type: string
        style: form
      - in: query
        name: limit
        description: Max number of IDs to return per page.
        schema:
          default: 100
          type: integer
          format: int64
        style: form
      - in: query
        name: paginationToken
        description: Pagination token to continue a previous listing operation.
        schema:
          type: string
        style: form
      - in: query
        name: namespace
        description: The namespace to list vectors from. If not provided, the default
          namespace is used.
        schema:
          type: string
        style: form
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /vectors/update:
    post:
      tags:
      - Vector Operations
      summary: Update a record
      description: 'Update records by ID or by metadata in a namespace. Updating by
        ID changes the vector and/or metadata of a single record. Updating by metadata
        changes metadata across multiple records using a metadata filter.

        If a vector value is included, it will overwrite the previous value. If `set_metadata`
        is included, only the specified metadata fields are modified, and if a specified
        metadata field does not exist, it is added.

        For guidance and examples, see [Update data](https://docs.pinecone.io/guides/manage-data/update-data).'
      operationId: updateVector
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        5XX:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      x-pinecone-data-plane: true
  /vectors/upsert:
    post:
      tags:
      - Vector Operations
      summary: Upsert records
      description: 'Upsert records into a namespace. If a new value is upserted for
        an existing record ID, it will overwrite the previous value.


        For guidance, examples, and limits, see [Upsert data](https://docs.pinecone.io/guides/index-data/upsert-data).'
      operationId: upsertVectors
      parameters:
      - in: header
        name: X-Pinecone-Api-Version
        description: Required date-based version header
        required: true
        schema:
          default: 2026-04
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertRequest'
        required: true
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertResponse'
        '400':
          description: Bad request. The request body included invalid request parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
        4XX:
[...]
