{
  "openapi": "3.0.1",
  "info": {
    "title": "TSDR REST API Specification",
    "description": "Beginning on October 2, 2020, you will need an API key to access the TSDR REST API See https://account.uspto.gov/api-manager and the uspto's TSDR Data API webpage for more information on retrieving bulk data.\n\n Click on the Authorize box and enter your api key.  It is required and will be sent on all requests.\n\n This uses the uspto's swagger object with a number of changes.  The uspto's api does not allow browser request (CORS issues) so requests from this page will not actually work.  The generated curl commands will work and the modified swagger object can be imported into postman.",
    "version": "version 1"
  },
  "servers": [
    {
      "url": "https://tsdrapi.uspto.gov/ts/cd/"
    }
  ],
  "security": [
    {
      "APIKeyHeader": []
    }
  ],
  "paths": {
    "/rawImage/{serial_number}": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Returns an image for the serial number specified.",
        "description": "Parameter is the digits only of the serial number, no leading sn. Example: https://tsdrapi.uspto.gov/ts/cd/rawImage/78787878",
        "operationId": "getImage",
        "parameters": [
          {
            "name": "serial_number",
            "in": "path",
            "description": "digits only",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the serial number's image",
            "content": {}
          },
          "400": {
            "description": "Invalid format for the serial number parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Image for the serial number specified does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/caseMultiStatus/{type}": {
      "get": {
        "tags": [
          "Resource for retrieving data for multiple cases."
        ],
        "summary": "Returns case details for multiple cases as a JSON.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/caseMultiStatus/sn?ids=78787878,76767676",
        "operationId": "getList",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "from is one of the number types listed above",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "to is one of the number types listed above",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "can be serial numbers, ref numbers, reg numbers seperated by commas",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "type:\n * `sn` - serial number(s)\n * `rn` - registration number(s)\n * `ref` - reference number(s)\n * `ir` -  Madrid number(s)\n",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sn",
                "rn",
                "ref",
                "ir"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of Controller for retrieving data for multiple cases",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionBag"
                }
              }
            }
          },
          "204": {
            "description": "Controller for retrieving data for multiple cases is empty ",
            "content": {}
          },
          "400": {
            "description": "Invalid format for multiple cases parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Controller for retrieving data for multiple cases is does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedoc/{caseid}/{docid}/content.pdf": {
      "get": {
        "tags": [
          "Resource for retrieving information and content pertaining to a single case document, including the individuals pages thereof"
        ],
        "summary": "Returns the content of a Document in PDF format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedoc/sn78787878/NOA20070926100613/content.pdf",
        "operationId": "getDocumentContentPdf",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "description": "Auto generated Unique Document ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of ZIP file for case ID parameter & Document Id  ",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "204": {
            "description": "No Documents for the  case ID parameter & Document Id",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter & Document Id",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for case ID parameter & Document Id does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedoc/{caseid}/{docid}/content.zip": {
      "get": {
        "tags": [
          "Resource for retrieving information and content pertaining to a single case document, including the individuals pages thereof"
        ],
        "summary": "Returns the content of a Document in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedoc/sn78787878/NOA20070926100613/content.zip",
        "operationId": "getDocumentContentZip",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "description": "Auto generated Unique Document ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of ZIP file for case ID parameter & Document Id  ",
            "content": {
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "204": {
            "description": "No Documents for the  case ID parameter & Document Id",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter & Document Id",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for case ID parameter & Document Id does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedoc/{caseid}/{docid}/download.pdf": {
      "get": {
        "tags": [
          "Resource for retrieving information and content pertaining to a single case document, including the individuals pages thereof"
        ],
        "summary": " Returns the content of a Document in PDF format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedoc/sn78787878/NOA20070926100613/download.pdf",
        "operationId": "getDocumentContentPdfDownload",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "description": "Auto generated Unique Document ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of PDF document for case ID parameter & Document Id  ",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "204": {
            "description": "No PDF Document for the  case ID parameter & Document Id",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter & Document Id",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for case ID parameter & Document Id does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedoc/{caseid}/{docid}/download.zip": {
      "get": {
        "tags": [
          "Resource for retrieving information and content pertaining to a single case document, including the individuals pages thereof"
        ],
        "summary": " Returns the content of a Document in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedoc/sn78787878/NOA20070926100613/download.zip",
        "operationId": "getDocumentContentZipDownload",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "description": "Auto generated Unique Document ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of PDF document for case ID parameter & Document Id  ",
            "content": {
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "204": {
            "description": "No PDF Document for the  case ID parameter & Document Id",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter & Document Id",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for case ID parameter & Document Id does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedoc/{caseid}/{docid}/info": {
      "get": {
        "tags": [
          "Resource for retrieving information and content pertaining to a single case document, including the individuals pages thereof"
        ],
        "summary": "Returns the metadata of a Document in XML for case identified by case ID",
        "operationId": "getDocumentInfoXml",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "description": "Auto generated Unique Document ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of Document metadata information",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedoc/{caseid}/{docid}/{pageid}/media": {
      "get": {
        "tags": [
          "Resource for retrieving information and content pertaining to a single case document, including the individuals pages thereof"
        ],
        "summary": "Returns the page content as a NATIVE format",
        "operationId": "getPageContentMedia",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "docid",
            "in": "path",
            "description": "Auto generated Unique Document ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageid",
            "in": "path",
            "description": "Page Number",
            "required": true,
            "schema": {
              "pattern": " [1-9][0-9]*",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of page content for case ID parameter & Document Id  ",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Page"
                }
              }
            }
          },
          "204": {
            "description": "No pages for the  case ID parameter & Document Id",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter & Document Id",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for case ID parameter & Document Id does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/bundle.xml": {
      "get": {
        "tags": [
          "Resource for retrieving data for multiple cases."
        ],
        "summary": " Obtains metadata for a document bundle for the given query params in XML format.",
        "description": "Digits can be entered in one of the first four parameters. rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Examples: https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.xml?sn=75757575,78787878 Metadata (in XML) about all documents for Serial Number 75008897 sent/received during 2006 https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.xml?sn=75008897&fromdate=2006-01-01&todate=2006-12-31 Metadata (in XML) about all documents for International Registration Number 0835690 sorted from earliest to latest https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.xml?ir=0835690&sort=date:A\n\nNote: exactly one of rn,sn,ref,ir must be specified, like sn or ir in the examples",
        "operationId": "getBundleInfoXml",
        "parameters": [
          {
            "name": "rn",
            "in": "query",
            "description": "comma separated US registration nbr(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sn",
            "in": "query",
            "description": "comma separated US serial number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "comma separated Madrid number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ir",
            "in": "query",
            "description": "comma separated Madrid number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fromdate",
            "in": "query",
            "description": "start of date range",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "todate",
            "in": "query",
            "description": "end of date range",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort field:[A|D] for ascending or descending",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/bundle.pdf": {
      "get": {
        "tags": [
          "Resource for retrieving data for multiple cases."
        ],
        "summary": " Obtains metadata for a document bundle for the given query params in PDF format.",
        "description": "Digits can be entered in one of the first four parameters. rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Examples: https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.pdf?sn=75757575,78787878 or https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.pdf?sn=72131351,76515878&type=SPE Documents sent/received on Nov 30th, 2003 for Serial Number 72-131351 as a PDF https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.pdf?sn=72131351&date=2003-11-30  \n\nNote: exactly one of rn,sn,ref,ir must be specified, like sn in the examples",
        "operationId": "getBundleInfoPdf",
        "parameters": [
          {
            "name": "rn",
            "in": "query",
            "description": "comma separated US registration nbr(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sn",
            "in": "query",
            "description": "comma separated US serial number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "comma separated Madrid number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ir",
            "in": "query",
            "description": "comma separated Madrid number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "set to RC to retrieve only registration certificate(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "set to SPE to retrieve only specimens",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "specific send/receive date",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/bundle.zip": {
      "get": {
        "tags": [
          "Resource for retrieving data for multiple cases."
        ],
        "summary": " Obtains metadata for a document bundle for the given query params in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedocs/bundle.zip?sn=75757575,78787878\n\nNote: only one parameter can be specified, like sn in the example",
        "operationId": "getBundleInfoZip",
        "parameters": [
          {
            "name": "rn",
            "in": "query",
            "description": "comma separated US registration nbr(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sn",
            "in": "query",
            "description": "comma separated US serial number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ref",
            "in": "query",
            "description": "comma separated Madrid number(s)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ir",
            "in": "query",
            "description": "comma separated Madrid number(s)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/{caseid}/bundle": {
      "get": {
        "tags": [
          " Resource for retrieving multiple documents of a single case."
        ],
        "summary": "Returns information about the searched document in the case in XML format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedocs/sn78787878/bundle",
        "operationId": "getCaseBundleContentXml",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/{caseid}/content.pdf": {
      "get": {
        "tags": [
          " Resource for retrieving multiple documents of a single case."
        ],
        "summary": "Returns information about all documents in the case in PDF format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedocs/sn78787878/content.pdf",
        "operationId": "getCaseDocsPdf",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/{caseid}/content.zip": {
      "get": {
        "tags": [
          " Resource for retrieving multiple documents of a single case."
        ],
        "summary": "Returns information about all documents in the case in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedocs/sn78787878/content.zip",
        "operationId": "getCaseDocsZip",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/{caseid}/download.pdf": {
      "get": {
        "tags": [
          " Resource for retrieving multiple documents of a single case."
        ],
        "summary": "Returns information about all documents in the case in PDF format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedocs/sn78787878/download.pdf",
        "operationId": "getCaseDocsPdfDownload",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/{caseid}/download.zip": {
      "get": {
        "tags": [
          " Resource for retrieving multiple documents of a single case."
        ],
        "summary": "Returns information about all documents in the case in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casedocs/sn78787878/download.zip",
        "operationId": "getCaseDocsZipDownload",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in PDF format",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casedocs/{caseid}/info": {
      "get": {
        "tags": [
          " Resource for retrieving multiple documents of a single case."
        ],
        "summary": "Returns information about all documents in the case in XML format.",
        "operationId": "getCaseDocsInfoXml",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of all documents in the case in XML format",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            }
          },
          "204": {
            "description": "Case is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Documents for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/content.pdf": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": " Returns the content of a Document in PDF format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/content.pdf",
        "operationId": "getCaseStatusInfoContentPdf",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/content.zip": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": " Returns the content of a Document in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/content.zip",
        "operationId": "getCaseStatusInfoContentZip",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/content.html": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": " Returns the content of a Document in HTML format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/content.html",
        "operationId": "getCaseStatusInfoContentHtml",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/download.zip": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": "Returns trademark bibliographic information in ZIP format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/download.zip",
        "operationId": "getCaseStatusInfoZipDownload",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/download.pdf": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": "Returns trademark bibliographic information in PDF format.",
        "description": "Parameters can be one of the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXX for Madrid numbers. Example: https://tsdrapi.uspto.gov/ts/cd/casestatus/sn78787878/download.pdf",
        "operationId": "getCaseStatusInfoPdfDownload",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "application/pdf": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/info": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": "Returns to the user the Trademark data for a specific serial number serialized into ST96 compliant XML.",
        "operationId": "loadXML",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkTransactionType"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    },
    "/casestatus/{caseid}/v1/info": {
      "get": {
        "tags": [
          "Resource for retrieving case status information for a single case document"
        ],
        "summary": "Returns to the user the Trademark data for a specific serial number serialized into ST96 compliant XML.",
        "operationId": "loadOldXML",
        "parameters": [
          {
            "name": "caseid",
            "in": "path",
            "description": "one the following: rnXXXXXXX for US registration number, snXXXXXXXX for US serial number, refXXXXXXXX and irXXXXXXXX for Madrid numbers",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful retrieval of the Trademark data for a given serial number",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionType"
                }
              }
            }
          },
          "204": {
            "description": "Trademark is not registered",
            "content": {}
          },
          "400": {
            "description": "Invalid format for case ID parameter",
            "content": {}
          },
          "401": {
            "description": "Unauthorized.  Missing or invalid USPTO-API-KEY. Click on Authorize at the top of the this page.",
            "content": {}
          },
          "404": {
            "description": "Trademark for the case ID does not exist",
            "content": {}
          },
          "429": {
            "description": "Too Many Requests/Api limit Exceeded",
            "content": {}
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string"
          },
          "line2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "region": {
            "$ref": "#/components/schemas/StateCountry"
          },
          "postalCode": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "countryName": {
            "type": "string"
          }
        }
      },
      "AddressLineTextType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "sequenceNumber": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          },
          "addressLineCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            },
            "enum": [
              "STREET",
              "BUILDING",
              "FLOOR",
              "ROOM",
              "POST_OFFICE_BOX"
            ]
          }
        }
      },
      "AmountType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number"
          },
          "currencyCode": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "ApplicantBagType": {
        "type": "object",
        "properties": {
          "partyIdentifierBag": {
            "type": "array",
            "xml": {
              "name": "PartyIdentifierBag",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            },
            "items": {
              "$ref": "#/components/schemas/PartyIdentifierBagType"
            }
          },
          "applicant": {
            "type": "array",
            "xml": {
              "name": "Applicant"
            },
            "items": {
              "$ref": "#/components/schemas/ApplicantType"
            }
          }
        }
      },
      "ApplicantType": {
        "required": [
          "legalEntityName"
        ],
        "type": "object",
        "properties": {
          "legalEntityName": {
            "type": "string",
            "xml": {
              "name": "LegalEntityName"
            }
          },
          "nationalLegalEntityCode": {
            "type": "string",
            "xml": {
              "name": "NationalLegalEntityCode"
            }
          },
          "nationalityCode": {
            "type": "array",
            "xml": {
              "name": "NationalityCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationCountryCode": {
            "type": "array",
            "xml": {
              "name": "IncorporationCountryCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationState": {
            "type": "string",
            "xml": {
              "name": "IncorporationState"
            }
          },
          "assignmentConveyanceCategory": {
            "type": "string",
            "xml": {
              "name": "AssignmentConveyanceCategory"
            }
          },
          "assignmentIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "commentText": {
            "$ref": "#/components/schemas/OrderedTextType"
          },
          "entitlement": {
            "$ref": "#/components/schemas/EntitlementType"
          },
          "version": {
            "$ref": "#/components/schemas/VersionType"
          },
          "partyIdentifierOrContactOrPublicationContact": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "operationCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            },
            "enum": [
              "SELECT",
              "INSERT",
              "UPDATE",
              "DELETE"
            ]
          },
          "sequenceNumber": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "ApplicationNumberType": {
        "type": "object",
        "properties": {
          "st13ApplicationNumber": {
            "type": "string",
            "xml": {
              "name": "ST13ApplicationNumber"
            }
          },
          "applicationNumberText": {
            "type": "string",
            "xml": {
              "name": "ApplicationNumberText"
            }
          },
          "ipofficeCode": {
            "type": "string"
          }
        }
      },
      "AssigneeBagType": {
        "type": "object",
        "properties": {
          "partyIdentifierBag": {
            "type": "array",
            "xml": {
              "name": "PartyIdentifierBag",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            },
            "items": {
              "$ref": "#/components/schemas/PartyIdentifierBagType"
            }
          },
          "assignee": {
            "type": "array",
            "xml": {
              "name": "Assignee"
            },
            "items": {
              "$ref": "#/components/schemas/AssigneeType"
            }
          }
        }
      },
      "AssigneeType": {
        "required": [
          "legalEntityName"
        ],
        "type": "object",
        "properties": {
          "legalEntityName": {
            "type": "string",
            "xml": {
              "name": "LegalEntityName"
            }
          },
          "nationalLegalEntityCode": {
            "type": "string",
            "xml": {
              "name": "NationalLegalEntityCode"
            }
          },
          "nationalityCode": {
            "type": "array",
            "xml": {
              "name": "NationalityCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationCountryCode": {
            "type": "array",
            "xml": {
              "name": "IncorporationCountryCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationState": {
            "type": "string",
            "xml": {
              "name": "IncorporationState"
            }
          },
          "commentText": {
            "$ref": "#/components/schemas/OrderedTextType"
          },
          "ownershipComposition": {
            "type": "string",
            "xml": {
              "name": "OwnershipComposition"
            }
          },
          "version": {
            "$ref": "#/components/schemas/VersionType"
          },
          "partyIdentifierOrContactOrPublicationContact": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "operationCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            },
            "enum": [
              "SELECT",
              "INSERT",
              "UPDATE",
              "DELETE"
            ]
          },
          "sequenceNumber": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "Assignment": {
        "type": "object",
        "properties": {
          "assignmentId": {
            "$ref": "#/components/schemas/AssignmentId"
          },
          "serialNo": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          },
          "conveyanceText": {
            "type": "string"
          },
          "conveyanceType": {
            "type": "string",
            "enum": [
              "ASSIGNS_THE_ENTIRE_INTEREST_AND_THE_GOODWILL",
              "ASSIGNMENT_OF_AN_UNDIVIDED_PART_OF_ASSIGNOR_S_INTEREST",
              "MERGER",
              "NUNC_PRO_TUNC_ASSIGNMENT",
              "CHANGE_OF_NAME",
              "CONDITIONAL_ASSIGNMENT",
              "MERGER_AND_CHANGE_OF_NAME",
              "ENTITY_CONVERSION",
              "SECURITY_INTEREST",
              "RELEASE_OF_SECURITY_INTEREST",
              "MORTGAGE",
              "LIEN",
              "OPTION",
              "LICENSE",
              "DECREE_OF_DISTRIBUTION",
              "LETTERS_TESTAMENTARY",
              "COURT_APPOINTMENT_OF_TRUSTEE",
              "COURT_ORDER",
              "CORRECTIVE_ASSIGNMENT",
              "OTHER"
            ]
          },
          "received": {
            "type": "string",
            "format": "date"
          },
          "recorded": {
            "type": "string",
            "format": "date"
          },
          "noticeMailed": {
            "type": "string",
            "format": "date"
          },
          "documentUrl": {
            "type": "string",
            "format": "url"
          },
          "conveyingParties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConveyingParty"
            }
          },
          "receivingParties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReceivingParty"
            }
          },
          "corespondent": {
            "$ref": "#/components/schemas/Contact"
          },
          "domesticRepresentative": {
            "$ref": "#/components/schemas/Contact"
          }
        }
      },
      "AssignmentBagType": {
        "required": [
          "assignment"
        ],
        "type": "object",
        "properties": {
          "assignment": {
            "type": "array",
            "xml": {
              "name": "Assignment"
            },
            "items": {
              "$ref": "#/components/schemas/AssignmentType"
            }
          },
          "nationalAssignmentTotalQuantity": {
            "type": "integer",
            "xml": {
              "name": "NationalAssignmentTotalQuantity"
            }
          }
        }
      },
      "AssignmentId": {
        "type": "object",
        "properties": {
          "reel": {
            "type": "string"
          },
          "frame": {
            "type": "string"
          }
        }
      },
      "AssignmentType": {
        "required": [
          "assigneeBag",
          "assignmentConveyanceCategory",
          "assignmentIdentifier",
          "assignorBag",
          "propertyTotalQuantity"
        ],
        "type": "object",
        "properties": {
          "assignmentIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "assignmentConveyanceCategory": {
            "type": "string",
            "xml": {
              "name": "AssignmentConveyanceCategory"
            }
          },
          "propertyTotalQuantity": {
            "type": "integer",
            "xml": {
              "name": "PropertyTotalQuantity"
            }
          },
          "pageTotalQuantity": {
            "type": "integer",
            "xml": {
              "name": "PageTotalQuantity",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "assignmentReceivedDate": {
            "type": "string",
            "xml": {
              "name": "AssignmentReceivedDate"
            }
          },
          "assignmentMailedDate": {
            "type": "string",
            "xml": {
              "name": "AssignmentMailedDate"
            }
          },
          "assignmentRecordedDate": {
            "type": "string",
            "xml": {
              "name": "AssignmentRecordedDate"
            }
          },
          "assignmentExecutedDate": {
            "type": "string",
            "xml": {
              "name": "AssignmentExecutedDate"
            }
          },
          "assignorBag": {
            "$ref": "#/components/schemas/AssignorBagType"
          },
          "assigneeBag": {
            "$ref": "#/components/schemas/AssigneeBagType"
          },
          "registrant": {
            "$ref": "#/components/schemas/RegistrantType"
          },
          "nationalRepresentative": {
            "$ref": "#/components/schemas/NationalRepresentativeType"
          },
          "nationalCorrespondent": {
            "$ref": "#/components/schemas/CorrespondentType"
          },
          "assignmentGroupCategory": {
            "type": "string",
            "xml": {
              "name": "AssignmentGroupCategory"
            }
          },
          "associatedMarkBag": {
            "$ref": "#/components/schemas/AssociatedMarkBagType"
          },
          "assignmentDocumentBag": {
            "$ref": "#/components/schemas/TrademarkDocumentBagType"
          },
          "commentText": {
            "$ref": "#/components/schemas/OrderedTextType"
          }
        }
      },
      "AssignorBagType": {
        "type": "object",
        "properties": {
          "partyIdentifierBag": {
            "type": "array",
            "xml": {
              "name": "PartyIdentifierBag",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            },
            "items": {
              "$ref": "#/components/schemas/PartyIdentifierBagType"
            }
          },
          "assignor": {
            "type": "array",
            "xml": {
              "name": "Assignor"
            },
            "items": {
              "$ref": "#/components/schemas/AssignorType"
            }
          }
        }
      },
      "AssignorType": {
        "required": [
          "legalEntityName"
        ],
        "type": "object",
        "properties": {
          "legalEntityName": {
            "type": "string",
            "xml": {
              "name": "LegalEntityName"
            }
          },
          "nationalLegalEntityCode": {
            "type": "string",
            "xml": {
              "name": "NationalLegalEntityCode"
            }
          },
          "nationalityCode": {
            "type": "array",
            "xml": {
              "name": "NationalityCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationCountryCode": {
            "type": "array",
            "xml": {
              "name": "IncorporationCountryCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationState": {
            "type": "string",
            "xml": {
              "name": "IncorporationState"
            }
          },
          "commentText": {
            "$ref": "#/components/schemas/OrderedTextType"
          },
          "version": {
            "$ref": "#/components/schemas/VersionType"
          },
          "partyIdentifierOrContactOrPublicationContact": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "operationCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            },
            "enum": [
              "SELECT",
              "INSERT",
              "UPDATE",
              "DELETE"
            ]
          },
          "sequenceNumber": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "AssociatedMarkBagType": {
        "required": [
          "associatedMark"
        ],
        "type": "object",
        "properties": {
          "associatedMark": {
            "type": "array",
            "xml": {
              "name": "AssociatedMark"
            },
            "items": {
              "$ref": "#/components/schemas/AssociatedMarkType"
            }
          }
        }
      },
      "AssociatedMarkType": {
        "required": [
          "associationCategory"
        ],
        "type": "object",
        "properties": {
          "associationCategory": {
            "type": "string",
            "xml": {
              "name": "AssociationCategory"
            },
            "enum": [
              "TRANSFORMED_TO",
              "TRANSFORMED_FROM",
              "PARTIAL_TRANSFER_TO",
              "PARTIAL_TRANSFER_FROM",
              "REPLACED_BY",
              "REPLACES",
              "CLAIMED_PRIOR_REGISTRATION",
              "INTERNATIONAL_APPLICATION_OR_REGISTRATION",
              "DIVISIONAL_PARENT",
              "DIVISIONAL_CHILD",
              "RELATED_INTERNATIONAL_REGISTRATION",
              "TRADEMARK_RELATED_TO_LEGAL_PROCEEDING",
              "CONSOLIDATED_PARENT",
              "CONSOLIDATED_CHILD",
              "ASSOCIATED_OPPOSITION"
            ]
          },
          "internationalApplicationNumberOrInternationalRegistrationNumberOrNationalApplicationNumber": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JAXBElementObject"
            }
          }
        }
      },
      "AssociatedProceedingBagType": {
        "required": [
          "associatedProceeding"
        ],
        "type": "object",
        "properties": {
          "associatedProceeding": {
            "type": "array",
            "xml": {
              "name": "AssociatedProceeding"
            },
            "items": {
              "$ref": "#/components/schemas/AssociatedProceedingType"
            }
          }
        }
      },
      "AssociatedProceedingType": {
        "required": [
          "associationCategory",
          "legalProceedingIdentifier"
        ],
        "type": "object",
        "properties": {
          "associationCategory": {
            "type": "string",
            "xml": {
              "name": "AssociationCategory"
            },
            "enum": [
              "TRANSFORMED_TO",
              "TRANSFORMED_FROM",
              "PARTIAL_TRANSFER_TO",
              "PARTIAL_TRANSFER_FROM",
              "REPLACED_BY",
              "REPLACES",
              "CLAIMED_PRIOR_REGISTRATION",
              "INTERNATIONAL_APPLICATION_OR_REGISTRATION",
              "DIVISIONAL_PARENT",
              "DIVISIONAL_CHILD",
              "RELATED_INTERNATIONAL_REGISTRATION",
              "TRADEMARK_RELATED_TO_LEGAL_PROCEEDING",
              "CONSOLIDATED_PARENT",
              "CONSOLIDATED_CHILD",
              "ASSOCIATED_OPPOSITION"
            ]
          },
          "legalProceedingIdentifier": {
            "type": "array",
            "xml": {
              "name": "LegalProceedingIdentifier"
            },
            "items": {
              "$ref": "#/components/schemas/IdentifierType"
            }
          }
        }
      },
      "Attorney": {
        "type": "object",
        "properties": {
          "employeeNumber": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          }
        }
      },
      "AuthorizationType": {
        "required": [
          "authorizationCategory"
        ],
        "type": "object",
        "properties": {
          "authorizationIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "authorizationDate": {
            "type": "string",
            "xml": {
              "name": "AuthorizationDate"
            }
          },
          "authorizationCategory": {
            "type": "string",
            "xml": {
              "name": "AuthorizationCategory"
            },
            "enum": [
              "GENERAL_AUTHORIZATION",
              "SPECIFIC_AUTHORIZATION"
            ]
          },
          "commentText": {
            "$ref": "#/components/schemas/OrderedTextType"
          },
          "authorizationDocumentSupplyCategory": {
            "type": "string",
            "xml": {
              "name": "AuthorizationDocumentSupplyCategory"
            },
            "enum": [
              "ALREADY_ON_FILE",
              "ATTACHED",
              "TO_FOLLOW"
            ]
          },
          "authorizationDocument": {
            "$ref": "#/components/schemas/DocumentType"
          }
        }
      },
      "BankTransferType": {
        "required": [
          "bankTransferDate",
          "bankTransferIdentifier",
          "destinationBankAccount"
        ],
        "type": "object",
        "properties": {
          "bankTransferIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "bankTransferDate": {
            "type": "string",
            "format": "date-time",
            "xml": {
              "name": "BankTransferDate"
            }
          },
          "originBankName": {
            "type": "string",
            "xml": {
              "name": "OriginBankName"
            }
          },
          "destinationBankAccount": {
            "type": "string",
            "xml": {
              "name": "DestinationBankAccount"
            }
          }
        }
      },
      "BasicApplicationBagType": {
        "required": [
          "basicApplication"
        ],
        "type": "object",
        "properties": {
          "basicApplication": {
            "type": "array",
            "xml": {
              "name": "BasicApplication"
            },
            "items": {
              "$ref": "#/components/schemas/BasicApplicationType"
            }
          }
        }
      },
      "BasicApplicationType": {
        "required": [
          "basicApplicationNumber"
        ],
        "type": "object",
        "properties": {
          "basicApplicationNumber": {
            "$ref": "#/components/schemas/ApplicationNumberType"
          },
          "basicApplicationDate": {
            "type": "string",
            "xml": {
              "name": "BasicApplicationDate"
            }
          }
        }
      },
      "BasicRecordType": {
        "required": [
          "recordIdentifier"
        ],
        "type": "object",
        "properties": {
          "recordIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "recordFilingDate": {
            "type": "string",
            "xml": {
              "name": "RecordFilingDate",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "recordNotificationDate": {
            "type": "string",
            "xml": {
              "name": "RecordNotificationDate",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "recordEffectiveDate": {
            "type": "string",
            "xml": {
              "name": "RecordEffectiveDate",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "basicRecordCategory": {
            "type": "string",
            "xml": {
              "name": "BasicRecordCategory"
            },
            "enum": [
              "SECOND_PART_FEE_PAID",
              "SECOND_PART_FEE_NOT_PAID",
              "PROTECTION_GRANTED",
              "JUDICIAL_ACTION",
              "EFFECT_CONTINUATION",
              "RENUNCIATION",
              "TRANSFER_REFUSAL",
              "REPRESENTATIVE_APPOINTED",
              "APPEAL_EXPIRED",
              "APPEAL_LAPSED",
              "APPEAL_WITHDRAWN",
              "TOTAL_REFUSAL",
              "TOTAL_INVALIDATION",
              "TOTAL_CANCELLATION",
              "TOTAL_CEASING_EFFECT",
              "FINAL_CONFIRMATION_REFUSAL",
              "FINAL_REVERSING_REFUSAL",
              "FINAL_TOTAL_REFUSAL",
              "RENEWAL_UNDER_RULE_40_3",
              "NON_RENEWAL",
              "NON_RENEWAL_CERTAIN_PARTIES",
              "NON_RENEWAL_UNDER_RULE_40_3",
              "REGISTRATION",
              "SUBSEQUENT_DESIGNATION",
              "LIMITATION",
              "NO_EFFECT_LIMITATION",
              "PARTIAL_REFUSAL",
              "PARTIAL_CEASING_EFFECT",
              "PARTIAL_INVALIDATION",
              "PARTIAL_CANCELLATION",
              "RENEWAL",
              "COMPLEMENTARY_RENEWAL",
              "FINAL_OTHER_DECISION"
            ]
          },
          "recordReference": {
            "type": "string",
            "xml": {
              "name": "RecordReference",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "recordLanguageCode": {
            "type": "string",
            "xml": {
              "name": "RecordLanguageCode",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "trademarkIdentification": {
            "$ref": "#/components/schemas/TrademarkIdentificationType"
          },
          "recordPublicationBag": {
            "$ref": "#/components/schemas/RecordPublicationBagType"
          },
          "claimantBag": {
            "$ref": "#/components/schemas/ClaimantBagType"
          },
          "representativeBag": {
            "$ref": "#/components/schemas/RepresentativeBagType"
          },
          "recordEventBag": {
            "$ref": "#/components/schemas/RecordEventBagType"
          },
          "recordDocumentBag": {
            "$ref": "#/components/schemas/RecordDocumentBagType"
          },
          "recordCurrentStatusCategory": {
            "type": "string",
            "xml": {
              "name": "RecordCurrentStatusCategory",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            },
            "enum": [
              "RECORD_FILED",
              "UNDEFINED"
            ]
          },
          "recordCurrentStatusDate": {
            "type": "string",
            "xml": {
              "name": "RecordCurrentStatusDate",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "contractInformation": {
            "$ref": "#/components/schemas/ContractInformationType"
          },
          "reasonDocument": {
            "$ref": "#/components/schemas/ReasonDocumentType"
          },
          "recordInterestedOfficeCode": {
            "type": "string",
            "xml": {
              "name": "RecordInterestedOfficeCode",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "recordDesignatedCountryCodeBag": {
            "$ref": "#/components/schemas/RecordDesignatedCountryCodeBagType"
          },
          "recordUseIntentBag": {
            "$ref": "#/components/schemas/RecordUseIntentBagType"
          },
          "goodsServicesLimitationBag": {
            "$ref": "#/components/schemas/GoodsServicesLimitationBagType"
          }
        }
      },
      "BasicRegistrationApplicationBagType": {
        "required": [
          "basicRegistrationApplication"
        ],
        "type": "object",
        "properties": {
          "basicRegistrationApplication": {
            "type": "array",
            "xml": {
              "name": "BasicRegistrationApplication"
            },
            "items": {
              "$ref": "#/components/schemas/BasicRegistrationApplicationType"
            }
          }
        }
      },
      "BasicRegistrationApplicationType": {
        "required": [
          "basicApplicationBag"
        ],
        "type": "object",
        "properties": {
          "registrationOfficeCode": {
            "type": "string",
            "xml": {
              "name": "RegistrationOfficeCode",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            }
          },
          "basicApplicationBag": {
            "$ref": "#/components/schemas/BasicApplicationBagType"
          },
          "basicRegistrationBag": {
            "$ref": "#/components/schemas/BasicRegistrationBagType"
          }
        }
      },
      "BasicRegistrationBagType": {
        "required": [
          "basicRegistration"
        ],
        "type": "object",
        "properties": {
          "basicRegistration": {
            "type": "array",
            "xml": {
              "name": "BasicRegistration"
            },
            "items": {
              "$ref": "#/components/schemas/BasicRegistrationType"
            }
          }
        }
      },
      "BasicRegistrationType": {
        "required": [
          "basicRegistrationDate",
          "basicRegistrationNumber"
        ],
        "type": "object",
        "properties": {
          "basicRegistrationNumber": {
            "type": "string",
            "xml": {
              "name": "BasicRegistrationNumber"
            }
          },
          "basicRegistrationDate": {
            "type": "string",
            "xml": {
              "name": "BasicRegistrationDate"
            }
          }
        }
      },
      "CardType": {
        "required": [
          "cardProviderCategory",
          "maskedPAN"
        ],
        "type": "object",
        "properties": {
          "cardProviderCategory": {
            "type": "string",
            "xml": {
              "name": "CardProviderCategory"
            },
            "enum": [
              "VISA",
              "MASTER_CARD",
              "AMEX",
              "DELTA",
              "SWITCH",
              "SOLO",
              "DISCOVER",
              "DINERS",
              "OTHER",
              "MAESTRO"
            ]
          },
          "maskedPAN": {
            "type": "string",
            "xml": {
              "name": "MaskedPAN"
            }
          },
          "expiryDate": {
            "type": "string",
            "xml": {
              "name": "ExpiryDate"
            }
          },
          "accountNumber": {
            "type": "string",
            "xml": {
              "name": "AccountNumber"
            }
          },
          "electronicPaymentReferenceText": {
            "type": "string",
            "xml": {
              "name": "ElectronicPaymentReferenceText"
            }
          }
        }
      },
      "CaseReferenceBagType": {
        "required": [
          "caseReferenceText"
        ],
        "type": "object",
        "properties": {
          "caseReferenceText": {
            "type": "array",
            "xml": {
              "name": "CaseReferenceText"
            },
            "items": {
              "$ref": "#/components/schemas/CaseReferenceTextType"
            }
          }
        }
      },
      "CaseReferenceTextType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "languageCode": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          },
          "caseReferenceCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Trademark",
              "attribute": true
            },
            "enum": [
              "TRADEMARK",
              "OPPOSITION",
              "MARK_RECORD",
              "DECISION",
              "GENERAL_AUTHORIZATION",
              "CURRENT_ACCOUNT",
              "REPRESENTATIVE_LIST",
              "APPEAL",
              "OTHER"
            ]
          }
        }
      },
      "CategoryCodeBagType": {
        "required": [
          "categoryCode"
        ],
        "type": "object",
        "properties": {
          "categoryCode": {
            "type": "array",
            "xml": {
              "name": "CategoryCode"
            },
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ChequeType": {
        "required": [
          "chequeIdentifier"
        ],
        "type": "object",
        "properties": {
          "chequeIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "chequeKindText": {
            "type": "string",
            "xml": {
              "name": "ChequeKindText"
            }
          },
          "bankName": {
            "type": "string",
            "xml": {
              "name": "BankName"
            }
          }
        }
      },
      "Chronology": {
        "type": "object",
        "properties": {
          "zone": {
            "$ref": "#/components/schemas/DateTimeZone"
          }
        }
      },
      "ClaimantBagType": {
        "type": "object",
        "properties": {
          "partyIdentifierBag": {
            "type": "array",
            "xml": {
              "name": "PartyIdentifierBag",
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common"
            },
            "items": {
              "$ref": "#/components/schemas/PartyIdentifierBagType"
            }
          },
          "claimant": {
            "type": "array",
            "xml": {
              "name": "Claimant"
            },
            "items": {
              "$ref": "#/components/schemas/ClaimantType"
            }
          }
        }
      },
      "ClaimantType": {
        "required": [
          "legalEntityName"
        ],
        "type": "object",
        "properties": {
          "legalEntityName": {
            "type": "string",
            "xml": {
              "name": "LegalEntityName"
            }
          },
          "nationalLegalEntityCode": {
            "type": "string",
            "xml": {
              "name": "NationalLegalEntityCode"
            }
          },
          "nationalityCode": {
            "type": "array",
            "xml": {
              "name": "NationalityCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationCountryCode": {
            "type": "array",
            "xml": {
              "name": "IncorporationCountryCode"
            },
            "items": {
              "type": "string"
            }
          },
          "incorporationState": {
            "type": "string",
            "xml": {
              "name": "IncorporationState"
            }
          },
          "commentText": {
            "$ref": "#/components/schemas/OrderedTextType"
          },
          "entitlement": {
            "$ref": "#/components/schemas/EntitlementType"
          },
          "partyIdentifierOrContact": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {}
            }
          },
          "operationCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            },
            "enum": [
              "SELECT",
              "INSERT",
              "UPDATE",
              "DELETE"
            ]
          },
          "sequenceNumber": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "ClassBasis": {
        "type": "object",
        "properties": {
          "flag1a": {
            "type": "boolean",
            "default": false
          },
          "flag1b": {
            "type": "boolean",
            "default": false
          },
          "flag44d": {
            "type": "boolean",
            "default": false
          },
          "flag44e": {
            "type": "boolean",
            "default": false
          }
        }
      },
      "ClassDescriptionBagType": {
        "required": [
          "classDescription"
        ],
        "type": "object",
        "properties": {
          "classDescription": {
            "type": "array",
            "xml": {
              "name": "ClassDescription"
            },
            "items": {
              "$ref": "#/components/schemas/ClassDescriptionType"
            }
          }
        }
      },
      "ClassDescriptionType": {
        "required": [
          "goodsServicesDescriptionText"
        ],
        "type": "object",
        "properties": {
          "classNumber": {
            "type": "string",
            "xml": {
              "name": "ClassNumber"
            }
          },
          "classNumberStatusCategory": {
            "type": "string",
            "xml": {
              "name": "ClassNumberStatusCategory"
            },
            "enum": [
              "PROVISIONAL",
              "NATIONAL"
            ]
          },
          "nationalStatusBag": {
            "$ref": "#/components/schemas/NationalStatusBagType"
          },
          "goodsServicesDescriptionText": {
            "type": "array",
            "xml": {
              "name": "GoodsServicesDescriptionText"
            },
            "items": {
              "$ref": "#/components/schemas/OrderedTextType"
            }
          },
          "useNiceHeadingIndicator": {
            "type": "boolean",
            "xml": {
              "name": "UseNiceHeadingIndicator"
            },
            "default": false
          },
          "classificationTermBag": {
            "$ref": "#/components/schemas/ClassificationTermBagType"
          }
        }
      },
      "ClassificationTermBagType": {
        "required": [
          "classificationTerm"
        ],
        "type": "object",
        "properties": {
          "classificationTerm": {
            "type": "array",
            "xml": {
              "name": "ClassificationTerm"
            },
            "items": {
              "$ref": "#/components/schemas/ClassificationTermType"
            }
          }
        }
      },
      "ClassificationTermStatusType": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "enum": [
              "REQUESTED",
              "ACCEPTED",
              "REFUSED",
              "NO_LONGER_IN_USE"
            ]
          },
          "officeCode": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "ClassificationTermType": {
        "required": [
          "classificationTermText"
        ],
        "type": "object",
        "properties": {
          "classificationTermIdentifier": {
            "$ref": "#/components/schemas/IdentifierType"
          },
          "classificationTermOfficeCode": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermOfficeCode"
            }
          },
          "classificationTermOfficeIdentification": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermOfficeIdentification"
            }
          },
          "classificationTermSourceCategory": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermSourceCategory"
            },
            "enum": [
              "NICE",
              "OFFICE",
              "EM_JP_US",
              "EM_US"
            ]
          },
          "classificationTermEntryDate": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermEntryDate"
            }
          },
          "classNumber": {
            "type": "string",
            "xml": {
              "name": "ClassNumber"
            }
          },
          "classificationTermText": {
            "$ref": "#/components/schemas/LocalizedTextType"
          },
          "classificationTermEquivalentGroup": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermEquivalentGroup"
            }
          },
          "classificationTermReferenceGroup": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermReferenceGroup"
            }
          },
          "classificationTermTranslationGroup": {
            "type": "string",
            "xml": {
              "name": "ClassificationTermTranslationGroup"
            }
          },
          "classificationTermStatus": {
            "$ref": "#/components/schemas/ClassificationTermStatusType"
          },
          "operationCategory": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            },
            "enum": [
              "SELECT",
              "INSERT",
              "UPDATE",
              "DELETE"
            ]
          },
          "wipobasicNumber": {
            "type": "string"
          }
        }
      },
      "CollectiveMarkBagType": {
        "required": [
          "collectiveMark"
        ],
        "type": "object",
        "properties": {
          "collectiveMark": {
            "type": "array",
            "xml": {
              "name": "CollectiveMark"
            },
            "items": {
              "$ref": "#/components/schemas/CollectiveMarkType"
            }
          }
        }
      },
      "CollectiveMarkType": {
        "type": "object",
        "properties": {
          "collectiveMarkUsersOrCollectiveMarkDescription": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JAXBElementString"
            }
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "addressLines": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ContactType": {
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/NameType"
          },
          "postalAddressBag": {
            "$ref": "#/components/schemas/PostalAddressBagType"
          },
          "faxNumberBag": {
            "$ref": "#/components/schemas/FaxNumberBagType"
          },
          "emailAddressBag": {
            "$ref": "#/components/schemas/EmailAddressBagType"
          },
          "webAddressBag": {
            "$ref": "#/components/schemas/WebAddressBagType"
          },
          "phoneNumberBag": {
            "$ref": "#/components/schemas/PhoneNumberBagType"
          },
          "otherElectronicAddressBag": {
            "$ref": "#/components/schemas/OtherElectronicAddressBagType"
          },
          "contactText": {
            "$ref": "#/components/schemas/PhraseType"
          },
          "languageCode": {
            "type": "string",
            "xml": {
              "namespace": "http://www.wipo.int/standards/XMLSchema/ST96/Common",
              "attribute": true
            }
          }
        }
      },
      "ContractInformationType": {
        "required": [
          "contractNumber"
        ],
        "type": "object",
        "properties": {
          "basicContractNumber": {
            "type": "string",
            "xml": {
              "name": "BasicContractNumber"
            }
          },
          "basicContractDate": {
            "type": "string",
            "xml": {
              "name": "BasicContractDate"
            }
          },
          "contractNumber": {
            "type": "string",
            "xml": {
              "name": "ContractNumber"
            }
          },
          "contractDate": {
            "type": "string",
            "xml": {
              "name": "ContractDate"
            }
          }
        }
      },
      "ConversionApplicationBagType": {
        "required": [
          "initialApplicationNumber"
        ],
        "type": "object",
        "properties": {
          "initialApplicationNumber": {
            "$ref": "#/components/schemas/ApplicationNumberType"
          },
[...]
