{
  "openapi": "3.0.3",
  "info": {
    "title": "Roam",
    "version": "1.0.0",
    "description": "Unified CLI for the Roam HQ virtual workspace platform \u2014 covers core HQ, On-Air events, Chat, SCIM 2.0, and Webhooks APIs.",
    "contact": {
      "email": "developer@ro.am"
    }
  },
  "servers": [
    {
      "url": "https://api.ro.am"
    }
  ],
  "security": [
    {
      "bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "x-auth-env-vars": [
          "ROAM_API_KEY"
        ]
      }
    },
    "schemas": {
      "MessageSender": {
        "name": "Sender",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 16
          },
          "name": {
            "type": "string"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "id"
        ]
      },
      "Group": {
        "type": "object",
        "description": "SCIM Group resource. `members[].value` is a Roam Person ID (string).",
        "required": [
          "displayName"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:schemas:core:2.0:Group"
            ]
          },
          "id": {
            "type": "string",
            "description": "Group ID (Roam AddressID)."
          },
          "displayName": {
            "type": "string",
            "description": "Group name (max 64 characters)."
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string",
                  "description": "Roam Person ID."
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "description": "SCIM metadata (included in responses).",
            "properties": {
              "location": {
                "type": "string"
              },
              "resourceType": {
                "type": "string"
              }
            }
          }
        }
      },
      "Magicast": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the magicast"
          },
          "name": {
            "type": "string",
            "description": "Display name of the magicast"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 timestamp when the magicast was created (UTC)"
          },
          "ownerId": {
            "type": "string",
            "format": "uuid",
            "description": "Address ID of the magicast owner"
          },
          "coverImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL for the magicast cover image thumbnail"
          }
        },
        "required": [
          "id",
          "name",
          "createdAt"
        ]
      },
      "OnAirHost": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the host."
          },
          "name": {
            "type": "string",
            "description": "Display name of the host."
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the host's profile image."
          }
        },
        "required": [
          "id"
        ]
      },
      "OnAirEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the event."
          },
          "title": {
            "type": "string",
            "description": "Title of the event."
          },
          "description": {
            "type": "string",
            "description": "Description of the event."
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly slug for the event."
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the event (RFC 3339)."
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the event (RFC 3339)."
          },
          "timeZone": {
            "type": "string",
            "description": "IANA time zone identifier (e.g. `America/New_York`)."
          },
          "eventPageUrl": {
            "type": "string",
            "format": "uri",
            "description": "Public URL of the event page."
          },
          "joinLinkUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL for joining the event."
          },
          "enableSEO": {
            "type": "boolean",
            "description": "Whether the event page is indexed by search engines."
          },
          "autoAdmit": {
            "type": "boolean",
            "description": "Whether guests are automatically admitted when they join."
          },
          "disableRSVP": {
            "type": "boolean",
            "description": "Whether RSVPs are disabled for this event."
          },
          "hosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnAirHost"
            },
            "description": "List of hosts for the event."
          }
        },
        "required": [
          "id",
          "title",
          "slug",
          "start",
          "end",
          "timeZone",
          "eventPageUrl",
          "enableSEO",
          "autoAdmit",
          "disableRSVP",
          "hosts"
        ]
      },
      "OnAirEventCreateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the event."
          },
          "description": {
            "type": "string",
            "description": "Description of the event."
          },
          "calendarHostEmail": {
            "type": "string",
            "format": "email",
            "description": "Email of the calendar host who manages invites and reminders. Must be a member of the organization. Personal tokens can only specify the authenticated user's email."
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Display name of the host."
                },
                "imageUrl": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL of the host's profile image."
                }
              }
            },
            "maxItems": 6,
            "description": "Display hosts shown on the event page (maximum 6). Optional \u2014 if omitted, no display hosts are added."
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the event (RFC 3339)."
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the event (RFC 3339)."
          },
          "timeZone": {
            "type": "string",
            "description": "IANA time zone identifier (e.g. `America/New_York`)."
          },
          "enableSEO": {
            "type": "boolean",
            "description": "Whether the event page is indexed by search engines."
          },
          "autoAdmit": {
            "type": "boolean",
            "description": "Whether guests are automatically admitted when they join."
          },
          "disableRSVP": {
            "type": "boolean",
            "description": "Whether RSVPs are disabled for this event."
          }
        },
        "required": [
          "title",
          "calendarHostEmail",
          "start",
          "end",
          "timeZone"
        ]
      },
      "OnAirEventUpdateRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the event to update."
          },
          "title": {
            "type": "string",
            "description": "Updated title of the event."
          },
          "description": {
            "type": "string",
            "description": "Updated description of the event."
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Updated start time (RFC 3339)."
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Updated end time (RFC 3339)."
          },
          "timeZone": {
            "type": "string",
            "description": "Updated IANA time zone identifier (e.g. `America/New_York`)."
          },
          "enableSEO": {
            "type": "boolean",
            "description": "Whether the event page is indexed by search engines."
          },
          "autoAdmit": {
            "type": "boolean",
            "description": "Whether guests are automatically admitted when they join."
          },
          "calendarHostEmail": {
            "type": "string",
            "format": "email",
            "description": "Updated email of the calendar host."
          },
          "disableRSVP": {
            "type": "boolean",
            "description": "Whether RSVPs are disabled for this event."
          },
          "hosts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Display name of the host."
                },
                "imageUrl": {
                  "type": "string",
                  "format": "uri",
                  "description": "URL of the host's profile image."
                }
              }
            },
            "maxItems": 6,
            "description": "Updated list of display hosts shown on the event page (maximum 6). Replaces all existing display hosts."
          }
        },
        "required": [
          "id"
        ]
      },
      "OnAirGuest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the guest."
          },
          "eventId": {
            "type": "string",
            "description": "Identifier of the event this guest belongs to."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the guest."
          },
          "name": {
            "type": "string",
            "description": "Display name of the guest."
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the guest."
          },
          "status": {
            "type": "string",
            "description": "RSVP status of the guest.",
            "enum": [
              "invited",
              "going",
              "maybe",
              "notGoing"
            ]
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "When the guest was added (RFC 3339)."
          },
          "updated": {
            "type": "string",
            "format": "date-time",
            "description": "When the guest record was last updated (RFC 3339)."
          }
        },
        "required": [
          "id",
          "eventId",
          "status"
        ]
      },
      "OnAirGuestAddRequest": {
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "description": "Identifier of the event to add guests to."
          },
          "guests": {
            "type": "array",
            "description": "List of guests to add.",
            "items": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email",
                  "description": "Email address of the guest."
                },
                "name": {
                  "type": "string",
                  "description": "Display name of the guest."
                },
                "phone": {
                  "type": "string",
                  "description": "Phone number of the guest."
                },
                "status": {
                  "type": "string",
                  "description": "Initial RSVP status. Defaults to `invited` if omitted.",
                  "enum": [
                    "invited",
                    "going",
                    "maybe",
                    "notGoing"
                  ]
                }
              },
              "required": [
                "email"
              ]
            }
          }
        },
        "required": [
          "eventId",
          "guests"
        ]
      },
      "OnAirAttendee": {
        "type": "object",
        "description": "Attendance report row for an On-Air event, combining RSVP and join data.",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the attendee."
          },
          "name": {
            "type": "string",
            "description": "Display name of the attendee."
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the attendee."
          },
          "rsvpStatus": {
            "type": "string",
            "description": "RSVP status of the attendee.",
            "enum": [
              "invited",
              "going",
              "maybe",
              "notGoing"
            ]
          },
          "created": {
            "type": "number",
            "description": "When the attendee was added (Unix milliseconds)."
          },
          "rsvpLastUpdate": {
            "type": "number",
            "description": "When the RSVP status was last changed (Unix milliseconds)."
          },
          "joinDurationMinutes": {
            "type": "number",
            "description": "Total minutes the attendee was joined to the event."
          },
          "joinStart": {
            "type": "number",
            "description": "When the attendee first joined the event (Unix milliseconds)."
          },
          "customResponses": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom form responses submitted by the attendee."
          }
        }
      },
      "AddressUser": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of address",
            "enum": [
              "user"
            ]
          },
          "id": {
            "type": "string",
            "description": "The tagged address ID"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The user's email address"
          },
          "displayName": {
            "type": "string",
            "description": "The user's display name"
          },
          "displayImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "The user's display image URL"
          }
        },
        "required": [
          "type",
          "id",
          "email",
          "displayName"
        ]
      },
      "AddressBot": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of address",
            "enum": [
              "bot"
            ]
          },
          "id": {
            "type": "string",
            "description": "The tagged address ID"
          },
          "integrationId": {
            "type": "string",
            "description": "The app's client ID"
          },
          "displayName": {
            "type": "string",
            "description": "The user's display name"
          },
          "displayDetail": {
            "type": "string",
            "description": "A description of the app"
          },
          "displayImageUrl": {
            "type": "string",
            "format": "uri",
            "description": "The user's display image URL"
          }
        },
        "required": [
          "type",
          "id",
          "integrationId",
          "displayName"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "detail": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TaggedUUID": {
        "type": "string",
        "pattern": "^[BUVGMDPC]-[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
        "description": "A UUID prefixed by a tag identifying the specific type of object"
      },
      "ChatItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "UUID identifying this item"
          },
          "type": {
            "type": "string",
            "enum": [
              "photo",
              "blob"
            ],
            "description": "Type of item:\n\n- **photo**: Images with inline preview and thumbnail\n  - image/jpeg, image/png, image/gif, image/webp\n\n- **blob**: Any other file type (download only, no preview)\n  - application/octet-stream\n"
          },
          "mime": {
            "type": "string",
            "description": "MIME type of the file (e.g., \"application/octet-stream\").\nMay be omitted for photo items where the type is inferred from the image format.\n"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the item was created"
          },
          "name": {
            "type": "string",
            "description": "Name of the item (typically the filename)."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL for the uploaded item."
          },
          "thumbnail": {
            "type": "string",
            "format": "uri",
            "description": "URL for a thumbnail of the uploaded item (photo type only).\nThis may be equal to the item's main URL if it is suitable to use as a thumbnail.\n"
          },
          "size": {
            "type": "integer",
            "description": "Size of the item in bytes"
          },
          "width": {
            "type": "integer",
            "description": "Width in pixels (images only)"
          },
          "height": {
            "type": "integer",
            "description": "Height in pixels (images only)"
          }
        },
        "required": [
          "id",
          "type",
          "created",
          "name",
          "url"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/TaggedUUID",
            "description": "The User ID"
          },
          "name": {
            "type": "string",
            "description": "Display name of the user"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the user's profile image"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user (requires `user:read.email` scope)"
          },
          "isAdmin": {
            "type": "boolean",
            "description": "Whether the user is an admin of the Roam"
          },
          "jobTitle": {
            "type": "string",
            "description": "User's job title"
          },
          "location": {
            "type": "string",
            "description": "User's location"
          },
          "status": {
            "type": "string",
            "enum": [
              "checkedIn",
              "checkedOut"
            ],
            "description": "User's current presence status. Only included when `expand=status` is requested and the `user:read.status` scope is granted."
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "Reaction": {
        "type": "object",
        "description": "A reaction added to a chat message",
        "properties": {
          "chat": {
            "$ref": "#/components/schemas/TaggedUUID",
            "description": "The chat containing the message that was reacted to."
          },
          "timestamp": {
            "type": "integer",
            "description": "Timestamp of the message that was reacted to."
          },
          "name": {
            "type": "string",
            "description": "Name of the reaction that was added (e.g. \"thumbs_up\", \"heart\")."
          },
          "user": {
            "$ref": "#/components/schemas/User",
            "description": "The user who added the reaction."
          }
        },
        "required": [
          "chat",
          "timestamp",
          "name",
          "user"
        ]
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "message"
            ],
            "description": "Message type identifier"
          },
          "contentType": {
            "type": "string",
            "enum": [
              "text",
              "block",
              "voice",
              "poll"
            ],
            "description": "Type of message content"
          },
          "sender": {
            "$ref": "#/components/schemas/TaggedUUID",
            "description": "The message sender's Address ID"
          },
          "chat": {
            "$ref": "#/components/schemas/TaggedUUID",
            "description": "ID of the chat in which the message was sent"
          },
          "threadTimestamp": {
            "type": "integer",
            "description": "Key of the message that this is a reply to. Omitted if this is not a reply."
          },
          "timestamp": {
            "type": "integer",
            "description": "Key of the message within a chat, as Unix microseconds"
          },
          "text": {
            "type": "string",
            "description": "Text of the message, formatted as github-flavored markdown"
          },
          "items": {
            "type": "array",
            "description": "Items attached to this message",
            "items": {
              "$ref": "#/components/schemas/ChatItem"
            }
          },
          "blocks": {
            "type": "array",
            "description": "Block Kit blocks, present when contentType is `block`. See the [Block Kit guide](/docs/guides/block-kit).",
            "items": {
              "type": "object"
            }
          },
          "color": {
            "type": "string",
            "description": "Color strip on the message. One of: `good`, `warning`, `danger`, or a hex color like `#5B3FD9`. Present only on Block Kit messages."
          },
          "poll": {
            "type": "object",
            "description": "Poll content, present when contentType is `poll`.",
            "properties": {
              "question": {
                "type": "string",
                "description": "The poll question."
              },
              "options": {
                "type": "array",
                "description": "The poll answer options.",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique option identifier."
                    },
                    "text": {
                      "type": "string",
                      "description": "Option display text."
                    }
                  }
                }
              },
              "allowMultipleAnswers": {
                "type": "boolean",
                "description": "Whether voters can select multiple options."
              },
              "closesAt": {
                "type": "string",
                "format": "date-time",
                "description": "When the poll closes (RFC-3339). Omitted if no close time is set."
              }
            }
          },
          "replyTimestamp": {
            "type": "integer",
            "description": "Key of the message that this is a reply to. This applies only in DM chats which lack real threads."
          },
          "reactions": {
            "type": "array",
            "description": "Reactions on this message",
            "items": {
              "$ref": "#/components/schemas/Reaction"
            }
          }
        },
        "required": [
          "type",
          "contentType",
          "sender",
          "chat",
          "timestamp"
        ]
      },
      "UserInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/User"
          },
          {
            "type": "object",
            "properties": {
              "available": {
                "type": "boolean",
                "description": "Whether the user is currently available for visitors. Only included when `expand=available` is requested and the `user:read.status` scope is granted."
              }
            }
          }
        ]
      },
      "ConversationParticipant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "unconfirmedEmail": {
            "type": "string",
            "description": "Self-reported email address provided by a guest participant. Not verified \u2014 the guest was not logged in."
          },
          "type": {
            "type": "string",
            "enum": [
              "member",
              "guest"
            ],
            "description": "Whether the participant is a workspace member or a guest"
          },
          "user": {
            "$ref": "#/components/schemas/TaggedUUID"
          }
        }
      },
      "TranscriptMetadata": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the transcript"
          },
          "meetingId": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the meeting.\nA meeting may encompass 0 or multiple transcripts.\n"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Exact time when the transcript began"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Exact time when the transcript stopped"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationParticipant"
            }
          }
        }
      },
      "TranscriptCue": {
        "type": "object",
        "properties": {
          "speaker": {
            "type": "string",
            "description": "Name of the person speaking"
          },
          "text": {
            "type": "string",
            "description": "The transcribed text of what was said."
          },
          "startOffset": {
            "type": "integer",
            "description": "Milliseconds from the start of the transcript when the utterance began."
          },
          "endOffset": {
            "type": "integer",
            "description": "Milliseconds from the start of the transcript when the utterance ended."
          }
        },
        "required": [
          "speaker",
          "text",
          "startOffset",
          "endOffset"
        ]
      },
      "TranscriptActionItem": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Short name for the action item."
          },
          "description": {
            "type": "string",
            "description": "Additional context or details about the action item."
          },
          "assignee": {
            "type": "string",
            "description": "Person responsible for the action item, if known."
          }
        },
        "required": [
          "title"
        ]
      },
      "Transcript": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the transcript"
          },
          "meetingId": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the meeting.\nA meeting may encompass 0 or multiple transcripts.\n"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Exact time when the transcript began"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Exact time when the transcript stopped"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConversationParticipant"
            }
          },
          "cues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TranscriptCue"
            }
          },
          "eventName": {
            "type": "string",
            "description": "Name of meeting event associated with the transcript (optional)"
          },
          "summary": {
            "type": "string",
            "description": "Magic Minutes Summary"
          },
          "actionItems": {
            "type": "array",
            "description": "Action items identified during the meeting.",
            "items": {
              "$ref": "#/components/schemas/TranscriptActionItem"
            }
          },
          "meetingLinkId": {
            "type": "string",
            "format": "uuid",
            "description": "Meeting link identifier, if this transcript is from a scheduled calendar event"
          },
          "invitees": {
            "type": "array",
            "description": "Email addresses of calendar event invitees",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        }
      },
      "MeetingParticipant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "seconds": {
            "type": "integer",
            "description": "Duration of time that this participant was in the meeting (in seconds)."
          }
        },
        "required": [
          "name",
          "seconds"
        ]
      },
      "Meeting": {
        "type": "object",
        "properties": {
          "meetingId": {
            "type": "string",
            "format": "uuid",
            "description": "A unique identifier for the meeting"
          },
          "place": {
            "type": "string",
            "description": "Internal identifier for the room location"
          },
          "room": {
            "type": "string",
            "description": "Name of the room where the meeting took place"
          },
          "roomType": {
            "type": "string",
            "description": "Type of the room where the meeting took place (e.g., MeetingRoom, LobbyRoom)"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Exact time when the meeting began"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "Exact time when the meeting ended"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetingParticipant"
            },
            "description": "List of participants in the meeting"
          },
          "meetingLinkIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List of meeting link IDs used to join this meeting, if any"
          }
        },
        "required": [
          "meetingId",
          "start",
          "end"
        ]
      },
      "LobbyBookingHost": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name of the host"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the host"
          },
          "isOrganizer": {
            "type": "boolean",
            "description": "Whether this host is the organizer"
          }
        },
        "required": [
          "email",
          "isOrganizer"
        ]
      },
      "LobbyBookingInvitee": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name of the invitee"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the invitee"
          },
          "status": {
            "type": "string",
            "description": "Invitee's RSVP or booking status"
          },
          "isBooker": {
            "type": "boolean",
            "description": "Whether this invitee created the booking"
          }
        },
        "required": [
          "email",
          "status"
        ]
      },
      "LobbyBooking": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique booking identifier"
          },
          "start": {
            "type": "string",
            "format": "date-time",
            "description": "Start time in RFC3339"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "description": "End time in RFC3339"
          },
          "status": {
            "type": "string",
            "description": "Current status of the booking"
          },
          "timeZone": {
            "type": "string",
            "description": "IANA time zone of the booking times"
          },
          "notes": {
            "type": "string",
            "description": "Optional notes provided by the booker"
          },
          "created": {
            "type": "string",
            "format": "date-time",
            "description": "Creation time"
          },
          "hosts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LobbyBookingHost"
            }
          },
          "invitees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LobbyBookingInvitee"
            }
          },
          "meetingLink": {
            "type": "string",
            "format": "uri",
            "description": "Meeting link URL, used to join the meeting"
          }
        },
        "required": [
          "id",
          "start",
          "end",
          "status"
        ]
      },
      "UserAuditLog": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time at which the audit log entry occurred (UTC)"
          },
          "eventType": {
            "type": "string",
            "description": "Type of the audit event"
          },
          "name": {
            "type": "string",
            "description": "Name of the user associated with this event"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the user associated with this event"
          },
          "data": {
            "type": "object",
            "description": "JSON payload containing event type specific data, such as chat recipients or which room was knocked on",
            "additionalProperties": true
          }
        }
      },
      "ServiceProviderConfig": {
        "type": "object",
        "description": "SCIM service provider capabilities.",
        "properties": {
          "patch": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean",
                "example": true
              }
            }
          },
          "filter": {
            "type": "object",
            "properties": {
              "supported": {
                "type": "boolean",
                "example": true
              },
              "maxResults": {
                "type": "integer",
                "example": 100
              }
            }
          }
        }
      },
      "ResourceType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ResourceTypeList": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponse"
          }
        ]
      },
      "Schema": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "SchemaList": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/ListResponse"
          }
        ]
      },
      "PatchOp": {
        "type": "object",
        "description": "SCIM PATCH request wrapper (urn:ietf:params:scim:api:messages:2.0:PatchOp).",
        "required": [
          "schemas",
          "Operations"
        ],
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "urn:ietf:params:scim:api:messages:2.0:PatchOp"
            ]
          },
          "Operations": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "op"
              ],
              "properties": {
                "op": {
                  "type": "string",
                  "description": "Operation name.",
                  "enum": [
                    "add",
                    "remove",
                    "replace"
                  ]
                },
                "path": {
                  "type": "string",
                  "description": "Attribute path (e.g. `active`, `members`, `displayName`, or `members[value eq \"123\"]`)."
                },
                "value": {
                  "description": "Operation value."
                }
              }
            }
          }
        }
      },
      "ListResponse": {
        "type": "object",
        "description": "Standard SCIM list response wrapper.",
        "properties": {
          "schemas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "totalResults": {
            "type": "integer"
          },
          "startIndex": {
            "type": "integer"
          },
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/User"
                },
                {
                  "$ref": "#/components/schemas/Group"
                }
              ]
            }
          }
        }
      },
      "WebhookSubscriptionFilter": {
        "type": "object",
        "description": "Event-specific filter to limit webhook notifications. Different properties apply to different events.",
        "properties": {
          "lobbyId": {
            "type": "string",
            "description": "For `lobby.booked`: restrict to bookings for the specified lobby."
          },
          "codes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "For `chat.message.reaction`: restrict to the specified reaction codes (e.g. 'thumbs_up', 'heart')."
          },
          "eventId": {
            "type": "string",
            "description": "For On-Air events (`onair.event.*`, `onair.guest.*`): restrict to the specified event."
          },
          "status": {
            "type": "string",
            "description": "For `onair.guest.rsvp`: restrict to the specified RSVP status.",
            "enum": [
              "invited",
              "going",
              "maybe",
              "notGoing"
            ]
          }
        },
        "additionalProperties": false,
        "nullable": true
      },
      "WebhookSubscriptionRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 255,
            "description": "Destination URL for webhook deliveries. HTTPS is required outside local environments."
          },
          "event": {
            "type": "string",
            "description": "Event to subscribe to.",
            "enum": [
              "chat.message.dm",
              "chat.message.channel",
              "chat.message.reaction",
              "recording.saved",
              "transcript.started",
              "transcript.saved",
              "lobby.booked",
              "user.status.update",
              "onair.event.created",
              "onair.event.updated",
              "onair.event.canceled",
              "onair.guest.rsvp",
              "onair.guest.added"
            ]
          },
          "filter": {
            "$ref": "#/components/schemas/WebhookSubscriptionFilter"
          }
        },
        "required": [
          "url",
          "event"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the webhook subscription."
          },
          "event": {
            "type": "string",
            "description": "Subscribed event name.",
            "enum": [
              "chat.message.dm",
              "chat.message.channel",
              "recording.saved",
              "transcript.saved",
              "lobby.booked",
              "onair.event.created",
              "onair.event.updated",
              "onair.event.canceled",
              "onair.guest.rsvp",
              "onair.guest.added"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Destination URL for webhook deliveries."
          },
          "filter": {
            "$ref": "#/components/schemas/WebhookSubscriptionFilter",
            "description": "Event-specific filter applied to the subscription."
          }
        },
        "required": [
          "id",
          "event",
          "url"
        ]
      },
      "WebhookUnsubscribeRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifier of the webhook subscription to remove."
          }
        },
        "required": [
          "id"
        ]
      },
      "RecordingParticipant": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Display name of the participant"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Primary email address of the participant (if available)"
          },
          "user": {
            "type": "string",
            "description": "Unique Roam user identifier"
          }
        },
        "required": [
          "name",
          "user"
        ]
      },
      "Recording": {
        "type": "object",
        "properties": {
          "recordingId": {
            "type": "string",
            "description": "Unique identifier for the recording"
          },
          "host": {
            "$ref": "#/components/schemas/RecordingParticipant",
            "description": "Host (meeting organizer, if available)"
          },
          "location": {
            "type": "string",
            "description": "Geographic region where the recording took place / storage region"
          },
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 start time of the recording"
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601 end time of the recording"
          },
          "videoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Direct download URL for the video (if enabled)"
          },
          "transcriptId": {
            "type": "string",
            "description": "Identifier for the associated transcript (if available)"
          },
          "participants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RecordingParticipant"
            },
            "description": "Participants present in the recording"
          }
        },
        "required": [
          "recordingId",
          "location",
          "startTime",
          "endTime"
        ]
      },
      "LobbyConfiguration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the lobby configuration"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe slug for the lobby"
          },
          "displayName": {
            "type": "string",
            "description": "Human-readable name of the lobby"
          },
          "active": {
            "type": "boolean",
            "description": "Whether the lobby is currently active"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Public URL for the lobby"
          },
          "handle": {
            "type": "string",
            "description": "The handle extracted from the lobby URL, if available"
          }
        },
        "required": [
          "id",
          "slug",
          "displayName",
          "active",
          "url"
        ]
      },
      "LobbyBooked": {
        "type": "object",
        "properties": {
          "lobby": {
            "$ref": "#/components/schemas/LobbyConfiguration"
          },
          "booking": {
            "$ref": "#/components/schemas/LobbyBooking"
          }
        },
        "required": [
          "lobby",
          "booking"
        ]
      }
    },
    "parameters": {},
    "responses": {
      "Error": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "A description of the error."
                }
              }
            }
          }
        }
      }
    },
    "requestBodies": {}
  },
  "paths": {
    "/chat.sendMessage": {
      "post": {
        "summary": "Send a Roam message",
        "description": "Sends the given message to the specified recipients. At this time, we only\nsupport sending to a single group recipient. You can obtain the group ID on the \"Group\nSettings\" page. That means `recipients` will always be a single-element array containing\na single UUIDv4.\n\nThe `sender` JSON object contains three (optional) string fields: `id`, `name`, and\n`imageUrl`. The `id` is an internal name of the bot you wish to send as, `name` is the\nuser-visible bot name (that is seen when viewing groups), and `imageUrl` is the image\nURL of the bot. Generally, you only need to specify `id` and `name` (e.g.\n`datadog` as `id` and `Datadog Alerts` as `name`). If omitted, the ID and\nsender are inferred to be the API client name.\n\n## Message Text Format\n\nAt this time, we do not fully support standard Markdown, but support is forthcoming. To\nindicate a line break, you must use TWO new line characters in the message (e.g.. `\\n\\n`).\n\n**Access:** Organization only.\n\n**Required scope:** `chat:send_message`\n\n---\n\n**OpenAPI Spec:** [openapi.json](https://developer.ro.am/openapi.json)\n",
        "operationId": "sendMessage",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "description": "The message to send.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "text": {
                    "type": "string"
                  },
                  "markdown": {
                    "type": "boolean",
                    "description": "Text is markdown by default. If this is set to false, markdown interpretation will be disabled."
                  },
                  "sender": {
                    "$ref": "#/components/schemas/MessageSender"
                  }
                },
                "required": [
                  "recipients",
                  "text"
                ]
              },
              "example": {
                "recipients": [
                  "757dfe66-37b4-4772-baa5-8c86ec68c176"
                ],
                "sender": {
                  "id": "datadog",
                  "name": "Datadog"
                },
                "text": "Test message"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Message successfully sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chatId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "chatId": "757dfe66-37b4-4772-baa5-8c86ec68c176",
                  "status": "ok"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "405": {
            "description": "An unsupported method was requested.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occured."
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ],
        "tags": [
          "hq"
        ]
      }
    },
    "/groups.list": {
      "get": {
        "summary": "List groups",
        "description": "Lists all public, non-archived groups in your home Roam.\n\n**Access:** Organization only.\n\n**Required scope:** `groups:read`\n\n---\n\n**OpenAPI Spec:** [openapi.json](https://developer.ro.am/openapi.json)\n",
        "operationId": "listGroups",
        "security": [
          {
            "bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                },
                "example": [
                  {
                    "addressId": "88bebce7-6cbb-4666-96f9-5c02d73e6661",
                    "roamId": 12345,
                    "accountId": 67890,
                    "groupType": "roam",
                    "name": "All Hands",
                    "accessMode": "public",
                    "groupManagement": "groupAdminsOnly",
                    "enforceThreadedMode": false,
                    "dateCreated": "2025-01-15T10:00:00Z",
                    "imageUrl": "https://ro.am/card-images/88bebce7-6cbb-4666-96f9-5c02d73e6661"
                  },
                  {
                    "addressId": "c6040d77-a61c-4834-a939-fe3e687ffd72",
                    "roamId": 12345,
                    "accountId": 67890,
                    "groupType": "group",
                    "name": "Engineering Team",
                    "accessMode": "public",
                    "groupManagement": "allMembers",
                    "enforceThreadedMode": true,
                    "dateCreated": "2025-02-20T14:30:00Z",
                    "imageUrl": "https://ro.am/card-images/c6040d77-a61c-4834-a939-fe3e687ffd72"
                  }
                ]
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ],
        "tags": [
          "hq"
        ]
      }
    },
    "/recording.list": {
      "get": {
        "summary": "List meeting recordings",
        "description": "Lists all recordings in your home Roam, filtered by date range (after/before).\n\nThe ordering of results depends on the filter specified:\n\n- When no parameters are provided, the most recent recordings are returned,\n  sorted in reverse chronological order. This is equivalent to specifying `before`\n  as NOW and leaving `after` unspecified.\n\n- If `after` is specified, the results are sorted in forward chronological order.\n\nEither dates or datetimes may be specified. Dates are interpreted in UTC.\n\n**Access:** Organization only.\n\n**Required scope:** `recordings:read`\n\n---\n\n**OpenAPI Spec:** [openapi.json](https://developer.ro.am/openapi.json)\n",
        "operationId": "listRecordings",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "datetime"
            },
            "description": "The datetime to begin listing recordings (YYYY-MM-DD or RFC-3339).\nDefaults to \"no filter\".\n"
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "datetime"
            },
            "description": "The datetime until which to list recordings (YYYY-MM-DD or RFC-3339).\nDefaults to \"now\".\n"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "The number of recordings to return per response. Default is 10."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque pagination cursor from a previous response's `nextCursor`. Do not construct cursors manually."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recordings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "recordingId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "A unique identifier for the recording"
                          },
                          "location": {
                            "type": "string",
                            "description": "Name of the Roam room where the recording took place"
                          },
                          "startTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Exact time when the recording began"
                          },
                          "endTime": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Exact time when the recording stopped"
                          },
                          "videoUrl": {
                            "type": "string",
                            "format": "uri",
                            "description": "URL where the video file may be downloaded"
                          }
                        }
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Returned if there is a subsequent page of recordings."
                    }
                  }
                },
                "example": {
                  "recordings": [
                    {
                      "recordingId": "9003ec0e-ea7d-41b4-93cf-ef42d730f771",
                      "location": "Conference Room A",
                      "startTime": "2026-01-21T14:10:54Z",
                      "endTime": "2026-01-21T15:12:27Z",
                      "videoUrl": "https://ro.am/recordings/video/9003ec0e-ea7d-41b4-93cf-ef42d730f771.mp4?pwd=abc123"
                    },
                    {
                      "recordingId": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "location": "Huddle Space",
                      "startTime": "2026-01-21T10:00:00Z",
                      "endTime": "2026-01-21T10:45:00Z",
                      "videoUrl": "https://ro.am/recordings/video/a1b2c3d4-e5f6-7890-abcd-ef1234567890.mp4?pwd=def456"
                    }
                  ],
                  "nextCursor": "MjAyNi0wMS0yMVQxMDowMDowMC4wMDBa"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ],
        "tags": [
          "hq"
        ]
      }
    },
    "/messageevent.export": {
      "post": {
        "summary": "Export message events",
        "description": "Obtain a daily message event export containing DMs and group\nchats within your account.\n\nFor customers with archival enabled (please reach out to a Roam\nArchiTech to get this process started), at the end of every day,\nwe export all message events for a particular day as a JSON Lines file.\nThis file contains all messages sent:\n- by a Roam user who is a member of your organization\n- into a chat containing (at the time of export) at least one Roam user who is a member of your organization\n- by a bot integration that is part of your organization\n\nThis file also contains message edit and deletion events that meet the above criteria.\nWe specifically exclude waves, room invitations, and other non-message content\n(that may appear as chats within the Roam application) from the export.\n\n**Access:** Organization only.\n\n**Required scope:** `admin:compliance:read`\n\n### Message Event Structure\n\nEach line within the file is a JSON object containing the following fields:\n- eventType: a string that is one of \u201csent\u201d, \u201cedited\u201d, or \u201cdeleted\u201d\n- chatId: a UUIDv4 identifier for a particular chat. All messages within the same chat shared the same chatId.\n- threadTimestamp (optional): if part of a thread, the Unix epoch timestamp of the thread\u2019s parent message in numerical format. All messages part of a thread share the same threadTimestamp.\n- timestamp: the Unix epoch timestamp when the message was originally sent in numerical format.\n- messageId: an internal UUIDv4 identifier as a string\n- sender: a \u201cParticipant\u201d object that identifiers the message sender\n- contentType: a string that is one of the contentTypes associated with the \u201cMessageContent\u201d object\n- content: a \u201cMessageContent\u201d object that contains the message\u2019s content\n### Participant\n\nA Participant is a JSON object that contains three common fields: \u201cparticipantType\u201d, \u201cid\u201d, and \u201cdisplayName\u201d\n- participantType: one of \u201cemail\u201d, \u201cbot\u201d, or \u201coccupant\u201d\n- id: a UUID identifier for the participant\n- displayName: the name associated with the account or an empty string if not provided\n\nDepending on the participant type, the object also contains additional fields:\n\nEmail Participant (a human user with a Roam user account)\n- email: the email of the participant\n\nBot Participant (an automated user maintained by the Roam team or created via the Roam API)\n- roamId: the roam ID associated with the integration\n- integrationId: a unique integration ID name provided by the bot creator\n- botCode: a unique identifier\n\n### Message Content\n\nA \u201cMessageContent\u201d object is a JSON object that contains the field \u201ccontentType\u201d and,\ndepending on the content type, contains additional fields:\n\n*Text Content* (contentType = \u201ctext\u201d)\n- text: the text in plaintext\n- markdownText: the text in Markdown format\n- attachments: A list of attachment objects \n\n*Emoji Content* (contentType = \u201cemoji\u201d)\n- text: text representation of the emoji\n- colons: emoji in :emoji: format\n- fileUrl: an optional field containing the URL to a custom emoji image\n\n*Item Content* (contentType = \u201citem\u201d)\n- itemUrl: the URL where the file can be downloaded from\n- itemType: the type of item (e.g. \"photo\", \"pdf\", \"blob\", \"video\", \"audio\", etc.)\n\n*Text Snippet Content* (contentType = \"textSnippet\")\n- text: the content of the snippet\n- language: the language of the snippet\n\n*Members Changed Content* (contentType = \u201cmembersChanged\u201d)\n- added: a list of Participant objects corresponding to all participants added in this event\n- removed: a list of Participant objects corresponding to all participants removed in this event\n\n\n---\n\n**OpenAPI Spec:** [openapi.json](https://developer.ro.am/openapi.json)\n",
        "operationId": "messageevent.export",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "description": "Information on the archive to export",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "string",
                    "description": "The UTC date to fetch the export for in YYYY-MM-DD format."
                  }
                },
                "required": [
                  "date"
                ]
              },
              "example": {
                "date": "2026-01-21"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export file returned successfully",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string",
                  "description": "JSON Lines (NDJSON) format with one message event per line"
                },
                "example": "{\"eventType\":\"sent\",\"chatId\":\"757dfe66-37b4-4772-baa5-8c86ec68c176\",\"timestamp\":1737454800000000,\"messageId\":\"a1b2c3d4-e5f6-7890-abcd-ef1234567890\",\"sender\":{\"participantType\":\"email\",\"id\":\"U-709b8a57-70bc-427a-b6f0-b16ba5297f8c\",\"displayName\":\"Alex Chen\",\"email\":\"alex.chen@example.com\"},\"contentType\":\"text\",\"content\":{\"text\":\"Good morning team!\",\"markdownText\":\"Good morning team!\",\"attachments\":[]}}\n{\"eventType\":\"sent\",\"chatId\":\"757dfe66-37b4-4772-baa5-8c86ec68c176\",\"timestamp\":1737454860000000,\"messageId\":\"b2c3d4e5-f6a7-8901-bcde-f23456789012\",\"sender\":{\"participantType\":\"email\",\"id\":\"U-af6663d5-0f37-4105-95df-4fea20ef7c7c\",\"displayName\":\"Jordan Smith\",\"email\":\"jordan.smith@example.com\"},\"contentType\":\"text\",\"content\":{\"text\":\"Good morning! Ready for the standup?\",\"markdownText\":\"Good morning! Ready for the standup?\",\"attachments\":[]}}\n"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error",
            "description": "Bad request."
          },
          "401": {
            "$ref": "#/components/responses/Error",
            "description": "Presented invalid authentication credentials."
          },
          "405": {
            "$ref": "#/components/responses/Error",
            "description": "An unsupported method was requested."
          },
          "500": {
            "description": "An internal error occured."
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ],
        "tags": [
          "hq"
        ]
      }
    },
    "/magicast.list": {
      "get": {
        "tags": [
          "hq",
          "Magicasts"
        ],
        "summary": "List magicasts",
        "description": "Lists all magicasts in your Roam, sorted in reverse chronological order.\n\n**Access:** Organization and Personal. In Personal mode, only magicasts owned by the authenticated user are returned.\n\n**Required scope:** `magicast:read`\n\n---\n\n**OpenAPI Spec:** [openapi.json](https://developer.ro.am/openapi.json)\n",
        "operationId": "listMagicasts",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            },
            "description": "The number of magicasts to return per response. Default is 10."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Opaque pagination cursor from a previous response's `nextCursor`. Do not construct cursors manually."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "magicasts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Magicast"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Returned if there is a subsequent page of magicasts."
                    }
                  }
                },
                "example": {
                  "magicasts": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "name": "Q1 Product Launch Recap",
                      "createdAt": "2026-03-20T14:30:00Z",
                      "ownerId": "0cc74785-e31e-4403-aa5e-0cc7c1897e66",
                      "coverImageUrl": "https://ro.am/assets/a1b2c3d4/thumbnail"
                    },
                    {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
                      "name": "Weekly Standup Highlights",
                      "createdAt": "2026-03-18T09:15:00Z",
                      "ownerId": "6a897aa3-0cab-4ba4-a48b-4be14a9585d0",
                      "coverImageUrl": "https://ro.am/assets/b2c3d4e5/thumbnail"
                    }
                  ],
                  "nextCursor": "MjAyNi0wMy0xOFQwOToxNTowMC4wMDBa"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/magicast.info": {
      "get": {
        "tags": [
          "hq",
          "Magicasts"
        ],
        "summary": "Get magicast",
        "description": "Retrieve a magicast by ID.\n\n**Access:** Organization and Personal. In Personal mode, only magicasts owned by the authenticated user are accessible.\n\n**Required scope:** `magicast:read`\n\n---\n\n**OpenAPI Spec:** [openapi.json](https://developer.ro.am/openapi.json)\n",
        "operationId": "getMagicast",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The magicast ID."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Magicast"
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "name": "Q1 Product Launch Recap",
                  "createdAt": "2026-03-20T14:30:00Z",
                  "ownerId": "0cc74785-e31e-4403-aa5e-0cc7c1897e66",
                  "coverImageUrl": "https://ro.am/assets/a1b2c3d4/thumbnail"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `id` parameter"
          },
          "404": {
            "description": "Magicast not found"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/test": {
      "get": {
        "summary": "Test endpoint",
        "responses": {
          "200": {
            "description": "Valid"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ],
        "tags": [
          "hq"
        ],
        "security": [
          {
            "bearer": []
          }
        ],
        "operationId": "hq_get_test"
      }
    },
    "/onair.event.info": {
      "get": {
        "tags": [
          "onair",
          "Events"
        ],
        "summary": "Get event info",
        "description": "Returns details for a single On-Air event.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:read`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.event.info",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Event details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnAirEvent"
                },
                "example": {
                  "id": "evt_abc123",
                  "title": "Q1 All Hands",
                  "description": "Quarterly company all-hands meeting",
                  "slug": "q1-all-hands",
                  "start": "2026-04-01T14:00:00Z",
                  "end": "2026-04-01T15:00:00Z",
                  "timeZone": "America/New_York",
                  "eventPageUrl": "https://ro.am/e/q1-all-hands",
                  "joinLinkUrl": "https://ro.am/j/abc123",
                  "enableSEO": true,
                  "autoAdmit": false,
                  "disableRSVP": false,
                  "hosts": [
                    {
                      "id": "host_1",
                      "displayName": "Jane Smith",
                      "displayImageUrl": "https://example.com/jane.jpg"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.event.list": {
      "get": {
        "tags": [
          "onair",
          "Events"
        ],
        "summary": "List events",
        "description": "Returns a paginated list of On-Air events for the organization.\n\nResults are sorted by start time in descending order (most recent first).\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:read`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.event.list",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor from a previous response's `nextCursor`."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "description": "Maximum number of events to return (default 50)."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnAirEvent"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Cursor to fetch the next page. Absent when there are no more results."
                    }
                  }
                },
                "example": {
                  "events": [
                    {
                      "id": "evt_abc123",
                      "title": "Q1 All Hands",
                      "slug": "q1-all-hands",
                      "start": "2026-04-01T14:00:00Z",
                      "end": "2026-04-01T15:00:00Z",
                      "timeZone": "America/New_York",
                      "eventPageUrl": "https://ro.am/e/q1-all-hands",
                      "enableSEO": true,
                      "autoAdmit": false,
                      "disableRSVP": false,
                      "hosts": []
                    }
                  ],
                  "nextCursor": "eyJpZCI6ImV2dF9hYmMxMjMifQ"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.event.create": {
      "post": {
        "tags": [
          "onair",
          "Events"
        ],
        "summary": "Create an event",
        "description": "Creates a new On-Air event. The calendar host must be a member of the organization.\nWhen using a personal access token, `calendarHostEmail` must match the authenticated user.\n\nOptionally provide display hosts in the `hosts` array. Display hosts appear on\nthe event page and are independent of the calendar host.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:write`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.event.create",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnAirEventCreateRequest"
              },
              "example": {
                "title": "Q1 All Hands",
                "description": "Quarterly company all-hands meeting",
                "calendarHostEmail": "jane@example.com",
                "hosts": [
                  {
                    "name": "Jane Smith",
                    "imageUrl": "https://example.com/jane.jpg"
                  }
                ],
                "start": "2026-04-01T14:00:00Z",
                "end": "2026-04-01T15:00:00Z",
                "timeZone": "America/New_York",
                "enableSEO": true,
                "autoAdmit": false,
                "disableRSVP": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnAirEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.event.update": {
      "post": {
        "tags": [
          "onair",
          "Events"
        ],
        "summary": "Update an event",
        "description": "Updates an existing On-Air event. Only the fields provided in the request body\nare updated; omitted fields remain unchanged.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:write`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.event.update",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnAirEventUpdateRequest"
              },
              "example": {
                "id": "evt_abc123",
                "title": "Q1 All Hands (Updated)",
                "start": "2026-04-01T15:00:00Z",
                "end": "2026-04-01T16:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnAirEvent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.event.cancel": {
      "post": {
        "tags": [
          "onair",
          "Events"
        ],
        "summary": "Cancel an event",
        "description": "Cancels an On-Air event. This action cannot be undone.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:write`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.event.cancel",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identifier of the event to cancel."
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "evt_abc123"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Event canceled successfully."
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.guest.info": {
      "get": {
        "tags": [
          "onair",
          "Guests"
        ],
        "summary": "Get guest info",
        "description": "Returns details for a single On-Air event guest.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:read`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.guest.info",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The guest identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Guest details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnAirGuest"
                },
                "example": {
                  "id": "gst_xyz789",
                  "eventId": "evt_abc123",
                  "email": "alice@example.com",
                  "name": "Alice Johnson",
                  "status": "going",
                  "created": "2026-03-15T10:00:00Z",
                  "updated": "2026-03-15T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.guest.list": {
      "get": {
        "tags": [
          "onair",
          "Guests"
        ],
        "summary": "List guests",
        "description": "Returns a paginated list of guests for an On-Air event. Optionally filter by RSVP status.\n\nResults are sorted by creation time in descending order (most recently added first).\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:read`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.guest.list",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event identifier."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "invited",
                "going",
                "maybe",
                "notGoing"
              ]
            },
            "description": "Filter by RSVP status."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pagination cursor from a previous response's `nextCursor`."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            },
            "description": "Maximum number of guests to return (default 100)."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of guests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnAirGuest"
                      }
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Cursor to fetch the next page. Absent when there are no more results."
                    }
                  }
                },
                "example": {
                  "guests": [
                    {
                      "id": "gst_xyz789",
                      "eventId": "evt_abc123",
                      "email": "alice@example.com",
                      "name": "Alice Johnson",
                      "status": "going",
                      "created": "2026-03-15T10:00:00Z",
                      "updated": "2026-03-15T12:00:00Z"
                    }
                  ],
                  "nextCursor": "eyJpZCI6ImdzdF94eXo3ODkifQ"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.guest.add": {
      "post": {
        "tags": [
          "onair",
          "Guests"
        ],
        "summary": "Add guests",
        "description": "Adds one or more guests to an On-Air event.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:write`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.guest.add",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnAirGuestAddRequest"
              },
              "example": {
                "eventId": "evt_abc123",
                "guests": [
                  {
                    "email": "alice@example.com",
                    "name": "Alice Johnson",
                    "status": "going"
                  },
                  {
                    "email": "bob@example.com",
                    "name": "Bob Williams"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The added guests.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "guests": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnAirGuest"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.guest.update": {
      "post": {
        "tags": [
          "onair",
          "Guests"
        ],
        "summary": "Update guest RSVP",
        "description": "Updates the RSVP status of a guest.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:write`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.guest.update",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identifier of the guest to update."
                  },
                  "status": {
                    "type": "string",
                    "description": "New RSVP status.",
                    "enum": [
                      "invited",
                      "going",
                      "maybe",
                      "notGoing"
                    ]
                  }
                },
                "required": [
                  "id",
                  "status"
                ]
              },
              "example": {
                "id": "gst_xyz789",
                "status": "going"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated guest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnAirGuest"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.guest.remove": {
      "post": {
        "tags": [
          "onair",
          "Guests"
        ],
        "summary": "Remove a guest",
        "description": "Removes a guest from an On-Air event.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:write`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.guest.remove",
        "security": [
          {
            "bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identifier of the guest to remove."
                  }
                },
                "required": [
                  "id"
                ]
              },
              "example": {
                "id": "gst_xyz789"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Guest removed successfully."
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/onair.attendance.list": {
      "get": {
        "tags": [
          "onair",
          "Attendance"
        ],
        "summary": "List attendance",
        "description": "Returns the attendance report for an On-Air event, combining RSVP data with\njoin/duration information. Guests with RSVP records are listed first,\nfollowed by any additional attendees who joined without an RSVP.\n\n**Access:** Organization and Personal.\n\n**Required scope:** `onair:read`\n\n---\n\n**OpenAPI Spec:** [onair.json](https://developer.ro.am/onair.json)\n",
        "operationId": "onair.attendance.list",
        "security": [
          {
            "bearer": []
          }
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The event identifier."
          }
        ],
        "responses": {
          "200": {
            "description": "Attendance report for the event.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attendees": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OnAirAttendee"
                      }
                    }
                  }
                },
                "example": {
                  "attendees": [
                    {
                      "email": "alice@example.com",
                      "name": "Alice Johnson",
                      "rsvpStatus": "going",
                      "created": 1711929600000,
                      "rsvpLastUpdate": 1711936800000,
                      "joinDurationMinutes": 55.3,
                      "joinStart": 1711980000000
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "description": "Presented invalid authentication credentials.",
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "description": "An internal error occurred.",
            "$ref": "#/components/responses/Error"
          }
        },
        "servers": [
          {
            "url": "https://api.ro.am/v1"
          }
        ]
      }
    },
    "/chat.list": {
      "get": {
        "tags": [
          "chat",
          "Chat"
        ],
        "summary": "List chats",
[...]
