openapi: 3.0.3
info:
  title: Seats.aero Partner API
  version: '1.0'
  description: 'Award-flight availability from Seats.aero''s Partner API: cached search, bulk availability,
    routes, destinations, trip detail, and refresh.'
  x-display-name: Seats.aero
  x-website: https://seats.aero
servers:
- url: https://seats.aero/partnerapi
security:
- PartnerAuthorization: []
x-rate-class: daily
x-pp-default-rate-limit: auto
x-mcp:
  transport:
  - stdio
  - http
  intents:
  - name: find_best_award
    description: Find the cheapest cached award availability from one airport to another in a cabin/date
      range, ordered by lowest mileage cost, then fetch bookable trip detail for the top result.
    params:
    - name: origin
      type: string
      required: true
      description: Origin IATA airport code.
    - name: destination
      type: string
      required: true
      description: Destination IATA airport code.
    - name: cabin
      type: string
      required: false
      description: Cabin class to search (economy, premium, business, first). Defaults to business.
    - name: start_date
      type: string
      required: false
      description: Earliest departure date, YYYY-MM-DD.
    - name: end_date
      type: string
      required: false
      description: Latest departure date, YYYY-MM-DD.
    steps:
    - endpoint: awards.cached-search
      bind:
        origin_airport: ${input.origin}
        destination_airport: ${input.destination}
        cabins: ${input.cabin}
        start_date: ${input.start_date}
        end_date: ${input.end_date}
        order_by: lowest_mileage
        take: '10'
      capture: results
    returns: results
  - name: explore_from_airport
    description: Find every airport reachable nonstop from one origin, with the cheapest nonstop mileage
      price per cabin across all mileage programs.
    params:
    - name: origin
      type: string
      required: true
      description: Origin IATA airport code.
    steps:
    - endpoint: destinations.get
      bind:
        origin_airport: ${input.origin}
      capture: destinations
    returns: destinations
  - name: program_calendar_scan
    description: Scan one mileage program's bulk award calendar across a region pair, date range, and
      cabin.
    params:
    - name: source
      type: string
      required: true
      description: Mileage program source identifier.
    - name: cabin
      type: string
      required: false
      description: Cabin class filter (economy, premium, business, first).
    - name: start_date
      type: string
      required: false
      description: Start of the date range, YYYY-MM-DD.
    - name: end_date
      type: string
      required: false
      description: End of the date range, YYYY-MM-DD.
    - name: origin_region
      type: string
      required: false
      description: Origin region filter.
    - name: destination_region
      type: string
      required: false
      description: Destination region filter.
    steps:
    - endpoint: availability.bulk
      bind:
        source: ${input.source}
        cabin: ${input.cabin}
        start_date: ${input.start_date}
        end_date: ${input.end_date}
        origin_region: ${input.origin_region}
        destination_region: ${input.destination_region}
      capture: results
    returns: results
x-cache:
  enabled: true
  stale_after: 168h
  refresh_timeout: 30s
  env_opt_out: SEATS_AERO_NO_AUTO_REFRESH
  resources:
    routes: 168h
x-learn:
  enabled: true
  entity_lookup_seeds:
    program:
    - canonical: eurobonus
      aliases:
      - sas eurobonus
      - sas
    - canonical: virginatlantic
      aliases:
      - virgin atlantic flying club
      - flying club
      - virgin atlantic
    - canonical: aeromexico
      aliases:
      - aeromexico club premier
      - club premier
    - canonical: american
      aliases:
      - american airlines
      - aadvantage
      - aa
    - canonical: delta
      aliases:
      - delta skymiles
      - skymiles
      - dl
    - canonical: etihad
      aliases:
      - etihad guest
    - canonical: united
      aliases:
      - united mileageplus
      - mileageplus
      - ua
    - canonical: emirates
      aliases:
      - emirates skywards
      - skywards
    - canonical: aeroplan
      aliases:
      - air canada aeroplan
      - air canada
      - aeroplan points
    - canonical: alaska
      aliases:
      - alaska mileage plan
      - mileage plan
    - canonical: velocity
      aliases:
      - virgin australia velocity
      - virgin australia
    - canonical: qantas
      aliases:
      - qantas frequent flyer
      - qff
    - canonical: connectmiles
      aliases:
      - copa connectmiles
      - copa
    - canonical: azul
      aliases:
      - azul tudoazul
      - tudoazul
    - canonical: smiles
      aliases:
      - gol smiles
      - gol
    - canonical: flyingblue
      aliases:
      - air france klm flying blue
      - flying blue
      - air france
      - klm
    - canonical: jetblue
      aliases:
      - jetblue trueblue
      - trueblue
    - canonical: qatar
      aliases:
      - qatar privilege club
      - privilege club
      - qatar airways
    - canonical: turkish
      aliases:
      - turkish miles & smiles
      - miles and smiles
      - turkish airlines
    - canonical: singapore
      aliases:
      - singapore krisflyer
      - krisflyer
      - singapore airlines
    - canonical: ethiopian
      aliases:
      - ethiopian shebamiles
      - shebamiles
    - canonical: saudia
      aliases:
      - saudi alfursan
      - alfursan
    - canonical: finnair
      aliases:
      - finnair plus
    - canonical: lufthansa
      aliases:
      - lufthansa miles&more
      - miles & more
      - miles and more
    - canonical: frontier
      aliases:
      - frontier airlines
    - canonical: spirit
      aliases:
      - spirit airlines
    cabin:
    - canonical: economy
      aliases:
      - y
      - coach
      - main cabin
    - canonical: premium
      aliases:
      - w
      - premium economy
      - pe
    - canonical: business
      aliases:
      - j
      - biz
      - business class
    - canonical: first
      aliases:
      - f
      - first class
  synonyms:
    nonstop: direct
    non-stop: direct
    biz: business
components:
  securitySchemes:
    PartnerAuthorization:
      type: apiKey
      in: header
      name: Partner-Authorization
      description: Seats.aero Partner API key.
      x-auth-env-vars:
      - SEATS_AERO_API_KEY
      x-auth-key-url: https://seats.aero/settings
      x-auth-instructions: 'Seats.aero Pro subscribers: Settings -> API -> create a Partner API key (1,000
        calls/day; not all regions are eligible)'
      x-auth-title: Seats.aero Partner API key
  schemas:
    Source:
      type: string
      enum:
      - eurobonus
      - virginatlantic
      - aeromexico
      - american
      - delta
      - etihad
      - united
      - emirates
      - aeroplan
      - alaska
      - velocity
      - qantas
      - connectmiles
      - azul
      - smiles
      - flyingblue
      - jetblue
      - qatar
      - turkish
      - singapore
      - ethiopian
      - saudia
      - finnair
      - lufthansa
      - frontier
      - spirit
      description: Mileage program source identifier (26 programs tracked by the Partner API).
    CabinClass:
      type: string
      enum:
      - economy
      - premium
      - business
      - first
    Route:
      type: object
      properties:
        ID:
          type: string
        OriginAirport:
          type: string
        OriginRegion:
          type: string
        DestinationAirport:
          type: string
        DestinationRegion:
          type: string
        Distance:
          type: integer
        Source:
          $ref: '#/components/schemas/Source'
        NumDaysOut:
          type: integer
          nullable: true
          description: How many days out this route is currently tracked/observed. Present on /routes
            rows and on the nested Route inside search/availability results.
      additionalProperties: true
    Coordinates:
      type: object
      properties:
        Lat:
          type: number
        Lon:
          type: number
    BookingLink:
      type: object
      properties:
        label:
          type: string
        link:
          type: string
        primary:
          type: boolean
      additionalProperties: true
    Availability:
      type: object
      properties:
        ID:
          type: string
        RouteID:
          type: string
        Route:
          $ref: '#/components/schemas/Route'
        Date:
          type: string
          format: date
        ParsedDate:
          type: string
          format: date-time
        TaxesCurrency:
          type: string
          nullable: true
          description: ISO currency code for the TotalTaxes/DirectTotalTaxes fields.
        YAvailable:
          type: boolean
        YAvailableRaw:
          type: boolean
          nullable: true
          description: Unfiltered availability flag before dynamic-price filtering (see include_filtered).
        YMileageCost:
          type: string
          nullable: true
          description: Mileage price as a decimal string, e.g. "6000". String-typed by the vendor even
            though it is numeric.
        YMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered mileage price before dynamic-price filtering.
        YDirectMileageCost:
          type: number
          nullable: true
          description: Cheapest direct/nonstop mileage price, when a direct option exists.
        YDirectMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop mileage price before dynamic-price filtering.
        YTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees in TaxesCurrency for the cheapest itinerary in this cabin.
        YTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered taxes/fees before dynamic-price filtering.
        YDirectTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees for the cheapest direct/nonstop itinerary in this cabin.
        YDirectTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop taxes/fees before dynamic-price filtering.
        YRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats reported for this cabin.
        YRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered remaining-seats value before dynamic-price filtering.
        YDirectRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats on the cheapest direct/nonstop itinerary.
        YDirectRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop remaining-seats value before dynamic-price filtering.
        YAirlines:
          type: string
          nullable: true
          description: Comma-delimited operating/marketing airline codes for this cabin.
        YDirectAirlines:
          type: string
          nullable: true
          description: Comma-delimited airline codes for the direct/nonstop option in this cabin.
        YDirect:
          type: boolean
          description: True if a direct/nonstop itinerary is available in this cabin.
        WAvailable:
          type: boolean
        WAvailableRaw:
          type: boolean
          nullable: true
          description: Unfiltered availability flag before dynamic-price filtering (see include_filtered).
        WMileageCost:
          type: string
          nullable: true
          description: Mileage price as a decimal string, e.g. "6000". String-typed by the vendor even
            though it is numeric.
        WMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered mileage price before dynamic-price filtering.
        WDirectMileageCost:
          type: number
          nullable: true
          description: Cheapest direct/nonstop mileage price, when a direct option exists.
        WDirectMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop mileage price before dynamic-price filtering.
        WTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees in TaxesCurrency for the cheapest itinerary in this cabin.
        WTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered taxes/fees before dynamic-price filtering.
        WDirectTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees for the cheapest direct/nonstop itinerary in this cabin.
        WDirectTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop taxes/fees before dynamic-price filtering.
        WRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats reported for this cabin.
        WRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered remaining-seats value before dynamic-price filtering.
        WDirectRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats on the cheapest direct/nonstop itinerary.
        WDirectRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop remaining-seats value before dynamic-price filtering.
        WAirlines:
          type: string
          nullable: true
          description: Comma-delimited operating/marketing airline codes for this cabin.
        WDirectAirlines:
          type: string
          nullable: true
          description: Comma-delimited airline codes for the direct/nonstop option in this cabin.
        WDirect:
          type: boolean
          description: True if a direct/nonstop itinerary is available in this cabin.
        JAvailable:
          type: boolean
        JAvailableRaw:
          type: boolean
          nullable: true
          description: Unfiltered availability flag before dynamic-price filtering (see include_filtered).
        JMileageCost:
          type: string
          nullable: true
          description: Mileage price as a decimal string, e.g. "6000". String-typed by the vendor even
            though it is numeric.
        JMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered mileage price before dynamic-price filtering.
        JDirectMileageCost:
          type: number
          nullable: true
          description: Cheapest direct/nonstop mileage price, when a direct option exists.
        JDirectMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop mileage price before dynamic-price filtering.
        JTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees in TaxesCurrency for the cheapest itinerary in this cabin.
        JTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered taxes/fees before dynamic-price filtering.
        JDirectTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees for the cheapest direct/nonstop itinerary in this cabin.
        JDirectTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop taxes/fees before dynamic-price filtering.
        JRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats reported for this cabin.
        JRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered remaining-seats value before dynamic-price filtering.
        JDirectRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats on the cheapest direct/nonstop itinerary.
        JDirectRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop remaining-seats value before dynamic-price filtering.
        JAirlines:
          type: string
          nullable: true
          description: Comma-delimited operating/marketing airline codes for this cabin.
        JDirectAirlines:
          type: string
          nullable: true
          description: Comma-delimited airline codes for the direct/nonstop option in this cabin.
        JDirect:
          type: boolean
          description: True if a direct/nonstop itinerary is available in this cabin.
        FAvailable:
          type: boolean
        FAvailableRaw:
          type: boolean
          nullable: true
          description: Unfiltered availability flag before dynamic-price filtering (see include_filtered).
        FMileageCost:
          type: string
          nullable: true
          description: Mileage price as a decimal string, e.g. "6000". String-typed by the vendor even
            though it is numeric.
        FMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered mileage price before dynamic-price filtering.
        FDirectMileageCost:
          type: number
          nullable: true
          description: Cheapest direct/nonstop mileage price, when a direct option exists.
        FDirectMileageCostRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop mileage price before dynamic-price filtering.
        FTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees in TaxesCurrency for the cheapest itinerary in this cabin.
        FTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered taxes/fees before dynamic-price filtering.
        FDirectTotalTaxes:
          type: number
          nullable: true
          description: Taxes/fees for the cheapest direct/nonstop itinerary in this cabin.
        FDirectTotalTaxesRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop taxes/fees before dynamic-price filtering.
        FRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats reported for this cabin.
        FRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered remaining-seats value before dynamic-price filtering.
        FDirectRemainingSeats:
          type: number
          nullable: true
          description: Remaining bookable seats on the cheapest direct/nonstop itinerary.
        FDirectRemainingSeatsRaw:
          type: number
          nullable: true
          description: Unfiltered direct/nonstop remaining-seats value before dynamic-price filtering.
        FAirlines:
          type: string
          nullable: true
          description: Comma-delimited operating/marketing airline codes for this cabin.
        FDirectAirlines:
          type: string
          nullable: true
          description: Comma-delimited airline codes for the direct/nonstop option in this cabin.
        FDirect:
          type: boolean
          description: True if a direct/nonstop itinerary is available in this cabin.
        Source:
          $ref: '#/components/schemas/Source'
        CreatedAt:
          type: string
          format: date-time
        UpdatedAt:
          type: string
          format: date-time
        AvailabilityTrips:
          type: array
          nullable: true
          description: Trip-level details when include_trips is true. A mixed-cabin trip includes MixedCabinPct
            when that percentage is available; it is the percentage of the trip's distance flown below
            the reported Cabin.
          items:
            $ref: '#/components/schemas/Trip'
      additionalProperties: true
    SearchResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Availability'
        count:
          type: integer
        hasMore:
          type: boolean
        cursor:
          type: integer
          description: Opaque pagination cursor (a Unix timestamp from the first response). Treat as an
            opaque integer; pass back verbatim with skip to page.
      additionalProperties: true
    TripSegment:
      type: object
      properties:
        ID:
          type: string
        RouteID:
          type: string
        AvailabilityID:
          type: string
        AvailabilityTripID:
          type: string
        FlightNumber:
          type: string
        Distance:
          type: integer
        FareClass:
          type: string
        AircraftName:
          type: string
        AircraftCode:
          type: string
        OriginAirport:
          type: string
        DestinationAirport:
          type: string
        DepartsAt:
          type: string
          format: date-time
        ArrivesAt:
          type: string
          format: date-time
        CreatedAt:
          type: string
          format: date-time
        UpdatedAt:
          type: string
          format: date-time
        Source:
          $ref: '#/components/schemas/Source'
        Cabin:
          type: string
          nullable: true
          description: Cabin flown on this segment (present on /live results).
        Order:
          type: integer
          nullable: true
          description: Segment order within the itinerary (present on /trips/{id} results).
      additionalProperties: true
    Trip:
      type: object
      description: A single bookable itinerary under an Availability row, as returned by GET /trips/{id}.
      properties:
        ID:
          type: string
        RouteID:
          type: string
        AvailabilityID:
          type: string
        AvailabilitySegments:
          type: array
          items:
            $ref: '#/components/schemas/TripSegment'
        TotalDuration:
          type: integer
        Stops:
          type: integer
        Carriers:
          type: string
        RemainingSeats:
          type: integer
          nullable: true
        MileageCost:
          type: integer
          nullable: true
        TotalTaxes:
          type: integer
          nullable: true
        TaxesCurrency:
          type: string
        TaxesCurrencySymbol:
          type: string
        AllianceCost:
          type: integer
          nullable: true
        FlightNumbers:
          type: string
        DepartsAt:
          type: string
          format: date-time
        Cabin:
          type: string
        ArrivesAt:
          type: string
          format: date-time
        CreatedAt:
          type: string
          format: date-time
        UpdatedAt:
          type: string
          format: date-time
        Source:
          $ref: '#/components/schemas/Source'
        MixedCabinPct:
          type: integer
          minimum: 1
          maximum: 100
          description: Percentage of the itinerary's distance flown below the reported Cabin. Omitted
            when no distance is flown below that cabin.
      additionalProperties: true
    TripDetailResponse:
      type: object
      description: 'Response envelope for GET /trips/{id}: one or more bookable itineraries for the given
        Availability ID, plus origin/destination coordinates and booking links.'
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Trip'
        origin_coordinates:
          $ref: '#/components/schemas/Coordinates'
        destination_coordinates:
          $ref: '#/components/schemas/Coordinates'
        booking_links:
          type: array
          items:
            $ref: '#/components/schemas/BookingLink'
      additionalProperties: true
    LiveSearchResult:
      type: object
      description: A single live-search itinerary result, returned only by POST /live. Superset of Trip
        with connection/aircraft/filter fields specific to live search.
      allOf:
      - $ref: '#/components/schemas/Trip'
      - type: object
        properties:
          TotalSegmentDistance:
            type: integer
          OriginAirport:
            type: string
          DestinationAirport:
            type: string
          Connections:
            description: Vendor-documented as an untyped field; shape not specified by the current OpenAPI
              export.
          Aircraft:
            description: Vendor-documented as an untyped field; shape not specified by the current OpenAPI
              export.
          Filtered:
            type: boolean
            description: True if this result was subject to dynamic-price filtering.
    LiveSearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/LiveSearchResult'
        bookingLinks:
          type: array
          items:
            $ref: '#/components/schemas/BookingLink'
        success:
          type: boolean
        cached:
          type: boolean
          nullable: true
          description: True when an opted-in request (smart_cache) was resolved from cached availability
            after the live search failed. Omitted for live results.
      additionalProperties: true
    LiveSearchRequest:
      type: object
      required:
      - origin_airport
      - destination_airport
      - departure_date
      - source
      properties:
        origin_airport:
          type: string
          description: The origin airport to search from.
        destination_airport:
          type: string
          description: The destination airport to search to.
        departure_date:
          type: string
          format: date
          description: Departure date to search, in YYYY-MM-DD format.
        source:
          $ref: '#/components/schemas/Source'
        disable_filters:
          type: boolean
          default: false
          description: Disables filters for dynamic pricing and mismatched airports. Where supported by
            the mileage program, this may also return mixed-cabin itineraries. Results with a computed
            mixed-cabin percentage include MixedCabinPct.
        show_dynamic_pricing:
          type: boolean
          default: false
          description: Disables only filters for dynamic pricing, but not for mismatched airports.
        smart_cache:
          type: boolean
          default: false
          description: When true, an eligible failed live search can return matching cached availability
            instead. The fallback preserves the requested source, airports, departure date, seat count,
            filter settings, and stored result identifiers. Cache-resolved responses do not create live
            provider billing records. Definitive unsupported-source or unsupported-route responses do
            not use the fallback. If no matching cached search exists, the original live-search error
            is returned.
        seat_count:
          type: integer
          default: 1
          minimum: 1
          maximum: 9
          description: Number of adult passengers to search for, between 1-9 seats.
    RefreshRequest:
      type: object
      required:
      - availability_ids
      properties:
        availability_ids:
          type: array
          items:
            type: string
          minItems: 1
          maxItems: 250
          description: 1 to 250 availability object IDs, as returned by /search or /availability. Duplicates
            are ignored.
    RefreshResponse:
      type: object
      properties:
        items:
          type: array
          description: Per-item state for every requested ID.
          items:
            type: object
            properties:
              availability_id:
                type: string
              status:
                type: string
                description: 'Current state of this item: `queued` (queued by this call, one credit charged),
                  `processing` (still being refreshed), `succeeded` (the data was refreshed), `failed`
                  (the refresh did not complete; its credit was refunded, and the item can be re-queued
                  after a short cooldown), `fresh` (updated within the last 3 hours, nothing to do), `skipped_outage`
                  (the mileage program currently has an outage), `not_refreshable` (this program does
                  not support refreshing), `not_found` (unknown ID), or `insufficient_quota` (stale, but
                  beyond your remaining daily quota; not queued or charged, and can be re-submitted once
                  quota frees up or resets). Only `queued` costs a credit.'
              updated_at:
                type: string
                format: date-time
                description: The availability's current updated_at, when known (RFC 3339).
        queued:
          type: integer
          description: Items queued (and credits charged) by this call.
        refunded:
          type: integer
          description: Credits refunded by this call for newly detected failures.
        counts:
          type: object
          properties:
            processing:
              type: integer
              description: Items queued or in flight (includes items just queued).
            succeeded:
              type: integer
              description: Items whose data was updated.
            failed:
              type: integer
              description: Items whose refresh did not complete.
        complete:
          type: boolean
          description: True once no items are still processing; stop polling.
        quota:
          type: object
          description: Your daily API quota after this request. Refresh charges and refunds share the
            same pool as regular API calls.
          properties:
            limit:
              type: integer
              description: Total API calls allowed per UTC day.
            used:
              type: integer
              description: Calls consumed so far today, including refresh credits.
            remaining:
              type: integer
              description: Calls left today.
            reset_seconds:
              type: integer
              description: Seconds until the quota resets at UTC midnight.
    Destination:
      type: object
      properties:
        airport:
          type: string
          description: The IATA code on the other end of the route.
        economy:
          type: integer
          nullable: true
          description: Cheapest raw nonstop economy mileage price across all sources, or null if no nonstop
            economy availability.
        premium:
          type: integer
          nullable: true
          description: Cheapest raw nonstop premium economy mileage price across all sources, or null.
        business:
          type: integer
          nullable: true
          description: Cheapest raw nonstop business mileage price across all sources, or null.
        first:
          type: integer
          nullable: true
          description: Cheapest raw nonstop first class mileage price across all sources, or null.
    DestinationsResponse:
      type: object
      properties:
        origin_airport:
          type: string
          description: Echoes the requested origin. Present only when origin_airport was supplied.
        destination_airport:
          type: string
          description: Echoes the requested destination. Present only when destination_airport was supplied.
        destinations:
          type: array
          description: Reachable airports on the other end. Empty when the airport has no known nonstop
            routes.
          items:
            $ref: '#/components/schemas/Destination'
        success:
          type: boolean
      additionalProperties: true
paths:
  /search:
    get:
      operationId: cachedSearch
      summary: Cached search
      description: Search Seats.aero cached award availability between one or more origin and destination
        airports, across one or more mileage programs. This is the flagship cached-search endpoint behind
        seats.aero's own web app.
      tags:
      - availability
      x-pp-resource: awards
      x-happy-args: --origin-airport=JFK;--destination-airport=LHR;--cabins=business;--take=5
      parameters:
      - name: origin_airport
        in: query
        required: true
        description: A list of origin airports. Comma-delimited if multiple, such as "SFO,LAX".
        schema:
          type: string
      - name: destination_airport
        in: query
        required: true
        description: A list of destination airports. Comma-delimited if multiple, such as "FRA,LHR".
        schema:
          type: string
      - name: start_date
        in: query
        description: Results must depart between start_date and end_date when specified, in YYYY-MM-DD
          format.
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: Results must depart between start_date and end_date when specified, in YYYY-MM-DD
          format.
        schema:
          type: string
          format: date
      - name: cursor
        in: query
        description: A cursor you obtained from a previous search call.
        schema:
          type: integer
      - name: take
        in: query
        description: Maximum amount of results to respond with. Must be >= 10 and <= 1000.
        schema:
          type: integer
          default: 500
          minimum: 10
          maximum: 1000
      - name: skip
        in: query
        description: How many results to skip.
        schema:
          type: integer
      - name: order_by
        in: query
        description: By default, results are ordered by departure date and then by available cabins, with
          available premium cabins ranked above results without them available. You can alternatively
          specify lowest_mileage in this parameter to return results with the cheapest prices first.
        schema:
          type: string
          enum:
          - ''
          - lowest_mileage
      - name: include_trips
        in: query
        description: Include trip-level details in the API response. This may degrade response time and
          sizing.
        schema:
          type: boolean
          default: false
      - name: only_direct_flights
        in: query
        description: Only return results that have a direct flight available. Respects the cabin parameter
          if provided.
        schema:
          type: boolean
          default: false
      - name: carriers
        in: query
        description: Only return results involving these comma-separated carriers (i.e. "DL,AA"). Respects
          the cabin parameter if provided.
        schema:
          type: string
      - name: include_filtered
        in: query
        description: Return results that only have raw (filtered) results. Enable this when using the
          raw fields to prevent dynamic price filtering.
        schema:
          type: boolean
          default: false
      - name: sources
        in: query
        description: A list of mileage programs to filter by. Comma-delimited if multiple, such as "aeroplan,united".
        schema:
          type: string
      - name: minify_trips
        in: query
        description: When include_trips and minify_trips are both enabled, returns a reduced amount of
          fields in each trip to improve performance.
        schema:
          type: boolean
      - name: cabins
        in: query
        description: 'Results must have these cabins available when specified. Comma-delimited if multiple,
          such as "economy,business". Must not be provided if "cabin" was provided. Replaces the singular
          `cabin` parameter used on other endpoints: `cabin` is not accepted here.'
        schema:
          type: string
      - name: min_cabin_pct
        in: query
        description: Minimum percentage of each itinerary's distance that must be flown in its reported
          Cabin or a higher cabin. Must be a whole number from 0 to 100. For example, 75 permits up to
          25% of the journey in a lower cabin. Omit this parameter or set it to 100 to exclude itineraries
          with any distance below the reported Cabin.
        schema:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
      responses:
        '200':
          description: Cached availability results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /availability:
    get:
      operationId: bulkAvailability
      summary: Bulk availability
      description: Retrieve a large amount of availability objects from one specific mileage program.
      tags:
      - availability
      x-happy-args: --source=aeroplan;--cabin=business;--take=5
      parameters:
      - name: source
        in: query
        required: true
        description: The mileage program to retrieve availability from.
        schema:
          $ref: '#/components/schemas/Source'
      - name: cabin
        in: query
        description: 'Only returns results with this cabin available. Must be one of: [economy, premium,
          business, first]'
        schema:
          $ref: '#/components/schemas/CabinClass'
      - name: start_date
        in: query
        description: Only returns results between start_date and end_date when specified.
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        description: Only returns results between start_date and end_date when specified.
        schema:
          type: string
          format: date
      - name: origin_region
        in: query
        description: 'Only returns results originating in this region when specified. Must be one of:
          [North America, South America, Africa, Asia, Europe, Oceania]'
        schema:
          type: string
      - name: destination_region
        in: query
        description: 'Only returns results arriving in this region when specified. Must be one of: [North
          America, South America, Africa, Asia, Europe, Oceania]'
        schema:
          type: string
      - name: take
        in: query
        description: How many results to return. Must be >=10 and <= 1000 if specified, otherwise 500.
        schema:
          type: integer
          default: 500
          minimum: 10
          maximum: 1000
      - name: cursor
        in: query
        description: Cursor you retrieved from a previous availability response.
        schema:
          type: integer
      - name: skip
        in: query
        description: How many results to skip that you have already retrieved. Use this with the cursor
          to paginate responses.
        schema:
          type: integer
          default: 0
      - name: include_filtered
        in: query
        description: Return results that only have raw (filtered) results. Enable this when using the
          raw fields to prevent dynamic price filtering.
        schema:
          type: boolean
          default: false
      - name: min_cabin_pct
        in: query
        description: Minimum percentage of each itinerary's distance that must be flown in its reported
          Cabin or a higher cabin. Must be a whole number from 0 to 100. For example, 75 permits up to
          25% of the journey in a lower cabin. Omit this parameter or set it to 100 to exclude itineraries
          with any distance below the reported Cabin.
        schema:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
      responses:
        '200':
          description: Bulk availability results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /trips/{id}:
    get:
      operationId: getTrip
      summary: Get trip
      description: Retrieve flight-level information from an Availability object by its revalidation/trip
        ID from search or availability results.
      tags:
      - trips
      x-happy-args: <id>=3Afa4uutcjPPE5SMS1ihQ2n1YRd
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the availability object.
        schema:
          type: string
      - name: include_filtered
        in: query
        description: Include expensive dynamically-priced results that may have been filtered out.
        schema:
          type: boolean
          default: false
      - name: min_cabin_pct
        in: query
        description: Minimum percentage of each itinerary's distance that must be flown in its reported
          Cabin or a higher cabin. Must be a whole number from 0 to 100. For example, 75 permits up to
          25% of the journey in a lower cabin. Omit this parameter or set it to 100 to exclude itineraries
          with any distance below the reported Cabin.
        schema:
          type: integer
          minimum: 0
          maximum: 100
          default: 100
      responses:
        '200':
          description: Trip details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetailResponse'
  /routes:
    x-resource-id: ID
    get:
      operationId: getRoutes
      summary: Get routes
      description: Get all origin-destination routes tracked for a mileage program.
      tags:
      - routes
      x-pp-pagination: none
      x-happy-args: --source=aeroplan
      parameters:
      - name: source
        in: query
        required: true
        description: The mileage program to list tracked routes for.
        schema:
          $ref: '#/components/schemas/Source'
      responses:
        '200':
          description: Route list. Returned as a bare JSON array of every tracked route for the source
            in one response (no pagination) -- this can be tens of thousands of rows for some programs.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Route'
  /destinations:
    get:
      operationId: getDestinations
      summary: Get destinations
      description: Returns the airports reachable from (or to) a single airport, along with the cheapest
        raw nonstop mileage price per cabin, aggregated across every source. Only direct/nonstop itineraries
        are considered; connecting prices are excluded. Supply exactly one of origin_airport or destination_airport.
        A cabin with no nonstop availability is returned as null (never 0).
      tags:
      - destinations
      x-happy-args: --origin-airport=JFK
      parameters:
      - name: origin_airport
        in: query
        description: Origin IATA code (3 letters). When supplied, the response lists reachable destinations
          and their cheapest nonstop price. Provide either this or destination_airport, not both. Metro/alias
          codes are expanded automatically.
        schema:
          type: string
      - name: destination_airport
        in: query
        description: Destination IATA code (3 letters). When supplied, the response lists origin airports
          from which this airport is reachable nonstop, and their cheapest price. Provide either this
          or origin_airport, not both. Metro/alias codes are expanded automatically.
        schema:
          type: string
      responses:
        '200':
          description: Nonstop reachability fan-out from (or to) the requested airport.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestinationsResponse'
  /refresh:
    post:
      operationId: refreshAvailability
      summary: Refresh cached data
      description: Use this endpoint to refresh old cached data. Pro API keys only; commercial-agreement
        keys cannot use /refresh (use /live). Credit-metered -- the response quota block shows remaining
        refreshes.
      tags:
      - refresh
      x-live-dogfood-requires-tier: refresh-credits
      x-happy-stdin: '{"availability_ids":["3Afa4uutcjPPE5SMS1ihQ2n1YRd"]}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: Per-ID refresh status plus remaining daily quota.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
  /live:
    post:
      operationId: liveSearch
      summary: Live search
      description: Commercial-agreement API keys only; Pro keys receive 403 -- do not retry. 5-15 s latency.
      tags:
      - live
      x-pp-mutation: false
      x-live-dogfood-requires-tier: commercial
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiveSearchRequest'
      responses:
        '200':
          description: Live search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveSearchResponse'
