openapi: 3.0.3
info:
  title: DriveThruRPG API
  version: "0.1.0"
  description: Search the public DriveThruRPG catalog and download purchased files from an authenticated library.
servers:
  - url: https://api.drivethrurpg.com/api/vBeta
tags:
  - name: Catalog
  - name: Search
  - name: Reviews
  - name: Library
  - name: Downloads
paths:
  /products:
    get:
      operationId: searchProducts
      tags: [Catalog]
      summary: Search and list public DriveThruRPG products
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: keyword
          in: query
          schema:
            type: string
          description: Search keyword.
        - name: publisherId
          in: query
          schema:
            type: integer
          description: Restrict results to a publisher id.
        - name: sort
          in: query
          schema:
            type: string
          description: API-native sort key.
      responses:
        "200":
          description: Product search results.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
  /products/{productId}:
    get:
      operationId: getProduct
      tags: [Catalog]
      summary: Get public product details
      parameters:
        - name: productId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Product details.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
  /search_ahead:
    get:
      operationId: searchAhead
      tags: [Search]
      summary: Search ahead across products, publishers, categories, and filters
      parameters:
        - name: keyword
          in: query
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Search-ahead results.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
  /publishers/{publisherId}:
    get:
      operationId: getPublisher
      tags: [Catalog]
      summary: Get public publisher details
      parameters:
        - name: publisherId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Publisher details.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
  /categories:
    get:
      operationId: listCategories
      tags: [Catalog]
      summary: List public categories
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Categories.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
  /categories/{categoryId}:
    get:
      operationId: getCategory
      tags: [Catalog]
      summary: Get public category details
      parameters:
        - name: categoryId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Category details.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
  /filters:
    get:
      operationId: listFilters
      tags: [Catalog]
      summary: List public filters
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Filters.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
  /filters/{filterId}:
    get:
      operationId: getFilter
      tags: [Catalog]
      summary: Get public filter details
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Filter details.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiResource"
  /reviews:
    get:
      operationId: listReviews
      tags: [Reviews]
      summary: List public reviews, optionally for a product
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: productId
          in: query
          schema:
            type: integer
          description: Product id to filter reviews by.
      responses:
        "200":
          description: Reviews.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
  /special_offers:
    get:
      operationId: listSpecialOffers
      tags: [Catalog]
      summary: List active public special offers
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
      responses:
        "200":
          description: Special offers.
          content:
            application/vnd.api+json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
            application/json:
              schema:
                $ref: "#/components/schemas/JsonApiCollection"
  /auth_key:
    post:
      operationId: createTokenFromApplicationKey
      tags: [Library]
      summary: Exchange a DriveThruRPG Library App Application Key for API tokens
      parameters:
        - name: applicationKey
          in: query
          required: true
          schema:
            type: string
          description: DriveThruRPG Library App Application Key.
      responses:
        "200":
          description: Auth token response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "400":
          description: Missing or invalid application key.
  /order_products:
    get:
      operationId: listLibraryProducts
      tags: [Library]
      summary: List authenticated user's purchased library products
      security:
        - DtrpgToken: []
      parameters:
        - name: getChecksum
          in: query
          schema:
            type: integer
            default: 1
        - name: getFilters
          in: query
          schema:
            type: integer
            default: 0
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/PageSize"
        - name: library
          in: query
          schema:
            type: integer
            default: 1
        - name: archived
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: Library product list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LibraryProduct"
        "403":
          description: Authentication failed or library access disabled.
  /order_products/{orderProductId}/prepare:
    get:
      operationId: prepareDownload
      tags: [Downloads]
      summary: Prepare a purchased file download URL
      security:
        - DtrpgToken: []
      parameters:
        - name: orderProductId
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/FileIndex"
        - $ref: "#/components/parameters/GetChecksums"
      responses:
        "200":
          description: Download preparation status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadStatus"
  /order_products/{orderProductId}/check:
    get:
      operationId: checkDownload
      tags: [Downloads]
      summary: Poll for a prepared purchased file download URL
      security:
        - DtrpgToken: []
      parameters:
        - name: orderProductId
          in: path
          required: true
          schema:
            type: integer
        - $ref: "#/components/parameters/SiteId"
        - $ref: "#/components/parameters/FileIndex"
        - $ref: "#/components/parameters/GetChecksums"
      responses:
        "200":
          description: Download preparation status.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadStatus"
components:
  securitySchemes:
    DtrpgToken:
      type: apiKey
      in: header
      name: Authorization
      description: Access token returned by POST /auth_key. The value is sent directly, without a Bearer prefix.
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: pageSize
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    SiteId:
      name: siteId
      in: query
      schema:
        type: integer
        default: 10
      description: DriveThruRPG site id. The public Library App uses 10.
    FileIndex:
      name: index
      in: query
      required: true
      schema:
        type: integer
        minimum: 0
      description: File index from the owned product's files array.
    GetChecksums:
      name: getChecksums
      in: query
      schema:
        type: integer
        default: 0
  schemas:
    JsonApiCollection:
      type: object
      additionalProperties: true
      properties:
        links:
          type: object
          additionalProperties: true
        meta:
          type: object
          additionalProperties: true
        data:
          type: array
          items:
            $ref: "#/components/schemas/JsonApiItem"
        included:
          type: array
          items:
            $ref: "#/components/schemas/JsonApiItem"
    JsonApiResource:
      type: object
      additionalProperties: true
      properties:
        links:
          type: object
          additionalProperties: true
        data:
          $ref: "#/components/schemas/JsonApiItem"
        included:
          type: array
          items:
            $ref: "#/components/schemas/JsonApiItem"
    JsonApiItem:
      type: object
      additionalProperties: true
      properties:
        type:
          type: string
        id:
          type: string
        attributes:
          type: object
          additionalProperties: true
        relationships:
          type: object
          additionalProperties: true
    AuthToken:
      type: object
      additionalProperties: false
      properties:
        token:
          type: string
        refreshToken:
          type: string
        refreshTokenTTL:
          type: integer
      required:
        - token
        - refreshToken
        - refreshTokenTTL
    LibraryProduct:
      type: object
      additionalProperties: true
      properties:
        productId:
          type: string
        orderProductId:
          type: integer
        name:
          type: string
        fileLastModified:
          type: string
        publisher:
          type: object
          additionalProperties: true
        files:
          type: array
          items:
            $ref: "#/components/schemas/LibraryFile"
    LibraryFile:
      type: object
      additionalProperties: true
      properties:
        index:
          type: integer
        filename:
          type: string
        checksums:
          type: array
          items:
            type: object
            additionalProperties: true
    DownloadStatus:
      type: object
      additionalProperties: true
      properties:
        url:
          type: string
          format: uri
        status:
          type: string
      required:
        - status
