openapi: "3.0.3"
info:
  x-display-name: Docker Hub
  title: Docker Hub
  version: "2.0.0"
  description: |
    Docker Hub public API. Search container images, browse tags, check sizes,
    inspect Dockerfiles, and explore the world's largest container registry.
    No authentication required for public repositories (rate limited to ~18 req/min).
servers:
  - url: https://hub.docker.com
    description: Docker Hub API v2
tags:
  - name: search
    description: Search across all Docker Hub repositories
  - name: repositories
    description: Repository metadata and details
  - name: tags
    description: Image tags, digests, and sizes
  - name: dockerfiles
    description: Dockerfile contents for official images

paths:
  /v2/search/repositories/:
    get:
      operationId: search-repositories
      summary: Search Docker Hub repositories
      description: Full-text search across all Docker Hub repositories. Returns name, description, stars, and pull counts.
      tags: [search]
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Search query (image name, keyword, etc.)
        - name: page_size
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
          description: Results per page
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: Page number
        - name: is_official
          in: query
          schema:
            type: boolean
          description: Filter to official images only
        - name: is_automated
          in: query
          schema:
            type: boolean
          description: Filter to automated builds only
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResults"

  /v2/repositories/{namespace}/{repository}/:
    get:
      operationId: get-repository
      summary: Get repository details
      description: Full metadata for a Docker Hub repository including pull count, stars, description, and last update time.
      tags: [repositories]
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
          description: Namespace (use "library" for official images)
        - name: repository
          in: path
          required: true
          schema:
            type: string
          description: Repository name
      responses:
        "200":
          description: Repository details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Repository"

  /v2/repositories/{namespace}/{repository}/tags/:
    get:
      operationId: list-tags
      summary: List image tags
      description: All available tags for a repository with sizes, digests, and last push time.
      tags: [tags]
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: repository
          in: path
          required: true
          schema:
            type: string
        - name: page_size
          in: query
          schema:
            type: integer
            default: 25
            maximum: 100
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: ordering
          in: query
          schema:
            type: string
            enum: [last_updated, -last_updated, name, -name]
          description: Sort order
      responses:
        "200":
          description: Tag list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagList"

  /v2/repositories/{namespace}/{repository}/tags/{tag}/:
    get:
      operationId: get-tag
      summary: Get tag details
      description: Full details for a specific tag including multi-architecture image digests and total size.
      tags: [tags]
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: repository
          in: path
          required: true
          schema:
            type: string
        - name: tag
          in: path
          required: true
          schema:
            type: string
          description: Tag name (e.g. "latest", "1.25", "alpine")
      responses:
        "200":
          description: Tag details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagDetail"

  /v2/repositories/{namespace}/{repository}/dockerfile/:
    get:
      operationId: get-dockerfile
      summary: Get Dockerfile content
      description: Retrieve the Dockerfile used to build this image. Available for many official and automated images.
      tags: [dockerfiles]
      parameters:
        - name: namespace
          in: path
          required: true
          schema:
            type: string
        - name: repository
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Dockerfile contents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dockerfile"

components:
  schemas:
    SearchResults:
      type: object
      properties:
        count:
          type: integer
          description: Total matching results
        next:
          type: string
          nullable: true
          description: URL for next page
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResult"

    SearchResult:
      type: object
      properties:
        repo_name:
          type: string
          description: "namespace/repository"
        short_description:
          type: string
          nullable: true
        star_count:
          type: integer
        pull_count:
          type: integer
        repo_owner:
          type: string
        is_automated:
          type: boolean
        is_official:
          type: boolean

    Repository:
      type: object
      properties:
        name:
          type: string
        namespace:
          type: string
        repository_type:
          type: string
        status:
          type: string
        description:
          type: string
          nullable: true
        is_private:
          type: boolean
        star_count:
          type: integer
        pull_count:
          type: integer
        last_updated:
          type: string
          format: date-time
        date_registered:
          type: string
          format: date-time
        media_types:
          type: array
          items:
            type: string
        content_types:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              slug:
                type: string
        storage_size:
          type: integer
          description: Total storage in bytes

    TagList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
          nullable: true
        previous:
          type: string
          nullable: true
        results:
          type: array
          items:
            $ref: "#/components/schemas/TagDetail"

    TagDetail:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        full_size:
          type: integer
          description: Total image size in bytes
        v2:
          type: boolean
        tag_status:
          type: string
          enum: [active, inactive]
        digest:
          type: string
          description: "sha256:..."
        last_updated:
          type: string
          format: date-time
        tag_last_pulled:
          type: string
          format: date-time
        tag_last_pushed:
          type: string
          format: date-time
        images:
          type: array
          items:
            $ref: "#/components/schemas/ImageVariant"
        creator:
          type: string

    ImageVariant:
      type: object
      properties:
        architecture:
          type: string
          description: "amd64, arm64, arm/v7, etc."
        os:
          type: string
          description: "linux, windows"
        variant:
          type: string
          nullable: true
        digest:
          type: string
        size:
          type: integer
          description: Size in bytes
        status:
          type: string

    Dockerfile:
      type: object
      properties:
        contents:
          type: string
          description: Full Dockerfile text
