openapi: 3.0.0
info:
  title: Context API
  description: API for retrieving context data from any website
  version: 1.0.0
servers:
  - url: https://api.context.dev/v1
paths:
  /web/scrape/html:
    get:
      summary: Scrape HTML
      description: Scrapes the given URL and returns the raw HTML content of the page.
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: Full URL to scrape (must include http:// or https:// protocol)
        - name: pdf
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            properties:
              shouldParse:
                type: boolean
                default: true
                description: >-
                  When true, PDF URLs are fetched and parsed. When false, PDF
                  URLs are skipped and a 400 WEBSITE_ACCESS_ERROR is returned.
              start:
                type: integer
                minimum: 1
                description: >-
                  First 1-based PDF page to parse. When omitted, parsing starts
                  at the first page.
              end:
                type: integer
                minimum: 1
                description: >-
                  Last 1-based PDF page to parse. When omitted, parsing ends at
                  the last page. Must be greater than or equal to start when
                  both are provided.
            additionalProperties: false
            default:
              shouldParse: true
          description: >-
            PDF parsing controls. Use start/end to limit text extraction and OCR
            to an inclusive 1-based page range.
        - name: includeFrames
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, iframes are rendered inline into the returned HTML.
        - name: useMainContentOnly
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            When true, return only the page's main content in the HTML response,
            excluding headers, footers, sidebars, and navigation when
            detectable.
        - name: includeSelectors
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: array
            maxItems: 50
            items:
              type: string
              maxLength: 2048
          description: >-
            CSS selectors. When provided, only matching subtrees (and their
            descendants) are kept and everything else is dropped. When omitted,
            the entire document is kept. Examples: "article.main", "#content",
            "[role=main]".
        - name: excludeSelectors
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: array
            maxItems: 50
            items:
              type: string
              maxLength: 2048
          description: >-
            CSS selectors to remove from the result. Applied after
            includeSelectors. Exclusion takes precedence: an element matching
            both is removed. Examples: "nav", "footer", ".ad-banner",
            "[aria-hidden=true]".
        - name: maxAgeMs
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 2592000000
            default: 86400000
          description: >-
            Return a cached result if a prior scrape for the same parameters
            exists and is younger than this many milliseconds. Defaults to 1 day
            (86400000 ms) when omitted. Max is 30 days (2592000000 ms). Set to 0
            to always scrape fresh.
        - name: waitForMs
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 30000
          description: >-
            Optional browser wait time in milliseconds after initial page load.
            Min: 0. Max: 30000 (30 seconds).
        - $ref: '#/components/parameters/ScrapeHeaders'
        - $ref: '#/components/parameters/TimeoutMS'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Indicates success
                  html:
                    type: string
                    description: >-
                      The scraped content of the page. For normal pages this is
                      the raw HTML. When the page is a sitemap or feed served
                      behind an XSL stylesheet (which browsers render into
                      HTML), this is the underlying XML instead — see the `type`
                      field.
                  url:
                    type: string
                    description: The URL that was scraped
                  type:
                    type: string
                    enum:
                      - html
                      - xml
                      - json
                      - text
                      - csv
                      - markdown
                      - svg
                      - pdf
                      - docx
                      - doc
                    description: >-
                      Detected content type of the returned `html` field.
                      Sitemaps and feeds are surfaced as `xml`; ordinary pages
                      are `html`.
                  metadata:
                    $ref: '#/components/schemas/PageMetadata'
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - success
                  - html
                  - url
                  - type
                  - metadata
        '400':
          description: Bad request - Invalid URL or failed to scrape
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                      - WEBSITE_ACCESS_ERROR
                    description: Error code indicating the type of error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - UNAUTHORIZED
                    description: Error code indicating unauthorized access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - FORBIDDEN
                      - USAGE_EXCEEDED
                      - DISABLED
                      - INSUFFICIENT_PERMISSIONS
                    description: Error code indicating forbidden access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '404':
          description: Target page returned a 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - NOT_FOUND
                    description: Error code indicating the target page was not found
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Timeout error message
                  error_code:
                    type: string
                    enum:
                      - REQUEST_TIMEOUT
                    description: Error code indicating request timeout
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '415':
          description: >-
            Unsupported content type - the URL resolved to a content type that
            is not supported (e.g. an image, spreadsheet, presentation, media,
            or archive). Supported types are HTML, XML, PDF, DOCX, and DOC.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the unsupported content type
                  error_code:
                    type: string
                    enum:
                      - UNSUPPORTED_CONTENT
                    description: Error code indicating an unsupported content type
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - INTERNAL_ERROR
                    description: Error code indicating internal server error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
      security:
        - bearerAuth: []
      tags:
        - Web Scraping
      x-mint:
        content: <Badge color="blue">1 Credit</Badge>
        title: Scrape HTML
        sidebarTitle: Scrape HTML
        description: Scrape the raw HTML from a URL
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ContextDev from 'context.dev';


            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });


            const response = await client.web.webScrapeHTML({ url:
            'https://example.com' });


            console.log(response.html);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.web_scrape_html(
                url="https://example.com",
            )
            print(response.html)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.WebScrapeHTML(context.TODO(), contextdev.WebWebScrapeHTMLParams{\n\t\tURL: \"https://example.com\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.HTML)\n}\n"
        - lang: Ruby
          source: >-
            require "context_dev"


            context_dev = ContextDev::Client.new(api_key: "My API Key")


            response = context_dev.web.web_scrape_html(url:
            "https://example.com")


            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->webScrapeHTML(
                url: 'https://example.com',
                excludeSelectors: ['string'],
                headers: ['foo' => 'J!'],
                includeFrames: true,
                includeSelectors: ['string'],
                maxAgeMs: 0,
                pdf: ['end' => 1, 'shouldParse' => true, 'start' => 1],
                timeoutMs: 1000,
                useMainContentOnly: true,
                waitForMs: 0,
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web web-scrape-html \
              --api-key 'My API Key' \
              --url https://example.com
  /web/scrape/markdown:
    get:
      summary: Scrape Markdown
      description: Scrapes the given URL into LLM usable Markdown.
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: >-
            Full URL to scrape into LLM usable Markdown (must include http:// or
            https:// protocol)
        - name: includeLinks
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Preserve hyperlinks in Markdown output
        - name: includeImages
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Include image references in Markdown output
        - name: shortenBase64Images
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Shorten base64-encoded image data in the Markdown output
        - name: useMainContentOnly
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >-
            Extract only the main content of the page, excluding headers,
            footers, sidebars, and navigation
        - name: pdf
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            properties:
              shouldParse:
                type: boolean
                default: true
                description: >-
                  When true, PDF URLs are fetched and parsed. When false, PDF
                  URLs are skipped and a 400 WEBSITE_ACCESS_ERROR is returned.
              start:
                type: integer
                minimum: 1
                description: >-
                  First 1-based PDF page to parse. When omitted, parsing starts
                  at the first page.
              end:
                type: integer
                minimum: 1
                description: >-
                  Last 1-based PDF page to parse. When omitted, parsing ends at
                  the last page. Must be greater than or equal to start when
                  both are provided.
            additionalProperties: false
            default:
              shouldParse: true
          description: >-
            PDF parsing controls. Use start/end to limit text extraction and OCR
            to an inclusive 1-based page range.
        - name: includeFrames
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: When true, the contents of iframes are rendered to Markdown.
        - name: includeSelectors
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: array
            maxItems: 50
            items:
              type: string
              maxLength: 2048
          description: >-
            CSS selectors. When provided, only matching HTML subtrees (and their
            descendants) are kept before conversion to Markdown. When omitted,
            the entire document is kept. Examples: "article.main", "#content",
            "[role=main]".
        - name: excludeSelectors
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: array
            maxItems: 50
            items:
              type: string
              maxLength: 2048
          description: >-
            CSS selectors to remove before conversion to Markdown. Applied after
            includeSelectors. Exclusion takes precedence: an element matching
            both is removed. Examples: "nav", "footer", ".ad-banner",
            "[aria-hidden=true]".
        - name: maxAgeMs
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 2592000000
            default: 86400000
          description: >-
            Return a cached result if a prior scrape for the same parameters
            exists and is younger than this many milliseconds. Defaults to 1 day
            (86400000 ms) when omitted. Max is 30 days (2592000000 ms). Set to 0
            to always scrape fresh.
        - name: waitForMs
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 30000
          description: >-
            Optional browser wait time in milliseconds after initial page load
            before converting the page to Markdown. Min: 0. Max: 30000 (30
            seconds).
        - $ref: '#/components/parameters/ScrapeHeaders'
        - $ref: '#/components/parameters/TimeoutMS'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Indicates success
                  markdown:
                    type: string
                    description: Page content converted to GitHub Flavored Markdown
                  url:
                    type: string
                    description: The URL that was scraped
                  metadata:
                    $ref: '#/components/schemas/PageMetadata'
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - success
                  - markdown
                  - url
                  - metadata
        '400':
          description: Bad request - Invalid URL or failed to scrape
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                      - WEBSITE_ACCESS_ERROR
                    description: Error code indicating the type of error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - UNAUTHORIZED
                    description: Error code indicating unauthorized access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - FORBIDDEN
                      - USAGE_EXCEEDED
                      - DISABLED
                      - INSUFFICIENT_PERMISSIONS
                    description: Error code indicating forbidden access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '404':
          description: Target page returned a 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - NOT_FOUND
                    description: Error code indicating the target page was not found
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Timeout error message
                  error_code:
                    type: string
                    enum:
                      - REQUEST_TIMEOUT
                    description: Error code indicating request timeout
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '415':
          description: >-
            Unsupported content type - the URL resolved to a content type that
            is not supported (e.g. an image, spreadsheet, presentation, media,
            or archive). Supported types are HTML, XML, PDF, DOCX, and DOC.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the unsupported content type
                  error_code:
                    type: string
                    enum:
                      - UNSUPPORTED_CONTENT
                    description: Error code indicating an unsupported content type
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - INTERNAL_ERROR
                    description: Error code indicating internal server error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
      security:
        - bearerAuth: []
      tags:
        - Web Scraping
      x-mint:
        content: <Badge color="blue">1 Credit</Badge>
        title: Scrape Markdown
        sidebarTitle: Scrape markdown
        description: Scrape the given URL into LLM usable Markdown
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ContextDev from 'context.dev';


            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });


            const response = await client.web.webScrapeMd({ url:
            'https://example.com' });


            console.log(response.markdown);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.web_scrape_md(
                url="https://example.com",
            )
            print(response.markdown)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.WebScrapeMd(context.TODO(), contextdev.WebWebScrapeMdParams{\n\t\tURL: \"https://example.com\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.Markdown)\n}\n"
        - lang: Ruby
          source: |-
            require "context_dev"

            context_dev = ContextDev::Client.new(api_key: "My API Key")

            response = context_dev.web.web_scrape_md(url: "https://example.com")

            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->webScrapeMd(
                url: 'https://example.com',
                excludeSelectors: ['string'],
                headers: ['foo' => 'J!'],
                includeFrames: true,
                includeImages: true,
                includeLinks: true,
                includeSelectors: ['string'],
                maxAgeMs: 0,
                pdf: ['end' => 1, 'shouldParse' => true, 'start' => 1],
                shortenBase64Images: true,
                timeoutMs: 1000,
                useMainContentOnly: true,
                waitForMs: 0,
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web web-scrape-md \
              --api-key 'My API Key' \
              --url https://example.com
  /web/scrape/images:
    get:
      summary: Scrape Images
      description: >-
        Extract image assets from a web page, including standard URLs, inline
        SVGs, data URIs, responsive image sources, metadata, CSS backgrounds,
        video posters, and embeds. The base request costs 1 credit. When
        enrichment is enabled, the entire call costs 5 credits.
      parameters:
        - name: url
          in: query
          required: true
          schema:
            type: string
            format: uri
          description: Page URL to inspect. Must include http:// or https://.
        - name: maxAgeMs
          in: query
          required: false
          schema:
            type: integer
            default: 86400000
            minimum: 0
            maximum: 2592000000
          description: >-
            Reuse a cached result this many milliseconds old or newer. Default:
            86400000 (1 day). Set to 0 to bypass cache. Maximum: 2592000000 (30
            days).
        - name: enrichment
          in: query
          required: false
          style: deepObject
          explode: true
          schema:
            type: object
            additionalProperties: false
            properties:
              resolution:
                type: boolean
                default: false
                description: Measure image width and height when possible.
              hostedUrl:
                type: boolean
                default: false
                description: >-
                  Host materializable images on the Brand.dev CDN and return
                  their URL and MIME type.
              classification:
                type: boolean
                default: false
                description: Classify each image by visual asset type.
              maxTimePerMs:
                type: integer
                default: 30000
                minimum: 1
                maximum: 60000
                description: >-
                  Per-image enrichment timeout in milliseconds. Default: 30000.
                  Maximum: 60000.
          description: >-
            Optional per-image processing, sent as deep-object query params such
            as enrichment[resolution]=true.
        - name: waitForMs
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 30000
          description: >-
            Optional browser wait time in milliseconds after initial page load
            before collecting images. Min: 0. Max: 30000 (30 seconds).
        - $ref: '#/components/parameters/ScrapeHeaders'
        - $ref: '#/components/parameters/TimeoutMS'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Always true on success.
                  images:
                    type: array
                    description: Images found on the page.
                    items:
                      type: object
                      properties:
                        src:
                          type: string
                          description: >-
                            Original image value: URL, inline SVG or HTML, or
                            base64 data URI.
                        element:
                          type: string
                          enum:
                            - img
                            - svg
                            - link
                            - source
                            - video
                            - css
                            - object
                            - meta
                            - background
                          description: Where the image was found.
                        type:
                          type: string
                          enum:
                            - url
                            - html
                            - base64
                          description: Format of src.
                        alt:
                          type: string
                          nullable: true
                          description: Image alt text, or null when unavailable.
                        enrichment:
                          type: object
                          description: >-
                            Requested metadata for images that could be
                            processed.
                          properties:
                            width:
                              type: integer
                              description: Image width in pixels, when measured.
                            height:
                              type: integer
                              description: Image height in pixels, when measured.
                            mimetype:
                              type: string
                              description: Detected MIME type, when hosted.
                            url:
                              type: string
                              format: uri
                              description: Brand.dev CDN URL, when hosted.
                            type:
                              type: string
                              enum:
                                - photography
                                - illustration
                                - logo
                                - wordmark
                                - icon
                                - pattern
                                - graphic
                                - other
                              description: Visual asset category, when classified.
                      required:
                        - src
                        - element
                        - type
                        - alt
                  url:
                    type: string
                    description: Page URL that was scraped.
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - success
                  - images
                  - url
        '400':
          description: Invalid URL or scrape failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                      - WEBSITE_ACCESS_ERROR
                    description: Error code indicating the type of error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - UNAUTHORIZED
                    description: Error code indicating unauthorized access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - FORBIDDEN
                      - USAGE_EXCEEDED
                      - DISABLED
                      - INSUFFICIENT_PERMISSIONS
                    description: Error code indicating forbidden access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Timeout error message
                  error_code:
                    type: string
                    enum:
                      - REQUEST_TIMEOUT
                    description: Error code indicating request timeout
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - INTERNAL_ERROR
                    description: Error code indicating internal server error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
      security:
        - bearerAuth: []
      tags:
        - Web Scraping
      x-mint:
        content: >-
          <Badge color="blue">1 Credit</Badge><Badge color="orange">Enriched: 5
          Credits</Badge>
        title: Scrape Images
        sidebarTitle: Scrape images
        description: Extract image assets from a page.
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ContextDev from 'context.dev';


            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });


            const response = await client.web.webScrapeImages({ url:
            'https://example.com' });


            console.log(response.images);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.web_scrape_images(
                url="https://example.com",
            )
            print(response.images)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.WebScrapeImages(context.TODO(), contextdev.WebWebScrapeImagesParams{\n\t\tURL: \"https://example.com\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.Images)\n}\n"
        - lang: Ruby
          source: >-
            require "context_dev"


            context_dev = ContextDev::Client.new(api_key: "My API Key")


            response = context_dev.web.web_scrape_images(url:
            "https://example.com")


            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->webScrapeImages(
                url: 'https://example.com',
                enrichment: [
                  'classification' => true,
                  'hostedURL' => true,
                  'maxTimePerMs' => 1,
                  'resolution' => true,
                ],
                headers: ['foo' => 'J!'],
                maxAgeMs: 0,
                timeoutMs: 1000,
                waitForMs: 0,
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web web-scrape-images \
              --api-key 'My API Key' \
              --url https://example.com
  /web/scrape/sitemap:
    get:
      summary: Crawl Sitemap
      description: Crawl an entire website's sitemap and return all discovered page URLs.
      parameters:
        - name: domain
          in: query
          required: true
          schema:
            type: string
          description: Domain to build a sitemap for
        - name: maxLinks
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100000
            default: 10000
          description: >-
            Maximum number of links to return from the sitemap crawl. Defaults
            to 10,000. Minimum is 1, maximum is 100,000.
        - name: urlRegex
          in: query
          required: false
          schema:
            type: string
            maxLength: 256
            example: ^https?://[^/]+/blog/
          description: >-
            Optional RE2-compatible regex pattern. Only URLs matching this
            pattern are returned and counted against maxLinks.
        - $ref: '#/components/parameters/ScrapeHeaders'
        - $ref: '#/components/parameters/TimeoutMS'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Indicates success
                  domain:
                    type: string
                    description: The normalized domain that was crawled
                  urls:
                    type: array
                    items:
                      type: string
                    description: Array of discovered page URLs from the sitemap (max 500)
                  meta:
                    type: object
                    description: Metadata about the sitemap crawl operation
                    properties:
                      sitemapsDiscovered:
                        type: integer
                        description: Total number of sitemap files discovered
                      sitemapsFetched:
                        type: integer
                        description: >-
                          Number of sitemap files successfully fetched and
                          parsed
                      sitemapsSkipped:
                        type: integer
                        description: >-
                          Number of sitemap files skipped (due to errors,
                          timeouts, or limits)
                      errors:
                        type: integer
                        description: Number of errors encountered during crawling
                    required:
                      - sitemapsDiscovered
                      - sitemapsFetched
                      - sitemapsSkipped
                      - errors
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - success
                  - domain
                  - urls
                  - meta
        '400':
          description: Bad request - Invalid domain
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                      - WEBSITE_ACCESS_ERROR
                    description: Error code indicating the type of error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - UNAUTHORIZED
                    description: Error code indicating unauthorized access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - FORBIDDEN
                      - USAGE_EXCEEDED
                      - DISABLED
                      - INSUFFICIENT_PERMISSIONS
                    description: Error code indicating forbidden access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Timeout error message
                  error_code:
                    type: string
                    enum:
                      - REQUEST_TIMEOUT
                    description: Error code indicating request timeout
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - INTERNAL_ERROR
                    description: Error code indicating internal server error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
      security:
        - bearerAuth: []
      tags:
        - Web Scraping
      x-mint:
        content: <Badge color="blue">1 Credit</Badge>
        title: Crawl Sitemap
        sidebarTitle: Crawl sitemap
        description: Crawl a domain's sitemap and return all discovered page URLs
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ContextDev from 'context.dev';


            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });


            const response = await client.web.webScrapeSitemap({ domain:
            'domain' });


            console.log(response.domain);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.web_scrape_sitemap(
                domain="domain",
            )
            print(response.domain)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.WebScrapeSitemap(context.TODO(), contextdev.WebWebScrapeSitemapParams{\n\t\tDomain: \"domain\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.Domain)\n}\n"
        - lang: Ruby
          source: |-
            require "context_dev"

            context_dev = ContextDev::Client.new(api_key: "My API Key")

            response = context_dev.web.web_scrape_sitemap(domain: "domain")

            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->webScrapeSitemap(
                domain: 'domain',
                headers: ['foo' => 'J!'],
                maxLinks: 1,
                timeoutMs: 1000,
                urlRegex: '^https?://[^/]+/blog/',
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web web-scrape-sitemap \
              --api-key 'My API Key' \
              --domain domain
  /web/crawl:
    post:
      summary: Crawl Website & Scrape Markdown
      description: >-
        Performs a crawl starting from a given URL, extracts page content as
        Markdown, and returns results for all crawled pages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: >-
                    The starting URL for the crawl (must include http:// or
                    https:// protocol)
                maxPages:
                  type: integer
                  minimum: 1
                  maximum: 500
                  default: 100
                  description: 'Maximum number of pages to crawl. Hard cap: 500.'
                maxDepth:
                  type: integer
                  minimum: 0
                  description: >-
                    Maximum link depth from the starting URL (0 = only the
                    starting page)
                urlRegex:
                  type: string
                  description: >-
                    Regex pattern. Only URLs matching this pattern will be
                    followed and scraped.
                  example: ^https?://[^/]+/blog/
                includeLinks:
                  type: boolean
                  default: true
                  description: Preserve hyperlinks in the Markdown output
                includeImages:
                  type: boolean
                  default: false
                  description: Include image references in the Markdown output
                shortenBase64Images:
                  type: boolean
                  default: true
                  description: Truncate base64-encoded image data in the Markdown output
                useMainContentOnly:
                  type: boolean
                  default: false
                  description: >-
                    Extract only the main content, stripping headers, footers,
                    sidebars, and navigation
                followSubdomains:
                  type: boolean
                  default: false
                  description: >-
                    When true, follow links on subdomains of the starting URL's
                    domain (e.g. docs.example.com when starting from
                    example.com). www and apex are always treated as equivalent.
                pdf:
                  type: object
                  properties:
                    shouldParse:
                      type: boolean
                      default: true
                      description: >-
                        When true, PDF pages are fetched and parsed. When false,
                        PDF pages are skipped entirely (not included in results
                        and not counted as failures).
                    start:
                      type: integer
                      minimum: 1
                      description: >-
                        First 1-based PDF page to parse. When omitted, parsing
                        starts at the first page.
                    end:
                      type: integer
                      minimum: 1
                      description: >-
                        Last 1-based PDF page to parse. When omitted, parsing
                        ends at the last page. Must be greater than or equal to
                        start when both are provided.
                  additionalProperties: false
                  default:
                    shouldParse: true
                  description: >-
                    PDF parsing controls. Use start/end to limit text extraction
                    and OCR to an inclusive 1-based page range.
                includeFrames:
                  type: boolean
                  default: false
                  description: >-
                    When true, the contents of iframes are rendered to Markdown
                    for each crawled page.
                includeSelectors:
                  type: array
                  maxItems: 50
                  items:
                    type: string
                    maxLength: 2048
                  description: >-
                    CSS selectors. When provided, only matching HTML subtrees
                    (and their descendants) are kept before each crawled page is
                    converted to Markdown. When omitted, the entire document is
                    kept. Examples: "article.main", "#content", "[role=main]".
                excludeSelectors:
                  type: array
                  maxItems: 50
                  items:
                    type: string
                    maxLength: 2048
                  description: >-
                    CSS selectors to remove before each crawled page is
                    converted to Markdown. Applied after includeSelectors.
                    Exclusion takes precedence: an element matching both is
                    removed. Examples: "nav", "footer", ".ad-banner",
                    "[aria-hidden=true]".
                maxAgeMs:
                  type: integer
                  minimum: 0
                  maximum: 2592000000
                  default: 86400000
                  description: >-
                    Return a cached result if a prior scrape for the same
                    parameters exists and is younger than this many
                    milliseconds. Defaults to 1 day (86400000 ms) when omitted.
                    Max is 30 days (2592000000 ms). Set to 0 to always scrape
                    fresh.
                waitForMs:
                  type: integer
                  minimum: 0
                  maximum: 30000
                  description: >-
                    Optional browser wait time in milliseconds after initial
                    page load for each crawled page. Min: 0. Max: 30000 (30
                    seconds).
                stopAfterMs:
                  type: integer
                  minimum: 10000
                  maximum: 110000
                  default: 80000
                  description: >-
                    Soft time budget for the crawl in milliseconds. After each
                    scrape, the crawler checks the elapsed time and, if
                    exceeded, returns the pages collected so far instead of
                    continuing. Min: 10000 (10s). Max: 110000 (110s). Default:
                    80000 (80s).
                timeoutMS:
                  $ref: '#/components/schemas/TimeoutMS'
              required:
                - url
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        markdown:
                          type: string
                          description: >-
                            Extracted page content as Markdown (empty string on
                            failure)
                        metadata:
                          allOf:
                            - $ref: '#/components/schemas/PageMetadata'
                            - type: object
                              properties:
                                url:
                                  type: string
                                  description: The crawl URL fetched for this page.
                                title:
                                  type: string
                                  description: >-
                                    Best page title extracted from the page
                                    (empty string if unavailable).
                                crawlDepth:
                                  type: integer
                                  description: >-
                                    Depth relative to the start URL. 0 = start
                                    URL, 1 = one link away.
                                statusCode:
                                  type: integer
                                  description: HTTP status code of the response
                                success:
                                  type: boolean
                                  description: >-
                                    true if the page was fetched and parsed
                                    successfully
                              required:
                                - url
                                - title
                                - crawlDepth
                                - statusCode
                                - success
                      required:
                        - markdown
                        - metadata
                  metadata:
                    type: object
                    properties:
                      numUrls:
                        type: integer
                        description: Total number of URLs crawled
                      maxCrawlDepth:
                        type: integer
                        description: Maximum crawl depth reached during the crawl
                      numSucceeded:
                        type: integer
                        description: Number of pages successfully crawled
                      numFailed:
                        type: integer
                        description: Number of pages that failed to crawl
                      numSkipped:
                        type: integer
                        description: >-
                          Number of URLs skipped (PDFs when
                          pdf.shouldParse=false, or URLs not matching urlRegex)
                    required:
                      - numUrls
                      - maxCrawlDepth
                      - numSucceeded
                      - numFailed
                      - numSkipped
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - results
                  - metadata
        '400':
          description: Bad request - Invalid URL or parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                      - WEBSITE_ACCESS_ERROR
                    description: Error code indicating the type of error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - UNAUTHORIZED
                    description: Error code indicating unauthorized access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - FORBIDDEN
                      - USAGE_EXCEEDED
                      - DISABLED
                      - INSUFFICIENT_PERMISSIONS
                    description: Error code indicating forbidden access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '404':
          description: Start URL returned a 404
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - NOT_FOUND
                    description: Error code indicating the start URL was not found
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Timeout error message
                  error_code:
                    type: string
                    enum:
                      - REQUEST_TIMEOUT
                    description: Error code indicating request timeout
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '415':
          description: >-
            Unsupported content type - the start URL resolved to a content type
            that is not supported (e.g. an image, spreadsheet, presentation,
            media, or archive). Supported types are HTML, XML, PDF, DOCX, and
            DOC.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the unsupported content type
                  error_code:
                    type: string
                    enum:
                      - UNSUPPORTED_CONTENT
                    description: Error code indicating an unsupported content type
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - INTERNAL_ERROR
                    description: Error code indicating internal server error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
      security:
        - bearerAuth: []
      tags:
        - Web Scraping
      x-mint:
        content: <Badge color="blue">1 Credit Per Page</Badge>
        title: Crawl Website & Scrape Markdown
        sidebarTitle: Crawl website & scrape markdown
        description: >-
          Crawl an entire website and extract pages' content as LLM usable
          Markdown
      x-codeSamples:
        - lang: JavaScript
          source: >-
            import ContextDev from 'context.dev';


            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });


            const response = await client.web.webCrawlMd({ url:
            'https://example.com' });


            console.log(response.metadata);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.web_crawl_md(
                url="https://example.com",
            )
            print(response.metadata)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.WebCrawlMd(context.TODO(), contextdev.WebWebCrawlMdParams{\n\t\tURL: \"https://example.com\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.Metadata)\n}\n"
        - lang: Ruby
          source: |-
            require "context_dev"

            context_dev = ContextDev::Client.new(api_key: "My API Key")

            response = context_dev.web.web_crawl_md(url: "https://example.com")

            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->webCrawlMd(
                url: 'https://example.com',
                excludeSelectors: ['string'],
                followSubdomains: true,
                includeFrames: true,
                includeImages: true,
                includeLinks: true,
                includeSelectors: ['string'],
                maxAgeMs: 0,
                maxDepth: 0,
                maxPages: 1,
                pdf: ['end' => 1, 'shouldParse' => true, 'start' => 1],
                shortenBase64Images: true,
                stopAfterMs: 10000,
                timeoutMs: 1000,
                urlRegex: '^https?://[^/]+/blog/',
                useMainContentOnly: true,
                waitForMs: 0,
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web web-crawl-md \
              --api-key 'My API Key' \
              --url https://example.com
  /web/extract:
    post:
      summary: Extract Structured Website Data
      description: >-
        Crawl a website, use the provided JSON Schema and instructions to
        prioritize relevant internal links, and extract structured data from the
        selected pages.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: >-
                    The starting website URL to crawl and extract from. Must
                    include http:// or https://.
                schema:
                  type: object
                  description: >-
                    JSON Schema for the returned data object. TypeScript Zod
                    users can pass a JSON Schema generated from a Zod object;
                    Python users can pass the equivalent JSON Schema object.
                  additionalProperties: true
                  example:
                    type: object
                    properties:
                      mission_statement:
                        type: string
                        description: The company's stated mission.
                      case_studies:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                            url:
                              type: string
                          required:
                            - title
                            - url
                          additionalProperties: false
                    required:
                      - mission_statement
                      - case_studies
                    additionalProperties: false
                instructions:
                  type: string
                  maxLength: 2000
                  description: >-
                    Optional extraction guidance, such as which facts to
                    prioritize or how to interpret fields in the schema.
                factCheck:
                  type: boolean
                  default: false
                  description: >-
                    When true, every returned value must be grounded in facts
                    stated on the page; fields that cannot be supported by the
                    page are returned as null/empty. When false (default), the
                    model may make reasonable inferences and derivations from
                    the page content (e.g. ideal customer, competitor analysis,
                    recommendations) while keeping verifiable specifics (names,
                    quotes, URLs, dates, metrics) faithful to the source.
                followSubdomains:
                  type: boolean
                  default: false
                  description: >-
                    When true, follow links on subdomains of the starting URL's
                    domain.
                maxPages:
                  type: integer
                  minimum: 1
                  maximum: 50
                  default: 5
                  description: >-
                    Maximum number of pages to analyze for extraction. Hard cap:
                    50. Defaults to 5.
                maxDepth:
                  type: integer
                  minimum: 0
                  description: >-
                    Optional maximum link depth from the starting URL (0 = only
                    the starting page). If omitted, there is no crawl depth
                    limit.
                pdf:
                  type: object
                  properties:
                    shouldParse:
                      type: boolean
                      default: true
                      description: >-
                        When true, PDF pages are fetched and parsed. When false,
                        PDF pages are skipped.
                    start:
                      type: integer
                      minimum: 1
                      description: First 1-based PDF page to parse.
                    end:
                      type: integer
                      minimum: 1
                      description: >-
                        Last 1-based PDF page to parse. Must be greater than or
                        equal to start when both are provided.
                  additionalProperties: false
                  default:
                    shouldParse: true
                includeFrames:
                  type: boolean
                  default: false
                  description: >-
                    When true, iframe contents are included in Markdown before
                    extraction.
                maxAgeMs:
                  type: integer
                  minimum: 0
                  maximum: 2592000000
                  default: 604800000
                  description: >-
                    Return cached scrape results if a prior scrape for the same
                    parameters is younger than this many milliseconds. Defaults
                    to 7 days (604800000 ms).
                waitForMs:
                  type: integer
                  minimum: 0
                  maximum: 30000
                  description: >-
                    Optional browser wait time in milliseconds after initial
                    page load for each crawled page.
                stopAfterMs:
                  type: integer
                  minimum: 10000
                  maximum: 110000
                  default: 80000
                  description: >-
                    Soft time budget for the crawl in milliseconds. Min: 10000
                    (10s). Max: 110000 (110s). Default: 80000 (80s).
                timeoutMS:
                  $ref: '#/components/schemas/TimeoutMS'
              required:
                - url
                - schema
              additionalProperties: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Status of the response, e.g., 'ok'
                  url:
                    type: string
                    description: The starting URL that was analyzed
                  urls_analyzed:
                    type: array
                    description: List of URLs whose Markdown was used for extraction
                    items:
                      type: string
                  data:
                    type: object
                    description: Extracted data matching the request schema
                    additionalProperties: true
                  metadata:
                    type: object
                    properties:
                      numUrls:
                        type: integer
                      maxCrawlDepth:
                        type: integer
                      numSucceeded:
                        type: integer
                      numFailed:
                        type: integer
                      numSkipped:
                        type: integer
                    required:
                      - numUrls
                      - maxCrawlDepth
                      - numSucceeded
                      - numFailed
                      - numSkipped
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - status
                  - url
                  - urls_analyzed
                  - data
                  - metadata
        '400':
          description: Bad request - Invalid URL, schema, or inaccessible website
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                      - WEBSITE_ACCESS_ERROR
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearerAuth: []
      tags:
        - Web Extraction
      x-mint:
        content: <Badge color="blue">10 Credits</Badge>
        title: Extract Structured Website Data
        sidebarTitle: Extract structured data
        description: >-
          Crawl a website, use the provided JSON Schema and instructions to
          prioritize relevant internal links, and extract structured data from
          the selected pages.
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ContextDev from 'context.dev';

            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });

            const response = await client.web.extract({
              schema: {
                type: 'bar',
                properties: 'bar',
                required: 'bar',
                additionalProperties: 'bar',
              },
              url: 'https://example.com',
            });

            console.log(response.data);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.extract(
                schema={
                    "type": "bar",
                    "properties": "bar",
                    "required": "bar",
                    "additionalProperties": "bar",
                },
                url="https://example.com",
            )
            print(response.data)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.Extract(context.TODO(), contextdev.WebExtractParams{\n\t\tSchema: map[string]any{\n\t\t\t\"type\":                 \"bar\",\n\t\t\t\"properties\":           \"bar\",\n\t\t\t\"required\":             \"bar\",\n\t\t\t\"additionalProperties\": \"bar\",\n\t\t},\n\t\tURL: \"https://example.com\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.Data)\n}\n"
        - lang: Ruby
          source: |-
            require "context_dev"

            context_dev = ContextDev::Client.new(api_key: "My API Key")

            response = context_dev.web.extract(
              schema: {type: "bar", properties: "bar", required: "bar", additionalProperties: "bar"},
              url: "https://example.com"
            )

            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->extract(
                schema: [
                  'type' => 'bar',
                  'properties' => 'bar',
                  'required' => 'bar',
                  'additionalProperties' => 'bar',
                ],
                url: 'https://example.com',
                factCheck: true,
                followSubdomains: true,
                includeFrames: true,
                instructions: 'instructions',
                maxAgeMs: 0,
                maxDepth: 0,
                maxPages: 1,
                pdf: ['end' => 1, 'shouldParse' => true, 'start' => 1],
                stopAfterMs: 10000,
                timeoutMs: 1000,
                waitForMs: 0,
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web extract \
              --api-key 'My API Key' \
              --schema '{type: bar, properties: bar, required: bar, additionalProperties: bar}' \
              --url https://example.com
  /web/search:
    post:
      summary: Web Search
      description: >-
        Search the web and optionally scrape each result to Markdown in one
        round-trip.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  minLength: 1
                  maxLength: 500
                  description: Natural-language search query.
                includeDomains:
                  type: array
                  items:
                    type: string
                  description: >-
                    Allowlist — only return results from these domains. Example:
                    ["arxiv.org", "github.com"].
                excludeDomains:
                  type: array
                  items:
                    type: string
                  description: >-
                    Blocklist — drop results from these domains. Example:
                    ["pinterest.com", "reddit.com"].
                freshness:
                  type: string
                  enum:
                    - last_24_hours
                    - last_week
                    - last_month
                    - last_year
                  description: Restrict results to content published within this window.
                queryFanout:
                  type: boolean
                  description: >-
                    Expand the query into multiple parallel variants for broader
                    recall.
                markdownOptions:
                  type: object
                  additionalProperties: false
                  description: >-
                    Inline Markdown scraping for each result. Set `enabled:
                    true` to activate.
                  properties:
                    enabled:
                      type: boolean
                      default: false
                      description: >-
                        Scrape each result to Markdown. Off by default to keep
                        search cheap and fast.
                    includeLinks:
                      type: boolean
                      default: true
                      description: Keep hyperlinks in the Markdown.
                    includeImages:
                      type: boolean
                      default: false
                      description: Emit image references in the Markdown.
                    shortenBase64Images:
                      type: boolean
                      default: true
                      description: >-
                        Truncate inline base64 image payloads to keep responses
                        small.
                    useMainContentOnly:
                      type: boolean
                      default: false
                      description: >-
                        Strip nav, header, footer, and sidebar — keep only the
                        primary article content.
                    pdf:
                      type: object
                      properties:
                        shouldParse:
                          type: boolean
                          default: true
                          description: >-
                            Parse PDF URLs. When false, PDF results are skipped
                            with WEBSITE_ACCESS_ERROR.
                        start:
                          type: integer
                          minimum: 1
                          description: >-
                            First PDF page to parse (1-based, inclusive).
                            Defaults to page 1.
                        end:
                          type: integer
                          minimum: 1
                          description: >-
                            Last PDF page to parse (1-based, inclusive).
                            Defaults to the final page. Must be >= start.
                      additionalProperties: false
                      default:
                        shouldParse: true
                      description: >-
                        PDF handling. Use start/end to bound text extraction and
                        OCR to a page range.
                    includeFrames:
                      type: boolean
                      default: false
                      description: Render iframe contents into the Markdown.
                    maxAgeMs:
                      type: integer
                      minimum: 0
                      maximum: 2592000000
                      default: 86400000
                      description: >-
                        Cache TTL in ms for scraped Markdown keyed by URL +
                        options. Default 1 day, max 30 days. Set to 0 to force a
                        fresh scrape.
                    waitForMs:
                      type: integer
                      minimum: 0
                      maximum: 30000
                      description: >-
                        Extra wait after page load before rendering, in ms
                        (0–30000). Useful for JS-heavy pages.
                    timeoutMS:
                      $ref: '#/components/schemas/TimeoutMS'
                timeoutMS:
                  $ref: '#/components/schemas/TimeoutMS'
              required:
                - query
              additionalProperties: false
      responses:
        '200':
          description: Search succeeded. Results are ordered by relevance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                          description: Canonical result URL.
                        title:
                          type: string
                          description: Page title.
                        description:
                          type: string
                          description: Snippet excerpt from the page.
                        relevance:
                          type: string
                          enum:
                            - high
                            - medium
                            - low
                          description: Relevance to the original query.
                        markdown:
                          type: object
                          properties:
                            markdown:
                              type: string
                              nullable: true
                              description: >-
                                GFM Markdown of the page. Null unless
                                markdownOptions.enabled is true and scraping
                                succeeded.
                            code:
                              type: string
                              enum:
                                - SUCCESS
                                - NOT_REQUESTED
                                - TIMEOUT
                                - WEBSITE_ACCESS_ERROR
                                - ERROR
                              description: >-
                                Per-result scrape outcome. Inspect this before
                                reading `markdown`.
                          required:
                            - markdown
                            - code
                          additionalProperties: false
                          description: Markdown scrape status and content for this result.
                      required:
                        - url
                        - title
                        - description
                        - relevance
                        - markdown
                  query:
                    type: string
                    description: >-
                      Echo of the original query (useful when fanout was
                      enabled).
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - results
                  - query
        '400':
          description: Bad request - Invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message describing the issue
                  error_code:
                    type: string
                    enum:
                      - INPUT_VALIDATION_ERROR
                    description: Error code indicating the type of error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
                required:
                  - message
                  - error_code
        '401':
          description: Unauthorized - Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - UNAUTHORIZED
                    description: Error code indicating unauthorized access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '403':
          description: Forbidden - Insufficient permissions or usage limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - FORBIDDEN
                      - USAGE_EXCEEDED
                      - DISABLED
                      - INSUFFICIENT_PERMISSIONS
                    description: Error code indicating forbidden access
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Timeout error message
                  error_code:
                    type: string
                    enum:
                      - REQUEST_TIMEOUT
                    description: Error code indicating request timeout
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Error message
                  error_code:
                    type: string
                    enum:
                      - INTERNAL_ERROR
                    description: Error code indicating internal server error
                  key_metadata:
                    $ref: '#/components/schemas/KeyMetadata'
      security:
        - bearerAuth: []
      tags:
        - Web Scraping
      x-mint:
        content: <Badge color="blue">1 Credit Per Result</Badge>
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import ContextDev from 'context.dev';

            const client = new ContextDev({
              apiKey: process.env['CONTEXT_DEV_API_KEY'], // This is the default and can be omitted
            });

            const response = await client.web.search({ query: 'x' });

            console.log(response.query);
        - lang: Python
          source: |-
            import os
            from context.dev import ContextDev

            client = ContextDev(
                api_key=os.environ.get("CONTEXT_DEV_API_KEY"),  # This is the default and can be omitted
            )
            response = client.web.search(
                query="x",
            )
            print(response.query)
        - lang: Go
          source: "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\n\t\"github.com/context-dot-dev/context-go-sdk\"\n\t\"github.com/context-dot-dev/context-go-sdk/option\"\n)\n\nfunc main() {\n\tclient := contextdev.NewClient(\n\t\toption.WithAPIKey(\"My API Key\"),\n\t)\n\tresponse, err := client.Web.Search(context.TODO(), contextdev.WebSearchParams{\n\t\tQuery: \"x\",\n\t})\n\tif err != nil {\n\t\tpanic(err.Error())\n\t}\n\tfmt.Printf(\"%+v\\n\", response.Query)\n}\n"
        - lang: Ruby
          source: |-
            require "context_dev"

            context_dev = ContextDev::Client.new(api_key: "My API Key")

            response = context_dev.web.search(query: "x")

            puts(response)
        - lang: PHP
          source: >-
            <?php


            require_once dirname(__DIR__) . '/vendor/autoload.php';


            use ContextDev\Client;

            use ContextDev\Core\Exceptions\APIException;


            $client = new Client(apiKey: getenv('CONTEXT_DEV_API_KEY') ?: 'My
            API Key');


            try {
              $response = $client->web->search(
                query: 'x',
                excludeDomains: ['string'],
                freshness: 'last_24_hours',
                includeDomains: ['string'],
                markdownOptions: [
                  'enabled' => true,
                  'includeFrames' => true,
                  'includeImages' => true,
                  'includeLinks' => true,
                  'maxAgeMs' => 0,
                  'pdf' => ['end' => 1, 'shouldParse' => true, 'start' => 1],
                  'shortenBase64Images' => true,
                  'timeoutMs' => 1000,
                  'useMainContentOnly' => true,
                  'waitForMs' => 0,
                ],
                queryFanout: true,
                timeoutMs: 1000,
              );

              var_dump($response);
            } catch (APIException $e) {
              echo $e->getMessage();
            }
        - lang: CLI
          source: |-
            context-dev web search \
              --api-key 'My API Key' \
              --query x
  /web/competitors:
    get:
      x-hidden: true
      summary: Find website competitors
      description: >-
        Analyze a company's landing page and web search evidence to return
        direct competitors for the same product or market.
      parameters:
        - name: domain
          in: query
          required: true
          schema:
            type: string
            minLength: 3
          description: >-
            Company domain to analyze, such as `stripe.com`. Full http(s) URLs
            are accepted and normalized to their domain.
        - name: numCompetitors
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 10
            default: 5
          description: Exact number of direct competitors to return. Defaults to 5.
        - $ref: '#/components/parameters/TimeoutMS'
      responses:
        '200':
          description: Competitor research succeeded.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                    description: Status of the response.
                  domain:
                    type: string
                    description: Normalized input domain.
                  target:
                    type: object
                    description: Target company profile inferred from the landing page.
                    properties:
                      companyName:
                        type: string
                        description: >-
                          Company or product name inferred from the landing
                          page.
                      field:
                        type: string
                        description: Specific operating field, product category, or market.
                      fieldDescription:
                        type: string
                        description: >-
                          One-sentence description of what the target company
                          sells and who it serves.
                      websiteUrl:
[...]
