openapi: 3.0.0
info:
  title: Zoho Desk API
  version: '1.0'
  description: 'Customer support ticketing, helpdesk. This CLI adds local SQLite store,
    offline FTS over ticket conversations, and cross-entity insights (SLA risk, workload
    fairness, escalation audits).


    Auth: OAuth2. Set ZOHODESK_REFRESH_TOKEN, ZOHODESK_CLIENT_ID, ZOHODESK_CLIENT_SECRET,
    ZOHODESK_ORG_ID.'
x-mcp:
  transport:
  - stdio
  - http
  orchestration: code
  endpoint_tools: hidden
servers:
- url: https://desk.zoho.com
paths:
  /api/v1/accounts/{accountId}/associateProducts:
    post:
      tags:
      - Account
      summary: Associate products with an account
      description: This API associates products with an account. Only a maximum of
        10 products can be associated with an account through a single API request.
      operationId: associateProductsWithAccount
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/associateProductsWithAccount'
      responses:
        '200':
          $ref: '#/components/responses/massActionListResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/merge:
    post:
      tags:
      - Account
      summary: Merge Accounts
      description: This API merges two or more accounts.
      operationId: mergeAccounts
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/accountMergeRequest'
      responses:
        '404':
          $ref: '#/components/responses/urlNotFoundErrorResponse'
        '200':
          $ref: '#/components/responses/accountResponse'
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '500':
          $ref: '#/components/responses/internalErrorResponse'
        '403':
          $ref: '#/components/responses/forbiddenErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/contacts/{contactId}/accounts:
    get:
      tags:
      - Account
      summary: List accounts of contact
      description: This API lists the accounts associated with a particular contact.
      operationId: getAccountsByContact
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        description: 'Sort by a specific attribute: @accountName@ or @createdTime@
          or @mappingType@ . The default sorting order is ascending. A @-@ prefix
          denotes descending order of sorting.'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Sort by a specific attribute: @accountName@ or @createdTime@
            or @mappingType@ . The default sorting order is ascending. A @-@ prefix
            denotes descending order of sorting.'
          enum:
          - accountName
          - createdTime
          - mappingType
      - $ref: '#/components/parameters/startsWith'
      - $ref: '#/components/parameters/contactId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/accountListWithMappingInfoArray'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/statistics:
    get:
      tags:
      - Account
      summary: Get account statistics
      description: This API fetches the overall statistics of an account.
      operationId: getAccountStatistics
      parameters:
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '404':
          $ref: '#/components/responses/urlNotFoundErrorResponse'
        '200':
          $ref: '#/components/responses/statisticsResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorizedErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/tickets:
    get:
      tags:
      - Account
      summary: List tickets by account
      description: This API lists tickets received from a specific account.
      operationId: getTicketsByAccount
      parameters:
      - name: include
        in: query
        description: 'Additional information related to the tickets. Values allowed
          are: contacts, products, departments, team, isRead and assignee. You can
          pass multiple values by separating them with a comma in the API request.'
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: "Additional information related to the tickets.\_Values allowed\
            \ are: @contacts@,\_@products@,\_@departments@,\_@team@,\_@isRead@ and\_\
            @assignee@. You can pass multiple values by separating them with a comma\
            \ in the API request."
          items:
            type:
            - string
            - 'null'
            enum:
            - contacts
            - products
            - departments
            - team
            - assignee
            - isRead
            maxLength: 100
            minLength: 0
          uniqueItems: true
      - $ref: '#/components/parameters/departmentId'
      - name: dueDate
        in: query
        description: Filter by ticket duedate. Values allowed are @overdue@, @tomorrow@,
          @currentWeek@, @currentMonth@ and @today@. You can include both values by
          separating them with a comma
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Filter by ticket duedate. Values allowed are @overdue@, @tomorrow@,
            @currentWeek@, @currentMonth@ and @today@. You can include both values
            by separating them with a comma
          enum:
          - overdue
          - tomorrow
          - currentWeek
          - currentMonth
          - today
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        description: 'Sort by a specific attribute: @createdTime@ or @modifiedTime@.
          The default sorting order is ascending. A @-@ prefix denotes descending
          order of sorting.'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Sort by a specific attribute: @createdTime@ or @modifiedTime@.
            The default sorting order is ascending. A @-@ prefix denotes descending
            order of sorting.'
          enum:
          - createdTime
          - modifiedTime
          maxLength: 100
          minLength: 0
      - name: isSpam
        in: query
        description: Filters Spam tickets
        required: false
        style: form
        explode: true
        schema:
          type:
          - boolean
          - 'null'
          description: Filters Spam tickets
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/getTicketsByAccountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.tickets.READ
        - Desk.search.READ
      x-audience:
      - external-public
  /api/v1/accounts:
    get:
      tags:
      - Account
      summary: List accounts
      description: "This API lists a particular number of accounts, based on the limit\
        \ specified.\_"
      operationId: getAccounts
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          enum:
          - website
          - email
          - phone
          - accountName
          - createdTime
          - modifiedTime
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/accountListArray'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
    post:
      tags:
      - Account
      summary: Create Account
      description: This API creates an account in your help desk portal.
      operationId: createAccount
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/accountjson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '500':
          $ref: '#/components/responses/internalErrorResponse'
        '200':
          $ref: '#/components/responses/accountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.CREATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/contracts:
    get:
      tags:
      - Account
      summary: Get contract
      description: Getting contracts of an Account
      operationId: getContractsByAccount
      parameters:
      - name: contractStatus
        in: query
        description: Contract Status,Indicates the Current Status of the Contract,
          Values are @ACTIVE@, @EXPIRED@, @FUTURE@
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Contract Status,Indicates the Current Status of the Contract,
            Values are @ACTIVE@, @EXPIRED@, @FUTURE@
          enum:
          - ACTIVE
          - EXPIRED
          - FUTURE
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/departmentId'
      - name: limit
        in: query
        description: Number of contracts to fetch, Ranges from 1-50, DEFAULT 50
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          default: 50
          description: Number of accounts to list
          maximum: 50
          minimum: 1
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getContractsForAccountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}:
    get:
      tags:
      - Account
      summary: Get Account
      description: This API fetches an account from your help desk portal.
      operationId: getAccount
      parameters:
      - name: include
        in: query
        description: 'Allowed values are :  @owner@'
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: 'Allowed values are :  @owner@'
          items:
            type:
            - string
            - 'null'
            enum:
            - owner
            maxLength: 100
            minLength: 0
          uniqueItems: true
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/accountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
    patch:
      tags:
      - Account
      summary: Update Account
      description: This API updates details of an existing account.
      operationId: updateAccount
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/updateAccount_accountjson'
      responses:
        '200':
          $ref: '#/components/responses/accountResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/history:
    get:
      tags:
      - Account
      summary: Get account history
      description: This API fetches the ticket history of an account.
      operationId: getTicketHistoryByAccount
      parameters:
      - name: agentId
        in: query
        description: Key that filters ticket activities performed by a particular
          agent
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          description: ' Key that filters ticket activities performed by a particular
            agent'
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/contactId'
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '404':
          $ref: '#/components/responses/urlNotFoundErrorResponse'
        '200':
          $ref: '#/components/responses/accountContactHistoryResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '401':
          $ref: '#/components/responses/unauthorizedErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
        - Desk.tickets.READ
      x-audience:
      - external-public
  /api/v1/accounts/moveToTrash:
    post:
      tags:
      - Account
      summary: Delete Accounts
      description: This API moves the accounts specified to the Recycle Bin.
      operationId: deleteAccount
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/accountsrecyclebinjson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.DELETE
      x-audience:
      - external-public
  /api/v1/products/{productId}/accounts:
    get:
      tags:
      - Account
      summary: List accounts associated with product
      description: This API lists the accounts associated with a product
      operationId: getAccountsByProduct
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        description: 'Key that sorts the accounts by a specific attribute: @accountName@
          or @createdTime@.The default sorting order is ascending. A @-@ prefix denotes
          descending order of sorting'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Key that sorts the accounts by a specific attribute: @accountName@
            or @createdTime@.The default sorting order is ascending. A @-@ prefix
            denotes descending order of sorting'
          enum:
          - website
          - email
          - phone
          - accountName
          - createdTime
          - modifiedTime
          maxLength: 100
          minLength: 0
      - name: productId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/accountListArray'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/accounts/updateMany:
    post:
      tags:
      - Account
      summary: Update many accounts
      description: This API updates multiple accounts at once.
      operationId: bulkUpdateAccounts
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/account_massupdate'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/updateManyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/attachments:
    get:
      tags:
      - AccountAttachment
      summary: List Account attachments
      description: This API lists the files attached to an account.
      operationId: getAccountAttachments
      parameters:
      - name: include
        in: query
        description: Secondary information related to the attachments. Value allowed
          is creator, which returns the details of users who added the attachments.
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: ''
          items:
            type:
            - string
            - 'null'
            description: ''
            enum:
            - creator
            maxLength: 100
            minLength: 0
          uniqueItems: true
      - name: limit
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: ''
          maximum: 100
          minimum: 1
          pattern: ([0-9]+)
      - name: from
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: ''
          minimum: 0
          pattern: ([0-9]+)
      - name: sortBy
        in: query
        description: ''
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: ''
          enum:
          - createdTime
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/listAllAttachmentResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
    post:
      tags:
      - AccountAttachment
      summary: Create Account attachment
      description: This API attaches a file to an account.
      operationId: createAccountAttachment
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: ''
              required:
              - file
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/attachmentResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/attachments/{attachmentId}:
    delete:
      tags:
      - AccountAttachment
      summary: Delete Account attachment
      description: This API deletes an attachment from a account.
      operationId: deleteAccountAttachment
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/attachmentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
        '403':
          $ref: '#/components/responses/forbiddenErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/comments/{commentId}:
    get:
      tags:
      - AccountComments
      summary: Get an account comment
      description: This API fetches an account comment from the portal.
      operationId: getAccountComment
      parameters:
      - name: include
        in: query
        description: Secondary information related to the comments. Value allowed
          is mentions, which returns the details of users mentioned in the comments.
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: Secondary information related to the comments. Value allowed
            is @mentions@, which returns the details of users mentioned in the comments.
          items:
            type:
            - string
            - 'null'
            enum:
            - mentions
            maxLength: 100
            minLength: 0
          uniqueItems: true
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/commentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/get_accountComment_Response'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
    put:
      tags:
      - AccountComments
      summary: Update an account comment
      description: This API updates an existing account comment.
      operationId: updateAccountComment
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/commentId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/editAccountCommentRequestBody'
      responses:
        '200':
          $ref: '#/components/responses/accountCommentCommonResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
    delete:
      tags:
      - AccountComments
      summary: Delete an account comment
      description: This API deletes an existing account comment.
      operationId: deleteAccountComment
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/commentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/comments:
    get:
      tags:
      - AccountComments
      summary: List all account comments
      description: This API lists a particular number of comments recorded on an account,
        based on the limit specified.
      operationId: getAccountComments
      parameters:
      - name: include
        in: query
        description: Secondary information related to the comments. Value allowed
          is mentions, which returns the details of users mentioned in the comments.
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: Secondary information related to the comments. Value allowed
            is @mentions@, which returns the details of users mentioned in the comments.
          items:
            type:
            - string
            - 'null'
            enum:
            - mentions
            maxLength: 100
            minLength: 0
          uniqueItems: true
      - name: limit
        in: query
        description: No. of comments to fetch
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: No. of comments to fetch
          maximum: 100
          minimum: 1
          pattern: ([0-9]+)
      - name: from
        in: query
        description: Index number starting from which the comments must be fetched.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Index number starting from which the comments must be fetched.
          pattern: ([0-9]+)
      - name: sortBy
        in: query
        description: 'sortby can be @commentedTime@. default order : commentedTime
          in descending order , prefix @-@ denotes desc'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'sortby can be @commentedTime@. default order : commentedTime
            in descending order , prefix @-@ denotes desc'
          enum:
          - commentedTime
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getAccountComments'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
    post:
      tags:
      - AccountComments
      summary: Create an account comment
      description: This API adds a comment to an account.
      operationId: createAccountComment
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/addAccountCommentRequestBody'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/accountCommentCommonResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accountContactMapping/{mappingId}:
    patch:
      tags:
      - AccountContactMappingInfo
      summary: Update association info
      description: This API updates the details of an account-contact mapping.
      operationId: updateAccountContactMappingInfo
      parameters:
      - name: mappingId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/updateMappingInfo'
      responses:
        '200':
          $ref: '#/components/responses/mappingResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accountsDeduplication/defaultFieldName:
    get:
      tags:
      - AccountDeduplication
      summary: Get Default Field Name
      description: This API fetches the name of the field set as the default field
        for account deduplication.
      operationId: getDefaultFieldNameForAccountDeduplication
      parameters:
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getDefaultFieldResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
    post:
      tags:
      - AccountDeduplication
      summary: Set default field for account deduplication
      description: This API sets the field you specify as the default field for deduplicating
        accounts.
      operationId: setDefaultFieldNameForAccountDeduplication
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/setDefaultField'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '404':
          $ref: '#/components/responses/commonErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/groupAccountDuplicateValues:
    get:
      tags:
      - AccountDeduplication
      summary: List duplicate accounts
      description: This API lists the duplicate entries of an account.The _fieldName_
        parameters is mandatory in the API request   <br/></br/>_Note:_<br/> If you
        encounter a 202 status code while executing this API request, it means there
        are 100,000 or more accounts in the help desk portal. Matching the records
        and finding duplicates will be time-consuming in such a scenario. Therefore,
        the deduplication request will be accepted, and after the process is completed,
        an automated report will be sent to the user who initiated the deduplication.
      operationId: listGroupedDuplicateAccounts
      parameters:
      - $ref: '#/components/parameters/fieldName'
      - name: swFieldValue
        in: query
        description: Key that specifies the letter with which the field values must
          start
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that specifies the letter with which the field values must
            start
          maxLength: 100
          minLength: 0
          pattern: ^([a-z0-9*#])$
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        description: 'Key that sorts the accounts by a specific attribute: @count@
          or @fieldValue@. The default sorting order is ascending. A @-@ prefix denotes
          descending order of sorting.'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Key that sorts the accounts by a specific attribute: @count@
            or @fieldValue@. The default sorting order is ascending. A @-@ prefix
            denotes descending order of sorting.'
          enum:
          - count
          - fieldValue
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/listDuplicateAccountsCountsResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/groupAccounts:
    get:
      tags:
      - AccountDeduplication
      summary: List details of duplicate accounts
      description: This API lists all the details of duplicate accounts.The _fieldName_
        and _fieldValues_ parameters are mandatory in the API request
      operationId: listDuplicateAccounts
      parameters:
      - name: fieldName
        in: query
        description: 'Name of the field whose values must be matched for deduplication.Values
          allowed are: !@email,@! !@phone,@! and !@accountName@!'
        required: true
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Name of the field whose values must be matched for deduplication.Values
            allowed are: !@email,@! !@phone,@! and !@accountName@!'
          enum:
          - email
          - phone
          - accountName
      - $ref: '#/components/parameters/limit'
      - name: sortBy
        in: query
        description: 'Key that sorts the accounts by a specific attribute: @accountName@
          or @createdTime@ or @modifiedTime@. The default sorting order is ascending.
          A @-@ prefix denotes descending order of sorting.'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Key that sorts the accounts by a specific attribute: @accountName@
            or @createdTime@ or @modifiedTime@. The default sorting order is ascending.
            A @-@ prefix denotes descending order of sorting.'
          enum:
          - accountName
          - createdTime
      - $ref: '#/components/parameters/from'
      - name: fieldValues
        in: query
        description: Actual values in each field related to the account
        required: true
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Actual values in each field related to the account
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/listDuplicateAccountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/removeFollowers:
    post:
      tags:
      - AccountFollowers
      summary: Remove account followers
      description: This API removes one or more users from the followers list of an
        account
      operationId: removeAccountFollowers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/removeFollowers'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '404':
          $ref: '#/components/responses/commonErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/addFollowers:
    post:
      tags:
      - AccountFollowers
      summary: Add account followers
      description: This API adds one or more users to the followers list of an account
      operationId: addAccountFollowers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/addFollowers'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '404':
          $ref: '#/components/responses/commonErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.UPDATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/followers:
    get:
      tags:
      - AccountFollowers
      summary: Get account followers
      description: This API fetches the list of users following an account.
      operationId: getAccountFollowers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getFollowersResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/sla/{slaId}:
    post:
      tags:
      - AccountSla
      summary: Associate or dissociate SLA from account
      description: This API associates or dissociates an SLA from an account.
      operationId: associateAndDisassociateSlaInAccount
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: slaId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/updateSla'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.CREATE
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/sla:
    get:
      tags:
      - AccountSla
      summary: List account SLAs
      description: This API lists a particular number of SLAs associated with an account,
        based on the limit defined.
      operationId: getSlasUnderAccount
      parameters:
      - name: departmentId
        in: query
        description: ID of the department from which the SLAs must be fetched. If
          you do not pass this parameter in the API request, SLAs from all permitted
          departments will be listed.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          description: ID of the department from which the SLAs must be fetched. If
            you do not pass this parameter in the API request, SLAs from all permitted
            departments will be listed.
          pattern: ([0-9]+)
      - name: limit
        in: query
        description: Number of SLAs to list
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Number of SLAs to list
          maximum: 100
          minimum: 1
          pattern: ([0-9]+)
      - name: from
        in: query
        description: Index number, starting from which the SLAs must be fetched
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Index number, starting from which the SLAs must be fetched
          minimum: 0
          pattern: ([0-9]+)
      - name: status
        in: query
        description: 'Activation status of the SLAs. Values allowed are: @ACTIVE@
          and @INACTIVE@'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Activation status of the SLAs. Values allowed are: @ACTIVE@
            and @INACTIVE@'
          enum:
          - ACTIVE
          - INACTIVE
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/slaMetaInfoResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/timeEntry:
    get:
      tags:
      - AccountTimeEntry
      summary: List Account Time Entries
      description: This API lists time entries recorded for a ticket or task related
        to an account.
      operationId: getAccountTimeEntries
      parameters:
      - name: include
        in: query
        description: Secondary information related to the time entry. Value supported
          is owner
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: 'Secondary information related to the time entry. Value supported
            is @owner@ '
          enum:
          - owner
      - $ref: '#/components/parameters/module'
      - $ref: '#/components/parameters/departmentId'
      - name: createdTimeRange
        in: query
        description: Key that filters time entries created in a particular period
          of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;
          for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that filters time entries created in a particular period
            of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;
            for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
          maxLength: 100
          minLength: 0
          pattern: (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z)),(((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
      - name: limit
        in: query
        description: Number of time entries to fetch
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Number of time entries to fetch
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/billStatus'
      - name: orderBy
        in: query
        description: Key that sorts the time entries in ascending or descending order,
          based on the @executedTime attribute. Values allowed are @ASC@ (default)
          and @DESC@
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that sorts the time entries in ascending or descending
            order, based on the @executedTime attribute. Values allowed are @ASC@
            (default) and @DESC@
          enum:
          - ASC
          - DESC
          maxLength: 100
          minLength: 0
      - name: from
        in: query
        description: Index number, starting from which the time entries must be fetched
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Index number, starting from which the time entries must be
            fetched
          pattern: ([0-9]+)
      - name: modifiedTimeRange
        in: query
        description: Key that filters time entries whose details were modified in
          a particular period of time. Enter the from and to dates in the ISO date
          format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that filters time entries whose details were modified in
            a particular period of time. Enter the from and to dates in the ISO date
            format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
          maxLength: 100
          minLength: 0
          pattern: (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z)),(((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getTimeEntryByAccountIdResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/accounts/{accountId}/timeEntrySummation:
    get:
      tags:
      - AccountTimeEntry
      summary: Get summation of Account Time Entries
      description: This API fetches summation of time entries for an account from
        your help desk
      operationId: getSummationOfTimeEntryForAccount
      parameters:
      - $ref: '#/components/parameters/module'
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/billStatus'
      - $ref: '#/components/parameters/accountId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getSummationOfTimeEntryForAccountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.contacts.READ
      x-audience:
      - external-public
  /api/v1/activities/emptySpam:
    post:
      tags:
      - Activity
      summary: Delete spam activities
      description: This API deletes all spam activities.
      operationId: deleteSpamActivities
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/emptyActivitiesSpamResponse'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '202':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.activities.calls.DELETE
        - Desk.activities.tasks.DELETE
        - Desk.activities.events.DELETE
      x-audience:
      - external-public
  /api/v1/tickets/{ticketId}/activities:
    get:
      tags:
      - Activity
      summary: List ticket activities
      description: This API lists a particular number of activities associated with
        a ticket, based on the limit specified.
      operationId: getActivitiesForTicket
      parameters:
      - name: include
        in: query
        description: 'Allowed values are : contacts, assignee,tickets,teams,projects,integInfo.'
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: 'Allowed values are : contacts, assignee,tickets,teams,projects,integInfo.'
          items:
            type:
            - string
            - 'null'
            enum:
            - contacts
            - tickets
            - assignee
            - teams
            maxLength: 100
            minLength: 0
          uniqueItems: true
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        description: 'Sort by a specific attribute: @activityTime@ or @createdTime@.The
          default sorting order is ascending. A @-@ prefix denotes descending order
          of sorting.'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'Sort by a specific attribute: @activityTime@ or @createdTime@.The
            default sorting order is ascending. A @-@ prefix denotes descending order
            of sorting.'
          enum:
          - activityTime
          - createdTime
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/isSpam'
      - $ref: '#/components/parameters/isCompleted'
      - name: ticketId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/getActivitiesByRequestIdResponse'
      security:
      - iam-oauth2-schema:
        - Desk.activities.calls.READ
        - Desk.activities.tasks.READ
        - Desk.activities.events.READ
        - Desk.calls.READ
        - Desk.tasks.READ
        - Desk.events.READ
      x-audience:
      - external-public
  /api/v1/myPreferences:
    get:
      tags:
      - Agent
      summary: Get My Preferences
      description: This API fetches the preferences of the currently logged in agent.
      operationId: getMyPreference
      parameters:
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/myPreference'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
    patch:
      tags:
      - Agent
      summary: Update My Preferences
      description: This API updates the preferences of the currently logged in agent.
      operationId: updateMyPreferences
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/myPreferenceInputStrm'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/uploadMyPhoto:
    post:
      tags:
      - Agent
      summary: Upload my photo
      description: 'This API sets the profile photo for the currently logged in agent.<p><b>Note</b>:
        To upload your photo generate OAuthToken for the scope: Desk.settings.UPDATE,profile.userphoto.UPDATE
        or Desk.basic.UPDATE,profile.userphoto.UPDATE </p>'
      operationId: uploadMyPhoto
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                userPhoto:
                  type: string
                  format: binary
              required:
              - userPhoto
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/myPhotoResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/reassignment:
    post:
      tags:
      - Agent
      summary: Schedule reassignment for deactivated or deleted agents
      description: This API schedules reassignment of tickets, tasks, and automations
        belonging to a deleted/deactivated agent to another agent within the same
        department.
      operationId: scheduleAgentReassignment
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/scheduleReassignment'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agentsByIds:
    get:
      tags:
      - Agent
      summary: Get agent details by agentId
      description: This API fetches details of agents via the agent IDs passed in
        the API request.
      operationId: getAgentsByIds
      parameters:
      - name: agentIds
        in: query
        description: Comma-separated array of agent IDs. Maximum number of IDs allowed
          is 50.
        required: true
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: Comma-separated array of agent IDs. Maximum number of IDs allowed
            is 50.
          items:
            type:
            - string
            - 'null'
            - integer
            format: int64
            pattern: ([0-9]+)
          uniqueItems: false
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/getAgentsByIdsResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/photo:
    get:
      tags:
      - Agent
      summary: Get agent photo
      description: 'This API gets the profile photo for the given agent id.<p><b>Note</b>:
        To get agent photo generate OAuthToken for the scope: Desk.settings.READ,profile.userphoto.READ
        or Desk.basic.READ,profile.userphoto.READ </p>'
      operationId: getAgentProfilePhoto
      parameters:
      - name: fileSize
        in: query
        description: Size of the image file to download. Values allowed are @THUMBNAIL@
          (image with reduced dimensions and size) and @ACTUAL@ (image with actual
          dimensions and size). The default value is @ACTUAL@.
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: Size of the image file to download. Values allowed are @THUMBNAIL@
            (image with reduced dimensions and size) and @ACTUAL@ (image with actual
            dimensions and size). The default value is @ACTUAL@.
          enum:
          - THUMBNAIL
          - ACTUAL
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/fileResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
  /api/v1/agents/activate:
    post:
      tags:
      - Agent
      summary: Activate agents
      description: This API activates agents in your help desk.
      operationId: activateAgents
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/agentIdsArray'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
        '403':
          $ref: '#/components/responses/forbiddenErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/deletedAgents/{agentId}/anonymize:
    post:
      tags:
      - Agent
      summary: Anonymize deleted agent
      description: This API removes the identification details of a deleted agent.
      operationId: anonymizeDeletedAgent
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/anonymizeAgentsRequest'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agents:
    get:
      tags:
      - Agent
      summary: List agents
      description: This API lists a particular number of agents, based on the limit
        specified.
      operationId: getAgents
      parameters:
      - name: include
        in: query
        description: Secondary information related to agents, The allowed values are
          profile, role. You can include all two values by separating them with commas
          in the API request.
        required: false
        style: simple
        explode: true
        schema:
          type: array
          description: Secondary information related to agents, The allowed values
            are @profile@, @role@. You can include all two values by separating them
            with commas in the API request.
          items:
            type: string
            enum:
            - profile
            - role
          maxItems: 2
          uniqueItems: true
      - name: roleIds
        in: query
        description: Comma-separated array of role IDs. Maximum number of IDs allowed
          is 50.
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: Comma-separated array of role IDs. Maximum number of IDs allowed
            is 50.
          items:
            type:
            - string
            - 'null'
            - integer
            format: int64
            pattern: ([0-9]+)
          uniqueItems: false
      - name: searchStr
        in: query
        description: 'String to search for agents by first name, last name, or email
          ID. The string must contain at least one character. The supported search
          methods: 1) string* - Searches for agents whose first name, last name, or
          email ID start with the string, 2) *string* - Searches for agents whose
          first name, last name, or email ID contain the string, 3) string - Searches
          for agents whose first name, last name, or email ID is an exact match for
          the string'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: 'String to search for agents by first name, last name, or email
            ID. The string must contain at least one character. The supported search
            methods: 1) string* - Searches for agents whose first name, last name,
            or email ID start with the string, 2) *string* - Searches for agents whose
            first name, last name, or email ID contain the string, 3) string - Searches
            for agents whose first name, last name, or email ID is an exact match
            for the string'
          maxLength: 100
          minLength: 0
          pattern: ([0-9a-zA-Z_\-\.\$@\?\,\:\'\/\!\P{InBasicLatin}\s])+
      - $ref: '#/components/parameters/limit'
      - name: rolePermissionType
        in: query
        description: Types of roles and permissions of the agents to list. The allowed
          values are @AgentPublic@, @AgentPersonal@,@AgentTeamPersonal@, @Admin@,
          @Light@, @Custom@, and @${NON_LIGHT}@. @${NON_LIGHT}@ refers to agents who
          are not associated with the light agent profile.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Types of roles and permissions of the agents to list. The allowed
            values are @AgentPublic@, @AgentPersonal@,@AgentTeamPersonal@, @Admin@,
            @Light@, @Custom@, and @${NON_LIGHT}@. @${NON_LIGHT}@ refers to agents
            who are not associated with the light agent profile.
          enum:
          - AgentPublic
          - AgentPersonal
          - AgentTeamPersonal
          - Admin
          - Custom
          - Light
          maxLength: 100
          minLength: 0
      - name: profileIds
        in: query
        description: Comma-separated array of profile IDs. Maximum number of IDs allowed
          is 50.
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: Comma-separated array of profile IDs. Maximum number of IDs
            allowed is 50.
          items:
            type:
            - string
            - 'null'
            - integer
            format: int64
            pattern: ([0-9]+)
          uniqueItems: false
      - $ref: '#/components/parameters/from'
      - $ref: '#/components/parameters/isConfirmed'
      - name: departmentIds
        in: query
        description: Comma-separated array of department IDs. Maximum number of IDs
          allowed is 50.
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: Comma-separated array of department IDs. Maximum number of
            IDs allowed is 50.
          items:
            type:
            - string
            - 'null'
            - integer
            format: int64
            pattern: ([0-9]+)
          uniqueItems: false
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/agentListArray'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
    post:
      tags:
      - Agent
      summary: Add agent
      description: 'This API adds an agent to your help desk.<p><br>Keep in mind the
        following points while adding an agent: <ol> <li>The<b>emailId</b>,<b>lastName</b>,<b>associatedDepartmentIds</b>,
        and <b>rolePermissionType</b> are mandatory in the API request.</li> <li>To
        assign the profile and role for the agents, pass any of the following values
        with the <b>rolePermissionType</b> key: <ol type="a"><li>For the Support Administrator
        profile and CEO role, pass <b>"rolePermissionType"</b>:<b>"Admin"</b></li>
        <li>For the Agent profile and public role, pass <b>"rolePermissionType"</b>:<b>"AgentPublic"</b><li>For
        the Agent profile and personal role, pass <b>"rolePermissionType"</b>:<b>"AgentPersonal"</b></li>
        </li><li>For custom profiles and roles, pass <b>"rolePermissionType"</b>:<b>"Custom"</b>
        and <b>"roleId"</b>:<b>"&lt;actual role ID&gt;"</b>, <b>"profileId"</b>:<b>"&lt;actual
        profile ID&gt;"</b> </li><li>For the light agent profile and role, pass <b>"rolePermissionType"</b>:<b>"Light"</b></li><li>For
        the Agent profile and Personal Team  role, pass <b>"rolePermissionType"</b>:<b>"AgentTeamPersonal"</b></li></ol>
        </li></ol></p>'
      operationId: addAgent
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/addAgentInputStream'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/agentCFResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.CREATE
        - Desk.basic.CREATE
      x-audience:
      - external-public
  /api/v1/myinfo:
    get:
      tags:
      - Agent
      summary: Get My Information
      description: 'This API fetches details of the currently logged in agent. '
      operationId: getMyInfo
      parameters:
      - name: include
        in: query
        description: Secondary information related to the agent. Values allowed are
          profile, role, associatedDepartments, and associatedChatDepartments. You
          can pass multiple values by separating them with commas in the query param
        required: false
        style: simple
        explode: true
        schema:
          type: array
          description: Secondary information related to the agent. Values allowed
            are @profile@, @role@, @associatedDepartments@, and @associatedChatDepartments@.
            You can pass multiple values by separating them with commas in the query
            param
          items:
            type: string
            enum:
            - profile
            - role
            - associatedDepartments
            - associatedChatDepartments
          maxItems: 4
          uniqueItems: true
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getMyInfoResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
  /api/v1/agents/{agentId}:
    get:
      tags:
      - Agent
      summary: Get agent
      description: This API fetches details of an agent in your help desk.
      operationId: getAgent
      parameters:
      - name: include
        in: query
        description: Secondary information related to the agent. Values allowed are
          profile, role, associatedDepartments, associatedChatDepartments and verifiedEmails.
          You can include all four values by separating them with commas in the API
          request.
        required: false
        style: simple
        explode: true
        schema:
          type: array
          description: Secondary information related to the agent. Values allowed
            are @profile@, @role@, @associatedDepartments@, @associatedChatDepartments@
            and @verifiedEmails@. You can include all four values by separating them
            with commas in the API request.
          items:
            type: string
            enum:
            - profile
            - role
            - associatedDepartments
            - associatedChatDepartments
            - verifiedEmails
          maxItems: 5
          uniqueItems: true
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getAgentResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
    patch:
      tags:
      - Agent
      summary: Update agent
      description: This API updates details of an agent.
      operationId: updateAgent
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/updateAgent_addAgentInputStream'
      responses:
        '200':
          $ref: '#/components/responses/updateAgentResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '403':
          $ref: '#/components/responses/forbiddenErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/deactivate:
    post:
      tags:
      - Agent
      summary: Deactivate agent
      description: This API deactivates an agent in your help desk.
      operationId: deactivateAgents
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/deleteMyPhoto:
    post:
      tags:
      - Agent
      summary: Delete My Photo
      description: This API deletes the profile photo of the currently logged in agent.
      operationId: deleteMyPhoto
      parameters:
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agents/deleteUnconfirmed:
    post:
      tags:
      - Agent
      summary: Delete unconfirmed agents
      description: This API deletes unconfirmed agents from your help desk.
      operationId: deleteUnconfirmedAgent
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/deleteUnConfAgentRequest'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agents/count:
    get:
      tags:
      - Agent
      summary: Get agents count
      description: This API lists the agents count by status, confirmed and include
        light
      operationId: getAgentsCount
      parameters:
      - $ref: '#/components/parameters/isConfirmed'
      - name: includeLightAgent
        in: query
        description: Count light agent.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          description: Count light agent.
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/deptCountResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
        - Desk.basic.READ
      x-audience:
      - external-public
  /api/v1/agents/reinvite:
    post:
      tags:
      - Agent
      summary: Reinvite unconfirmed agents
      description: This API sends reinvitation mails to unconfirmed agents.
      operationId: reInviteAgents
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/reInviteAgents_agentIdsArray'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
        - Desk.basic.UPDATE
      x-audience:
      - external-public
  /api/v1/agentAvailabilityConfig:
    get:
      tags:
      - AgentPresence
      summary: Get Agent Availability Configuration
      description: 'This API fetches the agent availability setting configured in
        your help desk portal. '
      operationId: getConfig
      parameters:
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getConfig'
      security:
      - iam-oauth2-schema:
        - Desk.basic.READ
        - Desk.settings.READ
      x-audience:
      - external-public
    post:
      tags:
      - AgentPresence
      summary: Update Agent Availability Configuration
      description: This API updates the agent availability setting configured in your
        help desk portal.
      operationId: updateConfig
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/getConfig'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.basic.UPDATE
        - Desk.settings.UPDATE
      x-audience:
      - external-public
  /api/v1/offlineAgents:
    get:
      tags:
      - AgentPresence
      summary: Get Offline Agents
      description: This API lists the agents who are currently offline in a particular
        department.
      operationId: getOfflineAgents
      parameters:
      - name: include
        in: query
        description: 'Key that includes additional, channel-specific information.
          Values allowed are: mailStatus, phoneStatus, phoneMode, chatStatus, and
          presenceStatus'
        required: false
        style: simple
        explode: true
        schema:
          type:
          - 'null'
          - array
          description: 'Key that includes additional, channel-specific information.
            Values allowed are: @mailStatus@, @phoneStatus@, @phoneMode@, @chatStatus@,
            and @presenceStatus@.'
          items:
            type: string
            enum:
            - chatStatus
            - mailStatus
            - phoneStatus
            - presenceStatus
            - phoneMode
          maxItems: 5
          uniqueItems: true
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/getCurrentAvailability'
      security:
      - iam-oauth2-schema:
        - Desk.basic.READ
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/agentAvailability:
    get:
      tags:
      - AgentPresence
      summary: Get Current Availability
      description: This API lists the current availability of agents in a particular
        department.
      operationId: getCurrentAvailability
      parameters:
      - name: include
        in: query
        description: 'Key that includes additional, channel-specific information.
          Values allowed are: mailStatus, phoneStatus, phoneMode, chatStatus, and
          presenceStatus'
        required: false
        style: simple
        explode: true
        schema:
          type: array
          description: 'Key that includes additional, channel-specific information.
            Values allowed are: @mailStatus@, @phoneStatus@, @phoneMode@, @chatStatus@,
            and @presenceStatus@.'
          items:
            type: string
            enum:
            - chatStatus
            - mailStatus
            - phoneStatus
            - presenceStatus
            - phoneMode
          maxItems: 5
          uniqueItems: true
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/limit'
      - name: from
        in: query
        description: Index number, starting from which the agents must be fetched.
          The default value is 0 and the maximum value allowed is 5999.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Index number, starting from which the agents must be fetched.
            The default value is 0 and the maximum value allowed is 5999.
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/getCurrentAvailability'
      security:
      - iam-oauth2-schema:
        - Desk.basic.READ
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/onlineAgents:
    get:
      tags:
      - AgentPresence
      summary: Get Online Agents
      description: This API lists the agents who are currently online in a particular
        department.
      operationId: getOnlineAgents
      parameters:
      - name: include
        in: query
        description: 'Key that includes additional, channel-specific information.
          Values allowed are: mailStatus, phoneStatus, phoneMode, chatStatus, and
          presenceStatus'
        required: false
        style: simple
        explode: true
        schema:
          type: array
          description: 'Key that includes additional, channel-specific information.
            Values allowed are: @mailStatus@, @phoneStatus@, @phoneMode@, @chatStatus@,
            and @presenceStatus@.'
          items:
            type: string
            enum:
            - chatStatus
            - mailStatus
            - phoneStatus
            - presenceStatus
            - phoneMode
          maxItems: 5
          uniqueItems: true
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/getCurrentAvailability'
      security:
      - iam-oauth2-schema:
        - Desk.basic.READ
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/signatures:
    get:
      tags:
      - AgentSignatures
      summary: Get signatures of agent
      description: This API fetches the different signatures configured by an agent.
      operationId: getSignatures
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/commonSignaturesResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
      x-audience:
      - external-public
    patch:
      tags:
      - AgentSignatures
      summary: Update signatures of agent
      description: This API updates the existing signatures of an agent.
      operationId: updateSignatures
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/agentSignatureJson'
      responses:
        '200':
          $ref: '#/components/responses/commonSignaturesResponse'
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/updateCustomizedSignature:
    post:
      tags:
      - AgentSignatures
      summary: Update customized signatures of agent
      description: This API updates the customized signatures of an agent.
      operationId: updateCustomSignature
      parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/customSignatureJson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/commonSignaturesResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.UPDATE
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/timeEntry:
    get:
      tags:
      - AgentTimeEntry
      summary: List Agent Time Entries
      description: This API lists the time entries associated with an agent.
      operationId: getTimeEntryByAgentId
      parameters:
      - name: include
        in: query
        description: Secondary information related to the time entry. Value supported
          is @owner@.
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: Secondary information related to the time entry. Value supported
            is @owner@.
          enum:
          - owner
      - $ref: '#/components/parameters/module'
      - $ref: '#/components/parameters/departmentId'
      - name: createdTimeRange
        in: query
        description: Key that filters time entries created in a particular period
          of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;
          for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that filters time entries created in a particular period
            of time. Enter the from and to dates in the ISO date format of yyyy-MM-ddThh:mm:ss.SSSZ;
            for example, createdTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
          maxLength: 100
          minLength: 0
          pattern: (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z)),(((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
      - name: limit
        in: query
        description: Number of time entries to fetch
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Number of time entries to fetch
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/billStatus'
      - name: orderBy
        in: query
        description: Key that sorts the time entries in ascending or descending order,
          based on the @executedTime@ attribute. Values allowed are @ASC@ (default)
          and @DESC@.
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: Key that sorts the time entries in ascending or descending
            order, based on the @executedTime@ attribute. Values allowed are @ASC@
            (default) and @DESC@.
          enum:
          - ASC
          - DESC
      - name: from
        in: query
        description: Index number, starting from which the time entries must be fetched
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - integer
          format: int32
          description: Index number, starting from which the time entries must be
            fetched
          pattern: ([0-9]+)
      - name: modifiedTimeRange
        in: query
        description: Key that filters time entries whose details were modified in
          a particular period of time. Enter the from and to dates in the ISO date
          format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that filters time entries whose details were modified in
            a particular period of time. Enter the from and to dates in the ISO date
            format of yyyy-MM-ddThh:mm:ss.SSSZ; for example, modifiedTimeRange=2017-11-05T00:00:00.000Z,2018-09-05T23:59:00.000Z.
          maxLength: 100
          minLength: 0
          pattern: (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z)),(((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '204':
          $ref: '#/components/responses/emptyResponse'
        '200':
          $ref: '#/components/responses/getTimeEntryByAgentIdResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/timeEntrySummation:
    get:
      tags:
      - AgentTimeEntry
      summary: Get summation of Agent Time Entries
      description: This API fetches the sum of time entries associated with an agent.
      operationId: getSummationOfTimeEntryForAgent
      parameters:
      - $ref: '#/components/parameters/module'
      - $ref: '#/components/parameters/departmentId'
      - $ref: '#/components/parameters/billStatus'
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getSummationOfTimeEntryForAgentResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/agents/{agentId}/timeEntry/{agentTimeEntryId}:
    get:
      tags:
      - AgentTimeEntry
      summary: Get an Agent Time Entry
      description: This API fetches a time entry related to an agent.
      operationId: getTimeEntryForAgent
      parameters:
      - name: include
        in: query
        description: Secondary information related to the time entry. Value supported
          is owner.
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: Secondary information related to the time entry. Value supported
            is owner.
          enum:
          - owner
      - $ref: '#/components/parameters/agentId'
      - name: agentTimeEntryId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/getTimeEntryForAgentResponse'
      security:
      - iam-oauth2-schema:
        - Desk.settings.READ
      x-audience:
      - external-public
  /api/v1/articles:
    get:
      tags:
      - Article
      summary: List articles
      description: This API fetches a specific number of articles from your knowledge
        base, based on the limit defined.
      operationId: getArticles
      parameters:
      - $ref: '#/components/parameters/permission'
      - $ref: '#/components/parameters/authorId'
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: sortBy
        in: query
        description: 'Key that sorts the articles based on a specific attribute: !@createdTime,@!
          or !@modifiedTime@! or     !@likeCount@! or !@viewCount@! or !@feedbackCount@!
          or !@dislikeCount@! or !@positionArticle@!'
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: 'Key that sorts the articles based on a specific attribute:
            !@createdTime,@! or !@modifiedTime@! or     !@likeCount@! or !@viewCount@!
            or !@feedbackCount@! or !@dislikeCount@! or !@positionArticle@!'
          enum:
          - createdTime
          - modifiedTime
          - likeCount
          - viewCount
          - feedbackCount
          - dislikeCount
          - -createdTime
          - -modifiedTime
          - -likeCount
          - -viewCount
          - -feedbackCount
          - -dislikeCount
      - name: modifiedTimeRange
        in: query
        description: Key that filters articles modified within a specific date and
          time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that filters articles modified within a specific date and
            time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'
          maxLength: 100
          minLength: 0
          pattern: (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z)),(((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
      - name: expiryTimeRange
        in: query
        description: Key that filters articles which will expire within a specific
          date and time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Key that filters articles which will expire within a specific
            date and time range. Enter the dates in the ISO date format of 'yyyy-MM-ddThh:mm:ss.SSSZ,yyyy-MM-ddThh:mm:ss.SSSZ'
          maxLength: 100
          minLength: 0
          pattern: (((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z)),(((19|20)\d\d)[-/.]{1}(0?[1-9]|1[012])[-/.]{1}(0?[1-9]|[12][0-9]|3[01])(T)([01]?[0-9]|2[0-3]):[0-5]?[0-9]:[0-5]?[0-9]([/.][\d]{0,3})?(Z))|null
      - $ref: '#/components/parameters/categoryId'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/listAllNewArticle'
      security:
      - iam-oauth2-schema:
        - Desk.articles.READ
      x-audience:
      - external-public
    post:
      tags:
      - Article
      summary: Create an article
      description: This API creates an article in your helpdesk.
      operationId: createArticle
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/templateId'
      requestBody:
        $ref: '#/components/requestBodies/addArticleJson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/articleCUDJson'
      security:
      - iam-oauth2-schema:
        - Desk.articles.CREATE
      x-audience:
      - external-public
  /api/v1/articles/{id}:
    get:
      tags:
      - Article
      summary: Get article
      description: This API fetches an article from your knowledge base.
      operationId: getArticle
      parameters:
      - name: version
        in: query
        description: Version number of the article
        required: false
        style: form
        explode: true
        schema:
          type: string
          description: Version number of the article
          maxLength: 100
          minLength: 0
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/getArticleNewJson'
      security:
      - iam-oauth2-schema:
        - Desk.articles.READ
      x-audience:
      - external-public
    patch:
      tags:
      - Article
      summary: Update an article
      description: This API updates an existing article.
      operationId: updateArticle
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/templateId'
      requestBody:
        $ref: '#/components/requestBodies/updateArticleJson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/articleCUDJson'
      security:
      - iam-oauth2-schema:
        - Desk.articles.UPDATE
      x-audience:
      - external-public
  /api/v1/articles/checkPermalinkAvailability:
    post:
      tags:
      - Article
      summary: Validate permalink
      description: This API validates if a permalink is available for a help article.
      operationId: checkArticlePermalinkAvailability
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/validatePermalinkRequestBody'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/validatePermalinkResponse'
      security:
      - iam-oauth2-schema:
        - Desk.articles.READ
      x-audience:
      - external-public
  /api/v1/articles/count:
    get:
      tags:
      - Article
      summary: Get article count
      description: This API returns the number of articles published in the knowledge
        base of your help desk portal.
      operationId: getArticleCount
      parameters:
      - $ref: '#/components/parameters/permission'
      - $ref: '#/components/parameters/authorId'
      - $ref: '#/components/parameters/categoryId'
      - $ref: '#/components/parameters/status'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/articlesCountJson'
      security:
      - iam-oauth2-schema:
        - Desk.articles.READ
      x-audience:
      - external-public
  /api/v1/articles/preview:
    post:
      tags:
      - Article
      summary: Preview article
      description: This API shows a preview of help articles, through which you can
        check the content for formatting, alignment, and grammar/spelling errors and
        get the look and feel of the help article even before publishing it.
      operationId: previewArticle
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/previewJson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/previewJson'
      security:
      - iam-oauth2-schema:
        - Desk.articles.UPDATE
      x-audience:
      - external-public
  /api/v1/articles/moveToTrash:
    post:
      tags:
      - Article
      summary: Move articles to trash
      description: This API moves articles to the Recycle Bin
      operationId: deleteArticle
      parameters:
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/trashArticles_articleIdsJson'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/massActionListResponse'
      security:
      - iam-oauth2-schema:
        - Desk.articles.DELETE
      x-audience:
      - external-public
  /api/v1/tickets/{ticketId}/articleSuggestion:
    get:
      tags:
      - Article
      summary: Suggest relevant articles for ticket
      description: This API suggests help articles that could be relevant to resolving
        a ticket.
      operationId: suggestArticlesForTicket
      parameters:
      - name: departmentId
        in: query
        description: ID of the department to which the help article belongs. If you
          want to include help articles from all departments, pass 0 as the value
          of this key
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          description: ID of the department to which the help article belongs. If
            you want to include help articles from all departments, pass 0 as the
            value of this key
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/from'
      - name: ticketId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int64
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/orgId'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '200':
          $ref: '#/components/responses/translationListWithRecycleBinEntityWrapper'
      security:
      - iam-oauth2-schema:
        - Desk.articles.READ
      x-audience:
      - external-public
  /api/v1/articles/{articleId}/translations/{locale}/dissociateAttachments:
    post:
      tags:
      - ArticleAttachment
      summary: Dissociate attachments from translation
      description: This API removes the file attachments from a translation.
      operationId: removeAttachmentsFromArticleTranslation
      parameters:
      - $ref: '#/components/parameters/articleId'
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/orgId'
      requestBody:
        $ref: '#/components/requestBodies/dissociateAttachmentsFromFAQRequestBody'
      responses:
        '422':
          $ref: '#/components/responses/invalidDataErrorResponse'
        '204':
          $ref: '#/components/responses/emptyResponse'
      security:
      - iam-oauth2-schema:
        - Desk.articles.UPDATE
      x-audience:
      - external-public
  /api/v1/articleAttachments:
    post:
      tags:
      - ArticleAttachment
      summary: Upload attachments
      description: This API uploads files to your portal gallery.
      operationId: uploadArticleAttachments
      parameters:
      - $ref: '#/components/parameters/attachmentType'
      - name: workspaceId
        in: query
        description: Workspace id to which the attachment should be uploaded
        required: true
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          description: Workspace id to which the attachement should be uploaded
          maxLength: 100
          minLength: 0
          pattern: ^([a-zA-Z0-9]{37}|-1)$
      - $ref: '#/components/parameters/orgId'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required:
              - file
      responses:
        '422':
          $ref: '#/components/responses/multipleUnprocessEntityResponse'
        '200':
          $ref: '#/components/responses/uploadArticleAttachmentResponse'
      security:
      - iam-oauth2-schema:
        - Desk.articles.CREATE
      x-audience:
      - external-public
  /api/v1/articles/{articleId}/translations/{locale}/attachments:
    get:
      tags:
      - ArticleAttachment
      summary: Get attachments
      description: This API fetches the files attached to an article translation.
      operationId: getArticleTranslationAttachments
      parameters:
      - name: limit
        in: query
        description: Number of attachments to fetch
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - integer
          format: int32
          description: Number of attachments to fetch
          maximum: 30
          minimum: 1
          pattern: ([0-9]+)
      - name: from
        in: query
        description: Index number starting from which the article attachments must
          be fetched.
        required: false
        style: form
        explode: true
        schema:
          type:
          - string
          - 'null'
          - integer
          format: int32
          description: Index number starting from which the article attachments must
            be fetched.
          minimum: 1
          pattern: ([0-9]+)
      - $ref: '#/components/parameters/articleId'
      - $ref: '#/components/parameters/locale'
      - $ref: '#/components/parameters/orgId'
      responses:
        '200':
          $ref: '#/components/responses/articleAttachments'
[...]
