{
  "openapi": "3.0.1",
  "info": {
    "title": "App Store Connect (read)",
    "version": "4.4",
    "description": "Read-only App Store Connect cockpit \u2014 apps, TestFlight builds, App Store versions/review state, customer reviews, beta groups/testers, and sales reports. No write endpoints.",
    "x-cli-description": "A read-only App Store Connect cockpit across all your apps: review state, TestFlight builds, ratings, reviews, and downloads.",
    "x-auth-instructions": "JWT (ES256) bearer. Create an App Store Connect API key (Users and Access > Integrations > App Store Connect API), download the .p8, and set ASC_KEY_ID, ASC_ISSUER_ID, and ASC_PRIVATE_KEY_PATH (or ASC_PRIVATE_KEY). Keys are scoped to one team; run one team per invocation."
  },
  "servers": [
    {
      "url": "https://api.appstoreconnect.apple.com/"
    }
  ],
  "security": [
    {
      "itc-bearer-token": []
    }
  ],
  "paths": {
    "/v1/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "apps_getCollection",
        "parameters": [
          {
            "name": "filter[name]",
            "in": "query",
            "description": "filter by attribute 'name'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[bundleId]",
            "in": "query",
            "description": "filter by attribute 'bundleId'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[sku]",
            "in": "query",
            "description": "filter by attribute 'sku'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[appStoreVersions.appStoreState]",
            "in": "query",
            "description": "filter by attribute 'appStoreVersions.appStoreState'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCEPTED",
                  "DEVELOPER_REMOVED_FROM_SALE",
                  "DEVELOPER_REJECTED",
                  "IN_REVIEW",
                  "INVALID_BINARY",
                  "METADATA_REJECTED",
                  "PENDING_APPLE_RELEASE",
                  "PENDING_CONTRACT",
                  "PENDING_DEVELOPER_RELEASE",
                  "PREPARE_FOR_SUBMISSION",
                  "PREORDER_READY_FOR_SALE",
                  "PROCESSING_FOR_APP_STORE",
                  "READY_FOR_REVIEW",
                  "READY_FOR_SALE",
                  "REJECTED",
                  "REMOVED_FROM_SALE",
                  "WAITING_FOR_EXPORT_COMPLIANCE",
                  "WAITING_FOR_REVIEW",
                  "REPLACED_WITH_NEW_VERSION",
                  "NOT_APPLICABLE"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "deprecated": true
          },
          {
            "name": "filter[appStoreVersions.platform]",
            "in": "query",
            "description": "filter by attribute 'appStoreVersions.platform'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS",
                  "MAC_OS",
                  "TV_OS",
                  "VISION_OS"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[appStoreVersions.appVersionState]",
            "in": "query",
            "description": "filter by attribute 'appStoreVersions.appVersionState'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCEPTED",
                  "DEVELOPER_REJECTED",
                  "IN_REVIEW",
                  "INVALID_BINARY",
                  "METADATA_REJECTED",
                  "PENDING_APPLE_RELEASE",
                  "PENDING_DEVELOPER_RELEASE",
                  "PREPARE_FOR_SUBMISSION",
                  "PROCESSING_FOR_DISTRIBUTION",
                  "READY_FOR_DISTRIBUTION",
                  "READY_FOR_REVIEW",
                  "REJECTED",
                  "REPLACED_WITH_NEW_VERSION",
                  "WAITING_FOR_EXPORT_COMPLIANCE",
                  "WAITING_FOR_REVIEW"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[reviewSubmissions.state]",
            "in": "query",
            "description": "filter by attribute 'reviewSubmissions.state'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "READY_FOR_REVIEW",
                  "WAITING_FOR_REVIEW",
                  "IN_REVIEW",
                  "UNRESOLVED_ISSUES",
                  "CANCELING",
                  "COMPLETING",
                  "COMPLETE"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[reviewSubmissions.platform]",
            "in": "query",
            "description": "filter by attribute 'reviewSubmissions.platform'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS",
                  "MAC_OS",
                  "TV_OS",
                  "VISION_OS"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[appStoreVersions]",
            "in": "query",
            "description": "filter by id(s) of related 'appStoreVersions'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "exists[gameCenterEnabledVersions]",
            "in": "query",
            "description": "filter by existence or non-existence of related 'gameCenterEnabledVersions'",
            "schema": {
              "type": "boolean"
            },
            "style": "form",
            "explode": false,
            "required": false,
            "deprecated": true
          },
          {
            "name": "sort",
            "in": "query",
            "description": "comma-separated list of sort expressions; resources will be sorted as specified",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "-name",
                  "bundleId",
                  "-bundleId",
                  "sku",
                  "-sku"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[apps]",
            "in": "query",
            "description": "the fields to include for returned resources of type apps",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "accessibilityUrl",
                  "name",
                  "bundleId",
                  "sku",
                  "primaryLocale",
                  "isOrEverWasMadeForKids",
                  "subscriptionStatusUrl",
                  "subscriptionStatusUrlVersion",
                  "subscriptionStatusUrlForSandbox",
                  "subscriptionStatusUrlVersionForSandbox",
                  "contentRightsDeclaration",
                  "streamlinedPurchasingEnabled",
                  "accessibilityDeclarations",
                  "appEncryptionDeclarations",
                  "appStoreIcon",
                  "ciProduct",
                  "betaTesters",
                  "betaGroups",
                  "appStoreVersions",
                  "appTags",
                  "preReleaseVersions",
                  "betaAppLocalizations",
                  "builds",
                  "betaLicenseAgreement",
                  "betaAppReviewDetail",
                  "appInfos",
                  "appClips",
                  "appPricePoints",
                  "endUserLicenseAgreement",
                  "appPriceSchedule",
                  "appAvailabilityV2",
                  "inAppPurchases",
                  "subscriptionGroups",
                  "gameCenterEnabledVersions",
                  "perfPowerMetrics",
                  "appCustomProductPages",
                  "inAppPurchasesV2",
                  "promotedPurchases",
                  "appEvents",
                  "reviewSubmissions",
                  "subscriptionGracePeriod",
                  "customerReviews",
                  "customerReviewSummarizations",
                  "gameCenterDetail",
                  "appStoreVersionExperimentsV2",
                  "alternativeDistributionKey",
                  "analyticsReportRequests",
                  "marketplaceSearchDetail",
                  "buildUploads",
                  "backgroundAssets",
                  "betaFeedbackScreenshotSubmissions",
                  "betaFeedbackCrashSubmissions",
                  "searchKeywords",
                  "webhooks",
                  "androidToIosAppMappingDetails"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appEncryptionDeclarations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appEncryptionDeclarations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appDescription",
                  "createdDate",
                  "usesEncryption",
                  "exempt",
                  "containsProprietaryCryptography",
                  "containsThirdPartyCryptography",
                  "availableOnFrenchStore",
                  "platform",
                  "uploadedDate",
                  "documentUrl",
                  "documentName",
                  "documentType",
                  "appEncryptionDeclarationState",
                  "codeValue",
                  "app",
                  "builds",
                  "appEncryptionDeclarationDocument"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[buildIcons]",
            "in": "query",
            "description": "the fields to include for returned resources of type buildIcons",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "iconAsset",
                  "iconType",
                  "masked",
                  "name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[ciProducts]",
            "in": "query",
            "description": "the fields to include for returned resources of type ciProducts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "createdDate",
                  "productType",
                  "app",
                  "bundleId",
                  "workflows",
                  "primaryRepositories",
                  "additionalRepositories",
                  "buildRuns"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaGroups]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaGroups",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "createdDate",
                  "isInternalGroup",
                  "hasAccessToAllBuilds",
                  "publicLinkEnabled",
                  "publicLinkId",
                  "publicLinkLimitEnabled",
                  "publicLinkLimit",
                  "publicLink",
                  "feedbackEnabled",
                  "iosBuildsAvailableForAppleSiliconMac",
                  "iosBuildsAvailableForAppleVision",
                  "app",
                  "builds",
                  "betaTesters",
                  "betaRecruitmentCriteria",
                  "betaRecruitmentCriterionCompatibleBuildCheck"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appStoreVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "versionString",
                  "appStoreState",
                  "appVersionState",
                  "copyright",
                  "reviewType",
                  "releaseType",
                  "earliestReleaseDate",
                  "usesIdfa",
                  "downloadable",
                  "createdDate",
                  "app",
                  "appStoreVersionLocalizations",
                  "build",
                  "appStoreVersionPhasedRelease",
                  "gameCenterAppVersion",
                  "routingAppCoverage",
                  "appStoreReviewDetail",
                  "appStoreVersionSubmission",
                  "appClipDefaultExperience",
                  "appStoreVersionExperiments",
                  "appStoreVersionExperimentsV2",
                  "customerReviews",
                  "alternativeDistributionPackage"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[preReleaseVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type preReleaseVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "version",
                  "platform",
                  "builds",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaAppLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaAppLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "feedbackEmail",
                  "marketingUrl",
                  "privacyPolicyUrl",
                  "tvOsPrivacyPolicy",
                  "description",
                  "locale",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[builds]",
            "in": "query",
            "description": "the fields to include for returned resources of type builds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "version",
                  "uploadedDate",
                  "expirationDate",
                  "expired",
                  "minOsVersion",
                  "lsMinimumSystemVersion",
                  "computedMinMacOsVersion",
                  "computedMinVisionOsVersion",
                  "iconAssetToken",
                  "processingState",
                  "buildAudienceType",
                  "usesNonExemptEncryption",
                  "preReleaseVersion",
                  "individualTesters",
                  "betaGroups",
                  "betaBuildLocalizations",
                  "appEncryptionDeclaration",
                  "betaAppReviewSubmission",
                  "app",
                  "buildBetaDetail",
                  "appStoreVersion",
                  "icons",
                  "buildBundles",
                  "buildUpload",
                  "perfPowerMetrics",
                  "diagnosticSignatures"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaLicenseAgreements]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaLicenseAgreements",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "agreementText",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaAppReviewDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaAppReviewDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "contactFirstName",
                  "contactLastName",
                  "contactPhone",
                  "contactEmail",
                  "demoAccountName",
                  "demoAccountPassword",
                  "demoAccountRequired",
                  "notes",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appInfos]",
            "in": "query",
            "description": "the fields to include for returned resources of type appInfos",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appStoreState",
                  "state",
                  "appStoreAgeRating",
                  "australiaAgeRating",
                  "brazilAgeRating",
                  "brazilAgeRatingV2",
                  "franceAgeRating",
                  "koreaAgeRating",
                  "app",
                  "ageRatingDeclaration",
                  "appInfoLocalizations",
                  "primaryCategory",
                  "primarySubcategoryOne",
                  "primarySubcategoryTwo",
                  "secondaryCategory",
                  "secondarySubcategoryOne",
                  "secondarySubcategoryTwo",
                  "territoryAgeRatings"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClips]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClips",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "app",
                  "appClipDefaultExperiences",
                  "appClipAdvancedExperiences"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[endUserLicenseAgreements]",
            "in": "query",
            "description": "the fields to include for returned resources of type endUserLicenseAgreements",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "agreementText",
                  "app",
                  "territories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[inAppPurchases]",
            "in": "query",
            "description": "the fields to include for returned resources of type inAppPurchases",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "referenceName",
                  "productId",
                  "inAppPurchaseType",
                  "state",
                  "apps",
                  "name",
                  "reviewNote",
                  "familySharable",
                  "contentHosting",
                  "inAppPurchaseLocalizations",
                  "pricePoints",
                  "content",
                  "appStoreReviewScreenshot",
                  "promotedPurchase",
                  "iapPriceSchedule",
                  "inAppPurchaseAvailability",
                  "images",
                  "offerCodes"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[subscriptionGroups]",
            "in": "query",
            "description": "the fields to include for returned resources of type subscriptionGroups",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "referenceName",
                  "subscriptions",
                  "subscriptionGroupLocalizations"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[gameCenterEnabledVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type gameCenterEnabledVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "versionString",
                  "iconAsset",
                  "compatibleVersions",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "deprecated": true
          },
          {
            "name": "fields[appCustomProductPages]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "url",
                  "visible",
                  "app",
                  "appCustomProductPageVersions"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[promotedPurchases]",
            "in": "query",
            "description": "the fields to include for returned resources of type promotedPurchases",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "visibleForAllUsers",
                  "enabled",
                  "state",
                  "inAppPurchaseV2",
                  "subscription"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appEvents]",
            "in": "query",
            "description": "the fields to include for returned resources of type appEvents",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "referenceName",
                  "badge",
                  "eventState",
                  "deepLink",
                  "purchaseRequirement",
                  "primaryLocale",
                  "priority",
                  "purpose",
                  "territorySchedules",
                  "archivedTerritorySchedules",
                  "localizations"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[reviewSubmissions]",
            "in": "query",
            "description": "the fields to include for returned resources of type reviewSubmissions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "submittedDate",
                  "state",
                  "app",
                  "items",
                  "appStoreVersionForReview",
                  "submittedByActor",
                  "lastUpdatedByActor"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[subscriptionGracePeriods]",
            "in": "query",
            "description": "the fields to include for returned resources of type subscriptionGracePeriods",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "optIn",
                  "sandboxOptIn",
                  "duration",
                  "renewalType"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[gameCenterDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type gameCenterDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "arcadeEnabled",
                  "challengeEnabled",
                  "app",
                  "gameCenterAppVersions",
                  "gameCenterGroup",
                  "gameCenterLeaderboards",
                  "gameCenterLeaderboardsV2",
                  "gameCenterLeaderboardSets",
                  "gameCenterLeaderboardSetsV2",
                  "gameCenterAchievements",
                  "gameCenterAchievementsV2",
                  "gameCenterActivities",
                  "gameCenterChallenges",
                  "defaultLeaderboard",
                  "defaultLeaderboardV2",
                  "defaultGroupLeaderboard",
                  "defaultGroupLeaderboardV2",
                  "achievementReleases",
                  "activityReleases",
                  "challengeReleases",
                  "leaderboardReleases",
                  "leaderboardSetReleases",
                  "challengesMinimumPlatformVersions"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appStoreVersionExperiments]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersionExperiments",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "platform",
                  "trafficProportion",
                  "state",
                  "reviewRequired",
                  "startDate",
                  "endDate",
                  "app",
                  "latestControlVersion",
                  "controlVersions",
                  "appStoreVersionExperimentTreatments"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[androidToIosAppMappingDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type androidToIosAppMappingDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "packageName",
                  "appSigningKeyPublicCertificateSha256Fingerprints"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appEncryptionDeclarations",
                  "appStoreIcon",
                  "ciProduct",
                  "betaGroups",
                  "appStoreVersions",
                  "preReleaseVersions",
                  "betaAppLocalizations",
                  "builds",
                  "betaLicenseAgreement",
                  "betaAppReviewDetail",
                  "appInfos",
                  "appClips",
                  "endUserLicenseAgreement",
                  "inAppPurchases",
                  "subscriptionGroups",
                  "gameCenterEnabledVersions",
                  "appCustomProductPages",
                  "inAppPurchasesV2",
                  "promotedPurchases",
                  "appEvents",
                  "reviewSubmissions",
                  "subscriptionGracePeriod",
                  "gameCenterDetail",
                  "appStoreVersionExperimentsV2",
                  "androidToIosAppMappingDetails"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[androidToIosAppMappingDetails]",
            "in": "query",
            "description": "maximum number of related androidToIosAppMappingDetails returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appClips]",
            "in": "query",
            "description": "maximum number of related appClips returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appCustomProductPages]",
            "in": "query",
            "description": "maximum number of related appCustomProductPages returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appEncryptionDeclarations]",
            "in": "query",
            "description": "maximum number of related appEncryptionDeclarations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appEvents]",
            "in": "query",
            "description": "maximum number of related appEvents returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appInfos]",
            "in": "query",
            "description": "maximum number of related appInfos returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appStoreVersionExperimentsV2]",
            "in": "query",
            "description": "maximum number of related appStoreVersionExperimentsV2 returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appStoreVersions]",
            "in": "query",
            "description": "maximum number of related appStoreVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[betaAppLocalizations]",
            "in": "query",
            "description": "maximum number of related betaAppLocalizations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[betaGroups]",
            "in": "query",
            "description": "maximum number of related betaGroups returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[builds]",
            "in": "query",
            "description": "maximum number of related builds returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[gameCenterEnabledVersions]",
            "in": "query",
            "description": "maximum number of related gameCenterEnabledVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false,
            "deprecated": true
          },
          {
            "name": "limit[inAppPurchases]",
            "in": "query",
            "description": "maximum number of related inAppPurchases returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false,
            "deprecated": true
          },
          {
            "name": "limit[inAppPurchasesV2]",
            "in": "query",
            "description": "maximum number of related inAppPurchasesV2 returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[preReleaseVersions]",
            "in": "query",
            "description": "maximum number of related preReleaseVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[promotedPurchases]",
            "in": "query",
            "description": "maximum number of related promotedPurchases returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[reviewSubmissions]",
            "in": "query",
            "description": "maximum number of related reviewSubmissions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[subscriptionGroups]",
            "in": "query",
            "description": "maximum number of related subscriptionGroups returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of Apps",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppsResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "apps_getInstance",
        "parameters": [
          {
            "name": "fields[apps]",
            "in": "query",
            "description": "the fields to include for returned resources of type apps",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "accessibilityUrl",
                  "name",
                  "bundleId",
                  "sku",
                  "primaryLocale",
                  "isOrEverWasMadeForKids",
                  "subscriptionStatusUrl",
                  "subscriptionStatusUrlVersion",
                  "subscriptionStatusUrlForSandbox",
                  "subscriptionStatusUrlVersionForSandbox",
                  "contentRightsDeclaration",
                  "streamlinedPurchasingEnabled",
                  "accessibilityDeclarations",
                  "appEncryptionDeclarations",
                  "appStoreIcon",
                  "ciProduct",
                  "betaTesters",
                  "betaGroups",
                  "appStoreVersions",
                  "appTags",
                  "preReleaseVersions",
                  "betaAppLocalizations",
                  "builds",
                  "betaLicenseAgreement",
                  "betaAppReviewDetail",
                  "appInfos",
                  "appClips",
                  "appPricePoints",
                  "endUserLicenseAgreement",
                  "appPriceSchedule",
                  "appAvailabilityV2",
                  "inAppPurchases",
                  "subscriptionGroups",
                  "gameCenterEnabledVersions",
                  "perfPowerMetrics",
                  "appCustomProductPages",
                  "inAppPurchasesV2",
                  "promotedPurchases",
                  "appEvents",
                  "reviewSubmissions",
                  "subscriptionGracePeriod",
                  "customerReviews",
                  "customerReviewSummarizations",
                  "gameCenterDetail",
                  "appStoreVersionExperimentsV2",
                  "alternativeDistributionKey",
                  "analyticsReportRequests",
                  "marketplaceSearchDetail",
                  "buildUploads",
                  "backgroundAssets",
                  "betaFeedbackScreenshotSubmissions",
                  "betaFeedbackCrashSubmissions",
                  "searchKeywords",
                  "webhooks",
                  "androidToIosAppMappingDetails"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appEncryptionDeclarations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appEncryptionDeclarations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appDescription",
                  "createdDate",
                  "usesEncryption",
                  "exempt",
                  "containsProprietaryCryptography",
                  "containsThirdPartyCryptography",
                  "availableOnFrenchStore",
                  "platform",
                  "uploadedDate",
                  "documentUrl",
                  "documentName",
                  "documentType",
                  "appEncryptionDeclarationState",
                  "codeValue",
                  "app",
                  "builds",
                  "appEncryptionDeclarationDocument"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[buildIcons]",
            "in": "query",
            "description": "the fields to include for returned resources of type buildIcons",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "iconAsset",
                  "iconType",
                  "masked",
                  "name"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[ciProducts]",
            "in": "query",
            "description": "the fields to include for returned resources of type ciProducts",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "createdDate",
                  "productType",
                  "app",
                  "bundleId",
                  "workflows",
                  "primaryRepositories",
                  "additionalRepositories",
                  "buildRuns"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaGroups]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaGroups",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "createdDate",
                  "isInternalGroup",
                  "hasAccessToAllBuilds",
                  "publicLinkEnabled",
                  "publicLinkId",
                  "publicLinkLimitEnabled",
                  "publicLinkLimit",
                  "publicLink",
                  "feedbackEnabled",
                  "iosBuildsAvailableForAppleSiliconMac",
                  "iosBuildsAvailableForAppleVision",
                  "app",
                  "builds",
                  "betaTesters",
                  "betaRecruitmentCriteria",
                  "betaRecruitmentCriterionCompatibleBuildCheck"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appStoreVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "versionString",
                  "appStoreState",
                  "appVersionState",
                  "copyright",
                  "reviewType",
                  "releaseType",
                  "earliestReleaseDate",
                  "usesIdfa",
                  "downloadable",
                  "createdDate",
                  "app",
                  "appStoreVersionLocalizations",
                  "build",
                  "appStoreVersionPhasedRelease",
                  "gameCenterAppVersion",
                  "routingAppCoverage",
                  "appStoreReviewDetail",
                  "appStoreVersionSubmission",
                  "appClipDefaultExperience",
                  "appStoreVersionExperiments",
                  "appStoreVersionExperimentsV2",
                  "customerReviews",
                  "alternativeDistributionPackage"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[preReleaseVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type preReleaseVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "version",
                  "platform",
                  "builds",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaAppLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaAppLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "feedbackEmail",
                  "marketingUrl",
                  "privacyPolicyUrl",
                  "tvOsPrivacyPolicy",
                  "description",
                  "locale",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[builds]",
            "in": "query",
            "description": "the fields to include for returned resources of type builds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "version",
                  "uploadedDate",
                  "expirationDate",
                  "expired",
                  "minOsVersion",
                  "lsMinimumSystemVersion",
                  "computedMinMacOsVersion",
                  "computedMinVisionOsVersion",
                  "iconAssetToken",
                  "processingState",
                  "buildAudienceType",
                  "usesNonExemptEncryption",
                  "preReleaseVersion",
                  "individualTesters",
                  "betaGroups",
                  "betaBuildLocalizations",
                  "appEncryptionDeclaration",
                  "betaAppReviewSubmission",
                  "app",
                  "buildBetaDetail",
                  "appStoreVersion",
                  "icons",
                  "buildBundles",
                  "buildUpload",
                  "perfPowerMetrics",
                  "diagnosticSignatures"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaLicenseAgreements]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaLicenseAgreements",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "agreementText",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[betaAppReviewDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type betaAppReviewDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "contactFirstName",
                  "contactLastName",
                  "contactPhone",
                  "contactEmail",
                  "demoAccountName",
                  "demoAccountPassword",
                  "demoAccountRequired",
                  "notes",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appInfos]",
            "in": "query",
            "description": "the fields to include for returned resources of type appInfos",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appStoreState",
                  "state",
                  "appStoreAgeRating",
                  "australiaAgeRating",
                  "brazilAgeRating",
                  "brazilAgeRatingV2",
                  "franceAgeRating",
                  "koreaAgeRating",
                  "app",
                  "ageRatingDeclaration",
                  "appInfoLocalizations",
                  "primaryCategory",
                  "primarySubcategoryOne",
                  "primarySubcategoryTwo",
                  "secondaryCategory",
                  "secondarySubcategoryOne",
                  "secondarySubcategoryTwo",
                  "territoryAgeRatings"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appClips]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClips",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "bundleId",
                  "app",
                  "appClipDefaultExperiences",
                  "appClipAdvancedExperiences"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[endUserLicenseAgreements]",
            "in": "query",
            "description": "the fields to include for returned resources of type endUserLicenseAgreements",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "agreementText",
                  "app",
                  "territories"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[inAppPurchases]",
            "in": "query",
            "description": "the fields to include for returned resources of type inAppPurchases",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "referenceName",
                  "productId",
                  "inAppPurchaseType",
                  "state",
                  "apps",
                  "name",
                  "reviewNote",
                  "familySharable",
                  "contentHosting",
                  "inAppPurchaseLocalizations",
                  "pricePoints",
                  "content",
                  "appStoreReviewScreenshot",
                  "promotedPurchase",
                  "iapPriceSchedule",
                  "inAppPurchaseAvailability",
                  "images",
                  "offerCodes"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[subscriptionGroups]",
            "in": "query",
            "description": "the fields to include for returned resources of type subscriptionGroups",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "referenceName",
                  "subscriptions",
                  "subscriptionGroupLocalizations"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[gameCenterEnabledVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type gameCenterEnabledVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "versionString",
                  "iconAsset",
                  "compatibleVersions",
                  "app"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false,
            "deprecated": true
          },
          {
            "name": "fields[appCustomProductPages]",
            "in": "query",
            "description": "the fields to include for returned resources of type appCustomProductPages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "url",
                  "visible",
                  "app",
                  "appCustomProductPageVersions"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[promotedPurchases]",
            "in": "query",
            "description": "the fields to include for returned resources of type promotedPurchases",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "visibleForAllUsers",
                  "enabled",
                  "state",
                  "inAppPurchaseV2",
                  "subscription"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appEvents]",
            "in": "query",
            "description": "the fields to include for returned resources of type appEvents",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "referenceName",
                  "badge",
                  "eventState",
                  "deepLink",
                  "purchaseRequirement",
                  "primaryLocale",
                  "priority",
                  "purpose",
                  "territorySchedules",
                  "archivedTerritorySchedules",
                  "localizations"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[reviewSubmissions]",
            "in": "query",
            "description": "the fields to include for returned resources of type reviewSubmissions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "submittedDate",
                  "state",
                  "app",
                  "items",
                  "appStoreVersionForReview",
                  "submittedByActor",
                  "lastUpdatedByActor"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[subscriptionGracePeriods]",
            "in": "query",
            "description": "the fields to include for returned resources of type subscriptionGracePeriods",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "optIn",
                  "sandboxOptIn",
                  "duration",
                  "renewalType"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[gameCenterDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type gameCenterDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "arcadeEnabled",
                  "challengeEnabled",
                  "app",
                  "gameCenterAppVersions",
                  "gameCenterGroup",
                  "gameCenterLeaderboards",
                  "gameCenterLeaderboardsV2",
                  "gameCenterLeaderboardSets",
                  "gameCenterLeaderboardSetsV2",
                  "gameCenterAchievements",
                  "gameCenterAchievementsV2",
                  "gameCenterActivities",
                  "gameCenterChallenges",
                  "defaultLeaderboard",
                  "defaultLeaderboardV2",
                  "defaultGroupLeaderboard",
                  "defaultGroupLeaderboardV2",
                  "achievementReleases",
                  "activityReleases",
                  "challengeReleases",
                  "leaderboardReleases",
                  "leaderboardSetReleases",
                  "challengesMinimumPlatformVersions"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[appStoreVersionExperiments]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersionExperiments",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "platform",
                  "trafficProportion",
                  "state",
                  "reviewRequired",
                  "startDate",
                  "endDate",
                  "app",
                  "latestControlVersion",
                  "controlVersions",
                  "appStoreVersionExperimentTreatments"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "fields[androidToIosAppMappingDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type androidToIosAppMappingDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "packageName",
                  "appSigningKeyPublicCertificateSha256Fingerprints"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appEncryptionDeclarations",
                  "appStoreIcon",
                  "ciProduct",
                  "betaGroups",
                  "appStoreVersions",
                  "preReleaseVersions",
                  "betaAppLocalizations",
                  "builds",
                  "betaLicenseAgreement",
                  "betaAppReviewDetail",
                  "appInfos",
                  "appClips",
                  "endUserLicenseAgreement",
                  "inAppPurchases",
                  "subscriptionGroups",
                  "gameCenterEnabledVersions",
                  "appCustomProductPages",
                  "inAppPurchasesV2",
                  "promotedPurchases",
                  "appEvents",
                  "reviewSubmissions",
                  "subscriptionGracePeriod",
                  "gameCenterDetail",
                  "appStoreVersionExperimentsV2",
                  "androidToIosAppMappingDetails"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "limit[androidToIosAppMappingDetails]",
            "in": "query",
            "description": "maximum number of related androidToIosAppMappingDetails returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appClips]",
            "in": "query",
            "description": "maximum number of related appClips returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appCustomProductPages]",
            "in": "query",
            "description": "maximum number of related appCustomProductPages returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appEncryptionDeclarations]",
            "in": "query",
            "description": "maximum number of related appEncryptionDeclarations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appEvents]",
            "in": "query",
            "description": "maximum number of related appEvents returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appInfos]",
            "in": "query",
            "description": "maximum number of related appInfos returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appStoreVersionExperimentsV2]",
            "in": "query",
            "description": "maximum number of related appStoreVersionExperimentsV2 returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[appStoreVersions]",
            "in": "query",
            "description": "maximum number of related appStoreVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[betaAppLocalizations]",
            "in": "query",
            "description": "maximum number of related betaAppLocalizations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[betaGroups]",
            "in": "query",
            "description": "maximum number of related betaGroups returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[builds]",
            "in": "query",
            "description": "maximum number of related builds returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[gameCenterEnabledVersions]",
            "in": "query",
            "description": "maximum number of related gameCenterEnabledVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false,
            "deprecated": true
          },
          {
            "name": "limit[inAppPurchases]",
            "in": "query",
            "description": "maximum number of related inAppPurchases returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false,
            "deprecated": true
          },
          {
            "name": "limit[inAppPurchasesV2]",
            "in": "query",
            "description": "maximum number of related inAppPurchasesV2 returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[preReleaseVersions]",
            "in": "query",
            "description": "maximum number of related preReleaseVersions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[promotedPurchases]",
            "in": "query",
            "description": "maximum number of related promotedPurchases returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[reviewSubmissions]",
            "in": "query",
            "description": "maximum number of related reviewSubmissions returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          },
          {
            "name": "limit[subscriptionGroups]",
            "in": "query",
            "description": "maximum number of related subscriptionGroups returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "Single App",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{id}/appStoreVersions": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "apps_appStoreVersions_getToManyRelated",
        "parameters": [
          {
            "name": "filter[platform]",
            "in": "query",
            "description": "filter by attribute 'platform'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "IOS",
                  "MAC_OS",
                  "TV_OS",
                  "VISION_OS"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter[versionString]",
            "in": "query",
            "description": "filter by attribute 'versionString'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter[appStoreState]",
            "in": "query",
            "description": "filter by attribute 'appStoreState'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCEPTED",
                  "DEVELOPER_REMOVED_FROM_SALE",
                  "DEVELOPER_REJECTED",
                  "IN_REVIEW",
                  "INVALID_BINARY",
                  "METADATA_REJECTED",
                  "PENDING_APPLE_RELEASE",
                  "PENDING_CONTRACT",
                  "PENDING_DEVELOPER_RELEASE",
                  "PREPARE_FOR_SUBMISSION",
                  "PREORDER_READY_FOR_SALE",
                  "PROCESSING_FOR_APP_STORE",
                  "READY_FOR_REVIEW",
                  "READY_FOR_SALE",
                  "REJECTED",
                  "REMOVED_FROM_SALE",
                  "WAITING_FOR_EXPORT_COMPLIANCE",
                  "WAITING_FOR_REVIEW",
                  "REPLACED_WITH_NEW_VERSION",
                  "NOT_APPLICABLE"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "deprecated": true
          },
          {
            "name": "filter[appVersionState]",
            "in": "query",
            "description": "filter by attribute 'appVersionState'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACCEPTED",
                  "DEVELOPER_REJECTED",
                  "IN_REVIEW",
                  "INVALID_BINARY",
                  "METADATA_REJECTED",
                  "PENDING_APPLE_RELEASE",
                  "PENDING_DEVELOPER_RELEASE",
                  "PREPARE_FOR_SUBMISSION",
                  "PROCESSING_FOR_DISTRIBUTION",
                  "READY_FOR_DISTRIBUTION",
                  "READY_FOR_REVIEW",
                  "REJECTED",
                  "REPLACED_WITH_NEW_VERSION",
                  "WAITING_FOR_EXPORT_COMPLIANCE",
                  "WAITING_FOR_REVIEW"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "filter[id]",
            "in": "query",
            "description": "filter by id(s)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appStoreVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "platform",
                  "versionString",
                  "appStoreState",
                  "appVersionState",
                  "copyright",
                  "reviewType",
                  "releaseType",
                  "earliestReleaseDate",
                  "usesIdfa",
                  "downloadable",
                  "createdDate",
                  "app",
                  "appStoreVersionLocalizations",
                  "build",
                  "appStoreVersionPhasedRelease",
                  "gameCenterAppVersion",
                  "routingAppCoverage",
                  "appStoreReviewDetail",
                  "appStoreVersionSubmission",
                  "appClipDefaultExperience",
                  "appStoreVersionExperiments",
                  "appStoreVersionExperimentsV2",
                  "customerReviews",
                  "alternativeDistributionPackage"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[apps]",
            "in": "query",
            "description": "the fields to include for returned resources of type apps",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "accessibilityUrl",
                  "name",
                  "bundleId",
                  "sku",
                  "primaryLocale",
                  "isOrEverWasMadeForKids",
                  "subscriptionStatusUrl",
                  "subscriptionStatusUrlVersion",
                  "subscriptionStatusUrlForSandbox",
                  "subscriptionStatusUrlVersionForSandbox",
                  "contentRightsDeclaration",
                  "streamlinedPurchasingEnabled",
                  "accessibilityDeclarations",
                  "appEncryptionDeclarations",
                  "appStoreIcon",
                  "ciProduct",
                  "betaTesters",
                  "betaGroups",
                  "appStoreVersions",
                  "appTags",
                  "preReleaseVersions",
                  "betaAppLocalizations",
                  "builds",
                  "betaLicenseAgreement",
                  "betaAppReviewDetail",
                  "appInfos",
                  "appClips",
                  "appPricePoints",
                  "endUserLicenseAgreement",
                  "appPriceSchedule",
                  "appAvailabilityV2",
                  "inAppPurchases",
                  "subscriptionGroups",
                  "gameCenterEnabledVersions",
                  "perfPowerMetrics",
                  "appCustomProductPages",
                  "inAppPurchasesV2",
                  "promotedPurchases",
                  "appEvents",
                  "reviewSubmissions",
                  "subscriptionGracePeriod",
                  "customerReviews",
                  "customerReviewSummarizations",
                  "gameCenterDetail",
                  "appStoreVersionExperimentsV2",
                  "alternativeDistributionKey",
                  "analyticsReportRequests",
                  "marketplaceSearchDetail",
                  "buildUploads",
                  "backgroundAssets",
                  "betaFeedbackScreenshotSubmissions",
                  "betaFeedbackCrashSubmissions",
                  "searchKeywords",
                  "webhooks",
                  "androidToIosAppMappingDetails"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appStoreVersionLocalizations]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersionLocalizations",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "description",
                  "locale",
                  "keywords",
                  "marketingUrl",
                  "promotionalText",
                  "supportUrl",
                  "whatsNew",
                  "appStoreVersion",
                  "appScreenshotSets",
                  "appPreviewSets",
                  "searchKeywords"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[builds]",
            "in": "query",
            "description": "the fields to include for returned resources of type builds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "version",
                  "uploadedDate",
                  "expirationDate",
                  "expired",
                  "minOsVersion",
                  "lsMinimumSystemVersion",
                  "computedMinMacOsVersion",
                  "computedMinVisionOsVersion",
                  "iconAssetToken",
                  "processingState",
                  "buildAudienceType",
                  "usesNonExemptEncryption",
                  "preReleaseVersion",
                  "individualTesters",
                  "betaGroups",
                  "betaBuildLocalizations",
                  "appEncryptionDeclaration",
                  "betaAppReviewSubmission",
                  "app",
                  "buildBetaDetail",
                  "appStoreVersion",
                  "icons",
                  "buildBundles",
                  "buildUpload",
                  "perfPowerMetrics",
                  "diagnosticSignatures"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appStoreVersionPhasedReleases]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersionPhasedReleases",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "phasedReleaseState",
                  "startDate",
                  "totalPauseDuration",
                  "currentDayNumber"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[gameCenterAppVersions]",
            "in": "query",
            "description": "the fields to include for returned resources of type gameCenterAppVersions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "enabled",
                  "compatibilityVersions",
                  "appStoreVersion"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[routingAppCoverages]",
            "in": "query",
            "description": "the fields to include for returned resources of type routingAppCoverages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "fileSize",
                  "fileName",
                  "sourceFileChecksum",
                  "uploadOperations",
                  "assetDeliveryState",
                  "appStoreVersion"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appStoreReviewDetails]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreReviewDetails",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "contactFirstName",
                  "contactLastName",
                  "contactPhone",
                  "contactEmail",
                  "demoAccountName",
                  "demoAccountPassword",
                  "demoAccountRequired",
                  "notes",
                  "appStoreVersion",
                  "appStoreReviewAttachments"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appStoreVersionSubmissions]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersionSubmissions",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "appStoreVersion"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appClipDefaultExperiences]",
            "in": "query",
            "description": "the fields to include for returned resources of type appClipDefaultExperiences",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "action",
                  "appClip",
                  "releaseWithAppStoreVersion",
                  "appClipDefaultExperienceLocalizations",
                  "appClipAppStoreReviewDetail"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[appStoreVersionExperiments]",
            "in": "query",
            "description": "the fields to include for returned resources of type appStoreVersionExperiments",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "name",
                  "trafficProportion",
                  "state",
                  "reviewRequired",
                  "startDate",
                  "endDate",
                  "appStoreVersion",
                  "appStoreVersionExperimentTreatments",
                  "platform",
                  "app",
                  "latestControlVersion",
                  "controlVersions"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "fields[alternativeDistributionPackages]",
            "in": "query",
            "description": "the fields to include for returned resources of type alternativeDistributionPackages",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sourceFileChecksum",
                  "versions"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          },
          {
            "name": "include",
            "in": "query",
            "description": "comma-separated list of relationships to include",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "app",
                  "appStoreVersionLocalizations",
                  "build",
                  "appStoreVersionPhasedRelease",
                  "gameCenterAppVersion",
                  "routingAppCoverage",
                  "appStoreReviewDetail",
                  "appStoreVersionSubmission",
                  "appClipDefaultExperience",
                  "appStoreVersionExperiments",
                  "appStoreVersionExperimentsV2",
                  "alternativeDistributionPackage"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit[appStoreVersionLocalizations]",
            "in": "query",
            "description": "maximum number of related appStoreVersionLocalizations returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form"
          },
          {
            "name": "limit[appStoreVersionExperiments]",
            "in": "query",
            "description": "maximum number of related appStoreVersionExperiments returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form",
            "deprecated": true
          },
          {
            "name": "limit[appStoreVersionExperimentsV2]",
            "in": "query",
            "description": "maximum number of related appStoreVersionExperimentsV2 returned (when they are included)",
            "schema": {
              "type": "integer",
              "maximum": 50
            },
            "style": "form"
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of AppStoreVersions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppStoreVersionsResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{id}/builds": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "apps_builds_getToManyRelated",
        "parameters": [
          {
            "name": "fields[builds]",
            "in": "query",
            "description": "the fields to include for returned resources of type builds",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "version",
                  "uploadedDate",
                  "expirationDate",
                  "expired",
                  "minOsVersion",
                  "lsMinimumSystemVersion",
                  "computedMinMacOsVersion",
                  "computedMinVisionOsVersion",
                  "iconAssetToken",
                  "processingState",
                  "buildAudienceType",
                  "usesNonExemptEncryption",
                  "preReleaseVersion",
                  "individualTesters",
                  "betaGroups",
                  "betaBuildLocalizations",
                  "appEncryptionDeclaration",
                  "betaAppReviewSubmission",
                  "app",
                  "buildBetaDetail",
                  "appStoreVersion",
                  "icons",
                  "buildBundles",
                  "buildUpload",
                  "perfPowerMetrics",
                  "diagnosticSignatures"
                ]
              }
            },
            "style": "form",
            "explode": false
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum resources per page",
            "schema": {
              "type": "integer",
              "maximum": 200
            },
            "style": "form"
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of Builds with get",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildsWithoutIncludesResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{id}/customerReviews": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "the id of the requested resource",
          "schema": {
            "type": "string"
          },
          "style": "simple",
          "required": true
        }
      ],
      "get": {
        "tags": [
          "Apps"
        ],
        "operationId": "apps_customerReviews_getToManyRelated",
        "parameters": [
          {
            "name": "filter[territory]",
            "in": "query",
            "description": "filter by attribute 'territory'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ABW",
                  "AFG",
                  "AGO",
                  "AIA",
                  "ALB",
                  "AND",
                  "ANT",
                  "ARE",
                  "ARG",
                  "ARM",
                  "ASM",
                  "ATG",
                  "AUS",
                  "AUT",
                  "AZE",
                  "BDI",
                  "BEL",
                  "BEN",
                  "BES",
                  "BFA",
                  "BGD",
                  "BGR",
                  "BHR",
                  "BHS",
                  "BIH",
                  "BLR",
                  "BLZ",
                  "BMU",
                  "BOL",
                  "BRA",
                  "BRB",
                  "BRN",
                  "BTN",
                  "BWA",
                  "CAF",
                  "CAN",
                  "CHE",
                  "CHL",
                  "CHN",
                  "CIV",
                  "CMR",
                  "COD",
                  "COG",
                  "COK",
                  "COL",
                  "COM",
                  "CPV",
                  "CRI",
                  "CUB",
                  "CUW",
                  "CXR",
                  "CYM",
                  "CYP",
                  "CZE",
                  "DEU",
                  "DJI",
                  "DMA",
                  "DNK",
                  "DOM",
                  "DZA",
                  "ECU",
                  "EGY",
                  "ERI",
                  "ESP",
                  "EST",
[...]
