openapi: 3.0.0
info:
  title: Canvas LMS API
  version: 1.0.0
  description: Canvas LMS REST API
  x-cli-description: The first Canvas CLI with transparent pagination, cross-course
    analytics, and offline SQLite sync.
servers:
- url: https://canvas.txstate.edu/api
  description: Canvas Instance
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      x-auth-vars:
      - name: CANVAS_API_TOKEN
        kind: per_call
        required: true
        sensitive: true
        description: Canvas personal access token (Settings → Approved Integrations
          → New Access Token)
      - name: CANVAS_BASE_URL
        kind: per_call
        required: true
        sensitive: false
        description: Your Canvas instance URL (e.g. https://canvas.txstate.edu)
  schemas: {}
security:
- bearerAuth: []
paths:
  /v1/courses:
    get:
      operationId: list_your_courses
      summary: List your courses
      tags:
      - courses
      parameters:
      - name: enrollment_type
        in: query
        required: false
        schema:
          type: string
        description: 'When set, only return courses where the user is enrolled as
          this type. For

          example, set to "teacher" to return only courses where the user is

          enrolled as a Teacher.  This argument is ignored if enrollment_role is given.'
      - name: enrollment_role
        in: query
        required: false
        schema:
          type: string
        description: 'Deprecated

          When set, only return courses where the user is enrolled with the specified

          course-level role.  This can be a role created with the

          {api:RoleOverridesController#add_role Add Role API} or a base role type
          of

          ''StudentEnrollment'', ''TeacherEnrollment'', ''TaEnrollment'', ''ObserverEnrollment'',

          or ''DesignerEnrollment''.'
      - name: enrollment_role_id
        in: query
        required: false
        schema:
          type: integer
        description: 'When set, only return courses where the user is enrolled with
          the specified

          course-level role.  This can be a role created with the

          {api:RoleOverridesController#add_role Add Role API} or a built_in role type
          of

          ''StudentEnrollment'', ''TeacherEnrollment'', ''TaEnrollment'', ''ObserverEnrollment'',

          or ''DesignerEnrollment''.'
      - name: enrollment_state
        in: query
        required: false
        schema:
          type: string
        description: 'When set, only return courses where the user has an enrollment
          with the given state.

          This will respect section/course/term date overrides.'
      - name: exclude_blueprint_courses
        in: query
        required: false
        schema:
          type: boolean
        description: When set, only return courses that are not configured as blueprint
          courses.
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: "- \"needs_grading_count\": Optional information to include with\
          \ each Course.\n  When needs_grading_count is given, and the current user\
          \ has grading\n  rights, the total number of submissions needing grading\
          \ for all\n  assignments is returned.\n- \"syllabus_body\": Optional information\
          \ to include with each Course.\n  When syllabus_body is given the user-generated\
          \ html for the course\n  syllabus is returned.\n- \"public_description\"\
          : Optional information to include with each Course.\n  When public_description\
          \ is given the user-generated text for the course\n  public description\
          \ is returned.\n- \"total_scores\": Optional information to include with\
          \ each Course.\n  When total_scores is given, any student enrollments will\
          \ also\n  include the fields 'computed_current_score', 'computed_final_score',\n\
          \  'computed_current_grade', and 'computed_final_grade', as well as (if\n\
          \  the user has permission) 'unposted_current_score',\n  'unposted_final_score',\
          \ 'unposted_current_grade', and\n  'unposted_final_grade' (see Enrollment\
          \ documentation for more\n  information on these fields). This argument\
          \ is ignored if the course is\n  configured to hide final grades.\n- \"\
          current_grading_period_scores\": Optional information to include with\n\
          \  each Course. When current_grading_period_scores is given and total_scores\n\
          \  is given, any student enrollments will also include the fields\n  'has_grading_periods',\n\
          \  'totals_for_all_grading_periods_option', 'current_grading_period_title',\n\
          \  'current_grading_period_id', current_period_computed_current_score',\n\
          \  'current_period_computed_final_score',\n  'current_period_computed_current_grade',\
          \ and\n  'current_period_computed_final_grade', as well as (if the user\
          \ has permission)\n  'current_period_unposted_current_score',\n  'current_period_unposted_final_score',\n\
          \  'current_period_unposted_current_grade', and\n  'current_period_unposted_final_grade'\
          \ (see Enrollment documentation for\n  more information on these fields).\
          \ In addition, when this argument is\n  passed, the course will have a 'has_grading_periods'\
          \ attribute\n  on it. This argument is ignored if the total_scores argument\
          \ is not\n  included. If the course is configured to hide final grades,\
          \ the\n  following fields are not returned:\n  'totals_for_all_grading_periods_option',\n\
          \  'current_period_computed_current_score',\n  'current_period_computed_final_score',\n\
          \  'current_period_computed_current_grade',\n  'current_period_computed_final_grade',\n\
          \  'current_period_unposted_current_score',\n  'current_period_unposted_final_score',\n\
          \  'current_period_unposted_current_grade', and\n  'current_period_unposted_final_grade'\n\
          - \"grading_periods\": Optional information to include with each Course.\
          \ When\n  grading_periods is given, a list of the grading periods associated\
          \ with\n  each course is returned.\n- \"term\": Optional information to\
          \ include with each Course. When\n  term is given, the information for the\
          \ enrollment term for each course\n  is returned.\n- \"account\": Optional\
          \ information to include with each Course. When\n  account is given, the\
          \ account json for each course is returned.\n- \"course_progress\": Optional\
          \ information to include with each Course.\n  When course_progress is given,\
          \ each course will include a\n  'course_progress' object with the fields:\
          \ 'requirement_count', an integer\n  specifying the total number of requirements\
          \ in the course,\n  'requirement_completed_count', an integer specifying\
          \ the total number of\n  requirements in this course that have been completed,\
          \ and\n  'next_requirement_url', a string url to the next requirement item,\
          \ and\n  'completed_at', the date the course was completed (null if incomplete).\n\
          \  'next_requirement_url' will be null if all requirements have been\n \
          \ completed or the current module does not require sequential progress.\n\
          \  \"course_progress\" will return an error message if the course is not\n\
          \  module based or the user is not enrolled as a student in the course.\n\
          - \"sections\": Section enrollment information to include with each Course.\n\
          \  Returns an array of hashes containing the section ID (id), section name\n\
          \  (name), start and end dates (start_at, end_at), as well as the enrollment\n\
          \  type (enrollment_role, e.g. 'StudentEnrollment').\n- \"storage_quota_used_mb\"\
          : The amount of storage space used by the files in this course\n- \"total_students\"\
          : Optional information to include with each Course.\n  Returns an integer\
          \ for the total amount of active and invited students.\n- \"passback_status\"\
          : Include the grade passback_status\n- \"favorites\": Optional information\
          \ to include with each Course.\n  Indicates if the user has marked the course\
          \ as a favorite course.\n- \"teachers\": Teacher information to include\
          \ with each Course.\n  Returns an array of hashes containing the {api:Users:UserDisplay\
          \ UserDisplay} information\n  for each teacher in the course.\n- \"observed_users\"\
          : Optional information to include with each Course.\n  Will include data\
          \ for observed users if the current user has an\n  observer enrollment.\n\
          - \"tabs\": Optional information to include with each Course.\n  Will include\
          \ the list of tabs configured for each course.  See the\n  {api:TabsController#index\
          \ List available tabs API} for more information.\n- \"course_image\": Optional\
          \ information to include with each Course. Returns course\n  image url if\
          \ a course image has been set.\n- \"banner_image\": Optional information\
          \ to include with each Course. Returns course\n  banner image url if the\
          \ course is a Canvas for Elementary subject and a banner\n  image has been\
          \ set.\n- \"concluded\": Optional information to include with each Course.\
          \ Indicates whether\n  the course has been concluded, taking course and\
          \ term dates into account.\n- \"post_manually\": Optional information to\
          \ include with each Course. Returns true if\n  the course post policy is\
          \ set to Manually post grades. Returns false if the the course\n  post policy\
          \ is set to Automatically post grades."
      - name: state
        in: query
        required: false
        schema:
          type: array
        description: 'If set, only return courses that are in the given state(s).

          By default, "available" is returned for students and observers, and

          anything except "deleted", for all other enrollment types'
      responses:
        '200':
          description: OK
  /v1/users/{user_id}/courses:
    get:
      operationId: list_courses_for_user
      summary: List courses for a user
      tags:
      - courses
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: "- \"needs_grading_count\": Optional information to include with\
          \ each Course.\n  When needs_grading_count is given, and the current user\
          \ has grading\n  rights, the total number of submissions needing grading\
          \ for all\n  assignments is returned.\n- \"syllabus_body\": Optional information\
          \ to include with each Course.\n  When syllabus_body is given the user-generated\
          \ html for the course\n  syllabus is returned.\n- \"public_description\"\
          : Optional information to include with each Course.\n  When public_description\
          \ is given the user-generated text for the course\n  public description\
          \ is returned.\n- \"total_scores\": Optional information to include with\
          \ each Course.\n  When total_scores is given, any student enrollments will\
          \ also\n  include the fields 'computed_current_score', 'computed_final_score',\n\
          \  'computed_current_grade', and 'computed_final_grade' (see Enrollment\n\
          \  documentation for more information on these fields). This argument\n\
          \  is ignored if the course is configured to hide final grades.\n- \"current_grading_period_scores\"\
          : Optional information to include with\n  each Course. When current_grading_period_scores\
          \ is given and total_scores\n  is given, any student enrollments will also\
          \ include the fields\n  'has_grading_periods',\n  'totals_for_all_grading_periods_option',\
          \ 'current_grading_period_title',\n  'current_grading_period_id', current_period_computed_current_score',\n\
          \  'current_period_computed_final_score',\n  'current_period_computed_current_grade',\
          \ and\n  'current_period_computed_final_grade', as well as (if the user\
          \ has permission)\n  'current_period_unposted_current_score',\n  'current_period_unposted_final_score',\n\
          \  'current_period_unposted_current_grade', and\n  'current_period_unposted_final_grade'\
          \ (see Enrollment documentation for\n  more information on these fields).\
          \ In addition, when this argument is\n  passed, the course will have a 'has_grading_periods'\
          \ attribute\n  on it. This argument is ignored if the course is configured\
          \ to hide final\n  grades or if the total_scores argument is not included.\n\
          - \"grading_periods\": Optional information to include with each Course.\
          \ When\n  grading_periods is given, a list of the grading periods associated\
          \ with\n  each course is returned.\n- \"term\": Optional information to\
          \ include with each Course. When\n  term is given, the information for the\
          \ enrollment term for each course\n  is returned.\n- \"account\": Optional\
          \ information to include with each Course. When\n  account is given, the\
          \ account json for each course is returned.\n- \"course_progress\": Optional\
          \ information to include with each Course.\n  When course_progress is given,\
          \ each course will include a\n  'course_progress' object with the fields:\
          \ 'requirement_count', an integer\n  specifying the total number of requirements\
          \ in the course,\n  'requirement_completed_count', an integer specifying\
          \ the total number of\n  requirements in this course that have been completed,\
          \ and\n  'next_requirement_url', a string url to the next requirement item,\
          \ and\n  'completed_at', the date the course was completed (null if incomplete).\n\
          \  'next_requirement_url' will be null if all requirements have been\n \
          \ completed or the current module does not require sequential progress.\n\
          \  \"course_progress\" will return an error message if the course is not\n\
          \  module based or the user is not enrolled as a student in the course.\n\
          - \"sections\": Section enrollment information to include with each Course.\n\
          \  Returns an array of hashes containing the section ID (id), section name\n\
          \  (name), start and end dates (start_at, end_at), as well as the enrollment\n\
          \  type (enrollment_role, e.g. 'StudentEnrollment').\n- \"storage_quota_used_mb\"\
          : The amount of storage space used by the files in this course\n- \"total_students\"\
          : Optional information to include with each Course.\n  Returns an integer\
          \ for the total amount of active and invited students.\n- \"passback_status\"\
          : Include the grade passback_status\n- \"favorites\": Optional information\
          \ to include with each Course.\n  Indicates if the user has marked the course\
          \ as a favorite course.\n- \"teachers\": Teacher information to include\
          \ with each Course.\n  Returns an array of hashes containing the {api:Users:UserDisplay\
          \ UserDisplay} information\n  for each teacher in the course.\n- \"observed_users\"\
          : Optional information to include with each Course.\n  Will include data\
          \ for observed users if the current user has an\n  observer enrollment.\n\
          - \"tabs\": Optional information to include with each Course.\n  Will include\
          \ the list of tabs configured for each course.  See the\n  {api:TabsController#index\
          \ List available tabs API} for more information.\n- \"course_image\": Optional\
          \ information to include with each Course. Returns course\n  image url if\
          \ a course image has been set.\n- \"banner_image\": Optional information\
          \ to include with each Course. Returns course\n  banner image url if the\
          \ course is a Canvas for Elementary subject and a banner\n  image has been\
          \ set.\n- \"concluded\": Optional information to include with each Course.\
          \ Indicates whether\n  the course has been concluded, taking course and\
          \ term dates into account.\n- \"post_manually\": Optional information to\
          \ include with each Course. Returns true if\n  the course post policy is\
          \ set to \"Manually\". Returns false if the the course post\n  policy is\
          \ set to \"Automatically\"."
      - name: state
        in: query
        required: false
        schema:
          type: array
        description: 'If set, only return courses that are in the given state(s).

          By default, "available" is returned for students and observers, and

          anything except "deleted", for all other enrollment types'
      - name: enrollment_state
        in: query
        required: false
        schema:
          type: string
        description: 'When set, only return courses where the user has an enrollment
          with the given state.

          This will respect section/course/term date overrides.'
      - name: homeroom
        in: query
        required: false
        schema:
          type: boolean
        description: If set, only return homeroom courses.
      - name: account_id
        in: query
        required: false
        schema:
          type: string
        description: If set, only include courses associated with this account
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/users/{user_id}/progress:
    get:
      operationId: get_user_progress
      summary: Get user progress
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/accounts/{account_id}/courses:
    post:
      operationId: create_new_course
      summary: Create a new course
      tags:
      - courses
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                course[name]:
                  type: string
                  description: 'The name of the course. If omitted, the course will
                    be named "Unnamed

                    Course."'
                course[course_code]:
                  type: string
                  description: The course code for the course.
                course[start_at]:
                  type: string
                  description: 'Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z

                    This value is ignored unless ''restrict_enrollments_to_course_dates''
                    is set to true.'
                course[end_at]:
                  type: string
                  description: 'Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z

                    This value is ignored unless ''restrict_enrollments_to_course_dates''
                    is set to true.'
                course[license]:
                  type: string
                  description: 'The name of the licensing. Should be one of the following
                    abbreviations

                    (a descriptive name is included in parenthesis for reference):

                    - ''private'' (Private Copyrighted)

                    - ''cc_by_nc_nd'' (CC Attribution Non-Commercial No Derivatives)

                    - ''cc_by_nc_sa'' (CC Attribution Non-Commercial Share Alike)

                    - ''cc_by_nc'' (CC Attribution Non-Commercial)

                    - ''cc_by_nd'' (CC Attribution No Derivatives)

                    - ''cc_by_sa'' (CC Attribution Share Alike)

                    - ''cc_by'' (CC Attribution)

                    - ''public_domain'' (Public Domain).'
                course[is_public]:
                  type: boolean
                  description: Set to true if course is public to both authenticated
                    and unauthenticated users.
                course[is_public_to_auth_users]:
                  type: boolean
                  description: Set to true if course is public only to authenticated
                    users.
                course[public_syllabus]:
                  type: boolean
                  description: Set to true to make the course syllabus public.
                course[public_syllabus_to_auth]:
                  type: boolean
                  description: Set to true to make the course syllabus public for
                    authenticated users.
                course[public_description]:
                  type: string
                  description: A publicly visible description of the course.
                course[allow_student_wiki_edits]:
                  type: boolean
                  description: If true, students will be able to modify the course
                    wiki.
                course[allow_wiki_comments]:
                  type: boolean
                  description: If true, course members will be able to comment on
                    wiki pages.
                course[allow_student_forum_attachments]:
                  type: boolean
                  description: If true, students can attach files to forum posts.
                course[open_enrollment]:
                  type: boolean
                  description: Set to true if the course is open enrollment.
                course[self_enrollment]:
                  type: boolean
                  description: Set to true if the course is self enrollment.
                course[restrict_enrollments_to_course_dates]:
                  type: boolean
                  description: 'Set to true to restrict user enrollments to the start
                    and end dates of the

                    course. This value must be set to true

                    in order to specify a course start date and/or end date.'
                course[term_id]:
                  type: string
                  description: The unique ID of the term to create to course in.
                course[sis_course_id]:
                  type: string
                  description: The unique SIS identifier.
                course[integration_id]:
                  type: string
                  description: The unique Integration identifier.
                course[hide_final_grades]:
                  type: boolean
                  description: 'If this option is set to true, the totals in student
                    grades summary will

                    be hidden.'
                course[apply_assignment_group_weights]:
                  type: boolean
                  description: Set to true to weight final grade based on assignment
                    groups percentages.
                course[time_zone]:
                  type: string
                  description: 'The time zone for the course. Allowed time zones are

                    {http://www.iana.org/time-zones IANA time zones} or friendlier

                    {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html
                    Ruby on Rails time zones}.'
                offer:
                  type: boolean
                  description: 'If this option is set to true, the course will be
                    available to students

                    immediately.'
                enroll_me:
                  type: boolean
                  description: Set to true to enroll the current user as the teacher.
                skip_course_template:
                  type: boolean
                  description: 'If this option is set to true, the template of the
                    account will not be applied to this course

                    It means copy_from_course_template will not be executed. This
                    option is thought for a course copy.'
                course[default_view]:
                  type: string
                  description: 'The type of page that users will see when they first
                    visit the course

                    * ''feed'' Recent Activity Dashboard

                    * ''modules'' Course Modules/Sections Page

                    * ''assignments'' Course Assignments List

                    * ''syllabus'' Course Syllabus Page

                    other types may be added in the future'
                course[syllabus_body]:
                  type: string
                  description: The syllabus body for the course
                course[grading_standard_id]:
                  type: integer
                  description: The grading standard id to set for the course.  If
                    no value is provided for this argument the current grading_standard
                    will be un-set from this course.
                course[grade_passback_setting]:
                  type: string
                  description: Optional. The grade_passback_setting for the course.
                    Only 'nightly_sync', 'disabled', and '' are allowed
                course[course_format]:
                  type: string
                  description: Optional. Specifies the format of the course. (Should
                    be 'on_campus', 'online', or 'blended')
                course[post_manually]:
                  type: boolean
                  description: 'Default is false.

                    When true, all grades in the course must be posted manually, and
                    will not be automatically posted.

                    When false, all grades in the course will be automatically posted.'
                enable_sis_reactivation:
                  type: boolean
                  description: When true, will first try to re-activate a deleted
                    course with matching sis_course_id if possible.
    put:
      operationId: update_courses
      summary: Update courses
      tags:
      - courses
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                course_ids:
                  type: array
                  description: List of ids of courses to update. At most 500 courses
                    may be updated in one call.
                event:
                  type: string
                  description: "The action to take on each course.  Must be one of\
                    \ 'offer', 'conclude', 'delete', or 'undelete'.\n* 'offer' makes\
                    \ a course visible to students. This action is also called \"\
                    publish\" on the web site.\n* 'conclude' prevents future enrollments\
                    \ and makes a course read-only for all participants. The course\
                    \ still appears\n  in prior-enrollment lists.\n* 'delete' completely\
                    \ removes the course from the web site (including course menus\
                    \ and prior-enrollment lists).\n  All enrollments are deleted.\
                    \ Course content may be physically deleted at a future date.\n\
                    * 'undelete' attempts to recover a course that has been deleted.\
                    \ (Recovery is not guaranteed; please conclude\n  rather than\
                    \ delete a course if there is any possibility the course will\
                    \ be used again.) The recovered course\n  will be unpublished.\
                    \ Deleted enrollments will not be recovered."
  /v1/courses/{course_id}/files:
    get:
      operationId: list_files_courses
      summary: List files
      tags:
      - files
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: content_types
        in: query
        required: false
        schema:
          type: array
        description: 'Filter results by content-type. You can specify type/subtype
          pairs (e.g.,

          ''image/jpeg''), or simply types (e.g., ''image'', which will match

          ''image/gif'', ''image/jpeg'', etc.).'
      - name: exclude_content_types
        in: query
        required: false
        schema:
          type: array
        description: 'Exclude given content-types from your results. You can specify
          type/subtype pairs (e.g.,

          ''image/jpeg''), or simply types (e.g., ''image'', which will match

          ''image/gif'', ''image/jpeg'', etc.).'
      - name: search_term
        in: query
        required: false
        schema:
          type: string
        description: The partial name of the files to match and return.
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: 'Array of additional information to include.


          "user":: the user who uploaded the file or last edited its content

          "usage_rights":: copyright and license information for the file (see UsageRights)'
      - name: only
        in: query
        required: false
        schema:
          type: array
        description: 'Array of information to restrict to. Overrides include[]


          "names":: only returns file name information'
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: Sort results by this field. Defaults to 'name'. Note that `sort=user`
          implies `include[]=user`.
      - name: order
        in: query
        required: false
        schema:
          type: string
        description: The sorting order. Defaults to 'asc'.
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/students:
    get:
      operationId: list_students
      summary: List students
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/users:
    get:
      operationId: list_users_in_course_users
      summary: List users in course
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: search_term
        in: query
        required: false
        schema:
          type: string
        description: The partial name or full ID of the users to match and return
          in the results list.
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: When set, sort the results of the search based on the given field.
      - name: enrollment_type
        in: query
        required: false
        schema:
          type: array
        description: 'When set, only return users where the user is enrolled as this
          type.

          "student_view" implies include[]=test_student.

          This argument is ignored if enrollment_role is given.'
      - name: enrollment_role
        in: query
        required: false
        schema:
          type: string
        description: 'Deprecated

          When set, only return users enrolled with the specified course-level role.  This
          can be

          a role created with the {api:RoleOverridesController#add_role Add Role API}
          or a

          base role type of ''StudentEnrollment'', ''TeacherEnrollment'', ''TaEnrollment'',

          ''ObserverEnrollment'', or ''DesignerEnrollment''.'
      - name: enrollment_role_id
        in: query
        required: false
        schema:
          type: integer
        description: 'When set, only return courses where the user is enrolled with
          the specified

          course-level role.  This can be a role created with the

          {api:RoleOverridesController#add_role Add Role API} or a built_in role id
          with type

          ''StudentEnrollment'', ''TeacherEnrollment'', ''TaEnrollment'', ''ObserverEnrollment'',

          or ''DesignerEnrollment''.'
      - name: section_ids
        in: query
        required: false
        schema:
          type: array
        description: When set, only return users who are enrolled in the given section(s).
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: '- "enrollments":

          Optionally include with each Course the user''s current and invited

          enrollments. If the user is enrolled as a student, and the account has

          permission to manage or view all grades, each enrollment will include a

          ''grades'' key with ''current_score'', ''final_score'', ''current_grade''
          and

          ''final_grade'' values.

          - "locked": Optionally include whether an enrollment is locked.

          - "avatar_url": Optionally include avatar_url.

          - "bio": Optionally include each user''s bio.

          - "test_student": Optionally include the course''s Test Student,

          if present. Default is to not include Test Student.

          - "custom_links": Optionally include plugin-supplied custom links for each
          student,

          such as analytics information

          - "current_grading_period_scores": if enrollments is included as

          well as this directive, the scores returned in the enrollment

          will be for the current grading period if there is one. A

          ''grading_period_id'' value will also be included with the

          scores. if grading_period_id is nil there is no current grading

          period and the score is a total score.

          - "uuid": Optionally include the users uuid'
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: 'If this parameter is given and it corresponds to a user in the
          course,

          the +page+ parameter will be ignored and the page containing the specified
          user

          will be returned instead.'
      - name: user_ids
        in: query
        required: false
        schema:
          type: array
        description: 'If included, the course users set will only include users with
          IDs

          specified by the param. Note: this will not work in conjunction

          with the "user_id" argument but multiple user_ids can be included.'
      - name: enrollment_state
        in: query
        required: false
        schema:
          type: array
        description: 'When set, only return users where the enrollment workflow state
          is of one of the given types.

          "active" and "invited" enrollments are returned by default.'
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/search_users:
    get:
      operationId: list_users_in_course_search_users
      summary: List users in course
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: search_term
        in: query
        required: false
        schema:
          type: string
        description: The partial name or full ID of the users to match and return
          in the results list.
      - name: sort
        in: query
        required: false
        schema:
          type: string
        description: When set, sort the results of the search based on the given field.
      - name: enrollment_type
        in: query
        required: false
        schema:
          type: array
        description: 'When set, only return users where the user is enrolled as this
          type.

          "student_view" implies include[]=test_student.

          This argument is ignored if enrollment_role is given.'
      - name: enrollment_role
        in: query
        required: false
        schema:
          type: string
        description: 'Deprecated

          When set, only return users enrolled with the specified course-level role.  This
          can be

          a role created with the {api:RoleOverridesController#add_role Add Role API}
          or a

          base role type of ''StudentEnrollment'', ''TeacherEnrollment'', ''TaEnrollment'',

          ''ObserverEnrollment'', or ''DesignerEnrollment''.'
      - name: enrollment_role_id
        in: query
        required: false
        schema:
          type: integer
        description: 'When set, only return courses where the user is enrolled with
          the specified

          course-level role.  This can be a role created with the

          {api:RoleOverridesController#add_role Add Role API} or a built_in role id
          with type

          ''StudentEnrollment'', ''TeacherEnrollment'', ''TaEnrollment'', ''ObserverEnrollment'',

          or ''DesignerEnrollment''.'
      - name: section_ids
        in: query
        required: false
        schema:
          type: array
        description: When set, only return users who are enrolled in the given section(s).
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: '- "enrollments":

          Optionally include with each Course the user''s current and invited

          enrollments. If the user is enrolled as a student, and the account has

          permission to manage or view all grades, each enrollment will include a

          ''grades'' key with ''current_score'', ''final_score'', ''current_grade''
          and

          ''final_grade'' values.

          - "locked": Optionally include whether an enrollment is locked.

          - "avatar_url": Optionally include avatar_url.

          - "bio": Optionally include each user''s bio.

          - "test_student": Optionally include the course''s Test Student,

          if present. Default is to not include Test Student.

          - "custom_links": Optionally include plugin-supplied custom links for each
          student,

          such as analytics information

          - "current_grading_period_scores": if enrollments is included as

          well as this directive, the scores returned in the enrollment

          will be for the current grading period if there is one. A

          ''grading_period_id'' value will also be included with the

          scores. if grading_period_id is nil there is no current grading

          period and the score is a total score.

          - "uuid": Optionally include the users uuid'
      - name: user_id
        in: query
        required: false
        schema:
          type: string
        description: 'If this parameter is given and it corresponds to a user in the
          course,

          the +page+ parameter will be ignored and the page containing the specified
          user

          will be returned instead.'
      - name: user_ids
        in: query
        required: false
        schema:
          type: array
        description: 'If included, the course users set will only include users with
          IDs

          specified by the param. Note: this will not work in conjunction

          with the "user_id" argument but multiple user_ids can be included.'
      - name: enrollment_state
        in: query
        required: false
        schema:
          type: array
        description: 'When set, only return users where the enrollment workflow state
          is of one of the given types.

          "active" and "invited" enrollments are returned by default.'
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/recent_students:
    get:
      operationId: list_recently_logged_in_students
      summary: List recently logged in students
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/users/{id}:
    get:
      operationId: get_single_user
      summary: Get single user
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/content_share_users:
    get:
      operationId: search_for_content_share_users
      summary: Search for content share users
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: search_term
        in: query
        required: true
        schema:
          type: string
        description: Term used to find users.  Will search available share users with
          the search term in their name.
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/preview_html:
    post:
      operationId: preview_processed_html
      summary: Preview processed html
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                  description: The html content to process
  /v1/courses/{course_id}/activity_stream:
    get:
      operationId: course_activity_stream
      summary: Course activity stream
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/activity_stream/summary:
    get:
      operationId: course_activity_stream_summary
      summary: Course activity stream summary
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/todo:
    get:
      operationId: course_todo_items
      summary: Course TODO items
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{id}:
    delete:
      operationId: delete_conclude_course
      summary: Delete/Conclude a course
      tags:
      - courses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: event
        in: query
        required: true
        schema:
          type: string
        description: The action to take on the course.
      responses:
        '200':
          description: OK
    get:
      operationId: get_single_course_courses
      summary: Get a single course
      tags:
      - courses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: "- \"all_courses\": Also search recently deleted courses.\n-\
          \ \"permissions\": Include permissions the current user has\n  for the course.\n\
          - \"observed_users\": Include observed users in the enrollments\n- \"course_image\"\
          : Include course image url if a course image has been set\n- \"banner_image\"\
          : Include course banner image url if the course is a Canvas for\n  Elementary\
          \ subject and a banner image has been set\n- \"concluded\": Optional information\
          \ to include with Course. Indicates whether\n  the course has been concluded,\
          \ taking course and term dates into account.\n- \"lti_context_id\": Include\
          \ course LTI tool id.\n- \"post_manually\": Include course post policy.\
          \ If the post policy is manually post grades,\n  the value will be true.\
          \ If the post policy is automatically post grades, the value will be false."
      - name: teacher_limit
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximum number of teacher enrollments to show.

          If the course contains more teachers than this, instead of giving the teacher

          enrollments, the count of teachers will be given under a _teacher_count_
          key.'
      responses:
        '200':
          description: OK
    put:
      operationId: update_course
      summary: Update a course
      tags:
      - courses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                course[account_id]:
                  type: integer
                  description: The unique ID of the account to move the course to.
                course[name]:
                  type: string
                  description: 'The name of the course. If omitted, the course will
                    be named "Unnamed

                    Course."'
                course[course_code]:
                  type: string
                  description: The course code for the course.
                course[start_at]:
                  type: string
                  description: 'Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z

                    This value is ignored unless ''restrict_enrollments_to_course_dates''
                    is set to true,

                    or the course is already published.'
                course[end_at]:
                  type: string
                  description: 'Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z

                    This value is ignored unless ''restrict_enrollments_to_course_dates''
                    is set to true.'
                course[license]:
                  type: string
                  description: 'The name of the licensing. Should be one of the following
                    abbreviations

                    (a descriptive name is included in parenthesis for reference):

                    - ''private'' (Private Copyrighted)

                    - ''cc_by_nc_nd'' (CC Attribution Non-Commercial No Derivatives)

                    - ''cc_by_nc_sa'' (CC Attribution Non-Commercial Share Alike)

                    - ''cc_by_nc'' (CC Attribution Non-Commercial)

                    - ''cc_by_nd'' (CC Attribution No Derivatives)

                    - ''cc_by_sa'' (CC Attribution Share Alike)

                    - ''cc_by'' (CC Attribution)

                    - ''public_domain'' (Public Domain).'
                course[is_public]:
                  type: boolean
                  description: Set to true if course is public to both authenticated
                    and unauthenticated users.
                course[is_public_to_auth_users]:
                  type: boolean
                  description: Set to true if course is public only to authenticated
                    users.
                course[public_syllabus]:
                  type: boolean
                  description: Set to true to make the course syllabus public.
                course[public_syllabus_to_auth]:
                  type: boolean
                  description: Set to true to make the course syllabus to public for
                    authenticated users.
                course[public_description]:
                  type: string
                  description: A publicly visible description of the course.
                course[allow_student_wiki_edits]:
                  type: boolean
                  description: If true, students will be able to modify the course
                    wiki.
                course[allow_wiki_comments]:
                  type: boolean
                  description: If true, course members will be able to comment on
                    wiki pages.
                course[allow_student_forum_attachments]:
                  type: boolean
                  description: If true, students can attach files to forum posts.
                course[open_enrollment]:
                  type: boolean
                  description: Set to true if the course is open enrollment.
                course[self_enrollment]:
                  type: boolean
                  description: Set to true if the course is self enrollment.
                course[restrict_enrollments_to_course_dates]:
                  type: boolean
                  description: 'Set to true to restrict user enrollments to the start
                    and end dates of the

                    course. Setting this value to false will

                    remove the course end date (if it exists), as well as the course
                    start date

                    (if the course is unpublished).'
                course[term_id]:
                  type: integer
                  description: The unique ID of the term to create to course in.
                course[sis_course_id]:
                  type: string
                  description: The unique SIS identifier.
                course[integration_id]:
                  type: string
                  description: The unique Integration identifier.
                course[hide_final_grades]:
                  type: boolean
                  description: 'If this option is set to true, the totals in student
                    grades summary will

                    be hidden.'
                course[time_zone]:
                  type: string
                  description: 'The time zone for the course. Allowed time zones are

                    {http://www.iana.org/time-zones IANA time zones} or friendlier

                    {http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html
                    Ruby on Rails time zones}.'
                course[apply_assignment_group_weights]:
                  type: boolean
                  description: Set to true to weight final grade based on assignment
                    groups percentages.
                course[storage_quota_mb]:
                  type: integer
                  description: 'Set the storage quota for the course, in megabytes.
                    The caller must have

                    the "Manage storage quotas" account permission.'
                offer:
                  type: boolean
                  description: 'If this option is set to true, the course will be
                    available to students

                    immediately.'
                course[event]:
                  type: string
                  description: "The action to take on each course.\n* 'claim' makes\
                    \ a course no longer visible to students. This action is also\
                    \ called \"unpublish\" on the web site.\n  A course cannot be\
                    \ unpublished if students have received graded submissions.\n\
                    * 'offer' makes a course visible to students. This action is also\
                    \ called \"publish\" on the web site.\n* 'conclude' prevents future\
                    \ enrollments and makes a course read-only for all participants.\
                    \ The course still appears\n  in prior-enrollment lists.\n* 'delete'\
                    \ completely removes the course from the web site (including course\
                    \ menus and prior-enrollment lists).\n  All enrollments are deleted.\
                    \ Course content may be physically deleted at a future date.\n\
                    * 'undelete' attempts to recover a course that has been deleted.\
                    \ This action requires account administrative rights.\n  (Recovery\
                    \ is not guaranteed; please conclude rather than delete a course\
                    \ if there is any possibility the course\n  will be used again.)\
                    \ The recovered course will be unpublished. Deleted enrollments\
                    \ will not be recovered."
                course[default_view]:
                  type: string
                  description: 'The type of page that users will see when they first
                    visit the course

                    * ''feed'' Recent Activity Dashboard

                    * ''wiki'' Wiki Front Page

                    * ''modules'' Course Modules/Sections Page

                    * ''assignments'' Course Assignments List

                    * ''syllabus'' Course Syllabus Page

                    other types may be added in the future'
                course[syllabus_body]:
                  type: string
                  description: The syllabus body for the course
                course[syllabus_course_summary]:
                  type: boolean
                  description: Optional. Indicates whether the Course Summary (consisting
                    of the course's assignments and calendar events) is displayed
                    on the syllabus page. Defaults to +true+.
                course[grading_standard_id]:
                  type: integer
                  description: The grading standard id to set for the course.  If
                    no value is provided for this argument the current grading_standard
                    will be un-set from this course.
                course[grade_passback_setting]:
                  type: string
                  description: Optional. The grade_passback_setting for the course.
                    Only 'nightly_sync' and '' are allowed
                course[course_format]:
                  type: string
                  description: Optional. Specifies the format of the course. (Should
                    be either 'on_campus' or 'online')
                course[image_id]:
                  type: integer
                  description: 'This is a file ID corresponding to an image file in
                    the course that will

                    be used as the course image.

                    This will clear the course''s image_url setting if set.  If you
                    attempt

                    to provide image_url and image_id in a request it will fail.'
                course[image_url]:
                  type: string
                  description: 'This is a URL to an image to be used as the course
                    image.

                    This will clear the course''s image_id setting if set.  If you
                    attempt

                    to provide image_url and image_id in a request it will fail.'
                course[remove_image]:
                  type: boolean
                  description: 'If this option is set to true, the course image url
                    and course image

                    ID are both set to nil'
                course[remove_banner_image]:
                  type: boolean
                  description: 'If this option is set to true, the course banner image
                    url and course

                    banner image ID are both set to nil'
                course[blueprint]:
                  type: boolean
                  description: Sets the course as a blueprint course.
                course[blueprint_restrictions]:
                  type: string
                  description: 'Sets a default set to apply to blueprint course objects
                    when restricted,

                    unless _use_blueprint_restrictions_by_object_type_ is enabled.

                    See the {api:Blueprint_Courses:BlueprintRestriction Blueprint
                    Restriction} documentation'
                course[use_blueprint_restrictions_by_object_type]:
                  type: boolean
                  description: 'When enabled, the _blueprint_restrictions_ parameter
                    will be ignored in favor of

                    the _blueprint_restrictions_by_object_type_ parameter'
                course[blueprint_restrictions_by_object_type]:
                  type: string
                  description: "Allows setting multiple {api:Blueprint_Courses:BlueprintRestriction\
                    \ Blueprint Restriction}\nto apply to blueprint course objects\
                    \ of the matching type when restricted.\nThe possible object types\
                    \ are \"assignment\", \"attachment\", \"discussion_topic\", \"\
                    quiz\" and \"wiki_page\".\nExample usage:\n  course[blueprint_restrictions_by_object_type][assignment][content]=1"
                course[homeroom_course]:
                  type: boolean
                  description: 'Sets the course as a homeroom course. The setting
                    takes effect only when the course is associated

                    with a Canvas for Elementary-enabled account.'
                course[sync_enrollments_from_homeroom]:
                  type: string
                  description: 'Syncs enrollments from the homeroom that is set in
                    homeroom_course_id. The setting only takes effect when the

                    course is associated with a Canvas for Elementary-enabled account
                    and sync_enrollments_from_homeroom is enabled.'
                course[homeroom_course_id]:
                  type: string
                  description: 'Sets the Homeroom Course id to be used with sync_enrollments_from_homeroom.
                    The setting only takes effect when the

                    course is associated with a Canvas for Elementary-enabled account
                    and sync_enrollments_from_homeroom is enabled.'
                course[template]:
                  type: boolean
                  description: Enable or disable the course as a template that can
                    be selected by an account
                course[course_color]:
                  type: string
                  description: 'Sets a color in hex code format to be associated with
                    the course. The setting takes effect only when the course

                    is associated with a Canvas for Elementary-enabled account.'
                course[friendly_name]:
                  type: string
                  description: 'Set a friendly name for the course. If this is provided
                    and the course is associated with a Canvas for

                    Elementary account, it will be shown instead of the course name.
                    This setting takes priority over

                    course nicknames defined by individual users.'
                course[enable_course_paces]:
                  type: boolean
                  description: 'Enable or disable Course Pacing for the course. This
                    setting only has an effect when the Course Pacing feature flag
                    is

                    enabled for the sub-account. Otherwise, Course Pacing are always
                    disabled.'
                course[conditional_release]:
                  type: boolean
                  description: Enable or disable individual learning paths for students
                    based on assessment
                course[post_manually]:
                  type: boolean
                  description: 'When true, all grades in the course will be posted
                    manually.

                    When false, all grades in the course will be automatically posted.

                    Use with caution as this setting will override any assignment
                    level post policy.'
                override_sis_stickiness:
                  type: boolean
                  description: 'Default is true. If false, any fields containing “sticky”
                    changes will not be updated.

                    See SIS CSV Format documentation for information on which fields
                    can have SIS stickiness'
  /v1/courses/{course_id}/settings:
    get:
      operationId: get_course_settings
      summary: Get course settings
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
    put:
      operationId: update_course_settings
      summary: Update course settings
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                allow_final_grade_override:
                  type: boolean
                  description: Let student final grades for a grading period or the
                    total grades for the course be overridden
                allow_student_discussion_topics:
                  type: boolean
                  description: Let students create discussion topics
                allow_student_forum_attachments:
                  type: boolean
                  description: Let students attach files to discussions
                allow_student_discussion_editing:
                  type: boolean
                  description: Let students edit or delete their own discussion replies
                allow_student_organized_groups:
                  type: boolean
                  description: Let students organize their own groups
                allow_student_discussion_reporting:
                  type: boolean
                  description: Let students report offensive discussion content
                allow_student_anonymous_discussion_topics:
                  type: boolean
                  description: Let students create anonymous discussion topics
                filter_speed_grader_by_student_group:
                  type: boolean
                  description: Filter SpeedGrader to only the selected student group
                hide_final_grades:
                  type: boolean
                  description: Hide totals in student grades summary
                hide_distribution_graphs:
                  type: boolean
                  description: Hide grade distribution graphs from students
                hide_sections_on_course_users_page:
                  type: boolean
                  description: Disallow students from viewing students in sections
                    they do not belong to
                lock_all_announcements:
                  type: boolean
                  description: Disable comments on announcements
                usage_rights_required:
                  type: boolean
                  description: Copyright and license information must be provided
                    for files before they are published.
                restrict_student_past_view:
                  type: boolean
                  description: Restrict students from viewing courses after end date
                restrict_student_future_view:
                  type: boolean
                  description: Restrict students from viewing courses before start
                    date
                show_announcements_on_home_page:
                  type: boolean
                  description: 'Show the most recent announcements on the Course home
                    page (if a Wiki, defaults to five announcements, configurable
                    via home_page_announcement_limit).

                    Canvas for Elementary subjects ignore this setting.'
                home_page_announcement_limit:
                  type: integer
                  description: Limit the number of announcements on the home page
                    if enabled via show_announcements_on_home_page
                syllabus_course_summary:
                  type: boolean
                  description: Show the course summary (list of assignments and calendar
                    events) on the syllabus page. Default is true.
                default_due_time:
                  type: string
                  description: 'Set the default due time for assignments. This is
                    the time that will be pre-selected in the Canvas user interface

                    when setting a due date for an assignment. It does not change
                    when any existing assignment is due. It should be

                    given in 24-hour HH:MM:SS format. The default is "23:59:59". Use
                    "inherit" to inherit the account setting.'
                conditional_release:
                  type: boolean
                  description: Enable or disable individual learning paths for students
                    based on assessment
  /v1/courses/{course_id}/student_view_student:
    get:
      operationId: return_test_student_for_course
      summary: Return test student for course
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/accounts/{account_id}/courses/{id}:
    get:
      operationId: get_single_course_accounts
      summary: Get a single course
      tags:
      - courses
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: "- \"all_courses\": Also search recently deleted courses.\n-\
          \ \"permissions\": Include permissions the current user has\n  for the course.\n\
          - \"observed_users\": Include observed users in the enrollments\n- \"course_image\"\
          : Include course image url if a course image has been set\n- \"banner_image\"\
          : Include course banner image url if the course is a Canvas for\n  Elementary\
          \ subject and a banner image has been set\n- \"concluded\": Optional information\
          \ to include with Course. Indicates whether\n  the course has been concluded,\
          \ taking course and term dates into account.\n- \"lti_context_id\": Include\
          \ course LTI tool id.\n- \"post_manually\": Include course post policy.\
          \ If the post policy is manually post grades,\n  the value will be true.\
          \ If the post policy is automatically post grades, the value will be false."
      - name: teacher_limit
        in: query
        required: false
        schema:
          type: integer
        description: 'The maximum number of teacher enrollments to show.

          If the course contains more teachers than this, instead of giving the teacher

          enrollments, the count of teachers will be given under a _teacher_count_
          key.'
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/reset_content:
    post:
      operationId: reset_course
      summary: Reset a course
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/effective_due_dates:
    get:
      operationId: get_effective_due_dates
      summary: Get effective due dates
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: assignment_ids
        in: query
        required: false
        schema:
          type: array
        description: no description
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/permissions:
    get:
      operationId: permissions
      summary: Permissions
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: permissions
        in: query
        required: false
        schema:
          type: array
        description: 'List of permissions to check against the authenticated user.

          Permission names are documented in the {api:RoleOverridesController#manageable_permissions
          List assignable permissions} endpoint.'
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/bulk_user_progress:
    get:
      operationId: get_bulk_user_progress
      summary: Get bulk user progress
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{id}/dismiss_migration_limitation_message:
    post:
      operationId: remove_quiz_migration_alert
      summary: Remove quiz migration alert
      tags:
      - courses
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/restore/{version_id}:
    post:
      operationId: restore_course_version
      summary: Restore course version
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: version_id
        in: path
        required: true
        schema:
          type: integer
        description: 'The version to restore to (use the syllabus_versions include
          parameter

          in the course show API to see available versions)'
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/course_copy/{id}:
    get:
      operationId: get_course_copy_status
      summary: Get course copy status
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
  /v1/courses/{course_id}/course_copy:
    post:
      operationId: copy_course_content
      summary: Copy course content
      tags:
      - courses
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                source_course:
                  type: string
                  description: ID or SIS-ID of the course to copy the content from
                except:
                  type: array
                  description: 'A list of the course content types to exclude, all
                    areas not listed will

                    be copied.'
                only:
                  type: array
                  description: 'A list of the course content types to copy, all areas
                    not listed will not

                    be copied.'
  /v1/courses/{course_id}/assignments/{id}:
    delete:
      operationId: delete_assignment
      summary: Delete an assignment
      tags:
      - assignments
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
    get:
      operationId: get_single_assignment
      summary: Get a single assignment
      tags:
      - assignments
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: 'Associations to include with the assignment. The "assignment_visibility"
          option

          requires that the Differentiated Assignments course feature be turned on.
          If

          "observed_users" is passed, submissions for observed users will also be
          included.

          For "score_statistics" to be included, the "submission" option must also
          be set.

          The "peer_review" option returns peer review sub assignment data if it exists,
          regardless

          of the Peer Review Allocation and Grading feature state. If no peer review
          sub assignment

          exists, the feature must be enabled to receive a null value; otherwise the
          key is omitted.'
      - name: override_assignment_dates
        in: query
        required: false
        schema:
          type: boolean
        description: Apply assignment overrides to the assignment, defaults to true.
      - name: needs_grading_count_by_section
        in: query
        required: false
        schema:
          type: boolean
        description: Split up "needs_grading_count" by sections into the "needs_grading_count_by_section"
          key, defaults to false
      - name: all_dates
        in: query
        required: false
        schema:
          type: boolean
        description: All dates associated with the assignment, if applicable
      responses:
        '200':
          description: OK
    put:
      operationId: edit_assignment
      summary: Edit an assignment
      tags:
      - assignments
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assignment[name]:
                  type: string
                  description: The assignment name.
                assignment[position]:
                  type: integer
                  description: 'The position of this assignment in the group when
                    displaying

                    assignment lists.'
                assignment[submission_types]:
                  type: array
                  description: Only applies if the assignment doesn't have student
                    submissions.
                assignment[allowed_extensions]:
                  type: array
                  description: "Allowed extensions if submission_types includes \"\
                    online_upload\"\n\nExample:\n  allowed_extensions: [\"docx\",\"\
                    ppt\"]"
                assignment[turnitin_enabled]:
                  type: boolean
                  description: 'Only applies when the Turnitin plugin is enabled for
                    a course and

                    the submission_types array includes "online_upload".

                    Toggles Turnitin submissions for the assignment.

                    Will be ignored if Turnitin is not available for the course.'
                assignment[vericite_enabled]:
                  type: boolean
                  description: 'Only applies when the VeriCite plugin is enabled for
                    a course and

                    the submission_types array includes "online_upload".

                    Toggles VeriCite submissions for the assignment.

                    Will be ignored if VeriCite is not available for the course.'
                assignment[turnitin_settings]:
                  type: string
                  description: 'Settings to send along to turnitin. See Assignment
                    object definition for

                    format.'
                assignment[sis_assignment_id]:
                  type: string
                  description: The sis id of the Assignment
                assignment[integration_data]:
                  type: string
                  description: Data used for SIS integrations. Requires admin-level
                    token with the "Manage SIS" permission. JSON string required.
                assignment[integration_id]:
                  type: string
                  description: Unique ID from third party integrations
                assignment[peer_reviews]:
                  type: boolean
                  description: 'If submission_types does not include external_tool,discussion_topic,

                    online_quiz, or on_paper, determines whether or not peer reviews

                    will be turned on for the assignment.'
                assignment[automatic_peer_reviews]:
                  type: boolean
                  description: 'Whether peer reviews will be assigned automatically
                    by Canvas or if

                    teachers must manually assign peer reviews. Does not apply if
                    peer reviews

                    are not enabled.'
                assignment[notify_of_update]:
                  type: boolean
                  description: 'If true, Canvas will send a notification to students
                    in the class

                    notifying them that the content has changed.'
                assignment[group_category_id]:
                  type: integer
                  description: 'If present, the assignment will become a group assignment
                    assigned

                    to the group.'
                assignment[grade_group_students_individually]:
                  type: integer
                  description: 'If this is a group assignment, teachers have the options
                    to grade

                    students individually. If false, Canvas will apply the assignment''s

                    score to each member of the group. If true, the teacher can manually

                    assign scores to each member of the group.'
                assignment[external_tool_tag_attributes]:
                  type: string
                  description: 'Hash of external tool parameters if submission_types
                    is ["external_tool"].

                    See Assignment object definition for format.'
                assignment[points_possible]:
                  type: number
                  description: The maximum points possible on the assignment.
                assignment[grading_type]:
                  type: string
                  description: 'The strategy used for grading the assignment.

                    The assignment defaults to "points" if this field is omitted.'
                assignment[due_at]:
                  type: string
                  description: 'The day/time the assignment is due.

                    Accepts times in ISO 8601 format, e.g. 2014-10-21T18:48:00Z.'
                assignment[lock_at]:
                  type: string
                  description: 'The day/time the assignment is locked after. Must
                    be after the due date if there is a due date.

                    Accepts times in ISO 8601 format, e.g. 2014-10-21T18:48:00Z.'
                assignment[unlock_at]:
                  type: string
                  description: 'The day/time the assignment is unlocked. Must be before
                    the due date if there is a due date.

                    Accepts times in ISO 8601 format, e.g. 2014-10-21T18:48:00Z.'
                assignment[description]:
                  type: string
                  description: The assignment's description, supports HTML.
                assignment[assignment_group_id]:
                  type: integer
                  description: 'The assignment group id to put the assignment in.

                    Defaults to the top assignment group in the course.'
                assignment[assignment_overrides]:
                  type: array
                  description: 'List of overrides for the assignment.

                    If the +assignment[assignment_overrides]+ key is absent, any existing

                    overrides are kept as is. If the +assignment[assignment_overrides]+
                    key is

                    present, existing overrides are updated or deleted (and new ones
                    created,

                    as necessary) to match the provided list.'
                assignment[only_visible_to_overrides]:
                  type: boolean
                  description: 'Whether this assignment is only visible to overrides

                    (Only useful if ''differentiated assignments'' account setting
                    is on)'
                assignment[published]:
                  type: boolean
                  description: 'Whether this assignment is published.

                    (Only useful if ''draft state'' account setting is on)

                    Unpublished assignments are not visible to students.'
                assignment[grading_standard_id]:
                  type: integer
                  description: 'The grading standard id to set for the course.  If
                    no value is provided for this argument the current grading_standard
                    will be un-set from this course.

                    This will update the grading_type for the course to ''letter_grade''
                    unless it is already ''gpa_scale''.'
                assignment[omit_from_final_grade]:
                  type: boolean
                  description: Whether this assignment is counted towards a student's
                    final grade.
                assignment[hide_in_gradebook]:
                  type: boolean
                  description: Whether this assignment is shown in the gradebook.
                assignment[moderated_grading]:
                  type: boolean
                  description: Whether this assignment is moderated.
                assignment[grader_count]:
                  type: integer
                  description: 'The maximum number of provisional graders who may
                    issue grades for this

                    assignment. Only relevant for moderated assignments. Must be a
                    positive

                    value, and must be set to 1 if the course has fewer than two active

                    instructors. Otherwise, the maximum value is the number of active

                    instructors in the course minus one, or 10 if the course has more
                    than 11

                    active instructors.'
                assignment[final_grader_id]:
                  type: integer
                  description: 'The user ID of the grader responsible for choosing
                    final grades for this

                    assignment. Only relevant for moderated assignments.'
                assignment[grader_comments_visible_to_graders]:
                  type: boolean
                  description: 'Boolean indicating if provisional graders'' comments
                    are visible to other

                    provisional graders. Only relevant for moderated assignments.'
                assignment[graders_anonymous_to_graders]:
                  type: boolean
                  description: 'Boolean indicating if provisional graders'' identities
                    are hidden from

                    other provisional graders. Only relevant for moderated assignments.'
                assignment[graders_names_visible_to_final_grader]:
                  type: boolean
                  description: 'Boolean indicating if provisional grader identities
                    are visible to the

                    the final grader. Only relevant for moderated assignments.'
                assignment[anonymous_grading]:
                  type: boolean
                  description: 'Boolean indicating if the assignment is graded anonymously.
                    If true,

                    graders cannot see student identities.'
                assignment[allowed_attempts]:
                  type: integer
                  description: 'The number of submission attempts allowed for this
                    assignment. Set to -1 or null for

                    unlimited attempts.'
                assignment[annotatable_attachment_id]:
                  type: integer
                  description: 'The Attachment ID of the document being annotated.


                    Only applies when submission_types includes "student_annotation".'
                assignment[asset_processors]:
                  type: array
                  description: 'Document processors for this assignment. New document
                    processors can only be added

                    via the interactive LTI Deep Linking flow (in a browser), not
                    via API token or JWT authentication.

                    Deletion of document processors (passing an empty array) is allowed
                    via API.'
                assignment[force_updated_at]:
                  type: boolean
                  description: If true, updated_at will be set even if no changes
                    were made.
                assignment[peer_review][points_possible]:
                  type: number
                  description: The maximum points possible for peer reviews.
                assignment[peer_review][grading_type]:
                  type: string
                  description: 'The strategy used for grading peer reviews.

                    Defaults to "points" if this field is omitted.'
                assignment[peer_review][due_at]:
                  type: string
                  description: 'The day/time the peer reviews are due. Must be between
                    the lock dates if there are lock dates.

                    Accepts times in ISO 8601 format, e.g. 2025-08-20T12:10:00Z.'
                assignment[peer_review][lock_at]:
                  type: string
                  description: 'The day/time the peer reviews are locked after. Must
                    be after the due date if there is a due date.

                    Accepts times in ISO 8601 format, e.g. 2025-08-25T12:10:00Z.'
                assignment[peer_review][unlock_at]:
                  type: string
                  description: 'The day/time the peer reviews are unlocked. Must be
                    before the due date if there is a due date.

                    Accepts times in ISO 8601 format, e.g. 2025-08-15T12:10:00Z.'
                assignment[peer_review][peer_review_overrides]:
                  type: array
                  description: 'List of overrides for the peer reviews.

                    When updating overrides:

                    - Include "id" to update an existing override

                    - Omit "id" to create a new override

                    - Omit an override from the list to delete it'
  /v1/courses/{course_id}/assignments:
    get:
      operationId: list_assignments_assignments
      summary: List assignments
      tags:
      - assignments
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      - name: include
        in: query
        required: false
        schema:
          type: array
        description: 'Optional information to include with each assignment:

          submission:: The current user''s current +Submission+

          assignment_visibility:: An array of ids of students who can see the assignment

          all_dates:: An array of +AssignmentDate+ structures, one for each override,
          and also a +base+ if the assignment has an "Everyone" / "Everyone Else"
          date

          overrides:: An array of +AssignmentOverride+ structures

          observed_users:: An array of submissions for observed users

          can_edit:: an extra Boolean value will be included with each +Assignment+
          (and +AssignmentDate+ if +all_dates+ is supplied) to indicate whether the
          caller can edit the assignment or date. Moderated grading and closed grading
          periods may restrict a user''s ability to edit an assignment.

          score_statistics:: An object containing min, max, and mean score on this
          assignment. This will not be included for students if there are less than
          5 graded assignments or if disabled by the instructor. Only valid if ''submission''
          is also included.

          ab_guid:: An array of guid strings for academic benchmarks'
      - name: search_term
        in: query
        required: false
        schema:
          type: string
        description: The partial title of the assignments to match and return.
      - name: override_assignment_dates
        in: query
        required: false
        schema:
          type: boolean
        description: Apply assignment overrides for each assignment, defaults to true.
      - name: needs_grading_count_by_section
        in: query
        required: false
        schema:
          type: boolean
        description: Split up "needs_grading_count" by sections into the "needs_grading_count_by_section"
          key, defaults to false
      - name: bucket
        in: query
        required: false
        schema:
          type: string
        description: If included, only return certain assignments depending on due
          date and submission status.
      - name: assignment_ids
        in: query
        required: false
        schema:
          type: array
        description: if set, return only assignments specified
      - name: order_by
        in: query
        required: false
        schema:
          type: string
        description: Determines the order of the assignments. Defaults to "position".
      - name: post_to_sis
        in: query
        required: false
        schema:
          type: boolean
        description: Return only assignments that have post_to_sis set or not set.
      - name: new_quizzes
        in: query
        required: false
        schema:
          type: boolean
        description: Return only New Quizzes assignments
      responses:
        '200':
          description: OK
    post:
      operationId: create_assignment
      summary: Create an assignment
      tags:
      - assignments
      parameters:
      - name: course_id
        in: path
        required: true
        schema:
          type: string
        description: ID
      responses:
        '200':
          description: OK
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                assignment[name]:
                  type: string
                  description: The assignment name.
                assignment[position]:
                  type: integer
                  description: 'The position of this assignment in the group when
                    displaying

                    assignment lists.'
                assignment[submission_types]:
                  type: array
                  description: "List of supported submission types for the assignment.\n\
                    Unless the assignment is allowing online submissions, the array\
                    \ should\nonly have one element.\n\nIf not allowing online submissions,\
                    \ your options are:\n  \"online_quiz\"\n  \"none\"\n  \"on_paper\"\
                    \n  \"discussion_topic\"\n  \"external_tool\"\n\nIf you are allowing\
                    \ online submissions, you can have one or many\nallowed submission\
                    \ types:\n\n  \"online_upload\"\n  \"online_text_entry\"\n  \"\
                    online_url\"\n  \"media_recording\" (Only valid when the Kaltura\
                    \ plugin is enabled)\n  \"student_annotation\""
                assignment[allowed_extensions]:
                  type: array
                  description: "Allowed extensions if submission_types includes \"\
                    online_upload\"\n\nExample:\n  allowed_extensions: [\"docx\",\"\
                    ppt\"]"
                assignment[turnitin_enabled]:
                  type: boolean
                  description: 'Only applies when the Turnitin plugin is enabled for
                    a course and

                    the submission_types array includes "online_upload".

                    Toggles Turnitin submissions for the assignment.

                    Will be ignored if Turnitin is not available for the course.'
                assignment[vericite_enabled]:
                  type: boolean
                  description: 'Only applies when the VeriCite plugin is enabled for
                    a course and

                    the submission_types array includes "online_upload".

                    Toggles VeriCite submissions for the assignment.

                    Will be ignored if VeriCite is not available for the course.'
                assignment[turnitin_settings]:
                  type: string
                  description: 'Settings to send along to turnitin. See Assignment
                    object definition for

                    format.'
                assignment[integration_data]:
                  type: string
                  description: Data used for SIS integrations. Requires admin-level
                    token with the "Manage SIS" permission. JSON string required.
                assignment[integration_id]:
                  type: string
                  description: Unique ID from third party integrations
                assignment[peer_reviews]:
                  type: boolean
                  description: 'If submission_types does not include external_tool,discussion_topic,

                    online_quiz, or on_paper, determines whether or not peer reviews

                    will be turned on for the assignment.'
                assignment[automatic_peer_reviews]:
                  type: boolean
                  description: 'Whether peer reviews will be assigned automatically
                    by Canvas or if

                    teachers must manually assign peer reviews. Does not apply if
                    peer reviews

                    are not enabled.'
                assignment[notify_of_update]:
                  type: boolean
                  description: 'If true, Canvas will send a notification to students
                    in the class

                    notifying them that the content has changed.'
                assignment[group_category_id]:
                  type: integer
                  description: 'If present, the assignment will become a group assignment
                    assigned

                    to the group.'
                assignment[grade_group_students_individually]:
                  type: integer
                  description: 'If this is a group assignment, teachers have the options
                    to grade

                    students individually. If false, Canvas will apply the assignment''s

                    score to each member of the group. If true, the teacher can manually

                    assign scores to each member of the group.'
                assignment[external_tool_tag_attributes]:
                  type: string
                  description: 'Hash of external tool parameters if submission_types
                    is ["external_tool"].

                    See Assignment object definition for format.'
                assignment[points_possible]:
                  type: number
                  description: The maximum points possible on the assignment.
                assignment[grading_type]:
                  type: string
                  description: 'The strategy used for grading the assignment.

                    The assignment defaults to "points" if this field is omitted.'
                assignment[due_at]:
                  type: string
                  description: 'The day/time the assignment is due. Must be between
                    the lock dates if there are lock dates.

                    Accepts times in ISO 8601 format, e.g. 2014-10-21T18:48:00Z.'
                assignment[lock_at]:
                  type: string
                  description: 'The day/time the assignment is locked after. Must
                    be after the due date if there is a due date.

                    Accepts times in ISO 8601 format, e.g. 2014-10-21T18:48:00Z.'
                assignment[unlock_at]:
                  type: string
                  description: 'The day/time the assignment is unlocked. Must be before
                    the due date if there is a due date.

                    Accepts times in ISO 8601 format, e.g. 2014-10-21T18:48:00Z.'
                assignment[description]:
                  type: string
                  description: The assignment's description, supports HTML.
                assignment[assignment_group_id]:
                  type: integer
                  description: 'The assignment group id to put the assignment in.

                    Defaults to the top assignment group in the course.'
                assignment[assignment_overrides]:
                  type: array
[...]
