{
  "openapi": "3.1.0",
  "info": {
    "version": "2.0.153",
    "title": "Lichess.org API reference",
    "contact": {
      "name": "Lichess.org API",
      "url": "https://lichess.org/api",
      "email": "contact@lichess.org"
    },
    "x-logo": {
      "url": "https://lichess1.org/assets/logo/lichess-pad12.svg"
    },
    "license": {
      "name": "AGPL-3.0-or-later",
      "url": "https://www.gnu.org/licenses/agpl-3.0.txt"
    },
    "description": "# Introduction\nWelcome to the reference for the Lichess API! Lichess is free/libre,\nopen-source chess server powered by volunteers and donations.\n- Get help in the [Lichess Discord channel](https://discord.gg/lichess)\n- API demo app with OAuth2 login and gameplay: [source](https://github.com/lichess-org/api-demo) / [demo](https://lichess-org.github.io/api-demo/)\n- API UI app with OAuth2 login and endpoint forms: [source](https://github.com/lichess-org/api-ui) / [website](https://lichess.org/api/ui)\n- [Contribute to this documentation on Github](https://github.com/lichess-org/api)\n- Check out [Lichess widgets to embed in your website](https://lichess.org/developers)\n- [Download all Lichess rated games](https://database.lichess.org/)\n- [Download all Lichess puzzles with themes, ratings and votes](https://database.lichess.org/#puzzles)\n- [Download all evaluated positions](https://database.lichess.org/#evals)\n\n## Endpoint\nAll requests go to `https://lichess.org` (unless otherwise specified).\n\n## Clients\n- [Python general API](https://github.com/lichess-org/berserk)\n- [MicroPython general API](https://github.com/mkomon/uberserk)\n- [Python general API - async](https://pypi.org/project/async-lichess-sdk)\n- [Python Lichess Bot](https://github.com/lichess-bot-devs/lichess-bot)\n- [Python Board API for Certabo](https://github.com/haklein/certabo-lichess)\n- [Java general API](https://github.com/tors42/chariot)\n- [JavaScript & TypeScript general API](https://github.com/devjiwonchoi/equine)\n- [Rust general API](https://github.com/obazin/litchee)\n- [LichessNET - C# API Wrapper](https://github.com/Rabergsel/LichessNET)\n- [.NET general API](https://github.com/Dblike/LichessSharp)\n\n## Rate limiting\nAll requests are rate limited using various strategies,\nto ensure the API remains responsive for everyone.\nOnly make one request at a time.\nIf you receive an HTTP response with a [429 status](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#429),\nyou have exceded one of the rate limits.\nIn most cases, waiting one minute before retrying will be sufficient, but some limits may require longer.\nReduce your request frequency before retrying.\n\n## Streaming with ND-JSON\nSome API endpoints stream their responses as [Newline Delimited JSON a.k.a. **nd-json**](https://github.com/ndjson/ndjson-spec), with one JSON object per line.\n\nHere's a [JavaScript utility function](https://gist.github.com/ornicar/a097406810939cf7be1df8ea30e94f3e) to help reading NDJSON streamed responses.\n\n## Authentication\n### Which authentication method is right for me?\n[Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api/blob/master/example/README.md)\n\n### Personal Access Token\nPersonal API access tokens allow you to quickly interact with Lichess API without going through an OAuth flow.\n- [Generate a personal access token](https://lichess.org/account/oauth/token)\n- `curl https://lichess.org/api/account -H \"Authorization: Bearer {token}\"`\n- [NodeJS example](https://github.com/lichess-org/api/tree/master/example/oauth-personal-token)\n\n### Token Security\n- Keep your tokens secret. Do not share them in public repositories or public forums.\n- Your tokens can be used to make your account perform arbitrary actions (within the limits of the tokens' scope). You remain responsible for all activities on your account.\n- Do not hardcode tokens in your application's code. Use environment variables or a secure storage and ensure they are not shipped/exposed to users. Be especially careful that they are not included in frontend bundles or apps that are shipped to users.\n- If you suspect a token has been compromised, revoke it immediately.\n\nTo see your active tokens or revoke them, see [your Personal API access tokens](https://lichess.org/account/oauth/token).\n\n### Authorization Code Flow with PKCE\nThe authorization code flow with PKCE allows your users to **login with Lichess**.\nLichess supports unregistered and public clients (no client authentication, choose any unique client id).\nThe only accepted code challenge method is `S256`.\nAccess tokens are long-lived (expect one year), unless they are revoked.\nRefresh tokens are not supported.\n\nSee the [documentation for the OAuth endpoints](#tag/OAuth) or\nthe [PKCE RFC](https://datatracker.ietf.org/doc/html/rfc7636#section-4) for a precise protocol description.\n\n- [Demo app](https://lichess-org.github.io/api-demo/)\n- [Minimal client-side example](https://github.com/lichess-org/api/tree/master/example/oauth-app)\n- [Flask/Python example](https://github.com/lakinwecker/lichess-oauth-flask)\n- [Java example](https://github.com/tors42/lichess-oauth-pkce-app)\n- [NodeJS Passport strategy to login with Lichess OAuth2](https://www.npmjs.com/package/passport-lichess)\n\n#### Real life examples\n- [PyChess](https://github.com/gbtami/pychess-variants) ([source code](https://github.com/gbtami/pychess-variants))\n- [Lichess4545](https://www.lichess4545.com/) ([source code](https://github.com/cyanfish/heltour))\n- [English Chess Federation](https://ecf.octoknight.com/)\n- [Rotherham Online Chess](https://rotherhamonlinechess.azurewebsites.net/tournaments)\n\n### Token format\nAccess tokens and authorization codes match `^[A-Za-z0-9_]+$`.\nThe length of tokens can be increased without notice. Make sure your application can handle at least 512 characters.\nBy convention tokens have a recognizable prefix, but do not rely on this.\n"
  },
  "servers": [
    {
      "url": "https://lichess.org"
    },
    {
      "url": "https://lichess.dev"
    },
    {
      "url": "http://localhost:{port}",
      "variables": {
        "port": {
          "default": "8080"
        }
      }
    },
    {
      "url": "http://l.org"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Read and write account information and preferences.\n<https://lichess.org/account/preferences/game-display>\n"
    },
    {
      "name": "Analysis",
      "description": "Access Lichess cloud evaluations database.\n<https://lichess.org/analysis>\n"
    },
    {
      "name": "Board",
      "description": "Play on Lichess with physical boards and third-party clients.\nWorks with normal Lichess accounts. Engine play or assistance is [forbidden](https://lichess.org/page/fair-play).\n\n### Features\n- [Stream incoming chess moves](#tag/board/GET/api/board/game/stream/{gameId})\n- [Play chess moves](#tag/board/POST/api/board/game/{gameId}/move/{move})\n- [Read](#tag/board/GET/api/board/game/stream/{gameId}) and [write](#tag/board/POST/api/board/game/{gameId}/chat) in the player and spectator chats\n- [Receive](#tag/board/GET/api/stream/event), [create](#tag/challenges/POST/api/challenge/{username}) and [accept](#tag/challenges/POST/api/challenge/{challengeId}/accept) (or [decline](#tag/challenges/POST/api/challenge/{challengeId}/decline)) challenges\n- [Abort](#tag/board/POST/api/board/game/{gameId}/abort) and [resign](#tag/board/POST/api/board/game/{gameId}/resign) games\n- Compatible with normal Lichess accounts\n\n### Restrictions\n- Engine assistance, or any kind of outside help, is [forbidden](https://lichess.org/page/fair-play)\n- Time controls: [Rapid, Classical and Correspondence](https://lichess.org/faq#time-controls) only.\n  For direct challenges, games vs AI, and bulk pairing, Blitz is also possible.\n\n### Links\n- [Announcement](https://lichess.org/blog/XlRW5REAAB8AUJJ-/welcome-lichess-boards)\n- [Implementation example](https://github.com/lichess-org/api-demo) and [live demo](https://lichess-org.github.io/api-demo/)\n- [Certabo support](https://github.com/haklein/certabo-lichess)\n- [Lichs (play from command-line)](https://github.com/Cqsi/lichs)\n- [Lichess discord bot](https://top.gg/bot/707287095911120968)\n- [cli-chess](https://github.com/trevorbayless/cli-chess/)\n- [Blunderly 3D board](https://github.com/maurimo/blunderly)\n- Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).\n"
    },
    {
      "name": "Bot",
      "description": "Play on Lichess as a bot. Allows engine play.\nRead the [blog post announcement of lichess bots](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots).\n\nOnly works with [Bot accounts](#tag/bot/POST/api/bot/account/upgrade).\n\n### Features\n- [Stream incoming chess moves](#tag/bot/GET/api/bot/game/stream/{gameId})\n- [Play chess moves](#tag/bot/POST/api/bot/game/{gameId}/move/{move})\n- [Read](#tag/bot/GET/api/bot/game/stream/{gameId}) and [write](#tag/bot/POST/api/bot/game/{gameId}/chat) in the player and spectator chats\n- [Receive](#tag/bot/GET/api/stream/event), [create](#tag/challenges/POST/api/challenge/{username}) and [accept](#tag/challenges/POST/api/challenge/{challengeId}/accept) (or [decline](#tag/challenges/POST/api/challenge/{challengeId}/decline)) challenges\n- [Abort](#tag/bot/POST/api/bot/game/{gameId}/abort) and [resign](#tag/bot/POST/api/bot/game/{gameId}/resign) games\n- Engine assistance is [allowed](https://lichess.org/page/fair-play)\n### Restrictions\n- Bots can only play challenge games:  pools and tournaments are off-limits\n- Bots cannot play UltraBullet (¼+0) because it requires making too many requests. But 0+1 and ½+0 are allowed.\n- Bots must follow [Lichess TOS](https://lichess.org/terms-of-service) specifically Sandbagging, Constant Aborting, Boosting, etc\n- Bot devs are advised to make their Bots play casual only when testing their Bots logic and to avoid breaking Lichess TOS.\n### Integrations\n- [Python3 lichess-bot](https://github.com/lichess-bot-devs/lichess-bot) (official)\n- [Python3 lichess UCI bot](https://github.com/Torom/BotLi)\n- [JavaScript bot-o-tron](https://github.com/tailuge/bot-o-tron)\n- [Golang lichess-bot](https://github.com/dolegi/lichess-bot)\n- [Electronic Chessboard](http://www.oliviermercier.com/res/projects/chessboard/)\n- Yours? Please make [an issue or pull request](https://github.com/lichess-org/api).\n### Links\n- [Announcement](https://lichess.org/blog/WvDNticAAMu_mHKP/welcome-lichess-bots)\n- Join the [Lichess Bots team](https://lichess.org/team/lichess-bots) with your bot account\n- [Get help in the discord channel](https://discord.gg/quwueFd)\n- Watch [Lichess Bot TV](https://lichess.org/tv/bot)\n"
    },
    {
      "name": "Broadcasts",
      "description": "Relay chess events on Lichess.\n[Official broadcasts](https://lichess.org/broadcast) are maintained by Lichess,\nbut you can [create your own broadcasts](https://lichess.org/broadcast/new) to cover any live game or chess event.\nYou will need to publish PGN on a public URL so that Lichess can pull updates from it.\nAlternatively, you can push PGN updates to Lichess using [this API endpoint](#tag/broadcasts/POST/api/broadcast/round/{broadcastRoundId}/push).\n\nBroadcasts are organized in tournaments, which have several rounds, which have several games.\nYou must first create a tournament, then you can add rounds to them.\n"
    },
    {
      "name": "Bulk pairings",
      "description": "Create many games for other players.\n\nThese endpoints are intended for tournament organisers.\n"
    },
    {
      "name": "Challenges",
      "description": "Send and receive challenges to play.\n\nTo create a lot of challenges, consider [bulk pairing](#tag/bulk-pairings/POST/api/bulk-pairing) instead.\n"
    },
    {
      "name": "External engine",
      "description": "**This API is in alpha and subject to change.**\n\nUse or provide external engine analysis.\n\nExternal engines can provide analysis on pages like the\n[analysis board](https://lichess.org/analysis), running as a service\noutside of the browser, or even on a different machine.\n"
    },
    {
      "name": "FIDE",
      "description": "FIDE players and federations from [their public download](https://ratings.fide.com/download_lists.phtml).\n\n<https://lichess.org/fide>\n"
    },
    {
      "name": "Games",
      "description": "Access games played on Lichess.\n<https://lichess.org/games>\n"
    },
    {
      "name": "Messaging",
      "description": "Private messages with other players.\n<https://lichess.org/inbox>\n"
    },
    {
      "name": "Opening Explorer",
      "description": "Lookup positions from the [Lichess opening explorer](https://lichess.org/analysis#explorer).\n\nRuns <https://github.com/lichess-org/lila-openingexplorer>.\n\n> [!important]\n> The hostname for these endpoints is `explorer.lichess.org` and not `lichess.org`.\n"
    },
    {
      "name": "Puzzles",
      "description": "Fetch and solve [puzzles](https://lichess.org/training), view your puzzle history and dashboard.\n\nOur collection of puzzles is in the public domain, you can [download it here](https://database.lichess.org/#puzzles).\nFor a list of our [puzzle themes](https://lichess.org/training/themes) with their description, check out the [theme translation file](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml).\n"
    },
    {
      "name": "Relations",
      "description": "Access relations between users.\n"
    },
    {
      "name": "Simuls",
      "description": "Access simuls played on Lichess.\n<https://lichess.org/simul>\n"
    },
    {
      "name": "Studies",
      "description": "Access Lichess studies.\n<https://lichess.org/study>\n"
    },
    {
      "name": "Tablebase",
      "description": "Lookup positions from the [Lichess tablebase server](https://lichess.org/blog/W3WeMyQAACQAdfAL/7-piece-syzygy-tablebases-are-complete).\n\n> [!important]\n> The hostname for these endpoints is `tablebase.lichess.org` and not `lichess.org`.\n"
    },
    {
      "name": "Teams",
      "description": "Access and manage Lichess teams and their members.\n<https://lichess.org/team>\n"
    },
    {
      "name": "Tournaments (Arena)",
      "description": "Access Arena tournaments played on Lichess.\n[Official Arena tournaments](https://lichess.org/tournament) are maintained by Lichess,\nbut you can [create your own Arena tournaments](https://lichess.org/tournament/new) as well.\n"
    },
    {
      "name": "Tournaments (Swiss)",
      "description": "Access Swiss tournaments played on Lichess.\n[Read more about Swiss tournaments.](https://lichess.org/swiss).\n"
    },
    {
      "name": "TV",
      "description": "Access Lichess TV channels and games.\n<https://lichess.org/tv> & <https://lichess.org/games>\n"
    },
    {
      "name": "Users",
      "description": "Access registered users on Lichess.\n<https://lichess.org/player>\n\n- Each user blog exposes an atom (RSS) feed, like <https://lichess.org/@/thibault/blog.atom>\n- User blogs mashup feed: https://lichess.org/blog/community.atom\n- User blogs mashup feed for a language: https://lichess.org/blog/community/fr.atom\n"
    },
    {
      "name": "OAuth",
      "description": "Obtaining and revoking OAuth tokens.\n\n[Read about the Lichess API authentication methods and code examples](https://github.com/lichess-org/api/blob/master/example/README.md).\n"
    }
  ],
  "paths": {
    "/api/user/{username}": {
      "get": {
        "operationId": "apiUser",
        "summary": "Get user public data",
        "description": "Read public data of a user.\n",
        "tags": [
          "Users"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "trophies",
            "description": "Include user trophies",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "profile",
            "description": "Include user profile data",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "rank",
            "description": "Include global lichess ranking for each perf",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "fideId",
            "description": "Include public FIDE ID if any",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The information of the user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserExtended"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/users-getUserPublicData.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/next": {
      "get": {
        "operationId": "apiPuzzleNext",
        "summary": "Get a new puzzle",
        "description": "Get a random Lichess puzzle in JSON format.\n\nIf authenticated, only returns puzzles that the user has never seen before.\n\n**DO NOT** use this endpoint to enumerate puzzles for mass download. Instead, download the [full public puzzle database](https://database.lichess.org/#puzzles).\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "angle",
            "required": false,
            "description": "The theme or opening to filter puzzles with.\n\nAvailable themes are listed in [the lichess source code](https://github.com/ornicar/lila/blob/master/translation/source/puzzleTheme.xml) and [the lichess training themes hyperlinks](https://lichess.org/training/themes).\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "difficulty",
            "required": false,
            "description": "The desired puzzle difficulty, relative to the authenticated user puzzle rating, or 1500 if anonymous.",
            "schema": {
              "type": "string",
              "enum": [
                "easiest",
                "easier",
                "normal",
                "harder",
                "hardest"
              ]
            }
          },
          {
            "in": "query",
            "name": "color",
            "required": false,
            "description": "The color to play. Better left empty to automatically get 50% white.",
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The requested puzzle.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleAndGame"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getNewPuzzle.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/puzzle/dashboard/{days}": {
      "get": {
        "operationId": "apiPuzzleDashboard",
        "summary": "Get your puzzle dashboard",
        "description": "Download your [puzzle dashboard](https://lichess.org/training/dashboard/30/dashboard) as JSON.\nAlso includes all puzzle themes played, with aggregated results.\nAllows re-creating the [improvement/strengths](https://lichess.org/training/dashboard/30/improvementAreas) interfaces.\n",
        "tags": [
          "Puzzles"
        ],
        "security": [
          {
            "OAuth2": [
              "puzzle:read"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "days",
            "required": true,
            "description": "How many days to look back when aggregating puzzle results. 30 is sensible.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The puzzle dashboard of the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PuzzleDashboard"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/puzzles-getYourPuzzleDashboard.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/account": {
      "get": {
        "operationId": "accountMe",
        "summary": "Get my profile",
        "description": "Public information about the logged in user.\n",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "The public information about the logged in user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserExtended"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/account-getMyProfile.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/games/user/{username}": {
      "get": {
        "operationId": "apiGamesUser",
        "summary": "Export games of a user",
        "description": "Download all games of any user in PGN or [ndjson](#description/streaming-with-nd-json) format.\nGames are sorted by reverse chronological order (most recent first).\nWe recommend streaming the response, for it can be very long.\n<https://lichess.org/@/german11> for instance has more than 500,000 games.\nThe game stream is throttled, depending on who is making the request:\n  - Anonymous request: 20 games per second\n  - [OAuth2 authenticated](#description/authentication) request: 30 games per second\n  - Authenticated, downloading your own games: 60 games per second\n",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptPgnOrNdjson"
          },
          {
            "in": "path",
            "name": "username",
            "description": "The user name.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "since",
            "description": "Download games played since this timestamp. Defaults to account creation date.",
            "schema": {
              "type": "integer",
              "minimum": 1356998400070
            }
          },
          {
            "in": "query",
            "name": "until",
            "description": "Download games played until this timestamp. Defaults to now.",
            "schema": {
              "type": "integer",
              "minimum": 1356998400070
            }
          },
          {
            "in": "query",
            "name": "max",
            "description": "How many games to download. Leave empty to download all games.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "in": "query",
            "name": "vs",
            "description": "[Filter] Only games played against this opponent",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "rated",
            "description": "[Filter] Only rated (`true`) or casual (`false`) games",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "perfType",
            "description": "[Filter] Only games in these speeds or variants.\nMultiple perf types can be specified, separated by a comma.\nExample: blitz,rapid,classical\n",
            "schema": {
              "$ref": "#/components/schemas/PerfType"
            }
          },
          {
            "in": "query",
            "name": "color",
            "description": "[Filter] Only games played as this color.",
            "schema": {
              "type": "string",
              "enum": [
                "white",
                "black"
              ]
            }
          },
          {
            "in": "query",
            "name": "analysed",
            "description": "[Filter] Only games with or without a computer analysis available",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "moves",
            "description": "Include the PGN moves.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "pgnInJson",
            "description": "Include the full PGN within the JSON response, in a `pgn` field. The response type must be set to `application/x-ndjson` by the request `Accept` header.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "tags",
            "description": "Include the PGN tags.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "clocks",
            "description": "Include clock status when available.\nEither as PGN comments: `2. exd5 { [%clk 1:01:27] } e5 { [%clk 1:01:28] }`\nOr in a `clocks` JSON field, as centisecond integers, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "evals",
            "description": "Include analysis evaluations and comments, when available.\nEither as PGN comments: `12. Bxf6 { [%eval 0.23] } a3 { [%eval -1.09] }`\nOr in an `analysis` JSON field, depending on the response type.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "accuracy",
            "description": "Include [accuracy percent](https://lichess.org/page/accuracy) of each player, when available. Only available in JSON.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "opening",
            "description": "Include the opening name.\nExample: `[Opening \"King's Gambit Accepted, King's Knight Gambit\"]`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "division",
            "description": "Plies which mark the beginning of the middlegame and endgame.\nOnly available in JSON\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "ongoing",
            "description": "Ongoing games are delayed by a few seconds ranging from 3 to 60 depending on the time control, as to prevent cheat bots from using this API.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "finished",
            "description": "Include finished games. Set to `false` to only get ongoing games.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "in": "query",
            "name": "literate",
            "description": "Insert textual annotations in the PGN about the opening, analysis variations, mistakes, and game termination.\nExample: `5... g4? { (-0.98 → 0.60) Mistake. Best move was h6. } (5... h6 6. d4 Ne7 7. g3 d5 8. exd5 fxg3 9. hxg3 c6 10. dxc6)`\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "lastFen",
            "description": "Include the X-FEN notation of the last position of the game.\nThe response type must be set to `application/x-ndjson` by the request `Accept` header.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "withBookmarked",
            "description": "Add a `bookmarked: true` JSON field when the logged in user has bookmarked the game.\nThe response type must be set to `application/x-ndjson` by the request `Accept` header.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort order of the games.",
            "schema": {
              "type": "string",
              "default": "dateDesc",
              "enum": [
                "dateAsc",
                "dateDesc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The games of the user.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/GamePgn"
                    },
                    {
                      "$ref": "#/components/schemas/GameJson"
                    }
                  ]
                },
                "examples": {
                  "application/x-chess-pgn": {
                    "$ref": "#/components/examples/games-apiGamesUserPgn.pgn"
                  },
                  "application/x-ndjson": {
                    "$ref": "#/components/examples/games-apiGamesUserJson.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/player/autocomplete": {
      "get": {
        "operationId": "apiPlayerAutocomplete",
        "summary": "Autocomplete usernames",
        "description": "Provides autocompletion options for an incomplete username.\n",
        "tags": [
          "Users"
        ],
        "security": [
          {},
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "term",
            "description": "The beginning of a username",
            "schema": {
              "type": "string",
              "minLength": 3
            },
            "required": true
          },
          {
            "in": "query",
            "name": "exists",
            "description": "If `true`, only checks if the user exists.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "object",
            "description": "- `false` returns an array of usernames\n- `true` returns an object with matching users\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "names",
            "description": "- `false` returns an array of usernames\n- `true` returns an array of usernames with preferred casing\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "in": "query",
            "name": "friend",
            "description": "Returns followed players matching `term` if any, else returns other players.\nRequires [OAuth](#tag/OAuth).\n",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "team",
            "description": "Search within a team.\nUse team ID/slug.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tour",
            "description": "Search within a arena tournament.\nUse tournament ID.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "swiss",
            "description": "Search within a Swiss tournament.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "teacher",
            "description": "Only search for players who also have a teacher role.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of players which usernames start with the provided term.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/LightUserOnline"
                          }
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "list of usernames": {
                    "$ref": "#/components/examples/users-autocompleteUsernames-list.json"
                  },
                  "array of user objects": {
                    "$ref": "#/components/examples/users-autocompleteUsernames-object.json"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/challenge/{username}": {
      "post": {
        "operationId": "challengeCreate",
        "summary": "Create a challenge",
        "description": "Challenge someone to play. The targeted player can choose to accept or decline.\nIf the challenge is accepted, you will be notified on the [event stream](#tag/board/GET/api/board/game/stream/{gameId})\nthat a new game has started. The game ID will be the same as the challenge ID.\nChallenges for realtime games (not correspondence) expire after 20s if not accepted.\nTo prevent that, use the `keepAliveStream` flag described below.\n",
        "tags": [
          "Challenges"
        ],
        "security": [
          {
            "OAuth2": [
              "challenge:write",
              "bot:play",
              "board:play"
            ]
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "username",
            "schema": {
              "type": "string",
              "example": "LeelaChess"
            },
            "required": true
          }
        ],
        "requestBody": {
          "description": "Parameters of the challenge",
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "allOf": [
                  {
                    "oneOf": [
                      {
                        "type": "object",
                        "title": "real-time",
                        "required": [
                          "clock.limit",
                          "clock.increment"
                        ],
                        "properties": {
                          "clock.limit": {
                            "type": "integer",
                            "description": "Clock initial time in seconds. If empty, a correspondence game is created. Valid values are 0, 15, 30, 45, 60, 90, and any multiple of 60 up to 10800 (3 hours).",
                            "example": 300,
                            "minimum": 0,
                            "maximum": 10800
                          },
                          "clock.increment": {
                            "type": "integer",
                            "description": "Clock increment in seconds. If empty, a correspondence game is created.",
                            "example": 1,
                            "minimum": 0,
                            "maximum": 60
                          }
                        }
                      },
                      {
                        "type": "object",
                        "title": "correspondence",
                        "required": [
                          "days"
                        ],
                        "properties": {
                          "days": {
                            "type": "integer",
                            "description": "Days per move, for correspondence games. Clock settings must be omitted.",
                            "enum": [
                              1,
                              2,
                              3,
                              5,
                              7,
                              10,
                              14
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "title": "unlimited",
                        "properties": {}
                      }
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "rated": {
                        "type": "boolean",
                        "description": "Game is rated and impacts players ratings",
                        "default": false
                      },
                      "color": {
                        "$ref": "#/components/schemas/ChallengeColor",
                        "description": "Which color you get to play",
                        "default": "random"
                      },
                      "variant": {
                        "$ref": "#/components/schemas/VariantKey"
                      },
                      "fen": {
                        "$ref": "#/components/schemas/FromPositionFEN"
                      },
                      "keepAliveStream": {
                        "type": "boolean",
                        "description": "If set, the response is streamed as [ndjson](#description/streaming-with-nd-json).\nThe challenge is kept alive until the connection is closed by the client.\nWhen the challenge is accepted, declined or canceled, a message of the form `{\"done\":\"accepted\"}` is sent,\nthen the connection is closed by the server.\nIf not set, the response is not streamed, and the challenge expires after 20s if not accepted.\n"
                      },
                      "rules": {
                        "type": "string",
                        "enum": [
                          "noAbort",
                          "noRematch",
                          "noGiveTime",
                          "noClaimWin",
                          "noEarlyDraw"
                        ],
                        "description": "Extra game rules separated by commas.\nExample: `noAbort,noRematch`\n"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The challenge was successfully created.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "default": "'*'"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChallengeJson"
                },
                "examples": {
                  "default": {
                    "$ref": "#/components/examples/challenges-createChallenge.json"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The creation of the challenge failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Flair": {
        "type": "string",
        "description": "See [available flair list and images](https://github.com/lichess-org/lila/tree/master/public/flair)"
      },
      "Title": {
        "type": "string",
        "enum": [
          "GM",
          "WGM",
          "IM",
          "WIM",
          "FM",
          "WFM",
          "NM",
          "CM",
          "WCM",
          "WNM",
          "LM",
          "BOT"
        ],
        "description": "only appears if the user is a titled player or a bot user"
      },
      "Patron": {
        "type": "boolean",
        "deprecated": true,
        "description": "Use patronColor value instead to determine if player is a patron.\n"
      },
      "PatronColor": {
        "type": "integer",
        "description": "Players can choose a color for their Patron wings.\nSee [here for the color mappings](https://github.com/lichess-org/lila/blob/master/ui/lib/css/abstract/_patron-colors.scss).\n\nThe presence of this field indicates the player is an active Patron.\n",
        "minimum": 1,
        "maximum": 10
      },
      "TopUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "perfs": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "rating": {
                  "type": "integer"
                },
                "progress": {
                  "type": "integer"
                }
              },
              "required": [
                "rating",
                "progress"
              ]
            }
          },
          "title": {
            "$ref": "#/components/schemas/Title"
          },
          "patron": {
            "$ref": "#/components/schemas/Patron"
          },
          "patronColor": {
            "$ref": "#/components/schemas/PatronColor"
          },
          "online": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "username"
        ]
      },
      "PerfTop10": {
        "type": "array",
        "minItems": 10,
        "maxItems": 10,
        "items": {
          "$ref": "#/components/schemas/TopUser"
        }
      },
      "Top10s": {
        "type": "object",
        "properties": {
          "bullet": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "blitz": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "rapid": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "classical": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "ultraBullet": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "crazyhouse": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "chess960": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "kingOfTheHill": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "threeCheck": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "antichess": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "atomic": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "horde": {
            "$ref": "#/components/schemas/PerfTop10"
          },
          "racingKings": {
            "$ref": "#/components/schemas/PerfTop10"
          }
        },
        "required": [
          "bullet",
          "blitz",
          "rapid",
          "classical",
          "ultraBullet",
          "crazyhouse",
          "chess960",
          "kingOfTheHill",
          "threeCheck",
          "antichess",
          "atomic",
          "horde",
          "racingKings"
        ]
      },
      "Leaderboard": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TopUser"
            }
          }
        },
        "required": [
          "users"
        ]
      },
      "Perf": {
        "type": "object",
        "properties": {
          "games": {
            "type": "integer"
          },
          "rating": {
            "type": "integer"
          },
          "rd": {
            "type": "integer",
            "description": "rating deviation"
          },
          "prog": {
            "type": "integer"
          },
          "prov": {
            "type": "boolean",
            "description": "only appears if a user's perf rating are [provisional](https://lichess.org/faq#provisional)"
          },
          "rank": {
            "type": "integer",
            "description": "global lichess ranking, only appears for recently active players"
          }
        },
        "required": [
          "games",
          "rating",
          "rd",
          "prog"
        ]
      },
      "PuzzleModePerf": {
        "type": "object",
        "properties": {
          "runs": {
            "type": "integer"
          },
          "score": {
            "type": "integer"
          }
        },
        "required": [
          "runs",
          "score"
        ]
      },
      "Perfs": {
        "type": "object",
        "properties": {
          "chess960": {
            "$ref": "#/components/schemas/Perf"
          },
          "atomic": {
            "$ref": "#/components/schemas/Perf"
          },
          "racingKings": {
            "$ref": "#/components/schemas/Perf"
          },
          "ultraBullet": {
            "$ref": "#/components/schemas/Perf"
          },
          "blitz": {
            "$ref": "#/components/schemas/Perf"
          },
          "kingOfTheHill": {
            "$ref": "#/components/schemas/Perf"
          },
          "threeCheck": {
            "$ref": "#/components/schemas/Perf"
          },
          "antichess": {
            "$ref": "#/components/schemas/Perf"
          },
          "crazyhouse": {
            "$ref": "#/components/schemas/Perf"
          },
          "bullet": {
            "$ref": "#/components/schemas/Perf"
          },
          "correspondence": {
            "$ref": "#/components/schemas/Perf"
          },
          "horde": {
            "$ref": "#/components/schemas/Perf"
          },
          "puzzle": {
            "$ref": "#/components/schemas/Perf"
          },
          "classical": {
            "$ref": "#/components/schemas/Perf"
          },
          "rapid": {
            "$ref": "#/components/schemas/Perf"
          },
          "storm": {
            "$ref": "#/components/schemas/PuzzleModePerf"
          },
          "racer": {
            "$ref": "#/components/schemas/PuzzleModePerf"
          },
          "streak": {
            "$ref": "#/components/schemas/PuzzleModePerf"
          }
        }
      },
      "Profile": {
        "type": "object",
        "properties": {
          "flag": {
            "type": "string",
            "example": "EC"
          },
          "location": {
            "type": "string"
          },
          "bio": {
            "type": "string",
            "example": "Free bugs!"
          },
          "realName": {
            "type": "string",
            "example": "Thibault Duplessis"
          },
          "fideRating": {
            "type": "integer",
            "example": 1500,
            "description": "only appears if a user has set them"
          },
          "uscfRating": {
            "type": "integer",
            "example": 1500,
            "description": "only appears if a user has set them"
          },
          "ecfRating": {
            "type": "integer",
            "example": 1500,
            "description": "only appears if a user has set them"
          },
          "cfcRating": {
            "type": "integer",
            "example": 1500,
            "description": "only appears if a user has set them"
          },
          "rcfRating": {
            "type": "integer",
            "example": 1500,
            "description": "only appears if a user has set them"
          },
          "dsbRating": {
            "type": "integer",
            "example": 1500,
            "description": "only appears if a user has set them"
          },
          "links": {
            "type": "string",
            "example": "github.com/ornicar\r\nmas.to/@thibault"
          }
        }
      },
      "PlayTime": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "tv": {
            "type": "integer"
          },
          "human": {
            "type": "integer"
          }
        },
        "required": [
          "total",
          "tv"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "perfs": {
            "$ref": "#/components/schemas/Perfs"
          },
          "title": {
            "$ref": "#/components/schemas/Title"
          },
          "flair": {
            "$ref": "#/components/schemas/Flair"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "disabled": {
            "type": "boolean",
            "description": "only appears if a user's account is closed"
          },
          "tosViolation": {
            "type": "boolean",
            "description": "only appears if a user's account is marked for the violation of [Lichess TOS](https://lichess.org/terms-of-service)"
          },
          "profile": {
            "$ref": "#/components/schemas/Profile"
          },
          "seenAt": {
            "type": "integer",
            "format": "int64"
          },
          "playTime": {
            "$ref": "#/components/schemas/PlayTime"
          },
          "patron": {
            "$ref": "#/components/schemas/Patron"
          },
          "patronColor": {
            "$ref": "#/components/schemas/PatronColor"
          },
          "verified": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "username"
        ]
      },
      "Count": {
        "type": "object",
        "properties": {
          "all": {
            "type": "integer"
          },
          "rated": {
            "type": "integer"
          },
          "ai": {
            "type": "integer"
          },
          "draw": {
            "type": "integer"
          },
          "drawH": {
            "type": "integer"
          },
          "loss": {
            "type": "integer"
          },
          "lossH": {
            "type": "integer"
          },
          "win": {
            "type": "integer"
          },
          "winH": {
            "type": "integer"
          },
          "bookmark": {
            "type": "integer"
          },
          "playing": {
            "type": "integer"
          },
          "import": {
            "type": "integer"
          },
          "me": {
            "type": "integer"
          }
        },
        "required": [
          "all",
          "rated",
          "draw",
          "loss",
          "win",
          "bookmark",
          "playing",
          "import",
          "me"
        ]
      },
      "UserStreamer": {
        "type": "object",
        "properties": {
          "twitch": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string",
                "format": "uri",
                "example": "https://www.twitch.tv/lichessdotorg"
              }
            }
          },
          "youtube": {
            "type": "object",
            "properties": {
              "channel": {
                "type": "string",
                "format": "uri",
                "example": "https://www.youtube.com/c/LichessDotOrg"
              }
            }
          }
        }
      },
      "UserExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/User"
          },
          {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "format": "uri"
              },
              "playing": {
                "type": "string",
                "format": "uri"
              },
              "count": {
                "$ref": "#/components/schemas/Count"
              },
              "streaming": {
                "type": "boolean"
              },
              "streamer": {
                "$ref": "#/components/schemas/UserStreamer"
              },
              "followable": {
                "type": "boolean",
                "description": "only appears if the request is [authenticated with OAuth2](#description/authentication)"
              },
              "following": {
                "type": "boolean",
                "description": "only appears if the request is [authenticated with OAuth2](#description/authentication)"
              },
              "blocking": {
                "type": "boolean",
                "description": "only appears if the request is [authenticated with OAuth2](#description/authentication)"
              },
              "fideId": {
                "type": "number"
              }
            },
            "required": [
              "url"
            ]
          }
        ]
      },
      "RatingHistoryEntry": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "points": {
            "type": "array",
            "items": {
              "type": "array",
              "description": "[year, month, day, rating]",
              "items": {
                "type": "integer"
              },
              "minItems": 4,
              "maxItems": 4
            }
          }
        },
        "example": {
          "name": "Bullet",
          "points": [
            [
              2011,
              0,
              8,
              1472
            ],
            [
              2011,
              0,
              9,
              1332
            ],
            [
              2011,
              8,
              12,
              1314
            ]
          ]
        }
      },
      "RatingHistory": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/RatingHistoryEntry"
        },
        "example": [
          {
            "name": "Bullet",
            "points": [
              [
                2011,
                0,
                8,
                1472
              ],
              [
                2011,
                0,
                9,
                1332
              ],
              [
                2011,
                8,
                12,
                1314
              ]
            ]
          },
          {
            "name": "Blitz",
            "points": [
              [
                2011,
                7,
                29,
                1332
              ]
            ]
          }
        ]
      },
      "PerfType": {
        "type": "string",
        "enum": [
          "ultraBullet",
          "bullet",
          "blitz",
          "rapid",
          "classical",
          "correspondence",
          "chess960",
          "crazyhouse",
          "antichess",
          "atomic",
          "horde",
          "kingOfTheHill",
          "racingKings",
          "threeCheck"
        ]
      },
      "LightUser": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "flair": {
            "$ref": "#/components/schemas/Flair"
          },
          "title": {
            "$ref": "#/components/schemas/Title"
          },
          "patron": {
            "$ref": "#/components/schemas/Patron"
          },
          "patronColor": {
            "$ref": "#/components/schemas/PatronColor"
          }
        },
        "required": [
          "id",
          "name"
        ]
      },
      "PerfStat": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            },
            "required": [
              "name"
            ]
          },
          "perf": {
            "type": "object",
            "properties": {
              "glicko": {
                "type": "object",
                "properties": {
                  "rating": {
                    "type": "number"
                  },
                  "deviation": {
                    "type": "number"
                  },
                  "provisional": {
                    "type": "boolean"
                  }
                }
              },
              "nb": {
                "type": "integer"
              },
              "progress": {
                "type": "integer"
              }
            }
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ]
          },
          "percentile": {
            "type": "number"
          },
          "stat": {
            "type": "object",
            "properties": {
              "highest": {
                "type": "object",
                "properties": {
                  "int": {
                    "type": "integer"
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "gameId": {
                    "type": "string"
                  }
                },
                "required": [
                  "int",
                  "at",
                  "gameId"
                ]
              },
              "lowest": {
                "type": "object",
                "properties": {
                  "int": {
                    "type": "integer"
                  },
                  "at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "gameId": {
                    "type": "string"
                  }
                },
                "required": [
                  "int",
                  "at",
                  "gameId"
                ]
              },
              "bestWins": {
                "type": "object",
                "properties": {
                  "results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "opRating": {
                          "type": "integer"
                        },
                        "opId": {
                          "$ref": "#/components/schemas/LightUser"
                        },
                        "at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "gameId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "opRating",
                        "opId",
                        "at",
                        "gameId"
                      ]
                    }
                  }
                },
                "required": [
                  "results"
                ]
              },
              "worstLosses": {
                "type": "object",
                "properties": {
                  "results": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "opRating": {
                          "type": "integer"
                        },
                        "opId": {
                          "$ref": "#/components/schemas/LightUser"
                        },
                        "at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "gameId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "opRating",
                        "opId",
                        "at",
                        "gameId"
                      ]
                    }
                  }
                },
                "required": [
                  "results"
                ]
              },
              "count": {
                "type": "object",
                "properties": {
                  "all": {
                    "type": "integer"
                  },
                  "rated": {
                    "type": "integer"
                  },
                  "win": {
                    "type": "integer"
                  },
                  "loss": {
                    "type": "integer"
                  },
                  "draw": {
                    "type": "integer"
                  },
                  "tour": {
                    "type": "integer"
                  },
                  "berserk": {
                    "type": "integer"
                  },
                  "opAvg": {
                    "type": "number"
                  },
                  "seconds": {
                    "type": "integer"
                  },
                  "disconnects": {
                    "type": "integer"
                  }
                },
                "required": [
                  "all",
                  "rated",
                  "win",
                  "loss",
                  "draw",
                  "tour",
                  "berserk",
                  "opAvg",
                  "seconds",
                  "disconnects"
                ]
              },
              "resultStreak": {
                "type": "object",
                "properties": {
                  "win": {
                    "type": "object",
                    "properties": {
                      "cur": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          }
                        },
                        "required": [
                          "v"
                        ]
                      },
                      "max": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          }
                        },
                        "required": [
                          "v"
                        ]
                      }
                    },
                    "required": [
                      "cur",
                      "max"
                    ]
                  },
                  "loss": {
                    "type": "object",
                    "properties": {
                      "cur": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          }
                        },
                        "required": [
                          "v"
                        ]
                      },
                      "max": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          }
                        },
                        "required": [
                          "v"
                        ]
                      }
                    },
                    "required": [
                      "cur",
                      "max"
                    ]
                  }
                },
                "required": [
                  "win",
                  "loss"
                ]
              },
              "playStreak": {
                "type": "object",
                "properties": {
                  "nb": {
                    "type": "object",
                    "properties": {
                      "cur": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "v"
                        ]
                      },
                      "max": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          }
                        },
                        "required": [
                          "v"
                        ]
                      }
                    },
                    "required": [
                      "cur",
                      "max"
                    ]
                  },
                  "time": {
                    "type": "object",
                    "properties": {
                      "cur": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "v"
                        ]
                      },
                      "max": {
                        "type": "object",
                        "properties": {
                          "v": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "at": {
                                "type": "string",
                                "format": "date-time"
                              },
                              "gameId": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "at",
                              "gameId"
                            ]
                          }
                        },
                        "required": [
                          "v"
                        ]
                      }
                    },
                    "required": [
                      "cur",
                      "max"
                    ]
                  },
                  "lastDate": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "nb",
                  "time"
                ]
              }
            },
            "required": [
              "bestWins",
              "worstLosses",
              "count",
              "resultStreak",
              "playStreak"
            ]
          }
        },
        "required": [
          "user",
          "perf",
          "rank",
          "percentile",
          "stat"
        ]
      },
      "UserActivityScore": {
        "type": "object",
        "properties": {
          "win": {
            "type": "integer"
          },
          "loss": {
            "type": "integer"
          },
          "draw": {
            "type": "integer"
          },
          "rp": {
            "type": "object",
            "properties": {
              "before": {
                "type": "integer"
              },
              "after": {
                "type": "integer"
              }
            },
            "required": [
              "before",
              "after"
            ]
          }
        },
        "required": [
          "win",
          "loss",
          "draw",
          "rp"
        ]
      },
      "GameColor": {
        "type": "string",
        "enum": [
          "white",
          "black"
        ]
      },
      "VariantKey": {
        "type": "string",
        "enum": [
          "standard",
          "chess960",
          "crazyhouse",
          "antichess",
          "atomic",
          "horde",
          "kingOfTheHill",
          "racingKings",
          "threeCheck",
          "fromPosition"
        ],
        "example": "standard",
        "default": "standard"
      },
      "UserActivityCorrespondenceGame": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "color": {
            "$ref": "#/components/schemas/GameColor"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "variant": {
            "$ref": "#/components/schemas/VariantKey"
          },
          "speed": {
            "type": "string",
            "const": "correspondence"
          },
          "perf": {
            "type": "string",
            "const": "correspondence"
          },
          "rated": {
            "type": "boolean"
          },
          "opponent": {
            "oneOf": [
              {
                "type": "object",
                "required": [
                  "aiLevel"
                ],
                "properties": {
                  "aiLevel": {
                    "type": "integer"
                  }
                }
              },
              {
                "type": "object",
                "required": [
                  "user",
                  "rating"
                ],
                "properties": {
                  "user": {
                    "type": "string"
                  },
                  "rating": {
                    "type": "integer"
                  }
                }
              }
            ]
          }
        },
        "required": [
          "id",
          "color",
          "url",
          "opponent"
        ]
      },
      "UserActivityFollowList": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "nb": {
            "type": "integer"
          }
        },
        "required": [
          "ids"
        ]
      },
      "UserActivity": {
        "type": "object",
        "properties": {
          "interval": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer"
              },
              "end": {
                "type": "integer"
              }
            },
            "required": [
              "start",
              "end"
            ]
          },
          "games": {
            "type": "object",
            "properties": {
              "chess960": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "atomic": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "racingKings": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "ultraBullet": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "blitz": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "kingOfTheHill": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "bullet": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "correspondence": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "horde": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "puzzle": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "classical": {
                "$ref": "#/components/schemas/UserActivityScore"
              },
              "rapid": {
                "$ref": "#/components/schemas/UserActivityScore"
              }
            }
          },
          "puzzles": {
            "type": "object",
            "properties": {
              "score": {
                "$ref": "#/components/schemas/UserActivityScore"
              }
            }
          },
          "storm": {
            "$ref": "#/components/schemas/PuzzleModePerf"
          },
          "racer": {
            "$ref": "#/components/schemas/PuzzleModePerf"
          },
          "streak": {
            "$ref": "#/components/schemas/PuzzleModePerf"
          },
          "tournaments": {
            "type": "object",
            "properties": {
              "nb": {
                "type": "integer"
              },
              "best": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "tournament",
                    "nbGames",
                    "score",
                    "rank",
                    "rankPercent"
                  ],
                  "properties": {
                    "tournament": {
                      "type": "object",
                      "required": [
                        "id",
                        "name"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "nbGames": {
                      "type": "integer"
                    },
                    "score": {
                      "type": "integer"
                    },
                    "rank": {
                      "type": "integer"
                    },
                    "rankPercent": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "practice": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "url",
                "name",
                "nbPositions"
              ],
              "properties": {
                "url": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "nbPositions": {
                  "type": "integer"
                }
              }
            }
          },
          "simuls": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "correspondenceMoves": {
            "type": "object",
            "required": [
              "nb",
              "games"
            ],
            "properties": {
              "nb": {
                "type": "integer"
              },
              "games": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UserActivityCorrespondenceGame"
                }
              }
            }
          },
          "correspondenceEnds": {
            "type": "object",
            "properties": {
              "correspondence": {
                "type": "object",
                "properties": {
                  "score": {
                    "$ref": "#/components/schemas/UserActivityScore"
                  },
                  "games": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/UserActivityCorrespondenceGame"
                    }
                  }
                },
                "required": [
                  "score",
                  "games"
                ]
              }
            },
            "required": [
              "correspondence"
            ]
          },
          "follows": {
            "type": "object",
            "properties": {
              "in": {
                "$ref": "#/components/schemas/UserActivityFollowList"
              },
              "out": {
                "$ref": "#/components/schemas/UserActivityFollowList"
              }
            }
          },
          "studies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "name"
              ]
            }
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "url",
                "name"
              ],
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "name": {
                  "type": "string"
                },
                "flair": {
                  "$ref": "#/components/schemas/Flair"
                }
              }
            }
          },
          "posts": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "topicUrl",
                "topicName",
                "posts"
              ],
              "properties": {
                "topicUrl": {
                  "type": "string"
                },
                "topicName": {
                  "type": "string"
                },
                "posts": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "url",
                      "text"
                    ],
                    "properties": {
                      "url": {
                        "type": "string"
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "patron": {
            "type": "object",
            "required": [
              "months"
            ],
            "properties": {
              "months": {
                "type": "integer"
              }
            }
          },
          "stream": {
            "type": "boolean"
          }
        },
        "required": [
          "interval"
        ]
      },
      "PuzzleAndGame": {
        "type": "object",
        "properties": {
          "game": {
            "type": "object",
            "properties": {
              "clock": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "perf": {
                "type": "object",
                "properties": {
                  "key": {
                    "$ref": "#/components/schemas/PerfType"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "key",
                  "name"
                ]
              },
              "pgn": {
                "type": "string"
              },
              "players": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "color": {
                      "$ref": "#/components/schemas/GameColor"
                    },
                    "flair": {
                      "$ref": "#/components/schemas/Flair"
                    },
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "patron": {
                      "$ref": "#/components/schemas/Patron"
                    },
                    "patronColor": {
                      "$ref": "#/components/schemas/PatronColor"
                    },
                    "rating": {
                      "type": "integer"
                    },
                    "title": {
                      "$ref": "#/components/schemas/Title"
                    }
                  },
                  "required": [
                    "color",
                    "id",
                    "name",
                    "rating"
                  ]
                },
                "minItems": 2,
                "maxItems": 2
              },
              "rated": {
                "type": "boolean"
              }
            },
            "required": [
              "clock",
              "id",
              "perf",
              "pgn",
              "players",
              "rated"
            ],
            "additionalProperties": false
          },
          "puzzle": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "initialPly": {
                "type": "integer"
              },
              "plays": {
                "type": "integer"
              },
              "rating": {
                "type": "integer"
              },
              "fen": {
                "type": "string"
              },
              "lastMove": {
                "type": "string",
                "description": "In UCI format, e.g. \"e2e4\""
              },
              "solution": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "themes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "id",
              "initialPly",
              "plays",
              "rating",
              "solution",
              "themes"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "game",
          "puzzle"
        ]
      },
      "PuzzleGlicko": {
        "type": "object",
        "properties": {
          "rating": {
            "type": "number"
          },
          "deviation": {
            "type": "number"
          },
          "provisional": {
            "type": "boolean"
          }
        }
      },
      "PuzzleBatchSelect": {
        "type": "object",
        "properties": {
          "puzzles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PuzzleAndGame"
            }
          },
          "glicko": {
            "$ref": "#/components/schemas/PuzzleGlicko"
          }
        }
      },
      "PuzzleBatchSolveRequest": {
        "type": "object",
        "properties": {
          "solutions": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "win": {
                  "type": "boolean"
                },
                "rated": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "PuzzleBatchSolveResponse": {
        "type": "object",
        "properties": {
          "puzzles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PuzzleAndGame"
            }
          },
          "glicko": {
            "$ref": "#/components/schemas/PuzzleGlicko"
          },
          "rounds": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "win": {
                  "type": "boolean"
                },
                "ratingDiff": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "PuzzleActivity": {
        "type": "object",
        "properties": {
          "date": {
            "type": "integer"
          },
          "puzzle": {
            "type": "object",
            "properties": {
              "fen": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "lastMove": {
                "type": "string"
              },
              "plays": {
                "type": "integer"
              },
              "rating": {
                "type": "integer"
              },
              "solution": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "themes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "fen",
              "id",
              "lastMove",
              "plays",
              "rating",
              "solution",
              "themes"
            ]
          },
          "win": {
            "type": "boolean"
          }
        },
        "required": [
          "date",
          "puzzle",
          "win"
        ]
      },
      "PuzzleReplay": {
        "type": "object",
        "properties": {
          "replay": {
            "type": "object",
            "properties": {
              "days": {
                "type": "integer"
              },
              "theme": {
                "type": "string"
              },
              "nb": {
                "type": "integer"
              },
              "remaining": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "days",
              "theme",
              "nb",
              "remaining"
            ]
          },
          "angle": {
            "type": "object",
            "properties": {
              "key": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "desc": {
                "type": "string"
              }
            },
            "required": [
              "key",
              "name",
              "desc"
            ]
          }
        },
        "required": [
          "replay",
          "angle"
        ]
      },
      "PuzzlePerformance": {
        "type": "object",
        "properties": {
          "firstWins": {
            "type": "integer"
          },
          "nb": {
            "type": "integer"
          },
          "performance": {
            "type": "integer"
          },
          "puzzleRatingAvg": {
            "type": "integer"
          },
          "replayWins": {
            "type": "integer"
          }
        },
        "required": [
          "firstWins",
          "nb",
          "performance",
          "puzzleRatingAvg",
          "replayWins"
        ]
      },
      "PuzzleDashboard": {
        "type": "object",
        "properties": {
          "days": {
            "type": "integer"
          },
          "global": {
            "$ref": "#/components/schemas/PuzzlePerformance"
          },
          "themes": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "results": {
                  "$ref": "#/components/schemas/PuzzlePerformance"
                },
                "theme": {
                  "type": "string"
                }
              },
              "required": [
                "results",
                "theme"
              ]
            }
          }
        },
        "required": [
          "days",
          "global",
          "themes"
        ]
      },
      "PuzzleStormDashboard": {
        "type": "object",
        "properties": {
          "days": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "_id": {
                  "type": "string"
                },
                "combo": {
                  "type": "integer"
                },
                "errors": {
                  "type": "integer"
                },
                "highest": {
                  "type": "integer"
                },
                "moves": {
                  "type": "integer"
                },
                "runs": {
[...]
