{
    "swagger":  "2.0",
    "info":  {
                 "title":  "Google Health API",
                 "description":  "View and manage health and fitness metrics and measurement data from Fitbit, Pixel Watch, and other third-party devices and apps.",
                 "version":  "v4"
             },
    "host":  "health.googleapis.com",
    "basePath":  "/",
    "schemes":  [
                    "https"
                ],
    "securityDefinitions":  {
                                "Oauth2c":  {
                                                "type":  "oauth2",
                                                "flow":  "accessCode",
                                                "authorizationUrl":  "https://accounts.google.com/o/oauth2/auth",
                                                "tokenUrl":  "https://oauth2.googleapis.com/token",
                                                "scopes":  {
                                                               "https://www.googleapis.com/auth/googlehealth.ecg.readonly":  "See your Google Health ECG data",
                                                               "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly":  "Add nutrition data to Google Health, and edit or delete the data it adds.",
                                                               "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly":  "See your Google Health activity and fitness data",
                                                               "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly":  "Add activity and fitness data to Google Health, and edit or delete the data it adds.",
                                                               "https://www.googleapis.com/auth/cloud-platform":  "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.",
                                                               "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly":  "Add health metric and measurements data to Google Health, and edit or delete the data it adds.",
                                                               "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly":  "See your Google Health health metrics and measurement data",
                                                               "https://www.googleapis.com/auth/googlehealth.settings.readonly":  "See your Google Health settings",
                                                               "https://www.googleapis.com/auth/googlehealth.location.readonly":  "See exercise GPS location data in Google Health",
                                                               "https://www.googleapis.com/auth/googlehealth.profile.writeonly":  "Add profile data to Google Health, and edit or delete the data it adds.",
                                                               "https://www.googleapis.com/auth/googlehealth.sleep.readonly":  "See your Google Health sleep data",
                                                               "https://www.googleapis.com/auth/googlehealth.profile.readonly":  "See your Google Health profile data",
                                                               "https://www.googleapis.com/auth/googlehealth.irn.readonly":  "See your Google Health Irregular Rhythm Notifications data",
                                                               "https://www.googleapis.com/auth/googlehealth.location.writeonly":  "Add exercise GPS location data to Google Health, and edit or delete the data it adds.",
                                                               "https://www.googleapis.com/auth/googlehealth.sleep.writeonly":  "Add sleep data to Google Health, and edit or delete the data it adds.",
                                                               "https://www.googleapis.com/auth/googlehealth.settings.writeonly":  "Add settings data to Google Health, and edit or delete the data it adds."
                                                           }
                                            }
                            },
    "paths":  {
                  "/v4/projects/{projectsId}/subscribers":  {
                                                                "post":  {
                                                                             "operationId":  "projects.subscribers.create",
                                                                             "description":  "Registers a new subscriber endpoint to receive notifications. A subscriber represents an application or service that wishes to receive data change notifications for users who have granted consent. **Endpoint Verification:** For a subscriber to be successfully created, the provided `endpoint_uri` must be a valid HTTPS endpoint and must pass an automated verification check. The backend will send two HTTP POST requests to the `endpoint_uri`: 1. **Verification with Authorization:** * **Headers:** Includes `Content-Type: application/json` and `Authorization` (with the exact value from `CreateSubscriberPayload.endpoint_authorization.secret`). * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `201 Created`. 2. **Verification without Authorization:** * **Headers:** Includes `Content-Type: application/json`. The `Authorization` header is OMITTED. * **Body:** `{\"type\": \"verification\"}` * **Expected Response:** HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass for the subscriber creation to succeed. If verification fails, the operation will not be completed and an error will be returned. This process ensures the endpoint is reachable and correctly validates the `Authorization` header.",
                                                                             "tags":  [
                                                                                          "projects.subscribers"
                                                                                      ],
                                                                             "parameters":  [
                                                                                                {
                                                                                                    "name":  "projectsId",
                                                                                                    "in":  "path",
                                                                                                    "required":  true,
                                                                                                    "type":  "string"
                                                                                                },
                                                                                                {
                                                                                                    "name":  "subscriberId",
                                                                                                    "in":  "query",
                                                                                                    "required":  false,
                                                                                                    "description":  "Optional. The ID to use for the subscriber, which will become the final component of the subscriber\u0027s resource name. This value should be 4-36 characters, and valid characters are /[a-z]([a-z0-9-]{2,34}[a-z0-9])/.",
                                                                                                    "type":  "string"
                                                                                                },
                                                                                                {
                                                                                                    "name":  "body",
                                                                                                    "in":  "body",
                                                                                                    "required":  true,
                                                                                                    "schema":  {
                                                                                                                   "$ref":  "#/definitions/CreateSubscriberPayload"
                                                                                                               }
                                                                                                }
                                                                                            ],
                                                                             "responses":  {
                                                                                               "200":  {
                                                                                                           "description":  "Successful response",
                                                                                                           "schema":  {
                                                                                                                          "$ref":  "#/definitions/Operation"
                                                                                                                      }
                                                                                                       }
                                                                                           },
                                                                             "security":  [
                                                                                              {
                                                                                                  "Oauth2c":  [
                                                                                                                  "https://www.googleapis.com/auth/cloud-platform"
                                                                                                              ]
                                                                                              }
                                                                                          ]
                                                                         },
                                                                "get":  {
                                                                            "operationId":  "projects.subscribers.list",
                                                                            "description":  "Lists all subscribers registered within the owned Google Cloud Project.",
                                                                            "tags":  [
                                                                                         "projects.subscribers"
                                                                                     ],
                                                                            "parameters":  [
                                                                                               {
                                                                                                   "name":  "projectsId",
                                                                                                   "in":  "path",
                                                                                                   "required":  true,
                                                                                                   "type":  "string"
                                                                                               },
                                                                                               {
                                                                                                   "name":  "pageSize",
                                                                                                   "in":  "query",
                                                                                                   "required":  false,
                                                                                                   "description":  "Optional. The maximum number of subscribers to return. The service may return fewer than this value. If unspecified, at most 50 subscribers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                                                                                                   "type":  "integer",
                                                                                                   "format":  "int32"
                                                                                               },
                                                                                               {
                                                                                                   "name":  "pageToken",
                                                                                                   "in":  "query",
                                                                                                   "required":  false,
                                                                                                   "description":  "Optional. A page token, received from a previous `ListSubscribers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscribers` must match the call that provided the page token.",
                                                                                                   "type":  "string"
                                                                                               }
                                                                                           ],
                                                                            "responses":  {
                                                                                              "200":  {
                                                                                                          "description":  "Successful response",
                                                                                                          "schema":  {
                                                                                                                         "$ref":  "#/definitions/ListSubscribersResponse"
                                                                                                                     }
                                                                                                      }
                                                                                          },
                                                                            "security":  [
                                                                                             {
                                                                                                 "Oauth2c":  [
                                                                                                                 "https://www.googleapis.com/auth/cloud-platform"
                                                                                                             ]
                                                                                             }
                                                                                         ]
                                                                        }
                                                            },
                  "/v4/projects/{projectsId}/subscribers/{subscribersId}":  {
                                                                                "patch":  {
                                                                                              "operationId":  "projects.subscribers.patch",
                                                                                              "description":  "Updates the configuration of an existing subscriber, such as the endpoint URI or the data types it\u0027s interested in. **Endpoint Verification:** If the `endpoint_uri` or `endpoint_authorization` field is included in the `update_mask`, the backend will re-verify the endpoint. The verification process is the same as described in `CreateSubscriber`: 1. **Verification with Authorization:** POST to the new or existing `endpoint_uri` with the new or existing `Authorization` secret. Expects HTTP `201 Created`. 2. **Verification without Authorization:** POST to the `endpoint_uri` without the `Authorization` header. Expects HTTP `401 Unauthorized` or `403 Forbidden`. Both tests must pass using the potentially updated values for the subscriber update to succeed. If verification fails, the update will not be applied, and an error will be returned.",
                                                                                              "tags":  [
                                                                                                           "projects.subscribers"
                                                                                                       ],
                                                                                              "parameters":  [
                                                                                                                 {
                                                                                                                     "name":  "projectsId",
                                                                                                                     "in":  "path",
                                                                                                                     "required":  true,
                                                                                                                     "type":  "string"
                                                                                                                 },
                                                                                                                 {
                                                                                                                     "name":  "subscribersId",
                                                                                                                     "in":  "path",
                                                                                                                     "required":  true,
                                                                                                                     "type":  "string"
                                                                                                                 },
                                                                                                                 {
                                                                                                                     "name":  "updateMask",
                                                                                                                     "in":  "query",
                                                                                                                     "required":  false,
                                                                                                                     "description":  "Optional. A field mask that specifies which fields of the Subscriber message are to be updated. This allows for partial updates. Supported fields: - endpoint_uri - subscriber_configs - endpoint_authorization",
                                                                                                                     "type":  "string"
                                                                                                                 },
                                                                                                                 {
                                                                                                                     "name":  "body",
                                                                                                                     "in":  "body",
                                                                                                                     "required":  true,
                                                                                                                     "schema":  {
                                                                                                                                    "$ref":  "#/definitions/Subscriber"
                                                                                                                                }
                                                                                                                 }
                                                                                                             ],
                                                                                              "responses":  {
                                                                                                                "200":  {
                                                                                                                            "description":  "Successful response",
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/definitions/Operation"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            },
                                                                                              "security":  [
                                                                                                               {
                                                                                                                   "Oauth2c":  [
                                                                                                                                   "https://www.googleapis.com/auth/cloud-platform"
                                                                                                                               ]
                                                                                                               }
                                                                                                           ]
                                                                                          },
                                                                                "delete":  {
                                                                                               "operationId":  "projects.subscribers.delete",
                                                                                               "description":  "Deletes a subscriber registration. This will stop all notifications to the subscriber\u0027s endpoint.",
                                                                                               "tags":  [
                                                                                                            "projects.subscribers"
                                                                                                        ],
                                                                                               "parameters":  [
                                                                                                                  {
                                                                                                                      "name":  "projectsId",
                                                                                                                      "in":  "path",
                                                                                                                      "required":  true,
                                                                                                                      "type":  "string"
                                                                                                                  },
                                                                                                                  {
                                                                                                                      "name":  "subscribersId",
                                                                                                                      "in":  "path",
                                                                                                                      "required":  true,
                                                                                                                      "type":  "string"
                                                                                                                  },
                                                                                                                  {
                                                                                                                      "name":  "force",
                                                                                                                      "in":  "query",
                                                                                                                      "required":  false,
                                                                                                                      "description":  "Optional. If set to true, any child resources (e.g., subscriptions) will also be deleted. If false (default) and child resources exist, the request will fail.",
                                                                                                                      "type":  "boolean"
                                                                                                                  }
                                                                                                              ],
                                                                                               "responses":  {
                                                                                                                 "200":  {
                                                                                                                             "description":  "Successful response",
                                                                                                                             "schema":  {
                                                                                                                                            "$ref":  "#/definitions/Operation"
                                                                                                                                        }
                                                                                                                         }
                                                                                                             },
                                                                                               "security":  [
                                                                                                                {
                                                                                                                    "Oauth2c":  [
                                                                                                                                    "https://www.googleapis.com/auth/cloud-platform"
                                                                                                                                ]
                                                                                                                }
                                                                                                            ]
                                                                                           }
                                                                            },
                  "/v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions":  {
                                                                                              "post":  {
                                                                                                           "operationId":  "projects.subscribers.subscriptions.create",
                                                                                                           "description":  "Creates a subscription for a specific user to a specific subscriber. This method requires the subscriber to have a `SubscriptionCreatePolicy` set to `MANUAL` for the given data types.",
                                                                                                           "tags":  [
                                                                                                                        "projects.subscribers.subscriptions"
                                                                                                                    ],
                                                                                                           "parameters":  [
                                                                                                                              {
                                                                                                                                  "name":  "projectsId",
                                                                                                                                  "in":  "path",
                                                                                                                                  "required":  true,
                                                                                                                                  "type":  "string"
                                                                                                                              },
                                                                                                                              {
                                                                                                                                  "name":  "subscribersId",
                                                                                                                                  "in":  "path",
                                                                                                                                  "required":  true,
                                                                                                                                  "type":  "string"
                                                                                                                              },
                                                                                                                              {
                                                                                                                                  "name":  "subscriptionId",
                                                                                                                                  "in":  "query",
                                                                                                                                  "required":  false,
                                                                                                                                  "description":  "Optional. The {subscription_id} is user-settable (4-36 chars, matching /[a-z]([a-z0-9-]{2,34}[a-z0-9])/) or system-generated otherwise. If provided, the ID must be unique within the parent subscriber.",
                                                                                                                                  "type":  "string"
                                                                                                                              },
                                                                                                                              {
                                                                                                                                  "name":  "body",
                                                                                                                                  "in":  "body",
                                                                                                                                  "required":  true,
                                                                                                                                  "schema":  {
                                                                                                                                                 "$ref":  "#/definitions/CreateSubscriptionPayload"
                                                                                                                                             }
                                                                                                                              }
                                                                                                                          ],
                                                                                                           "responses":  {
                                                                                                                             "200":  {
                                                                                                                                         "description":  "Successful response",
                                                                                                                                         "schema":  {
                                                                                                                                                        "$ref":  "#/definitions/Subscription"
                                                                                                                                                    }
                                                                                                                                     }
                                                                                                                         },
                                                                                                           "security":  [
                                                                                                                            {
                                                                                                                                "Oauth2c":  [
                                                                                                                                                "https://www.googleapis.com/auth/cloud-platform"
                                                                                                                                            ]
                                                                                                                            }
                                                                                                                        ]
                                                                                                       },
                                                                                              "get":  {
                                                                                                          "operationId":  "projects.subscribers.subscriptions.list",
                                                                                                          "description":  "Lists all active subscriptions for a given subscriber. This can be filtered, for example, by user or data type.",
                                                                                                          "tags":  [
                                                                                                                       "projects.subscribers.subscriptions"
                                                                                                                   ],
                                                                                                          "parameters":  [
                                                                                                                             {
                                                                                                                                 "name":  "projectsId",
                                                                                                                                 "in":  "path",
                                                                                                                                 "required":  true,
                                                                                                                                 "type":  "string"
                                                                                                                             },
                                                                                                                             {
                                                                                                                                 "name":  "subscribersId",
                                                                                                                                 "in":  "path",
                                                                                                                                 "required":  true,
                                                                                                                                 "type":  "string"
                                                                                                                             },
                                                                                                                             {
                                                                                                                                 "name":  "pageToken",
                                                                                                                                 "in":  "query",
                                                                                                                                 "required":  false,
                                                                                                                                 "description":  "Optional. A page token, received from a previous `ListSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptions` must match the call that provided the page token.",
                                                                                                                                 "type":  "string"
                                                                                                                             },
                                                                                                                             {
                                                                                                                                 "name":  "pageSize",
                                                                                                                                 "in":  "query",
                                                                                                                                 "required":  false,
                                                                                                                                 "description":  "Optional. The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                                                                                                                                 "type":  "integer",
                                                                                                                                 "format":  "int32"
                                                                                                                             },
                                                                                                                             {
                                                                                                                                 "name":  "filter",
                                                                                                                                 "in":  "query",
                                                                                                                                 "required":  false,
                                                                                                                                 "description":  "Optional. A filter to apply to the list of subscriptions. The filter syntax is described in https://google.aip.dev/160. The filter can be applied to the following fields: - `user` - `data_type` The `user` identifier (e.g., `user1` in `users/user1`) refers to the public `health_user_id` Example: user = \"users/user1\" Example: user = \"users/user1\" OR user = \"users/user2\" Example: user = \"users/user1\" AND (data_type = \"sleep\" OR data_type = \"weight\")",
                                                                                                                                 "type":  "string"
                                                                                                                             }
                                                                                                                         ],
                                                                                                          "responses":  {
                                                                                                                            "200":  {
                                                                                                                                        "description":  "Successful response",
                                                                                                                                        "schema":  {
                                                                                                                                                       "$ref":  "#/definitions/ListSubscriptionsResponse"
                                                                                                                                                   }
                                                                                                                                    }
                                                                                                                        },
                                                                                                          "security":  [
                                                                                                                           {
                                                                                                                               "Oauth2c":  [
                                                                                                                                               "https://www.googleapis.com/auth/cloud-platform"
                                                                                                                                           ]
                                                                                                                           }
                                                                                                                       ]
                                                                                                      }
                                                                                          },
                  "/v4/projects/{projectsId}/subscribers/{subscribersId}/subscriptions/{subscriptionsId}":  {
                                                                                                                "patch":  {
                                                                                                                              "operationId":  "projects.subscribers.subscriptions.patch",
                                                                                                                              "description":  "Updates the data types for an existing user subscription.",
                                                                                                                              "tags":  [
                                                                                                                                           "projects.subscribers.subscriptions"
                                                                                                                                       ],
                                                                                                                              "parameters":  [
                                                                                                                                                 {
                                                                                                                                                     "name":  "projectsId",
                                                                                                                                                     "in":  "path",
                                                                                                                                                     "required":  true,
                                                                                                                                                     "type":  "string"
                                                                                                                                                 },
                                                                                                                                                 {
                                                                                                                                                     "name":  "subscribersId",
                                                                                                                                                     "in":  "path",
                                                                                                                                                     "required":  true,
                                                                                                                                                     "type":  "string"
                                                                                                                                                 },
                                                                                                                                                 {
                                                                                                                                                     "name":  "subscriptionsId",
                                                                                                                                                     "in":  "path",
                                                                                                                                                     "required":  true,
                                                                                                                                                     "type":  "string"
                                                                                                                                                 },
                                                                                                                                                 {
                                                                                                                                                     "name":  "updateMask",
                                                                                                                                                     "in":  "query",
                                                                                                                                                     "required":  false,
                                                                                                                                                     "description":  "Optional. The list of fields to update.",
                                                                                                                                                     "type":  "string"
                                                                                                                                                 },
                                                                                                                                                 {
                                                                                                                                                     "name":  "body",
                                                                                                                                                     "in":  "body",
                                                                                                                                                     "required":  true,
                                                                                                                                                     "schema":  {
                                                                                                                                                                    "$ref":  "#/definitions/Subscription"
                                                                                                                                                                }
                                                                                                                                                 }
                                                                                                                                             ],
                                                                                                                              "responses":  {
                                                                                                                                                "200":  {
                                                                                                                                                            "description":  "Successful response",
                                                                                                                                                            "schema":  {
                                                                                                                                                                           "$ref":  "#/definitions/Subscription"
                                                                                                                                                                       }
                                                                                                                                                        }
                                                                                                                                            },
                                                                                                                              "security":  [
                                                                                                                                               {
                                                                                                                                                   "Oauth2c":  [
                                                                                                                                                                   "https://www.googleapis.com/auth/cloud-platform"
                                                                                                                                                               ]
                                                                                                                                               }
                                                                                                                                           ]
                                                                                                                          },
                                                                                                                "delete":  {
                                                                                                                               "operationId":  "projects.subscribers.subscriptions.delete",
                                                                                                                               "description":  "Deletes a specific user subscription, stopping notifications for this user to this subscriber.",
                                                                                                                               "tags":  [
                                                                                                                                            "projects.subscribers.subscriptions"
                                                                                                                                        ],
                                                                                                                               "parameters":  [
                                                                                                                                                  {
                                                                                                                                                      "name":  "projectsId",
                                                                                                                                                      "in":  "path",
                                                                                                                                                      "required":  true,
                                                                                                                                                      "type":  "string"
                                                                                                                                                  },
                                                                                                                                                  {
                                                                                                                                                      "name":  "subscribersId",
                                                                                                                                                      "in":  "path",
                                                                                                                                                      "required":  true,
                                                                                                                                                      "type":  "string"
                                                                                                                                                  },
                                                                                                                                                  {
                                                                                                                                                      "name":  "subscriptionsId",
                                                                                                                                                      "in":  "path",
                                                                                                                                                      "required":  true,
                                                                                                                                                      "type":  "string"
                                                                                                                                                  }
                                                                                                                                              ],
                                                                                                                               "responses":  {
                                                                                                                                                 "200":  {
                                                                                                                                                             "description":  "Successful response",
                                                                                                                                                             "schema":  {
                                                                                                                                                                            "$ref":  "#/definitions/Empty"
                                                                                                                                                                        }
                                                                                                                                                         }
                                                                                                                                             },
                                                                                                                               "security":  [
                                                                                                                                                {
                                                                                                                                                    "Oauth2c":  [
                                                                                                                                                                    "https://www.googleapis.com/auth/cloud-platform"
                                                                                                                                                                ]
                                                                                                                                                }
                                                                                                                                            ]
                                                                                                                           }
                                                                                                            },
                  "/v4/users/{usersId}/settings":  {
                                                       "patch":  {
                                                                     "operationId":  "users.updateSettings",
                                                                     "description":  "Updates the user\u0027s settings details.",
                                                                     "tags":  [
                                                                                  "users"
                                                                              ],
                                                                     "parameters":  [
                                                                                        {
                                                                                            "name":  "usersId",
                                                                                            "in":  "path",
                                                                                            "required":  true,
                                                                                            "type":  "string"
                                                                                        },
                                                                                        {
                                                                                            "name":  "updateMask",
                                                                                            "in":  "query",
                                                                                            "required":  false,
                                                                                            "description":  "Optional. The list of fields to be updated.",
                                                                                            "type":  "string"
                                                                                        },
                                                                                        {
                                                                                            "name":  "body",
                                                                                            "in":  "body",
                                                                                            "required":  true,
                                                                                            "schema":  {
                                                                                                           "$ref":  "#/definitions/Settings"
                                                                                                       }
                                                                                        }
                                                                                    ],
                                                                     "responses":  {
                                                                                       "200":  {
                                                                                                   "description":  "Successful response",
                                                                                                   "schema":  {
                                                                                                                  "$ref":  "#/definitions/Settings"
                                                                                                              }
                                                                                               }
                                                                                   },
                                                                     "security":  [
                                                                                      {
                                                                                          "Oauth2c":  [
                                                                                                          "https://www.googleapis.com/auth/googlehealth.settings.writeonly"
                                                                                                      ]
                                                                                      }
                                                                                  ]
                                                                 },
                                                       "get":  {
                                                                   "operationId":  "users.getSettings",
                                                                   "description":  "Returns user settings details.",
                                                                   "tags":  [
                                                                                "users"
                                                                            ],
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "usersId",
                                                                                          "in":  "path",
                                                                                          "required":  true,
                                                                                          "type":  "string"
                                                                                      }
                                                                                  ],
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "Successful response",
                                                                                                 "schema":  {
                                                                                                                "$ref":  "#/definitions/Settings"
                                                                                                            }
                                                                                             }
                                                                                 },
                                                                   "security":  [
                                                                                    {
                                                                                        "Oauth2c":  [
                                                                                                        "https://www.googleapis.com/auth/googlehealth.settings.readonly"
                                                                                                    ]
                                                                                    }
                                                                                ]
                                                               }
                                                   },
                  "/v4/users/{usersId}/profile":  {
                                                      "patch":  {
                                                                    "operationId":  "users.updateProfile",
                                                                    "description":  "Updates the user\u0027s profile details.",
                                                                    "tags":  [
                                                                                 "users"
                                                                             ],
                                                                    "parameters":  [
                                                                                       {
                                                                                           "name":  "usersId",
                                                                                           "in":  "path",
                                                                                           "required":  true,
                                                                                           "type":  "string"
                                                                                       },
                                                                                       {
                                                                                           "name":  "updateMask",
                                                                                           "in":  "query",
                                                                                           "required":  false,
                                                                                           "description":  "Optional. The list of fields to be updated.",
                                                                                           "type":  "string"
                                                                                       },
                                                                                       {
                                                                                           "name":  "body",
                                                                                           "in":  "body",
                                                                                           "required":  true,
                                                                                           "schema":  {
                                                                                                          "$ref":  "#/definitions/Profile"
                                                                                                      }
                                                                                       }
                                                                                   ],
                                                                    "responses":  {
                                                                                      "200":  {
                                                                                                  "description":  "Successful response",
                                                                                                  "schema":  {
                                                                                                                 "$ref":  "#/definitions/Profile"
                                                                                                             }
                                                                                              }
                                                                                  },
                                                                    "security":  [
                                                                                     {
                                                                                         "Oauth2c":  [
                                                                                                         "https://www.googleapis.com/auth/googlehealth.profile.writeonly"
                                                                                                     ]
                                                                                     }
                                                                                 ]
                                                                },
                                                      "get":  {
                                                                  "operationId":  "users.getProfile",
                                                                  "description":  "Returns user Profile details.",
                                                                  "tags":  [
                                                                               "users"
                                                                           ],
                                                                  "parameters":  [
                                                                                     {
                                                                                         "name":  "usersId",
                                                                                         "in":  "path",
                                                                                         "required":  true,
                                                                                         "type":  "string"
                                                                                     }
                                                                                 ],
                                                                  "responses":  {
                                                                                    "200":  {
                                                                                                "description":  "Successful response",
                                                                                                "schema":  {
                                                                                                               "$ref":  "#/definitions/Profile"
                                                                                                           }
                                                                                            }
                                                                                },
                                                                  "security":  [
                                                                                   {
                                                                                       "Oauth2c":  [
                                                                                                       "https://www.googleapis.com/auth/googlehealth.profile.readonly"
                                                                                                   ]
                                                                                   }
                                                                               ]
                                                              }
                                                  },
                  "/v4/users/{usersId}/identity":  {
                                                       "get":  {
                                                                   "operationId":  "users.getIdentity",
                                                                   "description":  "Gets the user\u0027s identity. It includes the legacy Fitbit user ID and the Google user ID and it can be used by migrating clients to map identifiers between the two systems.",
                                                                   "tags":  [
                                                                                "users"
                                                                            ],
                                                                   "parameters":  [
                                                                                      {
                                                                                          "name":  "usersId",
                                                                                          "in":  "path",
                                                                                          "required":  true,
                                                                                          "type":  "string"
                                                                                      }
                                                                                  ],
                                                                   "responses":  {
                                                                                     "200":  {
                                                                                                 "description":  "Successful response",
                                                                                                 "schema":  {
                                                                                                                "$ref":  "#/definitions/Identity"
                                                                                                            }
                                                                                             }
                                                                                 },
                                                                   "security":  [
                                                                                    {
                                                                                        "Oauth2c":  [
                                                                                                        "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.readonly",
                                                                                                        "https://www.googleapis.com/auth/googlehealth.ecg.readonly",
                                                                                                        "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.readonly",
                                                                                                        "https://www.googleapis.com/auth/googlehealth.irn.readonly",
                                                                                                        "https://www.googleapis.com/auth/googlehealth.profile.readonly",
                                                                                                        "https://www.googleapis.com/auth/googlehealth.settings.readonly",
                                                                                                        "https://www.googleapis.com/auth/googlehealth.sleep.readonly"
                                                                                                    ]
                                                                                    }
                                                                                ]
                                                               }
                                                   },
                  "/v4/users/{usersId}/irnProfile":  {
                                                         "get":  {
                                                                     "operationId":  "users.getIrnProfile",
                                                                     "description":  "Returns user\u0027s IRN Profile details.",
                                                                     "tags":  [
                                                                                  "users"
                                                                              ],
                                                                     "parameters":  [
                                                                                        {
                                                                                            "name":  "usersId",
                                                                                            "in":  "path",
                                                                                            "required":  true,
                                                                                            "type":  "string"
                                                                                        }
                                                                                    ],
                                                                     "responses":  {
                                                                                       "200":  {
                                                                                                   "description":  "Successful response",
                                                                                                   "schema":  {
                                                                                                                  "$ref":  "#/definitions/IrnProfile"
                                                                                                              }
                                                                                               }
                                                                                   },
                                                                     "security":  [
                                                                                      {
                                                                                          "Oauth2c":  [
                                                                                                          "https://www.googleapis.com/auth/googlehealth.irn.readonly"
                                                                                                      ]
                                                                                      }
                                                                                  ]
                                                                 }
                                                     },
                  "/v4/users/{usersId}/dataTypes/{dataTypesId}/dataPoints":  {
                                                                                 "post":  {
                                                                                              "operationId":  "users.dataTypes.dataPoints.create",
                                                                                              "description":  "Creates a single identifiable data point.",
                                                                                              "tags":  [
                                                                                                           "users.dataTypes.dataPoints"
                                                                                                       ],
                                                                                              "parameters":  [
                                                                                                                 {
                                                                                                                     "name":  "usersId",
                                                                                                                     "in":  "path",
                                                                                                                     "required":  true,
                                                                                                                     "type":  "string"
                                                                                                                 },
                                                                                                                 {
                                                                                                                     "name":  "dataTypesId",
                                                                                                                     "in":  "path",
                                                                                                                     "required":  true,
                                                                                                                     "type":  "string"
                                                                                                                 },
                                                                                                                 {
                                                                                                                     "name":  "body",
                                                                                                                     "in":  "body",
                                                                                                                     "required":  true,
                                                                                                                     "schema":  {
                                                                                                                                    "$ref":  "#/definitions/DataPoint"
                                                                                                                                }
                                                                                                                 }
                                                                                                             ],
                                                                                              "responses":  {
                                                                                                                "200":  {
                                                                                                                            "description":  "Successful response",
                                                                                                                            "schema":  {
                                                                                                                                           "$ref":  "#/definitions/Operation"
                                                                                                                                       }
                                                                                                                        }
                                                                                                            },
                                                                                              "security":  [
                                                                                                               {
                                                                                                                   "Oauth2c":  [
                                                                                                                                   "https://www.googleapis.com/auth/googlehealth.activity_and_fitness.writeonly",
                                                                                                                                   "https://www.googleapis.com/auth/googlehealth.health_metrics_and_measurements.writeonly",
                                                                                                                                   "https://www.googleapis.com/auth/googlehealth.location.writeonly",
                                                                                                                                   "https://www.googleapis.com/auth/googlehealth.nutrition.writeonly",
                                                                                                                                   "https://www.googleapis.com/auth/googlehealth.sleep.writeonly"
                                                                                                                               ]
                                                                                                               }
                                                                                                           ]
                                                                                          },
                                                                                 "get":  {
                                                                                             "operationId":  "users.dataTypes.dataPoints.list",
                                                                                             "description":  "Query user health and fitness data points.",
                                                                                             "tags":  [
                                                                                                          "users.dataTypes.dataPoints"
                                                                                                      ],
                                                                                             "parameters":  [
                                                                                                                {
                                                                                                                    "name":  "usersId",
                                                                                                                    "in":  "path",
                                                                                                                    "required":  true,
                                                                                                                    "type":  "string"
                                                                                                                },
                                                                                                                {
                                                                                                                    "name":  "dataTypesId",
                                                                                                                    "in":  "path",
                                                                                                                    "required":  true,
                                                                                                                    "type":  "string"
                                                                                                                },
                                                                                                                {
                                                                                                                    "name":  "pageSize",
                                                                                                                    "in":  "query",
                                                                                                                    "required":  false,
                                                                                                                    "description":  "Optional. The maximum number of data points to return. If unspecified, at most 1440 data points will be returned. The maximum page size is 10000; values above that will be truncated accordingly. For `exercise` and `sleep` the default page size is 25. The maximum page size for `exercise` and `sleep` is 25.",
                                                                                                                    "type":  "integer",
                                                                                                                    "format":  "int32"
                                                                                                                },
                                                                                                                {
                                                                                                                    "name":  "filter",
                                                                                                                    "in":  "query",
                                                                                                                    "required":  false,
                                                                                                                    "description":  "Optional. Filter expression following https://google.aip.dev/160. A time range (either physical or civil) can be specified. The supported filter fields are: - Interval start time: - Pattern: `{interval_data_type}.interval.start_time` - Supported comparison operators: `\u003e=`, `\u003c` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `steps.interval.start_time \u003e= \"2023-11-24T00:00:00Z\" AND steps.interval.start_time \u003c \"2023-11-25T00:00:00Z\"` - `distance.interval.start_time \u003e= \"2024-08-14T12:34:56Z\"` - Interval civil start time: - Pattern: `{interval_data_type}.interval.civil_start_time` - Supported comparison operators: `\u003e=`, `\u003c` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `steps.interval.civil_start_time \u003e= \"2023-11-24\" AND steps.interval.civil_start_time \u003c \"2023-11-25\"` - `distance.interval.civil_start_time \u003e= \"2024-08-14T12:34:56\"` - Sample observation physical time: - Pattern: `{sample_data_type}.sample_time.physical_time` - Supported comparison operators: `\u003e=`, `\u003c` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND` - Example: - `weight.sample_time.physical_time \u003e= \"2023-11-24T00:00:00Z\" AND weight.sample_time.physical_time \u003c \"2023-11-25T00:00:00Z\"` - `weight.sample_time.physical_time \u003e= \"2024-08-14T12:34:56Z\"` - Sample observation civil time: - Pattern: `{sample_data_type}.sample_time.civil_time` - Supported comparison operators: `\u003e=`, `\u003c` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `weight.sample_time.civil_time \u003e= \"2023-11-24\" AND weight.sample_time.civil_time \u003c \"2023-11-25\"` - `weight.sample_time.civil_time \u003e= \"2024-08-14T12:34:56\"` - Daily summary date: - Pattern: `{daily_summary_data_type}.date` - Supported comparison operators: `\u003e=`, `\u003c` - Date literal expected in ISO 8601 `YYYY-MM-DD` format - Supported logical operators: `AND` - Example: - `daily_heart_rate_variability.date \u003c \"2024-08-15\"` - Session civil start time (**Excluding Sleep and ECG**): - Pattern: `{session_data_type}.interval.civil_start_time` - Supported comparison operators: `\u003e=`, `\u003c` - Date with optional time literal expected in ISO 8601 `YYYY-MM-DD[THH:mm:ss]` format - Supported logical operators: `AND` - Example: - `exercise.interval.civil_start_time \u003e= \"2023-11-24\" AND exercise.interval.civil_start_time \u003c \"2023-11-25\"` - `exercise.interval.civil_start_time \u003e= \"2024-08-14T12:34:56\"` - Session start time (**ECG specific**): - Pattern: `electrocardiogram.interval.start_time` - Supported comparison operators: `\u003e=` - Timestamp literal expected in RFC-3339 format - Example: - `electrocardiogram.interval.start_time \u003e= \"2024-08-14T12:34:56Z\"` - Note: Only filtering by start time is supported for ECG. Filtering by end time (e.g., `electrocardiogram.interval.end_time`) is not supported. - Session end time (**Sleep specific**): - Pattern: `sleep.interval.end_time` - Supported comparison operators: `\u003e=`, `\u003c` - Timestamp literal expected in RFC-3339 format - Supported logical operators: `AND`, `OR` - Example: - `sleep.interval.end_time \u003e= \"2023-11-24T00:00:00Z\" AND sleep.interval.end_time \u003c \"2023-11-25T00:00:00Z\"` - Session civil end time (**Sleep specific**): - Pattern: `sleep.interval.civil_end_time` - Suppor
[...]
