openapi: 3.0.3
info:
  x-display-name: CoinGecko
  title: CoinGecko API
  description: CoinGecko public API for cryptocurrency data. Free tier, no API key required for basic endpoints.
  version: 3.0.1
  contact:
    name: CoinGecko
    url: https://www.coingecko.com
servers:
  - url: https://api.coingecko.com/api/v3
    description: CoinGecko v3 API (free tier)
paths:
  /ping:
    get:
      operationId: ping
      summary: Check API server status
      responses:
        '200':
          description: API is active
          content:
            application/json:
              schema:
                type: object
                properties:
                  gecko_says:
                    type: string

  /simple/price:
    get:
      operationId: simplePrice
      summary: Get price of coins
      parameters:
        - name: ids
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated coin ids (e.g. bitcoin,ethereum)
        - name: vs_currencies
          in: query
          required: true
          schema:
            type: string
          description: Comma-separated target currencies (e.g. usd,eur)
        - name: include_market_cap
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: include_24hr_vol
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: include_24hr_change
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: include_last_updated_at
          in: query
          schema:
            type: string
            enum: ["true", "false"]
      responses:
        '200':
          description: Price data
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  additionalProperties:
                    type: number

  /simple/supported_vs_currencies:
    get:
      operationId: supportedVsCurrencies
      summary: List supported vs currencies
      responses:
        '200':
          description: List of currency codes
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /coins/list:
    get:
      operationId: coinsList
      summary: List all coins with id, symbol, and name
      parameters:
        - name: include_platform
          in: query
          schema:
            type: string
            enum: ["true", "false"]
      responses:
        '200':
          description: List of coins
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    symbol:
                      type: string
                    name:
                      type: string

  /coins/{id}:
    get:
      operationId: coinDetail
      summary: Get current data for a coin
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Coin id (e.g. bitcoin)
        - name: localization
          in: query
          schema:
            type: string
            enum: ["true", "false"]
          description: Include localized languages
        - name: tickers
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: market_data
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: community_data
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: developer_data
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: sparkline
          in: query
          schema:
            type: string
            enum: ["true", "false"]
      responses:
        '200':
          description: Coin detail data
          content:
            application/json:
              schema:
                type: object

  /coins/markets:
    get:
      operationId: coinsMarkets
      summary: List coins with market data
      parameters:
        - name: vs_currency
          in: query
          required: true
          schema:
            type: string
          description: Target currency (e.g. usd)
        - name: ids
          in: query
          schema:
            type: string
          description: Comma-separated coin ids
        - name: category
          in: query
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [market_cap_desc, market_cap_asc, gecko_desc, gecko_asc, volume_desc, volume_asc, id_desc, id_asc]
        - name: per_page
          in: query
          schema:
            type: integer
            default: 100
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: sparkline
          in: query
          schema:
            type: string
            enum: ["true", "false"]
        - name: price_change_percentage
          in: query
          schema:
            type: string
          description: Comma-separated (e.g. 1h,24h,7d)
      responses:
        '200':
          description: Market data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

  /coins/{id}/market_chart:
    get:
      operationId: coinMarketChart
      summary: Get market chart data
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: vs_currency
          in: query
          required: true
          schema:
            type: string
        - name: days
          in: query
          required: true
          schema:
            type: string
          description: Number of days (1,7,14,30,90,365,max)
      responses:
        '200':
          description: Historical market data
          content:
            application/json:
              schema:
                type: object
                properties:
                  prices:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                  market_caps:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                  total_volumes:
                    type: array
                    items:
                      type: array
                      items:
                        type: number

  /coins/{id}/ohlc:
    get:
      operationId: coinOHLC
      summary: Get OHLC candle data
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: vs_currency
          in: query
          required: true
          schema:
            type: string
        - name: days
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OHLC data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: array
                  items:
                    type: number

  /search:
    get:
      operationId: search
      summary: Search coins, categories, exchanges
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object

  /search/trending:
    get:
      operationId: trending
      summary: Get trending coins
      responses:
        '200':
          description: Trending coins
          content:
            application/json:
              schema:
                type: object

  /global:
    get:
      operationId: global
      summary: Get global crypto market data
      responses:
        '200':
          description: Global market data
          content:
            application/json:
              schema:
                type: object
