{
  "openapi": "3.0.1",
  "info": {
    "description": "## Introduction\nBy using this REST API, you can easily integrate Clockify with your own add-ons, push and pull data\nbetween Clockify and other tools, and create custom add-ons on [CAKE.com Marketplace](https://marketplace.cake.com).\nWhether you’re looking to automate time tracking, generate custom reports, or build other custom\nintegrations, our API provides the flexibility and power you need to get the job done. If you\nhave any questions or run into any issues while using our API, don’t hesitate to reach out to us for help.\nYou can also post questions on Stack Overflow with the Clockify tag to get help from the community.\n## Authentication\nTo authenticate your requests to your API, make sure to include either the ‘X-Api-Key’ or the\n‘X-Addon-Token’ in the request header, containing your API or Addon key. If your workspace is\non a subdomain (e.g. subdomain.clockify.me), you’ll need to generate a new API key in your\nProfile Settings that will work specifically for that workspace. This ensures that you’re\naccessing data from the correct workspace and helps maintain the security of your data.\n## Webhooks\nWebhooks can enhance your workflow by keeping your add-on up-to-date with the latest changes in\nClockify. With Clockify’s webhooks you can receive real-time notifications when certain events such as\nstarting a timer or deleting a time entry occur in Clockify.\nDepending on the workspace plan, workspace owners and admins can create:\n\n* Up to 3 webhooks on **FREE** plan\n* Up to 10 webhooks per user, with a total of 100 webhooks per entire workspace\non **BASIC**, **STANDARD** and **PRO** plans\n* Up to 100 webhooks per user, with a total of 300 webhooks per entire workspace on **ENTERPRISE** plan\n\n## Rate limiting\nOur REST API has a specific rate limit of 50 requests per second (by addon on one workspace) when\naccessed using X-Addon-Token. Exceeding this limit will result in an error message with the description\n\"Too many requests\".\n## Pagination\nOur REST API supports pagination for all synchronous GET endpoints that retrieve lists of entities.\nWhen an endpoint accepts the `page` and `pageSize` query parameters, it will return a paginated response.\n\nTo control the data returned in a paginated request, you can use the following optional query parameters.\n\n- **page** (integer): The page number you wish to retrieve. This is 1-indexed. If this parameter is omitted,\nthe API will default to the first page (page=1).\n- **pageSize** (integer): The number of items to include on each page. If this parameter is omitted,\na default page size will be used.\n\nEvery response from an endpoint that supports these parameters will include a custom `Last-Page` header.\nThis header provides a simple way to determine if you have reached the end of the data set.\n\n- **true:** The current page is the final page; no more data is available.\n- **false:** Additional pages can be fetched.\n## API URLs\nRefer to the list on what URL to use base on the subdomain and data region settings of your workspace.\n* Global - can be used by workspaces with or without subdomain.\n    * Regular: https://api.clockify.me/api/v1/file/image\n    * Reports: https://reports.api.clockify.me/v1/workspaces/{workspaceId}/reports/detailed\n* Regional\n    * Non-subdomain\n        * Regular: https://euc1.clockify.me/api/v1/file/image\n        * Reports: https://use2.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n    * Subdomain\n        * Regular: https://euc1.clockify.me/api/v1/file/image\n        * Reports: https://yoursubdomainname.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n* Developer\n    * Regular: https://developer.clockify.me/api/v1/file/image\n    * Reports: https://developer.clockify.me/report/v1/workspaces/{workspaceId}/reports/detailed\n## Regional Server Prefixes\nIf your workspace is in a specific region, you need to change your URL prefix to access v1 API endpoints.\nFor example, this is how **backend** api [v1/file/image](#tag/User/operation/uploadImage) endpoint\nwould look in EU region:\n[https://euc1.clockify.me/api/v1/file/image](https://euc1.clockify.me)\n\nBelow are the available regional server prefixes:\n* **EU (Germany)**: euc1\n* **USA**: use2\n* **UK**: euw2\n* **AU**: apse2\n\n",
    "title": "Clockify API",
    "version": "v1",
    "x-logo": {
      "altText": "Clockify logo",
      "url": "https://clockify.me/downloads/clockify_logo_primary_black_margin.png"
    }
  },
  "servers": [
    {
      "url": "https://api.clockify.me/api",
      "description": "Clockify API Base URL"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/file/image": {
      "post": {
        "operationId": "uploadImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "Image to be uploaded",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadFileResponseV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Add a photo",
        "tags": [
          "User",
          "backend-app"
        ]
      }
    },
    "/v1/user": {
      "get": {
        "operationId": "getLoggedUser",
        "parameters": [
          {
            "description": "If set to true, memberships will be included.",
            "example": true,
            "in": "query",
            "name": "include-memberships",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "If set to true, memberships will be included.",
              "example": true,
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "MarketplaceKeyAuth": []
          },
          {
            "ApiKeyAuth": []
          },
          {
            "AddonKeyAuth": []
          }
        ],
        "summary": "Get currently logged-in user's info",
        "tags": [
          "User",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces": {
      "get": {
        "operationId": "getWorkspacesOfUser",
        "parameters": [
          {
            "description": "If provided, you'll get a filtered list of workspaces where you have any of the specified roles. Owners are not counted as admins when filtering.",
            "example": [
              "WORKSPACE_ADMIN",
              "OWNER"
            ],
            "in": "query",
            "name": "roles",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "WORKSPACE_ADMIN",
                "OWNER",
                "TEAM_MANAGER",
                "PROJECT_MANAGER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WorkspaceDtoV1"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "security": [
          {
            "MarketplaceKeyAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Get all my workspaces",
        "tags": [
          "backend-app",
          "Workspace"
        ]
      },
      "post": {
        "operationId": "createWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkspaceRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "summary": "Add a workspace",
        "tags": [
          "backend-app",
          "Workspace"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}": {
      "get": {
        "operationId": "getWorkspaceOfUser",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get workspace info",
        "tags": [
          "backend-app",
          "Workspace"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/addons/{addonId}/webhooks": {
      "get": {
        "operationId": "getAddonWebhooks",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an addon identifier across the system.",
            "example": "64c777ddd3fcab07cfbb210c",
            "in": "path",
            "name": "addonId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an addon identifier across the system.",
              "example": "64c777ddd3fcab07cfbb210c"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get all webhooks for addon on a workspace",
        "tags": [
          "Webhooks",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/approval-requests": {
      "get": {
        "operationId": "getApprovalRequests",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Filters results based on the provided approval state.",
            "example": "PENDING",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "PENDING",
                "APPROVED",
                "WITHDRAWN_APPROVAL"
              ]
            }
          },
          {
            "description": "Represents the column name to be used as sorting criteria.",
            "example": "START",
            "in": "query",
            "name": "sort-column",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ID",
                "USER_ID",
                "START",
                "UPDATED_AT"
              ]
            }
          },
          {
            "description": "Represents the sorting order.",
            "example": "ASCENDING",
            "in": "query",
            "name": "sort-order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          {
            "description": "Page number.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number.",
              "format": "int32",
              "example": 1,
              "default": 1
            }
          },
          {
            "description": "Page size.",
            "example": 50,
            "in": "query",
            "name": "page-size",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "description": "Page size.",
              "format": "int32",
              "example": 50,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprovalDetailsDtoV1"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get approval requests",
        "tags": [
          "Approval",
          "backend-app"
        ]
      },
      "post": {
        "operationId": "createApprrovalRequest",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequestDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Submit approval request",
        "tags": [
          "Approval",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/approval-requests/resubmit-entries-for-approval": {
      "post": {
        "operationId": "resubmitApprovalRequest",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequestDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Submit non pending/approved entries/expenses for approval to an existing approval request",
        "tags": [
          "Approval",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/approval-requests/users/{userId}": {
      "post": {
        "operationId": "createApprovalForOther",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a user identifier across the system.",
            "example": "5a0ab5acb07987125438b60f",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a user identifier across the system.",
              "example": "5a0ab5acb07987125438b60f"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequestDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Submit an approval request for a user",
        "tags": [
          "Approval",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/approval-requests/users/{userId}/resubmit-entries-for-approval": {
      "post": {
        "operationId": "resubmitApprovalRequestForOther",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a user identifier across the system.",
            "example": "5a0ab5acb07987125438b60f",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a user identifier across the system.",
              "example": "5a0ab5acb07987125438b60f"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequestDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Re-submit rejected/withdrawn entries/expenses for an approval of a user",
        "tags": [
          "Approval",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/approval-requests/{approvalRequestId}": {
      "patch": {
        "operationId": "updateApprovalStatus",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an approval request identifier across the system.",
            "example": "940ab5acb07987125438b65y",
            "in": "path",
            "name": "approvalRequestId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an approval request identifier across the system.",
              "example": "940ab5acb07987125438b65y"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApprovalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequestDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update an approval request",
        "tags": [
          "Approval",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/clients": {
      "get": {
        "operationId": "getClients",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Filters client results that matches with the string provided in their client name.",
            "example": "Client X",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Filters client results that matches with the string provided in their client name.",
              "example": "Client X"
            }
          },
          {
            "description": "Column name that will be used as criteria for sorting results.",
            "example": "NAME",
            "in": "query",
            "name": "sort-column",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Column name that will be used as criteria for sorting results.",
              "example": "NAME",
              "default": "NAME"
            }
          },
          {
            "description": "Sorting mode",
            "example": "ASCENDING",
            "in": "query",
            "name": "sort-order",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number.",
              "format": "int32",
              "example": 1,
              "default": 1
            }
          },
          {
            "description": "Page size.",
            "example": 50,
            "in": "query",
            "name": "page-size",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "description": "Page size.",
              "format": "int32",
              "example": 50,
              "default": 50
            }
          },
          {
            "description": "Filter whether to include archived clients or not.",
            "example": false,
            "in": "query",
            "name": "archived",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClientWithCurrencyDtoV1"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Find clients on a workspace",
        "tags": [
          "Client",
          "backend-app"
        ]
      },
      "post": {
        "operationId": "createClient",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateClientRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientWithCurrencyDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Add a new client",
        "tags": [
          "Client",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/clients/{id}": {
      "delete": {
        "operationId": "deleteClient",
        "parameters": [
          {
            "description": "Represents a client identifier across the system.",
            "example": "44a687e29ae1f428e7ebe305",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a client identifier across the system.",
              "example": "44a687e29ae1f428e7ebe305"
            }
          },
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Delete a client",
        "tags": [
          "Client",
          "backend-app"
        ]
      },
      "get": {
        "operationId": "getClient",
        "parameters": [
          {
            "description": "Represents a client identifier across the system.",
            "example": "44a687e29ae1f428e7ebe305",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a client identifier across the system.",
              "example": "44a687e29ae1f428e7ebe305"
            }
          },
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientWithCurrencyDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get a client by ID",
        "tags": [
          "Client",
          "backend-app"
        ]
      },
      "put": {
        "operationId": "updateClient",
        "parameters": [
          {
            "description": "Represents a client identifier across the system.",
            "example": "44a687e29ae1f428e7ebe305",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a client identifier across the system.",
              "example": "44a687e29ae1f428e7ebe305"
            }
          },
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "in": "query",
            "name": "archive-projects",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "mark-tasks-as-done",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateClientRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update a client",
        "tags": [
          "Client",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/cost-rate": {
      "put": {
        "operationId": "setWorkspaceCostRate",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CostRateRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update workspace cost rate",
        "tags": [
          "backend-app",
          "Workspace"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/custom-fields": {
      "get": {
        "operationId": "ofWorkspace",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "If provided, you'll get a filtered list of custom fields that contain the provided string in their name.",
            "example": "location",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, you'll get a filtered list of custom fields that contain the provided string in their name.",
              "example": "location"
            }
          },
          {
            "description": "If provided, you'll get a filtered list of custom fields that matches the provided string with the custom field status.",
            "example": "VISIBLE",
            "in": "query",
            "name": "status",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "INACTIVE",
                "VISIBLE",
                "INVISIBLE"
              ]
            }
          },
          {
            "description": "If provided, you'll get a filtered list of custom fields that matches the provided string with the custom field entity type.",
            "example": [
              "TIMEENTRY",
              "USER"
            ],
            "in": "query",
            "name": "entity-type",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDtoV1"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get custom fields on a workspace",
        "tags": [
          "backend-app",
          "Custom fields"
        ]
      },
      "post": {
        "operationId": "create",
        "parameters": [
          {
            "description": "Represents workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Create custom fields on a workspace",
        "tags": [
          "backend-app",
          "Custom fields"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/custom-fields/{customFieldId}": {
      "delete": {
        "operationId": "delete",
        "parameters": [
          {
            "description": "Represents workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents custom field identifier across the system.",
            "example": "26a687e29ae1f428e7ebe101",
            "in": "path",
            "name": "customFieldId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents custom field identifier across the system.",
              "example": "26a687e29ae1f428e7ebe101"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Delete a custom field",
        "tags": [
          "backend-app",
          "Custom fields"
        ]
      },
      "put": {
        "operationId": "editCustomField",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a custom field identifier across the system.",
            "example": "26a687e29ae1f428e7ebe101",
            "in": "path",
            "name": "customFieldId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a custom field identifier across the system.",
              "example": "26a687e29ae1f428e7ebe101"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomFieldRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update custom field on workspace",
        "tags": [
          "backend-app",
          "Custom fields"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/entities/created": {
      "get": {
        "description": "Retrieves records from the database collection that were created within a specified date range.  \nThe date range is determined by two parameters: start and end.  ",
        "operationId": "getCreatedEntityInfo",
        "parameters": [
          {
            "description": "Represents workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Specifies the type of document to be retrieved. Expected values are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE, TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
            "example": "TIME_ENTRY",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "array",
              "description": "Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
              "example": "TIME_ENTRY",
              "items": {
                "type": "string",
                "description": "Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
                "example": "TIME_ENTRY"
              }
            }
          },
          {
            "description": "Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.",
            "example": "2024-10-29T10:00:00Z",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.",
              "example": "2024-10-29T10:00:00Z"
            }
          },
          {
            "description": "Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.",
            "example": "2024-11-28T10:00:00Z",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.",
              "example": "2024-11-28T10:00:00Z"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {}
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Created entities (Experimental)",
        "tags": [
          "Entity changes (Experimental)",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/entities/deleted": {
      "get": {
        "description": "Retrieves a list of record(s) that were deleted within a specified date range.   \nThe date range is determined by the two parameters start and end.  \n\n> ### 💡 Note\n> Deleted entities will be updated and reflected in this endpoint approximately one minute after the deletion occurs. Also, entities that are created and deleted within the request date range will not appear in the /deleted endpoint. ",
        "operationId": "getDeletedEntityInfo",
        "parameters": [
          {
            "description": "Represents workspace identifier across the system (Experimental) ",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents workspace identifier across the system (Experimental) ",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Specifies the type of document to be retrieved. Expected values are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE, TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
            "example": "TIME_ENTRY",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "array",
              "description": "Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
              "example": "TIME_ENTRY",
              "items": {
                "type": "string",
                "description": "Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
                "example": "TIME_ENTRY"
              }
            }
          },
          {
            "description": "Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.",
            "example": "2024-10-29T10:00:00Z",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.",
              "example": "2024-10-29T10:00:00Z"
            }
          },
          {
            "description": "Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.",
            "example": "2024-11-28T10:00:00Z",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.",
              "example": "2024-11-28T10:00:00Z"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageableCollectionLogBinDocumentDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Deleted entities (Experimental)",
        "tags": [
          "Entity changes (Experimental)",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/entities/updated": {
      "get": {
        "description": "Retrieves records that were updated within the specified date range.   \nThe date range is determined by the two parameters: start and end.   \n\n> ### 💡 Note\n> If an entity is both created and updated within the requested date range, it will be excluded from the /updated endpoint results.  ",
        "operationId": "getUpdatedEntityInfo",
        "parameters": [
          {
            "description": "Represents workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Specifies the type of document to be retrieved. Expected values are CLIENTS, PROJECTS, TAGS, TASKS, SCHEDULED_ASSIGNMENT, TIME_ENTRY, TIME_ENTRY_RATE, TIME_ENTRY_CUSTOM_FIELD_VALUE.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
            "example": "TIME_ENTRY",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "type": "array",
              "description": "Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
              "example": "TIME_ENTRY",
              "items": {
                "type": "string",
                "description": "Specifies the type of document to be retrieved. Expected values are ${changetracker.update.documentation.description}.This parameter can accept multiple values, and at least one option must be provided. Based on the input, the application will return results corresponding to the selected document types.",
                "example": "TIME_ENTRY"
              }
            }
          },
          {
            "description": "Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.",
            "example": "2024-10-29T10:00:00Z",
            "in": "query",
            "name": "start",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Represents the start date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no start date is provided, the application will set a default start date that matches the end date to create a date range of 30 days. If the end date is not specified either, the default behavior will apply from the current date.",
              "example": "2024-10-29T10:00:00Z"
            }
          },
          {
            "description": "Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.",
            "example": "2024-11-28T10:00:00Z",
            "in": "query",
            "name": "end",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Represents the end date in yyyy-MM-ddThh:mm:ssZ format. This parameter is optional; if no end date is provided, the application will set a default end date that matches the start date to create a date range of 30 days.",
              "example": "2024-11-28T10:00:00Z"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string",
              "default": "0"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {}
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Updated entities (Experimental)",
        "tags": [
          "Entity changes (Experimental)",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/expenses": {
      "get": {
        "operationId": "getExpenses",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Page number.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number.",
              "format": "int32",
              "example": 1,
              "default": 1
            }
          },
          {
            "description": "Page size.",
            "example": 50,
            "in": "query",
            "name": "page-size",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "description": "Page size.",
              "format": "int32",
              "example": 50,
              "default": 50
            }
          },
          {
            "description": "If provided, you'll get a filtered list of expenses which match the provided string in the user ID linked to the expense.",
            "example": "5a0ab5acb07987125438b60f",
            "in": "query",
            "name": "user-id",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpensesAndTotalsDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get all expenses on a workspace",
        "tags": [
          "Expense",
          "backend-app"
        ]
      },
      "post": {
        "operationId": "createExpense",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CreateExpenseV1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Create an expense",
        "tags": [
          "Expense",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/expenses/categories": {
      "get": {
        "operationId": "getCategories",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents the column name to be used as sorting criteria.",
            "example": "NAME",
            "in": "query",
            "name": "sort-column",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "NAME"
              ]
            }
          },
          {
            "description": "Represents the sorting order.",
            "example": "ASCENDING",
            "in": "query",
            "name": "sort-order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          },
          {
            "description": "Page number.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number.",
              "format": "int32",
              "example": 1,
              "default": 1
            }
          },
          {
            "description": "Page size.",
            "example": 50,
            "in": "query",
            "name": "page-size",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "description": "Page size.",
              "format": "int32",
              "example": 50,
              "default": 50
            }
          },
          {
            "description": "Flag to filter results based on whether category is archived or not.",
            "example": true,
            "in": "query",
            "name": "archived",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Flag to filter results based on whether category is archived or not.",
              "example": true,
              "default": false
            }
          },
          {
            "description": "If provided, you'll get a filtered list of expense categories that matches the provided string in their name.",
            "example": "procurement",
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, you'll get a filtered list of expense categories that matches the provided string in their name.",
              "example": "procurement"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoriesWithCountDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get all expense categories",
        "tags": [
          "Expense",
          "backend-app"
        ]
      },
      "post": {
        "operationId": "createExpenseCategory",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseCategoryV1Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Add an expense category",
        "tags": [
          "Expense",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/expenses/categories/{categoryId}": {
      "delete": {
        "operationId": "deleteCategory",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a category identifier across the system.",
            "example": "89a687e29ae1f428e7ebe567",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a category identifier across the system.",
              "example": "89a687e29ae1f428e7ebe567"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "summary": "Delete an expense category",
        "tags": [
          "Expense",
          "backend-app"
        ]
      },
      "put": {
        "operationId": "updateCategory",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a category identifier across the system.",
            "example": "89a687e29ae1f428e7ebe567",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a category identifier across the system.",
              "example": "89a687e29ae1f428e7ebe567"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseCategoryV1Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update an expense category",
        "tags": [
          "Expense",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/expenses/categories/{categoryId}/status": {
      "patch": {
        "operationId": "updateExpenseCategoryStatus",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a category identifier across the system.",
            "example": "89a687e29ae1f428e7ebe567",
            "in": "path",
            "name": "categoryId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a category identifier across the system.",
              "example": "89a687e29ae1f428e7ebe567"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpenseCategoryArchiveV1Request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseCategoryDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Archive an expense category",
        "tags": [
          "Expense",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/expenses/{expenseId}": {
      "delete": {
        "operationId": "deleteExpense",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an expense identifier across the system.",
            "example": "64c777ddd3fcab07cfbb210c",
            "in": "path",
            "name": "expenseId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an expense identifier across the system.",
              "example": "64c777ddd3fcab07cfbb210c"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete an expense",
        "tags": [
          "Expense",
          "backend-app"
        ]
      },
      "get": {
        "operationId": "getExpense",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an expense identifier across the system.",
            "example": "64c777ddd3fcab07cfbb210c",
            "in": "path",
            "name": "expenseId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an expense identifier across the system.",
              "example": "64c777ddd3fcab07cfbb210c"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get an expense by ID",
        "tags": [
          "Expense",
          "backend-app"
        ]
      },
      "put": {
        "operationId": "updateExpense",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an expense identifier across the system.",
            "example": "64c777ddd3fcab07cfbb210c",
            "in": "path",
            "name": "expenseId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an expense identifier across the system.",
              "example": "64c777ddd3fcab07cfbb210c"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/UpdateExpenseV1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpenseDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update an expense",
        "tags": [
          "Expense",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/expenses/{expenseId}/files/{fileId}": {
      "get": {
        "operationId": "downloadFile",
        "parameters": [
          {
            "description": "Represents a file identifier across the system.",
            "example": "745687e29ae1f428e7ebe890",
            "in": "path",
            "name": "fileId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a file identifier across the system.",
              "example": "745687e29ae1f428e7ebe890"
            }
          },
          {
            "description": "Represents an expense identifier across the system.",
            "example": "64c777ddd3fcab07cfbb210c",
            "in": "path",
            "name": "expenseId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an expense identifier across the system.",
              "example": "64c777ddd3fcab07cfbb210c"
            }
          },
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "format": "byte"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Download a receipt",
        "tags": [
          "Expense",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/holidays": {
      "get": {
        "operationId": "getHolidays",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "60f91b3ffdaf031696ec61a8",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "60f91b3ffdaf031696ec61a8"
            }
          },
          {
            "description": "If provided, you'll get a filtered list of holidays assigned to user.",
            "example": "60f924bafdaf031696ec6218",
            "in": "query",
            "name": "assigned-to",
            "required": false,
            "schema": {
              "type": "string",
              "description": "If provided, you'll get a filtered list of holidays assigned to user.",
              "example": "60f924bafdaf031696ec6218"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HolidayDtoV1"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get holidays on a workspace",
        "tags": [
          "Holiday",
          "backend-app"
        ]
      },
      "post": {
        "operationId": "createHoliday",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "60f91b3ffdaf031696ec61a8",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "60f91b3ffdaf031696ec61a8"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHolidayRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Create a holiday",
        "tags": [
          "Holiday",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/holidays/in-period": {
      "get": {
        "operationId": "getHolidaysInPeriod",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "60f91b3ffdaf031696ec61a8",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "60f91b3ffdaf031696ec61a8"
            }
          },
          {
            "description": "Filter list of holidays assigned to user.",
            "example": "60f924bafdaf031696ec6218",
            "in": "query",
            "name": "assigned-to",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter list of holidays assigned to user.",
              "example": "60f924bafdaf031696ec6218"
            }
          },
          {
            "description": "Filter list of holidays starting from start date. Expected date format yyyy-MM-ddThh:mm:ssZ",
            "example": "2022-12-03T10:59:59.999Z",
            "in": "query",
            "name": "start",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter list of holidays starting from start date. Expected date format yyyy-MM-ddThh:mm:ssZ",
              "example": "2022-12-03T10:59:59.999Z"
            }
          },
          {
            "description": "Filter list of holidays ending by end date. Expected date format yyyy-MM-ddThh:mm:ssZ",
            "example": "2022-12-05T23:59:59.999Z",
            "in": "query",
            "name": "end",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Filter list of holidays ending by end date. Expected date format yyyy-MM-ddThh:mm:ssZ",
              "example": "2022-12-05T23:59:59.999Z"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HolidayDtoV1"
                  }
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get holidays in a specific period",
        "tags": [
          "Holiday",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/holidays/{holidayId}": {
      "delete": {
        "operationId": "deleteHoliday",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "60f91b3ffdaf031696ec61a8",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "60f91b3ffdaf031696ec61a8"
            }
          },
          {
            "description": "Represents a holiday identifier across the system.",
            "example": "60f927920658241e3cf35e02",
            "in": "path",
            "name": "holidayId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a holiday identifier across the system.",
              "example": "60f927920658241e3cf35e02"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayDto"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Delete a holiday",
        "tags": [
          "Holiday",
          "backend-app"
        ]
      },
      "put": {
        "operationId": "updateHoliday",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "60f91b3ffdaf031696ec61a8",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "60f91b3ffdaf031696ec61a8"
            }
          },
          {
            "description": "Represents a holiday identifier across the system.",
            "example": "60f927920658241e3cf35e02",
            "in": "path",
            "name": "holidayId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a holiday identifier across the system.",
              "example": "60f927920658241e3cf35e02"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHolidayRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HolidayDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update a holiday",
        "tags": [
          "Holiday",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/hourly-rate": {
      "put": {
        "operationId": "setWorkspaceHourlyRate",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RateWithCurrencyRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspaceDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update workspace billable rate",
        "tags": [
          "backend-app",
          "Workspace"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/invoices": {
      "get": {
        "operationId": "getInvoices",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Page number.",
            "example": 1,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Page number.",
              "format": "int32",
              "example": 1,
              "default": 1
            }
          },
          {
            "description": "Page size.",
            "example": 50,
            "in": "query",
            "name": "page-size",
            "required": false,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "description": "Page size.",
              "format": "int32",
              "example": 50,
              "default": 50
            }
          },
          {
            "description": "If provided, you'll get a filtered result of invoices that matches the provided string in the user ID linked to the expense.",
            "example": [
              "UNSENT",
              "PAID"
            ],
            "in": "query",
            "name": "statuses",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "UNSENT",
                "SENT",
                "PAID",
                "PARTIALLY_PAID",
                "VOID",
                "OVERDUE"
              ]
            }
          },
          {
            "description": "Valid column name as sorting criteria. Default: ID",
            "example": "CLIENT",
            "in": "query",
            "name": "sort-column",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ID",
                "CLIENT",
                "DUE_ON",
                "ISSUE_DATE",
                "AMOUNT",
                "BALANCE"
              ]
            }
          },
          {
            "description": "Sort order. Default: ASCENDING",
            "example": "ASCENDING",
            "in": "query",
            "name": "sort-order",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicesListDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get all invoices on a workspace",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      },
      "post": {
        "operationId": "createInvoice",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvoiceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvoiceDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Add an invoice",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/info": {
      "post": {
        "operationId": "getInvoicesInfo",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceFilterRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceInfoResponseDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Filter out invoices",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/settings": {
      "get": {
        "operationId": "getInvoiceSettings",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceSettingsDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get an invoice in another language",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      },
      "put": {
        "operationId": "updateInvoiceSettings",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceSettingsRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Change an invoice language",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}": {
      "delete": {
        "operationId": "deleteInvoice",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an invoice identifier across the system.",
            "example": "78a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an invoice identifier across the system.",
              "example": "78a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "summary": "Delete an invoice",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      },
      "get": {
        "operationId": "getInvoice",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an invoice identifier across the system.",
            "example": "83q687e29ae1f428e7ebe195",
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an invoice identifier across the system.",
              "example": "83q687e29ae1f428e7ebe195"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceOverviewDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Get an invoice by ID",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      },
      "put": {
        "operationId": "updateInvoice",
        "parameters": [
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents an invoice identifier across the system.",
            "example": "78a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an invoice identifier across the system.",
              "example": "78a687e29ae1f428e7ebe303"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInvoiceRequestV1"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceOverviewDtoV1"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Update an invoice",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}/duplicate": {
      "post": {
        "operationId": "duplicateInvoice",
        "parameters": [
          {
            "description": "Represents an invoice identifier across the system.",
            "example": "78a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an invoice identifier across the system.",
              "example": "78a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
              "example": "64a687e29ae1f428e7ebe303"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceOverviewDtoV1"
                }
              }
            },
            "description": "Created"
          }
        },
        "summary": "Duplicate an invoice",
        "tags": [
          "Invoice",
          "backend-app"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/invoices/{invoiceId}/export": {
      "get": {
        "operationId": "exportInvoice",
        "parameters": [
          {
            "description": "Represents an invoice identifier across the system.",
            "example": "78a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "invoiceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents an invoice identifier across the system.",
              "example": "78a687e29ae1f428e7ebe303"
            }
          },
          {
            "description": "Represents a workspace identifier across the system.",
            "example": "64a687e29ae1f428e7ebe303",
            "in": "path",
            "name": "workspaceId",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Represents a workspace identifier across the system.",
[...]
