openapi: 3.0.0
info:
  title: GFW API - Public endpoints v3
  description: "- Public GFW endpoints that includes V3\n    \n- To get a token go to [GFW Token page](https://globalfishingwatch.org/our-apis/tokens/signup)\n\
    \    \n- Read all [API documentation here](https://globalfishingwatch.org/our-apis/documentation#introduction)\n    \n\
    \nIMPORTANT! Remember to setup environment variables like {{bearer_token}}"
  version: 1.0.0
servers:
- url: https://gateway.api.globalfishingwatch.org
  description: GFW API gateway
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      x-auth-env-vars:
      - GFW_TOKEN
      bearerFormat: JWT
security:
- bearerAuth: []
tags:
- name: Quick Start
- name: 4wings API
- name: 4wings API > Error Handling
- name: 4wings API > AIS Apparent Fishing Effort
- name: 4wings API > AIS Apparent Fishing Effort > PNG format
- name: 4wings API > AIS Apparent Fishing Effort > PNG format > Generate PNG Endpoint
- name: 4wings API > AIS Apparent Fishing Effort > MVT format
- name: 4wings API > AIS Apparent Fishing Effort > POST Report Endpoint
- name: 4wings API > AIS Apparent Fishing Effort > 4Wings worldwide stats
- name: 4wings API > SAR vessel detections
- name: 4wings API > SAR vessel detections > 4wings PNG layer
- name: 4wings API > SAR vessel detections > 4wings MVT
- name: 4wings API > SAR vessel detections > 4wings report endpoint
- name: 4wings API > AIS Vessel Presence
- name: 4wings API > AIS Vessel Presence > PNG format
- name: 4wings API > AIS Vessel Presence > PNG format > Generate PNG Endpoint
- name: 4wings API > AIS Vessel Presence > MVT format
- name: 4wings API > AIS Vessel Presence > POST Report Endpoint
- name: 4wings API > AIS Vessel Presence > Get Data Bins
- name: Vessel API
  description: "For AIS vessel identity dataset, the fields allow are:\n\n- \"registryLastUpdateDate\",\n    \n- \"shipname\"\
    ,\n    \n- \"nShipname\",\n    \n- \"ssvid\",\n    \n- \"callsign\",\n    \n- \"imo\",\n    \n- \"flag\",\n    \n- \"\
    geartypes\",\n    \n- \"transmissionDateFrom\",\n    \n- \"transmissionDateTo\",\n    \n- \"combinedSourcesInfo.shiptypes.name\"\
    ,\n    \n- \"combinedSourcesInfo.geartypes.name\",\n    \n- \"selfReportedInfo.id\",\n    \n- \"selfReportedInfo.shipname\"\
    ,\n    \n- \"selfReportedInfo.nShipname\",\n    \n- \"selfReportedInfo.ssvid\",\n    \n- \"selfReportedInfo.callsign\"\
    ,\n    \n- \"selfReportedInfo.imo\",\n    \n- \"selfReportedInfo.flag\",\n    \n- \"selfReportedInfo.transmissionDateFrom\"\
    ,\n    \n- \"selfReportedInfo.transmissionDateTo\",\n    \n- \"registryInfo.shipname\",\n    \n- \"registryInfo.nShipname\"\
    ,\n    \n- \"registryInfo.ssvid\",\n    \n- \"registryInfo.callsign\",\n    \n- \"registryInfo.imo\",\n    \n- \"registryInfo.flag\"\
    ,\n    \n- \"registryInfo.geartypes\",\n    \n- \"registryInfo.recordId\",\n    \n- \"registryInfo.transmissionDateFrom\"\
    ,\n    \n- \"registryInfo.transmissionDateTo\",\n    \n- \"registryOwners.name\",\n    \n- \"id\""
- name: Vessel API > Error Handling
- name: Vessel API > Examples of possible responses
- name: Events API
  description: Includes examples to get fishing events, encounter events, port visits and loitering events.
- name: Events API > Error Handling
- name: Events API > Event Stats
- name: Reference data
- name: Insights API
- name: Datasets API
- name: Datasets API > SAR Fixed Infrastructure MVT
- name: Bulk Download API
- name: Bulk Download API > create a bulk report
- name: Bulk Download API > Get bulk report by {id}
  description: Check the status of a report by ID
- name: Bulk Download API > Download bulk report file by {id}
- name: Bulk Download API > Query data in JSON format
paths:
  /v3/vessels/search:
    get:
      tags:
      - Vessel API
      summary: Advanced Search vessels - Gear Type = 'CARRIER'
      security:
      - bearerAuth: []
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        example: Bearer [YOUR_API_TOKEN]
      - name: datasets[0]
        in: query
        schema:
          type: string
        example: public-global-vessel-identity:latest
      - name: where
        in: query
        schema:
          type: string
        description: Search in registry data and in GFW Gear Type values
        example: geartypes='CARRIER'
      - name: includes[0]
        in: query
        schema:
          type: string
        example: AUTHORIZATIONS
      - name: includes[1]
        in: query
        schema:
          type: string
        example: OWNERSHIP
      - name: includes[2]
        in: query
        schema:
          type: string
        example: MATCH_CRITERIA
      - name: limit
        in: query
        schema:
          type: integer
        example: '24'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/events:
    get:
      tags:
      - Events API
      summary: Get Events - several vessel ids
      parameters:
      - name: vessels[0]
        in: query
        schema:
          type: string
        description: 'Example = 8c7304226-6c71-edbe-0b63-c246734b3c01  OR 6583c51e3-3626-5638-866a-f47c3bc7ef7c OR

          914f83946-6af4-04c6-4974-44a203a87952'
        example: 914f83946-6af4-04c6-4974-44a203a87952,8c7304226-6c71-edbe-0b63-c246734b3c01
      - name: limit
        in: query
        schema:
          type: integer
        example: '1'
      - name: offset
        in: query
        schema:
          type: integer
        example: '0'
      - name: datasets[0]
        in: query
        schema:
          type: string
        example: public-global-port-visits-events:latest
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
      - Events API
      summary: Get GAP events POST - Filter by flag custom polygon GAP
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                datasets:
                - public-global-gaps-events:latest
                startDate: '2020-10-01'
                endDate: '2020-12-31'
                vessels:
                - 8c7304226-6c71-edbe-0b63-c246734b3c01
                - 6583c51e3-3626-5638-866a-f47c3bc7ef7c
                - 0411a34e7-7f77-1514-986c-6b1b4574c2e6
                geometry:
                  type: MultiPolygon
                  coordinates:
                  - - - - -19.663713889
                        - 10.646065556
                      - - -19.770719167
                        - 10.828273889
                      - - -19.847704722
                        - 10.978088056
                      - - -19.900462777
                        - 11.092828333
                      - - -19.975555556
                        - 11.279166667
                      - - -20.056666667
                        - 11.519444445
                      - - -20.121666667
                        - 11.768888889
                      - - -20.166111111
                        - 12.0125
                      - - -20.189332011
                        - 12.205035051
                      - - -20.18920767
                        - 12.202218501
                      - - -20.211145269
                        - 12.686621676
                      - - -20.213729528
                        - 12.771151138
                      - - -20.213406305
                        - 12.903321288
                      - - -20.211200542
                        - 12.970761536
                      - - -20.206279711
                        - 13.0575
                      - - -16.756111111
                        - 13.0575
                      - - -16.755277778
                        - 13.055833333
                      - - -16.746944487
                        - 13.064166624
                      - - -16.742762565
                        - 13.056762457
                      - - -16.746835828
                        - 13.067911268
                      - - -16.743340135
                        - 13.073076725
                      - - -16.740498543
                        - 13.074127436
                      - - -16.734648824
                        - 13.073445559
                      - - -16.731267809
                        - 13.075275421
                      - - -16.729505658
                        - 13.07888031
                      - - -16.730089426
                        - 13.085918426
                      - - -16.733118058
                        - 13.089609146
                      - - -16.727655173
                        - 13.092269778
                      - - -16.725892544
                        - 13.097848773
                      - - -16.729770302
                        - 13.098020554
                      - - -16.731532812
                        - 13.100681305
                      - - -16.735234022
                        - 13.102311969
                      - - -16.736291528
                        - 13.104715347
                      - - -16.735145926
                        - 13.11132431
                      - - -16.733824015
                        - 13.113126755
                      - - -16.72985828
                        - 13.11372745
                      - - -16.728536368
                        - 13.107118606
                      - - -16.719371438
                        - 13.108062744
                      - - -16.716022611
                        - 13.110208511
                      - - -16.716287017
                        - 13.11235416
                      - - -16.716992021
                        - 13.113126755
                      - - -16.719283224
                        - 13.111753344
                      - - -16.724042058
                        - 13.11492908
                      - - -16.725628257
                        - 13.118791461
                      - - -16.724570752
                        - 13.121881366
                      - - -16.722984552
                        - 13.122053146
                      - - -16.721398235
                        - 13.119306445
                      - - -16.718666434
                        - 13.118791461
                      - - -16.711880565
                        - 13.120765566
                      - - -16.708179354
                        - 13.126516342
                      - - -16.709061026
                        - 13.132953644
                      - - -16.707298159
                        - 13.133211136
                      - - -16.704301476
                        - 13.130378723
                      - - -16.699277639
                        - 13.133382678
                      - - -16.702186227
                        - 13.135871768
                      - - -16.701833606
                        - 13.143081546
                      - - -16.706945657
                        - 13.14737308
                      - - -16.709061026
                        - 13.153467059
                      - - -16.705888033
                        - 13.155698657
                      - - -16.70271504
                        - 13.152179718
                      - - -16.698484421
                        - 13.154153824
                      - - -16.701481104
                        - 13.161964417
                      - - -16.699807644
                        - 13.162650943
                      - - -16.69592905
                        - 13.159046054
                      - - -16.689406037
                        - 13.15999031
                      - - -16.687026024
                        - 13.166513443
                      - - -16.685392542
                        - 13.167287138
                      - - -16.679791117
                        - 13.149869676
                      - - -16.676723976
                        - 13.128854734
                      - - -16.664732751
                        - 13.110763164
                      - - -16.65416471
                        - 13.087318375
                      - - -16.6504415
                        - 13.071439328
                      - - -16.64823592
                        - 13.049680058
                      - - -16.648130239
                        - 13.032052872
                      - - -16.650864777
                        - 13.000414541
                      - - -16.661425545
                        - 12.951886338
                      - - -16.657221412
                        - 12.930110074
                      - - -16.655278746
                        - 12.906309117
                      - - -16.656015361
                        - 12.891027829
                      - - -16.659228256
                        - 12.87549836
                      - - -16.646970243
                        - 12.883878251
                      - - -16.632931145
                        - 12.890596971
                      - - -16.618019557
                        - 12.895055898
                      - - -16.602596694
                        - 12.897147021
                      - - -16.587036157
                        - 12.896819684
                      - - -16.571714879
                        - 12.894081818
                      - - -16.557003998
                        - 12.888999743
                      - - -16.543259869
                        - 12.881696566
                      - - -16.52700925
                        - 12.868816952
                      - - -16.510992611
                        - 12.848471634
                      - - -16.502287962
                        - 12.829651534
                      - - -16.49722753
                        - 12.807801016
                      - - -16.477983514
                        - 12.805148507
                      - - -16.463094092
                        - 12.80031299
                      - - -16.449141799
                        - 12.793212948
                      - - -16.436468571
                        - 12.784022388
                      - - -16.425385002
                        - 12.772966549
                      - - -16.415676089
                        - 12.759477135
                      - - -16.399342023
                        - 12.747232492
                      - - -16.388833537
                        - 12.735900544
                      - - -16.377770568
                        - 12.71853509
                      - - -16.370228644
                        - 12.698129343
                      - - -16.348167083
                        - 12.706560843
                      - - -16.321490514
                        - 12.711358094
                      - - -16.304901177
                        - 12.711394414
                      - - -16.280765137
                        - 12.707336882
                      - - -16.267307648
                        - 12.712384982
                      - - -16.238978054
                        - 12.718478411
                      - - -16.189808723
                        - 12.719126695
                      - - -16.172188535
                        - 12.717529521
                      - - -16.151241179
                        - 12.72637125
                      - - -16.136893891
                        - 12.730253657
                      - - -16.12627344
                        - 12.748977319
                      - - -16.121667743
                        - 12.764826771
                      - - -16.11491224
                        - 12.778989976
                      - - -16.106024296
                        - 12.791922015
                      - - -16.095222761
                        - 12.803304459
                      - - -16.0783097
                        - 12.815592516
                      - - -16.064146495
                        - 12.822348019
                      - - -16.043953147
                        - 12.82775881
                      - - -16.0283097
                        - 12.828989976
                      - - -16.006538867
                        - 12.827767902
                      - - -15.991333874
                        - 12.824131548
                      - - -15.976881457
                        - 12.818169792
                      - - -15.959389042
                        - 12.806863105
                      - - -15.948018463
                        - 12.796133481
                      - - -15.938459154
                        - 12.78376277
                      - - -15.930944757
                        - 12.77005333
                      - - -15.921877856
                        - 12.748435509
                      - - -15.914281463
                        - 12.737063433
                      - - -15.894416701
                        - 12.724998035
                      - - -15.877997409
                        - 12.710171919
                      - - -15.867089547
                        - 12.7115013
                      - - -15.850827101
                        - 12.711255759
                      - - -15.826947615
                        - 12.706288779
                      - - -15.811693994
                        - 12.715190587
                      - - -15.797477949
                        - 12.720853189
                      - - -15.782564377
                        - 12.724280485
                      - - -15.767302495
                        - 12.725392222
                      - - -15.752049677
                        - 12.724162366
                      - - -15.681126826
                        - 12.712931897
                      - - -15.665875372
                        - 12.709271513
                      - - -15.653917356
                        - 12.704548771
                      - - -15.655409309
                        - 12.721584377
                      - - -15.655259382
                        - 12.785082312
                      - - -15.653019452
                        - 12.801340008
                      - - -15.648150589
                        - 12.817012408
                      - - -15.637933323
                        - 12.840964292
                      - - -15.623362413
                        - 12.861715561
                      - - -15.60404067
                        - 12.878134966
                      - - -15.581660969
                        - 12.890241003
                      - - -15.560626027
                        - 12.898226289
                      - - -15.530944432
                        - 12.902887954
                      - - -15.512816465
                        - 12.914356228
                      - - -15.477462358
                        - 12.928417792
                      - - -15.45602552
                        - 12.931402872
                      - - -15.432203957
                        - 12.929554148
                      - - -15.408631884
                        - 12.936739552
                      - - -15.387811711
                        - 12.938130777
                      - - -15.362124016
                        - 12.933762144
                      - - -15.338436957
                        - 12.922905539
                      - - -15.318358749
                        - 12.906298065
                      - - -15.303252587
                        - 12.885067274
                      - - -15.294144093
                        - 12.860654614
                      - - -15.291651682
                        - 12.834717564
                      - - -15.295888622
                        - 12.791069805
                      - - -15.304322463
                        - 12.766065141
                      - - -15.31243774
                        - 12.752435324
                      - - -15.32260618
                        - 12.740260248
                      - - -15.343178064
                        - 12.722566019
                      - - -15.35633866
                        - 12.713380124
                      - - -15.370799283
                        - 12.706417916
                      - - -15.386187452
                        - 12.701858727
                      - - -15.402106797
                        - 12.699819994
                      - - -15.421197935
                        - 12.700785396
                      - - -15.410908116
                        - 12.677003646
                      - - -15.407288459
                        - 12.656177337
                      - - -15.408127388
                        - 12.635055469
                      - - -15.415908146
                        - 12.601495141
                      - - -15.422173861
                        - 12.587692273
                      - - -15.433629867
                        - 12.571059614
                      - - -15.451472702
                        - 12.553381216
                      - - -15.470433517
                        - 12.540429995
                      - - -15.492111053
                        - 12.512938776
                      - - -15.545913339
                        - 12.490768433
                      - - -15.659264178
                        - 12.437611423
                      - - -15.679679427
                        - 12.440215037
                      - - -15.707837466
                        - 12.449395655
                      - - -15.732248789
                        - 12.463799215
                      - - -15.7512065
                        - 12.480513537
                      - - -15.772038597
                        - 12.470296196
                      - - -15.812643899
                        - 12.459984637
                      - - -15.836895381
                        - 12.457122364
                      - - -15.86216984
                        - 12.45956369
                      - - -15.881435986
                        - 12.466064841
                      - - -15.902397617
                        - 12.478180876
                      - - -15.940006093
                        - 12.479326585
                      - - -15.96179272
                        - 12.483126332
                      - - -15.976299298
                        - 12.487609405
                      - - -15.998440517
                        - 12.499773396
                      - - -16.023749322
                        - 12.522130528
                      - - -16.056087039
                        - 12.513180568
                      - - -16.086384194
                        - 12.510082978
                      - - -16.158469615
                        - 12.483681787
                      - - -16.178756323
                        - 12.478581731
                      - - -16.2048754
                        - 12.478306513
                      - - -16.220266497
                        - 12.481410843
                      - - -16.237979291
                        - 12.48837469
                      - - -16.251745939
                        - 12.488085793
                      - - -16.278686512
                        - 12.490809024
                      - - -16.294334026
                        - 12.477332998
                      - - -16.308619874
                        - 12.469084804
                      - - -16.337857143
                        - 12.455876649
                      - - -16.357984038
                        - 12.451083939
                      - - -16.378666431
                        - 12.450535653
                      - - -16.411087289
                        - 12.454203676
                      - - -16.425606105
                        - 12.458786079
                      - - -16.4557133
                        - 12.472550995
                      - - -16.481704574
                        - 12.479682834
                      - - -16.495702409
                        - 12.472677351
                      - - -16.51058088
                        - 12.467952763
                      - - -16.526013349
                        - 12.465601273
                      - - -16.546800943
                        - 12.46624796
                      - - -16.571861595
                        - 12.473062345
                      - - -16.593740284
                        - 12.485105054
                      - - -16.626551598
                        - 12.464987168
                      - - -16.640625786
                        - 12.457820714
                      - - -16.655652753
                        - 12.452959534
                      - - -16.674107679
                        - 12.450384066
                      - - -16.6631626
                        - 12.437486691
                      - - -16.642165907
                        - 12.433189376
                      - - -16.616637095
                        - 12.421720464
                      - - -16.604524858
                        - 12.414532583
                      - - -16.561354512
                        - 12.381555858
                      - - -16.536117706
                        - 12.374226328
                      - - -16.517392093
                        - 12.364154133
                      - - -16.504008663
                        - 12.35495478
                      - - -16.507224202
                        - 12.35446918
                      - - -16.543774247
                        - 12.362022281
                      - - -16.557129144
                        - 12.360305667
                      - - -16.585244656
                        - 12.351035952
                      - - -16.603519678
                        - 12.348461151
                      - - -16.643408656
                        - 12.361163974
                      - - -16.691908121
                        - 12.359962344
                      - - -16.897455407
                        - 12.240292728
                      - - -19.559839098
                        - 10.704801666
                      - - -19.663145237
                        - 10.645221352
                      - - -19.663713889
                        - 10.646065556
                  - - - - -16.461880922
                        - 13.167114258
                      - - -16.290280997
                        - 13.166720986
                      - - -16.300439251
                        - 13.151663103
                      - - -16.311367038
                        - 13.140286634
                      - - -16.323947872
                        - 13.130770164
                      - - -16.337868691
                        - 13.123350503
                      - - -16.357911741
                        - 13.11703033
                      - - -16.382722743
                        - 13.115181372
                      - - -16.397896305
                        - 13.110541805
                      - - -16.418605531
                        - 13.108200674
                      - - -16.434210372
                        - 13.109296711
                      - - -16.449453347
                        - 13.112812968
                      - - -16.473048909
                        - 13.123792002
                      - - -16.485556078
                        - 13.13318791
                      - - -16.496444888
                        - 13.144419392
                      - - -16.505448877
                        - 13.157211598
                      - - -16.510787887
                        - 13.16760822
                      - - -16.461880922
                        - 13.167114258
                  - - - - -16.210667849
                        - 13.166942477
                      - - -16.146033411
                        - 13.166417343
                      - - -16.186847687
                        - 13.153813686
                      - - -16.208633117
                        - 13.151171841
                      - - -16.225064052
                        - 13.152352441
                      - - -16.235813661
                        - 13.154634225
                      - - -16.258768171
                        - 13.160986324
                      - - -16.272701554
                        - 13.166769894
                      - - -16.210667849
                        - 13.166942477
                  - - - - -15.806064248
                        - 13.348731875
                      - - -15.733041048
                        - 13.351306915
                      - - -15.714695812
                        - 13.354225158
                      - - -15.701289654
                        - 13.359889865
                      - - -15.682067275
                        - 13.371219635
                      - - -15.645897627
                        - 13.357830048
                      - - -15.631621634
                        - 13.354618038
                      - - -15.65288972
                        - 13.356204124
                      - - -15.670696068
                        - 13.361124429
                      - - -15.740040296
                        - 13.339947639
                      - - -15.780056748
                        - 13.334883256
                      - - -15.806045487
                        - 13.336522655
                      - - -15.806064248
                        - 13.348731875
                  - - - - -15.51848495
                        - 13.390445709
                      - - -15.503517151
                        - 13.394393921
                      - - -15.487105965
                        - 13.392333865
                      - - -15.449695826
                        - 13.376026154
                      - - -15.384754777
                        - 13.357314944
                      - - -15.372403741
                        - 13.357143402
                      - - -15.330057264
                        - 13.360748171
                      - - -15.304120064
                        - 13.367099642
                      - - -15.287184954
                        - 13.372936249
                      - - -15.250304938
                        - 13.401088714
                      - - -15.229482651
                        - 13.419799805
                      - - -15.216601133
                        - 13.454990268
                      - - -15.199561028
                        - 13.526711394
                      - - -15.194989271
                        - 13.503096315
                      - - -15.195694813
                        - 13.482436524
                      - - -15.207694361
                        - 13.431419059
                      - - -15.212641725
                        - 13.416487664
                      - - -15.219869269
                        - 13.402516781
                      - - -15.232736271
                        - 13.385976025
                      - - -15.248767951
                        - 13.372480041
                      - - -15.267260268
                        - 13.362621514
                      - - -15.307663825
                        - 13.34639027
                      - - -15.326902697
                        - 13.341760424
                      - - -15.341725213
                        - 13.340829382
                      - - -15.395519979
                        - 13.344125102
                      - - -15.415037696
                        - 13.348307691
                      - - -15.458908891
                        - 13.362948674
                      - - -15.476485459
                        - 13.372853601
                      - - -15.494290547
                        - 13.388383335
                      - - -15.510449507
                        - 13.388692559
                      - - -15.51848495
                        - 13.390445709
                  - - - - -15.477269054
                        - 13.592834354
                      - - -15.486561537
                        - 13.591002464
                      - - -15.521773934
                        - 13.592147828
                      - - -15.727031821
                        - 13.59192437
                      - - -15.7119378
                        - 13.596571981
                      - - -15.68284585
                        - 13.602419015
                      - - -15.666099668
                        - 13.602816442
                      - - -15.639828534
                        - 13.599824422
                      - - -15.62295195
                        - 13.611099262
                      - - -15.607651224
                        - 13.617698475
                      - - -15.577501124
                        - 13.625998635
                      - - -15.556498236
                        - 13.628305747
                      - - -15.540683924
                        - 13.62710444
                      - - -15.522377219
                        - 13.623381519
                      - - -15.479735167
                        - 13.609074687
                      - - -15.474463259
                        - 13.609706844
                      - - -15.477269054
                        - 13.592834354
                  - - - - -16.508076906
                        - 13.59329164
                      - - -20.073055555
                        - 13.593333334
                      - - -20.073611111
                        - 14.85
                      - - -20
                        - 14.916666667
                      - - -19.858333334
                        - 15.166666666
                      - - -19.747222223
                        - 15.416666667
                      - - -19.641666666
                        - 15.666666666
                      - - -19.594444445
                        - 15.916666667
                      - - -19.558333333
                        - 16.068055555
                      - - -16.509283066
                        - 16.067174434
                      - - -16.503430331
                        - 16.067870404
                      - - -16.50073975
                        - 16.073398461
                      - - -16.495021357
                        - 16.075878819
                      - - -16.491560327
                        - 16.071689185
                      - - -16.486605232
                        - 16.071126692
                      - - -16.477420342
                        - 16.063754279
                      - - -16.4699358
                        - 16.068747547
                      - - -16.463301097
                        - 16.077555006
                      - - -16.462824022
                        - 16.080476224
                      - - -16.455960089
                        - 16.08822684
                      - - -16.454737768
                        - 16.099513638
                      - - -16.448192259
                        - 16.117815694
                      - - -16.44434227
                        - 16.122940725
                      - - -16.442616069
                        - 16.139175394
                      - - -16.448963766
                        - 16.147433462
                      - - -16.453557613
                        - 16.158733121
                      - - -16.450748899
                        - 16.163914361
                      - - -16.448032393
                        - 16.176359356
                      - - -16.448361073
                        - 16.180674142
                      - - -16.443623183
                        - 16.198849374
                      - - -16.436175359
                        - 16.208044122
                      - - -16.429407531
                        - 16.070745974
                      - - -16.427388872
                        - 15.974024127
                      - - -16.440561789
                        - 15.824426092
                      - - -16.434896656
                        - 15.795357184
                      - - -16.434868617
                        - 15.773637903
                      - - -16.439530616
                        - 15.752424847
                      - - -16.450825059
                        - 15.727056676
                      - - -16.587476585
                        - 15.504872621
                      - - -16.656082424
                        - 15.416342325
                      - - -16.791786301
                        - 15.182850663
                      - - -16.801236464
                        - 15.169305103
                      - - -16.869711586
                        - 15.095126856
                      - - -16.904020101
                        - 15.046548873
                      - - -17.069632661
                        - 14.855366784
                      - - -17.111259226
                        - 14.822130945
                      - - -17.124873315
                        - 14.813146579
                      - - -17.190908736
                        - 14.785144145
                      - - -17.17311387
                        - 14.776435206
                      - - -17.14742317
                        - 14.759261116
                      - - -17.111455526
                        - 14.727598759
                      - - -17.101125811
                        - 14.716843801
                      - - -17.051611651
                        - 14.649655667
                      - - -17.04446885
                        - 14.634808952
                      - - -17.022306852
                        - 14.576975714
                      - - -16.992394753
                        - 14.533148924
                      - - -16.94173575
                        - 14.509730381
                      - - -16.929114706
                        - 14.501911246
                      - - -16.917790459
                        - 14.492309629
                      - - -16.876730817
                        - 14.450386496
                      - - -16.858998177
                        - 14.424328329
                      - - -16.851991514
                        - 14.41048584
                      - - -16.8411075
                        - 14.373360375
                      - - -16.839992532
                        - 14.346932398
                      - - -16.825881284
                        - 14.331046134
                      - - -16.80961934
                        - 14.304969089
                      - - -16.797235542
                        - 14.2735707
                      - - -16.791777824
                        - 14.246729095
                      - - -16.771123618
                        - 14.235167424
                      - - -16.756259131
                        - 14.221989526
                      - - -16.737403489
                        - 14.198655951
                      - - -16.725106044
                        - 14.176000506
                      - - -16.713396979
                        - 14.183507235
                      - - -16.698544588
                        - 14.190079481
                      - - -16.664750514
                        - 14.198729896
                      - - -16.649204538
                        - 14.199467626
                      - - -16.633732371
                        - 14.197784266
                      - - -16.618708784
                        - 14.193720588
                      - - -16.606194142
                        - 14.188240803
                      - - -16.59585787
                        - 14.207270151
                      - - -16.586156366
                        - 14.219390193
                      - - -16.570531439
                        - 14.23294237
                      - - -16.556945866
                        - 14.240931916
                      - - -16.545733233
                        - 14.257645541
                      - - -16.531172843
                        - 14.271949432
                      - - -16.51850812
                        - 14.280569377
                      - - -16.493548097
                        - 14.293238553
                      - - -16.478919985
                        - 14.298419053
                      - - -16.463666506
                        - 14.301273977
                      - - -16.442991703
                        - 14.30135244
                      - - -16.422742641
                        - 14.297177622
                      - - -16.39934388
                        - 14.286266556
                      - - -16.386928755
                        - 14.276956138
                      - - -16.378317362
                        - 14.268359936
                      - - -16.350654718
                        - 14.266795757
                      - - -16.325567439
                        - 14.259802191
                      - - -16.3116876
                        - 14.252561879
                      - - -16.299107817
                        - 14.243244095
                      - - -16.288136385
                        - 14.232077193
                      - - -16.279042182
                        - 14.219334842
                      - - -16.268638972
                        - 14.195459023
                      - - -16.265498587
                        - 14.180122465
                      - - -16.264790221
                        - 14.164483723
                      - - -16.269034054
                        - 14.138787975
                      - - -16.274733335
                        - 14.124207501
                      - - -16.282638317
                        - 14.110695162
                      - - -16.300166174
                        - 14.091432354
                      - - -16.325513458
                        - 14.074216138
                      - - -16.369236897
                        - 14.051909276
                      - - -16.384513298
                        - 14.047469799
                      - - -16.396860656
                        - 14.045751879
                      - - -16.389370254
                        - 14.024047746
                      - - -16.387161733
                        - 13.997903628
                      - - -16.390025779
                        - 13.97003005
                      - - -16.405376102
                        - 13.903220083
                      - - -16.397652152
                        - 13.868952622
                      - - -16.395703091
                        - 13.846877326
                      - - -16.388401771
                        - 13.82102007
                      - - -16.387141343
                        - 13.800358142
                      - - -16.389009476
                        - 13.784933422
                      - - -16.393244423
                        - 13.769984271
                      - - -16.399743946
                        - 13.755871579
                      - - -16.408335086
                        - 13.74295765
                      - - -16.407255961
                        - 13.725916177
                      - - -16.40977399
                        - 13.705771806
                      - - -16.408483323
                        - 13.680040522
                      - - -16.413945846
                        - 13.654475587
                      - - -16.420356886
                        - 13.640128859
                      - - -16.428936249
                        - 13.62696358
                      - - -16.439472085
                        - 13.61530484
                      - - -16.456555404
                        - 13.601561056
                      - - -16.45359018
                        - 13.593318328
                      - - -16.508076906
                        - 13.59329164
      parameters:
      - name: offset
        in: query
        schema:
          type: integer
        example: '0'
      - name: limit
        in: query
        schema:
          type: integer
        example: '1'
      responses:
        '201':
          description: Created
          headers:
            Date:
              schema:
                type: string
                example: Mon, 20 Jan 2025 19:46:31 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Content-Length:
              schema:
                type: integer
                example: '6156'
            Connection:
              schema:
                type: string
                example: keep-alive
            access-control-allow-credentials:
              schema:
                type: boolean
                example: 'true'
            access-control-allow-headers:
              schema:
                type: string
                example: Accept,Content-Type,cookie,refresh-token,Accept-Encoding,Authorization,origin,referer,user-agent,Access-Control-Allow-Origin,indexes-0,indexes-1,indexes-2,indexes-3,indexes-4,indexes-5,indexes-6,indexes-7,x-workspace-password
            access-control-allow-methods:
              schema:
                type: string
                example: GET,POST,PUT,PATCH,DELETE,OPTIONS
            access-control-allow-origin:
              schema:
                type: string
                example: '*'
            access-control-expose-headers:
              schema:
                type: string
                example: indexes-0,indexes-1,indexes-2,indexes-3,indexes-4,indexes-5,indexes-6,indexes-7,x-deprecated-dataset
            Cache-Control:
              schema:
                type: string
                example: private, max-age=86400
            content-security-policy:
              schema:
                type: string
                example: 'default-src ''self'';base-uri ''self'';font-src ''self'' https: data:;form-action ''self'';frame-ancestors
                  ''self'';img-src ''self'' data:;object-src ''none'';script-src ''self'';script-src-attr ''none'';style-src
                  ''self'' https: ''unsafe-inline'';upgrade-insecure-requests'
            cross-origin-opener-policy:
              schema:
                type: string
                example: same-origin
            cross-origin-resource-policy:
              schema:
                type: string
                example: same-origin
            etag:
              schema:
                type: string
                example: W/"3abf-8UXqROn/ROtG73T5kNvxH0+FwlU"
            origin:
              schema:
                type: string
                example: GFW API Gateway
            origin-agent-cluster:
              schema:
                type: string
                example: ?1
            referrer-policy:
              schema:
                type: string
                example: no-referrer
            strict-transport-security:
              schema:
                type: string
                example: max-age=15552000; includeSubDomains
            transaction-id:
              schema:
                type: string
                example: e9551c4c-5028-4bd3-8cde-39eab51f4e3b
            vary:
              schema:
                type: string
                example: Accept-Encoding
            x-cloud-trace-context:
              schema:
                type: string
                example: 05b6bdf605636352cefc45caa3d16ff4;o=1
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-dns-prefetch-control:
              schema:
                type: string
                example: 'off'
            x-download-options:
              schema:
                type: string
                example: noopen
            x-frame-options:
              schema:
                type: string
                example: SAMEORIGIN
            x-permitted-cross-domain-policies:
              schema:
                type: string
                example: none
            x-xss-protection:
              schema:
                type: integer
                example: '0'
            Content-Encoding:
              schema:
                type: string
                example: gzip
            cf-cache-status:
              schema:
                type: string
                example: DYNAMIC
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 905192251d373714-MIA
          content:
            application/json:
              schema:
                type: object
              example:
                metadata:
                  datasets:
                  - public-global-gaps-events:v3.0
                  vessels:
                  - 8c7304226-6c71-edbe-0b63-c246734b3c01
                  - 6583c51e3-3626-5638-866a-f47c3bc7ef7c
                  - 0411a34e7-7f77-1514-986c-6b1b4574c2e6
                  dateRange:
                    from: '2020-10-01'
                    to: '2020-12-31'
                  encounterTypes: []
                  geometry:
                    type: FeatureCollection
                    features:
                    - type: Feature
                      properties: {}
                      geometry:
                        type: MultiPolygon
                        coordinates:
                        - - - - -19.663713889
                              - 10.646065556
                            - - -19.770719167
                              - 10.828273889
                            - - -19.847704722
                              - 10.978088056
                            - - -19.900462777
                              - 11.092828333
                            - - -19.975555556
                              - 11.279166667
                            - - -20.056666667
                              - 11.519444445
                            - - -20.121666667
                              - 11.768888889
                            - - -20.166111111
                              - 12.0125
                            - - -20.189332011
                              - 12.205035051
                            - - -20.18920767
                              - 12.202218501
                            - - -20.211145269
                              - 12.686621676
                            - - -20.213729528
                              - 12.771151138
                            - - -20.213406305
                              - 12.903321288
                            - - -20.211200542
                              - 12.970761536
                            - - -20.206279711
                              - 13.0575
                            - - -16.756111111
                              - 13.0575
                            - - -16.755277778
                              - 13.055833333
                            - - -16.746944487
                              - 13.064166624
                            - - -16.742762565
                              - 13.056762457
                            - - -16.746835828
                              - 13.067911268
                            - - -16.743340135
                              - 13.073076725
                            - - -16.740498543
                              - 13.074127436
                            - - -16.734648824
                              - 13.073445559
                            - - -16.731267809
                              - 13.075275421
                            - - -16.729505658
                              - 13.07888031
                            - - -16.730089426
                              - 13.085918426
                            - - -16.733118058
                              - 13.089609146
                            - - -16.727655173
                              - 13.092269778
                            - - -16.725892544
                              - 13.097848773
                            - - -16.729770302
                              - 13.098020554
                            - - -16.731532812
                              - 13.100681305
                            - - -16.735234022
                              - 13.102311969
                            - - -16.736291528
                              - 13.104715347
                            - - -16.735145926
                              - 13.11132431
                            - - -16.733824015
                              - 13.113126755
                            - - -16.72985828
                              - 13.11372745
                            - - -16.728536368
                              - 13.107118606
                            - - -16.719371438
                              - 13.108062744
                            - - -16.716022611
                              - 13.110208511
                            - - -16.716287017
                              - 13.11235416
                            - - -16.716992021
                              - 13.113126755
                            - - -16.719283224
                              - 13.111753344
                            - - -16.724042058
                              - 13.11492908
                            - - -16.725628257
                              - 13.118791461
                            - - -16.724570752
                              - 13.121881366
                            - - -16.722984552
                              - 13.122053146
                            - - -16.721398235
                              - 13.119306445
                            - - -16.718666434
                              - 13.118791461
                            - - -16.711880565
                              - 13.120765566
                            - - -16.708179354
                              - 13.126516342
                            - - -16.709061026
                              - 13.132953644
                            - - -16.707298159
                              - 13.133211136
                            - - -16.704301476
                              - 13.130378723
                            - - -16.699277639
                              - 13.133382678
                            - - -16.702186227
                              - 13.135871768
                            - - -16.701833606
                              - 13.143081546
                            - - -16.706945657
                              - 13.14737308
                            - - -16.709061026
                              - 13.153467059
                            - - -16.705888033
                              - 13.155698657
                            - - -16.70271504
                              - 13.152179718
                            - - -16.698484421
                              - 13.154153824
                            - - -16.701481104
                              - 13.161964417
                            - - -16.699807644
                              - 13.162650943
                            - - -16.69592905
                              - 13.159046054
                            - - -16.689406037
                              - 13.15999031
                            - - -16.687026024
                              - 13.166513443
                            - - -16.685392542
                              - 13.167287138
                            - - -16.679791117
                              - 13.149869676
                            - - -16.676723976
                              - 13.128854734
                            - - -16.664732751
                              - 13.110763164
                            - - -16.65416471
                              - 13.087318375
                            - - -16.6504415
                              - 13.071439328
                            - - -16.64823592
                              - 13.049680058
                            - - -16.648130239
                              - 13.032052872
                            - - -16.650864777
                              - 13.000414541
                            - - -16.661425545
                              - 12.951886338
                            - - -16.657221412
                              - 12.930110074
                            - - -16.655278746
                              - 12.906309117
                            - - -16.656015361
                              - 12.891027829
                            - - -16.659228256
                              - 12.87549836
                            - - -16.646970243
                              - 12.883878251
                            - - -16.632931145
                              - 12.890596971
                            - - -16.618019557
                              - 12.895055898
                            - - -16.602596694
                              - 12.897147021
                            - - -16.587036157
                              - 12.896819684
                            - - -16.571714879
                              - 12.894081818
                            - - -16.557003998
                              - 12.888999743
                            - - -16.543259869
                              - 12.881696566
                            - - -16.52700925
                              - 12.868816952
                            - - -16.510992611
                              - 12.848471634
                            - - -16.502287962
                              - 12.829651534
                            - - -16.49722753
                              - 12.807801016
                            - - -16.477983514
                              - 12.805148507
                            - - -16.463094092
                              - 12.80031299
                            - - -16.449141799
                              - 12.793212948
                            - - -16.436468571
                              - 12.784022388
                            - - -16.425385002
                              - 12.772966549
                            - - -16.415676089
                              - 12.759477135
                            - - -16.399342023
                              - 12.747232492
                            - - -16.388833537
                              - 12.735900544
                            - - -16.377770568
                              - 12.71853509
                            - - -16.370228644
                              - 12.698129343
                            - - -16.348167083
                              - 12.706560843
                            - - -16.321490514
                              - 12.711358094
                            - - -16.304901177
                              - 12.711394414
                            - - -16.280765137
                              - 12.707336882
                            - - -16.267307648
                              - 12.712384982
                            - - -16.238978054
                              - 12.718478411
                            - - -16.189808723
                              - 12.719126695
                            - - -16.172188535
                              - 12.717529521
                            - - -16.151241179
                              - 12.72637125
                            - - -16.136893891
                              - 12.730253657
                            - - -16.12627344
                              - 12.748977319
                            - - -16.121667743
                              - 12.764826771
                            - - -16.11491224
                              - 12.778989976
                            - - -16.106024296
                              - 12.791922015
                            - - -16.095222761
                              - 12.803304459
                            - - -16.0783097
                              - 12.815592516
                            - - -16.064146495
                              - 12.822348019
                            - - -16.043953147
                              - 12.82775881
                            - - -16.0283097
                              - 12.828989976
                            - - -16.006538867
                              - 12.827767902
                            - - -15.991333874
                              - 12.824131548
                            - - -15.976881457
                              - 12.818169792
                            - - -15.959389042
                              - 12.806863105
                            - - -15.948018463
                              - 12.796133481
                            - - -15.938459154
                              - 12.78376277
                            - - -15.930944757
                              - 12.77005333
                            - - -15.921877856
                              - 12.748435509
                            - - -15.914281463
                              - 12.737063433
                            - - -15.894416701
                              - 12.724998035
                            - - -15.877997409
                              - 12.710171919
                            - - -15.867089547
                              - 12.7115013
                            - - -15.850827101
                              - 12.711255759
                            - - -15.826947615
                              - 12.706288779
                            - - -15.811693994
                              - 12.715190587
                            - - -15.797477949
                              - 12.720853189
                            - - -15.782564377
                              - 12.724280485
                            - - -15.767302495
                              - 12.725392222
                            - - -15.752049677
                              - 12.724162366
                            - - -15.681126826
                              - 12.712931897
                            - - -15.665875372
                              - 12.709271513
                            - - -15.653917356
                              - 12.704548771
                            - - -15.655409309
                              - 12.721584377
                            - - -15.655259382
                              - 12.785082312
                            - - -15.653019452
                              - 12.801340008
                            - - -15.648150589
                              - 12.817012408
                            - - -15.637933323
                              - 12.840964292
                            - - -15.623362413
                              - 12.861715561
                            - - -15.60404067
                              - 12.878134966
                            - - -15.581660969
                              - 12.890241003
                            - - -15.560626027
                              - 12.898226289
                            - - -15.530944432
                              - 12.902887954
                            - - -15.512816465
                              - 12.914356228
                            - - -15.477462358
                              - 12.928417792
                            - - -15.45602552
                              - 12.931402872
                            - - -15.432203957
                              - 12.929554148
                            - - -15.408631884
                              - 12.936739552
                            - - -15.387811711
                              - 12.938130777
                            - - -15.362124016
                              - 12.933762144
                            - - -15.338436957
                              - 12.922905539
                            - - -15.318358749
                              - 12.906298065
                            - - -15.303252587
                              - 12.885067274
                            - - -15.294144093
                              - 12.860654614
                            - - -15.291651682
                              - 12.834717564
                            - - -15.295888622
                              - 12.791069805
                            - - -15.304322463
                              - 12.766065141
                            - - -15.31243774
                              - 12.752435324
                            - - -15.32260618
                              - 12.740260248
                            - - -15.343178064
                              - 12.722566019
                            - - -15.35633866
                              - 12.713380124
                            - - -15.370799283
                              - 12.706417916
                            - - -15.386187452
                              - 12.701858727
                            - - -15.402106797
                              - 12.699819994
                            - - -15.421197935
                              - 12.700785396
                            - - -15.410908116
                              - 12.677003646
                            - - -15.407288459
                              - 12.656177337
                            - - -15.408127388
                              - 12.635055469
                            - - -15.415908146
                              - 12.601495141
                            - - -15.422173861
                              - 12.587692273
                            - - -15.433629867
                              - 12.571059614
                            - - -15.451472702
                              - 12.553381216
                            - - -15.470433517
                              - 12.540429995
                            - - -15.492111053
                              - 12.512938776
                            - - -15.545913339
                              - 12.490768433
                            - - -15.659264178
                              - 12.437611423
                            - - -15.679679427
                              - 12.440215037
                            - - -15.707837466
                              - 12.449395655
                            - - -15.732248789
                              - 12.463799215
                            - - -15.7512065
                              - 12.480513537
                            - - -15.772038597
                              - 12.470296196
                            - - -15.812643899
                              - 12.459984637
                            - - -15.836895381
                              - 12.457122364
                            - - -15.86216984
                              - 12.45956369
                            - - -15.881435986
                              - 12.466064841
                            - - -15.902397617
                              - 12.478180876
                            - - -15.940006093
                              - 12.479326585
                            - - -15.96179272
                              - 12.483126332
                            - - -15.976299298
                              - 12.487609405
                            - - -15.998440517
                              - 12.499773396
                            - - -16.023749322
                              - 12.522130528
                            - - -16.056087039
                              - 12.513180568
                            - - -16.086384194
                              - 12.510082978
                            - - -16.158469615
                              - 12.483681787
                            - - -16.178756323
                              - 12.478581731
                            - - -16.2048754
                              - 12.478306513
                            - - -16.220266497
                              - 12.481410843
                            - - -16.237979291
                              - 12.48837469
                            - - -16.251745939
                              - 12.488085793
                            - - -16.278686512
                              - 12.490809024
                            - - -16.294334026
                              - 12.477332998
                            - - -16.308619874
                              - 12.469084804
                            - - -16.337857143
                              - 12.455876649
                            - - -16.357984038
                              - 12.451083939
                            - - -16.378666431
                              - 12.450535653
                            - - -16.411087289
                              - 12.454203676
                            - - -16.425606105
                              - 12.458786079
                            - - -16.4557133
                              - 12.472550995
                            - - -16.481704574
                              - 12.479682834
                            - - -16.495702409
                              - 12.472677351
                            - - -16.51058088
                              - 12.467952763
                            - - -16.526013349
                              - 12.465601273
                            - - -16.546800943
                              - 12.46624796
                            - - -16.571861595
                              - 12.473062345
                            - - -16.593740284
                              - 12.485105054
                            - - -16.626551598
                              - 12.464987168
                            - - -16.640625786
                              - 12.457820714
                            - - -16.655652753
                              - 12.452959534
                            - - -16.674107679
                              - 12.450384066
                            - - -16.6631626
                              - 12.437486691
                            - - -16.642165907
                              - 12.433189376
                            - - -16.616637095
                              - 12.421720464
                            - - -16.604524858
                              - 12.414532583
                            - - -16.561354512
                              - 12.381555858
                            - - -16.536117706
                              - 12.374226328
                            - - -16.517392093
                              - 12.364154133
                            - - -16.504008663
                              - 12.35495478
                            - - -16.507224202
                              - 12.35446918
                            - - -16.543774247
                              - 12.362022281
                            - - -16.557129144
                              - 12.360305667
                            - - -16.585244656
                              - 12.351035952
                            - - -16.603519678
                              - 12.348461151
                            - - -16.643408656
                              - 12.361163974
                            - - -16.691908121
                              - 12.359962344
                            - - -16.897455407
                              - 12.240292728
                            - - -19.559839098
                              - 10.704801666
                            - - -19.663145237
                              - 10.645221352
                            - - -19.663713889
                              - 10.646065556
                        - - - - -16.461880922
                              - 13.167114258
                            - - -16.290280997
                              - 13.166720986
                            - - -16.300439251
                              - 13.151663103
                            - - -16.311367038
                              - 13.140286634
                            - - -16.323947872
                              - 13.130770164
                            - - -16.337868691
                              - 13.123350503
                            - - -16.357911741
                              - 13.11703033
                            - - -16.382722743
                              - 13.115181372
                            - - -16.397896305
                              - 13.110541805
                            - - -16.418605531
                              - 13.108200674
                            - - -16.434210372
                              - 13.109296711
                            - - -16.449453347
                              - 13.112812968
                            - - -16.473048909
                              - 13.123792002
                            - - -16.485556078
                              - 13.13318791
                            - - -16.496444888
                              - 13.144419392
                            - - -16.505448877
                              - 13.157211598
                            - - -16.510787887
                              - 13.16760822
                            - - -16.461880922
                              - 13.167114258
                        - - - - -16.210667849
                              - 13.166942477
                            - - -16.146033411
                              - 13.166417343
                            - - -16.186847687
                              - 13.153813686
                            - - -16.208633117
                              - 13.151171841
                            - - -16.225064052
                              - 13.152352441
                            - - -16.235813661
                              - 13.154634225
                            - - -16.258768171
                              - 13.160986324
                            - - -16.272701554
                              - 13.166769894
                            - - -16.210667849
                              - 13.166942477
                        - - - - -15.806064248
                              - 13.348731875
                            - - -15.733041048
                              - 13.351306915
                            - - -15.714695812
                              - 13.354225158
                            - - -15.701289654
                              - 13.359889865
                            - - -15.682067275
                              - 13.371219635
                            - - -15.645897627
                              - 13.357830048
                            - - -15.631621634
                              - 13.354618038
                            - - -15.65288972
                              - 13.356204124
                            - - -15.670696068
                              - 13.361124429
                            - - -15.740040296
                              - 13.339947639
                            - - -15.780056748
                              - 13.334883256
                            - - -15.806045487
                              - 13.336522655
                            - - -15.806064248
                              - 13.348731875
                        - - - - -15.51848495
                              - 13.390445709
                            - - -15.503517151
                              - 13.394393921
                            - - -15.487105965
                              - 13.392333865
                            - - -15.449695826
                              - 13.376026154
                            - - -15.384754777
                              - 13.357314944
                            - - -15.372403741
                              - 13.357143402
                            - - -15.330057264
                              - 13.360748171
                            - - -15.304120064
                              - 13.367099642
                            - - -15.287184954
                              - 13.372936249
                            - - -15.250304938
                              - 13.401088714
                            - - -15.229482651
                              - 13.419799805
                            - - -15.216601133
                              - 13.454990268
                            - - -15.199561028
                              - 13.526711394
                            - - -15.194989271
                              - 13.503096315
                            - - -15.195694813
                              - 13.482436524
                            - - -15.207694361
                              - 13.431419059
                            - - -15.212641725
                              - 13.416487664
                            - - -15.219869269
                              - 13.402516781
                            - - -15.232736271
                              - 13.385976025
                            - - -15.248767951
                              - 13.372480041
                            - - -15.267260268
                              - 13.362621514
                            - - -15.307663825
                              - 13.34639027
                            - - -15.326902697
                              - 13.341760424
                            - - -15.341725213
                              - 13.340829382
                            - - -15.395519979
                              - 13.344125102
                            - - -15.415037696
                              - 13.348307691
                            - - -15.458908891
                              - 13.362948674
                            - - -15.476485459
                              - 13.372853601
                            - - -15.494290547
                              - 13.388383335
                            - - -15.510449507
                              - 13.388692559
                            - - -15.51848495
                              - 13.390445709
                        - - - - -15.477269054
                              - 13.592834354
                            - - -15.486561537
                              - 13.591002464
                            - - -15.521773934
                              - 13.592147828
                            - - -15.727031821
                              - 13.59192437
                            - - -15.7119378
                              - 13.596571981
                            - - -15.68284585
                              - 13.602419015
                            - - -15.666099668
                              - 13.602816442
                            - - -15.639828534
                              - 13.599824422
                            - - -15.62295195
                              - 13.611099262
                            - - -15.607651224
                              - 13.617698475
                            - - -15.577501124
                              - 13.625998635
                            - - -15.556498236
                              - 13.628305747
                            - - -15.540683924
                              - 13.62710444
                            - - -15.522377219
                              - 13.623381519
                            - - -15.479735167
                              - 13.609074687
                            - - -15.474463259
                              - 13.609706844
                            - - -15.477269054
                              - 13.592834354
                        - - - - -16.508076906
                              - 13.59329164
                            - - -20.073055555
                              - 13.593333334
                            - - -20.073611111
                              - 14.85
                            - - -20
                              - 14.916666667
                            - - -19.858333334
                              - 15.166666666
                            - - -19.747222223
                              - 15.416666667
                            - - -19.641666666
                              - 15.666666666
                            - - -19.594444445
                              - 15.916666667
                            - - -19.558333333
                              - 16.068055555
                            - - -16.509283066
                              - 16.067174434
                            - - -16.503430331
                              - 16.067870404
                            - - -16.50073975
                              - 16.073398461
                            - - -16.495021357
                              - 16.075878819
                            - - -16.491560327
                              - 16.071689185
                            - - -16.486605232
                              - 16.071126692
                            - - -16.477420342
                              - 16.063754279
                            - - -16.4699358
                              - 16.068747547
                            - - -16.463301097
                              - 16.077555006
                            - - -16.462824022
                              - 16.080476224
                            - - -16.455960089
                              - 16.08822684
                            - - -16.454737768
                              - 16.099513638
                            - - -16.448192259
                              - 16.117815694
                            - - -16.44434227
                              - 16.122940725
                            - - -16.442616069
                              - 16.139175394
                            - - -16.448963766
                              - 16.147433462
                            - - -16.453557613
                              - 16.158733121
                            - - -16.450748899
                              - 16.163914361
                            - - -16.448032393
                              - 16.176359356
                            - - -16.448361073
                              - 16.180674142
                            - - -16.443623183
                              - 16.198849374
                            - - -16.436175359
                              - 16.208044122
                            - - -16.429407531
                              - 16.070745974
                            - - -16.427388872
                              - 15.974024127
                            - - -16.440561789
                              - 15.824426092
                            - - -16.434896656
                              - 15.795357184
                            - - -16.434868617
                              - 15.773637903
                            - - -16.439530616
                              - 15.752424847
                            - - -16.450825059
                              - 15.727056676
                            - - -16.587476585
                              - 15.504872621
                            - - -16.656082424
                              - 15.416342325
                            - - -16.791786301
                              - 15.182850663
                            - - -16.801236464
                              - 15.169305103
                            - - -16.869711586
                              - 15.095126856
                            - - -16.904020101
                              - 15.046548873
                            - - -17.069632661
                              - 14.855366784
                            - - -17.111259226
                              - 14.822130945
                            - - -17.124873315
                              - 14.813146579
                            - - -17.190908736
                              - 14.785144145
                            - - -17.17311387
                              - 14.776435206
                            - - -17.14742317
                              - 14.759261116
                            - - -17.111455526
                              - 14.727598759
                            - - -17.101125811
                              - 14.716843801
                            - - -17.051611651
                              - 14.649655667
                            - - -17.04446885
                              - 14.634808952
                            - - -17.022306852
                              - 14.576975714
                            - - -16.992394753
                              - 14.533148924
                            - - -16.94173575
                              - 14.509730381
                            - - -16.929114706
                              - 14.501911246
                            - - -16.917790459
                              - 14.492309629
                            - - -16.876730817
                              - 14.450386496
                            - - -16.858998177
                              - 14.424328329
                            - - -16.851991514
                              - 14.41048584
                            - - -16.8411075
                              - 14.373360375
                            - - -16.839992532
                              - 14.346932398
                            - - -16.825881284
                              - 14.331046134
                            - - -16.80961934
                              - 14.304969089
                            - - -16.797235542
                              - 14.2735707
                            - - -16.791777824
                              - 14.246729095
                            - - -16.771123618
                              - 14.235167424
                            - - -16.756259131
                              - 14.221989526
                            - - -16.737403489
                              - 14.198655951
                            - - -16.725106044
                              - 14.176000506
                            - - -16.713396979
                              - 14.183507235
                            - - -16.698544588
                              - 14.190079481
                            - - -16.664750514
                              - 14.198729896
                            - - -16.649204538
                              - 14.199467626
                            - - -16.633732371
                              - 14.197784266
                            - - -16.618708784
                              - 14.193720588
                            - - -16.606194142
                              - 14.188240803
                            - - -16.59585787
                              - 14.207270151
                            - - -16.586156366
                              - 14.219390193
                            - - -16.570531439
                              - 14.23294237
                            - - -16.556945866
                              - 14.240931916
                            - - -16.545733233
                              - 14.257645541
                            - - -16.531172843
                              - 14.271949432
                            - - -16.51850812
                              - 14.280569377
                            - - -16.493548097
                              - 14.293238553
                            - - -16.478919985
                              - 14.298419053
                            - - -16.463666506
                              - 14.301273977
                            - - -16.442991703
                              - 14.30135244
                            - - -16.422742641
                              - 14.297177622
                            - - -16.39934388
                              - 14.286266556
                            - - -16.386928755
                              - 14.276956138
                            - - -16.378317362
                              - 14.268359936
                            - - -16.350654718
                              - 14.266795757
                            - - -16.325567439
                              - 14.259802191
                            - - -16.3116876
                              - 14.252561879
                            - - -16.299107817
                              - 14.243244095
                            - - -16.288136385
                              - 14.232077193
                            - - -16.279042182
                              - 14.219334842
                            - - -16.268638972
                              - 14.195459023
                            - - -16.265498587
                              - 14.180122465
                            - - -16.264790221
                              - 14.164483723
                            - - -16.269034054
                              - 14.138787975
                            - - -16.274733335
                              - 14.124207501
                            - - -16.282638317
                              - 14.110695162
                            - - -16.300166174
                              - 14.091432354
                            - - -16.325513458
                              - 14.074216138
                            - - -16.369236897
                              - 14.051909276
                            - - -16.384513298
                              - 14.047469799
                            - - -16.396860656
                              - 14.045751879
                            - - -16.389370254
                              - 14.024047746
                            - - -16.387161733
                              - 13.997903628
                            - - -16.390025779
                              - 13.97003005
                            - - -16.405376102
                              - 13.903220083
                            - - -16.397652152
                              - 13.868952622
                            - - -16.395703091
                              - 13.846877326
                            - - -16.388401771
                              - 13.82102007
                            - - -16.387141343
                              - 13.800358142
                            - - -16.389009476
                              - 13.784933422
                            - - -16.393244423
                              - 13.769984271
                            - - -16.399743946
                              - 13.755871579
                            - - -16.408335086
                              - 13.74295765
                            - - -16.407255961
                              - 13.725916177
                            - - -16.40977399
                              - 13.705771806
                            - - -16.408483323
                              - 13.680040522
                            - - -16.413945846
                              - 13.654475587
                            - - -16.420356886
                              - 13.640128859
                            - - -16.428936249
                              - 13.62696358
                            - - -16.439472085
                              - 13.61530484
                            - - -16.456555404
                              - 13.601561056
                            - - -16.45359018
                              - 13.593318328
                            - - -16.508076906
                              - 13.59329164
                limit: 1
                offset: 0
                nextOffset: 1
                total: 4
                entries:
                - start: '2020-10-16T05:18:25.000Z'
                  end: '2020-10-17T03:29:59.000Z'
                  id: 94183ce82e98e3202d7f978d3be05c51
                  type: gap
                  position:
                    lat: 12.0639
                    lon: -17.4491
                  regions:
                    mpa: []
                    eez:
                    - '8471'
                    rfmo:
                    - ICCAT
                    - NAMMCO
                    - IWC
                    - ACAP
                    - SRFC
                    fao:
                    - 34.3.1
                    - '34'
                    - '34.3'
                    - 34.3.13
                    majorFao:
                    - '34'
                    eez12Nm: []
                    highSeas: []
                    mpaNoTakePartial: []
                    mpaNoTake: []
                  boundingBox:
                  - -17.5268
                  - 10.301333333333334
                  - -17.372453333333333
                  - 13.826408333333333
                  distances:
                    startDistanceFromShoreKm: 146
                    endDistanceFromShoreKm: 81
                    startDistanceFromPortKm: 253.046672
                    endDistanceFromPortKm: 72.220625
                  vessel:
                    id: 0411a34e7-7f77-1514-986c-6b1b4574c2e6
                    name: CAP ATLANTIQUE
                    ssvid: '663270000'
                    flag: SEN
                    type: fishing
                  gap:
                    intentionalDisabling: true
                    distanceKm: '392.3301002995251'
                    durationHours: 22.183333333333334
                    impliedSpeedKnots: '9.549570557048607'
                    positions12HoursBeforeSat: '255'
                    positionsPerDaySatReception: 261.84724117843206
                    offPosition:
                      lat: 10.301333333333334
                      lon: -17.372453333333333
                    onPosition:
                      lat: '13.826408333333333'
                      lon: '-17.5268'
  /v3/4wings/report:
    post:
      tags:
      - 4wings API > AIS Vessel Presence > POST Report Endpoint
      summary: Report with vessel_type filter
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                region:
                  dataset: public-eez-areas
                  id: '5690'
      security:
      - bearerAuth: []
      parameters:
      - name: spatial-resolution
        in: query
        schema:
          type: string
        example: LOW
      - name: temporal-resolution
        in: query
        schema:
          type: string
        example: DAILY
      - name: datasets[0]
        in: query
        schema:
          type: string
        example: public-global-presence:latest
      - name: filters[0]
        in: query
        schema:
          type: string
        example: vessel_type in ("cargo","carrier")
      - name: date-range
        in: query
        schema:
          type: string
        example: 2024-01-01,2024-02-01
      - name: format
        in: query
        schema:
          type: string
        example: JSON
      - name: spatial-aggregation
        in: query
        schema:
          type: string
        example: 'false

          '
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
      - 4wings API > AIS Vessel Presence > POST Report Endpoint
      summary: Report, Carrier Vessels Only
      security:
      - bearerAuth: []
      parameters:
      - name: spatial-resolution
        in: query
        schema:
          type: string
        example: LOW
      - name: temporal-resolution
        in: query
        schema:
          type: string
        example: MONTHLY
      - name: group-by
        in: query
        schema:
          type: string
        example: VESSEL_ID
      - name: datasets[0]
        in: query
        schema:
          type: string
        example: public-global-presence:latest
      - name: filters[0]
        in: query
        schema:
          type: string
        example: vessel_type in ("carrier")
      - name: date-range
        in: query
        schema:
          type: string
        example: 2024-01-01,2024-06-01
      - name: format
        in: query
        schema:
          type: string
        example: CSV
      - name: spatial-aggregation
        in: query
        schema:
          type: boolean
        example: 'true'
      - name: region-dataset
        in: query
        schema:
          type: string
        example: public-eez-areas
      - name: region-id
        in: query
        schema:
          type: integer
        example: '8465'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/4wings/last-report:
    get:
      tags:
      - 4wings API > AIS Vessel Presence > POST Report Endpoint
      summary: Last report
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/4wings/stats:
    get:
      tags:
      - 4wings API > AIS Apparent Fishing Effort > 4Wings worldwide stats
      summary: Get fishing effort stats for a time period with filter by distance from port(km)
      parameters:
      - name: datasets[0]
        in: query
        schema:
          type: string
        example: public-global-fishing-effort:latest
      - name: fields
        in: query
        schema:
          type: string
        example: FLAGS,VESSEL-IDS,ACTIVITY-HOURS
      - name: date-range
        in: query
        schema:
          type: string
        example: 2022-10-22,2023-01-22
      - name: filters[0]
        in: query
        schema:
          type: string
        example: distance_from_port_km>=3
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/vessels:
    get:
      tags:
      - Vessel API
      summary: List vessels by ids Purse Seine Support
      description: 'Lists vessels given a list of vessels id.

        '
      parameters:
      - name: datasets[0]
        in: query
        schema:
          type: string
        example: public-global-vessel-identity:latest
      - name: ids[0]
        in: query
        schema:
          type: string
        description: '(Required) List of vessel id to get these vessels. The ids must be separated by comma.

          '
        example: 6632c9eb8-8009-abdb-baf9-b67d65f20510
      - name: binary
        in: query
        schema:
          type: string
        description: 'Return data in binary format.

          '
        example: 'FALSE'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/vessels/{vesselId}:
    get:
      tags:
      - Vessel API
      summary: Get vessel details by vessel id
      description: 'Obtains all the characteristics that describe a single vessel, such as its name and idenTIFiers.

        '
      parameters:
      - name: dataset
        in: query
        schema:
          type: string
        description: '(Required) Dataset to query vessels from

          '
        example: public-global-vessel-identity:latest
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    parameters:
    - name: vesselId
      in: path
      required: true
      schema:
        type: string
      description: vesselId identifier
  /v3/events/stats:
    post:
      tags:
      - Events API > Event Stats
      summary: Port visits events Stats - includes TOTAL_COUNT and vessel type BUNKER
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                datasets:
                - public-global-port-visits-events:latest
                startDate: '2022-07-21'
                endDate: '2024-10-21'
[...]
