{
  "openapi": "3.0.3",
  "info": {
    "title": "Syndicate Links",
    "version": "1.0.0",
    "description": "Attribution and commission infrastructure for AI-driven commerce. Two-sided: merchants publish programs + products; publishers (humans and AI agents) create tracking links and earn commissions. The API powers the rail; this CLI is muscle memory for agents who operate on it.",
    "contact": {
      "name": "Syndicate Links",
      "url": "https://syndicatelinks.co"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.syndicatelinks.co",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "merchant",
      "description": "Merchant-side endpoints. Auth: mk_live_* key."
    },
    {
      "name": "publisher",
      "description": "Publisher-side endpoints (a.k.a. affiliate in API paths). Auth: ak_live_* (human) or aff_agent_* (agent)."
    },
    {
      "name": "ai-attribution",
      "description": "AI surface attribution + agent token issuance."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token: mk_live_* for merchants, ak_live_* or aff_human_* for human publishers, aff_agent_* for agent publishers. The prefix routes the request \u2014 merchant keys can only hit /merchant/*, publisher keys can only hit /affiliate/*."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "ErrorCoded": {
        "type": "object",
        "description": "Coded error shape used by some merchant report endpoints.",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "Cursor": {
        "type": "object",
        "description": "Standard cursor pagination envelope.",
        "properties": {
          "data": {
            "type": "array",
            "items": {}
          },
          "cursor": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Program": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "merchantId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "terms": {
            "type": "string",
            "nullable": true
          },
          "defaultCommissionPct": {
            "type": "string",
            "description": "Decimal as string. Always parse client-side."
          },
          "commissionType": {
            "type": "string",
            "description": "'percentage' or 'flat'.",
            "default": "percentage"
          },
          "flatCommission": {
            "type": "string",
            "nullable": true,
            "description": "Decimal as string."
          },
          "cookieDays": {
            "type": "integer",
            "default": 30
          },
          "attributionWindowHours": {
            "type": "integer",
            "default": 720
          },
          "autoApprove": {
            "type": "boolean",
            "default": false
          },
          "status": {
            "type": "string",
            "description": "active | paused | inactive"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "merchantId": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "string",
            "description": "Decimal as string."
          },
          "currency": {
            "type": "string",
            "default": "USD"
          },
          "commissionPct": {
            "type": "string",
            "nullable": true,
            "description": "Decimal as string. Overrides program default when set."
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "inStock": {
            "type": "boolean",
            "default": true
          },
          "metadata": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Affiliate": {
        "type": "object",
        "description": "Publisher account. SL uses 'publisher' externally; 'affiliate' is the internal/API term.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "type": {
            "type": "string",
            "enum": [
              "agent",
              "human",
              "hybrid"
            ]
          },
          "agentPlatform": {
            "type": "string",
            "nullable": true
          },
          "agentId": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "trustScore": {
            "type": "integer",
            "default": 50
          },
          "payoutMethod": {
            "type": "string",
            "nullable": true,
            "enum": [
              null,
              "lightning",
              "stripe"
            ]
          },
          "lightningAddress": {
            "type": "string",
            "nullable": true
          },
          "stripeAccountId": {
            "type": "string",
            "nullable": true
          },
          "totalEarnings": {
            "type": "string",
            "description": "Decimal as string."
          },
          "totalClicks": {
            "type": "integer"
          },
          "totalConversions": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Partnership": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "affiliateId": {
            "type": "string",
            "format": "uuid"
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected"
            ]
          },
          "customCommissionPct": {
            "type": "string",
            "nullable": true
          },
          "approvedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TrackingLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "affiliateId": {
            "type": "string",
            "format": "uuid"
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "productId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "code": {
            "type": "string",
            "description": "10-char nanoid tracking code."
          },
          "trackingCode": {
            "type": "string",
            "description": "Alias of 'code'."
          },
          "destinationUrl": {
            "type": "string",
            "format": "uri"
          },
          "sourceTag": {
            "type": "string",
            "nullable": true,
            "description": "Free-form label for affiliate-side traffic source attribution."
          },
          "clicks": {
            "type": "integer"
          },
          "conversions": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Event": {
        "type": "object",
        "description": "Unified click + conversion record. Use 'type' to discriminate.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "click",
              "conversion"
            ]
          },
          "trackingLinkId": {
            "type": "string",
            "format": "uuid"
          },
          "affiliateId": {
            "type": "string",
            "format": "uuid"
          },
          "programId": {
            "type": "string",
            "format": "uuid"
          },
          "productId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "attributionMethod": {
            "type": "string",
            "nullable": true,
            "description": "click | tracking_code | cookie | agent_token | ai_referral"
          },
          "referrerContext": {
            "type": "object",
            "nullable": true,
            "additionalProperties": true,
            "description": "Free-form JSONB. AI surface metadata lives here (ai_surface, agent_id, acp_transaction_token)."
          },
          "orderId": {
            "type": "string",
            "nullable": true
          },
          "saleAmount": {
            "type": "string",
            "nullable": true,
            "description": "Decimal as string."
          },
          "currency": {
            "type": "string",
            "default": "USD"
          },
          "commissionAmount": {
            "type": "string",
            "nullable": true,
            "description": "Decimal as string."
          },
          "commissionStatus": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "paid",
              "rejected"
            ]
          },
          "ipHash": {
            "type": "string",
            "nullable": true
          },
          "userAgent": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "deviceType": {
            "type": "string",
            "nullable": true
          },
          "clickId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "validatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Payout": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "affiliateId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "string",
            "description": "Decimal as string."
          },
          "currency": {
            "type": "string",
            "default": "USD"
          },
          "method": {
            "type": "string",
            "description": "Today: 'lightning'. Planned: 'stripe', 'usdc_base'."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "pending_manual",
              "completed",
              "failed"
            ]
          },
          "stripeTransferId": {
            "type": "string",
            "nullable": true
          },
          "lightningPaymentHash": {
            "type": "string",
            "nullable": true
          },
          "btcpayPullPaymentId": {
            "type": "string",
            "nullable": true
          },
          "satoshisAmount": {
            "type": "integer",
            "nullable": true
          },
          "claimedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "periodStart": {
            "type": "string",
            "format": "date"
          },
          "periodEnd": {
            "type": "string",
            "format": "date"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "completedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MerchantWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "click",
                "conversion",
                "payout.completed",
                "affiliate.joined"
              ]
            }
          },
          "active": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "available": {
            "type": "string"
          },
          "pending": {
            "type": "string"
          },
          "lifetime": {
            "type": "string"
          },
          "balance": {
            "type": "string",
            "description": "Backwards-compat alias of 'available'."
          },
          "currency": {
            "type": "string",
            "default": "USD"
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/merchant/register": {
      "post": {
        "tags": [
          "merchant"
        ],
        "summary": "Register a new merchant",
        "description": "Returns the API key once \u2014 bcrypt-hashed in the DB. No auth required.",
        "operationId": "merchantRegister",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "website": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Merchant"
                    },
                    {
                      "type": "object",
                      "required": [
                        "apiKey"
                      ],
                      "properties": {
                        "apiKey": {
                          "type": "string",
                          "description": "Format: mk_live_<32 base62 chars>"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required field",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/programs": {
      "post": {
        "tags": [
          "merchant",
          "programs"
        ],
        "summary": "Create an affiliate program",
        "description": "Counts against the merchant's plan maxPrograms limit.",
        "operationId": "createProgram",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "defaultCommissionPct"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "defaultCommissionPct": {
                    "type": "number"
                  },
                  "description": {
                    "type": "string"
                  },
                  "terms": {
                    "type": "string"
                  },
                  "commissionType": {
                    "type": "string",
                    "default": "percentage"
                  },
                  "flatCommission": {
                    "type": "number"
                  },
                  "cookieDays": {
                    "type": "integer",
                    "default": 30
                  },
                  "attributionWindowHours": {
                    "type": "integer",
                    "default": 720
                  },
                  "autoApprove": {
                    "type": "boolean",
                    "default": false
                  },
                  "category": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "merchant",
          "programs"
        ],
        "summary": "List programs",
        "operationId": "listPrograms",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Program"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchant/programs/{id}": {
      "put": {
        "tags": [
          "merchant",
          "programs"
        ],
        "summary": "Update a program",
        "operationId": "updateProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "terms": {
                    "type": "string"
                  },
                  "defaultCommissionPct": {
                    "type": "number"
                  },
                  "commissionType": {
                    "type": "string"
                  },
                  "flatCommission": {
                    "type": "number"
                  },
                  "cookieDays": {
                    "type": "integer"
                  },
                  "attributionWindowHours": {
                    "type": "integer"
                  },
                  "autoApprove": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "paused",
                      "inactive"
                    ]
                  },
                  "category": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/products": {
      "post": {
        "tags": [
          "merchant",
          "products"
        ],
        "summary": "Create a product",
        "operationId": "createProduct",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "programId",
                  "name",
                  "url",
                  "price"
                ],
                "properties": {
                  "programId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "price": {
                    "type": "number"
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "imageUrl": {
                    "type": "string"
                  },
                  "currency": {
                    "type": "string",
                    "default": "USD"
                  },
                  "commissionPct": {
                    "type": "number"
                  },
                  "category": {
                    "type": "string"
                  },
                  "inStock": {
                    "type": "boolean",
                    "default": true
                  },
                  "metadata": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Program not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "merchant",
          "products"
        ],
        "summary": "List products",
        "operationId": "listProducts",
        "parameters": [
          {
            "name": "programId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchant/products/bulk": {
      "post": {
        "tags": [
          "merchant",
          "products"
        ],
        "summary": "Bulk-insert products",
        "description": "Land many products in one program in a single round-trip. CSV import is client-side \u2014 parse to JSON, then POST here.",
        "operationId": "bulkCreateProducts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "programId",
                  "products"
                ],
                "properties": {
                  "programId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "products": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Inserted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inserted": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Program not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/products/{id}": {
      "put": {
        "tags": [
          "merchant",
          "products"
        ],
        "summary": "Update a product",
        "operationId": "updateProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Product"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "merchant",
          "products"
        ],
        "summary": "Delete a product",
        "operationId": "deleteProduct",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/affiliates": {
      "get": {
        "tags": [
          "merchant",
          "publishers"
        ],
        "summary": "List publisher partnerships",
        "description": "All partnerships across this merchant's programs. Publishers on paid plans surface first via isPriority.",
        "operationId": "listMerchantPublishers",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "partnership": {
                            "$ref": "#/components/schemas/Partnership"
                          },
                          "affiliate": {
                            "$ref": "#/components/schemas/Affiliate"
                          },
                          "isPriority": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchant/affiliates/{partnershipId}/approve": {
      "put": {
        "tags": [
          "merchant",
          "publishers"
        ],
        "summary": "Approve a publisher partnership",
        "description": "Note: path param is the partnership ID, not the publisher ID. Counts against plan maxAffiliatesPerProgram.",
        "operationId": "approvePartnership",
        "parameters": [
          {
            "name": "partnershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partnership"
                }
              }
            }
          },
          "403": {
            "description": "Plan limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/affiliates/{partnershipId}/reject": {
      "put": {
        "tags": [
          "merchant",
          "publishers"
        ],
        "summary": "Reject a publisher partnership",
        "operationId": "rejectPartnership",
        "parameters": [
          {
            "name": "partnershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partnership"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/conversions": {
      "get": {
        "tags": [
          "merchant",
          "conversions"
        ],
        "summary": "List conversion events",
        "operationId": "listConversions",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "merchant",
          "conversions"
        ],
        "summary": "Report a conversion server-side",
        "description": "Runs attribution match (clickId \u2192 trackingCode \u2192 cookie), records the event, charges the tracking fee, fires the conversion webhook. Commission auto-calculated: partnership custom rate > product rate > program default.",
        "operationId": "reportConversion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "trackingCode",
                  "orderId",
                  "saleAmount"
                ],
                "properties": {
                  "trackingCode": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string"
                  },
                  "saleAmount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "default": "USD"
                  },
                  "clickId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Speeds up attribution match when known."
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "productId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "quantity": {
                          "type": "integer"
                        },
                        "amount": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Conversion recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Program not owned by caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tracking link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/refunds": {
      "post": {
        "tags": [
          "merchant",
          "refunds"
        ],
        "summary": "Claw back a commission",
        "description": "Full claw-back only \u2014 partial refunds are planned but not implemented. Reverses publisher totals and appends a CommissionAdjustment row.",
        "operationId": "refundOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orderId"
                ],
                "properties": {
                  "orderId": {
                    "type": "string"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Refunded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "refunded": {
                      "type": "boolean"
                    },
                    "eventId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "clawedBack": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "orderId missing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No conversion for orderId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/reports": {
      "get": {
        "tags": [
          "merchant",
          "reports"
        ],
        "summary": "Aggregate metrics over a date range",
        "operationId": "merchantReport",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalClicks": {
                      "type": "integer"
                    },
                    "totalConversions": {
                      "type": "integer"
                    },
                    "totalRevenue": {
                      "type": "string"
                    },
                    "totalCommissions": {
                      "type": "string"
                    },
                    "conversionRate": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Date range required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/reports/ai-endorsements": {
      "get": {
        "tags": [
          "merchant",
          "reports",
          "ai-attribution"
        ],
        "summary": "AI-attribution audit report",
        "description": "Conversions whose attribution method is agent_token or ai_referral, with disclosure notes for transparency dashboards.",
        "operationId": "aiEndorsementsReport",
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "agent_conversion",
                "ai_referral"
              ]
            }
          },
          {
            "name": "affiliate_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ai_surface",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/billing": {
      "get": {
        "tags": [
          "merchant",
          "billing"
        ],
        "summary": "Get current plan, usage, and tier list",
        "operationId": "merchantBilling",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/profile/company": {
      "get": {
        "tags": [
          "merchant",
          "profile"
        ],
        "summary": "Read merchant company profile",
        "operationId": "getCompanyProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "merchant",
          "profile"
        ],
        "summary": "Update merchant company profile",
        "operationId": "updateCompanyProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Merchant"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/stripe/status": {
      "get": {
        "tags": [
          "merchant",
          "stripe"
        ],
        "summary": "Stripe Connect status",
        "description": "Currently a stub \u2014 always reports disconnected. Stripe-based merchant payouts are planned.",
        "operationId": "merchantStripeStatus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "connected": {
                      "type": "boolean"
                    },
                    "accountId": {
                      "type": "string",
                      "nullable": true
                    },
                    "payoutsEnabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchant/payouts": {
      "get": {
        "tags": [
          "merchant",
          "payouts"
        ],
        "summary": "List all payouts to publishers",
        "operationId": "listMerchantPayouts",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payout"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchant/settings": {
      "get": {
        "tags": [
          "merchant",
          "settings"
        ],
        "summary": "Composite settings endpoint (company + stripe + webhooks)",
        "operationId": "merchantSettings",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Merchant not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/merchant/webhooks": {
      "post": {
        "tags": [
          "merchant",
          "webhooks"
        ],
        "summary": "Register a webhook",
        "description": "HMAC secret returned once. Events: click | conversion | payout.completed | affiliate.joined.",
        "operationId": "createWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url",
                  "events"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "click",
                        "conversion",
                        "payout.completed",
                        "affiliate.joined"
                      ]
                    },
                    "minItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MerchantWebhook"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "32-char nanoid. Store it now \u2014 never returned again."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "merchant",
          "webhooks"
        ],
        "summary": "List webhooks",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MerchantWebhook"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchant/webhooks/{id}": {
      "delete": {
        "tags": [
          "merchant",
          "webhooks"
        ],
        "summary": "Delete a webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/register": {
      "post": {
        "tags": [
          "publisher"
        ],
        "summary": "Register a new publisher",
        "description": "Returns the API key once. SL uses 'publisher' externally; 'affiliate' is the API path.",
        "operationId": "publisherRegister",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "agent",
                      "human",
                      "hybrid"
                    ],
                    "default": "human"
                  },
                  "agentPlatform": {
                    "type": "string"
                  },
                  "agentId": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Affiliate"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "apiKey": {
                          "type": "string",
                          "description": "Format: ak_live_<...> (human) or aff_agent_<...> (agent)"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/programs": {
      "get": {
        "tags": [
          "publisher",
          "programs"
        ],
        "summary": "Browse active programs",
        "description": "Public catalog. No auth required.",
        "operationId": "browsePrograms",
        "security": [],
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Substring on program name"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Program"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/programs/mine": {
      "get": {
        "tags": [
          "publisher",
          "partnerships"
        ],
        "summary": "List partnerships the publisher has joined",
        "operationId": "myPartnerships",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/programs/{id}": {
      "get": {
        "tags": [
          "publisher",
          "programs"
        ],
        "summary": "Fetch a single program",
        "description": "Public. No auth required.",
        "operationId": "getProgram",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Program"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/programs/{id}/products": {
      "get": {
        "tags": [
          "publisher",
          "products"
        ],
        "summary": "List products in a program",
        "description": "Public. No auth required.",
        "operationId": "programProducts",
        "security": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/products/search": {
      "get": {
        "tags": [
          "publisher",
          "products"
        ],
        "summary": "Search products across all active programs",
        "description": "Public. No auth required.",
        "operationId": "searchProducts",
        "security": [],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Substring on product name"
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minPrice",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "maxPrice",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/programs/{id}/apply": {
      "post": {
        "tags": [
          "publisher",
          "partnerships"
        ],
        "summary": "Apply to join a program",
        "description": "Empty body. Auto-approves when the program has autoApprove=true.",
        "operationId": "applyToProgram",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Partnership"
                }
              }
            }
          },
          "404": {
            "description": "Program not active",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Already applied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/partnerships": {
      "get": {
        "tags": [
          "publisher",
          "partnerships"
        ],
        "summary": "List the publisher's partnerships",
        "operationId": "listPartnerships",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Partnership"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/links": {
      "post": {
        "tags": [
          "publisher",
          "links"
        ],
        "summary": "Create a tracking link",
        "description": "Requires an approved partnership in the target program. If productId is omitted, the API tries to resolve it from destinationUrl. camelCase + snake_case field names both work.",
        "operationId": "createLink",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "programId",
                  "destinationUrl"
                ],
                "properties": {
                  "programId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "destinationUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "productId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "sourceTag": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Free-form traffic-source label."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackingLink"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "No approved partnership",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "publisher",
          "links"
        ],
        "summary": "List the publisher's tracking links",
        "operationId": "listLinks",
        "parameters": [
          {
            "name": "programId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TrackingLink"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/events": {
      "get": {
        "tags": [
          "publisher",
          "events"
        ],
        "summary": "List the publisher's click + conversion events",
        "operationId": "listEvents",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "click",
                "conversion"
              ]
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/events/click": {
      "post": {
        "tags": [
          "publisher",
          "events"
        ],
        "summary": "Record a click",
        "operationId": "recordClick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "trackingCode"
                ],
                "properties": {
                  "trackingCode": {
                    "type": "string"
                  },
                  "ipHash": {
                    "type": "string",
                    "description": "64-char SHA256 hex of the visitor IP."
                  },
                  "userAgent": {
                    "type": "string"
                  },
                  "country": {
                    "type": "string",
                    "description": "ISO 3166-1 alpha-2"
                  },
                  "deviceType": {
                    "type": "string"
                  },
                  "referrerContext": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "AI surface metadata blob."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not owned by caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tracking link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/events/conversion": {
      "post": {
        "tags": [
          "publisher",
          "events"
        ],
        "summary": "Record a conversion",
        "description": "attributionMethod + referrerContext (NOT ai_referral / ai_surface flags). AI surface keys go inside referrerContext (ai_surface, agent_id, acp_transaction_token).",
        "operationId": "recordConversion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "trackingCode",
                  "orderId",
                  "saleAmount"
                ],
                "properties": {
                  "trackingCode": {
                    "type": "string"
                  },
                  "orderId": {
                    "type": "string"
                  },
                  "saleAmount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "default": "USD"
                  },
                  "attributionMethod": {
                    "type": "string",
                    "enum": [
                      "click",
                      "tracking_code",
                      "cookie",
                      "agent_token",
                      "ai_referral"
                    ]
                  },
                  "referrerContext": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Recorded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not owned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tracking link not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/reports/earnings": {
      "get": {
        "tags": [
          "publisher",
          "reports"
        ],
        "summary": "Daily earnings over a date range",
        "operationId": "earningsReport",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "earnings": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/reports/clicks": {
      "get": {
        "tags": [
          "publisher",
          "reports"
        ],
        "summary": "Total clicks over a date range",
        "operationId": "clicksReport",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "programId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalClicks": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/reports/conversions": {
      "get": {
        "tags": [
          "publisher",
          "reports"
        ],
        "summary": "Aggregate conversion stats over a date range",
        "operationId": "conversionsReport",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalConversions": {
                      "type": "integer"
                    },
                    "totalRevenue": {
                      "type": "string"
                    },
                    "totalCommissions": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/me": {
      "get": {
        "tags": [
          "publisher",
          "profile"
        ],
        "summary": "Get the publisher's profile",
        "operationId": "getMyProfile",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Affiliate"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "publisher",
          "profile"
        ],
        "summary": "Update the publisher's profile",
        "description": "Allowed: name, website, description, payoutMethod, lightningAddress. Server validates payoutMethod configuration.",
        "operationId": "updateMyProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "website": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "payoutMethod": {
                    "type": "string",
                    "enum": [
                      "lightning",
                      "stripe"
                    ]
                  },
                  "lightningAddress": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Affiliate"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/me/balance": {
      "get": {
        "tags": [
          "publisher",
          "balance"
        ],
        "summary": "Get commission balance breakdown",
        "operationId": "getBalance",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/me/payouts": {
      "get": {
        "tags": [
          "publisher",
          "payouts"
        ],
        "summary": "List the publisher's payouts",
        "operationId": "myPayouts",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payout"
                      }
                    },
                    "cursor": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    },
                    "hasMore": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/payouts/claim": {
      "post": {
        "tags": [
          "publisher",
          "payouts"
        ],
        "summary": "Claim a payout via Lightning",
        "description": "Today only method=lightning_invoice is supported. Server decodes BOLT11, validates \u00b12% sat tolerance, ensures >10 min remaining, pays via BTCPay. Stripe + USDC are planned.",
        "operationId": "claimPayout",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "method",
                  "invoice",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "method": {
                    "type": "string",
                    "enum": [
                      "lightning_invoice"
                    ]
                  },
                  "invoice": {
                    "type": "string",
                    "description": "BOLT11 invoice. Must start with 'lnbc' on mainnet."
                  },
                  "amount": {
                    "type": "number",
                    "minimum": 5.0,
                    "description": "USD, minimum $5."
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "USD"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Claimed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payout"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invoice expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "BTCPay failure",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/dashboard/summary": {
      "get": {
        "tags": [
          "publisher",
          "dashboard"
        ],
        "summary": "Composite dashboard summary",
        "operationId": "dashboardSummary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/dashboard/earnings-chart": {
      "get": {
        "tags": [
          "publisher",
          "dashboard"
        ],
        "summary": "Daily earnings + conversions over a fixed lookback window",
        "operationId": "earningsChart",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "7d",
                "30d",
                "90d"
              ],
              "default": "30d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "period": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": {
                            "type": "string",
                            "format": "date"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "conversions": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/clicks": {
      "post": {
        "tags": [
          "publisher",
          "events"
        ],
        "summary": "Programmatic click recording for agent integrations",
        "description": "Requires the affiliate_agent plan (api_click_reporting feature flag). Includes 60-second IP-hash dedup window.",
        "operationId": "agentClick",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
