{
  "openapi": "3.0.3",
  "info": {
    "title": "Servosity",
    "version": "v1",
    "description": "Servosity backup and disaster-recovery REST API. Single-tenant production. MSP fleet management: companies, three coexisting backup engines (classic, restic, DR), issues triage, agent sessions, contracts, billing, and admin rollups.",
    "x-display-name": "Servosity",
    "x-website": "https://www.servosity.com",
    "x-api-name": "servosity"
  },
  "servers": [
    {
      "url": "https://api.servosity.com/api/v1"
    }
  ],
  "paths": {
    "/admin/attention/": {
      "parameters": [],
      "get": {
        "operationId": "admin_attention_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/dirty-repos/": {
      "parameters": [],
      "get": {
        "operationId": "admin_dirty-repos_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/draas-in-progress/": {
      "parameters": [],
      "get": {
        "operationId": "admin_draas-in-progress_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/maxio-price-points/": {
      "parameters": [],
      "get": {
        "operationId": "admin_maxio-price-points_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "price_point_handle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "admin_maxio-price-points_create",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaxioPricePointCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaxioPricePointCreate"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "admin_maxio-price-points_update",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaxioPricePointUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MaxioPricePointUpdate"
                }
              }
            }
          }
        }
      }
    },
    "/admin/notification-broadcast/": {
      "parameters": [],
      "post": {
        "operationId": "admin_notification-broadcast_create",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "Send a notification to all users.",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationBroadcastCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationBroadcastCreate"
                }
              }
            }
          }
        }
      }
    },
    "/admin/notification/": {
      "parameters": [],
      "post": {
        "operationId": "admin_notification_create",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "Send a notification to a user.",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationCreate"
                }
              }
            }
          }
        }
      }
    },
    "/admin/servosity-one-push-message/": {
      "parameters": [],
      "post": {
        "operationId": "admin_servosity-one-push-message_create",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServosityOnePushMessage"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServosityOnePushMessage"
                }
              }
            }
          }
        }
      }
    },
    "/admin/servosity-one-push-update/": {
      "parameters": [],
      "post": {
        "operationId": "admin_servosity-one-push-update_create",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServosityOnePushUpdate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServosityOnePushUpdate"
                }
              }
            }
          }
        }
      }
    },
    "/admin/servosity-one-worker-token/": {
      "parameters": [],
      "get": {
        "operationId": "admin_servosity-one-worker-token_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/support-staff/": {
      "parameters": [],
      "get": {
        "operationId": "admin_support-staff_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/users/": {
      "parameters": [],
      "get": {
        "operationId": "admin_users_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserSearch"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/worker-agents/": {
      "parameters": [],
      "get": {
        "operationId": "admin_worker-agents_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/admin/worker-run/": {
      "parameters": [],
      "get": {
        "operationId": "admin_worker-run_list",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "admin_worker-run_update",
        "tags": [
          "admin"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkerRun"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkerRun"
                }
              }
            }
          }
        }
      }
    },
    "/agent-login/": {
      "parameters": [],
      "get": {
        "operationId": "agent-login_list",
        "tags": [
          "agent-login"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_session_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "agent-login_create",
        "tags": [
          "agent-login"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentLogin"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentLogin"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "agent-sessions_read",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/agent-logs/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "agent-sessions_request_agent_logs",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/install-imagemanager/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_install_imagemanager",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/install-spx/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_install_spx",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/push-imagemanager-notify-settings/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_push_imagemanager_notify_settings",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/push-spx-notify-settings/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_push_spx_notify_settings",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/push-spx-smtp-settings/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_push_spx_smtp_settings",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/restart-imagemanager/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_restart_imagemanager",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/restart-spx/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_restart_spx",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/restic-interrupt/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_restic_interrupt",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/spx-activate/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_spx_activate",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/update-beta/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_update_beta",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/agent-sessions/{agent_session_id}/update-latest/": {
      "parameters": [
        {
          "name": "agent_session_id",
          "in": "path",
          "required": true,
          "description": "A unique value identifying this agent session.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "agent-sessions_update_latest",
        "tags": [
          "agent-sessions"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          },
          "404": {
            "description": "Not Found"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/backup-job-report-summary/{backup_id}/{backup_set_id}/{backup_job_id}/{backup_destination_id}/": {
      "parameters": [
        {
          "name": "backup_destination_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_job_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_set_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "backup-job-report-summary_read",
        "tags": [
          "backup-job-report-summary"
        ],
        "description": "",
        "summary": "View summary backup report for a backup job and destination.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/backup-job-report/{backup_id}/{backup_set_id}/{backup_job_id}/{backup_destination_id}/": {
      "parameters": [
        {
          "name": "backup_destination_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_job_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_set_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "backup-job-report_read",
        "tags": [
          "backup-job-report"
        ],
        "description": "",
        "summary": "View detailed backup report for a backup job and destination.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/backup-job-status/{backup_id}/{backup_date}/": {
      "parameters": [
        {
          "name": "backup_date",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "api_v1_backup-job-status_list",
        "tags": [
          "backup-job-status"
        ],
        "description": "`backup_date` format: `YYYY-MM-DD`",
        "summary": "List backup job status for a backup account on a specific date.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/backup-jobs/{backup_id}/": {
      "parameters": [
        {
          "name": "backup_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "api_v1_backup-jobs_list",
        "tags": [
          "backup-jobs"
        ],
        "description": "",
        "summary": "List backup jobs for a backup account.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/backup-plans/": {
      "parameters": [],
      "get": {
        "operationId": "backup-plans_list",
        "tags": [
          "backup-plans"
        ],
        "description": "",
        "summary": "List backup plans.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BackupPlan"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/backup-plans/{id}/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup plan.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backup-plans_read",
        "tags": [
          "backup-plans"
        ],
        "description": "",
        "summary": "View a backup plan.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupPlan"
                }
              }
            }
          }
        }
      }
    },
    "/backup-search/": {
      "parameters": [],
      "get": {
        "operationId": "backup-search_list",
        "tags": [
          "backup-search"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "company__reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackupSearch"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/backup-sets/{backup_id}/": {
      "parameters": [
        {
          "name": "backup_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "api_v1_backup-sets_list",
        "tags": [
          "backup-sets"
        ],
        "description": "",
        "summary": "List backup-sets for a backup account.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "post": {
        "operationId": "backup-sets_create",
        "tags": [
          "backup-sets"
        ],
        "description": "",
        "summary": "Create a backup-set for a backup account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupSet"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupSet"
                }
              }
            }
          }
        }
      }
    },
    "/backup-sets/{backup_id}/{backup_set_id}/": {
      "parameters": [
        {
          "name": "backup_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "backup_set_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "backup-sets_read",
        "tags": [
          "backup-sets"
        ],
        "description": "",
        "summary": "View a backup-set for a backup account.",
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "put": {
        "operationId": "backup-sets_update",
        "tags": [
          "backup-sets"
        ],
        "description": "\nAccepts a json body with the following optional parameters.\n\n`ReadOnly`: Boolean\n\n`Name`: String\nBackup set name\n\n`ShadowCopyEnabled`: Boolean\nEnable Windows' Volume Shadow Copy for open file backup\n\n`DeleteTempFile`: Boolean\nRemove temporary files after backup\n\n`LogRetentionDays`: Integer\nNumber of days to keep the backup set log\n\n`FollowLink`: Boolean\nFollow link of the backup files\n\n`CompressType`: String\nThe value can be one of the following: \"GzipBestSpeedCompression\" (Fast), \"GzipDefaultCompression\" (Normal)\n\n`LanDomain`: String\nWindows User Authentication domain/host name\n\n`LanUsername`: String\nWindows User Authentication user name\n\n`LanPassword`: String\nWindows User Authentication user password\n\n`WorkingDir`: String\nTemporary Driectory for storing backup files\n\n`UploadPermission`: Boolean\nEnable to backup permission attribute of files\n\n`ReminderSettings`\n\n`InFileDeltaSettings`\n\n`LocalCopySettings`\n\n`RetentionPolicySettings`\n\n`CdpSettingsV6`\n\n`CdpSettingsV7`\n\n`BandwidthControlSettings`\n\n`FilterSettings`\n\n`ScheduleSettings`\n\n`DestinationSettings`\n\n`SelectedSourceList`\n\n`DeselectedSourceList`\n\n`PreCommandList`\n\n`PostCommandList`\n\n`AllowedIPList`\n\n`ApplicationSettings`\n\n`DestinationList`\n\n`EnableOpenDirect`: Boolean\nNote: Cannot be changed once set\n",
        "summary": "Update a backup-set for a backup account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupSet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupSet"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "backup-sets_delete",
        "tags": [
          "backup-sets"
        ],
        "description": "",
        "summary": "Delete a backup-set for a backup account.",
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/backups/": {
      "parameters": [],
      "get": {
        "operationId": "backups_list",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "List backup accounts.",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company__reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Backup"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "backups_create",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "Create a backup account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupCreate"
                }
              }
            }
          }
        }
      }
    },
    "/backups/mfa_codes/": {
      "parameters": [],
      "get": {
        "operationId": "backups_mfa_codes",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "company",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "company__reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "required": false,
            "description": "Which field to use when ordering the results.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BackupMfa"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backups_read",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "View a backup account.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "backups_update",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "Update a backup account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupUpdate"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "backups_partial_update",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupUpdate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "backups_delete",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "Delete a backup account, also deleting all backup data.",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/backups/{id}/config.ini/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backups_config_ini",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/encryption-key-versions/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backups_encryption_key_versions",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/encryption-key/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backups_encryption-key_read",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupEncryptionKey"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "backups_encryption-key_update",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupEncryptionKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupEncryptionKey"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/guarantee_eligible/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "operationId": "backups_set_guarantee_eligible",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetGuaranteeEligible"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetGuaranteeEligible"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/guaranteed-recovery-point/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backups_guaranteed_recovery_point",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/login/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "backups_login",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Backup"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/migrate-dr/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "operationId": "backups_migrate_dr",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "Migrate a DR Classic account to new DR account type.",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupMigrateDr"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupMigrateDr"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/password/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "operationId": "backups_change_password",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupChangePassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupChangePassword"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/reissue-spx-key/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "operationId": "backups_reissue_spx_key",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/unlock/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this backup.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "backups_unlock",
        "tags": [
          "backups"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/companies/": {
      "parameters": [],
      "get": {
        "operationId": "companies_list",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "List companies.",
        "parameters": [
          {
            "name": "reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reseller__dedicated_support_staff__username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "support_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "include_reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "companies_create",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "Create a company.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySignup"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySignup"
                }
              }
            }
          }
        }
      }
    },
    "/companies/fully-managed-ng/": {
      "parameters": [],
      "get": {
        "operationId": "companies_fully_managed_ng",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "List fully-managed companies.",
        "parameters": [
          {
            "name": "reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reseller__dedicated_support_staff__username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "support_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyFullyManagedList"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/fully-managed/": {
      "parameters": [],
      "get": {
        "operationId": "companies_fully_managed",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "List fully-managed companies.",
        "parameters": [
          {
            "name": "reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reseller__dedicated_support_staff__username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "support_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyReseller"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/summary-ng/": {
      "parameters": [],
      "get": {
        "operationId": "companies_summary_ng",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reseller__dedicated_support_staff__username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "support_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanySummaryNg"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/summary/": {
      "parameters": [],
      "get": {
        "operationId": "companies_summary",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "List companies with account summaries.",
        "parameters": [
          {
            "name": "reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reseller__dedicated_support_staff__username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "support_tier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "A search term.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "A page number within the paginated result set.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results to return per page.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "count",
                    "results"
                  ],
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "next": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "previous": {
                      "type": "string",
                      "format": "uri",
                      "x-nullable": true
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanySummary"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_pk}/restore-queues/": {
      "parameters": [
        {
          "name": "company_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "companies_restore-queues_list",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResticRestoreQueue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "companies_restore-queues_create",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreQueueCreate"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_pk}/restore-queues/{id}/": {
      "parameters": [
        {
          "name": "company_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "companies_restore-queues_read",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreQueue"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "companies_restore-queues_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResticRestoreQueue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreQueue"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "companies_restore-queues_partial_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResticRestoreQueue"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreQueue"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "companies_restore-queues_delete",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/": {
      "parameters": [
        {
          "name": "company_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resticrestorequeue_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "companies_restore-queues_jobs_list",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ResticRestoreJob"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "companies_restore-queues_jobs_create",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResticRestoreJobCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreJobCreate"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/{id}/": {
      "parameters": [
        {
          "name": "company_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resticrestorequeue_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "companies_restore-queues_jobs_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResticRestoreJob"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreJob"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "companies_restore-queues_jobs_partial_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResticRestoreJob"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResticRestoreJob"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "companies_restore-queues_jobs_delete",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/{id}/order-first/": {
      "parameters": [
        {
          "name": "company_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resticrestorequeue_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "companies_restore-queues_jobs_order_first",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/companies/{company_pk}/restore-queues/{resticrestorequeue_pk}/jobs/{id}/order-last/": {
      "parameters": [
        {
          "name": "company_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resticrestorequeue_pk",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "companies_restore-queues_jobs_order_last",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/companies/{id}/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_read",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "View a company.",
        "parameters": [
          {
            "name": "include_reseller",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "companies_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "Update a company.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUpdate"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "companies_partial_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyUpdate"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "companies_delete",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "Delete a company, also deleting all backup accounts and backup data.",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/companies/{id}/agent-session/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_agent_session",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentSession"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/agents/update-latest/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "companies_agents_agents_update_latest",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/backup-set-templates/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_backup_set_templates",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BackupSetTemplate"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/backup-stores/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_backup-stores_read",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyBackupStore"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "companies_backup-stores_update",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyBackupStore"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyBackupStore"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/c2c/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "operationId": "companies_c2c",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyC2C"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "204": {
            "description": "OK"
          }
        }
      }
    },
    "/companies/{id}/c2c/{backup_type}/": {
      "parameters": [
        {
          "name": "backup_type",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "delete": {
        "operationId": "companies_delete_c2c",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "X-Servosity-Mfa",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/companies/{id}/cloud-to-cloud-dashboard/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_cloud_to_cloud_dashboard",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/connectwise-download-url/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_connectwise_download_url",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/dr-snapshots/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_dr_snapshots",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DRBackupSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/dr-upload/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_dr_upload",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_draas_read",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDraasInfo"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "companies_draas_create",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDraasInfoCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDraasInfoCreate"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/attach-volumes/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "companies_draas_draas_attach_volumes",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/client-vpn-config/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_draas_client_vpn_config",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/client-vpn-endpoint-associate/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "companies_draas_draas_client_vpn_endpoint_associate",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/client-vpn-endpoint-disassociate/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "companies_draas_draas_client_vpn_endpoint_disassociate",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/client-vpn-endpoint/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "companies_draas_draas_create_client_vpn_endpoint",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/destroy-spinup/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "operationId": "companies_draas_destroy_spinup",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/eligibility/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_draas_draas_eligibility",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/events/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_draas_draas_events",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDraasEvent"
                }
              }
            }
          }
        }
      }
    },
    "/companies/{id}/draas/extra-instance-create-image/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "put": {
        "operationId": "companies_draas_draas_extra_instance_create_image",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDraasInstanceId"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/companies/{id}/draas/extra-instance-password/": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "A unique integer value identifying this company.",
          "schema": {
            "type": "integer"
          }
        }
      ],
      "get": {
        "operationId": "companies_draas_draas_extra_instance_password",
        "tags": [
          "companies"
        ],
        "description": "",
        "summary": "",
        "parameters": [
          {
            "name": "instance_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDraasInstancePassword"
                }
              }
            }
          }
        }
[...]
