{
  "openapi": "3.1.0",
  "info": {
    "title": "Scrape Creators API",
    "description": "The easiest way to scrape public social media data at scale. Extract profiles, posts, videos, comments, and more from TikTok, Instagram, YouTube, Twitter, LinkedIn, Facebook, Reddit, and 27+ platforms.\n\nAuthentication: send your Scrape Creators API key in the x-api-key header (env var SCRAPECREATORS_API_KEY).",
    "version": "1.0.0",
    "contact": {
      "name": "Scrape Creators",
      "url": "https://scrapecreators.com",
      "email": "support@scrapecreators.com"
    }
  },
  "servers": [
    {
      "url": "https://api.scrapecreators.com",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "TikTok",
      "description": "Scrape TikTok profiles, videos, and more"
    },
    {
      "name": "TikTok Shop",
      "description": "Everything about TikTok Shop"
    },
    {
      "name": "Instagram",
      "description": "Gets Instagram profiles, posts, and reels"
    },
    {
      "name": "YouTube",
      "description": "Scrape YouTube channels, videos, and more"
    },
    {
      "name": "Rumble",
      "description": "Scrape Rumble search, videos, transcripts, and channel videos"
    },
    {
      "name": "LinkedIn",
      "description": "Scrape LinkedIn"
    },
    {
      "name": "Facebook",
      "description": "Get public Facebook profiles and posts"
    },
    {
      "name": "GitHub",
      "description": "Scrape GitHub profiles, repositories, and public activity"
    },
    {
      "name": "Facebook Marketplace",
      "description": "Scrape Facebook Marketplace"
    },
    {
      "name": "Facebook Events",
      "description": "Scrape Facebook Events"
    },
    {
      "name": "Facebook Ad Library",
      "description": "Scrapes the Facebook (Meta) Ad Library"
    },
    {
      "name": "TikTok Ad Library",
      "description": "Scrape the TikTok Ad Library"
    },
    {
      "name": "Google Ad Library",
      "description": "Scrape the Google Ad Transparency Library. *This only gets the public ads. Some ads you need to log in for and sadly we can't get those. Also, since there are so many variations, the return types might not all be 100% the same. Email me for suggestions. Also this endpoint is pretty new, if you find any errors or irregularities, please email me: support@scrapecreators.com"
    },
    {
      "name": "LinkedIn Ad Library",
      "description": "Search the LinkedIn Ad Library"
    },
    {
      "name": "Twitter",
      "description": "Get Twitter profiles, tweets, followers and more"
    },
    {
      "name": "Reddit",
      "description": "Scrape Reddit posts and comments"
    },
    {
      "name": "Truth Social",
      "description": "As of 8/27/2025, Truth Social is only letting you view the public profile/posts of prominent users (like Trump and Vance), but requiring auth for everyone else. So sadly most other accounts will not work :("
    },
    {
      "name": "Threads",
      "description": "Get Threads posts"
    },
    {
      "name": "Bluesky",
      "description": "Get Bluesky posts and profile info"
    },
    {
      "name": "Pinterest",
      "description": "Scrape Pinterest pins"
    },
    {
      "name": "Google",
      "description": "Scrape Google search results"
    },
    {
      "name": "Twitch",
      "description": "Scrape Twitch clips"
    },
    {
      "name": "Spotify",
      "description": "Scrape Spotify artists, songs, and albums"
    },
    {
      "name": "SoundCloud",
      "description": "Scrape SoundCloud playlists and tracks"
    },
    {
      "name": "Kwai",
      "description": "Scrape Kwai profiles, posts, and user feeds"
    },
    {
      "name": "Kick",
      "description": "Scrape Kick clips"
    },
    {
      "name": "Snapchat",
      "description": "Scrape Snapchat user profiles and thier stories"
    },
    {
      "name": "Linktree",
      "description": "Scrape Linktree pages"
    },
    {
      "name": "Komi",
      "description": "Scrape Komi pages"
    },
    {
      "name": "Pillar",
      "description": "Scrape Pillar pages"
    },
    {
      "name": "Linkbio",
      "description": "Scrape Linkbio (lnk.bio) pages"
    },
    {
      "name": "Amazon Shop",
      "description": "Scrape Amazon Shop pages"
    },
    {
      "name": "Age and Gender",
      "description": "Get age and gender of creator"
    },
    {
      "name": "Scrape Creators",
      "description": "For Scrape Creators customers"
    },
    {
      "name": "Linkme",
      "description": "Get Linkme profile info"
    }
  ],
  "paths": {
    "/v1/tiktok/profile": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Profile",
        "description": "Fetches public profile data for a TikTok user by their handle or user_id — useful for looking up a creator's identity, bio, and account stats. Returns a `user` object (display name, avatar URLs, bio/signature, verification status, bio link) and a `stats` object (followerCount, followingCount, heartCount/total likes, videoCount). This only returns profile metadata, not the user's actual videos or followers list.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": false,
            "description": "TikTok handle. You can pass handle or user_id.",
            "schema": {
              "type": "string"
            },
            "example": "stoolpresidente"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "TikTok user id.",
            "schema": {
              "type": "string"
            },
            "example": "6659752019493208069"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "user": {
                    "id": "6659752019493208069",
                    "shortId": "",
                    "uniqueId": "stoolpresidente",
                    "nickname": "Dave Portnoy",
                    "avatarLarger": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~c5_1080x1080.jpeg?lk3s=a5d48078&nonce=58494&refresh_token=466ff0b92ed2f51170dbbdc2a30b9e9a&x-expires=1737921600&x-signature=uZnt1AjbwQ5pMTWNSV5hqw8QhMM%3D&shp=a5d48078&shcp=81f88b70",
                    "avatarMedium": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~c5_720x720.jpeg?lk3s=a5d48078&nonce=18587&refresh_token=4c5e30ff3fe99ca813d9f79d74c41fb1&x-expires=1737921600&x-signature=6ropsZzca3J6jx%2BH49D%2BAgxMoe4%3D&shp=a5d48078&shcp=81f88b70",
                    "avatarThumb": "https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~c5_100x100.jpeg?lk3s=a5d48078&nonce=56685&refresh_token=52483b418cbeceeaf2863a9fe0feb830&x-expires=1737921600&x-signature=xGLErTLpukZpmPcYw1ZBHJpPEbM%3D&shp=a5d48078&shcp=81f88b70",
                    "signature": "El Presidente/Barstool Sports Founder.",
                    "createTime": 1550594547,
                    "verified": true,
                    "secUid": "MS4wLjABAAAAINC_ElRR-l1RCcnEjOZhNO-9wOzAMf-YHXqRY8vvG9bEhMRa6iu23TaE3JPZYXBD",
                    "ftc": false,
                    "relation": 0,
                    "openFavorite": false,
                    "bioLink": {
                      "link": "https://www.barstoolsports.com/bios/Surviving-Barstool",
                      "risk": 0
                    },
                    "commentSetting": 0,
                    "commerceUserInfo": {
                      "commerceUser": false
                    },
                    "duetSetting": 0,
                    "stitchSetting": 0,
                    "privateAccount": false,
                    "secret": false,
                    "isADVirtual": false,
                    "roomId": "",
                    "uniqueIdModifyTime": 0,
                    "ttSeller": false,
                    "downloadSetting": 0,
                    "profileTab": {
                      "showMusicTab": false,
                      "showQuestionTab": false,
                      "showPlayListTab": true
                    },
                    "followingVisibility": 1,
                    "recommendReason": "",
                    "nowInvitationCardUrl": "",
                    "nickNameModifyTime": 0,
                    "isEmbedBanned": false,
                    "canExpPlaylist": true,
                    "profileEmbedPermission": 1,
                    "language": "en",
                    "eventList": [],
                    "suggestAccountBind": false,
                    "isOrganization": 0
                  },
                  "stats": {
                    "followerCount": 4100000,
                    "followingCount": 74,
                    "heart": 190400000,
                    "heartCount": 190400000,
                    "videoCount": 2017,
                    "diggCount": 0,
                    "friendCount": 52
                  },
                  "itemList": []
                }
              }
            }
          }
        },
        "x-pp-example": "scrape-creators-pp-cli tiktok list-profile --handle mrbeast"
      }
    },
    "/v1/tiktok/profile/region": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Profile Region",
        "description": "Returns the TikTok region code for a public profile, like `US` for United States or `MX` for Mexico.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "TikTok handle",
            "schema": {
              "type": "string"
            },
            "example": "stoolpresidente"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "credits": 100,
                  "handle": "stoolpresidente",
                  "profile_url": "https://www.tiktok.com/@stoolpresidente",
                  "region": "US"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tiktok/user/audience": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "User's Audience Demographics",
        "description": "Retrieves audience demographic data for a TikTok user, showing where their followers are located by country. Returns `audienceLocations`, an array of objects each containing `country`, `countryCode`, `count`, and `percentage`. Costs 26 credits per request.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "TikTok handle",
            "schema": {
              "type": "string"
            },
            "example": "shakira"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "audienceLocations": [
                    {
                      "country": "Mexico",
                      "countryCode": "MX",
                      "count": 83,
                      "percentage": "15.96%"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v3/tiktok/profile/videos": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Profile Videos",
        "description": "Fetches videos posted by a TikTok user, sortable by latest or most popular — use this to get a creator's video feed or TikToks. Returns `aweme_list`, an array of video objects each containing `aweme_id`, `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count, collect_count/saves), and `video` (download URLs, duration, cover image). Paginate with `max_cursor` from the previous response.",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "TikTok handle",
            "schema": {
              "type": "string"
            },
            "example": "stoolpresidente"
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "TikTok user id. Use this for faster responses.",
            "schema": {
              "type": "string"
            },
            "example": "6659752019493208069"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "What to sort by",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "popular"
              ]
            },
            "example": "latest"
          },
          {
            "name": "max_cursor",
            "in": "query",
            "required": false,
            "description": "Cursor to get more videos. Get 'max_cursor' from previous response.",
            "schema": {
              "type": "string"
            },
            "example": "1734562353000"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Region (Country) you want the proxy in. Defaults to US.",
            "schema": {
              "type": "string"
            },
            "example": "US"
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true for a trimmed down version of the response",
            "schema": {
              "type": "boolean"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "aweme_list": [
                    {
                      "aweme_id": "7517114944362499342",
                      "desc": "You can say whatever you want about the WNBA is but it’s never boring",
                      "desc_language": "en",
                      "region": "US",
                      "statistics": {
                        "aweme_id": "7517114944362499342",
                        "collect_count": 1565,
                        "comment_count": 587,
                        "digg_count": 59605,
                        "download_count": 178,
                        "forward_count": 0,
                        "lose_comment_count": 0,
                        "lose_count": 0,
                        "play_count": 559925,
                        "repost_count": 0,
                        "share_count": 3424,
                        "whatsapp_share_count": 7
                      },
                      "video": {
                        "CoverTsp": 140.193500922967,
                        "ai_dynamic_cover": {
                          "uri": "tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H",
                          "url_list": [
                            "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H~tplv-tiktokx-origin.image?dr=9229&refresh_token=2a5a8daf&x-expires=1750370400&x-signature=PsejWQNXF%2BXPz%2BcpwWcdtCU9ddY%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=132edbea&idc=no1a&biz_tag=tt_video&s=PUBLISH&sc=dynamic_cover"
                          ],
                          "url_prefix": null
                        },
                        "ai_dynamic_cover_bak": {
                          "uri": "tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H",
                          "url_list": [
                            "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H~tplv-tiktokx-origin.image?dr=9229&refresh_token=2a5a8daf&x-expires=1750370400&x-signature=PsejWQNXF%2BXPz%2BcpwWcdtCU9ddY%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=132edbea&idc=no1a&biz_tag=tt_video&s=PUBLISH&sc=dynamic_cover"
                          ],
                          "url_prefix": null
                        },
                        "animated_cover": {
                          "uri": "tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H",
                          "url_list": [
                            "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H~tplv-tiktokx-origin.image?dr=9229&refresh_token=2a5a8daf&x-expires=1750370400&x-signature=PsejWQNXF%2BXPz%2BcpwWcdtCU9ddY%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=132edbea&idc=no1a&biz_tag=tt_video&s=PUBLISH&sc=dynamic_cover"
                          ],
                          "url_prefix": null
                        },
                        "big_thumbs": [
                          {
                            "duration": 173.66667,
                            "fext": "jpeg",
                            "img_num": 174,
                            "img_uris": [
                              "tos-maliva-p-0068c799-us/ogA4IiXKCF41BKBgnU9aS9ECP7zIZsMvTIivE"
                            ],
                            "img_url": "",
                            "img_urls": [
                              "https://p16-sign-va.tiktokcdn.com/tos-maliva-p-0068c799-us/ogA4IiXKCF41BKBgnU9aS9ECP7zIZsMvTIivE~tplv-noop.image?x-expires=1750371666&x-signature=1vtd4zbxRXSMA9ysRa68cfDAtLM%3D"
                            ],
                            "img_x_len": 5,
                            "img_x_size": 136,
                            "img_y_len": 5,
                            "img_y_size": 240,
                            "interval": 1,
                            "uri": ""
                          }
                        ],
                        "bit_rate": [
                          {
                            "HDR_bit": "",
                            "HDR_type": "",
                            "bit_rate": 694328,
                            "dub_infos": null,
                            "fid_profile_labels": "",
                            "fps": 30,
                            "gear_name": "adapt_lower_720_2",
                            "is_bytevc1": 2,
                            "play_addr": {
                              "data_size": 15073438,
                              "file_cs": "c:0-144831-d8fd",
                              "file_hash": "bade4c49b717e85095bf288836f2cf41",
                              "height": 1280,
                              "uri": "v12044gd0000d192fcnog65ouluk5f60",
                              "url_key": "v12044gd0000d192fcnog65ouluk5f60_bytevc2_720p_694328",
                              "url_list": [
                                "https://v45.tiktokcdn-eu.com/e026c66342e50c03deeb909ecf672f65/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/oQOIKCXpeQMxlHgA9YwA8fQqQkIfj3UHkctEaC/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=1356&bt=678&cs=5&ds=3&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=14&rc=ZWQ3OTk1ODMzZGU0NjY3aUBpM2lub3I5cmY1NDMzZzczNEAuNS8yMl4tX18xNmAuYzUwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000",
                                "https://v19.tiktokcdn-eu.com/a0bbafb1a81b3f9bf00b6e80dcf95092/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/oQOIKCXpeQMxlHgA9YwA8fQqQkIfj3UHkctEaC/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=1356&bt=678&cs=5&ds=3&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=14&rc=ZWQ3OTk1ODMzZGU0NjY3aUBpM2lub3I5cmY1NDMzZzczNEAuNS8yMl4tX18xNmAuYzUwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00090000",
                                "https://api16-normal-no1a.tiktokv.eu/aweme/v1/play/?faid=1233&file_id=3f84f313c19b4ab0b005a25656248a1b&is_play_url=1&item_id=7517114944362499342&line=0&signaturev3=dmlkZW9faWQ7ZmlsZV9pZDtpdGVtX2lkLjg3Nzg0ZGM1MGIwZDAzMDUxYjlkYTFmNzMwMGFkZGQz&source=PUBLISH&video_id=v12044gd0000d192fcnog65ouluk5f60"
                              ],
                              "url_prefix": null,
                              "width": 720
                            },
                            "quality_type": 14,
                            "video_extra": "{\"PktOffsetMap\":\"[{\\\"time\\\": 1, \\\"offset\\\": 264024}, {\\\"time\\\": 2, \\\"offset\\\": 330253}, {\\\"time\\\": 3, \\\"offset\\\": 403843}, {\\\"time\\\": 4, \\\"offset\\\": 488694}, {\\\"time\\\": 5, \\\"offset\\\": 579736}, {\\\"time\\\": 10, \\\"offset\\\": 996199}]\",\"mvmaf\":\"{\\\"v2.0\\\": {\\\"srv1\\\": {\\\"v1080\\\": 96.728, \\\"v960\\\": 97.931, \\\"v864\\\": 98.683, \\\"v720\\\": 99.11}, \\\"ori\\\": {\\\"v1080\\\": 89.806, \\\"v960\\\": 91.917, \\\"v864\\\": 92.924, \\\"v720\\\": 95.104}}}\",\"ufq\":\"{\\\"enh\\\":66.187,\\\"playback\\\":{\\\"ori\\\":59.993,\\\"srv1\\\":64.978},\\\"src\\\":66.187,\\\"trans\\\":59.993,\\\"version\\\":\\\"v1.2\\\"}\",\"volume_info_json\":\"\",\"transcode_feature_id\":\"398b00a3a79e904ef5421940da02ff2a\",\"dec_info\":\"\",\"gearvqm\":\"\"}"
                          }
                        ],
                        "bit_rate_audio": [],
                        "cdn_url_expired": 0,
                        "cla_info": {
                          "caption_infos": [
                            {
                              "caption_format": "webvtt",
                              "caption_length": 2908,
                              "cla_subtitle_id": 7517115695181434000,
                              "complaint_id": 7517115695181434000,
                              "expire": 1752877266,
                              "is_auto_generated": true,
                              "is_original_caption": true,
                              "lang": "eng-US",
                              "language_code": "en",
                              "language_id": 2,
                              "source_tag": "trantor,vv_counter,",
                              "sub_id": -1038776546,
                              "sub_version": "1",
                              "subtitle_type": 1,
                              "translation_type": 0,
                              "translator_id": 0,
                              "url": "https://v16-cla.tiktokcdn.com/60e8a5e0d717490c9dbed68c8634a71e/687ac8d2/video/tos/maliva/tos-maliva-v-0068c799-us/62a5670f178245afb69f54becd90c657/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=19934&bt=9967&cs=0&ds=4&ft=asAJ4qqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=13&rc=M2lub3I5cmY1NDMzZzczNEBpM2lub3I5cmY1NDMzZzczNEAzMnJyMmRrYzZhLS1kMS9zYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00050000",
                              "url_list": [
                                "https://v16-cla.tiktokcdn.com/60e8a5e0d717490c9dbed68c8634a71e/687ac8d2/video/tos/maliva/tos-maliva-v-0068c799-us/62a5670f178245afb69f54becd90c657/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=19934&bt=9967&cs=0&ds=4&ft=asAJ4qqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=13&rc=M2lub3I5cmY1NDMzZzczNEBpM2lub3I5cmY1NDMzZzczNEAzMnJyMmRrYzZhLS1kMS9zYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00050000",
                                "https://v19-cla.tiktokcdn.com/edb0dca1f663541ce8d23d8e6bd51a4e/687ac8d2/video/tos/maliva/tos-maliva-v-0068c799-us/62a5670f178245afb69f54becd90c657/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=19934&bt=9967&cs=0&ds=4&ft=asAJ4qqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=13&rc=M2lub3I5cmY1NDMzZzczNEBpM2lub3I5cmY1NDMzZzczNEAzMnJyMmRrYzZhLS1kMS9zYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00050000",
                                "https://vas-useast2a.tiktokv.com/tiktok/v1/subtitle/url?aid=1233&format=webvtt&language=eng-US&sign=51c84be4bf172d370916f112a6876c32&version=1%3Abig_caption&vid=v12044gd0000d192fcnog65ouluk5f60"
                              ],
                              "variant": "big_caption"
                            }
                          ],
                          "captions_type": 2,
                          "creator_edited_caption_id": 0,
                          "enable_auto_caption": 0,
                          "has_original_audio": 1,
                          "hide_original_caption": false,
                          "no_caption_reason": 0,
                          "original_language_info": {
                            "can_translate_realtime": false,
                            "can_translate_realtime_skip_translation_lang_check": true,
                            "first_subtitle_time": 340,
                            "is_burnin_caption": false,
                            "lang": "eng-US",
                            "language_code": "en",
                            "language_id": 2,
                            "original_caption_type": 1
                          },
                          "vertical_positions": null
                        },
                        "cover": {
                          "height": 720,
                          "uri": "tos-useast5-p-0068-tx/oUKFS4HhaMvXICUEIc1AgN7HEs9nivBIBC4iI",
                          "url_list": [
                            "https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/oUKFS4HhaMvXICUEIc1AgN7HEs9nivBIBC4iI~tplv-tiktokx-cropcenter-q:300:400:q72.heic?dr=9232&refresh_token=e9f72667&x-expires=1750370400&x-signature=ASUnIL%2BG4pudjttwvChahXtZEW4%3D&t=bacd0480&ps=933b5bde&shp=d05b14bd&shcp=132edbea&idc=no1a&biz_tag=tt_video&s=PUBLISH&sc=cover"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "cover_is_custom": true,
                        "did_profile_labels": "",
                        "download_addr": {
                          "data_size": 24637995,
                          "file_cs": "c:0-143697-b9bb",
                          "height": 720,
                          "uri": "v12044gd0000d192fcnog65ouluk5f60",
                          "url_list": [
                            "https://v45.tiktokcdn-eu.com/a304184e3539ff8ceb2bcea1b5cd67f6/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/osMffQHg9IKplXhIekq8xUpGsKuYCjAqSQQEAH/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2216&bt=1108&cs=0&ds=3&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=0&rc=NDxmZGg1ZTw6NGlkNDM1N0BpM2lub3I5cmY1NDMzZzczNEAuMGEwMGBfXmExMWA2Y2I2YSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "download_no_watermark_addr": {
                          "data_size": 23315651,
                          "file_cs": "c:0-143697-b9bb",
                          "file_hash": "dc0d3f39653d5d1383f62d1c61ad9d5e",
                          "height": 1024,
                          "uri": "v12044gd0000d192fcnog65ouluk5f60",
                          "url_key": "v12044gd0000d192fcnog65ouluk5f60_h264_540p_1073989",
                          "url_list": [
                            "https://v45.tiktokcdn-eu.com/c8fc49d58f379d7e3ea4a564a2ddbde2/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/o4u9CaIEvIMFiAHihBB4ng4sXQUWSFK1E1PvI/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2096&bt=1048&cs=0&ds=6&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=0&rc=Zmk5aDg8NzxkZTZoZ2QzOkBpM2lub3I5cmY1NDMzZzczNEBfNjY0Yy9jXjMxYF4yYTYwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000"
                          ],
                          "url_prefix": null,
                          "width": 576
                        },
                        "duration": 173675,
                        "dynamic_cover": {
                          "height": 720,
                          "uri": "tos-useast5-p-0068-tx/oIQCgk8IAMQfKA2ewUdC8XIH9HktlgfqjEpU2F",
                          "url_list": [
                            "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/oIQCgk8IAMQfKA2ewUdC8XIH9HktlgfqjEpU2F~tplv-tiktokx-origin.image?dr=9229&refresh_token=e20935f0&x-expires=1750370400&x-signature=%2FbtL8pYPrWExQyGJg5RtZyYoL0w%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=132edbea&idc=no1a&biz_tag=tt_video&s=PUBLISH&sc=dynamic_cover"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "has_watermark": true,
                        "height": 1024,
                        "is_bytevc1": 0,
                        "is_callback": true,
                        "is_long_video": 1,
                        "meta": "{\"LoudnessRange\":\"4.2\",\"LoudnessRangeEnd\":\"-15.5\",\"LoudnessRangeStart\":\"-19.7\",\"MaximumMomentaryLoudness\":\"-9.6\",\"MaximumShortTermLoudness\":\"-14\",\"Version\":\"2\",\"VolumeInfoJson\":\"{\\\"MaximumMomentaryLoudness\\\":-9.6,\\\"MaximumShortTermLoudness\\\":-14,\\\"Metrics\\\":{\\\"Phase\\\":{\\\"RMSDownmixDiff\\\":-0.635},\\\"RMSStats\\\":{\\\"LTotal\\\":-18.202,\\\"Peak\\\":0.099,\\\"RTotal\\\":-25.112,\\\"LRDiff\\\":6.91},\\\"Version\\\":\\\"1.4.2\\\",\\\"AEDInfo\\\":{\\\"MusicRatio\\\":0,\\\"SingingRatio\\\":0.1,\\\"SpeechRatio\\\":0.89},\\\"AnchorLoudness\\\":{\\\"Speech\\\":{\\\"LoudR\\\":4,\\\"LoudRE\\\":-15.3,\\\"LoudRS\\\":-19.3,\\\"MaxMomLoud\\\":-9.61,\\\"MaxSTLoud\\\":-14.04,\\\"Loud\\\":-16.88}},\\\"Cutoff\\\":{\\\"FCenL\\\":2028.05,\\\"FCenR\\\":2888.08,\\\"Spkr100G\\\":0,\\\"Spkr150G\\\":0.07,\\\"Spkr200G\\\":0.28},\\\"Loudness\\\":{\\\"Integrated\\\":-16.956}},\\\"Peak\\\":1,\\\"Version\\\":2,\\\"Loudness\\\":-17,\\\"LoudnessRangeEnd\\\":-15.5,\\\"LoudnessRangeStart\\\":-19.7,\\\"LoudnessRange\\\":4.2}\",\"bright_ratio_mean\":\"0.0919\",\"brightness_mean\":\"152.8454\",\"diff_overexposure_ratio\":\"0.0072\",\"flight_id\":\"\",\"loudness\":\"-17\",\"overexposure_ratio_mean\":\"0.0035\",\"peak\":\"1\",\"play_time_prob_dist\":\"[800,0.3795,8401.3177]\",\"sr_score\":\"1.000\",\"std_brightness\":\"12.0401\",\"vq_score\":\"55.86\"}",
                        "misc_download_addrs": "{\"suffix_scene\":{\"uri\":\"v12044gd0000d192fcnog65ouluk5f60\",\"url_list\":[\"https://v45.tiktokcdn-eu.com/6c7c8708936435dba8b7b2b12ca777ec/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/oMQjUpISHhGffZMKCA8YXqAkg9Qe0xUlHEpQRI/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2304&bt=1152&cs=0&ds=3&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=0&rc=PDQ8MzRkOjc7OzdkNzo6aUBpM2lub3I5cmY1NDMzZzczNEAuX2NeXzMyNjUxNjBeLmEwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000\",\"https://v19.tiktokcdn-eu.com/d7bc36ee542b7654e745a871dd71a877/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/oMQjUpISHhGffZMKCA8YXqAkg9Qe0xUlHEpQRI/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2304&bt=1152&cs=0&ds=3&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=0&rc=PDQ8MzRkOjc7OzdkNzo6aUBpM2lub3I5cmY1NDMzZzczNEAuX2NeXzMyNjUxNjBeLmEwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00090000\",\"https://api16-normal-no1a.tiktokv.eu/aweme/v1/play/?video_id=v12044gd0000d192fcnog65ouluk5f60&line=0&watermark=1&logo_name=tiktok_end_sonic&source=PUBLISH&file_id=3fd717a43a94488894576ab1a0f9b119&item_id=7517114944362499342&signaturev3=dmlkZW9faWQ7ZmlsZV9pZDtpdGVtX2lkLjFmNTMxOGZiMGZlOWJmYTQyYjUwZTg0OGVmYjQ2MDBj&shp=d05b14bd&shcp=-\"],\"width\":720,\"height\":720,\"data_size\":26207203,\"file_cs\":\"c:0-143697-b9bb\",\"url_prefix\":null}}",
                        "need_set_token": false,
                        "origin_cover": {
                          "height": 720,
                          "uri": "tos-useast5-p-0068-tx/ooyQIJ3YQXAq5pBAQjeMklUKEeUk9HQk5Hf8CI",
                          "url_list": [
                            "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/ooyQIJ3YQXAq5pBAQjeMklUKEeUk9HQk5Hf8CI~tplv-dmt-adapt-360p.heic?dr=1360&refresh_token=19df3a47&x-expires=1750370400&x-signature=OQr8OiFdm5ns29aFllaVRuNSYI4%3D&t=bacd0480&ps=d97f9a4f&shp=d05b14bd&shcp=132edbea&idc=no1a&biz_tag=tt_video&s=PUBLISH&sc=feed_cover"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "play_addr": {
                          "data_size": 23315651,
                          "file_cs": "c:0-143697-b9bb",
                          "file_hash": "dc0d3f39653d5d1383f62d1c61ad9d5e",
                          "height": 1024,
                          "uri": "v12044gd0000d192fcnog65ouluk5f60",
                          "url_key": "v12044gd0000d192fcnog65ouluk5f60_h264_540p_1073989",
                          "url_list": [
                            "https://v45.tiktokcdn-eu.com/c8fc49d58f379d7e3ea4a564a2ddbde2/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/o4u9CaIEvIMFiAHihBB4ng4sXQUWSFK1E1PvI/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2096&bt=1048&cs=0&ds=6&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=0&rc=Zmk5aDg8NzxkZTZoZ2QzOkBpM2lub3I5cmY1NDMzZzczNEBfNjY0Yy9jXjMxYF4yYTYwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000"
                          ],
                          "url_prefix": null,
                          "width": 576
                        },
                        "play_addr_bytevc1": {
                          "data_size": 13687862,
                          "file_cs": "c:0-144445-e93b",
                          "file_hash": "2758eda4b7836458bd1d717a50e4625c",
                          "height": 1024,
                          "uri": "v12044gd0000d192fcnog65ouluk5f60",
                          "url_key": "v12044gd0000d192fcnog65ouluk5f60_bytevc1_540p_630504",
                          "url_list": [
                            "https://v45.tiktokcdn-eu.com/40a7c7ce8a5412baec20ec1ed1070059/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/oIekjEYsQQkaIGHHWCpXd69QIUMgqZAKlA8e2f/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=1230&bt=615&cs=2&ds=6&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=11&rc=NDVlZmk0MzY8ZDg3OWU4Z0BpM2lub3I5cmY1NDMzZzczNEAxLmM0Ni5fX14xMl9fNTMxYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000"
                          ],
                          "url_prefix": null,
                          "width": 576
                        },
                        "play_addr_h264": {
                          "data_size": 23315651,
                          "file_cs": "c:0-143697-b9bb",
                          "file_hash": "dc0d3f39653d5d1383f62d1c61ad9d5e",
                          "height": 1024,
                          "uri": "v12044gd0000d192fcnog65ouluk5f60",
                          "url_key": "v12044gd0000d192fcnog65ouluk5f60_h264_540p_1073989",
                          "url_list": [
                            "https://v45.tiktokcdn-eu.com/c8fc49d58f379d7e3ea4a564a2ddbde2/68548d52/video/tos/maliva/tos-maliva-ve-0068c799-us/o4u9CaIEvIMFiAHihBB4ng4sXQUWSFK1E1PvI/?a=1233&bti=M0BzMzU8OGYpNzo5Zi5wIzEuLjpkNDQwOg%3D%3D&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2096&bt=1048&cs=0&ds=6&ft=XMeJiqqEm3aPD129DKoT3wUuDjGAMeF~O5&mime_type=video_mp4&qs=0&rc=Zmk5aDg8NzxkZTZoZ2QzOkBpM2lub3I5cmY1NDMzZzczNEBfNjY0Yy9jXjMxYF4yYTYwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=2025061906181346397E96BB7CA53550DC&btag=e00095000"
                          ],
                          "url_prefix": null,
                          "width": 576
                        },
                        "ratio": "540p",
                        "source_HDR_type": 0,
                        "tags": null,
                        "vid_profile_labels": "{\"tier3\":\"10059\"}",
                        "video_model": "",
                        "width": 576
                      },
                      "author": {
                        "accept_private_policy": false,
                        "account_labels": null,
                        "account_region": "",
                        "ad_cover_url": null,
                        "advance_feature_item_order": null,
                        "advanced_feature_info": null,
                        "apple_account": 0,
                        "authority_status": 0,
                        "avatar_168x168": {
                          "height": 720,
                          "uri": "tos-maliva-avt-0068/7310178711609032710",
                          "url_list": [
                            "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:168:168:q70.heic?dr=9604&idc=no1a&ps=87d6e48a&s=PUBLISH&sc=avatar&shcp=132edbea&shp=45126217&t=223449c4"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "avatar_300x300": {
                          "height": 720,
                          "uri": "tos-maliva-avt-0068/7310178711609032710",
                          "url_list": [
                            "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:300:300:q70.heic?dr=9605&idc=no1a&ps=87d6e48a&s=PUBLISH&sc=avatar&shcp=132edbea&shp=45126217&t=223449c4"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "avatar_larger": {
                          "height": 720,
                          "uri": "tos-maliva-avt-0068/7310178711609032710",
                          "url_list": [
                            "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:1080:1080:q70.heic?dr=9608&idc=no1a&ps=87d6e48a&s=PUBLISH&sc=avatar&shcp=132edbea&shp=45126217&t=223449c4"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "avatar_medium": {
                          "height": 720,
                          "uri": "tos-maliva-avt-0068/7310178711609032710",
                          "url_list": [
                            "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:720:720:q70.heic?dr=9607&idc=no1a&ps=87d6e48a&s=PUBLISH&sc=avatar&shcp=132edbea&shp=45126217&t=223449c4"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "avatar_meta_info_list": [
                          {
                            "avatar_category": 6,
                            "avatar_meta_info": {}
                          }
                        ],
                        "avatar_thumb": {
                          "height": 720,
                          "uri": "tos-maliva-avt-0068/7310178711609032710",
                          "url_list": [
                            "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:100:100:q70.heic?dr=9606&idc=no1a&ps=87d6e48a&s=PUBLISH&sc=avatar&shcp=132edbea&shp=45126217&t=223449c4"
                          ],
                          "url_prefix": null,
                          "width": 720
                        },
                        "avatar_uri": "tos-maliva-avt-0068/7310178711609032710",
                        "aweme_count": 2135,
                        "bind_phone": "",
                        "bold_fields": null,
                        "can_message_follow_status_list": [
                          0
                        ],
                        "can_set_geofencing": null,
                        "cha_list": null,
                        "comment_filter_status": 0,
                        "comment_setting": 0,
                        "commerce_user_level": 0,
                        "cover_url": [],
                        "create_time": 0,
                        "custom_verify": "Account verificato",
                        "cv_level": "",
                        "download_prompt_ts": 0,
                        "download_setting": 0,
                        "duet_setting": 0,
                        "enabled_filter_all_comments": false,
                        "enterprise_verify_reason": "",
                        "events": null,
                        "fake_data_info": {},
                        "favoriting_count": 174,
                        "fb_expire_time": 0,
                        "follow_status": 0,
                        "follower_count": 4424699,
                        "follower_status": 0,
                        "followers_detail": null,
                        "following_count": 81,
                        "friends_status": 0,
                        "geofencing": null,
                        "google_account": "",
                        "has_email": false,
                        "has_facebook_token": false,
                        "has_insights": false,
                        "has_orders": false,
                        "has_twitter_token": false,
                        "has_youtube_token": false,
                        "hide_search": true,
                        "homepage_bottom_toast": null,
                        "ins_id": "stoolpresidente",
                        "is_ad_fake": false,
                        "is_block": false,
                        "is_discipline_member": false,
                        "is_mute": 0,
                        "is_mute_lives": 0,
                        "is_mute_non_story_post": 0,
                        "is_mute_story": 0,
                        "is_phone_binded": false,
                        "is_star": false,
                        "item_list": null,
                        "language": "en",
                        "live_agreement": 0,
                        "live_commerce": false,
                        "live_verify": 0,
                        "mention_status": 1,
                        "mutual_relation_avatars": null,
                        "need_points": null,
                        "need_recommend": 0,
                        "nickname": "Dave Portnoy",
                        "original_musician": {
                          "digg_count": 0,
                          "music_count": 0,
                          "music_used_count": 0,
                          "new_release_clip_ids": null
                        },
                        "platform_sync_info": null,
                        "prevent_download": false,
                        "react_setting": 0,
                        "region": "US",
                        "relative_users": null,
                        "reply_with_video_flag": 4,
                        "room_id": 0,
                        "search_highlight": null,
                        "sec_uid": "MS4wLjABAAAAINC_ElRR-l1RCcnEjOZhNO-9wOzAMf-YHXqRY8vvG9bEhMRa6iu23TaE3JPZYXBD",
                        "secret": 0,
                        "share_info": {
                          "now_invitation_card_image_urls": null,
                          "share_desc": "",
                          "share_desc_info": "",
                          "share_qrcode_url": {
                            "height": 720,
                            "uri": "",
                            "url_list": [],
                            "url_prefix": null,
                            "width": 720
                          },
                          "share_title": "",
                          "share_title_myself": "",
                          "share_title_other": "",
                          "share_url": ""
                        },
                        "share_qrcode_uri": "",
                        "shield_comment_notice": 0,
                        "shield_digg_notice": 0,
                        "shield_edit_field_info": null,
                        "shield_follow_notice": 0,
                        "short_id": "0",
                        "show_image_bubble": false,
                        "signature": "El Presidente/Barstool Sports Founder.",
                        "special_account": {
                          "special_account_list": null
                        },
                        "special_lock": 1,
                        "status": 1,
                        "stitch_setting": 0,
                        "total_favorited": 207994633,
                        "tw_expire_time": 0,
                        "twitter_id": "",
                        "twitter_name": "",
                        "type_label": null,
                        "uid": "6659752019493208069",
                        "unique_id": "stoolpresidente",
                        "unique_id_modify_time": 1750285093,
                        "user_canceled": false,
                        "user_mode": 1,
                        "user_now_pack_info": {},
                        "user_period": 0,
                        "user_profile_guide": null,
                        "user_rate": 17,
                        "user_spark_info": {},
                        "user_tags": null,
                        "verification_type": 1,
                        "verify_info": "",
                        "video_icon": {
                          "height": 720,
                          "uri": "",
                          "url_list": [],
                          "url_prefix": null,
                          "width": 720
                        },
                        "white_cover_url": null,
                        "with_commerce_entry": false,
                        "with_shop_entry": false,
                        "youtube_channel_id": "",
                        "youtube_channel_title": "",
                        "youtube_expire_time": 0
                      },
                      "create_time": 1750214725,
                      "is_ad": false,
                      "is_eligible_for_commission": true,
                      "is_paid_partnership": false,
                      "create_time_utc": "2025-09-03T18:37:38.000Z",
                      "url": "https://www.tiktok.com/@branttakes/video/7545933721589910798",
                      "shop_product_url": "https://www.tiktok.com/shop/pdp/1729494515984797858"
                    }
                  ],
                  "max_cursor": 1748286476000
                }
              }
            }
          }
        }
      }
    },
    "/v2/tiktok/video": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Video Info",
        "description": "Fetches detailed data for a single TikTok video by URL, including its metadata, engagement stats, and optionally its transcript/captions. Returns `aweme_detail` with `desc` (caption), `statistics` (play_count, digg_count/likes, comment_count, share_count, collect_count), `video` URLs, `author` info, and `music` info; also returns `transcript` in WEBVTT format if `get_transcript=true`. For no-watermark video URLs, use `aweme_detail.video.download_no_watermark_addr.url_list[0]` when it exists. If it is missing and `aweme_detail.video.has_watermark` is false, use `aweme_detail.video.play_addr.url_list[0]` instead. If `has_watermark` is true and `download_no_watermark_addr` is missing, TikTok did not return a no-watermark URL for that video.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "TikTok video URL",
            "schema": {
              "type": "string"
            },
            "example": "https://www.tiktok.com/@randomspamvideos25/video/7251387037834595630"
          },
          {
            "name": "get_transcript",
            "in": "query",
            "required": false,
            "description": "Get transcript of the video",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Region of the proxy. Sometimes you'll need to specify the region if you're not getting a response. Commonly for videos from the Phillipines, in which case you'd use 'PH'. Use 2 letter country codes like US, GB, FR, etc",
            "schema": {
              "type": "string"
            },
            "example": "US"
          },
          {
            "name": "trim",
            "in": "query",
            "required": false,
            "description": "Set to true to get a trimmed response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "download_media",
            "in": "query",
            "required": false,
            "description": "Set to true to download the video/images and get back permanent Supabase URLs. Costs 10 credits if media is found, 1 credit otherwise.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "aweme_detail": {
                    "aweme_id": "7517114944362499342",
                    "desc": "You can say whatever you want about the WNBA is but it’s never boring",
                    "desc_language": "en",
                    "region": "US",
                    "statistics": {
                      "aweme_id": "7517114944362499342",
                      "collect_count": 1633,
                      "comment_count": 618,
                      "digg_count": 62522,
                      "download_count": 190,
                      "forward_count": 0,
                      "lose_comment_count": 0,
                      "lose_count": 0,
                      "play_count": 589745,
                      "repost_count": 0,
                      "share_count": 3585,
                      "whatsapp_share_count": 8
                    },
                    "video": {
                      "CoverTsp": 140.193500922967,
                      "ai_dynamic_cover": {
                        "uri": "tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H",
                        "url_list": [
                          "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H~tplv-tiktokx-origin.image?dr=9229&refresh_token=1d205fbb&x-expires=1750374000&x-signature=3iaAsuyxWAl52xo73%2FzWWOnRFBo%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=1d1a97fc&idc=no1a&biz_tag=tt_video&s=AWEME_DETAIL&sc=dynamic_cover"
                        ],
                        "url_prefix": null
                      },
                      "ai_dynamic_cover_bak": {
                        "uri": "tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H",
                        "url_list": [
                          "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H~tplv-tiktokx-origin.image?dr=9229&refresh_token=1d205fbb&x-expires=1750374000&x-signature=3iaAsuyxWAl52xo73%2FzWWOnRFBo%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=1d1a97fc&idc=no1a&biz_tag=tt_video&s=AWEME_DETAIL&sc=dynamic_cover"
                        ],
                        "url_prefix": null
                      },
                      "animated_cover": {
                        "uri": "tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H",
                        "url_list": [
                          "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/o0QcUfjIQHA8EQBSBQtAfYqKkCX9eKpMEOHl1H~tplv-tiktokx-origin.image?dr=9229&refresh_token=1d205fbb&x-expires=1750374000&x-signature=3iaAsuyxWAl52xo73%2FzWWOnRFBo%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=1d1a97fc&idc=no1a&biz_tag=tt_video&s=AWEME_DETAIL&sc=dynamic_cover"
                        ],
                        "url_prefix": null
                      },
                      "bit_rate": [
                        {
                          "HDR_bit": "",
                          "HDR_type": "",
                          "bit_rate": 694328,
                          "dub_infos": null,
                          "fid_profile_labels": "",
                          "fps": 30,
                          "gear_name": "adapt_lower_720_2",
                          "is_bytevc1": 2,
                          "play_addr": {
                            "data_size": 15073438,
                            "file_cs": "c:0-144831-d8fd",
                            "file_hash": "bade4c49b717e85095bf288836f2cf41",
                            "height": 1280,
                            "uri": "v12044gd0000d192fcnog65ouluk5f60",
                            "url_key": "v12044gd0000d192fcnog65ouluk5f60_bytevc2_720p_694328",
                            "url_list": [
                              "https://v45.tiktokcdn-eu.com/181058a705ab5b81ac71c7ec81b7d91c/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/oQOIKCXpeQMxlHgA9YwA8fQqQkIfj3UHkctEaC/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=1356&bt=678&cs=5&ds=3&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=14&rc=ZWQ3OTk1ODMzZGU0NjY3aUBpM2lub3I5cmY1NDMzZzczNEAuNS8yMl4tX18xNmAuYzUwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000"
                            ],
                            "url_prefix": null,
                            "width": 720
                          },
                          "quality_type": 14,
                          "video_extra": "{\"PktOffsetMap\":\"[{\\\"time\\\": 1, \\\"offset\\\": 264024}, {\\\"time\\\": 2, \\\"offset\\\": 330253}, {\\\"time\\\": 3, \\\"offset\\\": 403843}, {\\\"time\\\": 4, \\\"offset\\\": 488694}, {\\\"time\\\": 5, \\\"offset\\\": 579736}, {\\\"time\\\": 10, \\\"offset\\\": 996199}]\",\"mvmaf\":\"{\\\"v2.0\\\": {\\\"srv1\\\": {\\\"v1080\\\": 96.728, \\\"v960\\\": 97.931, \\\"v864\\\": 98.683, \\\"v720\\\": 99.11}, \\\"ori\\\": {\\\"v1080\\\": 89.806, \\\"v960\\\": 91.917, \\\"v864\\\": 92.924, \\\"v720\\\": 95.104}}}\",\"ufq\":\"{\\\"enh\\\":66.187,\\\"playback\\\":{\\\"ori\\\":59.993,\\\"srv1\\\":64.978},\\\"src\\\":66.187,\\\"trans\\\":59.993,\\\"version\\\":\\\"v1.2\\\"}\",\"volume_info_json\":\"\",\"transcode_feature_id\":\"398b00a3a79e904ef5421940da02ff2a\",\"dec_info\":\"\",\"gearvqm\":\"\"}"
                        }
                      ],
                      "bit_rate_audio": [],
                      "cdn_url_expired": 0,
                      "cover": {
                        "height": 720,
                        "uri": "tos-useast5-p-0068-tx/oUKFS4HhaMvXICUEIc1AgN7HEs9nivBIBC4iI",
                        "url_list": [
                          "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/oUKFS4HhaMvXICUEIc1AgN7HEs9nivBIBC4iI~tplv-tiktokx-cropcenter-q:300:400:q72.heic?dr=9232&refresh_token=df2ee5c4&x-expires=1750374000&x-signature=F1wskCOFUKVbHMDT%2BjC%2F4ioi3Vw%3D&t=bacd0480&ps=933b5bde&shp=d05b14bd&shcp=1d1a97fc&idc=no1a&sc=cover&biz_tag=tt_video&s=AWEME_DETAIL"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "cover_is_custom": true,
                      "did_profile_labels": "",
                      "download_addr": {
                        "data_size": 24637995,
                        "file_cs": "c:0-143697-b9bb",
                        "height": 720,
                        "uri": "v12044gd0000d192fcnog65ouluk5f60",
                        "url_list": [
                          "https://v45.tiktokcdn-eu.com/3d049ec218f82d1ad3e7e9ee12cccb39/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/osMffQHg9IKplXhIekq8xUpGsKuYCjAqSQQEAH/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2216&bt=1108&cs=0&ds=3&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=0&rc=NDxmZGg1ZTw6NGlkNDM1N0BpM2lub3I5cmY1NDMzZzczNEAuMGEwMGBfXmExMWA2Y2I2YSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "download_no_watermark_addr": {
                        "data_size": 23315651,
                        "file_cs": "c:0-143697-b9bb",
                        "file_hash": "dc0d3f39653d5d1383f62d1c61ad9d5e",
                        "height": 1024,
                        "uri": "v12044gd0000d192fcnog65ouluk5f60",
                        "url_key": "v12044gd0000d192fcnog65ouluk5f60_h264_540p_1073989",
                        "url_list": [
                          "https://v45.tiktokcdn-eu.com/c0fb0c4c63ed4f5076758092137da3f5/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/o4u9CaIEvIMFiAHihBB4ng4sXQUWSFK1E1PvI/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2096&bt=1048&cs=0&ds=6&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=0&rc=Zmk5aDg8NzxkZTZoZ2QzOkBpM2lub3I5cmY1NDMzZzczNEBfNjY0Yy9jXjMxYF4yYTYwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000"
                        ],
                        "url_prefix": null,
                        "width": 576
                      },
                      "duration": 173675,
                      "dynamic_cover": {
                        "height": 720,
                        "uri": "tos-useast5-p-0068-tx/oIQCgk8IAMQfKA2ewUdC8XIH9HktlgfqjEpU2F",
                        "url_list": [
                          "https://p16-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/oIQCgk8IAMQfKA2ewUdC8XIH9HktlgfqjEpU2F~tplv-tiktokx-origin.image?dr=9229&refresh_token=949e4dcb&x-expires=1750374000&x-signature=nMjefiiuLg8GZ9QABQL3YDVaKHo%3D&t=bacd0480&ps=4f5296ae&shp=d05b14bd&shcp=1d1a97fc&idc=no1a&biz_tag=tt_video&s=AWEME_DETAIL&sc=dynamic_cover"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "has_watermark": true,
                      "height": 1024,
                      "is_bytevc1": 0,
                      "is_callback": true,
                      "is_long_video": 1,
                      "meta": "{\"LoudnessRange\":\"4.2\",\"LoudnessRangeEnd\":\"-15.5\",\"LoudnessRangeStart\":\"-19.7\",\"MaximumMomentaryLoudness\":\"-9.6\",\"MaximumShortTermLoudness\":\"-14\",\"Version\":\"2\",\"VolumeInfoJson\":\"{\\\"LoudnessRangeStart\\\":-19.7,\\\"MaximumShortTermLoudness\\\":-14,\\\"Peak\\\":1,\\\"Metrics\\\":{\\\"AEDInfo\\\":{\\\"MusicRatio\\\":0,\\\"SingingRatio\\\":0.1,\\\"SpeechRatio\\\":0.89},\\\"AnchorLoudness\\\":{\\\"Speech\\\":{\\\"MaxMomLoud\\\":-9.61,\\\"MaxSTLoud\\\":-14.04,\\\"Loud\\\":-16.88,\\\"LoudR\\\":4,\\\"LoudRE\\\":-15.3,\\\"LoudRS\\\":-19.3}},\\\"Cutoff\\\":{\\\"FCenL\\\":2028.05,\\\"FCenR\\\":2888.08,\\\"Spkr100G\\\":0,\\\"Spkr150G\\\":0.07,\\\"Spkr200G\\\":0.28},\\\"Loudness\\\":{\\\"Integrated\\\":-16.956},\\\"Phase\\\":{\\\"RMSDownmixDiff\\\":-0.635},\\\"RMSStats\\\":{\\\"Peak\\\":0.099,\\\"RTotal\\\":-25.112,\\\"LRDiff\\\":6.91,\\\"LTotal\\\":-18.202},\\\"Version\\\":\\\"1.4.2\\\"},\\\"Version\\\":2,\\\"Loudness\\\":-17,\\\"LoudnessRange\\\":4.2,\\\"LoudnessRangeEnd\\\":-15.5,\\\"MaximumMomentaryLoudness\\\":-9.6}\",\"bright_ratio_mean\":\"0.0919\",\"brightness_mean\":\"152.8454\",\"diff_overexposure_ratio\":\"0.0072\",\"flight_id\":\"\",\"loudness\":\"-17\",\"overexposure_ratio_mean\":\"0.0035\",\"peak\":\"1\",\"play_time_prob_dist\":\"[800,0.3795,8401.3177]\",\"sr_score\":\"1.000\",\"std_brightness\":\"12.0401\",\"vq_score\":\"55.86\"}",
                      "misc_download_addrs": "{\"suffix_scene\":{\"uri\":\"v12044gd0000d192fcnog65ouluk5f60\",\"url_list\":[\"https://v45.tiktokcdn-eu.com/eb4b1ebe709b6ec8bb4b8e40c7c1d919/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/oMQjUpISHhGffZMKCA8YXqAkg9Qe0xUlHEpQRI/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2304&bt=1152&cs=0&ds=3&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=0&rc=PDQ8MzRkOjc7OzdkNzo6aUBpM2lub3I5cmY1NDMzZzczNEAuX2NeXzMyNjUxNjBeLmEwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000\",\"https://v16m.tiktokcdn-eu.com/cf3dc5bd920320de7fccd7a67e8ff0df/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/oMQjUpISHhGffZMKCA8YXqAkg9Qe0xUlHEpQRI/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2304&bt=1152&cs=0&ds=3&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=0&rc=PDQ8MzRkOjc7OzdkNzo6aUBpM2lub3I5cmY1NDMzZzczNEAuX2NeXzMyNjUxNjBeLmEwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00090000\",\"https://api16-normal-no1a.tiktokv.eu/aweme/v1/play/?video_id=v12044gd0000d192fcnog65ouluk5f60&line=0&watermark=1&logo_name=tiktok_end_sonic&source=AWEME_DETAIL&file_id=3fd717a43a94488894576ab1a0f9b119&item_id=7517114944362499342&signaturev3=dmlkZW9faWQ7ZmlsZV9pZDtpdGVtX2lkLjFmNTMxOGZiMGZlOWJmYTQyYjUwZTg0OGVmYjQ2MDBj&shp=d05b14bd&shcp=-\"],\"width\":720,\"height\":720,\"data_size\":26207203,\"file_cs\":\"c:0-143697-b9bb\",\"url_prefix\":null}}",
                      "need_set_token": false,
                      "origin_cover": {
                        "height": 720,
                        "uri": "tos-useast5-p-0068-tx/ooyQIJ3YQXAq5pBAQjeMklUKEeUk9HQk5Hf8CI",
                        "url_list": [
                          "https://p19-sign.tiktokcdn-us.com/tos-useast5-p-0068-tx/ooyQIJ3YQXAq5pBAQjeMklUKEeUk9HQk5Hf8CI~tplv-dmt-adapt-360p.heic?dr=1360&refresh_token=4649c5e4&x-expires=1750374000&x-signature=NcVGrk0KTmDoN6EaPa%2Fn05CEyq4%3D&t=bacd0480&ps=d97f9a4f&shp=d05b14bd&shcp=1d1a97fc&idc=no1a&s=AWEME_DETAIL&sc=feed_cover&biz_tag=tt_video"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "play_addr": {
                        "data_size": 23315651,
                        "file_cs": "c:0-143697-b9bb",
                        "file_hash": "dc0d3f39653d5d1383f62d1c61ad9d5e",
                        "height": 1024,
                        "uri": "v12044gd0000d192fcnog65ouluk5f60",
                        "url_key": "v12044gd0000d192fcnog65ouluk5f60_h264_540p_1073989",
                        "url_list": [
                          "https://v45.tiktokcdn-eu.com/c0fb0c4c63ed4f5076758092137da3f5/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/o4u9CaIEvIMFiAHihBB4ng4sXQUWSFK1E1PvI/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2096&bt=1048&cs=0&ds=6&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=0&rc=Zmk5aDg8NzxkZTZoZ2QzOkBpM2lub3I5cmY1NDMzZzczNEBfNjY0Yy9jXjMxYF4yYTYwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000"
                        ],
                        "url_prefix": null,
                        "width": 576
                      },
                      "play_addr_bytevc1": {
                        "data_size": 13687862,
                        "file_cs": "c:0-144445-e93b",
                        "file_hash": "2758eda4b7836458bd1d717a50e4625c",
                        "height": 1024,
                        "uri": "v12044gd0000d192fcnog65ouluk5f60",
                        "url_key": "v12044gd0000d192fcnog65ouluk5f60_bytevc1_540p_630504",
                        "url_list": [
                          "https://v45.tiktokcdn-eu.com/6f7ee0f58f0c58d39943fdbb31ca96b5/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/oIekjEYsQQkaIGHHWCpXd69QIUMgqZAKlA8e2f/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=1230&bt=615&cs=2&ds=6&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=11&rc=NDVlZmk0MzY8ZDg3OWU4Z0BpM2lub3I5cmY1NDMzZzczNEAxLmM0Ni5fX14xMl9fNTMxYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000"
                        ],
                        "url_prefix": null,
                        "width": 576
                      },
                      "play_addr_h264": {
                        "data_size": 23315651,
                        "file_cs": "c:0-143697-b9bb",
                        "file_hash": "dc0d3f39653d5d1383f62d1c61ad9d5e",
                        "height": 1024,
                        "uri": "v12044gd0000d192fcnog65ouluk5f60",
                        "url_key": "v12044gd0000d192fcnog65ouluk5f60_h264_540p_1073989",
                        "url_list": [
                          "https://v45.tiktokcdn-eu.com/c0fb0c4c63ed4f5076758092137da3f5/68549d47/video/tos/maliva/tos-maliva-ve-0068c799-us/o4u9CaIEvIMFiAHihBB4ng4sXQUWSFK1E1PvI/?a=1233&bti=OUBzOTg7QGo6OjZAL3AjLTAzYCMxNDNg&ch=0&cr=13&dr=0&er=0&lr=all&net=0&cd=0%7C0%7C0%7C&cv=1&br=2096&bt=1048&cs=0&ds=6&ft=pfEtGMvt8Zmo0Ym-qI4jVVPF461rKsd.&mime_type=video_mp4&qs=0&rc=Zmk5aDg8NzxkZTZoZ2QzOkBpM2lub3I5cmY1NDMzZzczNEBfNjY0Yy9jXjMxYF4yYTYwYSMzMnJyMmRrYzZhLS1kMS9zcw%3D%3D&vvpl=1&l=202506182326187F8DDAF6E643528715CE&btag=e00095000"
                        ],
                        "url_prefix": null,
                        "width": 576
                      },
                      "ratio": "540p",
                      "source_HDR_type": 0,
                      "tags": null,
                      "vid_profile_labels": "{\"tier3\":\"10059\"}",
                      "video_model": "",
                      "width": 576
                    },
                    "author": {
                      "accept_private_policy": false,
                      "account_labels": null,
                      "account_region": "",
                      "ad_cover_url": null,
                      "advance_feature_item_order": null,
                      "advanced_feature_info": null,
                      "apple_account": 0,
                      "authority_status": 0,
                      "avatar_168x168": {
                        "height": 720,
                        "uri": "tos-maliva-avt-0068/7310178711609032710",
                        "url_list": [
                          "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:168:168:q70.heic?dr=9604&idc=no1a&ps=87d6e48a&s=AWEME_DETAIL&sc=avatar&shcp=1d1a97fc&shp=45126217&t=223449c4"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "avatar_larger": {
                        "height": 720,
                        "uri": "tos-maliva-avt-0068/7310178711609032710",
                        "url_list": [
                          "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:1080:1080:q70.heic?dr=9608&idc=no1a&ps=87d6e48a&s=AWEME_DETAIL&sc=avatar&shcp=1d1a97fc&shp=45126217&t=223449c4"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "avatar_thumb": {
                        "height": 720,
                        "uri": "tos-maliva-avt-0068/7310178711609032710",
                        "url_list": [
                          "https://p16-amd-va.tiktokcdn.com/tos-maliva-avt-0068/7310178711609032710~tplv-tiktokx-cropcenter-q:100:100:q70.heic?dr=9606&idc=no1a&ps=87d6e48a&s=AWEME_DETAIL&sc=avatar&shcp=1d1a97fc&shp=45126217&t=223449c4"
                        ],
                        "url_prefix": null,
                        "width": 720
                      },
                      "avatar_uri": "tos-maliva-avt-0068/7310178711609032710",
                      "aweme_count": 0,
                      "bind_phone": "",
                      "bold_fields": null,
                      "can_message_follow_status_list": [
                        0
                      ],
                      "can_set_geofencing": null,
                      "cha_list": null,
                      "comment_filter_status": 0,
                      "comment_setting": 0,
                      "commerce_user_level": 0,
                      "cover_url": [],
                      "create_time": 0,
                      "custom_verify": "Account verificato",
                      "cv_level": "",
                      "download_prompt_ts": 0,
                      "download_setting": 0,
                      "duet_setting": 0,
                      "enabled_filter_all_comments": false,
                      "enterprise_verify_reason": "",
                      "events": null,
                      "fake_data_info": {},
                      "favoriting_count": 0,
                      "fb_expire_time": 0,
                      "follow_status": 0,
                      "follower_count": 0,
                      "follower_status": 0,
                      "followers_detail": null,
                      "following_count": 0,
                      "friends_status": 0,
                      "geofencing": null,
                      "google_account": "",
                      "has_email": false,
                      "has_facebook_token": false,
                      "has_insights": false,
                      "has_orders": false,
                      "has_twitter_token": false,
                      "has_youtube_token": false,
                      "hide_search": true,
                      "homepage_bottom_toast": null,
                      "ins_id": "stoolpresidente",
                      "is_ad_fake": false,
                      "is_block": false,
                      "is_discipline_member": false,
                      "is_mute": 0,
                      "is_mute_lives": 0,
                      "is_mute_non_story_post": 0,
                      "is_mute_story": 0,
                      "is_phone_binded": false,
                      "is_star": false,
                      "item_list": null,
                      "language": "en",
                      "live_agreement": 0,
                      "live_commerce": false,
                      "live_verify": 0,
                      "mention_status": 1,
                      "mutual_relation_avatars": null,
                      "need_points": null,
                      "need_recommend": 0,
                      "nickname": "Dave Portnoy",
                      "platform_sync_info": null,
                      "prevent_download": false,
                      "react_setting": 0,
                      "region": "US",
                      "relative_users": null,
                      "reply_with_video_flag": 4,
                      "room_id": 0,
                      "search_highlight": null,
                      "sec_uid": "MS4wLjABAAAAINC_ElRR-l1RCcnEjOZhNO-9wOzAMf-YHXqRY8vvG9bEhMRa6iu23TaE3JPZYXBD",
                      "secret": 0,
                      "share_info": {
                        "now_invitation_card_image_urls": null,
                        "share_desc": "",
                        "share_desc_info": "",
                        "share_qrcode_url": {
                          "height": 720,
                          "uri": "",
                          "url_list": [],
                          "url_prefix": null,
                          "width": 720
                        },
                        "share_title": "",
                        "share_title_myself": "",
                        "share_title_other": "",
                        "share_url": ""
                      },
                      "share_qrcode_uri": "",
                      "shield_comment_notice": 0,
                      "shield_digg_notice": 0,
                      "shield_edit_field_info": null,
                      "shield_follow_notice": 0,
                      "short_id": "0",
                      "show_image_bubble": false,
                      "signature": "El Presidente/Barstool Sports Founder.",
                      "special_account": {
                        "special_account_list": null
                      },
                      "special_lock": 1,
                      "status": 1,
                      "stitch_setting": 0,
                      "story_status": 0,
                      "total_favorited": 0,
                      "tw_expire_time": 0,
                      "twitter_id": "",
                      "twitter_name": "",
                      "type_label": null,
                      "uid": "6659752019493208069",
                      "unique_id": "stoolpresidente",
                      "unique_id_modify_time": 1750289178,
                      "user_canceled": false,
                      "user_mode": 1,
                      "user_now_pack_info": {},
                      "user_period": 0,
                      "user_profile_guide": null,
                      "user_rate": 17,
                      "user_spark_info": {},
                      "user_tags": null,
                      "verification_type": 1,
                      "verify_info": "",
                      "video_icon": {
                        "height": 720,
                        "uri": "",
                        "url_list": [],
                        "url_prefix": null,
                        "width": 720
                      },
                      "white_cover_url": null,
                      "with_commerce_entry": false,
                      "with_shop_entry": false,
                      "youtube_channel_id": "",
                      "youtube_channel_title": "",
                      "youtube_expire_time": 0
                    },
                    "create_time": 1750214725,
                    "is_ad": false,
                    "is_eligible_for_commission": true,
                    "is_paid_partnership": false,
                    "create_time_utc": "2025-09-03T18:37:38.000Z",
                    "url": "https://www.tiktok.com/@branttakes/video/7545933721589910798",
                    "shop_product_url": "https://www.tiktok.com/shop/pdp/1729494515984797858"
                  },
                  "transcript": "WEBVTT\n\n\n00:00:00.340 --> 00:00:01.860\nAll right. W N B A. Rant.\n\n00:00:01.861 --> 00:00:02.741\nI know. It's like,\n\n00:00:02.742 --> 00:00:03.261\noh, Dave,\n\n00:00:03.262 --> 00:00:04.941\nwe don't wanna hear about you in the W N B A.\n\n00:00:04.942 --> 00:00:06.781\nI'm sorry. I fucking love it,"
                }
              }
            }
          }
        },
        "x-pp-example": "scrape-creators-pp-cli tiktok list-video --url https://www.tiktok.com/@mrbeast/video/7654638524729216287"
      }
    },
    "/v1/tiktok/video/transcript": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Transcript",
        "description": "Extracts the transcript, captions, or subtitles from a TikTok video by URL. Returns `id`, `url`, and `transcript` as a WEBVTT-formatted string with timestamped text segments. Video must be under 2 minutes; costs an additional 10 credits when `use_ai_as_fallback=true`.",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "description": "TikTok video URL",
            "schema": {
              "type": "string"
            },
            "example": "https://www.tiktok.com/@stoolpresidente/video/7499229683859426602"
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Language of the transcript. 2 letter language code, ie 'en', 'es', 'fr', 'de', 'it', 'ja', 'ko', 'zh'",
            "schema": {
              "type": "string"
            },
            "example": "en"
          },
          {
            "name": "use_ai_as_fallback",
            "in": "query",
            "required": false,
            "description": "Set to 'true' to use AI as a fallback to get the transcript if the transcript is not found. Costs 10 credits to use this feature. And only if the video is under 2 minutes.",
            "schema": {
              "type": "string"
            },
            "example": "false"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "id": "7499229683859426602",
                  "url": "https://www.tiktok.com/@stoolpresidente/video/7499229683859426602",
                  "transcript": "WEBVTT\n\n\n00:00:00.120 --> 00:00:01.840\nAlright, pizza review time.\n\n00:00:01.841 --> 00:00:03.761\nSal's Pizza Factory. Oh,\n\n00:00:03.762 --> 00:00:05.721\nit's Fucking Corn. We're in Charlotte.\n\n00:00:05.722 --> 00:00:07.861\nAlright man, any chance I can get a real quick picture?\n\n00:00:07.920 --> 00:00:10.040\nShaq or Dwight Howard? I gotta pick one.\\n"
                }
              }
            }
          }
        },
        "x-pp-example": "scrape-creators-pp-cli tiktok list-video-3 --url https://www.tiktok.com/@mrbeast/video/7654638524729216287"
      }
    },
    "/v1/tiktok/user/live": {
      "get": {
        "tags": [
          "TikTok"
        ],
        "summary": "Live",
        "description": "Checks if a TikTok user is currently live streaming and retrieves their live room details. Returns `liveRoomUserInfo` (nickname, avatar, followerCount, roomId) and `liveRoom` (title, startTime, status, `liveRoomStats` with enterCount and userCount, plus `streamData` with playback URLs in multiple qualities).",
        "parameters": [
          {
            "name": "handle",
            "in": "query",
            "required": true,
            "description": "TikTok handle",
            "schema": {
              "type": "string"
            },
            "example": "thejustalex"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "liveRoomUserInfo": {
                    "avatarLarger": "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:1080:1080.webp?dr=9640&refresh_token=c39a7259&x-expires=1751918400&x-signature=2Q%2F13wVO%2F%2F5OFBDinwMuULyBINc%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=fdd36af4&idc=useast5",
                    "avatarMedium": "https://p16-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:720:720.webp?dr=9640&refresh_token=7da1901a&x-expires=1751918400&x-signature=WDVM4wsOBsWKV04aQNYqBRnllxQ%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=fdd36af4&idc=useast5",
                    "avatarThumb": "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:100:100.webp?dr=9640&refresh_token=baf34a19&x-expires=1751918400&x-signature=fWClWNGmv23Nggnk7gE17yC3D78%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=5be10d83&idc=useast5",
                    "id": "6742945285876515845",
                    "nickname": "JustAlex",
                    "secUid": "MS4wLjABAAAA3_8rhYkKsHyYO45EzOF7RBQJRs1EaHBqHFtYIaz3aka44bMVgCLONvFaXPkddJei",
                    "secret": false,
                    "uniqueId": "thejustalex",
                    "verified": false,
                    "roomId": "7523685855395842871",
                    "signature": "🔴LIVE EVERYDAY🔴\n—\n📧rainzbizemail@gmail.com📧\nSocials 👇",
                    "status": 2,
                    "followStatus": 0,
                    "followingCount": 1225,
                    "followerCount": 601562
                  },
                  "liveRoom": {
                    "coverUrl": "https://p19-pu-sign-useast8.tiktokcdn-us.com/tos-useast5-avt-0068-tx/b169e9223700dc8d20d327510eb47f94~tplv-tiktokx-cropcenter:720:720.webp?dr=9640&refresh_token=524467bc&x-expires=1751918400&x-signature=dYrBW7UodqMDScfs4YMnmfK24Zg%3D&t=4d5b0474&ps=13740610&shp=a5d48078&shcp=fdd36af4&idc=useast5",
                    "squareCoverImg": "https://p16-webcast.tiktokcdn-us.com/webcast-oci-tx/98159d71f96ce0a13c8234c485082e14~tplv-obj.image",
                    "title": "6'13 Grateful Streamer",
                    "startTime": 1751744708,
                    "status": 2,
                    "paidEvent": {
                      "event_id": 0,
                      "paid_type": 0
                    },
                    "liveSubOnly": 0,
                    "liveRoomMode": 6,
                    "hashTagId": 5,
                    "gameTagId": 1983,
                    "liveRoomStats": {
                      "enterCount": 30960,
                      "userCount": 804
                    },
                    "streamData": {
                      "pull_data": {
                        "options": {
                          "default_quality": {
                            "icon_type": 0,
                            "level": 0,
                            "name": "540p",
                            "resolution": "",
                            "sdk_key": "sd",
                            "v_codec": ""
                          },
                          "qualities": [
                            {
                              "icon_type": 6,
                              "level": 10,
                              "name": "Original",
                              "resolution": "",
                              "sdk_key": "origin",
                              "v_codec": ""
                            }
                          ],
                          "show_quality_button": false
                        },
                        "stream_data": "{\"common\":{\"session_id\":\"173-20250705204222D51B254BA2C5D264202E\",\"rule_ids\":\"{\\\"ab_version_trace\\\":null,\\\"sched\\\":\\\"{\\\\\\\"ids\\\\\\\":[\\\\\\\"ex_83506(Weight:100)\\\\\\\"],\\\\\\\"result\\\\\\\":{\\\\\\\"hit\\\\\\\":\\\\\\\"exclusive\\\\\\\",\\\\\\\"cdn\\\\\\\":2137}}\\\"}\",\"user_count\":798,\"peer_anchor_level\":39},\"data\":{\"hd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd.flv?expire=1752957742&sign=0b9f362ee81ab0494d8a2a7a79151d1b\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd/index.m3u8?expire=1752957742&sign=b8c9cd9d85166f52d3beeda633ffc4dc\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd/index.mpd?expire=1752957742&sign=f3419a82237b7a24ebe2c8b04a269bed\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd.sdp?expire=1752957742&sign=611544c2e091d9412c4703535d062cf8\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"v_rtbitrate_std\\\":72940,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"gop\\\":4,\\\"VCodec\\\":\\\"h264\\\",\\\"vbitrate\\\":1800000,\\\"resolution\\\":\\\"720x1280\\\",\\\"v_rtbitrate_timestamp\\\":1751748120688,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate\\\":1805570,\\\"v_rtbitrate_pct\\\":1869670,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"stream_suffix\\\":\\\"hd\\\"}\"}},\"sd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd.flv?expire=1752957742&sign=a997e60f7b2943569d2150b235189f61\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd/index.m3u8?expire=1752957742&sign=e11b60cc01d20d8249ed3ac794451f18\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd/index.mpd?expire=1752957742&sign=5ea0fad39792b612278240cee4e004f8\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd.sdp?expire=1752957742&sign=897230cfaaaa5c0f466f356d0da03fa5\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_std\\\":43610,\\\"v_rtbitrate_timestamp\\\":1751748139604,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"resolution\\\":\\\"540x960\\\",\\\"VCodec\\\":\\\"h264\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_pct\\\":1256440,\\\"gop\\\":4,\\\"stream_suffix\\\":\\\"sd\\\",\\\"vbitrate\\\":1200000,\\\"v_rtbitrate\\\":1208280}\"}},\"ld\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld.flv?expire=1752957742&sign=38fd63476fc1b0c3b7fc6828ffaa8ee2\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld/index.m3u8?expire=1752957742&sign=cb052bc15dddf7bb6305b2583a03bac7\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld/index.mpd?expire=1752957742&sign=fbd383e74714925a0abb2582fbe1a880\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld.sdp?expire=1752957742&sign=6312c2f07b9d50722464d60d39c5f7be\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"cdn_name\\\":\\\"fcdn\\\",\\\"stream_suffix\\\":\\\"ld\\\",\\\"v_rtpsnr\\\":0,\\\"vbitrate\\\":600000,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"v_rtbitrate_pct\\\":621460,\\\"v_rtbitrate\\\":594320,\\\"VCodec\\\":\\\"h264\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"resolution\\\":\\\"360x640\\\",\\\"gop\\\":4,\\\"v_rtbitrate_timestamp\\\":1751748132947,\\\"v_rtbitrate_std\\\":32580}\"}},\"origin\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4.flv?expire=1752957742&sign=cca075017a40a1573e92cac5522b5569\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4/index.m3u8?expire=1752957742&sign=e1d5e30eeeff14c0d24f2cd6caaa673e\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4/index.mpd?expire=1752957742&sign=955dbce31988959e0c69eb4562d96cf5\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_or4.sdp?expire=1752957742&sign=b3dd11ab0bdb4d90831e4f2a12bf3668\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"VCodec\\\":\\\"h264\\\",\\\"v_rtbitrate_std\\\":731110,\\\"resolution\\\":\\\"1080x1920\\\",\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"v_rtbitrate\\\":7974420,\\\"stream_suffix\\\":\\\"or4\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"gop\\\":4,\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_pct\\\":8378510,\\\"vbitrate\\\":1000000,\\\"v_rtbitrate_timestamp\\\":1751747896985}\"}},\"uhd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60.flv?expire=1752957742&sign=248ade261c9487bfa809d173ac4d6971\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60/index.m3u8?expire=1752957742&sign=f5429c98a33a69391b66d31e507e5630\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60/index.mpd?expire=1752957742&sign=533ecdc8e82a9c7982bc24276aab6381\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd60.sdp?expire=1752957742&sign=7d56655e54107ed5c1eaed85f82f6bad\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"stream_suffix\\\":\\\"uhd60\\\",\\\"resolution\\\":\\\"1080x1920\\\",\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"Auto\\\":{\\\"Demotion\\\":{\\\"StallCount\\\":4},\\\"Enable\\\":1},\\\"VCodec\\\":\\\"h264\\\",\\\"vbitrate\\\":5000000,\\\"v_rtbitrate_pct\\\":5198550,\\\"v_rtbitrate\\\":5013970,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_timestamp\\\":1751748132146,\\\"v_rtbitrate_std\\\":135130,\\\"gop\\\":4}\"}},\"hd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60.flv?expire=1752957742&sign=283876364b4bb8a81c841d1f54294a08\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60/index.m3u8?expire=1752957742&sign=fa51b72baac3cb6a5fb141ca16c78a2d\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60/index.mpd?expire=1752957742&sign=91d31328a64fe80eb41436a3f0570572\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd60.sdp?expire=1752957742&sign=c7a001d036db84460189a158215560f9\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"stream_suffix\\\":\\\"hd60\\\",\\\"v_rtbitrate_timestamp\\\":1751747845776,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate\\\":3008490,\\\"v_rtbitrate_std\\\":42360,\\\"gop\\\":4,\\\"v_rtpsnr\\\":0,\\\"VCodec\\\":\\\"h264\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_vpaas_timestamp\\\":1751748140793,\\\"vbitrate\\\":3000000,\\\"v_rtbitrate_pct\\\":3074100,\\\"resolution\\\":\\\"720x1280\\\"}\"}},\"ao\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.flv?expire=1752957742&sign=e3deaa3e74cc33921accfe3e6165c407&only_audio=1\",\"hls\":\"\",\"cmaf\":\"\",\"dash\":\"\",\"lls\":\"\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"resolution\\\":\\\"\\\",\\\"VCodec\\\":\\\"h264\\\",\\\"Auto\\\":{\\\"Demotion\\\":{\\\"StallCount\\\":4},\\\"Enable\\\":1},\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"vbitrate\\\":0}\"}}}}"
                      }
                    },
                    "streamId": "3576322110592123836",
                    "multiStreamScene": 0,
                    "multiStreamSource": 0,
                    "hevcStreamData": {
                      "pull_data": {
                        "options": {
                          "default_quality": {
                            "icon_type": 0,
                            "level": 0,
                            "name": "540p",
                            "resolution": "",
                            "sdk_key": "sd",
                            "v_codec": ""
                          },
                          "qualities": [
                            {
                              "icon_type": 6,
                              "level": 10,
                              "name": "Original",
                              "resolution": "",
                              "sdk_key": "origin",
                              "v_codec": ""
                            }
                          ],
                          "show_quality_button": false
                        },
                        "stream_data": "{\"common\":{\"session_id\":\"173-20250705204222D51B254BA2C5D264202E\",\"rule_ids\":\"{\\\"ab_version_trace\\\":null,\\\"sched\\\":\\\"{\\\\\\\"ids\\\\\\\":[\\\\\\\"ex_83506(Weight:100)\\\\\\\"],\\\\\\\"result\\\\\\\":{\\\\\\\"hit\\\\\\\":\\\\\\\"exclusive\\\\\\\",\\\\\\\"cdn\\\\\\\":2137}}\\\"}\",\"user_count\":811,\"peer_anchor_level\":39},\"data\":{\"origin\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.flv?expire=1752957742&sign=e3deaa3e74cc33921accfe3e6165c407\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836/index.m3u8?expire=1752957742&sign=dabd5577a80d25e975119ad5de32d7c4\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836/index.mpd?expire=1752957742&sign=1cc6612292638ca67524aea9a43a7832\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.sdp?expire=1752957742&sign=d9bafd32a98bb13e9af529e7ecaf6006\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"VCodec\\\":\\\"h265\\\",\\\"vbitrate\\\":9281000,\\\"resolution\\\":\\\"1080x1920\\\",\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\"}\"}},\"hd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5.flv?expire=1752957742&sign=6c568f1678af9da83ed34e5823f9305e\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5/index.m3u8?expire=1752957742&sign=2bad9c9a97c350298d43aaca1fe81908\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5/index.mpd?expire=1752957742&sign=ab1f937626b58046160280f9a742d4bc\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd5.sdp?expire=1752957742&sign=cd292d10f45021af548246623adc1087\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"stream_suffix\\\":\\\"hd5\\\",\\\"resolution\\\":\\\"720x1280\\\",\\\"v_rtbitrate_pct\\\":1536060,\\\"VCodec\\\":\\\"h265\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate\\\":1471180,\\\"v_rtbitrate_timestamp\\\":1751748131506,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"v_rtbitrate_std\\\":83830,\\\"vbitrate\\\":1600000,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"gop\\\":4,\\\"v_rtpsnr\\\":0}\"}},\"sd\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5.flv?expire=1752957742&sign=ef65e623965fb0c06aae09d13fad00d6\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5/index.m3u8?expire=1752957742&sign=053370002175f4c4d5917305356690eb\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5/index.mpd?expire=1752957742&sign=160c7efddb13960c75775f1ffedff113\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_sd5.sdp?expire=1752957742&sign=58b676988631de614b26ba978072a035\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"VCodec\\\":\\\"h265\\\",\\\"gop\\\":4,\\\"vbitrate\\\":1000000,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate\\\":1137520,\\\"resolution\\\":\\\"540x960\\\",\\\"v_rtpsnr\\\":0,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"v_rtbitrate_std\\\":29840,\\\"v_rtbitrate_timestamp\\\":1751748134917,\\\"v_rtbitrate_pct\\\":1169410,\\\"stream_suffix\\\":\\\"sd5\\\"}\"}},\"ld\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5.flv?expire=1752957742&sign=7abfe33020aed52d7e9c6b0b5c2d9843\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5/index.m3u8?expire=1752957742&sign=0f660361551ef159118d92b7b7f590a8\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5/index.mpd?expire=1752957742&sign=f847714e33c6a2ec2743e4e5ff8346cb\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_ld5.sdp?expire=1752957742&sign=ddd1eda19aae900d4d4518f931c88b0c\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"v_rtbitrate_pct\\\":584770,\\\"VCodec\\\":\\\"h265\\\",\\\"v_rtbitrate_timestamp\\\":1751748120961,\\\"v_rtbitrate\\\":553930,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"vbitrate\\\":600000,\\\"v_rtpsnr\\\":0,\\\"resolution\\\":\\\"360x640\\\",\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_std\\\":37620,\\\"stream_suffix\\\":\\\"ld5\\\",\\\"gop\\\":4}\"}},\"uhd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560.flv?expire=1752957742&sign=b99f69ff5e7685362398fa7965787402\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560/index.m3u8?expire=1752957742&sign=1c0bd75d36c5b78c93a2c2ffc1f469cb\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560/index.mpd?expire=1752957742&sign=93757d64ec94128815996c932b58d874\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_uhd560.sdp?expire=1752957742&sign=28b90e7294f7819a1961d1cae41ab50a\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"Auto\\\":{\\\"Demotion\\\":{\\\"StallCount\\\":4},\\\"Enable\\\":1},\\\"stream_suffix\\\":\\\"uhd560\\\",\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtbitrate_timestamp\\\":1751748132527,\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"resolution\\\":\\\"1080x1920\\\",\\\"v_rtbitrate_pct\\\":4371510,\\\"gop\\\":4,\\\"VCodec\\\":\\\"h265\\\",\\\"vbitrate\\\":4000000,\\\"v_rtbitrate\\\":4010510,\\\"v_rtpsnr\\\":0,\\\"v_rtbitrate_std\\\":408960}\"}},\"hd_60\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560.flv?expire=1752957742&sign=a85b2ad3530d6e8f2202ee6e091b712d\",\"hls\":\"https://pull-hls-f16-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560/index.m3u8?expire=1752957742&sign=23646c3dc06aa2b226e73dfd2cbd616c\",\"cmaf\":\"https://pull-cmaf-f30-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560/index.mpd?expire=1752957742&sign=ed8c81047486469a3b05dd952f2a00b9\",\"dash\":\"\",\"lls\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836_hd560.sdp?expire=1752957742&sign=02813963eb9ebf398256ce723cd2c087\",\"tsl\":\"\",\"tile\":\"\",\"rtc\":\"\",\"sdk_params\":\"{\\\"gop\\\":4,\\\"cdn_name\\\":\\\"fcdn\\\",\\\"v_rtpsnr\\\":0,\\\"VCodec\\\":\\\"h265\\\",\\\"v_rtbitrate_vpaas_timestamp\\\":1751748139608,\\\"stream_suffix\\\":\\\"hd560\\\",\\\"resolution\\\":\\\"720x1280\\\",\\\"v_rtbitrate_pct\\\":3304860,\\\"vbitrate\\\":2600000,\\\"v_rtbitrate\\\":3209500,\\\"Auto\\\":{\\\"Enable\\\":1,\\\"Demotion\\\":{\\\"StallCount\\\":4}},\\\"v_rtbitrate_timestamp\\\":1751748133470,\\\"v_rtbitrate_std\\\":85690}\"}},\"ao\":{\"main\":{\"flv\":\"https://pull-f5-tt01.tiktokcdn-us.com/game/stream-3576322110592123836.flv?expire=1752957742&sign=e3deaa3e74cc33921accfe3e6165c407&only_audio=1\",\"hls\":\"\",\"cmaf\":\"\",\"dash\":\"\",\"lls\":\"\",\"tsl\":\"\",\"tile
[...]
