{
  "openapi": "3.1.0",
  "info": {
    "title": "Chainels API",
    "description": "# Introduction\nThis is the documentation for all the API endpoints. You can read more about our API (getting started, authentication, etc) on our [developer page](https://www.chainels.com/developer).\n\n# Authentication\nWe use the OAuth 2.0 protocol to authenticate requests. Check out [our documentation on OAuth](https://www.chainels.com/developer/oauth) to find out how you can get an access token. There we describe the _Authorization Code_ and _Group Token_ grant (both are labeled `oauth_code` here) and the _Client Credential_ grant (labeled `oauth_client` here)\n<!-- ReDoc-Inject: <security-definitions> -->\n",
    "version": "2.1.0"
  },
  "servers": [
    {
      "url": "https://www.chainels.com/api/v2",
      "description": "Production server"
    },
    {
      "url": "https://demo.chainels.com/api/v2",
      "description": "Demo server which contains mock data that can be used to test."
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Endpoints related to accounts"
    },
    {
      "name": "Company",
      "x-displayName": "Company Profile",
      "description": "Endpoints related to companies"
    },
    {
      "name": "Community",
      "description": "Endpoints related to communities in particular. Note that a community itself is also a Company, and in order to get the community profile, you need to call `getCompany`"
    },
    {
      "name": "Community Members",
      "description": "Endpoints related to managing members and users of a community"
    },
    {
      "name": "Messages",
      "description": "Endpoints related to retrieving and creating messages"
    },
    {
      "name": "Timeline",
      "description": "Endpoints related to the timeline of a community"
    },
    {
      "name": "Events",
      "description": "Endpoints related to events. Events are a type of message, so all operations on Messages are also applicable to events."
    },
    {
      "name": "Survey",
      "description": "Endpoints related to the survey functionality of Question messages"
    },
    {
      "name": "Issue Reporting",
      "description": "Endpoints related to issue reporting"
    },
    {
      "name": "Warnings",
      "x-displayName": "Warnings",
      "description": "Endpoints related to warnings. **Note** This is the old issue functionality (used for warnings etc). See \"Issue Reporting\" for the new, improved functionality."
    },
    {
      "name": "Files",
      "description": "Endpoints related to reading and managing files"
    },
    {
      "name": "Alarm",
      "description": "Endpoints related to the managing, sending and replying to, alarms. This is only relevant if the community in question has activated the Alarm module"
    },
    {
      "name": "Store ban",
      "description": "Endpoints related to the Collective Ban/Collectief Verbod module. All the data in this module is only accessible to accounts that have accepted the terms of the collective ban. Also, beware, this is privacy sensitive data."
    },
    {
      "name": "Industries",
      "description": "Industries, subindustries, and retail list"
    },
    {
      "name": "Periodic Reporting Overview",
      "x-displayName": "Overview",
      "description": "Endpoints related to periodic reporting (e.g. turnover, utility). The design of our periodic reporting module revolves around the concepts of \"Schemes\", \"Periods\" and \"Reports\".\n### Periodic reporting scheme\nA scheme defines when members need to report and for what. The interval of a scheme defines how often members need to report. Members (e.g. companies, households) could be enrolled in multiple schemes with different intervals or different fields.\n### Period\nA period is an instance of an interval. Based on the interval defined by the scheme, each period represents a \"slot\" for which the user must fill in a report.\n### Report\nA member has one report for each period. This report can be `open`, which means the user must still fill it in for the period. A status of `missed_deadline` means the deadline for the period has passed and the user did not report yet. Once a period has been reported, the status will be `reported` and the `PeriodicReport` resource will contain the data and also meta data such as who reported it and when.\n"
    },
    {
      "name": "Periodic Reporting Schemes",
      "x-displayName": "Schemes",
      "description": "Endpoints related to periodic reporting schemes"
    },
    {
      "name": "Periodic Reporting Reports",
      "x-displayName": "Reports",
      "description": "Endpoints related to periodic reports"
    },
    {
      "name": "Periodic Reporting Statistics",
      "x-displayName": "Statistics",
      "description": "Endpoints related to periodic reporting statistics"
    },
    {
      "name": "Targeting",
      "description": "Endpoints related to the multi-targeting system\n"
    },
    {
      "name": "Discounts",
      "description": "Endpoints related to retrieving and creating discounts\n"
    },
    {
      "name": "Booking",
      "description": "Endpoints related to retrieving and creating bookings and bookable objects\n"
    },
    {
      "name": "Request Forms",
      "description": "Endpoints related to retrieving and creating request forms and requests\n"
    },
    {
      "name": "Request Forms Forms",
      "x-displayName": "Forms",
      "description": "Endpoints related to request forms"
    },
    {
      "name": "Request Forms Submissions",
      "x-displayName": "Submissions",
      "description": "Endpoints related to request submissions"
    },
    {
      "name": "Request Forms Workflow",
      "x-displayName": "Workflow",
      "description": "Endpoints related to handling the workflow of request submissions"
    },
    {
      "name": "Agreements",
      "description": "Endpoints related to agreements."
    },
    {
      "name": "Agreement Items",
      "description": "Endpoints related to agreement items."
    },
    {
      "name": "Agreement Accounts",
      "description": "Endpoints related to agreement accounts."
    },
    {
      "name": "Payments",
      "description": "Endpoints related to payments."
    },
    {
      "name": "Invoices",
      "description": "Endpoints related to invoices."
    },
    {
      "name": "Service Accounts",
      "description": "Endpoints for managing service accounts (non-human API accounts)."
    },
    {
      "name": "OAuth Clients",
      "description": "Endpoints for managing OAuth clients."
    },
    {
      "name": "Replies",
      "description": "Endpoints related to replies and comments, and making nested replies. These apply to all features where you can reply (messages, issues, form submissions, etc)"
    },
    {
      "name": "Spaces",
      "description": "Endpoints related to spaces."
    },
    {
      "name": "Invite Templates",
      "description": "Endpoints related to managing invite templates"
    }
  ],
  "paths": {
    "/accounts/me": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get the account of the authenticated user",
        "description": "Get the account information of the authenticated user.\n",
        "operationId": "getMyAccount",
        "responses": {
          "200": {
            "description": "The Account of the logged in user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthenticatedAccount"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_code": [
              "basic",
              "read.account.email"
            ]
          },
          {
            "openid": []
          }
        ]
      }
    },
    "/accounts/{account_id}": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get an account by id",
        "description": "Get the account information of the authenticated user.\n",
        "operationId": "getAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "responses": {
          "200": {
            "description": "The Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.account.email"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "User Profile"
        ],
        "summary": "Edit an account",
        "description": "Edit an account. It is a PATCH, so you only include the fields you wish to change\n",
        "operationId": "editAccount",
        "security": [
          {
            "oauth_code": [
              "basic",
              "write.account"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          }
        ],
        "requestBody": {
          "description": "The fields that you want to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/accounts/{account_id}/entities": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get account entity relationships",
        "description": "Get the entities this account is connected to, and the properties for that relationship. This endpoint only returns entities the current authenticated user is allowed to see.",
        "operationId": "getAccountEntities",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of AccountEntityRelation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountEntityRelation"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/accounts/{account_id}/entities/{entity_id}": {
      "get": {
        "tags": [
          "User Profile"
        ],
        "summary": "Get an account entity relationship",
        "description": "Get the entity this account is connected to, and the properties for that relationship. This endpoint only returns entities the current authenticated user is allowed to see.",
        "operationId": "getAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "AccountEntityRelation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntityRelation"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "User Profile"
        ],
        "summary": "Update account entity relationship",
        "description": "Update the properties of an account entity relationship.",
        "operationId": "updateAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "description": "The fields that you want to update. Note this is a PATCH so you only need to provide the properties you want to update. When updating the `roles`, all roles will be overwritten by the list of roles provided by this request. For more fine-grained role management use the role endpoints",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountEntityRelationProperties"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated AccountEntityRelation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEntityRelation"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/accounts/{account_id}/entities/{entity_id}/roles": {
      "get": {
        "tags": [
          "Account Entity Roles"
        ],
        "summary": "Get roles of an account entity",
        "description": "Get the roles assigned to this account entity relation. This endpoint only returns the roles the current authenticated user is allowed to see.",
        "operationId": "getRolesOfAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityRole"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Account Entity Roles"
        ],
        "summary": "Set roles of an account entity",
        "description": "Overwrite all roles of the account entity relation with the given list.",
        "operationId": "setRolesOfAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "description": "The list of roles",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommunityRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated list of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityRole"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Account Entity Roles"
        ],
        "summary": "Assign roles of an account entity",
        "description": "Add the given roles to the account entity. Roles that are not allowed to be assigned by the authenticated user are ignored.",
        "operationId": "addRolesToAccountEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountId"
          },
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "requestBody": {
          "description": "The list of roles",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CommunityRole"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated list of roles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityRole"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.account"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/signup/requests": {
      "get": {
        "tags": [
          "Signup Requests"
        ],
        "summary": "Get the open signup requests",
        "description": "Get a list of all the signup requests for this company (or community)",
        "operationId": "getRecievedSignupRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Signup Requests",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SignupRequest"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "create.account"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get a company",
        "description": "Get a company. This endpoint returns the complete company object. A community profile is also a company, when `entity_type == \"community\"`",
        "operationId": "getCompany",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "A full company object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullEntity"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "summary": "Edit a company",
        "description": "Update an existing company. It is a PATCH, so you only include the fields you wish to change",
        "operationId": "editEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "description": "The company data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated FullEntity resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullEntity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/accounts": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get the accounts of a company",
        "description": "Retrieve the account objects of this entity. Note, the accounts are included based on their visibility level in regards to the authenticated user.",
        "operationId": "getAccountsOfEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Accounts",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/accounts/{account_id}": {
      "delete": {
        "tags": [
          "Company"
        ],
        "summary": "Remove user from an entity",
        "operationId": "removeAccountFromEntity",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "description": "The entity id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/accounts/pinned": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get the accounts visible on the entity profile/homescreen",
        "description": "Retrieve the account objects of this entity that are pinned for the profile/homescreen. Note, the accounts are included based on their visibility level in regards to the authenticated user.",
        "operationId": "getPinnedAccountsOfEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Account objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Accounts",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Set the accounts visible on the entity profile/homescreen",
        "description": "Set the accounts that are visible on the entity profile/homescreen. Accounts that are not included won't be shown. Accounts that have their visibility set to private won't be shown even if they are included through this endpoint.",
        "operationId": "editPinnedAccountsOfEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accounts": {
                    "type": "array",
                    "description": "The ordered list of account ids that are shown on the profile or homescreen",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/supplies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Get the offers of a company",
        "description": "Retrieve the supply (offers) objects of this company. Note, you can also get the supplies of a company embedded in the company resource when doing a call to `/companies/{entity_id}` with `?include=supply`",
        "operationId": "getSupplies",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Supply objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Supplies",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Supply"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Company"
        ],
        "operationId": "createOffer",
        "summary": "Create an offer",
        "description": "Add an offer/supply to the given company profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSupply"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created Offer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{entity_id}/supplies/{supply_id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "operationId": "getSupply",
        "summary": "Get an offer of a company",
        "description": "Retrieve the supply objects of this company. Note, you can also get the supplies of a company embedded in the company resource when doing a call to `/companies/{id}` with `?include=supply`",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/SupplyId"
          }
        ],
        "responses": {
          "200": {
            "description": "The Offer object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "operationId": "editOffer",
        "summary": "Edit an offer",
        "description": "Edit an offer/supply of the given company profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/SupplyId"
          }
        ],
        "requestBody": {
          "description": "The offer/supply data to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSupply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated Offer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Supply"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Company"
        ],
        "operationId": "deleteOffer",
        "summary": "Delete an offer",
        "description": "Delete the specified offer from this company profile",
        "parameters": [
          {
            "$ref": "#/components/parameters/EntityId"
          },
          {
            "$ref": "#/components/parameters/SupplyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.company"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/members": {
      "get": {
        "tags": [
          "Community Members"
        ],
        "summary": "Get the members of a community",
        "description": "Retrieve the members of this community.",
        "operationId": "getMembers",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "chain_type",
            "in": "query",
            "description": "An optional filter of the type of members you want to return.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "member",
                  "partner"
                ]
              }
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "A list of group ids to optionally return only the members that are a part of that group (specifying multiple groups is an OR).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Chain objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Chains",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Chain"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Community Members"
        ],
        "summary": "Add a member",
        "description": "Add a new member (company or household) to the community.",
        "operationId": "createEntity",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "description": "The data for the entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEntity"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated FullEntity resource",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullEntity"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/members/{entity_id}": {
      "delete": {
        "tags": [
          "Community Members"
        ],
        "summary": "Remove member from a community",
        "operationId": "removeMemberFromCommunity",
        "parameters": [
          {
            "name": "entity_id",
            "in": "path",
            "description": "The entity id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "community_id",
            "in": "path",
            "description": "The community id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/users": {
      "post": {
        "tags": [
          "Community Members"
        ],
        "summary": "Invite user to a community",
        "description": "Inviting a user to a community. A user is conencted to a community via its entities (company or household). That is why the `entity_id` must be specified when inviting a user. The properties in the request body all relate to that entity. If the user is already a member of a community with a different entity, this API call still works, the user is added to that additional entity, but the user name will not be overwritten.",
        "operationId": "createUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountInvite"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "The invited account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/users/{account_id}": {
      "delete": {
        "tags": [
          "Community Members"
        ],
        "summary": "Remove user from a community",
        "operationId": "removeUserFromCommunity",
        "parameters": [
          {
            "name": "community_id",
            "in": "path",
            "description": "The community id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "account_id",
            "in": "path",
            "description": "The account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        },
        "security": [
          {
            "oauth_code": [
              "manage.members"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/ai/rules/{agent_type}": {
      "get": {
        "tags": [
          "AI Rules"
        ],
        "summary": "Get community AI rules for specific agent type",
        "description": "Retrieve community AI rules for a specific agent type",
        "operationId": "getCommunityAIRulesByAgentType",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "agent_type",
            "in": "path",
            "required": true,
            "description": "The agent type to get rules for",
            "schema": {
              "type": "string",
              "enum": [
                "content_assistant"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Community AI rules for specific agent type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityAIRules"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.ai_config"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/ai/rules": {
      "get": {
        "tags": [
          "AI Rules"
        ],
        "summary": "Get all community AI rules",
        "description": "Retrieve all community AI rules for all agent types",
        "operationId": "getAllCommunityAIRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of community AI rules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommunityAIRules"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "read.ai_config"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "AI Rules"
        ],
        "summary": "Create or update community AI rules",
        "description": "Create/update community AI rules",
        "operationId": "createOrUpdateCommunityAIRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CommunityAIRulesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated community AI rules",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityAIRules"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic",
              "manage.ai_config"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/fields": {
      "get": {
        "tags": [
          "Community"
        ],
        "summary": "Get custom fields definitions",
        "description": "Get the custom field definitions that this community has specified.",
        "operationId": "getCustomFieldDefinitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of CustomFieldDefinition objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Custom field definitions",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomFieldDefinition"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get the groups of the community",
        "description": "Groups are collections of companies and accounts. These groups (QuickLists) can be used for a variety of purposes withing Chainels, for example message, or directory can be targeted at a group. This endpoint shows which groups (QuickLists) exist in this community and are available to view for the authenticated user.",
        "operationId": "getGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of QuickLists",
            "content": {
              "application/json": {
                "schema": {
                  "title": "QuickLists",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuickList"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/favorites": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get the favorite groups",
        "description": "Returns the favorite groups of the community as configured by the community management.",
        "operationId": "getFavoriteGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of QuickLists",
            "content": {
              "application/json": {
                "schema": {
                  "title": "QuickLists",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QuickList"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/targets/{qid}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get a group by id",
        "description": "Get a target/group of the specified community by id.",
        "operationId": "getGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/QuicklistId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "A Quicklist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuickList"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a message",
        "description": "Get a message by its id. Messages have multiple types, and depending on the type you might receive one of more extra properties.",
        "operationId": "getMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete a message",
        "operationId": "deleteMessage",
        "parameters": [
          {
            "name": "msg_id",
            "in": "path",
            "description": "The message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Messages"
        ],
        "summary": "Edit a message",
        "description": "Edit an existing message. The ID of the edited message changes when you change its publishing status.",
        "operationId": "editMessage",
        "parameters": [
          {
            "name": "msg_id",
            "in": "path",
            "description": "The message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_silent",
            "in": "query",
            "description": "Specify if this action should send notifications (`is_silent=false`) or not (`is_silent=true`). Only relevant for non-published messages.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "is_teaser",
            "in": "query",
            "description": "Specify if email notifications for this message should only show a teaser of the message (`is_teaser=true`) or not (`is_teaser=false`). Only relevant when `is_silent=false` and non-published messages",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "description",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditTimelineMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get the messages of a community",
        "description": "Get the messages of a community. Messages have multiple types, and depending on the type you might receive one of more extra properties. **Note** This endpoint is deprecated, you should use the Timeline endpoints instead. However this endpoint has some filtering capabilities that are not yet implemented in the newer APIs.",
        "operationId": "getMessages",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "name": "include_members",
            "in": "query",
            "description": "If this is true, then this response will also contain all the messages of the members of this community. If the requested company is not a community, this will have no effect.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "members_only",
            "in": "query",
            "description": "If true, the response will include **only** the messages of the members of this community. If the requested company is not a community, or `include_members` is false, this will have no effect.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "msg_type",
            "in": "query",
            "description": "Filter for the messsage type. **Message types should be seperated by commas!**",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "1",
                  "2",
                  "3",
                  "4",
                  "5"
                ]
              }
            }
          },
          {
            "name": "public_only",
            "in": "query",
            "description": "Specify if you only want to get public messages",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many messages are returned per page",
            "schema": {
              "maximum": 30,
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Get messages posted since this Unix timestamp (based on `created_at`)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Get messages posted until this timestamp (based `created_at`)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "group",
            "in": "query",
            "description": "Filter on a group id to get messages posted in that group",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Message objects.",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "Messages",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineMessage"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Post a message",
        "description": "Create a new message. You an only post messages to communities you are a member of. Communities can also post to themselves.",
        "operationId": "saveMessage",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          }
        ],
        "requestBody": {
          "description": "description",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimelineMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "Location": {
                "description": "The url of the newly created message",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/replies": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get replies",
        "description": "Get the replies of the specified message. We return by default 10 per page (max 30 per page)",
        "operationId": "getReplies",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/SortOrderDesc"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/Count"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Reply object",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "Replies",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Reply"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Reply to a message",
        "description": "Reply to a message.",
        "operationId": "saveReply",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reply"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "Location": {
                "description": "The uri of the newly created reply",
                "example": "{base_url}/messages/{msg_id}/replies/{reply_id}",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reply"
                }
              }
            },
            "links": {
              "GetReplyById": {
                "operationId": "getReplyOfMessage"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/replies/{reply_id}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a reply",
        "description": "Get an individual reply resource.",
        "operationId": "getReplyOfMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/ReplyId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reply"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Delete a message reply",
        "description": "Remove a reply of a message",
        "operationId": "deleteReplyOfMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/ReplyId"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/replies/users": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get users who replied",
        "description": "Get the list of the users who have replied to this message",
        "operationId": "getRepliedUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of account with entity tuples",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Users",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Assignee"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/followers": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get followers of message",
        "description": "Get a list of all the accounts that follow this message",
        "operationId": "getMessageFollowers",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "List of followers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of accounts that follow the message",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Messages"
        ],
        "summary": "Follow a message",
        "description": "Make the authenticated user follow a message.",
        "operationId": "followMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Messages"
        ],
        "summary": "Unfollow a message",
        "description": "Make the authenticated user unfollow a message. If the user does not follow this channel already, nothing happens.",
        "operationId": "unfollowMessage",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "responses": {
          "200": {
            "description": "The updated message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/timeline": {
      "get": {
        "tags": [
          "Timeline"
        ],
        "summary": "Get the messages of a community",
        "description": "Get the messages of a community. Messages have multiple types, and depending on the type you might receive one of more extra properties.",
        "operationId": "getTimeline",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "name": "channel",
            "in": "query",
            "description": "The id of the channel of which you want to get the timeline",
            "schema": {
              "type": "string",
              "default": "all",
              "examples": [
                "501435772735378137",
                "mytimeline"
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many messages are returned per page",
            "schema": {
              "maximum": 30,
              "type": "integer",
              "default": 5
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Opaque cursor token. Returns messages after this cursor position. Obtain from the `cursor` field of a message response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Opaque cursor token. Returns messages before this cursor position. Obtain from the `cursor` field of a message response.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Get messages posted since this Unix timestamp (based on `created_at`). **Deprecated** \u2014 use `after`/`before` cursors instead.",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Get messages posted until this timestamp (based `created_at`). **Deprecated** \u2014 use `after`/`before` cursors instead.",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Message objects.",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "Messages",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineMessage"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Timeline"
        ],
        "summary": "Post a message",
        "description": "Create a new message on the timeline of a community.",
        "operationId": "writeInTimeline",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "name": "is_silent",
            "in": "query",
            "description": "Specify if this action should send notifications (`is_silent=false`) or not (`is_silent=true`).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "is_teaser",
            "in": "query",
            "description": "Specify if email notifications for this message should only show a teaser of the message (`is_teaser=true`) or not (`is_teaser=false`). Only relevant when `is_silent=false`",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "description": "description",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TimelineMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "Location": {
                "description": "The url of the newly created message",
                "schema": {
                  "type": "string",
                  "format": "url"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineMessage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get available channels",
        "description": "Get the channels of a community, filtered and sorted for the authenticated user",
        "operationId": "getChannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "name": "sorted",
            "in": "query",
            "description": "Whether you want a sorted list of Channels",
            "schema": {
              "default": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Channels",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Channels",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Channel"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/channels/{channel_id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get a channel by id",
        "description": "Get a channel of a community.",
        "operationId": "getChannel",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "The channel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get the events of a community",
        "description": "Get the events of a community. Events are sorted on the event date, not the created_at date like the messages endpoint. The sort order is descending. To get a single event by id, use the getMessages endpoint, as an event is also a type of message.",
        "operationId": "getEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "name": "include_members",
            "in": "query",
            "description": "If this is true, then this response will also contain all the events of the members of this community. If the requested company is not a community, this will have no effect.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "public_only",
            "in": "query",
            "description": "Specify if you only want to get public events",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Get events starting from this timestamp (based on `date`, not `created_at`)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Get events starting until timestamp (based on `date`, not `created_at`)",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Event objects.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Events",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/presences": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get the attendee list",
        "description": "Get an array of companies/people (\"Presence\") who will attend this event",
        "operationId": "getAttendees",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Presence objects",
            "content": {
              "application/json": {
                "schema": {
                  "title": "List of Attendees",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Presence"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          },
          {
            "oauth_client": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Register for event",
        "description": "Add a presence resource to the list of this event.",
        "operationId": "attend",
        "parameters": [
          {
            "name": "msg_id",
            "in": "path",
            "description": "The message id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Presence"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Presence"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/presences/{presence_id}": {
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Unregister for event",
        "description": "Remove a presence from the list of this event. The creator of the event and communities can remove anyone from the list. Regular users can only remove themselves.",
        "operationId": "unattend",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "name": "presence_id",
            "in": "path",
            "description": "The id of the presence object",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Succesfully removed",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/event/registrations/{registration_id}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Get a registration",
        "description": "Get an event registration.",
        "operationId": "getEventRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/EventRegistrationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Succesfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventRegistration"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Events"
        ],
        "summary": "Delete a registration",
        "description": "Delete an event registration. This removes all attendees from the event.",
        "operationId": "deleteEventRegistration",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/EventRegistrationId"
          }
        ],
        "responses": {
          "204": {
            "description": "Succesfully removed",
            "content": {}
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/event/registrations/{registration_id}/status": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Update the status of an event registration",
        "description": "Apply a transition to change the status of a registration.",
        "operationId": "updateStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/EventRegistrationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WorkflowStatusUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.message"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/survey/submissions": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Get all survey submissions",
        "description": "Return a list of all the submissions for this survey made by users. When the results are not public and the authenticated user is not the creator of the survey or a community manager, this will return a 403 forbidden response. Submissions will also be filtered if the survey results are private, based on the privacy settings of the submitter and the permissions of the authenticated user.",
        "operationId": "getSubmissions",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. SurveySubmissions do not include answers unless explicitly included",
            "content": {
              "application/json": {
                "schema": {
                  "title": "SurveySubmissions",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SurveySubmission"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Survey"
        ],
        "summary": "Submit survey answers",
        "description": "Save a submission to a survey",
        "operationId": "saveSurveySubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "answers"
                ],
                "properties": {
                  "answers": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CreateSurveyAnswer"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveySubmission"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/survey/submissions/mine": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Get my survey submission",
        "description": "Return your own survey submission. If the user has no submission, this returns a 404",
        "operationId": "getMySubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. SurveySubmissions do not include answers unless explicitly included",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveySubmission"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound",
            "description": "If the user has no survey submission"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/survey/submissions/{submission_id}": {
      "get": {
        "tags": [
          "Survey"
        ],
        "summary": "Get a survey submission",
        "description": "Get a specific survey submission",
        "operationId": "getSubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "name": "submission_id",
            "in": "path",
            "description": "The id of the survey submission",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "SurveySubmission including the answers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveySubmission"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "basic"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Survey"
        ],
        "summary": "Edit a survey submission",
        "description": "Edit a specific survey submission. All answers must be included again, partial updates are not supported.",
        "operationId": "editSurveySubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          },
          {
            "name": "submission_id",
            "in": "path",
            "description": "The id of the survey submission",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubmission"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SurveySubmission including the answers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SurveySubmission"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/survey/close": {
      "put": {
        "tags": [
          "Survey"
        ],
        "summary": "Close the survey",
        "description": "Close the survey (sets the close_date to \"now\" if the survey was not already closed)",
        "operationId": "closeSurvey",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/messages/{msg_id}/survey/open": {
      "put": {
        "tags": [
          "Survey"
        ],
        "summary": "(Re)Open the survey",
        "description": "Reopen the survey afer it was closed (clears the close_date)",
        "operationId": "openSurvey",
        "parameters": [
          {
            "$ref": "#/components/parameters/MessageId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "oauth_code": [
              "write.messages"
            ]
          }
        ]
      }
    },
    "/companies/{community_id}/issues/v2": {
      "get": {
        "tags": [
          "Issues & Categories"
        ],
        "summary": "Get the issues of a community",
        "description": "Get the issues reported for this community. The result is ordered latest first.\nSeveral filters are available for this endpoint. These filters work in an AND fashion.\n",
        "operationId": "getIssuesV2",
        "parameters": [
          {
            "$ref": "#/components/parameters/CommunityId"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to get.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many issues are returned",
            "schema": {
              "maximum": 30,
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "description": "Add filters to the query. These filters work in an AND fashion.",
            "schema": {
              "$ref": "#/components/schemas/IssueFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of Issue objects.",
            "headers": {
              "Link": {
                "$ref": "#/components/headers/LinkPagination"
              }
            },
            "content": {
              "application/json": {
                "schema": {
[...]
