openapi: 3.0.1
info:
  title: Kie.ai API
  description: 'Unified API for Kie.ai''s AI generation platform: image, video, music, and chat models,
    plus account and file utilities. Async generation endpoints return a taskId; poll the matching record-info/get-details
    endpoint (or use a callBackUrl) to retrieve results.'
  version: 1.0.0
servers:
- url: https://api.kie.ai
  description: Production
security:
- BearerAuth: []
paths:
  /api/v1/chat/credit:
    get:
      summary: Get Remaining Credits
      deprecated: false
      description: 'Get the current credit balance available in your account.


        ### Usage Guide


        * Use this interface to check your current credit balance

        * Monitor usage to ensure sufficient credits to continue using services

        * Plan credit replenishment based on usage patterns


        ### Developer Notes


        * All generation services require credit balance

        * Service access will be restricted when credits are exhausted

        * Credit consumption is based on specific services and usage volume'
      operationId: get-account-credits
      tags:
      - Common
      parameters: []
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    enum:
                    - 200
                    - 401
                    - 402
                    - 404
                    - 422
                    - 429
                    - 455
                    - 500
                    - 505
                    description: 'Response Status Code


                      | Code | Description |

                      |------|-------------|

                      | 200 | Success - Request has been processed successfully |

                      | 401 | Unauthorized - Authentication credentials are missing or invalid |

                      | 402 | Insufficient Credits - Account does not have enough credits to perform the
                      operation |

                      | 404 | Not Found - The requested resource or endpoint does not exist |

                      | 422 | Validation Error - The request parameters failed validation checks |

                      | 429 | Rate Limited - Request limit has been exceeded for this resource |

                      | 455 | Service Unavailable - System is currently undergoing maintenance |

                      | 500 | Server Error - An unexpected error occurred while processing the request
                      |

                      | 505 | Feature Disabled - The requested feature is currently disabled |'
                  msg:
                    type: string
                    description: Error message when code != 200
                    examples:
                    - success
                  data:
                    type: integer
                    description: Remaining credit quantity
                    examples:
                    - 100
                required:
                - code
                - msg
                - data
              example:
                code: 200
                msg: success
                data: 100
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
  /api/v1/common/download-url:
    post:
      summary: Get Download URL for Generated Files
      deprecated: false
      description: "# Get Download Link for Generated Files\n\n  Convert generated file URLs into downloadable\
        \ temporary links. Only supports files generated by kie.ai services.\n\n### Features\n\n* Convert\
        \ kie.ai generated file URLs into downloadable links\n* Supports all file types generated by the\
        \ kie.ai platform (images, videos, audio, etc.)\n* Temporary download links are valid for 20 minutes\n\
        * Secure access to generated content\n* Protected by API Key authentication\n\n### Important Notes\n\
        \nOnly supports file URLs generated by kie.ai services. External file URLs will return a 422 validation\
        \ error.\n\nDownloadable links expire after 20 minutes. Please ensure you download or cache content\
        \ within this timeframe."
      operationId: download-url
      tags:
      - Common
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  description: Image URL (Required)
                  type: string
              required:
              - url
            example: "{\n  \"url\": \"https://tempfile.aiquickdraw.com/path/to/image.jpg\" // 图片url（必填）\n\
              }"
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 402
                      - 404
                      - 422
                      - 429
                      - 455
                      - 500
                      - 505
                      description: 'Response Status Code


                        | Code | Description |

                        |------|-------------|

                        | 200 | Success - Request has been processed successfully |

                        | 401 | Unauthorized - Authentication credentials are missing or invalid |

                        | 402 | Insufficient Credits - Account does not have enough credits to perform
                        the operation |

                        | 404 | Not Found - The requested resource or endpoint does not exist |

                        | 422 | Validation Error - Invalid URL (External file URLs are not supported)
                        |

                        | 429 | Rate Limited - Request limit has been exceeded for this resource |

                        | 455 | Service Unavailable - System is currently undergoing maintenance |

                        | 500 | Server Error - An unexpected error occurred while processing the request
                        |

                        | 505 | Feature Disabled - The requested feature is currently disabled |'
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: string
                      format: uri
                      description: Downloadable URL for the file. Valid for 20 minutes.
                      examples:
                      - https://tempfile.1f6cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxbd98
              example:
                code: 200
                msg: success
                data: https://tempfile.1f6cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxbd98
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
  /api/v1/gpt4o-image/generate:
    post:
      summary: Generate 4o Image
      deprecated: false
      description: Create a new 4o Image generation task. Generated images are stored for 14 days, after
        which they expire.
      operationId: generate-4o-image
      tags:
      - Market
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: (Optional) Text prompt that conveys the creative idea you want the 4o model
                    to render. Required if neither `filesUrl` nor `fileUrl` is supplied. At least one
                    of `prompt` or `filesUrl` must be provided.
                  examples:
                  - A beautiful sunset over the mountains
                filesUrl:
                  type: array
                  items:
                    type: string
                    format: uri
                  description: '(Optional) Up to 5 publicly reachable image URLs to serve as reference
                    or source material. Use this when you want to edit or build upon an existing picture.
                    If you don’t have reliable hosting, upload your images first via our File Upload API
                    quick‑start: https://docs.kie.ai/file-upload-api/quickstart. Supported formats: .jfif,
                    .pjpeg, .jpeg, .pjp, .jpg, .png, .webp. At least one of `prompt` or `filesUrl` must
                    be provided.'
                  examples:
                  - - https://example.com/image.png
                size:
                  type: string
                  description: (Required) Aspect ratio of the generated image. Must be one of the listed
                    values.
                  enum:
                  - '1:1'
                  - '3:2'
                  - '2:3'
                  examples:
                  - '1:1'
                callBackUrl:
                  type: string
                  format: uri
                  description: 'The URL to receive 4o image generation task completion updates. Optional
                    but recommended for production use.


                    - System will POST task status and results to this URL when 4o image generation completes

                    - Callback includes generated image URLs and task information for all variations

                    - Your callback endpoint should accept POST requests with JSON payload containing
                    image generation results

                    - For detailed callback format and implementation guide, see [4o Image Generation
                    Callbacks](https://docs.kie.ai/4o-image-api/generate-4-o-image-callbacks)

                    - Alternatively, use the Get 4o Image Details endpoint to poll task status

                    - To ensure callback security, see [Webhook Verification Guide](/common-api/webhook-verification)
                    for signature verification implementation'
                  examples:
                  - https://your-callback-url.com/callback
                fileUrl:
                  type: string
                  format: uri
                  description: (Optional, Deprecated) File URL, such as an image URL. If fileUrl is provided,
                    4o image may create based on this image. This parameter will be deprecated in the
                    future, please use filesUrl instead.
                  deprecated: true
                  examples:
                  - https://example.com/image.png
              required:
              - size
              examples:
              - filesUrl:
                - https://example.com/image.png
                prompt: A beautiful sunset over the mountains
                size: '1:1'
                callBackUrl: https://your-callback-url.com/callback
                isEnhance: false
                uploadCn: false
                enableFallback: false
                fallbackModel: FLUX_MAX
            example:
              filesUrl:
              - https://example.com/image.png
              prompt: A beautiful sunset over the mountains
              size: '1:1'
              callBackUrl: https://your-callback-url.com/callback
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 400
                      - 401
                      - 402
                      - 404
                      - 422
                      - 429
                      - 455
                      - 500
                      - 550
                      description: "Response Status Codes\n\n- **200**: Success - Request has been processed\
                        \ successfully  \n- **400**: Format Error - The parameter is not in a valid JSON\
                        \ format  \n- **401**: Unauthorized - Authentication credentials are missing or\
                        \ invalid  \n- **402**: Insufficient Credits - Account does not have enough credits\
                        \ to perform the operation  \n- **404**: Not Found - The requested resource or\
                        \ endpoint does not exist  \n- **422**: Validation Error - The request parameters\
                        \ failed validation checks  \n- **429**: Rate Limited - Request limit has been\
                        \ exceeded for this resource  \n- **455**: Service Unavailable - System is currently\
                        \ undergoing maintenance  \n- **500**: Server Error - An unexpected error occurred\
                        \ while processing the request  \n  - Build Failed - vocal removal generation\
                        \ failed  \n- **550**: Connection Denied - Task was rejected due to a full queue,\
                        \ likely caused by source site's issues. Please contact the administrator to confirm."
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Task ID, can be used with [Get 4o Image Details](/4o-image-api/get-4-o-image-details)
                            to query task status
                          examples:
                          - task12345
              example:
                code: 200
                msg: success
                data:
                  taskId: task12345
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
      callbacks:
        on4oImageGenerated:
          '{$request.body#/callBackUrl}':
            post:
              summary: 4o Image Generation Task Callback
              description: When the 4o Image task is completed, the system will send the result to your
                provided callback URL via POST request
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: "Response Status Codes\n\n- **200**: Success - Image generation\
                            \ completed successfully  \n- **400**: Bad Request  \n  - The image content\
                            \ in filesUrl violates content policy  \n  - Image size exceeds maximum of\
                            \ 26214400 bytes  \n  - We couldn't process the provided image file (code=invalid_image_format)\
                            \  \n  - Your content was flagged by OpenAI as violating content policies\
                            \  \n- **451**: Download Failed - Unable to download image from the provided\
                            \ filesUrl  \n- **500**: Server Error  \n  - Please try again later  \n  -\
                            \ Failed to get user token  \n  - Failed to generate image  \n  - GPT 4O failed\
                            \ to edit the picture  \n  - null"
                          enum:
                          - 200
                          - 400
                          - 451
                          - 500
                        msg:
                          type: string
                          description: Status message
                          example: success
                        data:
                          type: object
                          properties:
                            taskId:
                              type: string
                              description: Task ID
                              example: task12345
                            info:
                              type: object
                              properties:
                                result_urls:
                                  type: array
                                  items:
                                    type: string
                                  description: List of generated image URLs
                                  example:
                                  - https://example.com/result/image1.png
                    example:
                      code: 200
                      msg: success
                      data:
                        taskId: task12345
                        info:
                          result_urls:
                          - https://example.com/result/image1.png
              responses:
                '200':
                  description: Callback received successfully
  /api/v1/gpt4o-image/record-info:
    get:
      summary: Get 4o Image Details
      deprecated: false
      description: 'Query 4o Image generation task details using taskId, including generation status,
        parameters and results.


        ### Status Descriptions

        - GENERATING: Generating in progress

        - SUCCESS: Generation successful

        - CREATE_TASK_FAILED: Failed to create task

        - GENERATE_FAILED: Generation failed


        ### Important Notes

        - Maximum query rate is 3 times per second per task'
      operationId: get-4o-image-details
      tags:
      - Market
      parameters:
      - name: taskId
        in: query
        description: Unique identifier of the 4o image generation task
        required: true
        example: task12345
        schema:
          type: string
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 402
                      - 404
                      - 422
                      - 429
                      - 455
                      - 500
                      description: "Response Status Codes\n\n- **200**: Success - Request has been processed\
                        \ successfully  \n- **401**: Unauthorized - Authentication credentials are missing\
                        \ or invalid  \n- **402**: Insufficient Credits - Account does not have enough\
                        \ credits to perform the operation  \n- **404**: Not Found - The requested resource\
                        \ or endpoint does not exist  \n- **422**: Validation Error - The request parameters\
                        \ failed validation checks  \n- **429**: Rate Limited - Request limit has been\
                        \ exceeded for this resource  \n- **455**: Service Unavailable - System is currently\
                        \ undergoing maintenance  \n- **500**: Server Error - An unexpected error occurred\
                        \ while processing the request  \n  - Build Failed - vocal removal generation\
                        \ failed"
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Unique identifier of the 4o image generation task
                          examples:
                          - task12345
                        paramJson:
                          type: string
                          description: Request parameters
                          examples:
                          - '{"prompt":"A beautiful sunset over the mountains","size":"1:1","isEnhance":false}'
                        completeTime:
                          type: integer
                          format: int64
                          description: Task completion time
                          examples:
                          - 1672574400000
                        response:
                          type: object
                          description: Final result
                          properties:
                            resultUrls:
                              type: array
                              items:
                                type: string
                              description: List of generated image URLs
                              examples:
                              - - https://example.com/result/image1.png
                        successFlag:
                          type: integer
                          format: int32
                          description: Generation status flag
                          examples:
                          - 1
                        status:
                          type: string
                          description: "Generation status text, possible values: GENERATING-In progress,\
                            \ SUCCESS-Successful, CREATE_TASK_FAILED-Task creation failed, GENERATE_FAILED-Generation\
                            \ failed\n\n- **200**: Success - Image generation completed successfully \
                            \ \n- **400**: Bad Request  \n  - The image content in filesUrl violates content\
                            \ policy  \n  - Image size exceeds maximum of 26214400 bytes  \n  - We couldn't\
                            \ process the provided image file (code=invalid_image_format)  \n  - Your\
                            \ content was flagged by OpenAI as violating content policies  \n  - Failed\
                            \ to fetch the image. Kindly verify any access limits set by you or your service\
                            \ provider  \n- **451**: Download Failed - Unable to download image from the\
                            \ provided filesUrl  \n- **500**: Internal Error  \n  - Failed to get user\
                            \ token  \n  - Please try again later  \n  - Failed to generate image  \n\
                            \  - GPT 4O failed to edit the picture  \n  - null"
                          enum:
                          - GENERATING
                          - SUCCESS
                          - CREATE_TASK_FAILED
                          - GENERATE_FAILED
                          examples:
                          - SUCCESS
                        errorCode:
                          type: integer
                          format: int32
                          description: Error code
                          enum:
                          - 200
                          - 400
                          - 451
                          - 500
                        errorMessage:
                          type: string
                          description: Error message
                          examples:
                          - ''
                        createTime:
                          type: integer
                          format: int64
                          description: Creation time
                          examples:
                          - 1672561200000
                        progress:
                          type: string
                          description: Progress, minimum value is "0.00", maximum value is "1.00"
                          examples:
                          - '1.00'
              example:
                code: 200
                msg: success
                data:
                  taskId: task12345
                  paramJson: '{"prompt":"A beautiful sunset over the mountains","size":"1:1","isEnhance":false}'
                  completeTime: 1672574400000
                  response:
                    resultUrls:
                    - https://example.com/result/image1.png
                  successFlag: 1
                  status: SUCCESS
                  errorCode: null
                  errorMessage: ''
                  createTime: 1672561200000
                  progress: '1.00'
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
  /api/v1/gpt4o-image/download-url:
    post:
      summary: Get Direct Download URL
      deprecated: false
      description: Convert an image URL to a direct download URL. This helps solve cross-domain issues
        when downloading images directly. The returned URL is valid for 20 minutes.
      operationId: get-4o-image-download-url
      tags:
      - Market
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                taskId:
                  type: string
                  description: The task ID associated with the image generation
                  examples:
                  - task12345
                url:
                  type: string
                  format: uri
                  description: The original image URL that needs to be converted to a direct download
                    URL
                  examples:
                  - https://tempfile.aiquickdraw.com/v/xxxxxxx.png
              required:
              - taskId
              - url
              examples:
              - taskId: task12345
                url: https://tempfile.aiquickdraw.com/v/xxxxxxx.png
            example:
              taskId: task12345
              url: https://tempfile.aiquickdraw.com/v/xxxxxxx.png
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 404
                      - 422
                      - 451
                      - 455
                      - 500
                      description: "Response Status Codes\n\n- **200**: Success - Request has been processed\
                        \ successfully  \n- **401**: Unauthorized - Authentication credentials are missing\
                        \ or invalid  \n- **404**: Not Found - The requested resource or endpoint does\
                        \ not exist  \n- **422**: Validation Error  \n  - The request parameters failed\
                        \ validation checks  \n  - record is null  \n  - Temporarily supports records\
                        \ within 14 days  \n  - record result data is blank  \n  - record status is not\
                        \ success  \n  - record result data not exist  \n  - record result data is empty\
                        \  \n- **451**: Failed to fetch the image. Kindly verify any access limits set\
                        \ by you or your service provider  \n- **455**: Service Unavailable - System is\
                        \ currently undergoing maintenance  \n- **500**: Server Error - An unexpected\
                        \ error occurred while processing the request"
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: string
                      description: Direct download URL valid for 20 minutes
                      examples:
                      - https://xxxxxx.xxxxxxxx.r2.cloudflarestorage.com/v/xxxxxxx.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250415T101007Z&X-Amz-SignedHeaders=host&X-Amz-Expires=1200&X-Amz-Credential=2464206aa3e576aa7c035d889be3a84e%2F20250415%2Fapac%2Fs3%2Faws4_request&X-Amz-Signature=122ae8bef09110e620841ab2ef8061c1818e754fc201408a9d1c6847b36fd3df
              example:
                code: 200
                msg: success
                data: https://xxxxxx.xxxxxxxx.r2.cloudflarestorage.com/v/xxxxxxx.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20250415T101007Z&X-Amz-SignedHeaders=host&X-Amz-Expires=1200&X-Amz-Credential=2464206aa3e576aa7c035d889be3a84e%2F20250415%2Fapac%2Fs3%2Faws4_request&X-Amz-Signature=122ae8bef09110e620841ab2ef8061c1818e754fc201408a9d1c6847b36fd3df
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
  /api/v1/flux/kontext/generate:
    post:
      summary: Generate or Edit Image
      deprecated: false
      description: "Create a new image generation or editing task using the Flux Kontext AI model.\n\n\
        ### Usage Modes\n1. **Text-to-Image Generation**\n   - Provide `prompt` and `aspectRatio`\n  \
        \ - Model will generate a new image based on the text description\n\n2. **Image Editing**\n  \
        \ - Provide `prompt` and `inputImage`\n   - You can optionally provide an `aspectRatio`.  \n \
        \     - If supplied, the output will be cropped or padded to match this ratio.  \n      - If omitted,\
        \ the original image's ratio will be preserved.\n   - Model will edit the input image according\
        \ to the prompt\n\n### Important Notes\n- Generated images will expire after 14 days\n- Prompts\
        \ only support English\n- Choose the appropriate model based on your needs:\n  - flux-kontext-pro:\
        \ Standard model for most use cases\n  - flux-kontext-max: Enhanced model for complex scenes"
      operationId: generate-or-edit-image
      tags:
      - Market
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
                  description: 'Text prompt describing the desired image or edit. Required for both generation
                    and editing modes.


                    - Should be detailed and specific

                    - For image editing, describe the desired changes

                    - For image generation, describe the complete scene

                    - IMPORTANT: Only English language is supported'
                  examples:
                  - A serene mountain landscape at sunset with a lake reflecting the orange sky
                enableTranslation:
                  type: boolean
                  description: 'Whether to enable automatic translation feature.


                    - Since prompt only supports English, when this parameter is true, the system will
                    automatically translate non-English prompts to English

                    - If your prompt is already in English, you can set this to false

                    - Default value: true'
                  examples:
                  - true
                uploadCn:
                  type: boolean
                  description: (Optional) Specifies the server region for image upload. Set to true to
                    use servers in China, false to use non-China servers. Choose based on your geographical
                    location for optimal upload speeds.
                  examples:
                  - false
                inputImage:
                  type: string
                  format: uri
                  description: 'URL of the input image for editing mode. Required when editing an existing
                    image.


                    - Must be a valid image URL

                    - Image must be accessible to the API server'
                  examples:
                  - https://example.com/input-image.jpg
                aspectRatio:
                  type: string
                  description: 'Output image aspect ratio. You Applicable in both text-to-image generation
                    and image editing modes.


                    For **text-to-image generation** , the output image will follow the specified aspect
                    ratio.


                    For **image editing** , if aspectRatio is provided, the edited image will follow that
                    ratio. If not provided, the image will retain its original aspect ratio.


                    Supported Aspect Ratios:


                    | Ratio | Format Type | Common Use Cases |

                    |-------|-------------|-----------------|

                    | 21:9  | Ultra-wide  | Cinematic displays, panoramic views |

                    | 16:9  | Widescreen  | HD video, desktop wallpapers |

                    | 4:3   | Standard    | Traditional displays, presentations |

                    | 1:1   | Square      | Social media posts, profile pictures |

                    | 3:4   | Portrait    | Magazine layouts, portrait photos |

                    | 9:16  | Mobile Portrait | Smartphone wallpapers, stories |


                    Note: Default ratio is "16:9" if not specified.'
                  enum:
                  - '21:9'
                  - '16:9'
                  - '4:3'
                  - '1:1'
                  - '3:4'
                  - '9:16'
                  default: '16:9'
                outputFormat:
                  type: string
                  description: Output image format.
                  enum:
                  - jpeg
                  - png
                  default: jpeg
                promptUpsampling:
                  type: boolean
                  description: '- If true, performs upsampling on the prompt

                    - May increase processing time'
                  default: false
                model:
                  type: string
                  description: 'Model version to use for generation.


                    Available Options:


                    | Model | Description |

                    |--------------|-------------|

                    | flux-kontext-pro | Standard model with balanced performance |

                    | flux-kontext-max | Enhanced model with advanced capabilities |


                    Note: Choose flux-kontext-max for more demanding tasks that require higher quality
                    and detail'
                  enum:
                  - flux-kontext-pro
                  - flux-kontext-max
                  default: flux-kontext-pro
                callBackUrl:
                  type: string
                  format: uri
                  description: 'The URL to receive image generation or editing task completion updates.
                    Optional but recommended for production use.


                    - System will POST task status and results to this URL when image generation or editing
                    completes

                    - Callback includes generated image URLs and task information for both text-to-image
                    and image editing operations

                    - Your callback endpoint should accept POST requests with JSON payload containing
                    image results

                    - For detailed callback format and implementation guide, see [Image Generation/Editing
                    Callbacks](https://docs.kie.ai/flux-kontext-api/generate-or-edit-image-callbacks)

                    - Alternatively, use the Get Image Details endpoint to poll task status

                    - To ensure callback security, see [Webhook Verification Guide](/common-api/webhook-verification)
                    for signature verification implementation'
                  examples:
                  - https://your-callback-url.com/callback
                safetyTolerance:
                  type: integer
                  description: '**For Image Generation Mode:**

                    Moderation level for inputs and outputs. Value ranges from 0 (most strict) to 6 (more
                    permissive).


                    **For Image Editing Mode:**

                    Moderation level for inputs and outputs. Value ranges from 0 (most strict) to 2 (balanced).


                    Default: 2'
                  enum:
                  - 0
                  - 1
                  - 2
                  - 3
                  - 4
                  - 5
                  - 6
                  default: 2
                  examples:
                  - 2
                watermark:
                  type: string
                  description: 'Watermark identifier to add to the generated image.


                    - Optional

                    - If provided, a watermark will be added to the output image'
                  examples:
                  - your-watermark-id
              required:
              - prompt
              examples:
              - prompt: A serene mountain landscape at sunset with a lake reflecting the orange sky
                enableTranslation: true
                aspectRatio: '16:9'
                outputFormat: jpeg
                promptUpsampling: false
                model: flux-kontext-pro
            example:
              prompt: A serene mountain landscape at sunset with a lake reflecting the orange sky
              enableTranslation: true
              aspectRatio: '16:9'
              outputFormat: jpeg
              promptUpsampling: false
              model: flux-kontext-pro
              safetyTolerance: 2
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 402
                      - 404
                      - 422
                      - 429
                      - 455
                      - 500
                      - 501
                      - 505
                      description: 'Response status code


                        - **200**: Success - Request has been processed successfully

                        - **401**: Unauthorized - Authentication credentials are missing or invalid

                        - **402**: Insufficient Credits - Account does not have enough credits to perform
                        the operation

                        - **404**: Not Found - The requested resource or endpoint does not exist

                        - **422**: Validation Error - The request parameters failed validation checks.The
                        request parameters are incorrect, please check the parameters.

                        - **429**: Rate Limited - Request limit has been exceeded for this resource

                        - **455**: Service Unavailable - System is currently undergoing maintenance

                        - **500**: Server Error - An unexpected error occurred while processing the request

                        Server Error - The security tolerance level is out of range and should be 0-2
                        or 0-6

                        - **501**: Generation Failed - Image generation task failed

                        - **505**: Feature Disabled - The requested feature is currently disabled'
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Task ID, can be used with Get Image Details endpoint to query task
                            status
                          examples:
                          - task12345
              example:
                code: 200
                msg: success
                data:
                  taskId: task12345
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
      callbacks:
        onImageGenerated:
          '{$request.body#/callBackUrl}':
            post:
              summary: Image Generation Callback
              description: When the image generation task is completed, the system will send the result
                to your provided callback URL via POST request
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        code:
                          type: integer
                          description: 'Status code


                            - **200**: Success - Image generation completed successfully

                            - **400**: Failed - Your prompt was flagged by Website as violating content
                            policies.

                            - **500**: Failed - Internal Error, Please try again later.

                            - **501**: Failed - Image generation task failed'
                          enum:
                          - 200
                          - 400
                          - 500
                          - 501
                        msg:
                          type: string
                          description: Status message
                          example: BFL image generated successfully.
                        data:
                          type: object
                          properties:
                            taskId:
                              type: string
                              description: Task ID
                              example: task12345
                            info:
                              type: object
                              properties:
                                originImageUrl:
                                  type: string
                                  description: Original image URL (valid for 10 minutes)
                                  example: https://example.com/original.jpg
                                resultImageUrl:
                                  type: string
                                  description: Generated image URL on our server
                                  example: https://example.com/result.jpg
                    example:
                      code: 200
                      msg: BFL image generated successfully.
                      data:
                        taskId: task12345
                        info:
                          originImageUrl: https://example.com/original.jpg
                          resultImageUrl: https://example.com/result.jpg
              responses:
                '200':
                  description: Callback received successfully
  /api/v1/flux/kontext/record-info:
    get:
      summary: Get Image Details
      deprecated: false
      description: 'Query the status and results of an image generation or editing task.


        ### Status Descriptions

        - 0: GENERATING - Task is currently being processed

        - 1: SUCCESS - Task completed successfully

        - 2: CREATE_TASK_FAILED - Failed to create the task

        - 3: GENERATE_FAILED - Task creation succeeded but generation failed


        ### Important Notes

        - Generated images (resultImageUrl) will expire after 14 days'
      operationId: get-image-details
      tags:
      - Market
      parameters:
      - name: taskId
        in: query
        description: Unique identifier of the image generation task
        required: true
        example: task12345
        schema:
          type: string
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 404
                      - 422
                      - 429
                      - 455
                      - 500
                      - 501
                      description: 'Response status code


                        - **200**: Success - Request has been processed successfully

                        - **401**: Unauthorized - Authentication credentials are missing or invalid

                        - **404**: Not Found - The requested resource or endpoint does not exist

                        - **422**: Validation Error - The request parameters failed validation checks

                        - **429**: Rate Limited - Request limit has been exceeded for this resource

                        - **455**: Service Unavailable - System is currently undergoing maintenance

                        - **500**: Server Error - An unexpected error occurred while processing the request

                        - **501**: Generation Failed - Image generation task failed'
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Unique identifier of the image generation task
                          examples:
                          - task12345
                        paramJson:
                          type: string
                          description: Request parameters in JSON format
                          examples:
                          - '{"prompt":"A serene mountain landscape","aspectRatio":"16:9"}'
                        completeTime:
                          type: string
                          format: date-time
                          description: Task completion time
                          examples:
                          - '2024-03-20T10:30:00Z'
                        response:
                          type: object
                          description: Final result
                          properties:
                            originImageUrl:
                              type: string
                              description: Original image URL (valid for 10 minutes)
                              examples:
                              - https://example.com/original.jpg
                            resultImageUrl:
                              type: string
                              description: Generated image URL on our server
                              examples:
                              - https://example.com/result.jpg
                        successFlag:
                          type: integer
                          description: Generation status flag
                          enum:
                          - 0
                          - 1
                          - 2
                          - 3
                          examples:
                          - 1
                        errorCode:
                          type: integer
                          description: 'Error code if task failed


                            - **400**: Your prompt was flagged by Website as violating content policies.

                            - **500**: Internal Error, Please try again later.

                            The security tolerance level is out of range and should be 0-2 or 0-6.

                            - **501**: Image generation task failed'
                          enum:
                          - 400
                          - 500
                          - 501
                          examples:
                          - null
                        errorMessage:
                          type: string
                          description: Error message if task failed
                          examples:
                          - ''
                        createTime:
                          type: string
                          format: date-time
                          description: Task creation time
                          examples:
                          - '2024-03-20T10:25:00Z'
              example:
                code: 200
                msg: success
                data:
                  taskId: task12345
                  paramJson: '{"prompt":"A serene mountain landscape","aspectRatio":"16:9"}'
                  completeTime: '2024-03-20T10:30:00Z'
                  response:
                    originImageUrl: https://example.com/original.jpg
                    resultImageUrl: https://example.com/result.jpg
                  successFlag: 1
                  errorCode: null
                  errorMessage: ''
                  createTime: '2024-03-20T10:25:00Z'
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
  /api/v1/runway/generate:
    post:
      summary: Generate AI Video
      deprecated: false
      description: "Create dynamic AI-generated videos from text prompts or image references.\n\n### Usage\
        \ Guide\n- Create short videos (5-10 seconds) using AI visualization\n- Generate videos based\
        \ on text descriptions or reference images\n- Suitable for social media content, digital art,\
        \ or concept visualization\n\n### Parameter Details\n- `prompt` describes what you want to show\
        \ in the video\n- `imageUrl` provides visual reference for AI\n- `aspectRatio` determines video\
        \ orientation (vertical or horizontal)\n- `duration` control the video duration (5 or 10 seconds),\
        \ where if a 10-second video is selected, 1080p resolution cannot be selected \n- `quality` video\
        \ resolution (720p or 1080p), where if 1080p is selected, 10-second video cannot be generated\n\
        - `waterMark` video watermark text content, empty string means no watermark\n\n### Developer Notes\n\
        - Generated videos are stored for 14 days before automatic deletion\n-  For text-only generation,\
        \ aspect ratio must be explicitly specified"
      operationId: generate-ai-video
      tags:
      - Market
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - prompt
              - duration
              - quality
              properties:
                prompt:
                  type: string
                  description: Descriptive text that guides the AI video generation. Be specific about
                    subject, action, style, and setting. When used with an image, describes how to animate
                    or modify the image content. Maximum length is 1800 characters.
                  examples:
                  - A fluffy orange cat dancing energetically in a colorful room with disco lights
                imageUrl:
                  type: string
                  description: Optional reference image URL to base the video on. When provided, the AI
                    will create a video animating or extending this image.
                  examples:
                  - https://example.com/cat-image.jpg
                duration:
                  type: number
                  description: Video duration, optional values are 5 or 10. If 10-second video is selected,
                    1080p resolution cannot be used
                  examples:
                  - '5'
                quality:
                  type: string
                  description: Video resolution, optional values are 720p or 1080p. If 1080p is selected,
                    10-second video cannot be generated
                  examples:
                  - 720p
                aspectRatio:
                  type: string
                  enum:
                  - '16:9'
                  - '4:3'
                  - '1:1'
                  - '3:4'
                  - '9:16'
                  description: Video aspect ratio parameter. **Required parameter for text-to-video generation
                    requests. This parameter is invalid when imageUrl is passed, and the aspect ratio
                    will ultimately be determined by the provided image.**
                  examples:
                  - '9:16'
                waterMark:
                  type: string
                  description: Video watermark text content. An empty string indicates no watermark, while
                    a non-empty string will display the specified text as a watermark in the bottom right
                    corner of the video.
                  examples:
                  - kie.ai
                callBackUrl:
                  type: string
                  description: 'The URL to receive AI video generation task completion updates. Required
                    for all video generation requests.


                    - System will POST task status and results to this URL when video generation completes

                    - Callback includes generated video URLs, cover images, and task information

                    - Your callback endpoint should accept POST requests with JSON payload containing
                    video results

                    - For detailed callback format and implementation guide, see [Video Generation Callbacks](https://docs.kie.ai/runway-api/generate-ai-video-callbacks)

                    - Alternatively, use the Get AI Video Details endpoint to poll task status

                    - To ensure callback security, see [Webhook Verification Guide](/common-api/webhook-verification)
                    for signature verification implementation'
                  examples:
                  - https://api.example.com/callback
            example:
              prompt: A fluffy orange cat dancing energetically in a colorful room with disco lights
              imageUrl: https://example.com/cat-image.jpg
              duration: '5'
              quality: 720p
              aspectRatio: '9:16'
              waterMark: kie.ai
              callBackUrl: https://api.example.com/callback
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 404
                      - 422
                      - 451
                      - 455
                      - 500
                      description: 'Response status code


                        - **200**: Success - Request has been processed successfully

                        - **401**: Unauthorized - Authentication credentials are missing or invalid

                        - **404**: Not Found - The requested resource or endpoint does not exist

                        - **422**: Validation Error - The request parameters failed validation checks.The
                        request parameters are incorrect, please check the parameters.

                        - **451**: Unauthorized - Failed to fetch the image. Kindly verify any access
                        limits set by you or your service provider.

                        - **455**: Service Unavailable - System is currently undergoing maintenance

                        - **500**: Server Error - An unexpected error occurred while processing the request'
                    msg:
                      type: string
                      description: Error message when code != 200
                      examples:
                      - success
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Unique identifier for the generation task, can be used with `Get
                            AI Video Details` to query task status
                          examples:
                          - ee603959-debb-48d1-98c4-a6d1c717eba6
              example:
                code: 200
                msg: success
                data:
                  taskId: ee603959-debb-48d1-98c4-a6d1c717eba6
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
      callbacks:
        onVideoGenerated:
          '{$request.body#/callBackUrl}':
            post:
              summary: Video Generation Completion Callback
              description: When video generation is complete, the system will send a POST request to the
                provided callback URL to notify the result
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      required:
                      - code
                      - data
                      - msg
                      properties:
                        code:
                          type: integer
                          description: Status code, 200 indicates success
                          example: 200
                        msg:
                          type: string
                          description: Status message
                          example: All generated successfully.
                        data:
                          type: object
                          required:
                          - image_url
                          - task_id
                          - video_id
                          - video_url
                          properties:
                            image_url:
                              type: string
                              description: Cover image URL of the generated video
                              example: https://file.com/m/xxxxxxxx.png
                            task_id:
                              type: string
                              description: Task ID
                              example: ee603959-debb-48d1-98c4-a6d1c717eba6
                            video_id:
                              type: string
                              description: Video ID
                              example: 485da89c-7fca-4340-8c04-101025b2ae71
                            video_url:
                              type: string
                              description: Accessible video URL, valid for 14 days
                              example: https://file.com/k/xxxxxxx.mp4
              responses:
                '200':
                  description: Callback received successfully
                  content:
                    application/json:
                      schema:
                        allOf:
                        - type: object
                          properties:
                            code:
                              type: integer
                              enum:
                              - 200
                              - 400
                              - 500
                              description: 'Response status code


                                - **200**: Success - Request has been processed successfully

                                - **400**: get image info failed.

                                Inappropriate content detected. Please replace the image or video.

                                Incorrect image format.

                                Please try again later. You can upgrade to Standard membership to start
                                generating now.

                                Reached the limit for concurrent generations.

                                Unsupported width or height. Please adjust the size and try again.

                                Upload failed due to network reasons, please re-enter.

                                Your prompt was caught by our AI moderator.  Please adjust it and try
                                again!

                                Your prompt/negative prompt cannot exceed 2048 characters. Please check
                                if your input is too long.

                                Your video creation prompt contains NSFW content, which isn''t allowed
                                under our policy. Kindly revise your prompt and generate again.

                                - **500**: Server Error - An unexpected error occurred while processing
                                the request'
                            msg:
                              type: string
                              description: Error message when code != 200
                              example: success
                      example:
                        code: 200
                        msg: success
  /api/v1/runway/record-detail:
    get:
      summary: Get AI Video Details
      deprecated: false
      description: 'Retrieve comprehensive information about an AI-generated video task.


        ### Usage Guide

        - Check the status of a video generation or extension task

        - Access video URLs when generation is complete

        - Troubleshoot failed generation attempts


        ### Status Descriptions

        - `wait`: Task has been submitted but not yet queued

        - `queueing`: Task is waiting in processing queue

        - `generating`: Video generation is in progress

        - `success`: Video has been successfully generated

        - `fail`: Video generation has failed


        ### Developer Notes

        - Works with both standard video generation and video extension tasks

        - For extension tasks, the `parentTaskId` field identifies the original video

        - Video links are valid for 14 days, after which `expireFlag` will be set to 1'
      operationId: get-ai-video-details
      tags:
      - Market
      parameters:
      - name: taskId
        in: query
        description: Unique identifier of the video generation or extension task. This is the taskId returned
          when creating or extending an AI video.
        required: true
        example: ee603959-debb-48d1-98c4-a6d1c717eba6
        schema:
          type: string
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 404
                      - 422
                      - 429
                      - 451
                      - 455
                      - 500
                      description: 'Response status code


                        - **200**: Success - Request has been processed successfully

                        - **401**: Unauthorized - Authentication credentials are missing or invalid

                        - **404**: Not Found - The requested resource or endpoint does not exist

                        - **422**: Validation Error - The request parameters failed validation checks

                        - **429**: Rate Limited - Request limit has been exceeded for this resource

                        - **451**: Unauthorized - Failed to fetch the image. Kindly verify any access
                        limits set by you or your service provider.

                        - **455**: Service Unavailable - System is currently undergoing maintenance

                        - **500**: Server Error - An unexpected error occurred while processing the request'
                    msg:
                      type: string
                      description: Status message
                      examples:
                      - success
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Unique identifier of the AI video generation task
                          examples:
                          - ee603959-debb-48d1-98c4-a6d1c717eba6
                        parentTaskId:
                          type: string
                          description: For extension tasks only - the task ID of the original video being
                            extended. Empty for standard generation tasks.
                          examples:
                          - ''
                        generateParam:
                          type: object
                          description: Parameters used for video generation or extension
                          properties:
                            prompt:
                              type: string
                              description: Text prompt used to guide the AI video generation
                              examples:
                              - A fluffy orange cat dancing energetically in a colorful room with disco
                                lights
                            imageUrl:
                              type: string
                              description: Reference image URL used for video generation or the frame
                                from which extension began
                              examples:
                              - https://example.com/image.jpg
                            expandPrompt:
                              type: boolean
                              description: Whether AI-powered prompt enhancement was used during generation
                              examples:
                              - true
                        state:
                          type: string
                          description: Current status of the video generation process
                          enum:
                          - wait
                          - queueing
                          - generating
                          - success
                          - fail
                          examples:
                          - success
                        generateTime:
                          type: string
                          description: Timestamp when the video generation was completed
                          examples:
                          - '2023-08-15 14:30:45'
                        videoInfo:
                          type: object
                          description: Details about the generated video, available when state is 'success'
                          properties:
                            videoId:
                              type: string
                              description: Unique identifier for the generated video file
                              examples:
                              - 485da89c-7fca-4340-8c04-101025b2ae71
                            taskId:
                              type: string
                              description: The task ID associated with this video generation
                              examples:
                              - ee603959-debb-48d1-98c4-a6d1c717eba6
                            videoUrl:
                              type: string
                              description: URL to access and download the generated video, valid for 14
                                days
                              examples:
                              - https://file.com/k/xxxxxxx.mp4
                            imageUrl:
                              type: string
                              description: URL of a thumbnail image from the generated video
                              examples:
                              - https://file.com/m/xxxxxxxx.png
                        failCode:
                          type: integer
                          format: int32
                          description: 'Error code


                            - **400**: Detected inappropriate content, please try replacing the video.

                            HD quality free trials complete. Subscribe now to continue creating in high
                            resolution.

                            Inappropriate content detected. Please replace the image or video.

                            Please try again later. You can upgrade to Standard membership to start generating
                            now.

                            Reached the limit for concurrent generations.

                            Unsupported width or height. Please adjust the size and try again.

                            Upload failed due to network reasons, please re-enter

                            Your prompt was caught by our AI moderator.

                            Your prompt has triggered our AI moderator, please re-enter your prompt

                            Your prompt/negative prompt cannot exceed 2048 characters. Please check if
                            your input is too long.

                            Your video creation prompt contains NSFW content, which isn''t allowed under
                            our policy. Kindly revise your prompt and generate again.

                            Incorrect image format'
                          enum:
                          - 400
                        failMsg:
                          type: string
                          description: Detailed error message explaining the reason for failure
                          examples:
                          - Generation failed, please try again later
                        expireFlag:
                          type: integer
                          format: int32
                          description: 'Indicates if the video has expired: 0 = active (still available),
                            1 = expired (no longer available)'
                          enum:
                          - 0
                          - 1
                          examples:
                          - 0
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
  /api/v1/runway/extend:
    post:
      summary: Extend AI Video
      deprecated: false
      description: "Extend existing AI-generated videos to create longer sequences.\n\n### Usage Guide\n\
        - Add additional segments to your AI-generated videos\n- Maintain visual consistency while extending\
        \ narratives\n- Create longer sequences for storytelling or demonstrations\n\n### Parameter Details\n\
        - `taskId` identifies the original video to extend\n- `prompt` guides how the video should continue\n\
        - `quality` video resolution, optional values are 720p or 1080p. \n- `waterMark` video watermark\
        \ text content, empty string means no watermark\n\n### Developer Notes\n- Extended videos are\
        \ stored for 14 days before automatic deletion\n- Extension maintains the same aspect ratio as\
        \ the original video\n- Extension works best when continuing the same subject/theme as the original\
        \ video"
      operationId: extend-ai-video
      tags:
      - Market
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - taskId
              - prompt
              - quality
              properties:
                taskId:
                  type: string
                  description: Unique identifier of the original video generation task. Must be a valid
                    task ID from a previously generated video.
                  examples:
                  - ee603959-debb-48d1-98c4-a6d1c717eba6
                prompt:
                  type: string
                  description: Descriptive text that guides the continuation of the video. Explain what
                    actions, movements, or developments should happen next. Be specific but maintain consistency
                    with the original video content.
                  examples:
                  - The cat continues dancing with more energy and excitement, spinning around with colorful
                    light effects intensifying
                quality:
                  type: string
                  description: Video resolution, optional values are 720p or 1080p.
                  examples:
                  - 720p
                waterMark:
                  type: string
                  description: Video watermark text content. An empty string indicates no watermark, while
                    a non-empty string will display the specified text as a watermark in the bottom right
                    corner of the video.
                  examples:
                  - kie.ai
                callBackUrl:
                  type: string
                  description: 'The URL to receive AI video extension task completion updates. Required
                    for all video extension requests.


                    - System will POST task status and results to this URL when video extension completes

                    - Callback includes extended video URLs, cover images, and task information

                    - Your callback endpoint should accept POST requests with JSON payload containing
                    extension results

                    - For detailed callback format and implementation guide, see [Video Extension Callbacks](https://docs.kie.ai/runway-api/extend-ai-video-callbacks)

                    - Alternatively, use the Get AI Video Details endpoint to poll task status

                    - To ensure callback security, see [Webhook Verification Guide](/common-api/webhook-verification)
                    for signature verification implementation'
                  examples:
                  - https://api.example.com/callback
            example:
              taskId: ee603959-debb-48d1-98c4-a6d1c717eba6
              prompt: The cat continues dancing with more energy and excitement, spinning around with
                colorful light effects intensifying
              quality: 720p
              waterMark: kie.ai
              callBackUrl: https://api.example.com/callback
      responses:
        '200':
          description: Request successful
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    code:
                      type: integer
                      enum:
                      - 200
                      - 401
                      - 404
                      - 422
                      - 429
                      - 451
                      - 455
                      - 500
                      description: 'Response status code


                        - **200**: Success - Request has been processed successfully

                        - **401**: Unauthorized - Authentication credentials are missing or invalid

                        - **404**: Not Found - The requested resource or endpoint does not exist

                        - **422**: Validation Error - The request parameters failed validation checks.The
                        request parameters are incorrect, please check the parameters.

                        - **429**: Rate Limited - Request limit has been exceeded for this resource

                        - **451**: Unauthorized - Failed to fetch the image. Kindly verify any access
                        limits set by you or your service provider.

                        - **455**: Service Unavailable - System is currently undergoing maintenance

                        - **500**: Server Error - An unexpected error occurred while processing the request'
                    msg:
                      type: string
                      description: Status message
                      examples:
                      - success
                    data:
                      type: object
                      properties:
                        taskId:
                          type: string
                          description: Task ID for tracking task status. Use this ID with the "Get AI
                            Video Details" endpoint to query extension task details and results.
                          examples:
                          - 5c79****be8e
              example:
                code: 200
                msg: success
                data:
                  taskId: ee603959-debb-48d1-98c4-a6d1c717eba6
          headers: {}
        '500':
          description: request failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    description: 'Response status code


                      - **200**: Success - Request has been processed successfully

                      - **401**: Unauthorized - Authentication credentials are missing or invalid

                      - **402**: Insufficient Credits - Account does not have enough credits to perform
                      the operation

                      - **404**: Not Found - The requested resource or endpoint does not exist

                      - **408**: Upstream is currently experiencing service issues. No result has been
                      returned for over 10 minutes.

                      - **422**: Validation Error - The request parameters failed validation checks

                      - **429**: Rate Limited - Request limit has been exceeded for this resource

                      - **455**: Service Unavailable - System is currently undergoing maintenance

                      - **500**: Server Error - An unexpected error occurred while processing the request

                      - **501**: Generation Failed - Content generation task failed

                      - **505**: Feature Disabled - The requested feature is currently disabled'
                  msg:
                    type: string
                    description: Response message, error description when failed
                  data:
                    type: object
                    properties: {}
                required:
                - code
                - msg
                - data
              example:
                code: 500
                msg: Server Error - An unexpected error occurred while processing the request
                data: null
          headers: {}
      callbacks:
        onVideoExtended:
          '{$request.body#/callBackUrl}':
            post:
              summary: Video Extension Completion Callback
              description: When video extension is complete, the system will send a POST request to the
                provided callback URL to notify the result
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      required:
                      - code
                      - data
                      - msg
                      properties:
                        code:
                          type: integer
                          description: Status code, 200 indicates success
                          example: 200
                        msg:
                          type: string
                          description: Status message
                          example: All generated successfully.
                        data:
                          type: object
                          required:
                          - image_url
                          - task_id
                          - video_id
                          - video_url
                          properties:
                            image_url:
                              type: string
                              description: Cover image URL of the generated video
                              example: https://file.com/m/xxxxxxxx.png
                            task_id:
                              type: string
                              description: Task ID
                              example: ee603959-debb-48d1-98c4-a6d1c717eba6
                            video_id:
                              type: string
                              description: Video ID
                              example: 485da89c-7fca-4340-8c04-101025b2ae71
                            video_url:
                              type: string
                              description: Accessible video URL, valid for 14 days
                              example: https://file.com/k/xxxxxxx.mp4
              responses:
                '200':
                  description: Callback received successfully
                  content:
                    application/json:
                      schema:
                        allOf:
                        - type: object
                          properties:
                            code:
                              type: integer
                              enum:
                              - 200
                              - 400
                              - 500
                              description: 'Response status code


                                - **200**: Success - Request has been processed successfully

[...]
